[2021-04-04 07:14] kodebach commented on #3724
The we shouldn't set `KDB_DB_HOME` on the build servers. But the current way is neither here nor there.

The problem was actually that I assumed the build servers are configured "correctly". Once I changed `KDB_DEFAULT_RESOLVER` everything worked as expected. That's why I wrote the issue.

`KDB_DB_USER` is the suffix that is appended after the home directory is resolved (and before the filename is

[2021-04-04 10:17] tucek commented on #3713
@robaerd Thank you very much for your quick review!

- Bash was a requirement for using sdkman to install gradle. I've removed this dependency.
- I've also set thge PATH for root and the occasional jenkins user which seems to now work for fedora as well (without modifying the cmake build as you suggested.)

Maybe you could have another quick look, if you have time...

[2021-04-04 10:19] tucek commented on #3713
Some build checks still fail because of missing java doc and the now more strict validation of it. I will address this issue later today.

[2021-04-04 10:22] tucek commented on #3713
I will create a new issue regarding the version check API and will not implement any library version pinning.

I will attend to this issue when i am switching to rdy for review

[2021-04-05 12:03] markus2330 opened #3746 "0.9.5 release"
Purpose: The release is needed for CM students using Java.
Date: KW14, ideally Thursday, 8th of April

@mpranj do you have time to do a release this week? Otherwise I can also do it once, so that I can also check how the automated releases are like. You can unassign yourself then. I might need your support, though.

### Updates

- [ ] Write release notes
- [ ] rework doc/AUTHORS.md
- [ ] check if

[2021-04-05 12:44] markus2330 commented on #3713
Something very simple should be enough.

It can be very beneficial to look at the buildserver from the beginning, as the pass-through time (not the time spent to actually fix the issue) can be quite high.

[2021-04-05 17:20] markus2330 commented on #3713
Btw. to pin to version .5 would be useful (if you already found out how it works).

[2021-04-05 22:11] lawli3t commented on #3733
I will add them to the design, I might need to consult you for the content though. I'm not sure im a 100% aware of the use cases of the functions contained in the different categories. I'll draft it up for you to review.

I hope I can finish up my PRs for the documentation issues this week, so I can focus on this (and other issues).

[2021-04-05 22:13] lawli3t commented on #3731
So it seems to be the best bet going forward will be removing those functions. On the way to this goal, should we remove / deprecate the functions altogether or make the transition period longer and temporarily rewrite them using `strndup` / `memcpy`?

[2021-04-05 22:16] lawli3t commented on #3732
It seems to be that going forward with just adding ks to the glossary would be the easier solution. Do you really think that renaming all this parameters with an IDE would be too cumbersome?

I guess considering all the different bindings where this would need to be renamed it might prove quite an effort, even with IDEs.

[2021-04-05 22:16] lawli3t commented on #3734
Intriguing, I've never heard of those before. But thats yet another reason for this change.

[2021-04-05 22:21] lawli3t commented on #3737
Even though I agree with the sentiment that there should be one place only for each piece of documentation, I think adding the error codes to the Doxygen documentation would prove very beneficial. They are part of the API in my opinion. Another possibility would be linking to the respective parts in the documentation, which would also be fine in my opinion, although I would prefer them being conta

[2021-04-06 07:44] markus2330 commented on #3731
There is no deprecation or transition period needed. The purpose of 0.9 series is the preparation of 1.0 and we didn't make any promises of compatibility for 1.0. So better we break hard and pointed and remove everything which can be removed.

We have elektraStrNDup and elektraMemcpy in our helpers API. Their purpose is to allow people to change to other memory allocators. There was already discus

[2021-04-06 11:09] mpranj commented on #3746
I can do a release this Thursday and postpone the open issues to the next milestone.

Is everything relevant to "CM students using Java" already in master or are there any open issues/PRs that need to be finished before release?

[2021-04-06 12:56] mpranj opened #3747 "test_tools_plugindatabase.py: Could not load module libelektra-jni.so"
## Steps to Reproduce the Problem

Build Elektra using the following steps (or see [this GitHub Actions log](https://github.com/ElektraInitiative/libelektra/runs/2269313569)).

[code]

Concrete CMake config:
[code]

## Expected Result

Tests succeed.

## Actual Result

[code]

## System Information

- Elektra Version: master
- macOS Big Sur
- openjdk 15, gcc10

[2021-04-06 12:58] mpranj commented on #3747
Not sure if this is related to #3669 or is the same issue.

I posted it separately as the config is quite large and the error **does not** occur using the "default" macOS toolchain (Apple Clang).

[2021-04-06 13:54] markus2330 commented on #3747
Thank you for reporting this problem! Yes, it has probably the same underlying cause (libjvm not found) but this issue is about MacOS (libjvm.dylib) and #3669 about Linux (libjvm.so), so it makes sense to keep both open.

[2021-04-06 14:23] markus2330 commented on #3746
Thank you so much!

#3714 is still to be merged and not yet finished. I hope we get something today.

#3747 and #3669 is also relevant for CM students (deadline for writing a plugin is 12.5). Probably we only need docu/CI fixes for these issues (how to install Java on MacOSX/Linux so that libjvm is found).

[2021-04-06 14:26] markus2330 commented on #3737
Yes, I think it is a must-have.

The more detailed information can be provided by a link (inside or outside of Doxygen) but I think the basics about the errorKey must be directly in the API docu.

[2021-04-06 14:28] markus2330 commented on #3732
Yes, such huge renamings can be a big task. You can try to rename *every* occurrence of `ks` and see if it still compiles. IDE's/refactoring tools will not help so much here, as we also need to fix the occurrences in the text files.

But as said: simply add it to the glossary and the job is also done :wink:

[2021-04-06 14:30] mpranj commented on #3603
I would like to subsequently move some jobs from cirrus to github actions to improve concurrency of macOS builds. I think this could help quite a lot regarding macOS builds which are the slowest on cirrus. The best would likely be to have only one macOS job on cirrus and the rest on GitHub Actions.

Most other jobs are running reasonably fast and it seems Jenkins will be the next bottleneck.

[2021-04-06 14:35] kodebach commented on #3732
I think this only happens inside functions and not at an API level, but there may also be cases where `Ks` is used as a suffix. For example `specKs` for a KeySet containing a spec. It would be pretty hard to find all of those occurrences. IMO we should just `ks` to the glossary.

[2021-04-06 14:45] kodebach commented on #3603
AFAICT the bottleneck for macOS jobs is the `install` phase. If we could speed up the homebrew installs during the translation of the scripts, it might also help a lot. Even without parallel jobs.

Maybe using a single
[code]
instead of
[code]
could help? I don't know how homebrew works, but maybe this way installs (or a least downloads) happen in parallel. The machine has 12 Threads after all, so

[2021-04-06 15:19] #3635 closed

[2021-04-06 15:20] mpranj commented on #3603
I have not done any analysis of this, but:
Installs and downloads seem very sequential on my machine. That said, calling install less often should result in some marginal time benefit (only checking dependencies once), but I fear it will not have the huge effect you expect.

I would suggest we do both of these things.

[2021-04-06 15:23] mpranj commented on #3635
The problem was that the dbus socket could not be found for some reason (only on cirrus). I fixed it via a shell script that finds and sets the correct socket path.

I think removing the memleak for this specific situation is currently not worth the effort.

[2021-04-06 15:27] kodebach commented on #3603
This may actually be an improvement. IIRC many of the build failures (that aren't actual failed tests) for macOS jobs happen because of connection problems during dependency checks.

[2021-04-06 16:08] markus2330 commented on #3519
@mpranj ping, any update on how to run gsettings-tests? (Or even kconfig tests.)

[2021-04-06 16:13] mpranj commented on #3519
No update yet. It's still on my TODO, just no time to do it yet.

[2021-04-06 17:27] kodebach commented on #3731
I would not call that their main purpose. There are better ways to change the allocator (e.g. `LD_PRELOAD`).  IMO the only benefit are the assertions and even there the benefit is not that clear. The log message from `elektraAbort` is nice, but I'm not sure that's worth using non-standard functions. Most of the time you have to attach a debugger anyway to find out where the `NULL` came from. With

[2021-04-06 19:59] robaerd commented on #160
Jenkins CI will be offline for maintenance for a couple of minutes as there is no space left on `a7` and `i7`.

[2021-04-07 05:35] markus2330 commented on #3731
I agree that they provide little benefit. But removing them also provides little benefit and a lot of effort. Making them private is imho the best option. It seems like there is no way around a decision here, as we already discussed this many times.

I don't know of any if you want to change the allocator **only** for Elektra. There are many libraries providing similar mechanisms, e.g. [libltdl](h

[2021-04-07 06:54] markus2330 opened #3749 "python: ksLookup KDB_O_POP not available"
It looks like there is an oversight in the python binding: `ks.lookup` only takes one argument, so it is not possible to pass KDB_O_POP which makes it impossible to remove one item as discussed in https://github.com/ElektraInitiative/libelektra/pull/3657#discussion_r595952403

[code]

@manuelm Is there something I did not see?

Workaround: cut the keyset so that to-be-removed key is last, pop the

[2021-04-07 07:30] mpranj commented on #3731
I would be a fan of `keyGetName()` just allocating everything and returning a `char *` (similarly for the other functions). To me this would be much simpler than the current API.

The current API is more flexible (e.g. you could re-use a buffer instead of multiple allocs), but even that argument is weak as the buffer might be too small. Either way we currently need much boilerplate code and have l

[2021-04-07 09:18] markus2330 commented on #3731
I think this is a very good idea for bindings and higher-level APIs. Exclusively providing such an API, however, would lead to double allocations in all bindings that have a string-type on its own (like C++).

[2021-04-07 09:50] kodebach opened #3750 "elektraMalloc et al."
Continuation of `elektraMalloc` et al. discussion from #3731.

The question is: Should `elektraMalloc` et al. be public API? Should we even keep them at all?

---

The following is a response to https://github.com/ElektraInitiative/libelektra/issues/3731#issuecomment-814615596

Removing the functions that have the same API as their libc counterpart should just be a regex-replace.

Technically the

[2021-04-07 09:50] kodebach commented on #3731
That would be easier, yes but it would just be the same as `strdup (keyName (k))`. I don't see the point of having a separate function for that.

---

I moved the discussion about `elektraMalloc` to #3750

[2021-04-07 11:49] manuelm commented on #3749
Is adding `remove` fine? Otherwise I would have to prevent from passing `KDB_O_DEL`

[2021-04-07 12:36] markus2330 commented on #3749
Thank you so much for the quick reply! Basically all the variants I tried I would be fine with, so yes `remove` is perfect :sparkling_heart:

It would be good if it is mentioned in the Python tutorial, so that people know about it.

Yes, you are right, that would be dangerous.

[2021-04-07 14:30] tucek commented on #3713
@markus2330 Adding proper java doc to the JNA bindings is quite time-consuming, but IMHO essential to provide acceptable developer support. The one thing bothering me a little is the amount of C API documentation i have to duplicate for documenting the native library proxy. Therefore i wanted to get you opinion on this, before finishing it up.

[2021-04-07 15:57] markus2330 commented on #3713
Where exactly do you want me to look? Did you try to link to the C docu?

But I have to admit that completely without any duplication it will be hardly possible to be beginner friendly (start with Java bindings without knowing C API).

[2021-04-07 16:04] markus2330 commented on #3750
Do we even need these elektraBooleanToString functions to be public? If we decide yes, yes it would be the correct way to add a elektraFreeString. Do you see a big problem in having such a function?

It is possible that your application is linked to another version of libc than Elektra. Then calling free (with your version of libc) would be unsafe.

Only if we also get rid of elektraRealloc.

[2021-04-07 16:31] kodebach commented on #3750
They are used in the codegen part of the high-level API, so yes these functions have to be public.

Okay, so why not just make `elektraFree` public then? It's just a different name... The implementation of `elektraFreeString` would literally be:

[code]

How would that happen? Wouldn't you have to statically link libc into Elektra while compiling Elektra and then link you app against a different l

[2021-04-07 16:32] tucek commented on #3713
I just wanted your opinion on this topic. What would be the best way to link to the C API docs? (e.g. online URL to API docs / offline relative path to API docs - but docs would not necessarily be built / offline relative path to the .c file containing the API doc)

i concur.

[2021-04-07 16:37] #3749 closed

[2021-04-07 17:29] tucek commented on #3713
Analogous to the explanation above, since the symlink name is `libelektra.so.5`, i would break loading the library for platforms with other library extension names... I don't see a solution beside introduction of a symlink with patter `libelektra.5.<ext>`
Am i overlooking something here?

[2021-04-07 19:07] tucek opened #3753 "Upgrade to jdk11 [JNA bindings]"
- [x] Ensure all build images use jdk 11 (currently some buildenvironments are still using jdk 1.8)
- [x] Update Gradle project jave language level
- [x] Update JNA cmake java versioncheck
- [ ] Update language feature usage where appropriate

[2021-04-07 19:31] tucek opened #3754 "Improve Javadoc [JNA bindings]"
Since properly updating the Javadoc for the JNA bindings is quite time consuming, I'm creating this issue to track the task separately.

- [x] Update API consumer Javadoc
- ~~[ ] Update internal API developer Javadoc~~
- [x] reactivate strict Javadoc checks in `java-shared.gradle`

[2021-04-07 21:50] tucek opened #3756 "Migrate to usage of Java specific formatter [JNA bindings]"
Currently clang is used to enforce Java code formatting. Since the resulting formatting is rather unusual for Java code, we should change the formatter.

Proposed candidate for evaluation: prettier java community extension. (since prettier i already in use and ide support seems quite ok)

[2021-04-08 00:46] tucek opened #3757 "Example App throws exception [JNA bindings]"
## Steps to Reproduce the Problem

[code]

or

[code]

## Expected Result

Example running without throwing an exception.

## Actual Result

[code]

## System Information

- Elektra Version: master
- Operating System: wsl2

## Further Log Files and Output

[2021-04-08 01:17] tucek opened #3758 "Check whether JNI plugin is broken due to JNA Gradle migration [JNA bindings]"
There might still be a reference to Maven in regard to using the JNI plugin.

- [ ] check on which builds the test are running

[2021-04-08 01:22] tucek opened #3759 "Add external Grade test [JNA bindings]"
tests\shell\external\maven.sh has to be replaced by an appropriate Gradle variant due to Maven no longer being available in build images.

[2021-04-08 01:26] tucek opened #3760 "Spell checker should be included in reformatting"
The spell checker broke my CI build, because i spelled `Unix` as `unix`. To prevent unnecessary waiting for the CI to fail on such a trivial issue, i propose to include instructions on how to run the spell checker locally in `doc/tutorials/run_reformatting_script_with_docker.md`

[2021-04-08 01:32] tucek commented on #3269
to be closed when PR #3714 is merged.

[2021-04-08 01:35] tucek commented on #3746
The following issues might be of interest for being addressed before release of 0.9.5: #3759, #3758, #3757, #3710

#3754 is more time consuming than expected, therefore i propose to not depend on it for this release. I will focus on the javadoc improvement issue once the 0.9.5 release is done. We always can do another minor release afterwards.

[2021-04-08 08:56] markus2330 commented on #3754
Thank you for creating the issue!

Where do we want to publish the javadoc? Also on doc.liblektra.org?

Maybe we cheat a little bit and tell students to look at the master API doc (you will update), even if they use 0.9.5? (This would work if you **only** update doc and do not change the API.)

[2021-04-08 08:57] #3669 closed

[2021-04-08 09:08] markus2330 commented on #3759
Thank you for reporting this problem! Actually it would be good to also keep a maven project, and **add** a gradle project.

Iirc these external tests do not run on the build server anyway. It would be nice to integrate them.

[2021-04-08 09:09] markus2330 commented on #3758
Thank you for reporting the problem! Yes, good if you double-check if maven is gone everywhere (except of the external tests, I think we should support also external Maven projects).

[2021-04-08 09:13] markus2330 commented on #3757
Thank you for reporting this problem! The error is probably some local problem, but its perfect that you have this problem, as it seems the error mapping in the Java binding is broken (it is probably untested as many errors like broken installation usually do not happen on the build server). Maybe you can find out via `kdb` what the error is and why this error code is not mapped.

[2021-04-08 09:14] markus2330 commented on #3760
Yes, I agree, this is a good idea!

@robaerd can you maybe take a look at it?

[2021-04-08 09:17] markus2330 commented on #3756
As said, such changes usually take much longer then one might expect and they introduce maintenance effort (one more tool to regularly update). So if you can somehow life with the style or maybe fix the problem by dropping another .clang-format in a sub-directory (I do not know if this works, though) we would have more time&energy for important stuff :wink:

[2021-04-08 09:20] markus2330 commented on #3753
Thank you for reporting the issue! I agree it is time to finally switch to jdk 11 :rocket:

[2021-04-08 10:40] markus2330 commented on #3746
I suggested to do the release today, because I am only available till today. But as @mpranj is doing the release now, this shouldn't be an issue anymore. @mpranj do you have also time on the weekend? @tucek proposed that he can work until Saturday.

[2021-04-08 11:17] markus2330 commented on #3754
Do we need "internal API developer Javadoc"? In Elektra we stopped building it because nobody used it.

[2021-04-08 11:54] robaerd commented on #3760
I will include this in #3739.

[2021-04-08 12:09] mpranj commented on #3746
It makes sense to do the release once #3714 is finished, as this is time critical for the CM students.

I can do the release on the weekend. :+1:

[2021-04-08 12:18] markus2330 commented on #3713
I personally would try to integrate the Java Documentation into Doxygen and then use [@copydoc](https://www.star.bnl.gov/public/comp/sofi/doxygen/commands.html#cmdcopydoc) to copy docu from the C binding to the Java binding. This is how I did it for the C++ binding. E.g. see https://doc.libelektra.org/api/master/html/classkdb_1_1KDB.html for the C++ KDB class.

Java seems to be supported by Doxyge

[2021-04-08 13:42] markus2330 commented on #3746
Yes, their deadline is on 14.4. Thank you so much :revolving_hearts:

[2021-04-08 16:01] mpranj commented on #160
Jenkins CI will be offline for maintenance very briefly. (Expected 5-10 minutes, no builds are currently running)

[2021-04-08 16:49] markus2330 commented on #3750
core vs. libease. In libease its much easier to argue for more (public) functions.

This is called wrapper and nothing is wrong with it.

Proprietary apps are sometimes delivered together with a libc (either static or a startup script makes sure their own libs are found). If they would use Elektra, and the person wants the app to use the global Elektra it is imho a valid use case.

Of course it is

[2021-04-08 16:55] mpranj opened #3766 "Boost: remove dependency"
Boost is not needed any more as all dependent plugins are gone.

Remove all boost references (except Boost license) from

- [x] Docker images
- [x] `scripts/cmake/ElektraCache.cmake`
- [x] Cirrus
- [x] `scripts/cmake/Modules/PackagingFedora.cmake`
- [x] Find remaining occurences

The license is still needed due to `src/tools/kdb/gen/mustache.hpp`.

[2021-04-08 18:01] tucek commented on #3754
When publishing to maven central, 3 jars are being published: binaries, sources and javadoc
IDEs can then automatically link the source and docs for the libelektra dependency

[2021-04-08 18:03] markus2330 commented on #3754
Ok, but they don't publish it on a website? So this we need to do ourselves?

[2021-04-08 18:05] kodebach commented on #3750
This only works, if libease creates public wrappers for **all** the allocation/free functions. Otherwise if another library wants to return a pointer that it got from `elektraMalloc`, it would need to provide its own wrapper for `elektraFree`. And then end up with lots of really unnecessary wrappers.

A wrapper is fine, if it fulfils some purpose (e.g. the `keyDup` wrapper for `keyCopy`). But this

[2021-04-08 18:09] tucek commented on #3754
From my experience the best rule of thumb is: every non-(package-)private interface, class, member or method needs at least basic documentation. Documentation should be concise. Of course there are instance where exceptions to this rule can be sensible.

Since API binding developers are also developers and a healthy fluctuation of developers working on the JNA binding is to be expected in the futu

[2021-04-08 18:11] tucek commented on #3759
I concur. I've already had added a gradle sample project (actually the same sources and locations as the maven sample project).
The test script is still to be added.

[2021-04-08 18:17] markus2330 commented on #3754
I agree but unfortunately we cannot maintain two different descriptions of the API and the API is currently being reworked to be fit for 1.0. So we really should avoid duplication of this documentation. After 1.0 the docu can be copied.

[2021-04-08 18:37] markus2330 commented on #3750
Ok by me.

Making a private function of one library public is a purpose.

I didn't suddenly come up with this use case, it was one of the original reason why these functions exist. Except of elektraRealloc which was introduced by Avi to improve realloc.

That is why it is very important to document the decisions. Otherwise insane reasons dictate a lot of the code base (especially if nobody is ther

[2021-04-08 19:15] #3450 closed

[2021-04-08 19:31] kodebach commented on #3750
What I still don't understand is how exactly `elektraMalloc` is supposed to improve anything. Yes, you have a central point through which all of Elektra's allocations go. But to change anything you still need to change the code and recompile. At that point you could just as well use `#define malloc mymalloc`.

Yes, other projects like SQLite do much more and at that point having a wrapper for `mal

[2021-04-08 19:43] mpranj commented on #3450
@haraldg I used the following changes to OpenWRT/Elektra's Makefile to test my changes:
https://github.com/mpranj/packages/commit/29b1c629c3722ca3cfe7538bc4e75a86a033c0c7

If you update the Elektra package for OpenWRT you can take a look at my changes. A few plugins have been removed so the Makefile definitely needs to be adapted. Note that my changes were quick&dirty just to verify my changes. Th

[2021-04-08 21:18] haraldg commented on #3450
Thanks for the heads up.

I think your test doesn't actually test the changes: You didn't enable internalnotification so you probably never reproduced the actual issue?

Anyway: I put enabling internalnotification on my TODO list and might even bump the elektra version, if I get around to it.

[2021-04-08 22:44] mpranj commented on #3450
You're absolutely right, thanks for taking a look. I updated it now, it seems to be working nevertheless.

Sounds great! We're releasing a new version this weekend (including this fix). It might make sense that you simply bump it to 0.9.5 next week, when it is available.

[2021-04-10 17:07] tucek commented on #3746
See #3714 for unsolved problems regarding a segfault triggered by Java binding test GOptsTest when using default resolver `resolver_mf_xp_x`.

If we still want to release today, we would have to make a decision to either postpone merge of #3714 or disable the mentioned test for the affected environment and open an new issue. (which would be my recommended solution)

[2021-04-10 17:12] tucek opened #3770 "A specific Gradle version should be installed via macOS_gcc10.yml"
This would currently be 6.8.3.
I do not consider this ticket very important, since upgrade to Gradle 7.0 will be done shortly and the probability of breaking change affecting our simple Gradle project in then more recent Gradle versions is low IMHO.

[2021-04-10 21:12] tucek commented on #3746
@mpranj looks like we either need input from @markus2330?

[2021-04-11 09:18] mpranj commented on #3746
I still plan to do the release today and I don't need any input.

I only waited for #3714 to be finished, as it is a must-have for this release.

[2021-04-11 10:34] tucek commented on #3746
Should i dissable the test? I am not of any help to debug the problem within the native library in the given timeframe.

[2021-04-11 10:49] mpranj commented on #3746
No, I forked your changes and will try to debug and fix it. If I am unable to fix it today I can disable the test myself.

Can I assume that #3714 is otherwise finished or are there any further changes?

[2021-04-11 12:11] tucek commented on #3746
Yes, apart from the segfault issue, #3713 is finished.

[2021-04-11 21:24] robaerd commented on #3716
Document as in create documentation in the repository or simply describe it here?

Yes, at least for the images where Elektra packages get installed and tested and also for release images. This would however not eliminate the Jenkins user for the Docker images of our main test stages.

[2021-04-11 23:23] #3269 closed

[2021-04-11 23:23] #3713 closed

[2021-04-12 07:11] mpranj commented on #3746
Thanks so much to everyone! :heart:

The release is done, announcements will be published when the website is regenerated with the news.

[2021-04-12 07:11] #3746 closed

[2021-04-12 08:19] tucek commented on #3756
Closed accidentally via PR.

[2021-04-12 08:20] tucek commented on #3754
Closed accidentally via PR.

[2021-04-12 14:16] #3677 closed

[2021-04-12 15:06] mpranj commented on #676
The 0.9.5 release is published. 🚀

Announced on:
* https://news.ycombinator.com/item?id=26780159
* usual suspects via email

@ElektraInitiative/elektradevelopers Thank you all for making this release possible! :heart:  We are happy if you announce the release on various media. If you have open PRs, now is a **great time to rebase**.

[2021-04-12 16:33] markus2330 commented on #3746
Thank you so much for getting this done! :rocket: :sparkling_heart:

[2021-04-13 00:43] tucek opened #3772 "KeySet::lookup(String) returns Key instead of `null` on unsuccessful search [BUG JNA binding]"
## Steps to Reproduce the Problem

[code]

## Expected Result
`null` should be returned.

## Actual Result

`AssertionError` is thrown

## System Information

- Elektra Version: 0.9.5
- Operating System: Ubuntu focal on wsl2

## Proposed solution
`KeySet::lookup(...)` should return `Optional<Key>` and would return `Optional.empty()` if `Elektra.INSTANCE.ksLookup(ByName)?` returns null.

## Workaro

[2021-04-13 09:36] mpranj commented on #3772
Thank you for reporting and working on this.

I am not a user of the Java bindings, so take this with a grain of salt.
From what I see this is not a bug. Since the Key class wraps JNA pointers you can not compare the Key object to `null`. You have to call `get()` (which is your workaround) or even simply use the existing `isNull()` function.

[code]

That being said, improvements to the Java bindi

[2021-04-13 09:51] tucek commented on #3772
At least the current behavior contradicts the documentation of the function: `@return Key if search successful, null otherwise` - Therefore i would consider this a bug.

Apart from that i would consider returning a `Key` object which has to be checked for referencing a `null` pointer (and therefore being completely useless), a rather crude approach for a Java API.

I will update the Java API to us

[2021-04-13 10:19] mpranj commented on #3772
You're right, I overlooked the docu. According to the docu a fix would be to just return `null` instead of `new Key(null)`. That is irrelevant though, if you want to change the API.

[2021-04-13 14:47] #3760 closed

[2021-04-13 18:56] philippoppel commented on #1522
i would like to make an interactive tutorial for
- java binding
- maybe a gettingstarted tutorial with visuals in qt-gui

[2021-04-13 20:28] a-kraschitzer commented on #3685
I would like to take this over

[2021-04-13 20:29] a-kraschitzer commented on #3681
I would like to take this over

[2021-04-13 20:34] a-kraschitzer commented on #3681
doing a quick git grep showed me these further occurrences:
`git grep "Copyright (.) .* Elektra"`
[code]

should they all be updated?

[2021-04-13 20:35] a-kraschitzer commented on #3681
I also found these occurrences which don't say `Elektra Initiative`
`git grep "Copyright (.) [0-9-]* [^E]"`
[code]

[2021-04-13 20:39] a-kraschitzer commented on #3665
I would like to take this over.

[2021-04-13 20:42] a-kraschitzer commented on #1995
I would like to take this over.

[2021-04-13 21:07] kodebach commented on #3681
- `src/libs/version_gen.awk`: The copyright should probably be changed into something similar to what we use in most C files:
https://github.com/ElektraInitiative/libelektra/blob/d4ee256e66a8d2c3d630ad64a838a9c69651d3de/src/libs/elektra/backend.c#L6
Then we don't need to update it all the time.
- `src/tools/kdb/gen/templates/*`: All these files should be updated yes. They explicitly mention the co

[2021-04-13 22:00] a-kraschitzer commented on #3110
I could do a quick search and replace for this aswell.
`elektraStrNDup` -> `elektraMemDup` ?

[2021-04-13 22:54] kodebach commented on #3110
Sure, go ahead. But please use a separate PR for this issue, so we can merge it separately when it has the least impact on other ongoing PRs.

[2021-04-14 05:23] markus2330 commented on #3681
@a-kraschitzer thank you for looking into it so carefully.

A new section in `doc/todo/RELEASE.md`, stating what needs to be done on every first release of a new year.

[2021-04-14 06:27] markus2330 commented on #1522
@philippoppel @aaronabebe do you plan to do this together? If not, @aaronabebe what will your topic be?

[2021-04-14 08:21] a-kraschitzer commented on #3681
@markus2330
Should I rename `doc/todo/RELEASE` to `/doc/todo/RELEASE.md` ?

[2021-04-14 08:22] markus2330 commented on #3681
Yes, good idea, it is actually a Markdown file. But be beware that then the Markdown reformatter might complain.

[2021-04-14 14:42] #3571 closed

[2021-04-14 14:53] #3452 closed

[2021-04-14 15:07] mpranj commented on #3449
The initial issue you reported with `-DENABLE_TESTING=OFF` has finally been resolved by @robaerd (we internally tracked the bug in #3452).

Could you please verify that the issue is resolved for you? The fix is on master since 4223bf1cbec29f9b7091cd07ebb9f806e8796cb0, but has not yet been released.

[2021-04-14 15:17] mpranj opened #3777 "Uninstall: target fails without failed CI runs"
I noticed on cirrus (🍎 FULL), that the uninstall tests are failing without the build to fail/turn red.

See build log [here](https://cirrus-ci.com/task/4825555225804800), "Run tests" section.

I don't know since when this is happening.

[2021-04-14 16:51] philippoppel commented on #1522
No we did not plan anything together

[2021-04-15 13:21] markus2330 commented on #3681
More points due to voluntary extended scope (further occurrences+renaming).

[2021-04-15 13:28] markus2330 commented on #1522
@philippoppel You can write about the Java binding, please contact @tucek for any questions and coordination about Java binding tutorial.

@aaronabebe Please write more about the topic.

[2021-04-17 07:24] kraileth commented on #3449
@mpranj Great! Just resurrected my Solaris machine for the purpose to give this a try. Unfortunately I've run into a broken dependency port on the Solaris platform. So I will need to look into getting that one fixed first.

[2021-04-17 11:58] #3110 closed

[2021-04-18 13:07] mpranj commented on #3685
Closed via #3790 (origin: #3775) thanks to @a-kraschitzer!

[2021-04-18 13:07] #3685 closed

[2021-04-18 13:07] mpranj commented on #3665
Closed via #3790 (origin: #3775) thanks to @a-kraschitzer!

[2021-04-18 13:07] #3665 closed

[2021-04-18 13:07] mpranj commented on #1995
Closed via #3790 (origin: #3775) thanks to @a-kraschitzer!

[2021-04-18 13:07] #1995 closed

[2021-04-18 13:07] mpranj commented on #3681
Closed via #3790 (origin: #3775) thanks to @a-kraschitzer!

[2021-04-18 13:07] #3681 closed

[2021-04-19 18:40] lawli3t opened #3797 "keyString() returned value"
This is probably something that has come up numerous times, but I still found it worthy of discussion, especially because I don't know much about the history of this function, as well as the implications of eventual changes to this function.

When using `keyString()` on empty / binary values the return values are the literal strings `(null)` / `(binary)` [1]. This seems very awkward and unintuitiv

[2021-04-19 19:06] lawli3t opened #3798 "Pre / Postconditions and Invariants in API docs"
When creating the guidelines for my API reviews Markus and I decided to include the existence of `@pre` / `@post` / `@invariant` to the checklist. When conducting the review for all the core functions, almost none had any of those 3 annotations, and if they did not all 3.

When I implemented the changes from the API review I decided to temporarily skip the inclusion of those annotations for severa

[2021-04-20 10:58] aaronabebe commented on #1522
@markus2330 I was thinking of doing an interactive tutorial for writing a specification. A specification lends itself to be written step by step and I think that could work really well as a sort of interactive environment.

[2021-04-21 09:40] dev2718 opened #3799 "kdb.get returns key of wrong namespace when used with kdb.goptsContract"
## Steps to Reproduce the Problem

[code]

## Expected Result

The assertion should fail. We asked for `user:` keys and did not expect a `proc:` key.

## Actual Result

The key `proc:/elektra/gopts/help` is returned.

## System Information

- Elektra Version: 0.9.4, https://debs.libelektra.org/focal focal-unstable main
- Operating System or Docker Container? docker container
- Versions of other re

[2021-04-21 11:58] mpranj commented on #3799
Thank you for reporting!

Is there any guarantee/statement regarding that in the docs? The core [C API docs](https://doc.libelektra.org/api/latest/html/group__kdb.html#ga28e385fd9cb7ccfe0b2f1ed2f62453a1) state for `kdbGet()` that you may get more keys than you requested (i.e. keys that are not below `parentKey`). Thus the assumption that everything is below `parentKey` does not hold in general.

I

[2021-04-21 13:34] kodebach commented on #3799
The fact that `proc:/elektra/gopts/help` is returned is fully expected. You used a `gopts` contract to create the `KDB` instance. Therefore, the `gopts` plugin will be called and the plugin always adds the `proc:/elektra/gopts/help` key. Even if it doesn't do anything else, because there is no specification present.

AFAIK there shouldn't be. In #3693 the explanation of what `kdbGet()` returns, is

[2021-04-21 13:46] mpranj commented on #3799
In short: Yes, always using the same parent key can improve performance.

In detail: The cache will store everything below the mountpoint of the parent key. In simple terms it stores everything you wanted, but maybe a little bit more than you wanted. This reflects exactly what `kdbGet()` would do anyway. If you can give a more specific parent key (e.g. `user:/my/interest` instead of `/`) it means

[2021-04-22 14:02] 0003088 commented on #3696
I found the reason why it's not working. The question is, should the key be shown in the gui with or without the prefix?

[2021-04-22 14:56] markus2330 commented on #3696
Thank you so much, great :1st_place_medal:

I would not show it when editing metakeys as it is only a source of errors (any other namespace is not allowed anyway). When showing it in the main window we can consider showing `meta:/` as imho it is not immediately obvious that meta-data is shown in the bottom split window and the "Metakey Name" title is quite small.

[2021-04-22 15:03] markus2330 commented on #3696
Btw. I get two messages when using qt-gui, the first one seemingly related to metadata:

[code]

[2021-04-22 15:16] markus2330 commented on #3799
Thank you for giving these answers. I agree but still I see valid criticism about the docu and suggest #3803

[2021-04-22 15:26] markus2330 commented on #1522
Perfect, so there will be no overlap to @philippoppel's work.

We don't have any experience with interactive tutorials yet. You can give it a try.

Which interactions do you plan to do? Plain Markdown is also an option.

We will definitely host all good tutorials.

Maybe we can even integrate it in https://www.libelektra.org in the tutorial section?

@Namoshek do you have a suggestion how we could

[2021-04-22 15:51] markus2330 opened #3804 "ansible localhost -m elektrafacts"
## Steps to Reproduce the Problem

[code]

## Expected Result

Prints system: keys.

## Actual Result

[code]

## System Information

- Elektra Version: master
- Ansible 2.9.20-1ppa~trusty

## Further Log Files and Output

`import kdb` works from python3 shells but not from python2

[2021-04-22 16:21] aaronabebe commented on #1522
I made a step by step example to mount and create a specification for an example project. You can find the detailed info in the PR I did for this issue, or look at my hosted version at https://aaronabebe.gitlab.io/#0.

Regarding the integration, I think the easiest way would be to just integrate the generated `index.html` file. Using the `claat` tool you can generate one file per markdown tutorial

[2021-04-22 17:04] kodebach commented on #3804
Ubuntu Trusty Tahr? That's pretty old (it's still got 1 year until EoL, but still)

Yes, Python2 is EoL and no longer supported. That's why Elektra doesn't support it.

Take a look at [this](https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html) to find out how you can configure Ansible to use Python 3.

[2021-04-22 17:39] Namoshek commented on #1522
Integrating markdown is probably the easiest solution and could already be possible as well, with some simple instructions in the structure file I think. That doesn't mean using some HTML is an issue though. The only issue is working with legacy AngularJS. 😅

[2021-04-23 08:51] mpranj opened #3806 "testshell_markdown_tutorial_crypto: fails on macOS"
## Steps to Reproduce the Problem

Fails on all macOS CI runners (Cirrus-CI, GitHub Actions). Notably GnuPG has been updated to 2.3.x and libgcrypt to 1.9.3.
See an [example](https://cirrus-ci.com/task/5540780325470208) run.

I was not yet able to reproduce the issue locally.

## Expected Result

Test should succeed.

## Actual Result

Truncated log:

[code]

## System Information

- Elektra Versi

[2021-04-23 08:59] #3799 closed

[2021-04-23 16:45] markus2330 commented on #3804
It was the recommended package for Debian.

I didn't find a way to configure Ansible to use Python 3, your link describes to install Ansible with pip. We should mention in the docu that the python3 version of Ansible is required.

[2021-04-23 19:35] kodebach commented on #3804
https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html#using-python-3-on-the-managed-machines-with-commands-and-playbooks

[2021-04-23 20:18] #3722 closed

[2021-04-24 06:28] mpranj commented on #160
No space left on `a7` and thus Jenkins CI is unavailable. This post will be updated when Jenkins is available.

[2021-04-24 10:19] mpranj commented on #3797
I tend to agree with your reasoning.

_Background:_ For some historic reason `keyString()` was written like this, I assume it made sense at the time. I'm guessing that it was easier to use it like this when printing etc., without doing any checks (e.g. for NULL). I think @markus2330 knows more about this.

The problem is distinguishing between errors. How to warn/hint users if they call `keyString

[2021-04-24 14:23] lawli3t commented on #3797
Yes, that's also the problem I had - it is actually really hard to find a proper solution for this in my opinion. I tried to explore some options but they come attached with problems of their own.

[2021-04-24 18:36] petermax2 commented on #3806
I don't have an OS X environment available for testing and ArchLinux still uses `gnupg 2.2.27-1` although it has been flagged as outdated. I'll have to compile the new version of gnupg myself and check inside a VM. I'll definitely have a look at it but it will take some time.

[2021-04-24 19:15] mpranj commented on #3806
@petermax2 no worries, but thanks for taking a look!

Maybe even a macOS environment would not help. On my machine I can not reproduce it. It might be isolated to the CI images.

My system has a .gnupg dir with configured keys and a keyring etc. Is it possible that the issue appears only on systems where the .gnupg dir does not exist yet?

[2021-04-24 19:27] petermax2 commented on #3806
Just by looking at the logs it seems like the key-generation tool does not generate anything useful. Might be a problem with `gpgme` and the new `gnupg` version. If you run `gen-gpg-testkey`, do you get a key as output?

[2021-04-24 19:51] petermax2 commented on #3806
Not sure how it looks on MacOS but in an ArchLinux VM with new gnupg installed, I get

    [vagrant@archlinux build]$ ./bin/gen-gpg-testkey
    Segmentation fault (core dumped)
    [vagrant@archlinux build]$

@mpranj Can you maybe reproduce the crash on Mac OS?

[2021-04-24 20:33] mpranj commented on #3806
Can't reproduce the segfault. I get this on the machine where it fails:
[code]
On the machines where it works, it seems like I get the key fingerprint. 👀

[2021-04-24 20:47] petermax2 commented on #3806
OK, "(null)" is somewhat better than segfault :laughing:  but not what we need. The tool is supposed to write the fingerprint of the test-key to stdout. Thank you for confirming it, now we know the root of the problem!

[2021-04-25 08:34] petermax2 commented on #3806
The exact cause of the problem is the call of `gpgme_op_createkey` in tool `gen-gpg-testkey`. The function call to gpgpme fails with the message "General error".

The creation of the GPG key fails, the error handling of `gpgme_op_createkey` is missing (oops, my bad... sorry!), which leads to segfault/"(null)" output if the elektra test key is missing.

If the tool fails to create/provide a key, al

[2021-04-25 19:40] #1694 closed

[2021-04-25 19:40] #2133 closed

[2021-04-25 20:19] mpranj commented on #3797
This issue is also related to #2296. Actually #3797 might be a subset of #2296.
Maybe we can find a solution to both issues?

[2021-04-25 20:22] mpranj commented on #2202
I think we can do this as part of the breaking changes series.

[2021-04-26 10:34] mpranj commented on #3806
I pinned GnuPG to 2.2x via #3809 and it works for now.

Does it make sense to report the issue upstream?

[2021-04-26 13:39] markus2330 commented on #160
Reminder: The build server infrastructure will be (mostly) down until tomorrow in the morning.

[2021-04-26 16:37] markus2330 commented on #3804
Is the paragraph you quoted also relevant for the controller side?

[2021-04-26 16:42] markus2330 opened #3811 "ansible-playbook my-playbook.yml"
## Steps to Reproduce the Problem

[code]

with example from https://galaxy.ansible.com/elektra_initiative/libelektra stored as my-playbook.yml

## Expected Result

Keys in /test/example

## Actual Result

[code]

## System Information

- Elektra Version: master
- Ansible

## Further Log Files and Output

[2021-04-26 16:47] markus2330 commented on #3811
Problem solved with `rm -rf ~/.ansible` and reinstall `ansible-galaxy collection install elektra_initiative.libelektra`

[2021-04-26 16:47] #3811 closed

[2021-04-26 16:53] markus2330 opened #3812 "couldn't resolve module/action 'elektra'"
## Steps to Reproduce the Problem

[code]

with example from https://galaxy.ansible.com/elektra_initiative/libelektra stored as my-playbook.yml

[code]

## Expected Result

Keys in /test/example

## Actual Result

[code]

## System Information

- Elektra Version: master
- Ansible 2.10.8

[2021-04-26 17:54] markus2330 commented on #2202
Yes, I agree!

[2021-04-26 18:37] kodebach commented on #3804
Sorry, I missed that. For the Controller side it seems the only way is to install via `pip3` instead of the System package. In a perfect world, the Elektra module would work with Python2 and Python3. However, IMO it is not worth the effort to add support for the deprecated Python2.

[2021-04-27 04:33] markus2330 commented on #3804
Actually, it would mostly* be a revert of the commit which removed the python2 support. We even had support to compile python2+python3 bindings+plugins at once.

* cpack and other stuff was not done, though

It was actually surprising for me that ansible is still compiled with python2 as default.

With the 1.0 release Elektra python2 will hopefully be completely irrelevant? At least this was the h

[2021-04-27 10:30] kodebach commented on #3804
No, the actual code of the Ansible Module only works with Python 3. The original version worked only with Python 2. There is probably a way to make work with both, but like I said, I don't think it is worth the effort.

Ansible itself is written to work with both Python 2 and Python 3. Which version is used depends on the System you install it on. They want to support as many system as possible, s

[2021-04-27 10:41] markus2330 commented on #3804
Yeah, hopefully Ansible also accept pure python3 modules. For now, we simply tell people a python3 version of Ansible is required, this should be clearly stated in https://galaxy.ansible.com/elektra_initiative/libelektra

Also urgent would be #3812

[2021-04-27 10:42] markus2330 commented on #3812
@kodebach can you reproduce this issue?

[2021-04-27 12:38] kodebach commented on #3812
Turns out the `ansible-libelektra` repo was not correctly structured for a Ansible Galaxy collection. This should now be fixed. Also Ansible doesn't automatically recognize modules from installed collections. I added a note to the examples about this.

Note: It seems this is the only way to update to the new version of the collection:
[code]
At least for me it didn't update without the `--force` o

[2021-04-27 15:21] markus2330 commented on #3812
It does not solve my issue, though, after removing `.ansible`, it still says:

[code]

So we recommend the manual installation after all? Manually making a symlink to the module dir does not make much sense, does it?

[2021-04-27 19:36] kodebach commented on #3812
The first time you install it works without. Once I had a version installed, I always got "is already installed" without the `--force` option.

Did you change the playbook as stated in the updated README? I.e. did you add this part?
[code]

[2021-04-28 05:14] markus2330 commented on #3812
The formatting of this line does not work in the README and says `yml collections` instead of `collections`.

Why not directly adding this into the two examples? Does it interfere with the manual installation?

[2021-04-28 05:52] markus2330 commented on #3812
I did the changes in the README.md.

[2021-04-28 05:55] markus2330 opened #3816 "ansible: setting metadata fails the second time"
## Steps to Reproduce the Problem

[code]

with (removed) example from https://galaxy.ansible.com/elektra_initiative/libelektra stored as my-playbook.yml

[code]

## Expected Result

Keys with metadata in /test/example, no action when running the second time

## Actual Result

[code]

## System Information

- Elektra Version: master
- Ansible 2.10.8

## Tasks

- [ ] make example work again
- [ ] r

[2021-04-28 06:10] markus2330 commented on #3804
I updated the README in 0.2.1

[2021-04-28 18:46] philippoppel commented on #3757
is this an open issue I can look into?

[2021-04-28 19:08] kodebach commented on #3812
I haven't tried it, but I assume in this case Ansible would complain that it can't find the collection. An older version of Ansible not know about `collections` at all.

However, I agree having the example for the latest version in the README is the best approach.

Does the playbook work for you now? Is there anything left in this issue?

[2021-04-28 19:12] kodebach commented on #3804
They might not accept it for their official collection (https://github.com/ansible-collections). But for Galaxy it should be fine. Especially since not just Ansible module, but Elektra itself requires Python 3. So the only thing a Python 2 version of the module could do, would be printing an error stating that Python 3 is needed.

Should we keep this issue open? If so, we should rename it to "Pyth

[2021-04-29 02:48] #3233 closed

[2021-04-29 02:48] #3298 closed

[2021-04-29 02:48] #3019 closed

[2021-04-29 02:48] #3323 closed

[2021-04-29 09:24] markus2330 opened #3817 "fuse Docker container broken"
## Steps to Reproduce the Problem

[code]

## Expected Result

Working docker container.

## Actual Result

[code]

## System Information

- Elektra Version: https://github.com/ElektraInitiative/libelektra/pull/3794

## Further Log Files and Output

In nohup.out there are many tracebacks like:

[code]

[2021-04-29 10:09] dev2718 commented on #3817
I think this is due to a caching issue. Most likely an old (ancestor) build of the container (that did not yet include 'goptsContract') was cached on your system, yielding a mix of updated scripts with an old base.

Fix: delete all cached (ancestor) images.
Or as a quick workaround: temporarily add something like `RUN ls` at the top of the Dockerfile to invalidate the cache.

[2021-04-29 10:39] markus2330 opened #3818 "fuse native execution in Debian"
## Steps to Reproduce the Problem

[code]

## Expected Result

Working mountpoint

## Actual Result

[code]

## System Information

- Elektra Version: https://github.com/ElektraInitiative/libelektra/pull/3794
- python3-fuse 2:0.3.1-1

## Further Log Files and Output

In nohup.out there are many tracebacks like:

[code]

[2021-04-29 10:51] markus2330 commented on #3817
Thank you, this fixed the issue. So I had a Docker container with the development version of Elektra 0.9.4 but not the released one? Or is actually 0.9.5 required?

[2021-04-29 11:53] markus2330 commented on #3599
I added

- [ ] `cd ~/mount/47/proc: && cd ../54` yields "Input/output error" instead of "No such file or directory"
- [ ] no example given in Docker container where proc: is actually used and cascading case is interesting
- [ ] maybe use `sleep infinity` instead of `sleep 9999999`
- [ ] `rm dir:/dirkey` does not work (still present in FUSE afterwards, after several invocations it works though)
- [

[2021-04-29 12:31] kodebach commented on #3599
We could also do the following:
- Key name parts starting with `@elektra` are reserved
- The exact key name part `®elektra` is reserved
- If possible, `®elektra` should be preferred (e.g. inside of storage file that use UTF-8 like TOML). However, if an ASCII name is needed `@elektra` can be used. Similarly, using a proper hierarchy should be preferred over a dotted named (i.e. `@elektra/value` ove

[2021-04-29 20:19] mpranj commented on #3747
There are actually multiple problems here.

The reported problem is upstream, as some packaged openjdk libraries are linked incorrectly with `libjvm.dylib` (wrong RPATH) on macOS. This can be seen from the error report in `Referenced from:`, but I overlooked that.

Another problem was that `jni`'s CMake overrides JAVA_HOME on macOS with an empty path, due to a wrong invocation here:
https://github

[2021-04-29 20:25] mpranj commented on #3758
The JNI plugin uses Maven to add the unit tests. Since Maven was removed from most/all Dockerfiles etc. the JNI tests are not executed anywhere to my knowledge.

Can you update JNI to use Gradle?

[2021-04-29 23:06] #3747 closed

[2021-04-30 02:47] #1881 closed

[2021-04-30 02:47] #1704 closed

[2021-04-30 02:47] #944 closed

[2021-04-30 06:14] #2440 closed

[2021-04-30 06:14] #2715 closed

[2021-04-30 06:14] #1691 closed

[2021-04-30 12:52] mpranj commented on #2177
Thank you for reporting. Sounds like we should look into this at some point.

Would you expect a backup-and-restore of the global config before/after the tests, or should we work more towards better test isolation from the "real system" configs?

[2021-04-30 17:15] markus2330 commented on #3770
Can we close the ticket?

[2021-04-30 18:25] markus2330 commented on #3716
Ideally in a short README.md in scripts/docker

[2021-04-30 18:35] markus2330 commented on #3777
Thank you so much for reporting this! It is important that we have a look if our tests are actually testing what we think they do.

[2021-04-30 18:38] markus2330 commented on #2956
@lawli3t here is some docu of which errors might be thrown by which function.

[2021-04-30 18:43] #2507 closed

[2021-04-30 19:53] #1770 closed

[2021-04-30 19:53] #2741 closed

[2021-04-30 19:53] #2760 closed

[2021-04-30 19:53] #2677 closed

[2021-04-30 20:54] #3397 closed

[2021-04-30 20:54] #2891 closed

[2021-04-30 20:54] #2904 closed

[2021-04-30 20:55] #3069 closed

[2021-04-30 20:55] #3089 closed

[2021-04-30 21:20] mpranj commented on #3770
Gradle is not installed there, afaik.

[2021-05-01 04:23] #3007 closed

[2021-05-01 05:20] markus2330 commented on #3449
@kraileth thank you so much for trying. Would be interesting how well Elektra works on Solaris. We are also thinking about adding a Solaris build machine.

@mpranj Let's ping here again with the next release.

[2021-05-01 05:35] markus2330 commented on #3798
No, for the trivial ones it is not. Furthermore, the error conditions already describe what happens if you pass a null pointer.

At one place, however, we should say that wherever a `Key` is expected, something created from `keyNew` must be passed. This can be directly in the introduction of `Key`. Also the invariant that key always must have a valid name can be documented there.

Exactly, I agree

[2021-05-01 06:06] markus2330 commented on #2296
Probably better to use metadata `skip` for this. This we can also introduce post-1.0.

[2021-05-01 06:23] markus2330 commented on #3797
Yes, I agree.

The idea was that the person has a guarantee that (s)he gets a string. If you are okay with null pointers, you can use `keyValue` instead.

Yes, then we could return some string but still indicate the error.

Breakage is something we do not need not consider now (except in the sense that somehow it must be possible for us to fix our code base). Now is the time to do any such changes

[2021-05-01 10:34] markus2330 commented on #3599
If `@elektra` gets reserved (or even everything starting with `@elektra`), there is no need for `®elektra`, as its only advantage is that it is even less likely to collide as `@elektra`.

At the moment we only have a single use case of `@elektra`, which is the FUSE tool. So we will reserve exactly the minimum needed for the FUSE tool. If it really needs "everything starting with `@elektra`", then

[2021-05-01 10:37] markus2330 commented on #3804
As already said: Elektra's support for Python 2 is fully implemented, we could revert the commit removing it.

No, let us close it. I don't want @tom-wa to waste time on Python 2 support just because of a "they might not accept it". If it really creates troubles, we can reconsider, also post-1.0.

[2021-05-01 10:37] #3804 closed

[2021-05-01 10:43] markus2330 commented on #3812
I tried adding some collections which do not exist and it did not complain.

The new README.md says Ansible 2.7 is required.

Everything we need for CM works perfectly now. Thanks a lot for uploading it to Ansible Galaxy. :fireworks:

[2021-05-01 11:01] kodebach commented on #3599
That is not the point for reserved names. You are confusing "reserved key name" and "key name with special meaning". The latter is a subset of the former.

The whole idea of reserving key names is that we do not break existing stuff, if we need to create new "key names with special meaning" in the future. If don't do that any time a new "key name with special meaning" is added (e.g. `@elektra/meta

[2021-05-01 11:03] kodebach commented on #3804
This assumes that everything still works, after all the big changes recently (most importantly the key name change).

[2021-05-01 11:05] kodebach commented on #3812
If I understand the docs correctly, collections only existed starting with 2.9 since they are only used with `ansible-galaxy`.

[2021-05-01 15:19] markus2330 commented on #3804
Of course, there is always something to do (e.g. updating packages). The code itself is not even 100 lines long, see src/bindings/swig/python2/kdb.i 546150efe68729629e682a4db9a3d4b8fe1d974c

[2021-05-01 15:38] markus2330 commented on #3812
I just tried with Ansible from Debian (package version 2.7.7+dfsg-1 but `ansible --version` says 2.10.8?), the playbook also works.

[2021-05-01 15:51] markus2330 commented on #817
As discussed in #3813 we do not need any legacy header files. The only supported way to include files should be `<elektra/NAME.h>`, where NAME usually does not start with "kdb", so e.g. it would be `<elektra/macros.h>`.

[2021-05-01 16:19] kodebach opened #3822 "Copyright of template files"
As mentioned in https://github.com/ElektraInitiative/libelektra/pull/3790#discussion_r621574329, the copyright of the templates for `kdb gen` is currently incorrect.

[2021-05-01 18:34] markus2330 commented on #3599
Please avoid personal accusations. E.g. with a statement "If don't do that any time" a response can be: "a noun is missing in the sentence", and definitely not "You are confusing nouns with verbs".

My previous answer holds: we reserve for now what has a special meaning in FUSE. Of course we can reserve more (e.g. `@elektra.*` instead of `@elektra.value`). I have trust in @dev2718 that he will fin

[2021-05-02 03:28] markus2330 commented on #3397
resolved by #3801

[2021-05-02 11:08] markus2330 opened #3824 "0.9.6 release"
Here is a copy from doc/todo/RELEASE.md, maybe we should add more `[ ]` so that more can be ticked?

# Release Procedure Documentation

This document describes what to do for a release.

### Manual Testing

- fuzz checker
- memleaks
- ASAN

If no release critical problems are found during testing, continue.

## Tasks before Release

### Updates

- Update `doc/COMPILE.md` to reflect actually tested

[2021-05-02 11:10] markus2330 commented on #3824
Possible reasons for release:

- (important) fix in JNI
- FUSE by @dev2718

[2021-05-02 11:14] markus2330 commented on #3747
Thanks a lot for fixing this!

[2021-05-02 11:15] markus2330 commented on #3758
Yes, it would be important to get these tests running. They might reveal problems in the JNI plugin.

[2021-05-02 11:18] markus2330 commented on #944
Is this for post-1.0? Then we usually close it and assign it to 2.0?

[2021-05-02 11:26] markus2330 commented on #2177
The problem here is that global plugins seem to have unintended side effects (even if they "do nothing"). As we want to reduce the 1.0 scope to only support a few global plugins, I think we can move this problem post-1.0. For the few global plugins we support, however, we ideally add such tests.

[2021-05-02 11:26] #2177 closed

[2021-05-02 11:33] markus2330 commented on #3816
moved to https://github.com/ElektraInitiative/ansible-libelektra/issues/2

[2021-05-02 11:33] #3816 closed

[2021-05-02 11:33] #3812 closed

[2021-05-02 11:39] markus2330 commented on #2760
test 3 fails now as expected (I updated the key names in the example above), and the other tests should fail after #3742

[2021-05-02 11:50] markus2330 commented on #2464
@domhof is this something that gets resolved once #3131 is done?

[2021-05-02 11:52] markus2330 commented on #3069
Please reopen if this problem still occurs on a recent FreeBSD+clang.

[2021-05-02 11:57] markus2330 commented on #2177
I think writing only to `/tests/<name>` and a similar approach for avoiding collisions with the config files should be enough. This could be both enforced by shell recorder. But this is not the problem reported in this issue.

[2021-05-02 18:13] mpranj commented on #3824
More reasons:

- GCC 11 compatibility
- Clang 12 compatibility
- Fedora 34 stable packages
- Many docu improvements & upgrading to Doxygen 1.9.x & regenerating man pages with Ronn-NG
- Finish "move kdb header" && upgrading formatting scripts/tools

[2021-05-03 07:57] tucek commented on #3758
I will have look at it today...

[2021-05-03 08:21] tucek commented on #3758
- [ ] check on which builds the test are running

[2021-05-03 08:57] tucek commented on #3770
Gradle comes with the base image (7.0 at the time of writing). When i tried to install gradle via brew (6.8.3), i got the error that 7.0 is already installed.

[2021-05-03 09:45] markus2330 commented on #3758
You can add TODOs in the top post, then GitHub shows you how many of them were already resolved.

[2021-05-03 12:20] mpranj commented on #3770
You're right, it is included. Sorry for the wrong information before.

Thank you so much for checking it!

[2021-05-03 16:31] tucek commented on #3770
@mpranj The subject of this issue was to ensure that the same version of gradle as with the other ci images is installed. This still is not the case. This issue is definitely not urgent, but if we want to keep gradle versions the same between all ci images, we should keep this issue open...

[2021-05-03 17:29] markus2330 commented on #3770
Actually, it is not a goal to have the same version of some software across the build infrastructure. Instead it has advantages to have diversity to test a broad range of possibilities. Of course some minimum version can be specified.

[2021-05-03 19:38] tucek commented on #3758
I'm still trying to get it to work, but to be clear, the tests have been explicitly disabled before because of L42:
https://github.com/ElektraInitiative/libelektra/blob/7e9ac3a75ac6516f307245252948f3a69dbf3ccd/src/plugins/jni/CMakeLists.txt#L38-L43

[2021-05-03 22:34] tucek commented on #3770
Then we can close this issue.

[2021-05-03 22:34] #3770 closed

[2021-05-04 06:00] mpranj commented on #3758
Good that you found that. I think it was temporarily disabled and then forgotten.

It is not tested in our CI, which is what matters. Please remove the `ENABLE_BROKEN_TESTS` part such that the tests are enabled again.

[2021-05-04 07:56] markus2330 commented on #3806
Of course, it is always nice to give upstream some feedback.

@petermax2 can you maybe do this?

[2021-05-04 10:07] tucek commented on #3758
I've created PR #3825. Test is enabled and maven dependency has been removed. How can i execute the single "testmod_jni" test to see what is the problem?

[2021-05-04 10:13] markus2330 commented on #3758
`ctest -V -R testmod_jni`

[2021-05-04 11:02] mpranj commented on #3758
On Cirrus CI, Fedora 34 it says:

[code]

[2021-05-04 14:57] markus2330 opened #3826 "xerces: fail when adding to empty entries"
## Steps to Reproduce the Problem

[code]

## Expected Result

Have config file like `<test><a>b</a></test>`

## Actual Result

[code]

## System Information

- Elektra Version: master

## Further Log Files and Output

[2021-05-04 16:27] markus2330 opened #3827 "Migrating to GitLab"
Discussion about migration. First important issues to clarify:

- [ ] Cirrus CI migration?
- [ ] Merging? Usability (union driver)
- [ ] Single-Sign-On? https://docs.gitlab.com/ee/integration/github.html

[2021-05-04 16:32] markus2330 opened #3828 "OpenJDK upstream"
As said by @mpranj openjdk had problems under Mac OS X.

Using https://adoptopenjdk.net/ instead seems to work.

This issue reminds us to report a bug at https://bugreport.java.com/bugreport/

[2021-05-04 17:23] tucek commented on #3758
getting the same thing:
[code]
Does someone with more C experience has time to debug the test?

[2021-05-04 18:28] markus2330 commented on #3758
@tucek can you try to reduce which test case causes the double free? Can you run it with valgrind and post the log? (remove MEMLEAK in line 49 and run `make run_memcheck`).

[2021-05-04 20:08] petermax2 commented on #3806
I am working on it. My account at the bug reporting tool is still pending.

[2021-05-04 22:37] a-kraschitzer commented on #2528
I'm not completely sure what is needed here.
As far as I understand, `doc/THIRD-PARTY-LICENSES` should contain all licenses that are mentioned in libelektra project that are on third parties?
Is the information currently incomplete? Or wrong?
Are only the 4 changes mentioned on top needed?

[2021-05-04 22:40] a-kraschitzer commented on #3505
What kind of change does this entail?
Changing the make files to use the `git log` date instead?
Or can this be achieved in another way? (I still don't have a working build system and wouldn't mind not having to get it to work :) )

[2021-05-05 03:28] #3252 closed

[2021-05-05 04:59] markus2330 commented on #2528
Yes, at least these 4 points above are currently wrong in doc/THIRD-PARTY-LICENSES. It would be best if all entries in doc/THIRD-PARTY-LICENSES are checked, ideally with a script that you also add (that checks if the specified `Files` still exist). Such a script/CI integration is of course for additional points.

There are also scripts that extract licensing information from the source. You could

[2021-05-05 05:52] markus2330 commented on #3505
The goal is that the man pages in `doc/man` reliably get regenerated with dates in their header from when their source in `doc/help` was actually modified (as seen in `git log`).

It is about scripts/cmake/Modules/LibAddMacros.cmake that invokes scripts/cmake/ElektraManPage.cmake which invokes ronn. `git` needs to be additionally invoked and the date passed to the ronn invocation. The situation wh

[2021-05-05 06:34] petermax2 commented on #3806
I reported the issue [here](https://dev.gnupg.org/T5422).

[2021-05-05 12:18] a-kraschitzer commented on #2528
what exactly needs to be done here?

This is the block in scripts/cmake/Modules/FindLua.cmake
[code]
Should I copy? move? everything between the `====` to `doc/THIRD-PARTY-LICENSES` ?

[2021-05-05 12:19] tucek commented on #3758
I've changed `add_plugintest (jni MEMLEAK)` to `add_plugintest (jni)`, but get the following error:
[code]
am I missing a dependency?

Reproduction:
check out branch PR #3825 is based on
enabled plugin jni
make
execute `ctest -V -R testmod_jni`

[2021-05-05 12:56] mpranj commented on #3758
You need `valgrind` installed, to execute the memcheck.

[2021-05-05 15:48] markus2330 commented on #2528
I am also not a lawyer, but I think we need to replace the text the text between `~~~` with the text from Copyright.txt (from the other repo).

[2021-05-05 15:49] #3822 closed

[2021-05-05 18:39] tucek commented on #3758
still getting the same output after successfully installing valgrind:
[code]

[2021-05-05 19:24] philippoppel commented on #1522
Good evening, I think a found a good compromise for a semi interactive tutorial, a challenge in markdown. I thought of a scenario that was a bit similar to T2, but with focus on cascading lookups. I tried to implement a really open and funny format, so the tutorial makes fun to follow along.

Hope you enjoy it

@markus2330 hope this is ok for H2 that I post it here, I wouldnt know where to put it

[2021-05-06 12:13] markus2330 commented on #2607
As it is only for global plugins, I moved it to 2.0.0.

[2021-05-06 12:15] markus2330 commented on #1103
@kodebach I don't think it is needed to remove stale flags of internal trackings.

[2021-05-06 12:20] markus2330 commented on #2528
@a-kraschitzer did you start this work?

[2021-05-06 12:25] kodebach commented on #1103
Oh... Seems I confused the issue with another one

[2021-05-06 12:30] kodebach commented on #2607
I actually kept the issue open, because it is implemented as part of #3693. Specifically, the current version of the PR has this function that is used by backend plugins. This is solves the problems the original issue describes.

https://github.com/ElektraInitiative/libelektra/blob/898990819649541dafeca1b74717e4e1ba24e1e1/src/libs/plugin/plugin.c#L175-L179

[2021-05-06 12:37] markus2330 commented on #2607
Ahh, ok, then you can link the pull request. I wouldn't see this issue as must-have requirement for #3693, though. If we manage to do it with acceptable performance, however, it would be fine.

[2021-05-06 12:42] markus2330 commented on #1522
The idea was to create a PR, similar to https://github.com/ElektraInitiative/libelektra/pull/3801

[2021-05-06 12:44] markus2330 commented on #3758
@tucek did you try to completely remove the build directory? I don't think cmake checks for valgrind again later.

Btw. if you do this in a PR, we should be also be able to download the artifacts from the buildserver.

[2021-05-06 15:06] tucek commented on #3758
[run_memcheck.out.txt](https://github.com/ElektraInitiative/libelektra/files/6435618/run_memcheck.out.txt)
[DynamicAnalysis.xml.txt](https://github.com/ElektraInitiative/libelektra/files/6435620/DynamicAnalysis.xml.txt)

[2021-05-06 15:42] a-kraschitzer commented on #2528
Yes

[2021-05-07 07:57] markus2330 commented on #3758
I answered in #3825

[2021-05-07 11:34] #3806 closed

[2021-05-09 13:48] robaerd opened #3833 "cirrus: ni plugin build failure on macOS because of missing comma"
MacOS builds are failing on cirrus CI (see [here](https://github.com/ElektraInitiative/libelektra/pull/3832/checks?check_run_id=2538693565)).
The reason for this is a missing comma in the `testmod_ni.c`:
https://github.com/ElektraInitiative/libelektra/blob/4da3fc01c2b93b392fd80cf468ba34cf2fd0c5aa/src/plugins/ni/testmod_ni.c#L315

It is probably now failing because of a clang update.

## Further Lo

[2021-05-10 07:47] mpranj commented on #3833
Actually the fix is already on master since 21 days, sorry for the confusion.

Judging by the output it looks like you did not base your work on a recent master branch. Can you rebase and check again?

[2021-05-10 10:13] markus2330 opened #3834 "checkbashism prints "strange results""
from https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-3830/6/pipeline/397

[code]

Please fix all the problems by excluding the files in ./tests/shell/check_bashisms.sh

@mpranj did you already fix (part) of this problem?

[2021-05-10 10:41] mpranj commented on #3834
I did not touch the `checkbashisms` scripts yet. I left a [comment](https://github.com/ElektraInitiative/libelektra/pull/3830/files#r629251065) in the PR, in this specific case the fault is in the PR and not in the `check_bashisms` script.

Regarding the other files: yes we should probably exclude them to avoid _strange results_. :smile:

[2021-05-10 12:40] robaerd commented on #3833
Sorry this was my mistake, something went wrong during my previous rebase. Thank you for pointing this out!

[2021-05-10 12:40] #3833 closed

[2021-05-11 12:43] markus2330 commented on #3124
Actually the big question is if we should also prefix everything inside the core, so elektraKeyNew instead of keyNew.

[2021-05-11 12:44] markus2330 opened #3839 "open decisions"
Decide about:

- [ ] Error Handling (e.g. adding thread-local var) #3797  #3737  #3029
- [ ] Memory Management (elektraMalloc etc.) #3750 #3731

Analysis needed first:

- [ ] aliases #3740 #3736 #3730
- [ ] iterators #3171 #2991 #3189
- [ ] refcounting #3869

[2021-05-12 07:06] #2528 closed

[2021-05-14 01:55] #3414 closed

[2021-05-14 06:05] 0003088 commented on #3696
I'm sorry for the delay. As I said earlier, I found the reason for the bug and corrected it. But when I tested the fix I noticed that I could not edit the metakeys, they are always overwritten in the threeway merge. I do not think this has anything to do with the display bug. Do you have any idea why the merger behaves like that?

[2021-05-15 06:00] markus2330 commented on #3696
I don't think we changed the old C++ merger in any way, so probably the merging you tested also did not work before. Maybe this is now a good opportunity to use @dominicjaeger's new 3 way merger instead? @dominicjaeger do you have time to do the migration or to help with it?

[2021-05-15 07:36] dominicjaeger commented on #3696
I think we started introducting the C merge in the qt-gui already? But I'll have to look up how far we came...

[2021-05-15 08:22] markus2330 commented on #3696
@dominicjaeger thank you for the quick response! If we already use your implementation consider https://github.com/ElektraInitiative/libelektra/issues/3696#issuecomment-841030473 as first bug report :wink:

[2021-05-15 08:43] markus2330 opened #3854 "Debian "Bullseye" packages"
As Debian "Bullseye" https://www.debian.org/releases/testing/ will hopefully release soon, we should also create Debian packages for it. Can we maybe already start doing so in the upcoming 0.9.6 release?

[2021-05-15 22:28] #3418 closed

[2021-05-16 08:40] robaerd commented on #3854
Yes, I will create a PR today.

[2021-05-16 15:44] mpranj commented on #3824
I would suggest we postpone the release a few days such that we get the important JNI fixes etc.

[2021-05-16 15:56] markus2330 commented on #3824
Yes, seems like it is needed.

https://github.com/ElektraInitiative/libelektra/milestone/27 has many open points, also many where you are assigned?

Also an PR is tagged with 0.9.6: https://github.com/ElektraInitiative/libelektra/pull/3813, which imho should not go to the next release (too risky to merge something like this last minute, better to merge it shortly after the release), the other tagg

[2021-05-19 08:41] #3854 closed

[2021-05-22 09:21] #2269 closed

[2021-05-22 09:21] #2555 closed

[2021-05-22 09:21] #1499 closed

[2021-05-22 09:21] #1017 closed

[2021-05-22 09:21] #677 closed

[2021-05-22 17:33] kodebach commented on #3828
I think the correct bug tracker would be this one: https://bugs.openjdk.java.net/projects/JDK/summary

[2021-05-23 17:27] #884 closed

[2021-05-23 17:27] #670 closed

[2021-05-23 17:27] #2613 closed

[2021-05-23 17:27] #2524 closed

[2021-05-23 17:27] #2598 closed

[2021-05-23 21:49] robaerd commented on #160
Jenkins CI will be offline for maintenance for a couple of minutes as there is no space left on `a7`.

[2021-05-24 14:54] #3710 closed

[2021-05-24 14:54] #3758 closed

[2021-05-24 14:54] #3772 closed

[2021-05-24 14:56] markus2330 commented on #3828
@tucek does this problem still exist? If yes, can you report this problem upstream?

[2021-05-27 11:01] tucek commented on #3759
Since we are now publishing artifacts, does anyone really needs this test scripts? There is exhaustive information how to use the JNA binding with either gradle or maven (https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/jna/README.md) also referencing the provided example project...

[2021-05-27 11:02] tucek commented on #3759
@markus2330 my suggestion is to simply delete `tests/shell/external/maven.sh`

[2021-05-27 13:19] tucek commented on #3756
Is it a known issue, that javascript formatting is broken?

[2021-05-28 07:16] markus2330 commented on #3759
I agree it is a bit over the top but automatically tested (and thus working) examples are very valuable, so it is always a pity if they get removed.

[2021-05-28 07:52] tucek commented on #3759
...

As i understood it was not an automatically run test anyways...

[2021-05-28 08:01] #2270 closed

[2021-05-28 08:01] #2454 closed

[2021-05-28 08:37] markus2330 commented on #2695
The easiest fix is probably that we define "cache" to be in the minimal set of plugins? (Then a warning would be okay.)

[2021-05-28 08:37] markus2330 commented on #3759
Ok, then let us remove the maven test and let us automate the gradle test.

[2021-05-28 10:31] tucek commented on #3759
Gradle test are already automated (testjna_gradle and testmod_jni)

[2021-05-30 13:45] kodebach opened #3868 "JNA segfaults"
While testing #3846 I manged to produce a JNA segfault locally. Not in `testmod_jni`, but in `testjna_gradle`.

Here is the interesting part of the log:
[code]

This shows a few important things:
1. The JVM uses a separate thread for the Cleaner. This means race conditions with the `keyDel`/`ksDel` calls from native Elektra code are easily possible.
2. As expected, the segfault comes from `ksDel`,

[2021-05-30 20:13] lawli3t commented on #3798
So, it seems the way going forward is to add pre / postconditions and invariants for every function in the public API. Depending on how often a specific condition / invariant occurs or its scope (for instance invariants for Key's) those will either be documented directly at the function or a respective module header.

I am currently working on adding them, but got stuck cause of other university r

[2021-05-30 20:14] lawli3t commented on #3735
Okay, so the way forward will be adding the documentation for `keyVNew` via a new PR from me.

[2021-05-30 20:57] lawli3t commented on #3839
# Decision Meeting

- date: tbd
- participants: tbd

## Agenda

### Error Handling

#### Return Codes are inconsistent across public API
https://github.com/ElektraInitiative/libelektra/issues/3029
https://github.com/ElektraInitiative/libelektra/issues/3737

##### Proposed Solutions
- Add documentation for errorKey to Doxygen
- Add thread-local error handling for getting information about errors

#

[2021-05-31 06:53] tucek commented on #3868
@markus2330 I'm not sure how i can help here from the Java side of things... If we want to introduce a ref counter for key sets it might be better if someone with a deeper knowledge of Elektra's C source would do that.

[2021-06-01 10:24] markus2330 opened #3869 "reference counting"
## Unexpected Behavior:

- locking is not reset when ref counting again gets 0 (adding to keyset and pop again) #2202
- C++ API for KeySet and Key has unexpected differences: also use ref counting for KeySets (also suggested in #1332)

## Proposals/for Discussion:

- make ref counting thread safe (probably useful for JNI)
- start with 1 for reference counting and let keyDecRef do keyDel (remove ks

[2021-06-01 19:29] kodebach commented on #3869
Making just the ref count thread safe would be odd, when the rest of the API isn't thread safe at all.

The Java binding already uses a lock to prevent race conditions.

Starting with 1 is more logical, but doesn't really change anything.

I prefer to think of it the other way around. `keyDel` should do a `keDecRef`, if the `refCount > 0` and if `refCount` then hits zero (i.e. it was 1), it actual

[2021-06-01 19:57] markus2330 commented on #3824
As discussed with @kodebach we would temporarily fix #3868 with ENABLE_AUTO_NATIVE_REF_CLEANUP and release this week. In July we clean up this in #3693.

@tucek what is the state of #3863?

@robaerd what is the state of #3861?

@mpranj do you have time to release this week?

Would be great if we could do this release asap!

[2021-06-02 09:12] mpranj commented on #3824
I have time for a release this week. I just thought the mentioned PRs need to be in the release, so I didn't release earlier.

[2021-06-02 10:29] tucek commented on #3824
Currently only plugin specific updates are missing (tutorial, example plugin rework, ...)
I would like to see the rest of the PR in this release. There are several interesting improvements for the Java binding already ready to be merged. Therefore i propose moving plugin related improvements to a new PR. If you concur, today I would ready the PR for being merged tomorrow.

Just to clarify:
Current

[2021-06-02 11:01] kodebach commented on #3824
Yes, that is exactly what we need. All automatic cleanup tasks should be disabled, so we don't get double frees out of nowhere.

Yes, this is fine. If there is a manual release that causes a double-free, we can just remove it. The problem is just that we currently can't correctly prevent automatic double-frees.

Yes, with the current implementation it would probably be fine to just call `keyDel`.

[2021-06-02 12:22] tucek commented on #3824
Of course in Java it would have to be implemented in a very similar fashion.

[2021-06-02 14:59] tucek commented on #3824
But this actually breaks manual release:
[code]

[2021-06-02 15:42] kodebach commented on #3824
This example actually works as intended. The C equivalent would be:

[code]

This behave exactly like the Java version. When you pass a `Key *` to `ksNew`, the KeySet takes ownership and you are not supposed to call `keyDel` on that `Key *` anymore. If you do need to key longer than the `KeySet *`, you must use `keyIncRef` manually.

While this may seem odd or even wrong at first, it is needed to

[2021-06-02 18:08] robaerd commented on #3824
Should be finished by tomorrow.

[2021-06-02 20:46] tucek commented on #3824
Since currently the Java binding increases a key's ref count, when a Key representing it is created, either the user or the GC will have to release it (keyDecRef && keyDel). The following is currently the correct API usage (see #3863)
[code]
[code]
If we want to introduce (for the Java binding) a concept of transferring ownership to a KeySet, when a Key is added, we would have to remove the increm

[2021-06-02 21:53] tucek commented on #3824
#3863 is rdy for review

[2021-06-03 00:08] kodebach commented on #3824
I agree, but the goal for this release is simply to have no segfaults. The easiest way to achieve this is simply to accept memory leaks and not actually do cleanup.

After the release, the goal for the Java API should be:
1. Even if there are zero explicit `release()` calls in the Java code, there will be no memory leaks.
2. You can call `release()` as many times as you want. However, calling any

[2021-06-03 03:33] markus2330 commented on #3824
Yes, I agree with @kodebach, let us release something where JNI plugins can be used without segfaults asap (deadline for students is in one week), and fix everything to have no mem-leaks in July.

It is probably a good idea to release #3863, so that @tucek can get some feedback of how people like the changes.

#3861 would be obviously great to have.

[2021-06-03 10:56] tucek opened #3870 "KeySet might implement (Sorted)Set [JNA bindings]"
We should also consider implementing Key's hashcode/equals. What should define the identity?

- Just `getName`?
- Or since Keys are merely wrapper for native keys `getPointer`?

For SortedSet implementation

- Implementing `Comparable<Key>` for Key using `keyCmp` and letting `KeySet::comparator` return null should be the correct implementation

[2021-06-03 13:56] #3753 closed

[2021-06-03 13:56] #3759 closed

[2021-06-05 05:41] tucek opened #3871 "Introduce ReadOnlyKey [JNA bindings]"
The following functions return keys which are supposed to be neither modified nor deleted, because the backing key is part of the meta data key set:

- `Key::nextMeta()` backed by `keyNextMeta(Pointer)`
- `Key::currentMeta()` backed by `keyCurrentMeta(Pointer)`
- `Key::getMeta(String)` backed by `keyGetMeta(Pointer, String)`

This issue proposes to enforce this semantic by using Java's type system

[2021-06-05 05:48] tucek opened #3872 "Key/KeySet should implement AutoClosable [JNA bindings]"
Even provided the Cleaner works flawlessly, it might be an advantage to use try-with-resources with Keys and KeySets. Therefore implementing AutoClosable for these two classes might be worthwhile. The documentation should continue to clearly state that it is not a necessity to close Keys or KeySets.

`Key/KeySet::release` will be renamed to `*::close` and documentation will be updated accordingly.

[2021-06-05 06:02] tucek opened #3873 "Local error keys and usage of these in the Java bindings"
The C API uses Key's meta data to return error information. Functions requiring a parent key as input will use this key to return warnings and error information. Functions not having access to such a key often require an explicit error key to be passed for returning such information. (e.g.: `kdbClose`)
Creating such temporary keys currently requires a valid name (e.g. "/") in contrary to the docum

[2021-06-05 06:10] tucek opened #3874 "remove Key::get*AndRelease methods [JNA bindings]"
Once the`Cleaner` works flawlessly, Java key representations `Key::get*AndRelease` convenience methods should be removed because they are of questionable value. If we can find a real use-case and benchmark it to confirm sensible performance advantage, they should be retained.

see https://github.com/ElektraInitiative/libelektra/pull/3863#discussion_r644391540

[2021-06-05 06:12] tucek commented on #3868
see #3869

[2021-06-05 06:15] tucek opened #3875 "Enable Cleaner [JNA bindings]"
As soon as `Cleaner` works flawlessly, remove ENABLE_AUTO_NATIVE_REF_CLEANUP and enable automate clean-up.

see #3869, #4348

[2021-06-05 06:32] tucek opened #3876 "Provide JNI plugin example and complete tutorial [JNA bindings]"
Currently a sensible and working example JNI plugin including tutorial is missing. After the recent work regarding the JNA/JNI integration is in a workable state, provide an example plugin with a tutorial how to write such a plugin, mount it and use it.

- [ ] Introduce a filter/checker plugin validating key values for being a prime number (objections or more useful proposals welcome) - update JNA

[2021-06-05 12:16] tucek commented on #3828
I'm sorry, but I don't have any clue what this is about. For reporting the issue, i would need to get more information.

[2021-06-05 14:20] #3766 closed

[2021-06-07 05:11] markus2330 commented on #3824
@mpranj Is there something still open? Do you need help?

[2021-06-07 05:13] mpranj commented on #3824
No, everything is merged. I am having some troubles with docker hub timeouts in the [release pipeline](https://build.libelektra.org/blue/organizations/jenkins/libelektra-release/detail/libelektra-release/111/pipeline/859/). I hope a fresh re-run solves it, and I rebooted the agents.

[2021-06-07 06:26] markus2330 commented on #3868
@kodebach can you please check if this problem is now gone with master?

[2021-06-07 06:34] markus2330 opened #3881 "segfault when mounting plugins"
## Steps to Reproduce the Problem

I tried to do what is described in the README.md of the JNI plugin, e.g.:

[code]

## Expected Result

That I can mount JNI plugins and use them.

## Actual Result

Segfaults without usable backtrace.

## System Information

- Elektra Version: master

[2021-06-07 06:40] markus2330 commented on #3881
@tucek How were you able to mount plugins? Did the commands in the README.md work for you?

[2021-06-07 06:43] markus2330 commented on #3824
Perfect! #3882 can also merged afterwards as it is (nearly) only docu. I don't think we can/should wait for a fix of #3881.

What is the state of the release notes?

[2021-06-07 06:53] mpranj commented on #3824
Release notes are basically done and waiting for the release pipeline to finish so we can add the artifacts and hashsums. The release pipeline will definitely take 2 hours or so, so I have time to polish release notes right now. If you want to add anything it is still possible ;)

[2021-06-07 08:38] #3824 closed

[2021-06-07 08:49] kodebach commented on #3868
Both `testmod_jni` and `testjna_gradle` now run without segfaults.

[2021-06-07 08:49] robaerd commented on #3824
The release pipeline failed because the warning plugin probably changed its method names.
[code]

Therefore the Docker image publish stage of the release pipeline wasn't executed.

[2021-06-07 08:58] kodebach commented on #3881
I get this too. According to the backtrace from `gdb` it happens in the `call1Arg` call of `elektraJniClose`. Specifically right at the start here:

https://github.com/ElektraInitiative/libelektra/blob/618e6f6dd94f833dd3edde6dcb72d549b9f1ef46/src/plugins/jni/jni.c#L79

I have no idea how this could cause a segfault and the more I have to deal with the `jni` plugin, the more I think we should just

[2021-06-07 09:00] mpranj commented on #3824
Thank you for pointing this out. We migrated to a new warnings plugin as the old one was deprecated. I already have a fix for this and will re-run the stage once the main release is published on the website.

[2021-06-07 09:12] tucek commented on #3881
Unfortunately I haven't been able yet. Updating the JNI tutorial, which includes mounting the JNI plugins has been moved to #3876.

[2021-06-07 09:18] tucek commented on #3876
see also #3882

[2021-06-07 09:26] #3868 closed

[2021-06-07 09:41] markus2330 commented on #3881
Ok, then we should write in the release notes that it is currently not possible to actually mount plugins written in Java, pointing to this issue. (@mpranj, can you add this please?)

This would have been an important information when I asked about testing JNI 14 days ago. (https://github.com/ElektraInitiative/libelektra/pull/3825#pullrequestreview-666841732)

Can you post the backtrace here pleas

[2021-06-07 10:03] tucek commented on #3881
I'm sorry for the misunderstanding. My focus was on getting JNI plugin to work (as tested via the test). To that end, i had to build more knowledge about the workings of Elektra and the JNA bindings, improving them on the way. I thought it was clear, that i am not yet completed the process of fully testing and updating the documentation for mounting and using JNA plugins via DB. (https://github.co

[2021-06-07 10:08] markus2330 commented on #3881
The unit tests and `plugin-check` work now, which is already a big step. But we need also need to clearly communicate limitations via docu&release notes. People expect that everything works in the README.md as described. I already started fixing the README.md in #3882. Help appreciated.

[2021-06-07 10:10] kodebach commented on #3881
I look at it again, and it seems I had an error in my command line. The `open` call of `jni` failed with an error about the classpath and then the `close` call within `open` segfaulted.

Here is the backtrace:

[code]

If I use this command line instead:

[code]
($PWD since, I used a local install; replace $PWD with /usr or /usr/local if installed system-wide)

I get a different segfault (not imme

[2021-06-07 10:20] markus2330 commented on #3881
The JNI plugin currently has "discouraged" but my idea was to improve the status quo and to get it to a working status again. Seems like the expectations were not communicated clearly.

[2021-06-07 10:38] mpranj commented on #3881
Is something like this fine for the release notes:

---
**Note** that it is currently not possible to mount plugins written in Java (see [#3881](https://github.com/ElektraInitiative/libelektra/issues/3881)).

[2021-06-07 10:39] tucek commented on #3881
It might have to do something with the JNA dependencies. For testing the jni plugin, we are using a fat jar including all required dependencies (like JNA).

while `kdb mount config.jni /testsjni jni classname=org/libelektra/plugin/Echo classpath=${ELEKTRA_BUILD_DIR}/src/bindings/jna/libelektra/build/libs/libelektra-0.9.6.jar` yields:
[code]
using the fat jar including all dependencies (which is cu

[2021-06-07 10:46] markus2330 commented on #3881
Yes, it is fine! I can also adapt the release notes later (when forwarded to CM students). I'll do it in #3882 after the release.

[2021-06-07 10:53] mpranj commented on #3824
Small update: the release is _basically_ published, but not yet announced due to small changes in release notes and re-running the release pipeline with a small fix.

[2021-06-07 10:55] markus2330 commented on #3881
Probably JNI needs to be linked with `${CMAKE_THREAD_LIBS_INIT}`. You can try only linking the jni plugin but this might not be enough (usually executables need to be linked with it).

[2021-06-07 12:06] tucek commented on #3881
please have a quick look at the changes in #3884 - did fail to link JNI with ${CMAKE_THREAD_LIBS_INIT} or is it just not solving the problem?

[2021-06-07 12:09] markus2330 commented on #3881
So something similar (target_link_libraries ${CMAKE_THREAD_LIBS_INIT}) also needs to be done in src/tools/kdb/CMakeLists.txt

[2021-06-07 13:06] tucek commented on #3881
please see changes in #3884

[2021-06-07 13:46] mpranj commented on #3824
Unfortunately re-running the release pipeline with a new build number does not fix the errors and does not work as I expected.

We would have to push a completely new release to make everything green (which is not worth the time).

Currently when we re-release with a new build number the main tarball 0.9.6 was overwritten, so I had to change the hashsums in the release notes. I think the scenario

[2021-06-07 13:56] markus2330 commented on #3824
@mpranj Nevertheless, great work, thank you for getting it out! Important is that we got (source) packages and we have a new tag to refer to. :fireworks:

What are still the things that take soo much time? Can you list them so that we can prioritize #3519? Having smooth and fast releases is imho more important than even more features in CI. :rocket:

Yes, let us do 0.9.7 sooner! :sparkling_heart:

[2021-06-07 14:09] robaerd commented on #3824
The build-documentation stage failed again because of the old `warning` plugin.
Additionally the publish-maven-artifacts stage now failed, because no patch/revision is included in the version tag, i.e. it only was published as 0.9.6 instead 0.9.6-2 and therefore conflicting with the old version. This could be solved by simply adding a revision parameter (as we already have for the different packag

[2021-06-07 14:10] mpranj commented on #3824
I'm just saying it's not worth anyone's time to do 0.9.7 today just so Jenkins has green icons. Everything else worked fine.

Otherwise: the automation is great, but the pipelines take long. Let's say you prepare a release and write some release notes. You have to wait at least:

* 1,5hrs for a master build to finish (after you wrote inital release notes and bumped versions)
* 2 hrs for release-pi

[2021-06-07 14:11] mpranj commented on #3824
That should be fixed now, but I don't want to re-run it...

[2021-06-07 15:36] kodebach commented on #3824
It should be possible, [other repos](https://github.com/material-components/material-components-android/releases) use similar versions. Although according to semantic versioning a version like `x.y.z-ABC` is a pre-release version of `x.y.z`, where `ABC` identifies the version and lexicographical order determines the order of different pre-releases of a single `x.y.z` version (commonly used are e.g

[2021-06-07 15:37] mpranj commented on #676
The 0.9.6 release is published. 🚀

Announcements are **not yet** sent out, if there are any last-minute release note suggestions.

@ElektraInitiative/elektradevelopers Thank you all for making this release possible! :heart:  We are happy if you announce the release on various media. If you have open PRs, now is a **great time to rebase**.

[2021-06-07 17:21] markus2330 opened #3885 "docker elektra/elektra not in released version?"
## Steps to Reproduce the Problem

[code]

## Expected Result

0.9.6

## Actual Result

0.9.5

## System Information

- Elektra Version: master

[2021-06-07 19:45] IngwiePhoenix opened #3886 "Support MSVC compiler"
# Steps to Reproduce the Problem

* Open a Visual Studio 2019 developer prompt
* `git clone` the repo

[code]

## Expected Result

A successful build configuration.

## Actual Result

Confusion... The log file is attatched.

## System Information

- Elektra Version: master
- OS: Windows 10, 64bit
- CMake `3.20.2`
- Ninja `1.10.2`
- MSVC (`cl.exe`): `19.28.29915 for x64`

## Further Log Files and O

[2021-06-08 05:24] markus2330 commented on #3886
Thank you for opening the issue!

Mingw is currently the only supported compiler for Windows (executables can be downloaded [here](https://build.libelektra.org/job/libelektra/job/master/lastSuccessfulBuild/artifact/artifacts/debian-buster-mingw-w64/elektra.zip)), others are work-in-progress, help is very much appreciated.

According the logs we pass some command-line flags to MSVC, which are not u

[2021-06-08 09:46] mpranj commented on #3885
This should be automated, but as the release pipeline (partially) failed I think it did not get published.

I updated this specific image manually now. We can re-test the automation with the next release soon. :smile:

[2021-06-08 09:58] markus2330 commented on #3885
Thank you for manually uploading it! Did the pipeline succeed at all in this release? I thought once it was successful and then you did small updates?

Is there maybe some way that @robaerd can do improvements that partial publishing is less likely? (or at least more clear what did (not) get published) But obviously the goal is that the release pipeline is successful. Probably we always should do

[2021-06-08 09:58] kodebach commented on #3824
Couldn't the release pipeline update the website directly? I assume whatever placeholder we use will just appear in some HTML file were it would be easy to replace.

[2021-06-08 11:01] IngwiePhoenix commented on #3886
I'll take a quick look at it in a little. Maybe I can do something there. No guarantees though - MSVC is a clusterf*k... ;)

Well to be blunt: I am considering working towards my own linux distro with it's own desktop environment, focused on people with visual - and other - impairments. GNOME and KDE Plasma were surprisingly underwhelming. Whilst Plasma had desktop zoom that could be controlled wi

[2021-06-08 11:57] markus2330 commented on #3886
Thank you! Although this issue does not seem to be important for your Linux distro?

These are amazing news! It would be great to see a whole Linux distro configured with Elektra. We are currently working on following pieces, which could be of relevance for you:

- elektrify gsettings+kconfig by @mpranj
- elektrify redshift by @qwepoizt

"linux distro for visually impaired people" is actually a to

[2021-06-08 13:36] IngwiePhoenix commented on #3886
Nope, just random concepts. ^^;

Hard to say, but I'd wager the following statement: I want to make a linux distro where visually impaired people - or other impaired people - would not have to forfeit on the "modern-ness" of the platform just to have it accessible. For instance: Cinnamon, albeit being able to be themed, still lacks modern features and graphical enhancements that GNOME 40 (and even

[2021-06-08 17:29] markus2330 opened #3888 "make Elektra completely introspectable"
While it is possible to get/set all keys and specifications of an application, it is currently not possible to determine which parentKey an application actually is using.

To fix this problem, I propose that:

1. applications add some static information in their binaries that tells that they use Elektra, gopts and which parentKey. This could be in some ELF section.
2. gopts always accepts some com

[2021-06-09 04:37] markus2330 commented on #3888
`strings` is a common tool but it is probably not so common to embed something in an executable just for that reason. Within companies it is probably more common to add build information (like version information) to executables.

I am afraid environment variables have the exact same problem as command-line options: they will not work on non-elektrified applications.

I think our first goal should

[2021-06-09 04:42] markus2330 commented on #3766
Great maintenance job! One dependency less :rocket:

[2021-06-09 08:10] dev2718 commented on #3888
What about we reserve something on the lines of `system:/elektra/introspection/*` as a virtual/in memory section of the kdb?
Then, whenever gopts (or any other plugin) is called by some process, gopts can report introspection data, e.g. `system:/elektra/introspection/<pid>/gopts/parentKey`, that lives as long as the process exists.

[2021-06-09 10:13] kodebach commented on #3888
How would you access that from outside the process, if it is in-memory only? We could instead write it to disk and read it via the FUSE binding, but that would mean modifying the KDB during `kdbGet()`, which is something I'd like to avoid. There would also be a problem, if a process crashes. We'd have some data in `system:/elektra/introspection/<pid>` that is no longer correct and wouldn't be remo

[2021-06-10 05:31] markus2330 commented on #3753
Is this still open?

[2021-06-10 05:34] markus2330 commented on #3754
Again by accident? If you write "see #3754" (or similar) PRs won't be closed.

[2021-06-10 05:37] markus2330 commented on #3870
Exactly, the (unescaped) key name.

Exactly.

[2021-06-10 05:43] markus2330 commented on #2733
@kodebach what do you think?

[2021-06-10 05:45] markus2330 commented on #3798
:+1:

Invariants can be documented only at one place for Key/KeySet/KDB, they should not be specific to functions. If a specific invariant is very relevant for a function, it is better to link from the functions to the invariant.

[2021-06-10 05:58] markus2330 commented on #3872
Why would this be needed? There are no resources connected to Key and KeySet, so the normal garbage collector should be enough. KDB is AutoClosable because it has (or might have) actual resources attached to it (like file handles).

[2021-06-10 06:41] markus2330 commented on #3873
Take a look at the c++ binding: src/bindings/cpp/include/kdb.hpp

It basically makes the errorKey something internal, which is thrown along with the exception (to also have the original information and not only the rendered text).

And the default constructor of Key simply makes a Key with the name `/`, so there is no need for Key.KEY_LOCAL_NAME (which I still do not like; the tutorial doc/tutoria

[2021-06-10 06:43] markus2330 commented on #3874
I agree, the "release" methods can be removed.

[2021-06-10 08:04] markus2330 opened #3891 "put JNI plugins in their own processes"
As the attaching to existing JVMs has problems on its own (teardown maybe leads to crashes and we could not modify the classpath or other JVM arguments) @kodebach suggests we will instead put each JNI plugin in its own process, as it is currently done in the python plugin. I agree.

As @kodebach wrote in https://github.com/ElektraInitiative/libelektra/pull/3884#issuecomment-858146418

I don't thin

[2021-06-10 08:45] tucek commented on #3753
no, marked task as done

[2021-06-10 08:58] tucek commented on #3872
The idea came up while discussing the Cleaner problems to enable try with resources syntax for manual clean-up. I agree, if the Cleaner works, we should not add Closable support to keep the API more clear.
From a Java perspective, the native key and key set resources could be seen as external resources to be closed IMHO.

[2021-06-10 08:58] #3872 closed

[2021-06-10 10:39] kodebach commented on #3891
The dispatching could work for Python as well. But I agree, one process per plugin would be much easier and I don't think it should be performance or resource problem since e.g. browsers also use loads of processes.

[2021-06-10 10:53] kodebach commented on #2733
We can think about it in #3693. Since `type` is not designed as a global plugin (although it could be rewritten), the decision of mounting it by default would lie with the concrete backend plugin not with `libelektra-kdb`.

If we mount it by default, we may need to do some modifications too. For example, `type = any` is pretty useless, while `type = string` confusingly only accepts non-empty strin

[2021-06-10 10:55] kodebach commented on #2733
PS. IMHO the best solution would still be to integrate the type system directly into `libelektra-core` and `libelektra-kdb`, i.e. a `Key` can't just be string or binary, but can actually store a decoded value (e.g. `int32_t`) in addition to the string/binary data.

[2021-06-10 10:58] kodebach commented on #1274
Should #3693 also move from the generic global plugin mechanism to specialised "hooks" for each of the currently existing global plugins? I think would make the implementation easier. For users it would also be better to do it in one go, since that means only one migration.

[2021-06-10 12:14] markus2330 commented on #1274
#3693 should be as small as possible. Only if the hooks get broken in #3693 such things can be done, otherwise a separate PR is much more preferred.

As we clearly communicate that 0.9 is development for 1.0 the only relevant migration is 0.8 -> 1.0.

[2021-06-10 12:29] markus2330 commented on #3872
Ideally it should be completely transparent that this even is a binding and native parts are involved. It would be best if the whole Java API feels like native-Java.

[2021-06-10 15:24] kodebach commented on #1274
Okay let me clarify that... Of course smaller PRs are better. The question was more, if the move to specialised hooks should be made ASAP as well (in a follow-up PR).

The current code in #3693 removes some of the existing global plugin positions already and only calls those that correspond to useful global plugins (`cache`, `spec`, `gopts`, notifications). My plan was to keep it this way and not

[2021-06-10 16:22] markus2330 commented on #2733
Not only global plugins can be mounted by default, e.g. sync also gets mounted by default (for every mountpoint).

I agree that this is confusing, let us drop "any" and make "string" any string.

Good idea.

I think it is best if we disable such forms of normalization as they are not really a killer-feature and "origvalue" is confusing.

It should be unrelated but I agree that we should not start

[2021-06-10 16:38] markus2330 commented on #3888
From the user's perspective this is a good idea if we can guarantee up-to-date and correct information there.

Nothing but how can an application/tool know that? We need know for which processes it is sensible to offer the introspection of `proc:`.

I don't think we need to know if kdbGet actually gets invoked. It is about the intention of the app-developer, who wants to offer a fully elektrified

[2021-06-10 17:11] kodebach commented on #3888
Okay I think we need more clarification. What purpose will this kind of introspection serve?

My understanding was that a user/admin wants to understand what config is loaded by an application. They run the application just like they normally would but enable the introspection. This is why I suggested the approach similar to `LD_DEBUG`, since that fulfils a similar purpose. I want to know what dyn

[2021-06-10 17:12] kodebach commented on #2733
With the new system in #3639 it would be up to the backend plugin what is mounted by default and what isn't. For example in a database backend it makes no sense to mount `sync`.

The normalization is required for the current high-level API and anything else that uses `elektraKeyToBoolean` (which only accepts `0` and `1` as valid values).

I actually think the normalization is a pretty good feature

[2021-06-11 08:57] #2724 closed

[2021-06-11 11:12] markus2330 commented on #3888
To clarify: I am talking about introspection of configs and specs, not about what the application is doing.

The main part of introspection we already have: as processes are encouraged to write all conf changes via kdbSet (this is also the reason why we do not have kdbValidate), tools can introspect with kdbGet the configs of tools if:

1. you know the parent Key
2. you have the same chroot (syste

[2021-06-11 11:43] kodebach commented on #3888
You missed:

6. you used the same contract when calling `kdbOpen()`
7. you have the same data in the KeySet passed to `kdbGet()` (normally empty, but if not it could have an effect)
8. all plugins in relevant mountpoints are deterministic, i.e. their output is 100% predictable based on the other conditions

IMO "introspection" means: Inspecting the state of a system while it runs, i.e. see what ac

[2021-06-11 12:32] markus2330 commented on #2733
Yes, but probably it still makes sense to mount `type`. But this is only hypothetical anyway, for a longer time being there will be only one backend plugin and this should mount sync+type by default.

I agree but can't this easily be done post-1.0. Do you see any issues? (Assuming that 1.0 will have both a fixed kdb+plugin API.)

Yes, we should advertise them better and we need a tutorial about ty

[2021-06-11 13:34] kodebach commented on #2733
In principle it should be possible to define a fixed API for 1.0 that can later be extended. Since backend plugins will be responsible for calling plugins and can define their own positions, the only relevant thing the kdb<->plugin API actually defines is when `spec`, `gopts`, et al. are called.

I don't think tutorials are the solution to everything. I'd assume most people look at tutorials when

[2021-06-14 07:56] markus2330 commented on #3888
There is even more:

9. The value returned by ksLookup("/...") is used as-is and as specified (without transformation in the code)
10. No external changes to files (only using Elektra's tooling)

Some of these requirements can be taken care of in high-level APIs. But at some point devs also must have interest in participating properly. Imho it is unrealistic to aim for solutions where application

[2021-06-14 09:43] kodebach commented on #3886
You may have more luck by using [Clang on Windows](https://docs.microsoft.com/en-us/cpp/build/clang-support-msbuild). I don't have much experience with Windows programming, but AFAIK it is a bit closer to the Unix ecosystem than MSVC.

Using WSL2 (if that is an option for you) should also [work out of the box](https://github.com/ElektraInitiative/libelektra/blob/master/doc/tutorials/contributing-w

[2021-06-16 20:28] #2405 closed

[2021-06-16 20:28] #2408 closed

[2021-06-17 12:04] mpranj opened #3894 "python: format overflow in logging"
The `python` plugin produces format overflow warnings with GCC due to nullptr in the arguments.

[code]

[2021-06-17 18:18] mpranj commented on #3403
As noted in the last meeting the GNOME team asked me to extract the concurrent access problem described above to a minimal example.

I was unable to reproduce the problem now and seems like it was fixed in the mean time. Thus I removed the locks and everything is still working fine. :+1:

Also as already mentioned, the separate `dbus` worker is _probably_ not needed, so I decided we will not imple

[2021-06-18 01:33] #3360 closed

[2021-06-18 14:25] mpranj commented on #3824
Appending the website build directly to the release pipeline would already save some time. (We avoid running the whole master pipeline)

I'm not a huge fan of editing auto-generated HTML files, but yes, that would be the fastest option.

[2021-06-18 16:39] kodebach commented on #3824
Just building the website also should take very long, I assume. So yes, that would probably be better than "hacking" something into the generated HTML.

[2021-06-18 22:44] #3894 closed

[2021-06-19 23:19] haraldg opened #3896 "toml plugin in 0.9.6 eats the first character of each key"
In updating the openwrt package to 0.9.6 I noticed that the ini-plugin has been removed and toml is recommended instead. However it seems each time the toml plugin writes to the file it eats the first character of each key:

## Steps to Reproduce the Problem

[code]

If your key database (KDB) might influence the outcome, please use `kdb stash`
to temporarily have an empty KDB. (Restore instructio

[2021-06-20 15:26] markus2330 commented on #3896
Thank you so much for reporting!

I can reproduce the bug. The problem seems to be specific to the mountpoint `/`, so this triggers the error:

[code]

but with another mountpoint the problem does not occur:

[code]

My guess is that it is either a problem introduced in #3555 (keyname overhaul by @kodebach) or this case was simply never tested as toml is not yet being tested as default backend (#2

[2021-06-20 15:43] haraldg commented on #3896
Thanks for your confirmation and details.

I'm happy to use any other storage plugin as default for openwrt, but ini has already been removed and toml was recommended. The criteria for a default backend are:
1. no dependency besides libc
2. human readable file format

[2021-06-20 15:47] kodebach commented on #3896
This certainly could be an error caused by #3555. Other plugins (e.g. `dump`) had similar issues with cascading keys. I don't have time do any real work on this right now, but I will check again later this week.

@markus2330 are you sure it is just caused by `/` or does it happen with any root key (e.g. `user:/`)? The TOML plugin seems to mostly use unescaped names, where cascading vs. non-cascadi

[2021-06-20 18:29] haraldg commented on #3896
When writing the initial package for OpenWRT we decided against dump as default storage on purpose: Aside from the human-friendlyness it actually has a dependency besides libc - libstdcpp.

[2021-06-20 18:35] kodebach commented on #3896
Ah yes, I forgot about that. The C++ dependency is of course not ideal for embedded systems.

[2021-06-23 09:34] kodebach commented on #2761
@markus2330 Does this bug still exist? Should we reopen the issue?

[2021-06-23 11:29] markus2330 commented on #2761
#3742 should fix it.

[2021-06-23 14:34] markus2330 commented on #3403
Sounds good :+1: Thank you for the update!

[2021-06-23 14:39] markus2330 opened #3897 "build website in release pipeline"
As discussed in #3824 the website could be built in the release pipeline, then we do not need to wait for one more master build after the release (if it is possible and makes sense). The process ideally would be:

- wait for a "green" master
- press the release button
- confirm with "yes"
- finished :rocket:

If we do it: Please also update the docu for how to do a release accordingly.

[2021-06-23 14:40] markus2330 commented on #3894
Thank you so much for fixing this!

[2021-06-26 04:32] markus2330 opened #3898 "build&test openwrt packages"
We should try to build

https://github.com/openwrt/packages/blob/master/libs/elektra/Makefile

on our CI.

later steps:
- [ ] also build with BUILD_TESTING=ON and let the tests run on some hardware.

[2021-06-26 04:38] markus2330 commented on #3519
I reprioritized the tasks. For macOS build agent we first need to evaluate if we can have satisfactory results with a small time budget, otherwise I would also put this to the backlog.

[2021-06-27 05:29] markus2330 commented on #3570
I close this issue, as the problems now have individual issues. The only important left-over is #3896

[2021-06-27 05:29] #3570 closed

[2021-06-27 05:47] markus2330 commented on #3659
@mpranj I think we should clean up a bit and not take too many issues from release to release. Can you somehow realistically determine which of your issues will actually be done until the next release (Juli), for the others either remove the milestone or add `0.9.*` (if it must be before 1.0). If you need help in fixing some of the issues, please ask. I think we are already in a state where we act

[2021-06-27 05:53] markus2330 commented on #2190
We simply should make `kdb stash` or some clean docker/chroot a precondition in doc/TESTING.md.  Then such left-overs bugs would not matter.

What do you think? How do you execute the tests without running into these problems?

[2021-06-27 14:06] markus2330 opened #3900 "diff of installed files for releases"
In previous releases we created diffs of which files are going to be installed. It basically worked by

[code]

Can we include this in the automatic release notes #3899 (or later)  please?

[2021-06-27 19:59] kodebach commented on #3896
I'm now 99% certain this issue is caused only by root-level keys. We should probably add a version of `check_kdb_internal_suite` that uses a root level key, since they are slightly different since the key name change. In particular, root level keys are the only ones that end with a `/` in escaped form, which translates to an additional `\0` at the end of the unescaped form.

Maybe we should change

[2021-06-28 06:00] markus2330 commented on #3896
#3478 would give certainty.

Yes, I agree. Very possible that other storage plugins face the same issue. Can you create an issue or PR for this?

Yes, very good idea. I also don't like the special handling of / keys. Can you create an issue or PR for this?

[2021-06-28 11:17] kodebach opened #3902 "Change unescaped form of root keys"
Currently, keys always have this form (`[...]` means `...` is optional, `·` is a zero byte):
- Escaped:
[code]
- Unscaped:
[code]

In this structure, root-level keys appear different. This is fine for escaped names, because they are meant only as a human-readable version and not for direct and easy manipulation. In the unescaped form, however, we want something that is nice for computers and progr

[2021-06-28 11:20] kodebach opened #3903 "Add root-level tests to `check_kdb_internal_suite`"
Currently, the unescaped form of root-level keys appears to be different (*). We should therefore introduce a version `check_kdb_internal_suite` that uses a root-level parent key in case plugins behave differently in such cases.

This issue may become somewhat obsolete with #3902, but additional tests can never hurt.

---

(*) They only appear different. There is still a regular structure behind a

[2021-06-28 11:32] kodebach commented on #3896
See #3902, #3903

[2021-06-28 14:46] markus2330 opened #3904 "cross compile Rust"
It seems like the cross compilation of the Rust binding caused problems in OpenWRT:

https://github.com/openwrt/packages/commit/49ed96f309f9abfefa46890f5d44b771af1f2708

@haraldg Do you happen to know a link to the build log?

@PhilippGackstatter Do you want to take a look at this?

[2021-06-28 18:56] markus2330 commented on #3902
I like the proposal :fireworks:

[2021-06-28 21:37] haraldg commented on #3904
Sorry, I don't.

[2021-06-29 12:07] mpranj commented on #160
Jenkins CI will be offline for maintenance very briefly. (Expected 5-15 minutes, no builds are currently running)

[2021-06-29 14:29] mpranj commented on #3659
Sounds good. I also don't think I will fix this issue here for 0.9.7.

----

To be frank, some issues were simply not as important _to me_ as getting the GSettings update out. The GSettings fix will land in 0.9.7, still experimental as before, but it will work. (I use it on my main machine .. )

[2021-06-29 21:01] PhilippGackstatter commented on #3904
I can take a look, though I am not sure where to begin. A build log would certainly help. Also, I don't know how quickly I'll be able to work on it.

[2021-06-30 04:33] markus2330 commented on #3904
Thank you for looking into it! :sparkling_heart:

I think the best way to find the problem is to actually cross-compile. You can use either openwrt (and enable the rust bindings) or also CMake's cross compile functionality (probably easier if your distribution has a cross-compiling toolchain but might not trigger the problem).

[2021-06-30 04:47] markus2330 opened #3905 "ni as default plugin"
@kodebach can you test, similar to #3478 if ni would work as default plugin?

(Needed as fallback if toml is creating further problems.)

I am thinking that we could make ni and toml similar in behavior by giving them both a "meta" option so that they are able to store arbitrary metadata in sections for `spec:` and hierarchical configs in sections for the other namespaces.

[2021-06-30 05:17] markus2330 commented on #3659
And maybe not even 1.0, that is why I did not tag it for 0.9.*.

I fully agree, I don't think we need to queue them up for the next release. Imho the milestones should help us to not forget important issues.

I am looking forward! :rocket:

[2021-06-30 12:44] markus2330 opened #3906 "uv.h not packaged"
The file `uv.h` added by notification/kdbio in src/include/kdbio/CMakeLists.txt is not included in our cpack packages. It should be in the dev package. There are also other files there not included in any package.

[2021-06-30 13:01] markus2330 commented on #3906
Also the ./src/bindings/io/uv/elektra-io-uv.pc.in seems to be not included.

Maybe the whole io-uv is excluded?

[2021-06-30 13:09] markus2330 commented on #3906
I'll investigate which of the io bindings are actually needed.

[2021-06-30 13:32] kodebach commented on #3905
The `ni` format is better than `dump`, but I still wouldn't call it human-friendly. Also, I think `ni` is currently limited to a maximum key size (relative to the parent key) of 128:

https://github.com/ElektraInitiative/libelektra/blob/9bedbec071621e03e0607c04bfec6b31fc7800d3/src/plugins/ni/nickel-1.1.0/src/nickel.c#L36-L49

(Line 41 is important)

https://github.com/ElektraInitiative/libelektra/

[2021-06-30 14:22] markus2330 commented on #3906
Harald actually needs ev, so we need a package for ev (too).

[2021-06-30 14:27] markus2330 commented on #3905
This restriction is probably irrelevant but the question is if there are problems in practice, e.g., mounting does not work or similar.

Can you create a PR where ni is used as default plugin and analyze which problems come up?

[2021-06-30 14:34] markus2330 opened #3908 "0.9.7 release"
Harald has a OpenWRT package which works except of #3896. Can we maybe make a release just for that asap?

If further issues come up, e.g. in #3478 we could have one more release next week or so.

This would also give opportunities to test and fix #3899.

@mpranj @robaerd What do you think?

[2021-06-30 14:49] kodebach commented on #3905
You mean the key length? It is very much possible that there is a longer key, especially in the `system:/elektra/mountpoints` part of the KDB.

I can create one later today, but IMO `ni` is not suitable as a default plugin anyway.

[2021-06-30 15:03] markus2330 commented on #3905
Agreed, let us concentrate on TOML.

[2021-06-30 15:03] #3905 closed

[2021-06-30 18:40] markus2330 opened #3909 "Embedded libautomation requirements"
must:
- [x] OpenWRT package #3898
- [ ] ini-like, human-writable plugin (like TOML) as default #3478
- [x] internalnotification with ev #3906 #3907
- [x] everything in C99 (no C++ runtime) #3111
- [X] polling (repeated kdb)
- [ ] make cache suitable for flash storage #3944

should:
- [ ] TOML with specs #3478
- [X] specification with [paths](https://www.libelektra.org/plugins/path), ints

nice to

[2021-06-30 19:51] kodebach commented on #3898
Why should we test an external package on our CI??

The [openwrt/packages](https://github.com/openwrt/packages) does have a CI setup, so the package should really be tested in their CI (AFAICT it is).

[2021-06-30 22:32] kodebach opened #3910 "Make TOML work as default storage plugin"
Ensure that the `toml` plugin can be used as the default storage plugin

### Known Issues
- [x] #3925
- [x] #3911
- [x] #3912
- [x] #4466
- ~Whitespace is not fully preserved (probably acceptable, as long as newlines and comment positions are preserved)~
- [ ] Some invalid TOML files are parsed as valid (Happens on invalid simple table/tablearray combinations or redefintions)
- [ ] Fail on unknown

[2021-06-30 22:33] kodebach commented on #3896
I'm closing this, since the original issue is fixed. I created #3910 for any future issues that prevent TOML from being used as the default storage plugin.

[2021-06-30 22:33] #3896 closed

[2021-06-30 22:37] robaerd commented on #3900
I am currently a bit unsure on how to implement the access to the _installed-files_ file of the previous version.
Following would be the possible options (sorted by best fit):

1. Add the _installed-files_ file to git. Creating a seperate directory in the [ftp repo](https://github.com/ElektraInitiative/ftp) would fit well.
2. Load the previous _installed-files_ file from the artifacts of a previou

[2021-06-30 22:50] kodebach opened #3911 "TOML: Arbitrary metadata without using comments"
This `ni` file
[code]

could be written as this `toml` file:

[code]

The key here is that `.` is TOML's separator for nested levels. So `mykey.foo` means `foo` within `mykey`. In Elektra we normally use `/` for that. In TOML `/` has no special meaning, so other parsers will just treat it as any old character. In the `toml` plugin however, we could give it special meaning.

The idea is that we use

[2021-06-30 22:50] kodebach opened #3912 "TOML: non-leaf values without directoryvalue"
Adding non-leaf values could be supported by using a PUA (private-use) Unicode codepoint.

For example:

[code]

would mean

[code]

This is not a perfect solution, since there could be a collision, if someone else tries to use the same PUA codepoint. However, I think this is just as unlikely as a collision with `___dirdata`. If we want to further reduce the collision probability, we could choose

[2021-07-01 08:32] markus2330 commented on #3898
So that we find problems before the release (and not after).

[2021-07-01 08:49] markus2330 commented on #3900
Exactly, there where we have other logs and so on from every release.

[2021-07-01 08:49] markus2330 commented on #3900
For the previous release you can create the file manually so that the script will start working :rocket:

[2021-07-01 08:51] markus2330 commented on #3910
Thank you for summarizing the current issues!

I think the quoting issue is the most important problem, I put it to the top.

[2021-07-01 08:52] markus2330 commented on #3912
Which problem do you want to solve with this proposal?

[2021-07-01 08:54] markus2330 commented on #3911
As said, I like the idea :rocket:

Probably we should use `/@elektra.meta` as in FUSE?

[2021-07-01 08:58] markus2330 commented on #3900
Btw. for the ABI tests we will also need the possibility to refer to the previous release.

[2021-07-01 10:20] kodebach commented on #3898
But it is an **external** package, why do **we** (the maintainers of Elektra, but not of this package) care whether it works?

Also what is special about this package? If we test this package to make sure we don't break it with a release, why don't we test other external packages too? Where is the line of what we should and shouldn't test on our CI? Normally, you just test the things within your o

[2021-07-01 10:36] kodebach commented on #3911
That would be unnecessarily verbose IMO.

[2021-07-01 11:42] kodebach commented on #3912
I thought the issue title and description would be obvious... The problem is: You need `directoryvalue` to allow non-leaf keys with value in TOML files.

**Why are non-leaf keys with value important?**
The simple reason is a default plugin needs to support them, IMO.

**Why is `directoryvalue` bad?**
1. `directoryvalue` is written in C++
2. Having the _default_ storage plugin depend on another plu

[2021-07-01 12:20] robaerd commented on #3900
Currently we do not have any logs from the release under git, only an archive that can be downloaded from our Jenkins UI. However, adding these logs to git would actually be a good idea.

My current approach for the ABI tests would be to use the previously published `elektra-test` packages, install them and run the tests again. This would remove the need to ever compile the previous release in the

[2021-07-01 15:22] PhilippGackstatter commented on #3904
Any particular target that fails when cross-compiling? And any particular package? I've never worked with openwrt before. Do I have to start by compiling https://github.com/openwrt/openwrt?

[2021-07-01 17:34] haraldg commented on #3904
You don't need to compile openwrt yourself. You can install the
precompiled openwrt sdk for any of the targets. Ie for mxs:
https://downloads.openwrt.org/releases/19.07.7/targets/mxs/generic/openwrt-sdk-19.07.7-mxs_gcc-7.5.0_musl_eabi.Linux-x86_64.tar.xz
https://downloads.openwrt.org/releases/21.02.0-rc3/targets/mxs/generic/openwrt-sdk-21.02.0-rc3-mxs_gcc-8.4.0_musl_eabi.Linux-x86_64.tar.xz

[2021-07-01 20:21] kodebach commented on #3839
Slight correction: The replacement for the general case is actually `strncpy(..., keyName (k), ...)` or in case of binary values `memcpy(..., keyValue (k), ...)`.

[2021-07-01 20:21] kodebach commented on #2296
I don't know why a `skip` metakey would be useful here. Whether or not returning binary keys from `ksLookup` makes sense or not, is determined by the code surrounding `ksLookup`, so an option to `ksLookup` would be obvious solution.

IMO this is solved by a simply adding a `KDB_O_BINARY` so only `ksLookup (ks, lookup, KDB_O_BINARY)` can return binary keys. Basically, we would add

[code]

somewher

[2021-07-01 20:22] kodebach commented on #3797
On the one hand always returning a string allows things like `strlen(keyString(k)) == 0` too check for an empty string. But at the same time people might expect that `strlen(keyString(k)) < MAX_LEN` also works, but this might silently break code down the line, if `k` is binary and `strlen("(binary)") < MAX_LEN`.

I think the best solution would be:
1. Obviously just return the string value, if the

[2021-07-02 12:27] kodebach commented on #3910
I think currently there is no mechanism to load additional plugins, if `KDB_DEFAULT_STORAGE` has a dependency (e.g. `base64` or `directoryvalue`). I think this is not a problem right now, but ideally the default plugin should work without dependencies. I.e. if a dependency is missing the plugin should fail safely.

[2021-07-02 12:27] kodebach commented on #3912
Another reason, why this is a problem: AFAIK there is currently no mechanism to load additional plugins, if `KDB_DEFAULT_STORAGE` has dependencies.

[2021-07-02 14:04] kodebach commented on #3505
Is it intentional, that we now have a Cirrus Job that enforces that all man page files contain the current month?

See for example: https://cirrus-ci.com/task/6194364968861696
One man page file was changed, but the unmodified files should be accepted with the original date IMO.

[2021-07-03 10:44] markus2330 commented on #3912
Loading works via proxy plugins, e.g. we had the dini plugin which used ini with a fallback to dump if ini is not available. Such a proxy would be needed for base64, too.

C++ is indeed a problem for #3909. But it is still unclear if directoryvalues are needed at all. Let us keep it low prior unless it turns out it will be needed.

[2021-07-03 13:03] markus2330 commented on #3911
About syntax: I think we should choose one way to express metadata (in the general sense) in TOML, either by `/` or by PUA (private-use) Unicode codepoint (see #3912).

If it is still possible to have keys with base name `/meta` then it is unnecessary. With `/@elektra.meta` no escaping of such base names is needed (as it is reserved).

I cannot find this metadata in the original `ni` file? And the

[2021-07-03 13:11] markus2330 commented on #3898
Source-only releases are not sufficient in the early-adapters phase we are in. We need to avoid situations like #3682

It is the only one that uses:

1. cross compilation #3904
2. in-source-tree builds #3451
3. ARM
4. non-libc

So it vastly improves the scope of which types of bugs we could find during development.

We plan to add some others, see #3519.

There is no line, there is simply a limite

[2021-07-03 13:25] markus2330 commented on #3505
No, we actually want the month where the file was modified: #3505

[2021-07-03 13:30] kodebach commented on #3898
Do you mean *g*libc? I don't see how Elektra would work without any libc...

Another way to look at it is: It vastly expands the scope we need to suppor, i.e. getting to a stable 1.0 would be much simpler with a more limited scope.

Okay, then I'm fine with this, as long as there is some sort of process to determine what we build on our CI. Building just some random packages without first thinking

[2021-07-03 13:31] kodebach commented on #3505
Then we should probably disable the Cirrus Job, since it obviously isn't working correctly.

[2021-07-03 13:34] markus2330 commented on #3910
You are right, there is no automatic mechanism. But it is quite easy to build one, e.g., see the dini plugin.

[2021-07-03 13:40] kodebach commented on #3912
I really don't like that approach and one of the goals of #3693 is that plugins do not load other plugins. Only `libelektra-kdb` loads plugins and then plugins can get a reference to another plugin from `libelektra-kdb`.

No, we don't actually need a proxy for `base64`. Instead the `toml` plugin could simply return an error, if it encounters a binary key. If the `base64` plugin is loaded, it would

[2021-07-03 14:04] kodebach commented on #3911
That is not correct.

1. Currently `®` is still used for reserved names, although that can be changed.
2. It is not about keys having the base name `/meta`, but about keys having a base name that **ends** with `/meta`.
2. We reserve names based on a keyname part prefix. I.e. key names that have a part starting with `@elektra` are reserved. But in the TOML case, we are talking about suffixes.

Fixe

[2021-07-03 16:14] markus2330 commented on #3898
Exactly, the package is called libc6 in Debian, though.

The scope is according to doc/WHO.md

Yes, I totally agree. In #3519 we already planned to have a separated pipeline for long-running tests.

[2021-07-03 16:16] markus2330 commented on #2296
So that you can pass a pre-loaded KeySet to `kdbGet` which are not meant to be found by later ksLookup (all of which have the `skip` flag). The reason to do something like this is that the opmphm will not need to be rebuild if these keys are added later (e.g. by gopts).

[2021-07-04 07:19] markus2330 opened #3916 "Goals of backend plugin"
Why would you want to have that goal? It sounds a bit like elektraMalloc (centralized resource management).

The original goal was backend=plugin, i.e. nested plugins.

[2021-07-04 10:44] markus2330 commented on #3911
Thank you for your examples! It actually convinced me from the opposite. Even though the PUA (private-use) Unicode codepoint might be technically superior, similar to ®, in practice it looks to me totally annoying to actually write this. Using `/` looks to me much more convenient.

We need escaping either way: applications are free to use PUA (private-use) Unicode codepoint within their key names

[2021-07-04 20:07] kodebach commented on #2296
I see what the idea was now. Adding `skip` metadata would be a solution for both OPMPHM pre-initialization and avoiding unwanted binary keys. However, to me this seems a bit like abusing a solution and like a bit of a hack.

IMO it would be better to control whether binary keys are returned via a `KDB_O_BINARY` option and use a different solution for OPMPHM, as this would be more clear to new user

[2021-07-04 21:32] kodebach commented on #3916
This is still the goal. A backend plugin is just a normal plugin that also fulfils a strict contract with `libelektra-kdb`. Nested plugins are also still the goal, in the sense of "one plugin calls another plugin".

However, plugins _loading_ other plugins directly is not a goal.

That is exactly the point. Although I would compare it more to `malloc` than to `elektraMalloc`. The idea is that `lib

[2021-07-04 22:46] kodebach commented on #3911
Yes, this is why I originally went with `/meta`. Although, I find `\uECCC` not that much worse to write than `/meta` (assuming the actual hex digits we'd use, are easy to remember). However, readability is much much worse with the PUA solution. `/meta` and `/value` would be pretty self-explanatory.

There are a total of 137468 Unicode private-use codepoints. If we were fine with reserving `®elektr

[2021-07-05 08:13] tucek commented on #3874
Since `ENABLE_AUTO_NATIVE_REF_CLEANUP = false` currently effective renders `Key::release()` to a NOOP, we can remove the `Key::get*AndRelease`.

[2021-07-05 15:26] markus2330 commented on #2296
There seems to be a confusion: This use case and issue is **only** about skipping preloaded keys (added to keep OPMPHM intact), I changed the title.

I do not see a use case to avoid looking up binary keys, they should already be rejected by a validation plugin (if they are unwanted).

[2021-07-05 17:27] kodebach commented on #2296
I don't think a validation plugin could cover 100% of the use cases, of a `KDB_O_BINARY` option (e.g. shared mountpoints where one client needs binary, but the other doesn't support it). But application code can always check whether the returned key is binary and ignore it.

Separately from that, I think my `ksBuildHashmap` idea wouldn't work. However, I do still think a metakey `skip` is the wron

[2021-07-05 21:53] kodebach opened #3925 "Strings are not always properly quoted"

[2021-07-06 10:24] mpranj commented on #3505
Closed via #3923 thanks to @kodebach. 🚀

[2021-07-06 10:24] #3505 closed

[2021-07-07 07:14] #3874 closed

[2021-07-07 07:14] #3897 closed

[2021-07-07 07:14] #3900 closed

[2021-07-07 07:43] #3906 closed

[2021-07-07 10:13] markus2330 commented on #3916
Might make sense depending on the details. Elektra's module loading system (or actually dlopen) already takes care of multiple loading of libs, so centralized plugin management only makes sense for returning a reference to an already loaded plugin (as you describe). But is this a task for libelektra-kdb or rather the backend plugin? Do we need references across several backends?

We should also co

[2021-07-07 12:56] kodebach commented on #3916
Short answer: I think we should stop discussing ideas for the backend plugin until we had a meeting and talked about the ideas and concepts in #3693.

Long answer below. But first:

Please be clear in your terminology. I always make sure to talk about either:
1. "**a** backend plugin", "backend plugins" or "the [designated] backend plugin [for a mountpoint]": Any plugin that can be used as a the d

[2021-07-07 14:05] mpranj commented on #3908
As discussed in the meeting the release will be done this week.

[2021-07-08 06:12] #1522 closed

[2021-07-08 10:44] kodebach commented on #3519
Not directly related to releases, but fits the general CI discussion here: Is there a way to tell Jenkins to prioritize the stages up to "Main Build" over the "Full Build" stage when assigning worker nodes to jobs?

It can be very annoying, if there are one or two PRs that use all the nodes for their "Full Build" stage and then other PRs don't even get the basic feedback of the release notes and f

[2021-07-08 13:20] robaerd commented on #3519
There exist a few such plugins (e.g. [Jenkins Priority Sorter Plugin ](https://plugins.jenkins.io/PrioritySorter/)), but it appears that none of them have an interface to integrate them in a Jenkinsfile (see [issue](https://issues.jenkins.io/browse/JENKINS-64323?jql=text%20~%20%22priority%20sorter%20jenkinsfile%22)).
Maybe the assignment of priorities is still possible through another way. I will

[2021-07-09 23:44] mpranj commented on #3512
The `testscr_check_kdb_internal_suite` test alone takes now about 40 minutes of time on `i7`.
Using `tmpfs` for the config and cache directories (due to heavy I/O) reduces the test time from 40 minutes to about 6 seconds on `i7`.

[2021-07-10 05:57] markus2330 commented on #3898
See also https://github.com/ElektraInitiative/libelektra/issues/3909

basically we need to get the openwrt toolchain, copy the Elektra Makefile to package/libs/elektra and run `make || make -j1 V=sc`

[2021-07-10 06:18] markus2330 commented on #3908
Great job :rocket:

I only found some minor things, I pushed them to #3936

Did the new release scripts work as expected?

The alpine image does not seem to be updated, though:

[code]

[2021-07-10 08:31] mpranj commented on #3908
Most build artifacts and stable packages were not published yet due to an error. I will rerun it today.
This is the reason why the release is not yet announced.

[2021-07-10 19:35] markus2330 opened #3937 "linker problem highlevel API"
## Steps to Reproduce the Problem

@haraldg tried to compile

[code]

with following flags:

[code]

## Expected Result

compiles+links

## Actual Result

[code]

## System Information

- Elektra Version: master
- Debian (testing?)

[2021-07-10 20:24] haraldg commented on #3937
The error is, that gcc in debian testing needs the libraries _after_ the source file. The following works:
`cc -I/usr/include/elektra elektra-hl.c -lelektra-highlevel -lelektra-kdb -lelektra-ease -lelektra-core`

[2021-07-11 06:40] markus2330 commented on #3937
Perfect, so nothing to do from our side :wink: :rocket:

[2021-07-11 06:40] #3937 closed

[2021-07-11 06:51] markus2330 opened #3938 "highlevel: do not fail without any spec"
@haraldg reported a usability problem of the highlevel API.

While it is important that we fail with an inconsistent/wrong spec during `kdbOpen` it is not a good design choice that `elektraGet` calls fail because of a missing type in the spec. Let us assume following example program:

[code]

## Expected Behavior

It is fine to fail if there is no config nor spec:

[code]

## Unwanted Behavior

It

[2021-07-11 06:56] markus2330 commented on #3938
Btw. the situation drastically improves if the TOML plugin is in use, then we have:

[code]

[2021-07-11 13:20] mpranj commented on #676
The [0.9.7 release](https://www.libelektra.org/news/0.9.7-release) is now fully published. 🥳

@ElektraInitiative/elektradevelopers Thank you all for making this release possible! :heart: We are happy if you announce the release on various media. If you have open PRs, now is a **great time to rebase**.

[2021-07-11 13:27] mpranj commented on #3908
All build artifacts should now be published. Please reopen if you find any remaining issues.

[2021-07-11 13:27] #3908 closed

[2021-07-11 14:25] markus2330 opened #3939 "highlevel: make work with internalnotification"
How is it possible to get the handles so that internalnotification+highlevel works together?

[2021-07-11 16:05] PhilippGackstatter commented on #3904
I've tried to look into it, and I'm not sure I understand what the actual problem is. It seems none of the packages in openwrt/packages actually use Rust (according to GitHub's language statistics). So is the problem that the Rust bindings fail to compile when compiling elektra, even though they aren't needed? In that case, it seems the cited commit `49ed96f` fixed that by disabling cargo, right?

[2021-07-11 17:46] haraldg commented on #3904
Yes, you are right in that there is no actual problem as nobody actually needs the rust bindings on OpenWRT. Probably ATM nobody is using elektra with OpenWRT at all.

The idea is more that compiling elektra with a cross compile for a non-libc target tends to unearth many subtle standard violations and such. Each time we disable a feature, because there is some issue, it reduces this build coverag

[2021-07-12 12:34] kodebach commented on #3939
It is not currently possbile to combine the notification API and the highlevel API. This wasn't a requirement originally and since then it was a low-priority nice-to-have issue.

[2021-07-12 13:06] kodebach commented on #3938
First of all, it is not recommended to use the highlevel API without code-generation. This is clearly stated in the [tutorial](https://github.com/ElektraInitiative/libelektra/blob/master/doc/tutorials/highlevel.md).

It may not be the best choice, but it was the choice we made. Therefore, I see this issue as a proposal for an API change, enhancement or new feature, i.e. a low-priority issue consid

[2021-07-13 08:10] mpranj commented on #3449
Disabling the bindings tests works since 0.9.6. If any new problems occur, please open a new issue.

[2021-07-13 08:10] #3449 closed

[2021-07-13 08:42] mpranj commented on #2190
I usually use a clean docker environment to avoid any left-over files.

The best would be that the tests do not touch user config files at all ... (so no backup&restore either).

To me the `mktemp` approach seems best, because it is quite clear that the files should not persist in a users `.conf` folder. I've had many annoying leftover files from tests there.

[2021-07-13 09:01] mpranj commented on #3603
Seems like travis-ci.org was finally shut down. We could apply (via support) to receive free open source credits, but I do not think it is worth the hassle.

The remaining task here would be to migrate some/all of the travis linux builds to github actions.

[2021-07-13 16:16] mpranj commented on #2695
The original issue has actually been resolved since 0.9.0 (64932464598fff8bfb107004deeb5ec0ec2bde40) and I can not reproduce it any more.

[2021-07-13 16:16] #2695 closed

[2021-07-13 16:36] mpranj commented on #2202
Currently the only approach to unlock a key is to duplicate it. Do we want to stick to this or add a (private) function to unlock, to save some operations?

[2021-07-13 18:50] #1740 closed

[2021-07-14 06:51] markus2330 commented on #3603
I don't think it is a good idea to migrate to github actions: then we might have the same problem in a few years when github action limits its free use. Hopefully @robaerd can migrate at least one job to our new Mac.

[2021-07-14 06:59] markus2330 opened #3943 "optimize syscalls"
Another area of optimization is to avoid unnecessary system calls, e.g. a kdbGet (without any changes) does:

[code]

The stat64 obviously are needed but why do we recreate the mmap if actually nothing has changed? Shouldn't kdbGet be a NOP then?

There might be further unnecessary create, copy, rename, write, unlink calls to be investigated.

@mpranj are you interested in this kind of work?

The

[2021-07-14 08:17] mpranj opened #3944 "cache: subsequent `kdbGet()` calls re-read cache"
As reported in #3943 subsequent `kdbGet()` calls re-read the cache files, even though no operation is necessary.

[2021-07-14 08:23] mpranj commented on #3943
I simply overlooked this case to be honest. Thank you for investigating this.

The cache is not recreated though, it is just re-opened. I fully agree this needs to be optimized away and I opened #3944 to track this specific problem.

The `tmpfs` "workaround" is not needed because of the cache. It is needed due to slow I/O inside docker containers on specific host filesystems. Since we don't need t

[2021-07-14 08:41] mpranj commented on #3603
Ok, but there were only Linux jobs remaining on travis.

When multiple builds are running our own infrastructure on Jenkins is still the bottleneck. GitHub would offer much more computing power, even if we have to migrate the jobs again in a few years (which is all hypothetical).
We have definitely spent much less time migrating and maintaining jobs on travis and cirrus than we have spent on Jenki

[2021-07-14 08:57] markus2330 commented on #3943
Thank you so much for taking over this topic! :sparkling_heart:

I need to clarify: @haraldg now also wants to use this workaround for #3909. For tests it is okay to use tmpfs.

[2021-07-14 09:12] haraldg commented on #3943
I'm not quite sure, what we are talking about here.

The unnecessary open() etc calls don't bother me much. I only pointed them out because I happened upon them when checking with strace (for generally sane behaviour).

What is more of an issue: I also noticed that "/root/.cache/elektra/backend//cache_cascading.mmap" is written (according to filesystem timestamps) once per starting the application

[2021-07-14 18:11] markus2330 commented on #3603
There is plenty of additional hardware, I hope we come around to add them as build agents in August.

There are not only hypothetical reasons (to be independent of companies which need at some point profit to continue doing something) but: Supporting several CIs is definitely the worst option in terms of how much time we need to spend. Jenkins covers more than 90% of our tests. I was never in favo

[2021-07-14 19:00] kodebach commented on #3603
AFAIK the only remaining part that isn't cover yet are build directories with spaces in the path.

More hardware only helps, if it is fast as well. Especially the IO, which is the bottleneck for many of our tests.

Then we shouldn't use GitHub at all and self-host everything. However, we already decided that this not a good idea (bad discoverability, high effort and cost).

I totally disagree. Mai

[2021-07-14 19:12] mpranj commented on #3603
I migrated all but one macOS job to GitHub Actions to speed up build times (see #3945). The PR should be done soon.

I think it is best if we leverage the available resources as long as we can. The migration was quite easy after all. It is still possible and quite easy to migrate back and forth between cirrus and github actions.

I also think we should keep Jenkins (or some self-hosted CI) so we a

[2021-07-15 07:24] markus2330 commented on #3512
Thank you very much! Can we close this issue or is separation of some tests still useful?

[2021-07-15 07:52] markus2330 commented on #2202
Maybe we can simplify it by combining the locking with the ref counter: With increased ref counter the key name gets locked, with a ref counter 1 it gets unlocked again. This basically reserves the ref counter to be used only with data structures and not for bindings. To make both things work (unlocking names + ref counting for bindings) we need two ref counters.

[2021-07-15 10:48] mpranj commented on #2202
Are bindings really using the ref counter? From what I see they mostly only wrap the incRef / decRef functions ..

If we can simplify it to **one** refcounter it sounds like a nice solution. If we need to add a second refcounter it seems to be more complex than just using a flag to lock the name ...

[2021-07-15 10:57] lawli3t commented on #3839
### Return Codes are sometimes insufficient
- Zweiten Kanal fuer Fehlermeldungen einfuehren
- Bei Funktionen mit erwarteten Fehlern, Fehlermeldungen via zweiten Kanal zurueck geben
- Return Codes je nach Typ vereinheitlichen und bei Bedarf kann der zweite Kanal fuer Fehlerinfos gecheckt werden

### Error Handling for keyString()
- Bei key == NULL 0 returnen, error code via zweiten kanal
- Bei key-

[2021-07-15 15:24] markus2330 commented on #2202
Hopefully we will get a better API, like `keyBorrow` for incrementing the ref counter and the keyLock API for inc/dec of available locks.

I am still not totally convinced that this bug here alone is enough to justify two counters.

[2021-07-15 15:54] markus2330 commented on #2202
At least C++ does heavily and as such all SWIG bindings do, too.

[2021-07-16 07:25] markus2330 commented on #2296
Maybe "skip" is not a good name. The general idea is to hide keys, so probably we should call it:

1. hidden
2. invisible
3. lookup/hide
4. lookup/disable

I don't like the idea to ignore based on any other metadata, it will make the lookup process too confusing. Only hidden keys should be hidden.

[2021-07-16 15:27] mpranj commented on #2202
Yes, maybe it is a non-issue, especially if we remove/rename `ksPop`.
We could probably just improve the documentation and state that a key name can not be changed even after a `ksPop`. That was my main issue, I was under the impression that i could reuse a key after `ksPop`.

[2021-07-16 18:41] kodebach opened #3948 "refcounter for KeySet"
As discussed in #3869 and #3839, we will introduce a reference counter in `struct _KeySet`.

[2021-07-18 07:53] markus2330 commented on #160
There seems to be some outage on the community server, I am investigating. I've shut down https://build.libelektra.org/ until I find the reason.

[2021-07-20 11:53] kodebach commented on #3911
No it is not TOML. There is an official specification for TOML that defines both syntax and semantics. [It clearly states] that this
[code]
and this
[code]
have the same meaning. Both define a table `fruit` which contains the key `apple` with the value `"red"`.

TOML has datatypes (like JSON). Tables, Arrays, Strings, Integer, Floats, Booleans and the various Date/Time values are all distinct type

[2021-07-20 12:38] markus2330 commented on #3911
Yes but that shouldn't be a problem, both could be metakey apple with metavalue red in the key fruit. We could do the same for `ni`, then both have a meta-mode with the meaning: last level of hierarchy, usually indicated by sections, refer to metadata.

There is no need to defend any particular solution as "mine"/"yours", let us find together advantages/disadvantages of each solution. Summarized w

[2021-07-20 12:54] markus2330 commented on #3297
Currently we lose the comment of the example above:

[code]

[2021-07-20 13:18] markus2330 opened #3953 "restructure release notes to be more useful for 1.0"
@mpranj we already talked about it but we didn't get to a conclusion yet. How do we want to assemble the 1.0 release notes? As starting writing the 1.0 release notes already now is probably unrealistic, what about having sections in every release that will be copied to the 1.0 release notes? I am mainly thinking about highlights and breaking change but maybe we can restructure the release notes to

[2021-07-20 15:07] kodebach commented on #3911
"mine" vs. "yours" was not supposed to be part of the argument. If it seemed that way that was my mistake. I just use "mine"/"yours" because it is the simplest way to refer to the two solutions.

That being said, "mine" vs. "yours" doesn't actually matter, because neither solution really works. To retain the structure of the file we would need meta-metadata in both cases. I'm not 100% sure, if you

[2021-07-21 15:06] kodebach opened #3954 "spec: tags for defaults in arrays/tables/maps"
## Status Quo

When writing a specification, there are 2 basic kinds of keys you can specify:
1. Fixed Name Keys
    For keys that have a fixed name (e.g. `server/port`) you can just define the specification directly.
[code]
2. Dynamic Name Keys
    Sometimes there are cases where you don't know the full key name when writing the specification. Some parts of the name are chosen by the user. Curren

[2021-07-21 15:06] kodebach commented on #3911
I had an idea for this. See #3954

[2021-07-21 15:09] kodebach commented on #3954
**Basic idea of implementation**

We see that e.g. `drivers/#` has `array/tag = type`, so we look for existing keys matching `drivers/#/type`. For every matching key we find, we remove the base name to get e.g. `drivers/#9`. We then apply the spec below `drivers/#` to the keys below `drivers/#9`. This should work for `_` too, as well as keys with multiple wildcards e.g. `my/_/weird/#/wildcard/key/

[2021-07-21 18:22] markus2330 commented on #3954
I don't understand the proposal, some questions which might help me understand:

1. you say that you want to define tags, suddenly `array/tag` gets specified? What is a tag what is a array/tag? What is the difference? Are there other tags?
2. "Note: the above TOML file defines these keys" Doesn't give an hint what the tags do, they seem to be ignored?
3. How do the tags make metadata outside of sp

[2021-07-21 18:31] markus2330 commented on #3911
In this context, src/plugins/keytometa should probably mentioned. It restructures a KeySet without metakeys to a KeySet with metakeys. It is conceptually similar to the suggested /meta approach in TOML but with various limitations resulting because it is not a storage plugin.

It simply is not implemented yet. I played around a bit implementing simplespeclang (removed in a3d95f07160d792fdd0f169d85

[2021-07-21 18:35] markus2330 opened #3955 "package gsettings"
Is there some progress in packaging fuse and gsettings? Would be nice to have it so that people (including me) can install it easily.

Probably we should not support current Debian stable, as the next stable will hopefully be released soon.

[2021-07-21 19:13] kodebach commented on #3911
`ni` works semi-decently for `spec:/`, but writing a specification can be quite repetitive and as soon as you want to do anything even a bit conditional, it becomes a nightmare. Those problems don't come from the storage format, but some of them might be fixed by using a different format. For example, to avoid repetitiveness a template system could be devised. This could also save memory (by reusi

[2021-07-21 19:54] markus2330 commented on #690
@kodebach I think this should be fixed with the new backend plugin.

[2021-07-21 19:57] markus2330 commented on #1074
@kodebach will this be part of #3693?

[2021-07-21 19:58] #1291 closed

[2021-07-21 20:03] #2636 closed

[2021-07-21 20:04] #2706 closed

[2021-07-21 20:07] markus2330 commented on #3548
@KurtMi ping

[2021-07-21 20:08] #3716 closed

[2021-07-21 20:09] markus2330 commented on #3490
@bauhaus93 can you update the top-post? Which of these issues are now resolved via the PR that was merged?

[2021-07-21 20:11] markus2330 commented on #3594
This can also be done after 1.0.

[2021-07-21 20:11] #3594 closed

[2021-07-21 20:13] #3743 closed

[2021-07-21 20:18] kodebach commented on #3954
To understand what tags do, ignore all the examples, ignore `array/tag` and even ignore the word "tag" (it's just name I used).

Now, the problem with the combination of `default` and `_`/`#` is essentially that we do not know what we need to replace `_`/`#` to get _all_ the keys we need to generate. In contrast, if we don't need to generate a default key, because the keys exists already, there is

[2021-07-21 20:55] kodebach commented on #3954
My previous answer leaves one question open:

AFAIK there is only one reason why actually _need to_ store metadata in config files outside of `spec :/`. To override a part of the specification. The most common case currently is to override the default size of an array. In theory there could be other types of override (e.g. restrict from `type = long` to `type = short`), but those are hard to do sa

[2021-07-21 21:02] kodebach commented on #1074
The part about reading `user:/elektra/mountpoints` and `dir:/elektra/mountpoints` could be implemented as part of #3693 yes. The rest, especially the resolver changes should probably be a separate PR after that.

[2021-07-21 21:07] kodebach commented on #690
The `spec` plugin will be fixed by #3693, because it won't be a real plugin that can be mounted anymore.

I'm not sure what "all plugins that were already there before" is supposed to mean.

Always mounting `sync` will be the responsibility of any file-based backend plugin. For the `backend` plugin I will implement this.

The other two points are purely a tools issue.

[2021-07-22 10:25] markus2330 opened #3957 "remove kdb aliases"
Currently we have a few aliases, e.g. smount for spec-mount. I propose to remove these aliases, as their benefit is minor, they can be confusing and the man pages do not work for the alias (e.g. `kdb smount --help` doesn't work and `man kdb smount ` shows the wrong page).

[2021-07-22 14:20] markus2330 commented on #690
Did you describe this somewhere?

It is about the bug that @mpranj currently rediscovered: after mounting dbus the cache disappears and similar.

:+1:

The tooling is very important so that mounting works properly for users.

[2021-07-22 15:17] kodebach commented on #690
Not in detail, but in `kdb-operations.md` I wrote about explicitly calling `spec`/`gopts` and not about general global plugins.

That is a problem of the tools. But this should also be solved by removing the concept of general global plugins.

Yes, but if I touch the tools at all in #3693 (it is big enough already), it will only be the bare minimum to make things work. Fixing other tooling problem

[2021-07-24 18:18] mpranj commented on #3953
Copying&rewording from the highlights should be quite easy.

The breaking changes are more problematic, as it is possible that we already did not mention some subtle breaking changes. It sounds like we could benefit from adding a breaking changes section so that it is easier to copy to 1.0 later.

[2021-07-24 18:20] mpranj opened #3966 "Jenkins CI Stages: add basic checks to one job"
### Discussed in https://github.com/ElektraInitiative/libelektra/discussions/3926

<div type='discussions-op-text'>

<sup>Originally posted by **mpranj** July  6, 2021</sup>
Should we add an additional stage with formatting checks etc. before anything else?

It has led to confusion when parallel builds are aborted, as error messages from aborted builds are meaningless. (recently in #3657)</div>

#

[2021-07-25 07:25] markus2330 commented on #3953
Yes, I agree! Let us add a "breaking changes" section to every release from now on that summarizes what will be relevant for the 1.0 release. :rocket:

[2021-07-25 07:28] markus2330 commented on #3519
I added #3966 here and moved a job done to done.

[2021-07-25 07:29] markus2330 commented on #3966
Thank you for creating the PR! This will hopefully greatly improve the usability for newcomers!

[2021-07-25 08:01] markus2330 commented on #3626
Do we have an agreement to get rid of `meta:/origvalue` and instead only using `meta:/internal/*` instead?

[2021-07-25 12:02] kodebach commented on #3626
Yes, `origvalue` is broken and should not be recommended anymore. BUT _only_ using `meta:/internal/*` is not a replacement. We need a way to let plugins know, when a key's value has changed. For that we need the additional flag.

Also there is [this example](https://github.com/ElektraInitiative/libelektra/tree/master/src/plugins/toml#numbers) in the `toml` plugin README. It uses/abuses `origvalue`

[2021-07-26 16:44] markus2330 commented on #3898
My router has a `MIPS 24Kc V7.4` CPU. But it is probably not worth building the packages just for my router.

@haraldg do you only use arm or do you also target another platform?

[2021-07-26 17:10] haraldg commented on #3898
I personally only use OpenWRT with arm_arm926ej-s/mxs however elektra automatically gets built by OpenWRT on all platforms. If your router has OpenWRT then you should be able to download a proper binary package from downloads.openwrt.org

BTW: OpenWRT Makefiles can fetch any git commit by hash from a git repository as source. Building some script, that just generates a custom Makefile for your CI

[2021-07-28 09:31] tucek opened #3969 "Add binary value key support [JNA bindings]"
- [ ] Removal of current limitation to prevent usage of binary value keys

[2021-07-28 09:35] tucek opened #3970 "Hide error key from Java API [JNA bindings]"
Signatures with error keys should not be transliterated to the Java binding. Instead transparently create an error key and in case of exceptional state use the key for exception mapping.

In cases where a function uses the, for the function otherwise relevant, parent key as error key. signature will of course not be changed.

[2021-07-28 09:38] tucek commented on #3757
I'll check whether this bug still exists

[2021-07-30 07:40] markus2330 commented on #3954
I like the general idea to avoid specifications in other namespaces and the examples look useful to me.

I wonder if we can simply assume tags on the parents, i.e., the level below where `array` or `map` (what we'll probably need to define what the tag for `_` is) is specified, e.g, given the specification:

[code]

and the config:

[code]

In the case `foo/#0` there is already a `bar`, so nothing

[2021-07-30 08:59] kodebach commented on #3954
I not 100% sure and I didn't check, but I believe, if `foo/#1` has a value we already generate a default key for e.g. `foo/#1/bar`. If we don't it would be easy to add this, yes. However, the problem here is that this requires non-leaf values which many formats (including TOML) don't support natively.

For `map` this works, but we already use `array` to define the default array size, e.g. `array =

[2021-07-30 10:56] markus2330 commented on #3954
Please explain, why would it be required? I mean that `foo/#1/bar` without `foo/#1` should be an error (invalid array).

That is why I suggested that **only** the elements directly below array or map are the markers. (Btw. would be interesting how much more computationally intensive the different variants actually are. This would be something for a master thesis.)

You mean as easy for the spec pl

[2021-07-30 11:08] #3939 closed

[2021-07-30 11:16] markus2330 commented on #3938
I don't think we should have such an attitude toward reported usability problems.

1. It is not so clearly said in https://github.com/ElektraInitiative/libelektra/blob/master/src/libs/highlevel/README.md
2. It seems to work without type set in spec: (see what I wrote in the second message)

[2021-07-30 13:05] kodebach commented on #3954
What would the value of `foo/#1` be? Empty string? NULL? If the parent is required like this, how would you define that in TOML?

For `foo/#0` (where `foo/#0/bar` is explicitly set), the `toml` plugin can generate `foo/#0`, but for `foo/#1` I don't really see a way to do it.

Depending on the spec this could still be a lot more work.

The real world impact would be very hard to measure, as it very

[2021-07-30 13:14] kodebach commented on #3938
True, the documentation could be better. At the very least, it should mention the [tutorial](https://github.com/ElektraInitiative/libelektra/blob/master/doc/tutorials/highlevel.md) should be read first.

Yes, the high-level API (without codegen) doesn't care about `spec:`. It needs the `type` on the actual config keys. The `toml` plugin generates a `type`, so everything works fine.

---

What woul

[2021-07-31 22:21] lawli3t opened #3972 "Add second channel for error messages"
- Add a second channel for providing users / binding-maintainers with error messages
- Unify return codes in the process

TBD

- Which functions exactly should make use of the second channel?

[2021-07-31 22:22] lawli3t opened #3973 "Error Handling for keyString()"
- On `key == NULL` return 0, error code via second channel
- On `key->value == NULL` 0 return 0, error code via second channel
- On `binary Value` 0 return 0, error code via second channel
- every other case stays the same

[2021-07-31 22:24] lawli3t opened #3974 "elektraMalloc() et al."
- keep current state with elektra* functions
- In the future plugin developers can choose whether to use the base or the Elektra functions (as long as only plugin code is affected)
- Use elektra-functions in the Elektra code where they are currently not used
- remove elektraMalloc / elektraCalloc / elektraRealloc from public API

[2021-07-31 22:25] lawli3t opened #3975 "Remove functions copying into a buffer"
Remove:
- `keyGetName()`
- `keyGetUnescapedName()`
- `keyGetBaseName()`
- `keyGetString()`
- `keyGetBinary()`

Suggested alternative:
`strncpy(..., keyName (k), ...)` or in case of binary values `memcpy(..., keyValue (k), ...)`

[2021-07-31 22:26] lawli3t opened #3976 "Remove Internal Iterator"
remove functions related to internal iterator:
- `ksRewind`
- `ksNext`
- `ksCurrent`
- `ksGetCursor`
- `ksSetCursor`
- `ksHead`
- `ksTail`

change `ksAtCursor` -> `ksAt`
document new way of iterating

[2021-07-31 22:27] lawli3t opened #3977 "Remove keyClear from public API"

[2021-07-31 22:27] lawli3t opened #3978 "Rename ksAppendKey to ksInsert"

[2021-07-31 22:28] lawli3t opened #3979 "Move functionality of ksLookup(..., KDB_O_POP) to a new function ksRemoveKey"

[2021-07-31 22:29] lawli3t opened #3980 "replace keySetMeta and keyGetMeta with static inline function"
Add keyRemoveMeta

[2021-07-31 22:32] lawli3t opened #3981 "keyCopyMeta does not clear values not set in second parameter"
_Originally posted by @markus2330 in https://github.com/ElektraInitiative/libelektra/pull/3851#discussion_r632901539_

[2021-08-01 20:12] bauhaus93 commented on #3490
@markus2330 I've updated the top post

[2021-08-03 19:33] markus2330 commented on #3972
All of them: it must be reliable that if there is no error on the second channel there is no error at all.

[2021-08-03 19:34] markus2330 commented on #3974
If they choose to use elektraMalloc, they should mark it in infos/status, see #666

[2021-08-03 19:45] markus2330 commented on #3975
Thank you for creating the issue!

for the migration:

[2021-08-03 19:46] markus2330 commented on #3490
@kodebach is the point " path = 'C:\Users\nodejs\templates'in a TOML file gets after roundtrip rewritten to path = "C:\Users\nodejs\templates" which leads to a parse error." already fixed?

[2021-08-03 20:44] kodebach commented on #3490
It should be fixed in #3935. I'll try to finish the PR this week.

The code is already there, if you wanna test it. Documentation and tests are still missing, and the handling of comments will change again.

We do also validate all string values before writing, so that we never create an invalid TOML file. In the case mentioned here, you will get the literal string `'C:\Users\nodejs\templates'`. I

[2021-08-04 00:11] tucek commented on #3972
So is the intention to report exceptional state via the second channel only? I thought the second channel would primarily be used to convey the specific error. (That would be relevant to my thesis...)

[2021-08-04 15:29] markus2330 commented on #3978
How do we call ksAppend then?

[2021-08-04 15:29] markus2330 commented on #3979
It doesn't need to be a move, it could be an alias.

[2021-08-04 15:30] markus2330 commented on #3979
@tucek you can immediately offer something like this in the Java API, the aliases are not useful for the bindings anyway.

[2021-08-04 15:35] markus2330 commented on #3972
If the channel gives you the specific error it implicitly also tells you that there was an error (like with errno). Other ways to retrieve the presence of an error are available depending on the return type (with e.g. size_t or boolean you will not know if there was an error without looking at the second channel).

[2021-08-04 16:43] markus2330 commented on #3938
Could you please update the flow how to read the docu as @qwepoizt is currently trying to understand the high-level API.

Let us see what @qwepoizt says.

[2021-08-05 09:34] qwepoizt commented on #3938
I am not sure if I fully understand the issue in all its details, but I believe that if :

1. the high-level API must not be used without code generation
2. and the reported issue does not occur when code generation is used

then

1. the above should be clearly stated in the documentation
2. and the reported issue can be fixed by using code generation

I hope that helps :)

[2021-08-05 09:58] haraldg commented on #3938
I'm actually a big fan of code generation, yet I believe it shouldn't be mandatory.

I think, when evaluating elektra people want to write a quick hello world example and see how it works. Maybe strace it or profile it or whatever they consider an useful evaluation. Then in the next step, they will rewrite the hello world example to evaluate the code generator. Then decide, whether they want to us

[2021-08-05 11:01] kodebach commented on #3938
First of all, if it came across as me arguing that I'm right, then I'm sorry. That was not my intention. My main argument was that a single report of a small usability problem, should not be reason enough to immediately change an already implemented design decision.

The design decision here was: The high-level API works only for specified keys and the minimum specification is a `type`.

In the ac

[2021-08-05 13:27] tucek opened #3982 "Introduce KeySet::remove(Key)"
Currently the Java binding API for the key set only provides `Key KeySet::remove(int)` to remove the key at a specified index from the key set while returning the removed key or throwing IndexOutOfBoundsException on illegal indices.

The following additional method is being introduced with this issue:
`boolean KeySet::remove(Key)` removes the specified key while returning true, if the key actually

[2021-08-05 13:28] tucek commented on #3979
@markus2330 please have a look at the newly created corresponding issue #3982 - i could include that with PR #3790

[2021-08-05 15:08] qwepoizt opened #3983 "No validation warning when check/enum is used with type=string"
I'd like to fix this as part of my thesis.

I am not sure if this is a user error.

Would it make sense to improve usability by either:
1. throwing an error on mount (or spec-mount?) if a key uses `type=string` and `check/enum` (instead of `type=enum`)
2. or adding support for keys using `type=string` and `check/enum` (instead of `type=enum`)

?

## Steps to Reproduce the Problem

1. Create file `

[2021-08-05 15:35] qwepoizt opened #3984 "check/range uses check/type and not type"
I'd like to fix this as part of my thesis.

Is this a sensible improvement or is there a reason for the current behavior?

check/range does not respect the `type` of a key. It uses the value of `check/type` and if none is set it defaults to `long long` (see https://www.libelektra.org/plugins/range).

If one does not carefully read the documentation, the current behavior is irritating.

## Steps to

[2021-08-05 16:02] haraldg commented on #3938
I agree, that this issue is not urgent as an easy workaround (just add the specification) is available.

Still I strongly recommend to change this before 1.0 for two reasons:
a) The current behavior is just embarrassing

[2021-08-06 11:44] tucek commented on #3982
Implementation done with PR #3790

[2021-08-06 17:14] qwepoizt opened #3985 "Feature proposal: Output error/warning if a key that isn't in spec-file is set"
# Notes
* I'd like to fix this as part of my thesis.
* Is this a sensible improvement or is there a reason for the current behavior?
* I've searched through the existing issues but found no mention of this.
* This could be implemented as an optional feature that is disabled by default.

# Current behavior
1. Create file `test.ini` with content:
[code]

2. ``sudo kdb mount -v `pwd`/test.ini spec:/t

[2021-08-06 17:41] qwepoizt opened #3987 "Feature proposal: Check problems in spec files already on mount / spec-mount"
# Notes
* I'd like to fix this as part of my thesis.
* Is this a sensible improvement or is there a reason for the current behavior?
* I've searched through the existing issues but found no mention of this.

# Idea
* Any errors in a spec file should be detected as soon as possible (e.g. on kdb mount or kdb spec-mount).
* Right now they are either detected too late or not at all.
* Examples for err

[2021-08-07 00:13] tucek commented on #3871
@kodebach if you have time, could you maybe do a quick sanity check of the updated description?

[2021-08-07 09:35] kodebach commented on #3976
This list should also include the versions for the metadata keyset, e.g. `keyNextMeta` and `keyCurrentMeta`.

[2021-08-07 09:55] kodebach commented on #3871
Both `keyNextMeta()` and `keyCurrentMeta` will be removed with #3976.

Internally, a `ReadOnlyKey` should still increment/decrement the reference counter and call `keyDel`. Otherwise you just run into problems. However, the interface should not expose any of these function to the user (e.g. no `release()` method). Calling `keyDel` is totally safe (with the current reference counting), since the me

[2021-08-07 12:20] markus2330 commented on #3982
Thank you, good improvement. I do not understand the name "KeySetReleasedException".

[2021-08-07 16:36] tucek commented on #3982
from its javadoc: "Indicates that an already released `KeySet` has been accessed"
in this case the exception is raised if the key set, where remove is being invoked on, already has been released

[2021-08-07 17:46] #3873 closed

[2021-08-07 17:46] #3970 closed

[2021-08-09 13:46] tucek commented on #3871
Are key contained in the meta data key set already read only? (key value flagged as locked) And do keys added to the meta data key set get automatically to be read-only?

[2021-08-09 14:30] kodebach commented on #3871
Keys added via `keySetMeta(k, ...)` are automatically locked. Keys added via `ksAppendKey(keyMeta(k), ...)` are not locked. This is a known issue and will be fixed, by making keys with a `meta:/` name automatically read-only.

[2021-08-09 16:07] tucek opened #3988 "Update HelloElektra [JNA binding]"
- [x] Convert to gradle sub-project
- [x] update README.md

[2021-08-12 12:02] dev2718 opened #3989 "Keyname validation does not detect all invalid names"
## Steps to Reproduce the Problem

In C++:
[code]

This also manifests in the kdb tool where
[code]
fails silently, but
[code]
produces a proper error message.

## Expected Result

All three keynames should produce exceptions.

## Actual Result

Only the last keyname produces an exception.

## System Information

- Elektra Version: master
- Operating System or Docker Container? Docker

[2021-08-12 16:59] lawli3t commented on #3797
further discussion in #3973

[2021-08-12 16:59] #3797 closed

[2021-08-13 20:29] #3730 closed

[2021-08-13 20:29] lawli3t commented on #3730
keyClear will be wholly removed as per #3839

[2021-08-13 20:29] #3731 closed

[2021-08-13 20:29] lawli3t commented on #3732
deemed too much work for too little gain

[2021-08-13 20:29] #3732 closed

[2021-08-13 20:29] #3735 closed

[2021-08-13 20:30] lawli3t commented on #3736
further discussions in #3980

[2021-08-13 20:30] #3736 closed

[2021-08-13 20:30] lawli3t commented on #3737
resolved by implementing #3972

[2021-08-13 20:30] #3737 closed

[2021-08-15 17:25] tucek opened #3995 "Provide a simple API to add error and warning information to a key [JNA bindings]"
Existing `Key::setError` and `Key::addWarning` methods are too specific to be helpful. Use with sample whitelist plugin.

Also see https://github.com/ElektraInitiative/libelektra/pull/3889#discussion_r688649720

[2021-08-17 05:50] #2320 closed

[2021-08-17 05:50] #2807 closed

[2021-08-18 19:10] dev2718 commented on #3955
https://github.com/ElektraInitiative/libelektra/pull/3996 introduces packaging for the FUSE tool.

[2021-08-19 16:10] qwepoizt opened #3998 "Help message not printed when high level API with code generation is used"
@kodebach I'd like to fix this myself as part of my thesis, but beforehand I'd appreciate your assessment:
Can you take a look at this? Have I configured something wrong or is this a bug/regression?

## Steps to Reproduce the Problem

0. Execute the steps below which follow the tutorial [High-level API (with code-generation)](https://www.libelektra.org/tutorials/high-level-api).
Note: The steps be

[2021-08-19 17:45] kodebach commented on #3998
First of all, only `--help` triggers help mode, so the behaviour for `-h` is expected.

You didn't mount the specification (there should be `conf.mount.sh` script to do that in your example). However, you should still at the very least get the fallback help message that was generated by the code-generator. This fallback message is created via the same `elektraOpts` calls that should normally happe

[2021-08-20 09:17] qwepoizt commented on #3998
Thanks for your comments! I'll investigate further.

[2021-08-20 11:53] qwepoizt opened #3999 "Help message does not contain all command line options"
Forked from #3998.

@kodebach writes:

[2021-08-20 11:54] qwepoizt commented on #3999
I tested with more than one key that has a `opt`/`opt/long` value. Some are included, some are not. I have not yet discovered what it depends upon.

[2021-08-20 12:08] qwepoizt commented on #3998
I created #3999 for the issue of missing command line options in the help message.

@kodebach: I'd appreciate your opinion on these 2 topics:

## Mounting before executing application

1. An elektrified application using the high-level API needs SFM=yes and SME=yes, right? (acronyms explained below). I believe so, because without the both: default values are missing, application doesn't know which

[2021-08-20 15:43] kodebach commented on #3999
What exactly did you try? I would except that without sub-commands, anything directly below the parent key would be detected, but keys that are multiple levels below would not.

[2021-08-20 15:56] kodebach commented on #3998
In theory yes, however, currently the code for creating mountpoints is written in C++, so calling it from C is not as easy. Some of the mounting code needs to change for #3693. Probably we should rewrite it in pure C.

The `*.mount.sh` shell script that is generated by the code-generator already was my attempt at streamlining things. That's also what I used for LCDproc.

One thing you have to keep

[2021-08-21 16:59] #2330 closed

[2021-08-22 08:20] tucek opened #4001 "[FLOSS] Enable validation on read [Java example whitelist plugin]"
The Java example plugin `whitelist` should also validate values on `get` instead on `set` only. Validation errors should result in warnings.

See also: https://github.com/ElektraInitiative/libelektra/pull/3889#discussion_r689116331

[2021-08-22 11:06] markus2330 commented on #4001
I am okay with checking on kdbGet (and providing warnings), see also #1511, but I do not think adding an option for that in every plugin makes sense. Instead I would prefer to have one plugin "failonwarnings" (globally mounted) which allows to globally switch the behavior to fail also during kdbGet.

[2021-08-22 12:29] tucek commented on #4001
ok, i updated the description accordingly

[2021-08-23 14:07] kodebach commented on #3938
@qwepoizt Since you are working with the highlevel API right now, and have already updated some of the documentation, could you maybe also add somewhere in the [README](https://github.com/ElektraInitiative/libelektra/blob/master/src/libs/highlevel/README.md) that `type` is required even without the code-generator. You've probably read the docs more recently than I have, so you'll know better where

[2021-08-24 05:03] markus2330 commented on #3983
Thank you for creating this issue! I agree that this is a bug and a big usability problem!

I would prefer the 1. variant: if types contradict each other, an error should be thrown.

[2021-08-24 05:09] markus2330 commented on #3984
Thank you for the issue, the issue is again excellently written.

I agree this is a bug. The same set commands repeated should not have different outcome (should be idempotent). Probably we need to simplify the type plugin to eliminate such behavior.

[2021-08-24 11:56] qwepoizt commented on #3938
@kodebach Okay, I'll take care of it and add a reference to this issue to my commit/PR.

[2021-08-24 12:23] qwepoizt commented on #3984
@markus2330 Did you notice that steps 4., 5. and 6. are not equal? They all set a different key: myfloat1**a**, myfloat1**b**, myfloat1**c**.
That means it is actually not "The same set commands repeated" :).

The key questions are:

1. Is there any value in having both metadata `type` and `check/type`? I don't mean setting both, I mean having two different metadata for specifying type.
2. Can one

[2021-08-24 13:02] qwepoizt commented on #3985
@markus2330 What do you think about this?

[2021-08-24 13:02] qwepoizt commented on #3987
@markus2330 What do you think about this?

[2021-08-24 14:38] qwepoizt opened #4004 "gdb looks for debug symbols in /home/jenkins/..."
## Steps to Reproduce the Problem

1. Under Ubuntu 20.04 install the following packages (follow guide from https://www.libelektra.org/installation/installation):
[code]

2. Execute `gdb kdb`
3. Within gdb execute `start`

## Expected Result
Sources for Elektra resp. kdb should be loaded from the paths where they were copied to by installing the  *-dbgsym packages.

## Actual Result
gdb tries to lo

[2021-08-24 14:40] qwepoizt commented on #4004
@robaerd Please feel free to reassign if you are not the right assignee for this issue.

[2021-08-26 10:24] tucek opened #4006 "testjna_gradle cannot run on Darwin v15+"
testjna_gradle is currecntly ecluded on such platforms

comment in libelektra/src/bindings/jna/CMakeLists.txt `we cannot set DYLD_LIBRARY_PATH on new macOS versions, making the kdb tests fail if its not installed in the system`

also see
https://github.com/ElektraInitiative/libelektra/pull/3889#discussion_r696488771

[2021-08-26 10:37] markus2330 opened #4007 "rust binding failed build if llvm not installed"
With rustc 1.48.0 and **without** llvm on Debian bullseye:

[code]

We should already run `llvm-config --prefix` in the CMake stage to avoid the error to make clear to the user that llvm needs to be installed.

[2021-08-26 13:37] dev2718 opened #4009 "Cirrus/Fedora: additional python dependencies destroy check_external_example_* tests"
The addition of the dnf dependencies `python-pip, python-wheel` in `scripts/docker/cirrus/fedora/Dockerfile` destroys the tests

- check_external_example_codegen_econf
- check_external_example_codegen_menu
- check_external_example_codegen_tree

raising:
[code]

### Findings

- The problem is independent of the fuse tool or its packaging; it persists even after the complete removal of it.
- Locally

[2021-08-28 08:09] mpranj commented on #4009
I fear that this happens on any update to the Dockerfile. I updated the Gradle version and hit the same problem.

Once cirrus clears the cached image this error will happen anyway.

[2021-08-28 11:13] robaerd commented on #4004
Source packages are currently not part of our repos. The reason for this is that the CPack DEB generator does not support the creation of source packages (.dsc).

[2021-08-28 17:31] markus2330 commented on #4004
Ok, then I suggest we use what @qwepoizt wrote in the top post (manual download of zip for the [sources in the source path](https://sourceware.org/gdb/current/onlinedocs/gdb/Source-Path.html)) to start a new debugging tutorial.

[2021-08-28 18:03] mpranj opened #4011 "testruby_tools_plugindatabase.rb: sporadic segmentation faults"
The `testruby_tools_plugindatabase.rb` tests are experiencing sporadic segmentation faults, it seems from Ruby 2.7 onwards.

Since the errors are occuring more often now, we'll need to somehow take care of it.

[code]
See build logs on [Jenkins](https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/master/536/pipeline/).
Full log attached: [log_ruby.txt](https://github.com/Elek

[2021-08-29 08:29] #3871 closed

[2021-08-29 11:28] markus2330 opened #4012 "proposal: remove -N from tools"
`-N` was introduced to specify which namespace to be used for cascading keys in ambiguous cases. As we now decided to not allow ambiguous cases, having the namespace in front of the key or `-N` got synonyms (as far as I can see).

I propose to completely remove `-N`: if someone wants/needs to write a namespace, it must happen in front of the keys.

[2021-08-29 11:40] markus2330 commented on #4012
Btw. I think `-N` in [check_distribution.sh](https://github.com/ElektraInitiative/libelektra/blob/f910d2345fda33ce269b28f07818ed840b8881de/tests/shell/check_distribution.sh) is misuse of `-N`. Probably we should offer functionality to extract namespace, basename and dirname from a key name to make writing such shellscripts easier.

I propose to add:

[code]

@kodebach What do you think (especially

[2021-08-29 11:46] markus2330 commented on #4011
Thank you for reporting this problem! Does it happen on every distribution with >= Ruby 2.7? We probably need a backtrace to somehow track this down.

[2021-08-29 11:48] mpranj commented on #4011
I'm not completely sure about anything. I think I first saw it on Fedora where Ruby 2.7 was available earlier. Now it is also happening on Debian Bullseye with Ruby 2.7.

The problem occurs only sporadically so I fear it will be tricky to track down.

[2021-08-29 14:28] kodebach commented on #4012
Generally, I'm for removing the `-N` option, as long as e.g. `kdb get user:/foo` actually uses `kdbGet ("/foo")` under the hood. Otherwise you can't do a `kdb get` on a specific namespace with the `spec` plugin active.

An example with more than on level between root and base would be beneficial. In your example it is not 100% clear how `kdb dirname user:/foo/bar/base` would behave.

In any case I

[2021-08-30 10:50] dev2718 commented on #4012
Thank you both for the proposal;
I have implemented and documented

* `kdb namespace`
* `kdb basename`
* `kdb dirname` and
* `kdb dirkey`

in commit 82c734ec95391baa0a906a4cb90eb1f7d95b27ce,

For `kdb namespace` I opted to include ':' as specified in the original proposal, otherwise code like this would need additional case distinctions:
``
kdb get $(kdb namespace $KEY1)$(kdb dirname $KEY2)
``

[2021-08-30 11:52] qwepoizt commented on #3999
@kodebach I've implemented a fix for this using your proposed solution.

Note that I did not have to implement anything special for

.

Can you please take a look at #4015 and let me know if you believe it is ready to be merged?

[2021-08-30 13:33] qwepoizt commented on #4011
It just happened to my PR #4015.

Please see

* https://build.libelektra.org/blue/rest/organizations/jenkins/pipelines/libelektra/branches/PR-4015/runs/4/nodes/792/steps/2083/log/?start=0
* https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4015/4/pipeline/

[2021-08-30 21:30] qwepoizt commented on #3999
@markus2330 I noticed I never mentioned you in this issue, I'm doing it now.

[2021-08-30 22:27] kodebach commented on #4012
Ah yes, combining to different keys isn't covered by `dirkey`. Maybe we don't add `dirkey` then. It doesn't really solve a problem.

For the `:` or not question, the solution might be a new flag, similar to the `-n/--no-newline` you already added:

[code]

For cascading keys `--no-colon` doesn't change anything. We always return an empty string.

Adding this option may be a bit weird/hard because

[2021-08-31 08:44] qwepoizt commented on #3984
Thanks @kodebach and @markus2330 for your input. I will get back to you after my work on other issues.

[2021-08-31 08:45] qwepoizt commented on #3983
Thanks @markus2330 for your input. I will get back to you after my work on other issues.

[2021-08-31 08:45] qwepoizt commented on #3985
Thanks @markus2330 for your input. I will get back to you after my work on other issues.

[2021-08-31 08:45] qwepoizt commented on #3987
Thanks @markus2330 for your input. I will get back to you after my work on other issues.

[2021-08-31 08:45] qwepoizt commented on #4004
Thanks @markus2330 for your input. I will get back to you after my work on other issues.

[2021-08-31 09:48] qwepoizt commented on #3998
@kodebach Thanks, I agree with everything you wrote!

# Suggested fix

I suggest to detect the state of SFM and SME within `elektra.c:elektraOpen(...)` at line 119-121.
https://github.com/ElektraInitiative/libelektra/blob/5702ce0496823fdd12c4e1e6ff9d6d1ca1b71a40/src/libs/highlevel/elektra.c#L119-L121

If SFM=false or SME=false, we can return NULL and set a a sensible error message within the `erro

[2021-08-31 09:49] qwepoizt commented on #3998
@markus2330 I noticed I never mentioned you in this issue (as you've asked me to). Sorry, I'm doing it now.

[2021-08-31 11:20] qwepoizt commented on #3984
I agree with kodebach: The issue I reported is that `check/range` only uses `check/type` and not `type`. Sorry, if my first post was unclear.

I think at this point in time it would make sense to change `check/range` to fallback to `type` if `check/type` is not set.
@markus2330 @kodebach Do you agree?

Consolidating and simplifying the different `*/type` metadata is a separate, time-intensive issu

[2021-08-31 11:21] dev2718 commented on #4012
I added the flag `-S/--no-separator` to `kdb namespace` acting as @kodebach described above. (This was the best option letter/option name I could think of not already in use).

The whole proposal is now completely implemented as of 112513f07d85124434b943743e988b3a87f8482e, including updated tests and documentation; The CI checks are successful; The changes are ready for review.

[2021-08-31 13:03] #3999 closed

[2021-08-31 13:26] kodebach commented on #3984
Yes, probably for now the best course of action is to add the `type` fallback to `range` and open a separate issue for the consolidation of type metadata.

[2021-08-31 14:22] kodebach commented on #3998
It is better than nothing, but it doesn't really tell you that the spec file was mounted. It could be that just the parent key was set. Checking `system:/elektra/mountpoints` might be more reliable.

You already noticed this for SME, but it works for SFM too. Just check that `system:/elektra/mountpoints/spec:PARENT_KEY_OF_APPLICATION_ESCAPED/mountpoint` exists, or even better that it's value is `s

[2021-08-31 15:34] markus2330 commented on #3984
@markus2330 @kodebach Do you agree?

Yes. Please also update doc/METADATA.ini that behavior like this is required.

[2021-08-31 15:35] markus2330 commented on #3731
Are these functions already removed or will you create a new issue? Otherwise we probably should not close the issue.

[2021-08-31 15:47] markus2330 commented on #4011
@qwepoizt thank you for pointing to the backtrace, this is very helpful.

@kodebach It looks like that the crash is related with the dump plugin serializing during invoking the function using pluginprocess. Didn't you make some changes there? You might spot something.

[2021-08-31 16:04] kodebach commented on #4012
Ah, sorry I missed that. GitHub didn't show me that the commit is part of this PR.

[2021-08-31 17:21] qwepoizt commented on #3984
@kodebach @markus2330 Okay, sounds good too me!

[2021-08-31 18:18] qwepoizt commented on #3998
Thanks, that's helpful. I believe it is sensible to implement the simple checks now and something more elaborate later, sometime after #3693 is solved.

@markus2330 Do you agree?

[2021-08-31 18:55] mpranj opened #4019 "markdownlinkconverter: dynamic-stack-buffer-overflow"
Compiling markdownlinkconverter with ASAN and GCC 11.2.1 throws the following error:

[code]

A fix is already in progress.

[2021-08-31 19:12] #3668 closed

[2021-08-31 19:12] markus2330 commented on #3668
Irrelevant due to #4012

[2021-08-31 19:41] mpranj commented on #4011
I disabled this test on master now as it is failing too often. Please revert 87d1a4f1ec19a0cf86b877e6d2eb9e1d124d96ee when fixing the issue.

[2021-09-01 00:15] kodebach commented on #4012
In principal I agree with the idea of keeping config minimal. However, I think sometimes you are taking the KISS a bit to far. We are talking about an _entirely optional_ command-line option here. If you don't know what it does just don't use it. In such a basic case, I think we can make an argument for convenience over pure minimalism. In fact if you really wanted the minimal solution, `kdb names

[2021-09-02 08:06] lawli3t commented on #3731
i have created a new issue here https://github.com/ElektraInitiative/libelektra/issues/3975

[2021-09-04 09:01] qwepoizt commented on #3987
Decision from call @markus2330 and @qwepoizt  03rd Sep 2021:

* This is difficult, because it requires static checks (in contrast to dynamic, during runtime).
* An elaborate exceeds the scope of a bachelor thesis.
* Easier workaround fixes are possible, e.g. implementing some checks in the spec-mounter.
* @qwepoizt will look into easier fixes.

[2021-09-04 10:36] markus2330 opened #4024 "using elektraGetOpts for `kdb`"
From #4012:

If we are interested in making it work like git, we need a patch to use elektraGetOpts for `kdb`. To simply assume it works like git and add options like you would in git is wrong reasoning. The current system registers options globally and requires short options, so we need to make the decisions for our current architecture. I am very for using elektraGetOpts in `kdb`, so I propose w

[2021-09-04 10:38] markus2330 commented on #4012
:fireworks:

I agree, but, imho, *this* would take KISS too far, as it makes sense (from completeness point of view) to have a command for all parts of the key names (even if one of these commands is doing something trivial).

There would be no problem to make a proposal like I did in #4024 for you (in a separate issue). But if people are asking for help what to do we have a totally different situ

[2021-09-04 13:13] markus2330 commented on #4011
@mpranj thank you for looking after stable build jobs!

Can you please also add a line in doc/todo/TESTING for the disabled test.

[2021-09-04 13:24] markus2330 commented on #4019
Thank you for looking into it :sparkling_heart:

[2021-09-04 15:07] mpranj commented on #4009
Was this issue really resolved by #3996 or was it closed by mistake?

[2021-09-04 16:31] dev2718 commented on #4009
I fear it must have been a mistake, #3996 does not fix #4009.

[2021-09-05 06:50] markus2330 commented on #3955
Bullseye packages (0.9.7-5.5491) of Elektra still do not contain libelektra5-fuse? What went wrong?

[2021-09-05 07:10] dev2718 commented on #3955
This is because `python3-elektra` does not get built on bullseye, therefore `libelektra5-fuse` isn't as well.

[2021-09-05 10:08] #401 closed

[2021-09-05 10:08] #2761 closed

[2021-09-05 10:08] #2762 closed

[2021-09-05 10:36] markus2330 opened #4026 "add ksSearch to public API"
As we want external iteration as the only iteration it probably makes sense to put `elektraCursor ksSearch(KeySet*, Key*)` into the public API: it returns the cursor of a key name: as `ksLookup`, only the return types differs.

There is already a use case: #4002.

@lawli3t Do you think this would be still a minimal API?

Like always: everyone can share his/her thoughts about this proposal.

[2021-09-05 10:39] markus2330 commented on #3955
Is there a bug preventing python3-elektra from being built? Or are just deps missing?

[2021-09-05 19:40] dev2718 commented on #3955
I investigated this and I think I found the culprit:

- The bullseye Dockerfile uses swig4.0 (in constrast to the other debian distros, except sid)
- The python binding does get built successfully in the full build "debian-bullseye-full"
- But **not** in the packaging job, because for everything that is not Fedora, swig3.0 is hardcoded here:

https://github.com/ElektraInitiative/libelektra/blob/e9

[2021-09-06 05:27] markus2330 commented on #3955
Thank you for looking into it! This swig3.0 was needed for buster. As buster is now oldstable we can get rid of it. Not having python3 for buster (or even having no buster packages at all) shouldn't be a big problem anymore.

[2021-09-07 12:11] kodebach commented on #4026
I agree that `ksSearch` could be useful. Regarding "minimal API": We could change `ksLookup` to be a thin wrapper around `ksSearch`.

[code]

All `elektraLookupFlags` options should work with `ksSearch`, except for `KDB_O_POP`. IMO removing `KDB_O_POP` and requiring a separate call to something like `ksRemove (KeySet *, elektraCursor)` would be fine. It would certainly be more self-explanatory tha

[2021-09-07 12:33] kodebach commented on #4024
Agreed. But we should discuss the command structure of `kdb` before anybody gets started on this. `elektraGetOpts` allows multiple levels of commands. So for example the `kdb plugin-*` commands could be changed into subcommands of a single `kdb plugin` command.

I don't think anybody will automatically expect that the `-x` in `kdb get -x` and `kdb mount -x` mean the same thing, as these are very d