[2015-11-17 18:38] fberlakovich commented on #375
regarding the topic of the issue: @markus2330 is right, the ```autosection``` option should yield the desired behavior.

[2015-11-17 18:58] markus2330 commented on #375
I am afraid there at least 4 different ways someone would expect from a INI-plugin:

1.) Turning everything except the outmost into a section

The file basically would be flat. The section would have no information and basically would not need a key for representation.

2.) Turning only the first level into a section

e.g. `system/machinekit/FOO/BAR/EVEN/DEEPER 1.0`

would be
[code]

Again, the fi

[2015-11-17 19:06] fberlakovich opened #377 "Meta functionality in ini could be solved via keytometa"
@markus2330 @tom-wa

If anyone is interested in implementing this: I think the meta functionality of ini could also be achieved with keytometa and glob by making these simple extensions:

* extending glob to allow matching metakeys (we could match on ```ini/section``` according to the new pull request)
* extending keytometa to allow dynamic target meta names (for example based on the keyname of th

[2015-11-17 19:12] markus2330 commented on #377
I like the idea that every storage plugin could be transformed to a meta-storage. I think, however, we should avoid matching for `ini/section`, do you have another idea how we could match every key?

[2015-11-17 19:14] tom-wa commented on #375
we could move that to a different plugin (plugin turns keyset into tree, back into keyset with arrays and subarrays).
that way the storage plugins would only need to follow the array indexes and know some metadata it uses (aka section metakey, etc ..) and it could be used for every storage plugin (they would have to add some metakeys to tell the tree-plugin what to do though)

[2015-11-17 19:19] tom-wa commented on #377
what about a special mountpoint to mount metadata.ini + a global plugin that copys the needed keys to the actual plugin(s). that way we could easily change every plugins configuration whenever we want.

[2015-11-17 19:20] markus2330 commented on #377
To clarify: obviously it cannot work in a fully generic way, otherwise the distinction between meta data and data would be useless.

I am more thinking about a convention, for example null keys, are interpreted as sections and everything below such sections markers is meta data for the section.

Or, alternatively, we could simply use meta data `section`, but then we would need section support for

[2015-11-17 19:23] markus2330 commented on #377
@tom-wa good idea! The "special mountpoint" is already the namespace `spec`. Its explicitely designed to contain the meta data for all other namespaces.

This namespace does not, however, solve the problem of meta data storages. And obviously the plugin you mentioned (that copies the meta data from `spec` to the other namespaces) is also missing.

[2015-11-17 19:24] fberlakovich commented on #375
@markus2330 As far as I can remember (I currently cannot verify it) the idea of autosections is the one you described in 1. The whole hiearchy goes into the section name and only the basename is used for the nonsection key.

[2015-11-17 19:24] markus2330 commented on #377
But we are not far from this goal. Nevertheless, I would prefer to release 0.8.14 as quickly as possible and delay this proposal for 0.8.15.

[2015-11-17 19:29] fberlakovich commented on #377
I agree with delaying it. The ```ini/section``` glob match example was only an example for the ini plugin. The challenge basically is that the glob plugin would need to identify all Keys that are to be converted to MetaKeys for this proposal to work. In the case of the augeas plugin the glob plugin can simply use the key name (*#comment*). The proposed way of matching all keys that DO NOT have the

[2015-11-17 19:39] tom-wa commented on #375
`akey/looking/like/sections`
get turned into
[code]
too ?
works with #376, but the testcase doesn't like it. (compares against ini/sectionini there it's still `akey/looking/like/sections` )

[2015-11-17 22:31] strahlex opened #378 "Use case: default and per config parameters"
To use libelektra for Machinekit configurations following scenario has to be considered:

We have global default parameters mounted into e.g. `system/machinekit/cnc`. This global default config also has meta values specifying the type of the parameter.

Each Machinekit configuration has its own per machine settings stored in an ini file. The ini file is located in the machine configuration directo

[2015-11-17 23:03] markus2330 commented on #378
Default and other meta values should be mounted to `spec/machinekit/cnc`. How does this file look like or can you invent a new one?

Are the `.hal` files also considered as configuration files?

I think the `mkwrapper.ini` should be mounted to system then (if it contains per-machine parameters).

User-specific overwrites then should be mounted to user.

If you use `/machinekit/cnc/AXIS_0/MAX_VELOC

[2015-11-18 16:12] strahlex commented on #378
No meta files exist yet. They can be invented from scratch

`.hal` files are part of the configuration but not of the parameters. There is no need to load them into elektra.

I see the term configuration in the Machinekit context causes confusion:
*Machinekit configuration*: A set of configuration files that create a launch-able entity.
*Machinekit instance*: A running Machinekit configuration.

M

[2015-11-18 16:41] markus2330 commented on #378
Thats good, then we can create a really nice specification!

So there are different levels how you can specify which values get overwritten.

1.) The "built-in-defaults" for a system where /etc was wiped out have to be in `spec` as `default` meta-data. Lets call it spec/machinekit/cnc/. They have the least priority, any present configuration file will overrule them.
2.) Then you could mount ini to

[2015-11-18 17:47] strahlex commented on #378
So from `spec/` only metadata is used? Is there a way to enforce storing keys in `system/` rather than in user when using the `/` prefix, e.g. by a metadata key?

[2015-11-18 17:55] markus2330 commented on #378
Yes, spec specifies the semantics of the other namespaces. While you could store values there, it usually only contains meta data.

Yes, with the metadata `namespace/#0 system`.

[2015-11-18 18:03] strahlex commented on #378
Soo I would go for mounting the parameter files as follows:
- metadata  in `spec/`
- default parameters in `system/machinekit/default`
- per configuration parameters in `system/machinekit/mkwrapper-sim`
- user parameters in `user/machinekit/mkwrapper-sim`

Is there way to specify that `system/machinekit/default` should overwrite `system/machinekit/*`?

And does it make sense to handle resolving in

[2015-11-18 18:06] strahlex commented on #375
And is there a way to automatically convert the key names to lowercase when importing into elektra? The uppercase names are legacy it does not make a lot of sense to import them in elektra. But it can not expected that all user files will be converted to lowercase naming.

[2015-11-18 18:13] markus2330 commented on #378
I extended https://github.com/ElektraInitiative/libelektra/blob/master/doc/tutorials/application-integration.md

[2015-11-18 19:12] strahlex commented on #378
Okay, so actually resolving the instance name or number has to be done on application level (in my case parameter service). The idea is to be able to access the keys very easy inside the application itself. If the parameter service or Machinekit specific parameter library handles instance resolving, there is no reason to not use the uuid of the instance for this purpose. This way there will not be

[2015-11-18 19:15] markus2330 commented on #378
@strahlex Currently the specification only works on per-key level, so every key in `spec/machinekit/default` needs to specify `override/#0`. So every `spec` key must exist. Using globbing, however, you can easily copy meta-data to every key matching to a glob. `spec/machinekit/*` would be the glob expression, then.

For such dynamic resolving, you can use contextual-lookups. They also can handle m

[2015-11-18 19:17] markus2330 commented on #375
Yes, you can do that soon. (Or immediately if you write the plugin). @tom-wa has plans to improve the `rename` plugin to do lower-uppercase renames. It won't happen in the INI plugin, however, so please open a new issue if you want to discuss details.

[2015-11-18 23:31] strahlex commented on #378
I tried following:
defaults.ini
[code]
Executed following commands:
[code]
However, I would expect this to be stored in `system/`. Is there something required to apply the metakeys from spec to the system keys?

[2015-11-19 08:28] markus2330 commented on #378
Yes, its the missing `spec`-plugin required which won't make it to the upcoming release (hopefully today).

The `getmeta` above would have worked, if a spec-plugin would distribute the meta-data accordingly, but thats not the case at the moment. So you should use: `kdb getmeta spec/machinekit/cnc/DISPLAY/DISPLAY "namespace/#0"` to get `system`.

For the last `kdb set` it obviously does not make se

[2015-11-19 08:32] markus2330 commented on #378
Btw.: its not needed that defaults.ini contains values, I think you wanted:
[code]
Then you still get the system key, if available, but from_spec_default if no system key exists.

[2015-11-19 09:31] markus2330 opened #380 "testcase csvstorage wrong output"
`kdb testmod_csvstorage` says:
[code]
but it actually opens /usr/share/libelektra-test/test-data/csvstorage/valid.csv (which is also what I would expect)

The other plugins (e.g. `kdb testmod_lineendings`) do not output which test files they use.

@tom-wa can you take a look at it?

[2015-11-19 11:07] omnidan opened #382 "kdb mount SIGSEGV on OS X"
When running `kdb mount` on OS X:

[code]

Stack trace:

[code]

[2015-11-19 13:10] #380 closed

[2015-11-19 13:43] markus2330 opened #383 "lua test case fails when lua-bindings are installed"
Hello,

 ctest -V -R testmod_lua runs fine unless I install libelektra-lua4 which contains /usr/lib/lua/5.2/kdb.so

Suddenly I get:
[code]

The problems seems to be that immediately when parentKey.name is accessed there is an lua error, thus the key is not appended.

On my system lua5.1 and lua5.2 is installed (lua 5.2 is used). The installed package (kdb.so) was built on your agent.

[2015-11-19 13:46] manuelm commented on #383
I don't have any debian system nor do I have lua 5.1. So you're on your own to provide more debugging information. e.g. which shared object gets loaded and what's the error message in detail.

[2015-11-19 13:59] manuelm commented on #383
FYI: The lua plugin loads the lua bindings package. Lua, like any other language, starts searching for packages in the systemwide locations, unless otherwise specified. So the installed lua bindings gets loaded and for whatever reason it's not (maybe binary?) compatible with your testmod_lua.
But there's nothing I can do about it.

You can override the search path with the LUA_CPATH env. variable.

[2015-11-19 14:06] markus2330 commented on #383
I uninstalled 5.1. Problem still there.

[code]

The system wide kdb.so is used (w and w/o LUA_CPATH):
[code]

I am mainly interested why the unit test fails. Is it possible to output the lua error?

[2015-11-19 14:10] manuelm commented on #383
wrong `LUA_CPATH` syntax. You need to specify the full path with `?` as placeholder e.g. `LUA_CPATH=./?.so`

as far as I remember the error should be printed. I'm catching any error and setting `ELEKTRA_SET_ERROR`. The rest should be handled by your test framework.

[2015-11-19 14:13] markus2330 commented on #382
Can you retry if it works now (an error message should be displayed).

The problem was that strerror_r is differently defined according the platform. I think you got a warning during compilation for that.

[2015-11-19 14:24] manuelm commented on #383
Have you built the elektra plugin using the same swig version as the build agent? Both binding and plugin depend on swig and it's generated interface structure, so this might be an issue.

[2015-11-19 14:25] markus2330 commented on #383
No error is set in this case.

In the lua's plugin code, there will be no set error if lua_isnil is true.

I will leave it for this release as is. It works quite well (I could mount a plugin). This problem seems to be minor.

I dont know the exact version on the build agent, thats why I asked in the beginning.

[2015-11-19 14:26] manuelm commented on #383
2.0.12 and 3.0.2 but I'm sure you'll find the version information in the jenkins log too :-)

[2015-11-19 14:27] markus2330 commented on #383
I think 2.0 will be preferred then.. I did not find a way to specify SWIG_EXECUTABLE for jessie but not for wheezy...

[2015-11-19 14:28] manuelm commented on #383
Btw: You're looking at the wrong code section. lua_isnil is only true if the plugin is unable to get a new lua state/instance.
It's https://github.com/ElektraInitiative/libelektra/blob/master/src/plugins/lua/lua.cpp#L77 in which you're interested.

[2015-11-19 14:31] markus2330 commented on #383
Yeah, I was looking on a random place. Nevertheless, a plugin should always set an error if it returns -1.

[2015-11-19 14:32] manuelm commented on #383
That's the case anyway.

[2015-11-19 14:38] markus2330 commented on #383
So, test cases our now fixed and output the errors. Do you have an idea?

[code]

[2015-11-19 14:43] manuelm commented on #383
looks like broken swig resolving to me. parentKey is missing it's interface.
You can try to add a `print(kdb)` + `print(kdb.Key)`  to the top of `lua_plugin.lua` to gain more information but I doubt there's something you can fix.

[2015-11-19 14:45] markus2330 commented on #383
Amazing that you can draw a connection of `attempt to index local` to swig.

Why not deinstall swig2.0 on the jessie-agent, isn't that the easiest fix?

[2015-11-19 14:48] manuelm commented on #383
In lua every external object is userdata unless you provide lua with information about it. That's missing :-)

I'm all for deprecating swig2. You were the one that still want to support it.

[2015-11-19 14:50] markus2330 commented on #383
Its needed for wheezy. And it also works there. But why is it installed on the jessie agent?

[2015-11-19 14:52] manuelm commented on #383
I guess you got my comment wrong. I've two build agents, thus two versions. In detail:
[code]

[2015-11-19 14:53] markus2330 commented on #383
Ok, please update it then. SWIG2 is known not to work on jessie (debian 8.2)

[2015-11-19 15:04] manuelm commented on #383
Which package shall I use? swig2 is the one in the official repos

[2015-11-19 15:06] markus2330 commented on #383
swig3.0 works well here. So this might work:

     apt-get install swig3.0 swig- swig2.0-

Which agent is used for the elektra-test-bindings?

[2015-11-19 15:11] manuelm commented on #383
swig replacement done. forgot that it's named swig3.0…

afaik all bindings stuff is sid only

[2015-11-19 15:16] markus2330 opened #384 "INI failed testcase"
@tom-wa On one agent there is an error in the test case:

http://community.markus-raab.org:8080/job/elektra-gcc47-all/lastFailedBuild/console
[code]

[2015-11-19 15:16] markus2330 commented on #383
Thank you, agent is building.

[2015-11-19 15:21] omnidan commented on #382
Now I'm getting an error while building:

[code]

[2015-11-19 15:23] markus2330 commented on #382
Sorry, that was a typo in mac-os x only code, thanks for telling me!

Does it work now?

[2015-11-19 15:30] markus2330 commented on #260
I think we finally made this one! A huge thanks for all involved, you will be mentioned in the release notes in the first section ;)

[2015-11-19 15:30] #260 closed

[2015-11-19 15:30] omnidan commented on #382
@markus2330 yes, building and mounting works fine now! :+1:

[2015-11-19 15:30] #382 closed

[2015-11-19 15:45] #309 closed

[2015-11-19 15:50] iandonnelly commented on #260
Awesome! I have started training for a new job so I have been super busy right now but I'm glad all of this is done now and the new docs will be in the new release!

[2015-11-19 16:39] #374 closed

[2015-11-19 16:40] markus2330 commented on #384
Was caused by an missing `KEY_END`.

[2015-11-19 16:40] #384 closed

[2015-11-19 16:43] markus2330 commented on #383
very strange, I still have same problem even though the testcase runs with `kdb  testmod_lua`, but not in-source.

[2015-11-19 18:22] strahlex commented on #378
After the update to latest version of elektra and removing the `user/` key:
[code]
What does `options: KDB_O_NOCASCADING` mean?

[2015-11-19 18:33] machinekoder opened #386 "Notifications from storage backends"
Is there a way for a storage back-end to notify elektra about changes?

What I am thinking about was either watching for changes on the file system, e.g. when a user modifies a configuration file in a text editor. Or for example a redis database plugin that is synced with another remote or cloud database (e.g. to sync two ROS masters). It would be required for the back-end to notify elektra about

[2015-11-19 22:49] strahlex opened #387 "Rename plugins needs an option for case conversion"
Has been already proposed in the README of the plugin: `"case: upper/lowercase the name (that are not part of parentKey!)"`

[2015-11-20 08:12] markus2330 commented on #387
Do you need more than simply ascii renaming? What about `-_` or umlauts?

[2015-11-20 08:30] markus2330 commented on #386
There are at least two very nice ways to allow administrators to use their favourite text editor and still have proper validation and notification.

1. "etckeeper-ng": Let Elektra read from git and not directly from configuration files. Modifications of files themselves are not relevant anymore and a commit will trigger Elektra (validation, notification and everything else). Changes from gui+web w

[2015-11-20 08:32] markus2330 commented on #378
It seems like you removed your spec/machinekit/cnc/DISPLAY/DISPLAY key.

KDB_O_NOCASCADING means that the spec key will not be used for cascading (would be an endless-loop in the example above)

[2015-11-20 08:40] markus2330 opened #388 "machinekit integration"
- [x] type plugin with types as needed for machinekit (testing+tutorial)
- [x] mainloop integration
- [ ] rename/ini should work together with dbus/logchange
- [X] globbing copy for override #378 (fixed by profile plugin)
- [X] rename does not work in write direction #404 #485
- [X] ini array does not work in write direction #355
- [X] multiple INI entries to array #355
- [X] spec plugin to copy m

[2015-11-20 08:45] markus2330 commented on #388
@strahlex Does it matter to machinekit in anyway if POSIX functionality is used (e.g. fnmatch, regex,..)

[2015-11-20 08:51] markus2330 commented on #388
@mhaberler Would be good if you can have a look, too.

[2015-11-20 14:03] #383 closed

[2015-11-20 18:11] strahlex commented on #387
Just converting uppercase to lowercase conversion.

[2015-11-20 18:19] strahlex commented on #386
Changing INI files on the drive are not really are requirement but would be nice to have. However the redis database scenario is something that has to be kept in mind. It means that the data behind elektra can change without calling kdb or changes from a user. The database needs a way to notify elektra that somehting has changed and elektra needs to notify subscribers about changes.

One way to ac

[2015-11-20 18:22] strahlex commented on #388
priority 1: INI array
priority 2: spec
priority 3: globbing
type plugin: existing types can easily be reused, not sure if a additional plugin is necessary
kdb edit: I would call it "kdb sync"

[2015-11-20 18:23] strahlex commented on #388
I see no reason why POSIX functionality shouldn't be used.

[2015-11-20 20:44] strahlex commented on #378
Thanks, that was the case indeed.

[2015-11-20 21:47] markus2330 commented on #386
Obviously, its not the most controlled circumstance if something changes behind your back. Validation cannot be enforced anymore. Why not simply use a redis storage plugin?

To understand your use case better: Which configuration data is in redis, why is it there and who changes it?

[2015-11-20 21:55] markus2330 opened #389 "mark status of plugins"
@tom-wa made a good proposal: We should somehow make it clear which plugins are more experimental and to try out things and which are production ready.

Ways to do it:

1. Experimental flag in contract which warns when mounting the plugin
2. Give good, bad, ugly or other tags to the plugins in the contract
3. Create subfolders in `plugins`, one of them contains experimental stuff
4. Only write it

[2015-11-21 19:37] markus2330 opened #391 "crypto: compiler warning"
[code]

[2015-11-21 19:38] markus2330 commented on #391
Should be `keyNew (0, KEY_END)`

[2015-11-21 19:44] markus2330 opened #392 "markdownlinkconverter: clang compiler warning"
[code]

and when you are on it, could you also fix:
[code]

[2015-11-21 23:49] petermax2 commented on #391
interesting, I was not able to reproduce these warnings in my build containers. but I see the problem. PR is on its way.

[2015-11-22 09:11] #391 closed

[2015-11-22 09:11] markus2330 commented on #391
Should have mentioned: only clang-modernize gave this warning.

[2015-11-22 10:44] petermax2 commented on #391
Thx for the clarification!

[2015-11-22 19:28] petermax2 commented on #276
In version 1.0.2 of OpenSSL `libcrypto` still requires two callbacks to be set to be thread-safe:

    CRYPTO_THREADID_set_callback(pthreads_thread_id);
    CRYPTO_set_locking_callback(pthreads_locking_callback);

The signature of `pthreads_locking_callback` looks like this:

    void pthreads_locking_callback(int mode, int type, const char *file, int line)

where `type` is a number between 0 and

[2015-11-22 19:38] markus2330 commented on #276
@petermax2 Is it possible to check if the setup already occurred? Then its easy, just check it in `cryptoPluginOpen()` and only setup if not done before. Then applications simply have to do the setup before the first kdbOpen() or not at all. (Which is not ideal, but a limitation we can live with).

In any case: its best if you ask in the mailinglists if their library is intended to be used within

[2015-11-22 23:37] markus2330 opened #394 "changes in bindings for library split"
I split the libraries as explained in src/libs/README.md.

Can you please review the merge 2803083b15c39b9ec47ec46a7099b14335119e21, especially src/libs/elektra/CMakeLists.txt, if the library (symbol) exports are still correct? And can you check if the bindings are linked against the correct libelektra-*?

Then I added kdbGetNamespace to the API. Maybe its useful to add to the bindings, too.

[2015-11-23 00:02] manuelm commented on #394
Restricting exported symbols is broken. e.g. ini plugin is exporting `writeComments` which shouldn't be allowed.

bindings link against `-plugin` for no reason. Also `-ease`, `-meta` and `-proposal` can be removed.

[2015-11-23 07:01] markus2330 commented on #394
Thank you for looking into it!

@tom-wa can you make writeComments static? Please also fix the compilation warning in the test cases.

@manuelm Can you fix the linkage of the bindings? How will you provide the elektraPluginGetConfig for the lua/python plugins?

I think there is a lot more optimization potential. Especially there is still junk in the core. Everyone is welcome to report how the libr

[2015-11-23 07:58] markus2330 opened #395 "RPATH not working"
Since the library split the RPATH and thus the loading of modules when Elektra is installed is broken.

Will be fixed on linux first, later we also need a validation for Mac OS X.

Recommendation: Wait a bit before you upgrade to master (if you want to install Elektra). In the build tree there are no problems.

Observable behaviour:
[code]

[2015-11-23 08:03] #395 closed

[2015-11-23 11:13] manuelm commented on #394
I can take a look but I wish you'd use merge requests instead of just pushing like the rest of us.

?! I'm talking about the bindings. Not plugins. Imho they're linking against all libs though only core is required.

[2015-11-23 11:55] markus2330 commented on #394
Didn't think anyone was interesting in reviewing the pull request. I thought its no issue, because we have a full release time for all the details of the library split. Nothing is in stone yet, we can even rename the libs and move functions around.

To clarify: When the plugin interface does not provide the plugin configuration you would need in the binding a way to issue `elektraPluginGetConfig`

[2015-11-23 12:04] manuelm commented on #389
3 is a bad idea.
1 isn't that good either. I don't care about stderr and I'm sure I would just ignore any contract flag.

I'd vote for removing experimental plugins from the ALL-compile time target. This way they hopefully don't end up in distro packages or at least get split into a separate unstable package.

[2015-11-23 12:13] manuelm commented on #394
"No" is the current answer. Just take a look at the `open`-signature of the python or lua plugin and you'll see there's no handle (which wouldn't work anyway) or config passed. But to fix this we only need to change the signature and pass the config keyset. No need for changing anything else or linking against `-plugin`.

Btw, can you please tell someone (not me) to write a elektra plugin using th

[2015-11-23 12:24] markus2330 commented on #394
There are currently at least two people who want to write a python plugin. I do not know when they find do it. I already wrote one, the configuration was the only thing I missed.

[2015-11-23 13:19] manuelm opened #397 "undefined symbols after library split"
The new splitted libraries aren't that independent as outlined in your shiny uml image.

`elektra-kdb` depends on `elektraRenameKeys` + `ksPrev`
`elektra-core` depends on `keyLock` + `ksPopAtCursor`

So both libraries depend on `elektra-proposal`

I'm opting for removing `elektra-proposal` and merging it back to `elektra-core`. Don't see much use in splitting.

[2015-11-23 13:32] markus2330 commented on #397
Thanks, I am also afraid that this proposal concept will not work out. Typically they are used within the core already.

[2015-11-23 14:20] markus2330 commented on #397
Reconsidering, we could have internal elektra* functions in libcore and key* or ks* functions in libproposal.

The idea for splitting of libproposal is that it is completely obvious (and can be automatically determined) if only stable functionality is used or not.

A naming schema would be possible, too. But then users will always have to rename when a proposed function is moved to the API. (that

[2015-11-23 14:25] manuelm commented on #397
... which would still require linking `proposal` to both `core` + `kdb`. I fail to see the use for this additional lib.

[2015-11-23 14:33] markus2330 commented on #397
The implementation would be in libcore (called elektra*) and libproposal would only have the proposed interface (doing nothing but calling elektra*).

libproposal would be only linked against libcore then.

[2015-11-23 14:34] manuelm commented on #397
ah ok. That would work, yes

[2015-11-23 15:33] markus2330 commented on #389
We could make 1. more strict by requiring the user of `kdb mount` to use .e.g `-i` `--ignore-warnings` or even `-f` `--force`.

We could reduce ALL, but that name is then somewhat self-contradicting. What about increasing the default set of plugins by everything except the experimental stuff?

[2015-11-23 18:07] strahlex commented on #387
https://github.com/ElektraInitiative/libelektra/pull/390

[2015-11-23 19:00] omnidan commented on #354
This still isn't fixed, running those commands with the latest elektra build results in:

[code]

`debienna/test` shouldn't be under the `[binarytest]` section.

[2015-11-23 19:02] omnidan opened #401 "Inconsistent set/get for cascading keys"
I have a `test.ini` file with the following contents mounted at `/test`:

[code]

After running the following commands:

[code]

The key gets written to KDB, but not to the mounted file - this seems to be an issue with the resolver.

Using `system/test` as a mountpoint works fine.

[2015-11-23 19:04] omnidan opened #402 "Older mac lineendings do not work (did not find key)"
Steps to reproduce:

 * Create and mount an `ini` file.
 * Change line endings to older mac lineendings (in vim: `:w ++ff=mac`)
 * Try `kdb get` on a key, it doesn't find it.

[2015-11-23 19:07] omnidan opened #403 "With preserveorder, sections are lost on `kdb set`"
I have an ini file mounted on `system/test` with `preserveorder=1`:

[code]

Running `kdb set system/test/test/hello world2` results in:

[code]

Without `preserveorder=1` it works fine:

[code]

[2015-11-23 19:11] tom-wa commented on #354
this particular case should work using the autosections flag.
the problem can't really be fixed in the current version because the plugin has ne concept of ordering, but i've already found a solution for it in the newer version that should be ready in about a week.

[2015-11-23 20:34] petermax2 commented on #276
I had a look into `libcrypto`'s source code. `CRYPTO_set_locking_callback` really just sets the function pointer internally BUT it also calls `OPENSSL_init()` which by now is only relevant if OpenSSL is compiled FIPS-compliant mode.

We could also check if the callbacks have been initialized. `CRYPTO_get_locking_callback` is not documented but declared in `crypto.h`, so it should be safe to call i

[2015-11-23 22:22] markus2330 commented on #276
You should ask, they might have plans to remove it in the future, especially if it is not documented.

[2015-11-24 11:13] markus2330 commented on #402
can you create a pull request with problematic INI files? (to src/plugins/ini/ini)

[2015-11-24 11:15] markus2330 commented on #401
Be extra careful with cascading names, you might get something different than you write to. You can use `-v` to check.

[2015-11-25 16:32] markus2330 commented on #387
Thanks, fixed by #390

[2015-11-25 16:32] #387 closed

[2015-11-25 20:56] machinekoder opened #404 "dbus and rename plugin do not work together"
There is a problem when the dbus and rename plugins are used at the same time. The dbus plugin seems not be aware of the renamed keys and notifies everyone with the raw key name. Furthermore it looks like the change detection does not work either.

[code]

[code]

`mkwrapper.ini` is here:
https://github.com/strahlex/mkwrapper-sim/blob/param/mkwrapper.ini

[2015-11-25 22:20] markus2330 commented on #404
When I mount it that way, I get:

[code]

which gives dbus the keyset rename+INI got.

Possible solutions:

1. Add dbus also to the presetstorage (as very first, you should even give ordering constraint against rename so that it cannot be mount wrongly) and do change detection then (sending out notifications still in postcommit).
2. Global plugins (see in #324) would give you all keys with sync fl

[2015-11-29 14:45] 0003088 commented on #370
works for me? search behaves as expected.

[2015-11-29 22:56] markus2330 commented on #370
It still does not work for me with Version: 5.3.2+dfsg-4+deb8u1 (Debian Jessie), even with #406 applied. Are you also testing with qt 5.3?

But if it works with newer versions, its ok. You shouldn't waste too much effort on old versions.

[2015-11-30 15:25] strahlex commented on #404
Solution 1 and 2 sound best. What is blocking the global plug-ins from being merged?

[2015-11-30 15:28] markus2330 commented on #404
The PR has some unresolved reviewer comments and needs a rebase.
@tom-wa Any plans on the timeline?

After the PR we need a `kdb global-mount` tool so that the global mountpoints actually can be used.

[2015-11-30 20:22] 0003088 commented on #370
No, I use 5.4.2 mostly and sometimes 5.5 for testing

[2015-12-01 13:48] #348 closed

[2015-12-01 14:10] #392 closed

[2015-12-01 14:53] markus2330 commented on #392
Thanks for closing! The syntax for closing does not allow other words between "fix" and the "#number".

[2015-12-03 14:22] KurtMi commented on #389
Since every plugin has a CMakeLists.txt, the state of experimental or not could be marked there. When a experimental plugin gets added with cmake to the build process, we could throw a message.

[2015-12-03 14:30] KurtMi commented on #373
+1 to the human readable approach

[2015-12-04 14:32] markus2330 commented on #373
Ok, we will go for @manuelm proposed version, `ELEKTRA_SET_ERROR(JNI_GENERIC_ERROR, ...)` with `#define` for every error code.

This will also ease later splitting into multiple error specifications.

[2015-12-04 14:42] fberlakovich commented on #302
I vote for 1

[2015-12-04 16:50] markus2330 commented on #373
reopen as implementation task

[2015-12-04 16:52] markus2330 commented on #301
rejection

[2015-12-04 16:52] #301 closed

[2015-12-06 16:32] markus2330 opened #415 "which plugins should be included by default?"
In #389 @manuelm stated that experimental plugins should not be included in the ALL target.

This issue is the place to discuss which target should include which plugins.
I propose to change:
1. DEFAULT to include *all* non-experimental plugins
2. NODEP to include non-experimental plugins without dependencies
3. ALL should still include all plugins (otherwise the name is misleading)

Implications:

[2015-12-06 16:39] markus2330 opened #416 "warning when mounting experimental plugins?"
In #389 the end-user is left out. What can we do to make it more clear for the end user that a plugin might not work as good as another?

The current situation is that one has to read the whole text in `kdb info <name>`. I propose:
1. Adding a contract information that an plugin is experimental
2. `kdb mount` should refuse mounting such plugins unless `-i --ignore-warnings` is given
3. `kdb list`

[2015-12-06 16:41] markus2330 commented on #389
The question was split up in #415 and  #416.

[2015-12-06 16:41] #389 closed

[2015-12-07 20:16] petermax2 commented on #276
@markus2330 not neccessary, I found the answer in the OpenSSL wiki [[1]](https://wiki.openssl.org/index.php/Libcrypto_API#Thread_Safety):

The earliest point for initialization is still `ELEKTRA_PLUGIN_OPEN`, right? Some sort of global initialization in Elektra would be really nice.

[[1] https://wiki.openssl.org/index.php/Libcrypto_API#Thread_Safety](https://wiki.openssl.org/index.php/Libcrypto_A

[2015-12-07 20:50] markus2330 commented on #276
Global initialization is only nice for us, but not for the users. (Which would have the problems we have with OpenSSL.) Yes, PluginOpen would be the place to do it.

[2015-12-10 04:57] markus2330 opened #418 "Provide global initialization and destruction"
As initially proposed by @manuelm and now by @petermax2  in #276 we could add global initialization and destruction.

Use case: Some plugins need libraries (or interpreters) which need to be initialized exactly once. (currently: crypto, syslog, python)

Ways to resolve it:
1. (Current way) when plugin is opened (+ will only be done when plugin is used, + users do not have to care about it, - need

[2015-12-10 07:27] petermax2 commented on #418
As for the crypto plugin number 1 would be great. I just want to know if I'm the first plugin of my kind. Some global destruction mechanism could be useful in the future (like cleaning up secure memory ares and stuff like that)

[2015-12-10 11:13] markus2330 commented on #418
Do you really mean 1.? (thats status quo)

Knowing that you are the first plugin still gives no information if the application or other libraries have already initialized libssl before.

I am afraid that there is no solution for the general problem: You cannot fix every broken API design by an additional layer. But I am looking forward that someone can convince me otherwise and we find a nice solu

[2015-12-10 11:19] manuelm commented on #418
What about moving the decision about initializing and final destruction to the end-user/application developer (API consumer)? As said many times we - as a library - are not able to fix this, just so some workarounds.

[2015-12-10 12:01] petermax2 commented on #418
@markus2330 do we have some reference counting facility in Elektra right now? Because knowing at `OPEN` that this is instance 1 and knowing at `CLOSE` that 0 instances are remaining after this plugin, would be sufficient for my needs. I don't know about python tough.

[2015-12-10 12:04] manuelm commented on #418
Just use some static variable. I'm doing the same in `src/plugins/python/python.cpp` (search for `open_cnt`). However this is still no general solution.

[2015-12-10 12:08] petermax2 commented on #418
@manuelm thx! I was planning on doing the same but I wasn't sure if Elektra provided this information in some other way.

Besides not having the nicest API in the world, what's wrong with mutex + ref count?

[2015-12-10 12:14] manuelm commented on #418
We as a library can't know what other libraries an application might be using. e.g. an application might already have python/openssl/whatever initialized and libelektra will mess with that.

[2015-12-12 05:21] nikonthethird opened #420 "Documentation for "kdb list" is wrong"
Running `kdb list --help` says:

    kdb-list - List keys in the key database

In reality it lists the Elektra plugins that are available. KDB version used: 0.8.14

[2015-12-12 05:26] nikonthethird opened #421 ""kdb --help" is inconsistent"
`kdb qt-gui --help` launches the GUI, but `kdb --help qt-gui` displays the help.

This applies for all tools listed in `kdb list-tools`, but some of them have no manual entry anyway.

KDB version is: 0.8.14

[2015-12-12 05:29] nikonthethird commented on #420
I also think the name "list" is too generic and totally sounds like it lists all keys in the database.

Compared to `kdb list-tools`, the command `kdb list` should in my opinion be renamed to `kdb list-plugins`.

[2015-12-12 07:43] markus2330 commented on #420
Yes, some names are too generic, a new naming schema is discussed at #265

[2015-12-12 07:45] nikonthethird commented on #420
I didn't notice the issue about the naming schema. Closing this because it is superfluous.

[2015-12-12 07:45] #420 closed

[2015-12-12 09:32] #421 closed

[2015-12-12 09:34] markus2330 commented on #421
Thank you for reporting it! Please reopen if you find further issues regarding unified --help or -H usage.

The -V or --version is not unified on purpose because I think we should give external commands a chance to report their own version information. And if some command is unable to report a version, I think the usability will not suffer too much if you need to retype `kdb -V`.

[2015-12-12 09:50] markus2330 opened #423 "mounting: avoid missing sync plugin"
Currently, when you change `/sw/kdb/current/plugins` you might forget to add `sync` which will might lead to data loss on later crashes (no fsync() after writing to configuration file).

We could either warn when it is not added or always add it irrelevant to the content of `/sw/kdb/current/plugins`?

Additionally, sync plugin is not available for the default backend (at least when nothing was mou

[2015-12-12 09:50] markus2330 commented on #308
There is an issue with the idea regarding a boolean convenience plugin: It won't work for plugin configuration unless it is already encoded within the default plugin, because the plugin configuration is already fetched in the early bootstrap phase. We could however define some essential plugins (e.g. also sync) which are hardwired in the default backend when Elektra was compiled with them. See als

[2015-12-12 14:52] nikonthethird opened #424 "INI plugin strips off UTF8 byte order mark"
I noticed while playing around with the INI plugin and files created with [Notepad++](https://notepad-plus-plus.org/), that files containing a [BOM (byte order mark)](https://en.wikipedia.org/wiki/Byte_order_mark) are stripped of it when using `kdb set`.

## Steps to reproduce:

Create INI file with BOM:

    uconv -f utf-8 -t utf-8 --add-signature << EOF > test.ini
    [test]
    key=uni❤code

[2015-12-12 16:20] markus2330 commented on #424
Thanks for reporting! @tom-wa does #405 handle this already?

[2015-12-12 16:21] markus2330 commented on #424
Are only the characters related to BOM gone or also other text?

[2015-12-12 16:26] tom-wa commented on #424
thats actually the inih library that strips the BOM, but i'll try include a fix for keeping BOMs

[2015-12-12 16:52] markus2330 commented on #424
I am not sure if we should put too much effort into inih. What it does is not that hard and it fails in many important aspects of ini-parsing. Its not even able to have = in a key. Dont you think that there are much better ini parsers out there?

the ni plugin has quite good parsing code, but unfortunately rips off all comments and destroys ordering.

I did some comparision when I decided for the

[2015-12-12 17:10] tom-wa commented on #424
i'm not sure if keeping the order can actually be done by the ini parser, shouldn't the ini elektra plugin handle the order ? keeping the BOM should be a trivial change to ini/inih and the rest already works (except having a = in a key or preseving whitespaces other than newlines) but i guess looking for an alternative isn't a bad idea

[2015-12-12 17:18] markus2330 commented on #424
Thanks! With keeping order I mean not discarding it. So you are right, the elektra plugin needs to do its part, too.

If = and BOM are the only problems inih should obviously be fixed. But with such obvious problems present I am afraid that there will be much more problems. In an additional quick test now, it does not seem to support spaces in key names and has a quite short maximum length for key

[2015-12-12 17:44] tom-wa commented on #424
i guess you are right, and it would be really nice to keep formating whitespaces, etc.
but wouldn't the best solution be writing a new ini parser/writer that does exactly what we need and shares a datastructur with the elektra plugin ? that way the only thing passed between the plugin and the parser/writer would be a data structure (+ allocated memory) and some flags and all file operations could

[2015-12-12 18:09] markus2330 commented on #424
Yes, it would be a very good option, but the parser might be more work than you expect.

[2015-12-13 00:32] nikonthethird commented on #424
As far as the tools I tried are concerned, the BOM is the only piece of information that is lost. I have not tried comments and such.

[2015-12-15 07:17] nikonthethird opened #425 "cmake fails with unexpected error about list_filter"
I tried to build the SWIG bindings, but did not have SWIG installed.

Instead of providing the correct error message (below), `ccmake` failed with:

    CMake Error at cmake/Modules/LibAddMacros.cmake:307 (MESSAGE):
      LIST_FILTER: missing list variable.
    Call Stack (most recent call first):
      src/bindings/CMakeLists.txt:21 (list_filter)

The relevant contents of `CMakeLists.txt` is:

[2015-12-15 07:25] nikonthethird commented on #425
It has nothing to do with SWIG. I get the same error message in another location:

    CMake Error at cmake/Modules/LibAddMacros.cmake:307 (MESSAGE):
      LIST_FILTER: missing list variable.

I just did: `mkdir build && cd build && cmake .. -DBINDINGS=ALL -DTOOLS=ALL -DPLUGINS=ALL` and the error appeared (the SWIG one is now gone since I have installed SWIG).

[2015-12-15 07:58] nikonthethird commented on #425
After trying to build all of Elektra on a minimal Ubuntu VM, I now have three instances where `cmake` fails:

* In [`src/bindings/CMakeLists.txt`](https://github.com/ElektraInitiative/libelektra/blob/63d811684e803c735ed8085c08e0e48fc9db30fc/src/bindings/CMakeLists.txt#L21)
* In [`src/bindings/gi/CMakeLists.txt`](https://github.com/ElektraInitiative/libelektra/blob/63d811684e803c735ed8085c08e0e48fc

[2015-12-16 10:50] markus2330 commented on #425
Thank you for reporting! Which cmake version do you have?

Workaround should be to not specify swig bindings where you do not have installed the dependencies for.

[2015-12-17 08:50] #425 closed

[2015-12-18 16:24] markus2330 commented on #302
We also need a convenience layer for `kdb-tool`
either `kdb chdir` or alias ~myapp = /sw/fancy/myapp/#0/current/

[2015-12-18 16:27] markus2330 commented on #302
decided for daniel proposal

[2015-12-18 16:31] markus2330 commented on #415
1. and rename DEFAULT to MINIMAL/CORE

[2015-12-18 16:35] markus2330 commented on #416
output warning and add quiet mode (also using KDB)

[2015-12-18 16:36] markus2330 opened #426 "introduce proper logging system"
See doc/decisions/logging.md

elektra logs to stdout (compiled with VERBOSE)
should be stderr

[2015-12-20 12:27] markus2330 commented on #424
@tom-wa told me that in the filecheck plugin he checks for 14 different kinds of BOMs.

@nikonthethird is only the UTF-8 BOM relevant or also the others?

[2015-12-20 13:05] nikonthethird commented on #424
For Windows (or more specifically, Notepad++), only the UTF-8 BOM is relevant. If it is present, it's an UTF-8 file, if not, it's a ASCII or binary file.

[2015-12-21 18:13] markus2330 opened #428 "qtgui: keys with wrong content"
Hello,

With the qtgui version in master I get an error when I try to sync:
[code]

`system/elektra/version` seems to have wrong content (and seems to cause the problem). When I hover it or double click on it, it shows that its value is "1", but it should be "Below are version information of the Elektra Library you are currently using". Using the `kdb` tool I do not have these issues. It does not

[2015-12-21 18:15] markus2330 commented on #370
only present at older qt versions

[2015-12-21 18:15] #370 closed

[2015-12-21 18:16] markus2330 commented on #341
Are there still open problems?

[2015-12-21 18:17] markus2330 commented on #262
0.8.14 released, it only supports C++11, no problems up to now. Please reopen if you have one.

[2015-12-21 18:17] #262 closed

[2015-12-21 23:55] markus2330 commented on #302
~ creates some problems for the "bookmark"-feature as discussed (it is used heavily for different features in shells). So I gave + a try.

The new feature works like:
[code]

What do you think?

[2015-12-21 23:56] markus2330 commented on #302
I reopen this issue: there is still bunch of documentation that refers back to old pathes in kdb and qtgui

[2015-12-23 12:32] markus2330 opened #429 "qtgui: bookmark feature"
In the kdb utility we will implement a bookmark-like feature, see #302

What about displaying the bookmarks in qtgui, too? Is it possible to navigate the left bar to a specific key or is there a limitation because of the "TreeView"?

Then we should use a common path, and not a specific one for the kdb-tool only.

[2015-12-23 20:15] 0003088 commented on #429
I'm not 100% sure if I understand you correctly here, but if you want that the view scrolls to a bookmarked key automatically I'm pretty sure that this won't work with the hacked TreeView, I tried something similar when implementing the search feature, it's just not possible to select a key any other way except clicking on it.

[2015-12-23 20:17] markus2330 commented on #429
Yeah, I was afraid so. Nevertheless, thanks for the quick response.

So I will keep the bookmarks private to kdb.

[2015-12-23 20:21] 0003088 commented on #428
I do not have any idea about this problem atm, but I will find some time after christmas to look into it. Regarding the commit, in general I have no problem with changes/enhancements, as long as they do not introduce regressions or new bugs.
best regards

[2015-12-30 14:08] markus2330 opened #431 "C++ vaarg KeySet constructor error-prone"
@nikonthethird @manuelm

`KeySet(Key("user", KEY_END), KS_END);` compiles without any warning because `Key` implicitly casts to bool which implicitly converts to size_t.

A way to fix it is to change the first argument to a new `Alloc` class, which only has an explicit constructor which disallows implicit conversions.

For the `vaarg` constructor this is quite forward to implement (only 3 clients

[2015-12-30 15:53] markus2330 commented on #431
For the easy case see: 2442736f297a59e9c6f0bbdd2a2c150d4b4ce63a

[2015-12-31 10:06] markus2330 commented on #377
@fberlakovich It seems like that there is a major flaw with this approach. @tom-wa noted that there might be name collisions. E.g. in `CONTRACT.ini` there is:
[code]
Thus we need special handling of the parsing code with meta anyway, even with `keytometa` afterwards.

So I am afraid there is no way around to providing metastorages next to non-meta storages. Do you have another idea how to deal wit

[2016-01-02 13:02] markus2330 commented on #416
To cover some more use-cases, I would extend the proposal to not only have the tag/status `experimental`, but also:

1.  popular
1.  productive .. means it is known to be in productive use
1.  specific .. means that the plugin is non-portable in order to gain some specific advantages for the user (i.e. in a positive sense specific/non-portable).
1.  unittest
1.  tested .. manually, thus not as "go

[2016-01-02 21:52] sl1pkn07 opened #432 "fail build with gcc5.3"
[ 39%] Linking CXX executable ../../../bin/testmod_type
    CMakeFiles/testmod_type.dir/testmod_type.cpp.o: In function `elektra::MType<short>::~MType()':
    testmod_type.cpp:(.text._ZN7elektra5MTypeIsED2Ev[_ZN7elektra5MTypeIsED5Ev]+0x8): undefined reference to `elektra::Type::~Type()'
    CMakeFiles/testmod_type.dir/testmod_type.cpp.o: In function `elektra::MType<short>::~MType()':
    testmod_t

[2016-01-02 21:57] markus2330 commented on #432
Thank you for reporting!

If it is the clang error `src/bindings/cpp/examples/cpp_example_userexception.cpp:60:7: note: candidate constructor (the implicit copy constructor) not viable: no known conversion from 'basic_string<char, std::char_traits<char>, std::allocator<char> >' to 'const kdb::KeyNotFoundException' for 1st argument
class KeyNotFoundException : public Exception` it will be fixed sho

[2016-01-02 21:58] sl1pkn07 commented on #432
sorry, i edited the message whit the error, and no, is with GCC 5.3.0

[2016-01-02 22:21] markus2330 commented on #432
Thanks for the message. Can you also give me the cmake command-line? In particular I am interested if you use an external gtest-all.cc? For some reason it seems to depent on pthread. I will try to get an `gcc 5.3` to reproduce it then.

[2016-01-02 22:24] sl1pkn07 commented on #432
export JAVA_HOME="/usr/lib/jvm/default"
    cmake ../elektra \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=/usr \
        -DBUILD_FULL=OFF \
        -DBUILD_STATIC=OFF \
        -DTOOLS=ALL \
        -DPLUGINS=ALL \
        -DBINDINGS=ALL
      make -j1

CMakeCache.txt: http://sl1pkn07.wtf/paste/view/5ddf92a3

[2016-01-02 22:57] markus2330 commented on #432
Thank you! I could reproduce it. Seems like there is more than one issue when g++5.3 is used. I will fix them soon.

[2016-01-03 17:12] fberlakovich commented on #354
@markus2330: since this bug is rooted in the new implementation of ini, could you please assign @tom-wa. For some reason I cannot assign him.

[2016-01-03 17:18] markus2330 commented on #354
@fberlakovich thanks for the hint. Could you please also comment on #377?

[2016-01-03 20:01] fberlakovich commented on #377
Ok, maybe someone can explain to me what the meta functionality of ini does. I thought currently it would only convert all non section keys to meta keys and append them to their corresponding section key. My proposal referred only to replacing this builtin functionality with keytometa + glob. In your example this would mean the key ```infos``` would receive a ```description``` MetaKey. As the key

[2016-01-03 22:59] sl1pkn07 commented on #432
now build ok

thanks!

ap! Happy new year! XD

[2016-01-03 23:30] #432 closed

[2016-01-03 23:56] sl1pkn07 commented on #258
nope, need reopen this issue

i found the problem

if build with '-DBUILD_TESTING=ON' all build ok. but if set '-DBUILD_TESTING=OFF', the error of this issue is back. also if not add : '-DPLUGINS="ALL;-type"', the fail in cmake configure process:

    CMake Error at cmake/Modules/LibAddTest.cmake:54 (set_property):
      set_property given TEST names that do not exist:
        testmod_type
    Cal

[2016-01-04 06:06] markus2330 commented on #432
Thanks for reporting it!
happy new year!

[2016-01-04 06:14] markus2330 commented on #258
I am a bit confused: The error message seems to be unrelated to "not written kdberrors" and the bug is not reopend? However, the message you posted is clear and should be fixed in 508daab.

Thanks for reporting! Please (re)open if you find any more issues.

[2016-01-04 06:21] markus2330 commented on #377
@fberlakovich Thats exactly what the meta functionality of INI does.
But without the meta functionality, INI collapses above "description" into the same key, thus render it impossible for `keytometa` to know which key is meta and which is not.

This would not happen if we do not collapse them and mark one of them as section and the other not, but then we need to invent a new name for either meta o

[2016-01-04 08:50] sl1pkn07 commented on #258
Simply,
that message (testmode_type) only appears when set '-DBUILD_TESTING=OFF' and '-DPLUGINS=ALL'. can jump the error if set '-DPLUGINS=ALL;-type'.

But then back the error related with kerberos.

Only fix if set -DBUILD_TESTING=ON and -DBUILD- FULL=OFF, other combinación get the sale fail (kerberos).

[2016-01-04 11:11] fberlakovich commented on #377
Ok, I see the problem now. However, I think this is not strictly related to this proposal, is it? It is again a general issue with the ini section handling. In my proposal I suggested matching on the MetaKey ```ini/section``` which implies that ini would tag section (or non-section keys) in any way. However, this is also not very nice). But the issue at hand seems to be the collapsing itself, not

[2016-01-04 11:14] markus2330 commented on #258
testmode_type should be fixed, you should not need the `-DPLUGINS=ALL;-type` workaround, please report if it is still not fixed for you.

I am still a bit confused, what has kerberos to do with it? (Do you mean kdberrors.h? Please post exact error messages.) Also "combinación get the sale fail" makes me puzzled. (Please give exact cmake commandline you would like to have + error you get with lates

[2016-01-04 11:21] sl1pkn07 commented on #258
the error with kerberos is described here https://github.com/ElektraInitiative/libelektra/issues/258#issuecomment-135884867

let me time to test the latest changes

[2016-01-04 11:44] sl1pkn07 commented on #258
- build with '-DBUILD_TESTING=OFF' is fixed. and no need more set '-DPLUGINS=ALL;-type'.

- build with '-DBUILD_FULL=ON' fails if use 'make -j24' (all my cores). log : http://sl1pkn07.wtf/paste/view/e4c210e4
but if use -j1 build OK

all over tmpfs (ram)

tested with commit 8551d35 and this cmake options

      cmake ../elektra \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=/

[2016-01-04 12:05] markus2330 commented on #258
I cannot reproduce it, even with -j24 (I do not have so many cores though).

9e351ff4075bdb9552d58da04f11451942fe87ba might help, can you try? Does it fail with every number above -j1? Another workaround would be to use `make -j 24 || make -j 24`, once the file include/kdberrors.h is fully stored on disc, there should be no problem anymore.

[2016-01-04 12:15] markus2330 commented on #377
Yes, I agree. I would be interested about which syntax used in practice would work without a problem (thus my followup question addressing the flaw: maybe its even possible with an INI dialect or simply with a different interpretation of how section should be mapped to keys).

Your generalized proposal is that we tag keys that syntactical differ in order to use that tag later to collapse all other

[2016-01-04 13:11] sl1pkn07 commented on #258
9e351ff no helps (with -j24)

yes, 'make || make' can avoid the error, but i think is a little workground that needs fixing

tested with:

    for _jobs in $(seq 1 24); do echo "=====>BUILD WITH ${_job} THREADS<=====" && LC_ALL=C makepkg MAKEFLAGS=-j${_jobs}; done

fail with 15, 19, 20, 21, 23 and 24 jobs

btw, all of this is for I maintain the AUR package elektra-git https://aur.archlinux.org/pac

[2016-01-04 14:53] omnidan commented on #401
Sorry for the late response, I kinda overlooked this issue. :sweat_smile: Output with `-v`:

[code]

[2016-01-04 16:38] markus2330 commented on #401
Ok, seems like you actually got the key `dir/test/test/hello` and not `user/test/test/hello` as you expected.

Writing to cascading keys is sometimes not intutive, I agree that it is not a good idea that a `get` afterwards should return what you have `set` before.

Maybe we should prohibit the writing to cascading keys at all, it causes more problems than it solves.

[2016-01-04 17:18] markus2330 opened #433 "Elektra Packaging"
Hello @sl1pkn07

Thanks for maintaining the AUR package, we are very grateful for it.

Some comments about the package as pasted here http://sl1pkn07.wtf/paste/view/325631b6:

[code]

Ideally, there would be more than one binary package. Elektra is very modular and its core only has dependencies to gcc and cmake. The plugins have all sorts of dependencies, thus it would be good if the user can ins

[2016-01-04 17:23] markus2330 commented on #258
Hello, one more try: In 9722cd914f58b36fd03920b6b66edecaa944ea5e should render the error impossible, either kdberrors.h is found and has correct content or is not there at all. (Unfortunately this is impossible with C99, it needs POSIX, thus it was not there in the first place. But we will find a solution for this, if it really helps in your -j24 situation.)

Yes, I know that you maintain the AUR

[2016-01-04 19:25] sl1pkn07 commented on #433
can make a split pkgbuild (one PKGBUILD for build several packages), but i think can use optdepend for this

yes, but arch, by default, only support i686 and x86_64 architectures

ok

in arch, the includes (commonly named '-dev' packages on other distribution) they are included in the packages

a little explanation of diferences between makedepends, depends,optdepends:

makedepends=(): is a depend

[2016-01-04 19:27] sl1pkn07 commented on #433
ops. i close the issue :S

[2016-01-04 19:49] sl1pkn07 commented on #433
ok. I tried uninstall dockbooc-xsl and texlive-(latexextra,fontsextra) and the documentation (html) is builded without aparently problems. then I'll remove it

[2016-01-04 19:55] markus2330 commented on #433
Hello,

Luckily we started a new issue, it seems to be a longer discussion ;)

Gustavo Alvarez wrote:

Seems to be a good option.

Obviously, you are more experienced in packaging and in the end every
packaging decision is yours. I do not have experience with arch linux not to
speak with packaging for it. I only said what I found suspicious. If non-
i686/x86_64 do not matter for arch linux, then i

[2016-01-04 20:56] sl1pkn07 commented on #433
sl1pkn07.wtf/paste/view/325631b6

http://sl1pkn07.wtf/paste/view/e4c210e4#L130

qt5-declarative pull qt5-base, and qt5-base pull dbus.

of course is possible add other architectures, for example armv7 and others., only need add the architecture in the arch=() array. AUR is commonly used by arch-based distros accept other architectures. if any user need add these architecture (if don't need make mu

[2016-01-04 22:23] markus2330 commented on #433
Hi,

Gustavo Alvarez wrote:

Of course only if someone can build it.

The jna.jar is self contained, you only need this one file somewhere so that it
is found.

Its very easy to miss something, it would be good to test it from a clean
system from time to time.

Yes, it is needed during the build-process.

That would be great if you can put everything that has different dependencies
into different

[2016-01-04 22:24] markus2330 commented on #258
Please tell me if you can still reproduce this issue and the number of jobs needed to fail it.

Thank you!

[2016-01-04 22:43] sl1pkn07 commented on #433
into different packages.

all, all, not, only the bindings. (the plugins can live together with the main package)

easily allows to split up different files to different packages.

yes. with tons of 'rm -fr' XD. No, seriously, I need take a look on this

okidoki.

roger!

Gretings

[2016-01-04 22:44] sl1pkn07 commented on #258
in test. give me time! XD

[2016-01-04 22:59] markus2330 commented on #258
Thx!

[2016-01-04 23:05] manuelm commented on #258
Instead of workarounds, we should rather fix the multiple/parallel generations of `kdberrors.h`. From cmake `add_custom_command`: ```Do not list the output in more than one independent target that may build in parallel or the two instances of the rule may conflict (instead use add_custom_target to drive the command and make the other targets depend on that one).```

[2016-01-04 23:09] manuelm commented on #258
What about `add_custom_target` + `ALL`-flag?

[2016-01-04 23:12] markus2330 commented on #258
I gladly accept PRs. Its difficult to fix it without any way to reproduce the issue and its easy to introduce new issues. I do not know if ALL targets are guaranteed to be build before anything else.

[2016-01-04 23:23] manuelm commented on #258
Try running a parallel build with high concurrency and look out for multiple `Generating ../../include/kdberrors.h`. The build doesn't have to fail.

[2016-01-04 23:30] markus2330 commented on #258
Yes, one can do that. Still, one should read the CMake docs, so that the behaviour won't change in the next version. I agree it should be done right.

[2016-01-04 23:50] sl1pkn07 commented on #258
tested 25 times with -j24. all done :D

[2016-01-04 23:50] markus2330 commented on #258
Thank you! @manuelm thank you for your effort too, the hints will be valueable when we trap into the issue again.

[2016-01-05 00:16] markus2330 commented on #258
@sl1pkn07 all unittest should now also run with BUILD_SHARED only.

In the next release we might even prefer to run unittest as BUILD_SHARED, even if BUILD_FULL is available (as suggested by @manuelm). It tests "more" (the module loading/unloading), but is also a (lot) slower for the memtests.

Mingw build should work now too (It was broken because of adding the fsync/rename in exporterrors).

Tha

[2016-01-05 12:32] manuelm commented on #431
So why do we want to fix something which isn't broken? The constructor is clearly used in a wrong way.

[2016-01-05 13:07] sl1pkn07 commented on #433
Splitted PKGBUILD

http://sl1pkn07.wtf/paste/view/2975d3e1

now with java plugin/binding

[2016-01-05 13:25] manuelm commented on #431
One possibility might be overloading the KeySet constructors with other datatypes and making the `KS(bool, ...)` constructor stop the compilation. We would at least need `KS(int, ...)` as well. But I'm still against fixing this as this approach might have other side effects (or even won't work at all - just did a rough test in a sample file).

[2016-01-05 13:29] petermax2 commented on #276
see PR #427

[2016-01-05 13:29] #276 closed

[2016-01-05 17:35] markus2330 commented on #433
Thank you, looks much better!

[2016-01-05 18:11] markus2330 commented on #431
@manuelm: The fix is about API usability, you can use it a completely wrong way very easily, that is not a good sign.

Adding a KeySet(bool,...) constructor is not so easy. To let it fail you somehow need SFINAE (to not fail in the good cases), thus templates are involved.
Something like:
[code]
seems for me to be much more complicated? Wouldn't it also make the bindings more complicated?

[2016-01-05 19:18] manuelm commented on #431
This is still not a bug for me. Yes, the API is error prone. The whole varargs API is. I've said this multiple times. You can easily make your code crash by passing any unexpected datatype to the Key constructor.

Instead of fiddling with the vaargs API we should rather think of adding a more modern C++ API and make the vaargs API a C-API only.

And yes, every fix will make bindings more complicat

[2016-01-06 13:53] manuelm commented on #431
What about something like that: https://gist.github.com/manuelm/08d27f271c8102eaf7ac?

[2016-01-06 22:55] markus2330 commented on #431
@manuelm Thats a nice minimal solution, thanks. We only need some `#ifdef GCC` around it (similar to `ELEKTRA_SENTINEL`). Can you create a PR?

About your concern to create a more modern C++ API, what exactly do you have in mind? Did you already look at `keysetget.hpp`? (Allows you to construct any type from data in a keyset)

For KeySet construction we could create a fluent API with perfect forwa

[2016-01-07 12:57] manuelm commented on #431
I'm lacking time. Can you do the PR/creating the patch for me please? You're more familiar with the compiler conditionals used already anyway.

[2016-01-07 15:35] markus2330 commented on #431
Is not so urgent, I will keep the ticket open.

[2016-01-07 23:29] haraldg opened #434 "build utils: do not always install exportsymbols, exporterrors"
When cross compiling the build utils (exportsymbols, exporterrors) need to be installed into the build system, because cmake doesn't (officially) support switching compilers on the fly. However such generic names might easily lead to collisions and very strange build errors.

Renaming them to something like elektra-export-symbols and elektra-export-errors would be safer. (And remembering to rename

[2016-01-07 23:35] haraldg opened #435 "Modular installation"
As discussed in Issue #434 the build utils need to be installed into the PATH of the system when preparing for cross compiling. This is currently not supported by the Makefiles.

One possible solution is to provide a new make target install_buildutils ...

[2016-01-08 08:46] markus2330 commented on #434
Hello, thanks for reporting the issue!

I pushed this solution to master so that you are not blocked with the work.

When we resolve #435 (so that elektra-export-errors and elektra-export-symbols) are not installed for everybody, I think its a fine solution.

An alternative would be to install exportsymbols and exporterrors (a rename would not be required then) to TARGET_TOOL_EXEC_FOLDER (thats a

[2016-01-08 08:53] markus2330 commented on #433
See #435, maybe we can get the rest of it modular, too?

[2016-01-08 08:58] markus2330 commented on #435
The most straight-forward way within CMake seems to be to use the [install COMPONENT](https://cmake.org/cmake/help/v3.0/command/install.html) feature.

With it we could assign every installed file to one of the components. Before I go into details which files go into which components:

1.) Do you think its a good idea?
2.) Could we get rid of every INSTALL_* (i.e. INSTALL_DOCUMENTATION, INSTALL_TE

[2016-01-08 09:05] beku commented on #435
As far as I can see Oyranos and Synnefo uses that cmake thing to build OS X frameworks and app bundles correctly. I do not know if that is the correct answere for your here discussed needs.

[2016-01-08 09:07] markus2330 commented on #435
@beku Thank you, app bundles are indeed an interesting aspect for that discussion. I will look into Oyranos if we decide to implement a install COMPONENT feature.

[2016-01-08 09:10] beku commented on #435
@markus2330 https://github.com/oyranos-cms/oyranos/blob/master/src/liboyranos_core/CMakeLists.txt

[2016-01-08 09:14] markus2330 opened #436 "Support in-tree builds"
In-tree builds are currently possible with FORCE_IN_SOURCE_BUILD, but not really supported. Thus in OpenWRT no clean solution for out-of-tree builds exist we should officially support it, i.e. have a build job that tests it.

[2016-01-08 10:03] haraldg commented on #434
markus2330 writes:

Thanks, actually it wouldn't have been necessary to polute master with
experimental commits. I think the package could fetch any commit as long
as I know the hash.

kdb should be available during cross compilation. If it isn't, then it
is a bug in my package. I'm rather curious if it will work in host
compilation, when elektra hasn't been installed yet?

I will try to be sure.

[2016-01-08 10:29] haraldg commented on #434
Got one step further, but now it is picking up the wrong binary! Which
I quite don't understand. Your commits look very straight forward to me ...

[code]

[2016-01-08 12:29] haraldg commented on #436
Found the first problem with in-tree builds. Recursive inclusion of header
files:

[code]

Looks like for some reason "#include <inconv.h>" finds the local version of
iconv.h instead of the system version. (This is tested on jessie/i386 to make
sure it is not a problem of the cross toolchain.)

[2016-01-08 13:55] haraldg commented on #434
I think I found the reason for the new error. Looks like a variable scope problem during cross compiling:

[code]

So looks like find_util is polluting the cache on cross compiling. If at all there should be EXE_SYM_LOC and EXE_ERR_LOC entries in the cache.

FWIW this is the definition:

[code]

[2016-01-08 19:44] markus2330 commented on #434
Thanks for your investigation, you directly led me to the problem. Should be fixed now. (I only tested if the CMakeCache.txt has correct content, not if cross-compiling actually works)

[2016-01-08 21:10] markus2330 commented on #436
Should be fixed now. I have set up a build job to check for regressions:
http://community.markus-raab.org:8080/job/elektra-gcc-configure-debian-intree/

[2016-01-08 21:11] markus2330 opened #438 "Doxygen creates directories ( ) in source"
@sanssecours wrote: One thing I noticed while I tested the changes was that `cmake` also seems to produce two (useless?) directories with the names `(` and `)` inside `libelektra/doc`. Is this intentional?

[2016-01-08 21:13] markus2330 commented on #438
No, the directories are not created intentionally, should be fixed.

[2016-01-09 10:18] haraldg commented on #436
Yes, works now. Wouldn't it be cleaner to fix the search path for include files than to rename the header files?

[2016-01-09 10:39] markus2330 commented on #436
Thanks for the remark!
The problem is that the search path is different for in-source and out-source builds (or at least the current working directory is different.) And the search path, especially the handling of `#include ""` is also non-portable. So renaming seemed to be like a robust solution.

[2016-01-09 11:29] haraldg opened #439 "PTHREAD_RECURSIVE_MUTEX_INITIALIZER_NP is not portable"
While musl libc supports recursive mutexes, the initaliziation macro appears to be specific to glibc, causing a build error:
[code]
See this link for the same issue on an other project: https://github.com/Itseez/opencv/issues/5476

[2016-01-09 13:20] markus2330 commented on #439
Thank you for reporting!

@petermax2 already wrote a solution for that problem (that exists in OS X <= 10.6, too). Later we reverted it, even though we knew it is actually not portable, because we thought it would not effect us anymore.

@petermax2 Can you add your same code again with a `#ifndef PTHREAD_RECURSIVE_MUTEX_INITIALIZER_NP`?

[2016-01-09 13:21] petermax2 commented on #439
I'll check the history and I'll try to resolve this issue.

[2016-01-09 13:25] markus2330 commented on #439
Thank you! It would be ideal if you try to compile Elektra with `CC=musl-gcc  ./scripts/configure-debian ~e` to see if the problem is gone for musl.

@haraldg You can easily avoid the issue by removing all resolver variants that contain `m` (for mutex).

[2016-01-09 15:07] petermax2 opened #440 "Provide Dockerfile for Jenkins build environment"
It would be nice to have the exact state like the Jenkins build server. I often encounter errors on the build server, that I can not reproduce on my local machines. By having the same environment (package versions, path configs, etc.) we should be able to reproduce build errors on our local machines.

[2016-01-09 15:21] haraldg commented on #439
markus2330 writes:

I tried it with:
        -DKDB_DEFAULT_RESOLVER=resolver_l_h_b \
        -DPLUGINS="DEFAULT;-resolver;resolver_l_h_b"

but got an error:
CMake Error at cmake/ElektraCache.cmake:338 (message):
  selected default resolver (resolver_l_h_b) is not selected in PLUGINS,
  please change KDB_DEFAULT_RESOLVER or PLUGINS

[2016-01-09 19:08] markus2330 commented on #439
@haraldg: Sorry, the workaround does not work as I thought it would. First I will tell you a workaround that works, then I will go into the details why the other one did not work.

A solution that compiles  is to use `wresolver` instead of `resolver`:

`cmake ~e -DKDB_DEFAULT_RESOLVER=wresolver -DPLUGINS="dump;error;wresolver"`
or longer as I tried it:
`CC=musl-gcc CXX=g++ cmake -DKDB_DEFAULT_RESO

[2016-01-09 19:10] markus2330 commented on #440
Thank you, this is a good idea! Lets talk about it the next time. Maybe there is a jenkins plugin for that already?

[2016-01-09 19:19] markus2330 commented on #440
As workaround, you can download the workspace of jenkins already. You only need a chroot with the same debian version to run the executables.

[2016-01-10 09:38] petermax2 commented on #439
@markus2330 the code sequence is already within an `#ifdef`

    #if defined(__APPLE__) && defined(__MACH__)
    static pthread_mutex_t elektra_resolver_mutex = PTHREAD_RECURSIVE_MUTEX_INITIALIZER;
    #else
    static pthread_mutex_t elektra_resolver_mutex = PTHREAD_RECURSIVE_MUTEX_INITIALIZER_NP;
    #endif

The problem is that `PTHREAD_RECURSIVE_MUTEX_INITIALIZER` is also not available when com

[2016-01-10 09:39] markus2330 opened #441 "conditionals: wrongly reported syntax error"
@tom-wa When a key of a conditional expression was not found, a syntax error is reported.

Example:

[code]
after using
[code]
it works as expected.

Expected: other type of error, something in the line of "Key hkey not found which was needed to evaluate the subexpression hkey == 'hello'"

Also the error #134 (in the case of a real syntax error), could be clearer. Which README? (prefer to use `kdb

[2016-01-10 09:45] markus2330 commented on #439
Yes, it should also be dependent of `ELEKTRA_LOCK_MUTEX`. But if  `PTHREAD_RECURSIVE_MUTEX_INITIALIZER_NP` exists should be also checked. The check with __APPLE__ and __MACH__ is not useful (or since 10.7 even wrong).

So it should be:
[code]

Thanks for your quick response on the weekend!

[2016-01-10 10:11] petermax2 commented on #439
@haraldg I provided a PR ( #442 ) but you will still need to compile the resolver without the `ELEKTRA_LOCK_MUTEX` variant.

[2016-01-10 10:52] haraldg commented on #439
Peter Nirschl writes:

Ok, I will try to test it.

How do I do that?

$ rgrep ELEKTRA_LOCK_MUTEX doc

turns up nothing and as @markus2330 wrote yesterday, removing the m resolvers
from the plugin list is not done easily.

Silly question time:
Since musl actually supports recursive mutexes, wouldn't it be better
to just do mutex initialization the posix way (whatever this would be)?
(See the link t

[2016-01-10 10:56] petermax2 commented on #439
@haraldg I am not so familiar with the internals of the resolver and I'm not sure if recursive mutexes are necessary and why.
@markus2330 can you please answer the questions? =)

[2016-01-10 12:12] markus2330 commented on #439
Yes, within resolvers, recursive locking is necessary. Within a single `kdbGet/kdbSet` multiple resolvers with the same lock may participate, thus we need recursive locking.

We also want to write a global lock plugin, then there would be a single point of lock and no recursive locking would be necessary. The locking would be less granular then, so there is a use-case for both variants of locking.

[2016-01-10 12:22] markus2330 commented on #439
or
`CC=musl-gcc CXX=g++ cmake -DBUILD_TESTING=OFF -DBUILD_FULL=OFF -DBUILD_STATIC=OFF -DPLUGINS="ALL;-resolver_fm_b_b;-resolver_fm_hb_b;-resolver_fm_hp_b;-resolver_fm_ub_x;-resolver_fm_xb_x;-resolver_fm_xp_x;-resolver_fm_xhp_x;-resolver_fm_uhb_xb;-yajl;-journald;-crypto;-dbus;-xmltool" ~e && make -j 5`
compiles, too.

BUILD_TESTING and "-yajl;-journald;-crypto;-dbus;-xmltool" was added because Deb

[2016-01-10 17:02] petermax2 commented on #439
@markus2330 I checked the history. Yes, I will restore the manual initialization of the recursive mutex.

[2016-01-10 17:45] markus2330 commented on #439
Thank you!

[2016-01-10 19:21] petermax2 commented on #439
The resolver compiles using `musl-gcc`with the manual setup of the recursive mutex. Do you want me to restore the CMake definition to:

	add_plugin(resolver
		SOURCES
			${SOURCES}
		LINK_LIBRARIES
			${CMAKE_THREAD_LIBS_INIT}
			${CMAKE_REALTIME_LIBS_INIT}
		COMPILE_DEFINITIONS
			ELEKTRA_VARIANT_BASE=\"\"
			ELEKTRA_VARIANT_USER=\"hpu\"
			ELEKTRA_VARIANT_SYSTEM=\"b\"
			ELEKTRA_PLUGIN_NAME=\"re

[2016-01-10 19:27] markus2330 commented on #439
The idea is to completely remove the resolver called "resolver" for the next release. So it should not matter much. But yes, you can restore it. Thank you!

[2016-01-10 23:04] haraldg commented on #439
Thanks, compiles now on openwrt. As far as I'm concerned this issue can be closed.

[2016-01-11 09:08] #439 closed

[2016-01-11 11:26] sanssecours commented on #438
I looked a little bit into the issue. It seems that the macro `do_doc` creates the folders `(` and `)`, in the directory `doc` inside the root of the repo. Lets start with steps to reproduce the issue:

---

1. Go to the root folder of the cloned repository
2. Create a folder called `build`

[code]
3. Change the directory to the folder you just created

[code]
4. Run `cmake`

[code]

After the las

[2016-01-11 15:20] markus2330 commented on #438
You are on the right track! It won't, however, be fixed by adding an if (folder is always set). When you read about the syntax and how the cmake command `file` works, it will immediately obvious what the problem is. I will leave it to you, I think fixing this bug will be a good way to learn CMake ;)

[2016-01-12 01:05] haraldg opened #447 "reconsider installation of useless plugins"
According to @markus2330 the plugins doc and template only make sense in the source tree. So maybe they shouldn't be part of ALL or shouldn't be installed in the system?

[2016-01-12 05:31] tom-wa opened #448 "ni removes part of names using cascading export"
[code]

works fine using kdb export system/mytestmount

[2016-01-12 07:22] markus2330 opened #449 "make specifications of PLUGINS TOOLS BINDINGS more flexible"
Currently, you can combine ALL expressions only with removal, not with adding plugins. For example, it would be useful to be able to specify: `cmake -DPLUGINS="NODEP;resolver_fm_pb_b"`

Implementation hint: there should be a cmake function for the renames, so that also behaviour for SWIG and GI and the like is identical.

[2016-01-12 07:27] markus2330 commented on #447
Yes, we can remove them from installation.
I think, however, they should compile on the buildserver (the build server uses ALL) to be sure that they continue to compile after any changes.

[2016-01-12 07:29] #438 closed

[2016-01-12 07:45] markus2330 commented on #448
Thank you for reporting! The problem is that ni does not expect a cascading key as parent key (line 109: `keyName(cur)+parentSize`+the length calculation directly afterwards).

Related to that bug:
What about adding `keyGetRelativeName(Key, Key)` and its size pedant `keyGetRelativeNameSize(Key, Key)` that handles cascading/non-cascading names correctly?

With the event of global plugins I think we

[2016-01-12 08:24] tom-wa commented on #448
You are right, i've just noticed that i have the same issue with the ini plugin
want me to do it ?

[2016-01-12 08:27] markus2330 commented on #448
I think the best proceeding is to first fix it in the new INI plugin #405, and if the solution is generic and works well, we fix all other occurrences. We should add a test-case with cascading export/import in the shell-testcases.

[2016-01-12 09:59] markus2330 commented on #300
Proposal accepted ;)

[2016-01-12 09:59] #300 closed

[2016-01-12 10:01] markus2330 commented on #377
I will close it for now until someone picks it up again.

Adding ideas here is always possible, though.

[2016-01-12 10:01] #377 closed

[2016-01-12 10:03] markus2330 commented on #418
I think the issue is now clear to everyone and it seems that there is no perfect solution: We need to take care that libraries we integrate do not have such issues.

[2016-01-12 10:03] #418 closed

[2016-01-12 10:04] #429 closed

[2016-01-12 10:08] markus2330 commented on #433
I will close the issue for now, thank you again!

Do not hesitate to reopen if there are any further issues.

[2016-01-12 10:08] #433 closed

[2016-01-12 10:21] markus2330 commented on #434
Depending on the outcome of #435, we might need INSTALL_BUILD_TOOLS or INSTALL_CROSS_COMPILATION to avoid installation of export* tools. @haraldg needs to be notified when we introduce it, because it will break the openwrt build.

[2016-01-12 10:26] markus2330 commented on #394
Everything seems to work nice.

Please reopen if there are any further issues.

[2016-01-12 10:26] #394 closed

[2016-01-12 18:30] haraldg opened #450 "lua plugins depends on lua 5.2 but doesn't detect so"
lua.cpp uses LUA_OK, which was only defined in 5.2. however cmake will try to build the plugin if an older version of lua is installed.
(No idea why OpenWRT is still stuck with lua 5.1.5 ...)

I'm manually disabling the lua plugin to avoid triggering a build error should lua happen do be selected, so this is no big deal.

[2016-01-12 18:48] markus2330 commented on #450
Thanks for reporting!

Maybe LUA_OK is the only problem, then we maybe can support lua 5.1?

Otherwise, we should state the dependency correctly in cmake.

[2016-01-12 22:10] haraldg commented on #450
Yes, LUA_OK is the only error that is reported. However 5.2 came out 4 years ago, so I wouldn't bother too much.

[2016-01-13 01:07] tom-wa opened #452 "Issues compiling elektra on OpenBSD 5.8"
* OpenBSD doesn't use/know EBADMSG
[code]

* OpenBSD doesn't have librt
should be
[code]
in cmake/ElektraCompiling.cmake

[2016-01-13 11:18] markus2330 commented on #450
I think the lua bindings would fit nicely for OpenWRT. Do they have any plans to update?

[2016-01-13 13:11] haraldg commented on #450
Yes, it's this odd thing you get when you are forking a project instead of building consensus, that the only scripting language used by OpenWRT aside from shell, will be the only binding we won't be able to use there (just successfully compiled the python plugins, which have been the last ones on my list).

I don't know about their plans, however this mail suggest that they are quite unhappy with

[2016-01-13 13:18] manuelm commented on #450
If the only thing that's missing adding the `LUA_OK`-macro I'll accept such a PR. However I can and won't test Lua 5.1, nor will I work on related bug reports (of any sort).

[2016-01-13 14:45] markus2330 commented on #450
Debian stable still has lua5.1 (as option), so I can take a look without too much trouble.
Btw. Directly writing lua code in spec/ (as meta data) sounds like a nice option for some simple tasks.

[2016-01-13 14:49] markus2330 commented on #452
Thanks for reporting! These are really easy fixes then! (EBADMSG was chosen arbitrary, we can take any other value not issued by the syscalls in questions, too)

[2016-01-13 17:07] markus2330 opened #453 "crypto does not compile on wheezy"
see http://community.markus-raab.org:8080/job/elektra-git-buildpackage-wheezy/lastFailedBuild/console
[code]

[2016-01-14 11:10] petermax2 commented on #453
the initialization macro `GCRY_THREAD_OPTION_PTHREAD_IMPL` in libgcrypt seems to cause problems. it resolves to:

	#define GCRY_THREAD_OPTION_PTHREAD_IMPL                                       \
	static int gcry_pthread_mutex_init (void **priv)                              \
	{                                                                             \
	  int err = 0;

[2016-01-14 22:33] petermax2 commented on #453
please reopen this thread if any warnings/errors appear again

[2016-01-14 22:33] #453 closed

[2016-01-18 14:32] markus2330 commented on #450
I will keep it open for LUA_OK-investigation.

[2016-01-21 15:10] tom-wa opened #456 "doc/help/* "see also" links broken"
All the "See also" links in the doc/help files are broken
e.g.
`https://github.com/ElektraInitiative/libelektra/blob/master/doc/help/elektra-key-names.md`
links to `https://github.com/ElektraInitiative/libelektra/blob/master/doc/help/doc/tutorials/namespaces.md`
but should link to `https://github.com/ElektraInitiative/libelektra/blob/master/doc/help/elektra-key-names.md`
(same goes for all other h

[2016-01-21 15:16] markus2330 commented on #456
Thank you for reporting! I think I will set up a redirection to have short links to github repository.

[2016-01-21 15:20] markus2330 opened #457 "various INI problems"
@tom-wa If KDB_DEFAULT_STORAGE is set to ini, mounting fails:

[code]

There is another bug that causes keys in `/etc/kdb/default.ecf` to be both present in system and system/elektra/mountpoints (Its a problem that non-relative pathes are assumed in the configuration file), but the problem above seems to be ini-related: a GLOBALROOT should definitely not turn up.

[2016-01-21 19:18] markus2330 commented on #457
Content of ini is:
[code]

[2016-01-21 19:24] markus2330 commented on #457
A part of the issue seems to be that no escaping of slashes works in the sections.

It seems that it also adds its parentKey.

[2016-01-21 19:34] markus2330 commented on #457
tests/shell/check_export.sh line 32 (and others) excludes ini plugin

[2016-01-21 19:37] markus2330 commented on #457
(Note for myself: KDB_DEFAULT_STORAGE should be used as default format for import/export)

[2016-01-22 10:47] sanssecours opened #459 "Use Clang-Format to prettify code"
Basically finished, small issues:

- [ ] after `typedef enum` and `extern "C"` there is no newline. But from the docu `BreakBeforeBraces: Allman` already should be the right thing?

# Proposal

[Clang-Format][] is a tool that formats code according to a given set of rules. In my opinion it would make sense to require everyone to use this tool to format their code, before they add something to the

[2016-01-22 10:56] markus2330 commented on #459
I actually tried to use clang-format, but the predefined styles are quite different to the current code base and creating a new style is a lot of effort.

[2016-01-22 11:07] markus2330 commented on #402
@omnidan ping, can you recheck with latest ini plugin?

[2016-01-22 11:14] markus2330 commented on #355
Should work now (needs mount option "array"), e.g.:
[code]

[2016-01-22 11:20] markus2330 commented on #160
Please install musl, i.e.

`apt-get install musl musl-dev musl-tools`

Thank you!

[2016-01-22 12:21] petermax2 commented on #459
I think a new style may be worth the effort, if the code formatting happens in an automated way. I still have to read my Elektra code twice before pushing it to find all spaces between function names and parentheses.

[2016-01-22 12:28] petermax2 commented on #416
agreed! :+1:

it could also mark them as experimental. What about users who refuse to read manuals?

[2016-01-22 13:07] markus2330 commented on #416
@tom-wa also proposed to have a tag "undocumented" for some plugins that only have a minimal README.md. I agree that the documentation status of a plugin should be considered, too.

[2016-01-22 13:11] fberlakovich commented on #459
I agree. A tool that automatically formats code in a final way (e.g. after each commit) would be desirable. I use Eclipse which provides automatic code formatting. However, the configuration options are limited and some formatting still has to be done by hand.

[2016-01-22 13:13] fberlakovich commented on #416
I like both ideas, the proposed list of tags as well as the tag for the documentation status.

[2016-01-22 13:15] fberlakovich commented on #182
I prefer the metadata version. However, I would also like to shield as much code as possible from the array handling with a capable array library.

[2016-01-22 15:35] markus2330 commented on #416
popular is subjective

[2016-01-22 17:52] markus2330 commented on #459
Step 1: @KurtMi please write propose guideline
Step 2: Implement in clang-format

[2016-01-22 17:55] markus2330 commented on #415
The indicator as discussed in #416 is also important to determine DEFAULT (maybe infos/status > 0 include in DEFAULT)

[2016-01-22 18:04] markus2330 commented on #416
@fberlakovich @petermax2 @manuelm if you want you can create PRs for your infos/status in the plugin, or simply suggest how you want it here.

[2016-01-22 18:07] markus2330 commented on #435
Because no one really argued that he/she really wants/needs this expensive feature we will simple go for INSTALL_BUILD_TOOLS, see #434.

[2016-01-22 18:07] #435 closed

[2016-01-22 18:56] markus2330 commented on #434
@haraldg Warning, you now need to add -DINSTALL_BUILD_TOOLS=ON for the host build.

I set up a [build job](http://community.markus-raab.org:8080/job/elektra-gcc-configure-debian-musl/) that uses scripts/configure-debian-musl:

[code]

[2016-01-22 19:38] manuelm commented on #416
lua: unittest
python: unittest; maybe memleak, but that's because of python itself

[2016-01-23 05:48] markus2330 commented on #160
musl installed and agends upgraded

[2016-01-23 06:29] markus2330 commented on #440
The mergerequest (and others) from now on generate a file build-information.txt that contains the list of all manually installed packages (w/o their deps) and the complete environment.

http://community.markus-raab.org:8080/job/elektra-mergerequests/ws/build/build-information.txt/*view*/

Additionally, following files are archived with every build (so that subsequent builds do not remove informati

[2016-01-23 07:57] petermax2 commented on #416
I will create a PR.

[2016-01-23 16:44] petermax2 opened #461 ""wrong" order in README.md leads to compile error"
having a `README.md` like this (with `infos/status` as last key):

	 - infos/author = Peter Nirschl <peter.nirschl@gmail.com>
	 - infos/licence = BSD
	 - infos/needs =
	 - infos/status = experimental
	 - infos/provides = filefilter
	 - infos/placements = postgetstorage presetstorage
	 - infos/description = Cryptographic operations
	 - infos/status = experimental

    ## Introduction ##

leads to a

[2016-01-24 10:28] markus2330 commented on #416
Instead of popular we could use recommended? (Still subjective, but better tells what is meant).

Please write here if you have further ideas for tags. There should be many because every plugin should have a different status, so that we never have to rely on alphabetical or another order.

Some further ideas:

- compatible (to indiciate it will be compatible with later versions)
- conformant (to i

[2016-01-24 10:50] markus2330 commented on #461
The order should not matter, except for `infos/description` which is not a one-liner, but spans over the rest of the file.

[2016-01-24 13:33] petermax2 commented on #461
Oh okay, I got the idea of `infos/description` wrong then. I thought it was a short description like the `@brief`tag in doxygen. I'm fine with it if you want to close the ticket.

[2016-01-24 13:40] markus2330 commented on #461
Thanks for reporting, it is a valueable input. I will change the template so that it is clear that description spans over multiple lines. So lets keep the issue open until at least the `template` and `doc`-plugins make that clear. I also need to add `infos/status` there.

[2016-01-24 14:33] sanssecours commented on #459
I recently checked out the various options `clang-format` provides. Here is the current configuration:

[code]

I tried to stay as close as possible to the format of `kdb.c`. Here are some topics that came up while I tested the various options:

1. What value should we use for the **width of one tab**? The current setting uses 8 spaces, since this is value that many text editors use by default. Pe

[2016-01-24 17:26] markus2330 commented on #459
1.) Yes, its 8 because of the default settings of most editors. I think the setting is ok, we can simply increase the maximum line length (ColumnLimit) to e.g. 150 to not have problems with some longer lines in high indentation depth.
2.) assignment should be i., the other places are sloppy. Additionally, we agreed to have spaces around `*`, which is not always the case in kdb.c
3.) There should b

[2016-01-24 20:02] sanssecours commented on #459
For now I increased the value to 80 characters. This (or a very similar value) is also used in many other languages and style guides:

- Python: 79
- RuboCop (Ruby): 80
- Java: 80
- Linux Kernel: 80

I changed `PointerAlignment` to `Middle`, which has the desired effect.

This is also possible if we change `SpaceBeforeParens` to `Always`.

As far as I can tell: “No”. Currently there are only three

[2016-01-24 21:09] markus2330 commented on #459
Ok, thank you! Lets wait for the coding guidelines @KurtMi comes up with.

[2016-01-24 21:23] KurtMi commented on #459
i will come to it asap!

[2016-01-24 21:30] markus2330 commented on #459
It is not urgent (no release goal). If someone needs automatical formating at the moment, @sanssecours proposal should do. Reformating later is easy.

Linkchecker would be more urgent, there seem to be many bugs there (e.g. #456).

[2016-01-31 16:16] markus2330 opened #463 "lua/python plugins with /module"
lua/python plugins seem to return too early with /module present.

The idea of /module is to avoid that plugins fail in `kdbOpen()` if we are only interested in their contracts. In the case of lua/python different scripts might modify the contract, thus `kdbOpen()` should try to load the script so that we get the correct contract, also if /module is present.

The behaviour when without `/script` b

[2016-01-31 16:19] manuelm commented on #463
I bet you're at least twice as fast as me with fixing this :smiley:

[2016-01-31 16:22] markus2330 commented on #463
Ok, np.

With the next release it will be possible to load multiple lua/python plugins with different contracts.

[2016-01-31 16:24] manuelm commented on #463
While you're at it: I'm for removing technical preview flags.

[2016-01-31 16:24] markus2330 commented on #463
ok, makes sense

[2016-02-01 15:29] markus2330 opened #464 "crash with non-available plugin in global mountpoint with list plugin"
Hi @tom-wa

When I use
[code]
but the plugin `counter` is not installed, Elektra crashes in the `list` plugin.

Backtrace:
[code]

Valgrind says (running with valgrind it does not crash, though):
[code]

Expected behaviour: Warning should be added that global plugin is missing.

Btw. when plugin exists, it works as expected.

Thank you!

[2016-02-02 13:00] markus2330 opened #465 "qt-gui BackendBuilder"
There is a new interface to create backends, called BackendBuilder. Its main features are:

1. it reorders plugins if they need a special order (no more OrderViolation exceptions)
2. it automatically adds dependencies (no more missing dependencies exceptions)
3. it allows to remove plugins
4. it allows to automatically add recommends (simply pass a boolean variable to the API)

The usage of the ne

[2016-02-03 14:29] KurtMi commented on #459
Have a look at #467!

[2016-02-04 11:36] markus2330 opened #469 "Vote for line length"
As discussed in #467 and  #459, please vote for the number of characters you want per line. You can give multiple numbers in order of preference.

Everyone that has at least one commit or created at least one issue can vote.

[2016-02-04 11:37] markus2330 commented on #459
Please vote for line length in #469

[2016-02-04 11:40] sanssecours commented on #469
1. 80
2. 72
3. 100
4. 120
5. 150

[2016-02-04 12:07] fberlakovich commented on #469
1. 150
2. 120
3. 100
4. 72
5. 80

Sorry, not meant to troll, but I usally work on large widescreen displays. Therefore I would prefer longer line lengths.

[2016-02-04 13:23] sanssecours opened #470 "Building of (LaTeX) Reference Manual Fails"
It looks like somewhere in the build process we add non UTF-8 characters to the LaTeX files produced by Doxygen. According to the output of `find . -name '*.tex' -exec grep -naxv '.*' '{}' /dev/null \;`:

[code]

`markdownlinkconverter` might produce these invalid characters.

Here are steps to reproduce this error:

1. `cmake .. -DBUILD_PDF=ON`
2. `make -j 8`
3. Enter `EOF` (<kbd>^</kbd> + <kbd>D

[2016-02-04 22:21] petermax2 commented on #469
1. 150
2. 140
3. 100
4. 80
5. 72

I don't like it when statements span across several lines. We're not using punchcards anymore.

[2016-02-04 23:09] tom-wa commented on #469
1. 140
but anything >=120 && <=145 would work for me

[2016-02-05 16:08] markus2330 commented on #470
Cannot reproduce. Seems like doxygen kills your links? Does the markdownlinkconverter work? (@KurtMi: is there a simple way to check if   markdownlinkconverter works?) Which version of doxygen do you have?

Where you get funny characters (E.g. ./build/doc/latex/md_doc_help_elektra-mounting.tex), I have have an hyperlink:
[code]

[2016-02-05 16:14] markus2330 commented on #464
@tom-wa: Any progress here?

[2016-02-05 16:51] KurtMi commented on #470
For me it is also not reproduceable.
There is the possibility to execute the markdownlinkconverter in the commandline:
`bin/markdownlinkconverter /elektra_src/doc/help/elektra-mounting.md`
Execute it from the build dir and the path needs to be absolute.

[2016-02-05 17:49] sanssecours commented on #470
Thanks for both of your replies!

Yeah, it looks like it. I tried it again and now it seems that there are less invalid symbols:

[code]

Looks like it. The command:

[code]
produces the following output:
[code]
It looks like the resulting file is valid too. At least `grep -naxv '.*' coding.md` does not show anything.

According to `doxygen -v` I use version `1.8.11`.

I get a valid hyperlink ther

[2016-02-05 17:53] markus2330 commented on #464
When running all testcases with a non-existing global plugin it still reveals some problems:
[code]

I will add more detailed information after a debian package containing #472 is available.

[2016-02-05 18:08] tom-wa commented on #464
ok, thanks
for some reason it temporarily fixed the problem for me

[2016-02-05 18:12] markus2330 commented on #464
Maybe its also a problem that the shell-based testcases do not always use the correct `kdb` (and thus are still affected by the bug). Thus I will retry with a fixed installed version.

[2016-02-05 18:29] tom-wa commented on #464
nope, i too still get the errors, dunno what happened.
i'll look into it after i've fixed the problem with the cascading mountpoints in the INI plugin

[2016-02-05 18:51] KurtMi commented on #470
Is it possible that the varying results come from the concurrency by building with `-j`

[2016-02-05 19:09] sanssecours commented on #470
Thank you! Building the documentation with `make` – without specifying any options – works.

[2016-02-05 19:23] 0003088 commented on #465
I'm a little busy ATM, but I will look into it. It should not be too much work to add a remove button and a radio button. When do you plan to release 0.8.15?

[2016-02-05 19:53] KurtMi commented on #470
I am curious what component caused the concurrency issue. @sanssecours whats your setup?

[2016-02-05 20:09] sanssecours commented on #470
I am afraid the answer to that question is OS X. More specifically OS X 10.11.3:
[code]

[2016-02-05 22:52] markus2330 commented on #465
Thanks for your interest to add the buttons!

Release is hopefully quite soon, currently we are only fixing bugs. So it seems better if we just rename Backend to MountBackendBuilder for now?

[2016-02-06 17:20] KurtMi commented on #469
1. 120
2. 100
3. 80
4. 140
5.150

[2016-02-06 17:50] KurtMi commented on #470
@markus2330 is this issue really important for the 0.8.15 build?
It looks like this bug only appears on OS X and only when building with `make -j`.
I would say to the mac OS X developers they should try to build the pdf with `make -j` to get more info and then fix it.

[2016-02-06 18:15] markus2330 commented on #470
No, it is not important.

[2016-02-07 15:50] 0003088 commented on #465
Yeah, that would be better I suppose. I noticed that the path of the libraries changed to libs/tools instead of libtools. Eventhough I changed that in my qt-gui.pro file I cannot compile the qui with qtCreator because the compiler tells me that there is an undefined reference to kdb::tools::ModulesPluginDatabase. But the file can be found by the editor and the path to the *.hpp is in my INCLUDEPAT

[2016-02-07 17:53] petermax2 opened #475 "Add GPG-Interface"
# Problem Setting

The crypto plugin is quite useless at the moment as there is no way to use it with the kdb command.

The introduction of a GPG interface enables the user to utilize her existing key-pairs for cryptographic operations in Elektra. The private key is used for encrypting a random sequence, which serves as seed for a key derivation function (KDF). This way we can safely derivate cryp

[2016-02-07 18:46] markus2330 commented on #475
How will we get the iteration number and salt into the metakeys? Are they static and can be written as specification?

Why not directy aim towards high-level frontends such as ssh/pgp-agent? It supports smart cards and is much easier to use safely.

[2016-02-07 19:02] markus2330 commented on #465
The ModulesPluginDatabase should be part of libelektratools, maybe you link against an outdated version of libelektratools?

But you do not need to bother for this release, it should be fixed for now.

[2016-02-07 20:06] petermax2 commented on #475
I suggest random values. The iteration count will be chosen randomly from an interaval that is "sufficiently secure".

I was planning to provide password-based encryption anyway. The SSH/PGP-Agent protocols are not documented well. I will continue the research on this topic. As soon as I figure out how the PGP-agent protocol actually works, we have simple access to asymmetric encryption.

Do you t

[2016-02-07 20:19] markus2330 commented on #475
No, password-based encryption is not useless. Only storing a password side-by-side with the encrypted values sounds very problematic. And this proposal seems to be difficult to implement and to use?

Why is there no way to set `crypto/iv` and `crypto/key` via kdb?

[2016-02-07 20:22] petermax2 commented on #475
Setting those values withh kdb is also insecure. Which is why the plugin status is "experimental".

The problem is that those values are binary. Is there a way to set binary values using kdb?

[2016-02-07 20:43] markus2330 commented on #475
Obviously `iv` and `key` are insecure, the question is how and if `crypto/password` would be more secure?

It seems to be more difficult to use, because of the random values in every metakey.

You are right, the binary mode of `kdb-set` was removed because commandline arguments cannot have null terminators. A `kdb-set-file` is not yet implemented. For setting `iv` and `key` a small helper tool wou

[2016-02-07 20:44] petermax2 commented on #475
It is not, of course. I just wanted to "make it run".

[2016-02-07 20:49] markus2330 commented on #475
Ok, so I think a small helper-utility for setting `iv` and `key` is the more direct way to do it. Its a testing-only tool anyway, so an integration directly into `kdb-mount` seems not to be necessary? (Even though in interactive mode it seems quite obvious where to implement it.)

[2016-02-07 21:14] markus2330 commented on #470
My build now also failed during building latex:
[code]

After rerunning the problem was gone. The file `classkdb_1_1KeySetIterator.tex` was not suspicious, at least when I looked at it. Maybe there is a data race that it is read before it is fully written?

The problem seems to be very rare to happen on Linux though.

[2016-02-08 08:02] markus2330 commented on #470
Seems to happen more often if build from scratch:
[code]

Is it possible that `make` in the latex folder gets triggered before `doxygen` completed?

Is only one issue described here or are these different issues?

[2016-02-08 16:19] KurtMi commented on #470
I can not reproduce this problem on my machine. But I figured  out that for the pdf target a dependency with latex is missing. I hope #476 will fix it.

[2016-02-08 16:50] markus2330 commented on #416
Hi, I added a status to all plugins in 82d24e0685cbb10f74bee8502d47f50dedfd9c6e

The current rating of all plugins is:
[code]

If you think some [tags or its value](https://github.com/ElektraInitiative/libelektra/blob/master/doc/CONTRACT.ini) should be changed; or in general that the ranking above is not like you would expect, please tell here or create a PR for concrete changes.

Thank you!

[2016-02-08 20:52] markus2330 commented on #469
I prefer values near 130 (that is the value where two columns still work nicely and text readability is nice when 6 tabs are used), so:

1. 130
2. 120 or 140
3. 110 or 150

I would, however, not use 130 characters in a line that is not indented.

[2016-02-08 20:53] markus2330 commented on #469
Thanks for your participation!

@KurtMi Can you calculate the voting result via https://de.wikipedia.org/wiki/Condorcet-Methode and update the coding style?
@sanssecours Can you update the style file?

[2016-02-08 22:07] markus2330 commented on #450
Iterators seem to be broken:
[code]

Otherwise it compiles and runs with lua 5.1

[2016-02-08 22:27] manuelm commented on #450
Lua 5.2 specific feature: http://www.luafaq.org/#T8.2.6

[2016-02-09 09:04] sanssecours commented on #469
Since I wanted to check out how the Condorcet-Method worked, I tried it out myself:

---

Ranking:

    80 > 72 > 100 > 120 > 150
    150 > 120 > 100 > 72 > 80
    150 > 140 > 100 > 80 > 72
    140 > 130=120 > 72=80=100=150
    120 > 100 > 80 > 140 > 150
    130 > 120=140 > 110=150

Possible Values: 72, 80, 100, 120, 130, 140, 150

    72  vs. 80 : 1  2  (80 won)
    72  vs. 100: 1  2  (100 won)

[2016-02-09 12:49] KurtMi commented on #469
@sanssecours how have you calculated the floats?

Since not all participants have ordered all possible values I sorted the non used values at last position and came to this stats:

    	   150	140	130	120	100	80	72
    lost:	3	0	1	2	3	4	4
    win:	0	4	4	2	2	1	0
    tied:	3	2	1	2	1	1	2

I my opinion **140** should win, because it never lost.

[2016-02-09 12:57] sanssecours commented on #469
@sanssecours how have you calculated the floats?

I counted ties as 0.5 for both participants.

Okay for me too. I changed the value of `ColumnLimit` in #468 accordingly.

BTW: 140 would have lost at least once, if I knew that it was a possible value 😀.

[2016-02-09 13:12] KurtMi commented on #469
You are right! I think it is hard to evaluate the result if not all values are sorted.

[2016-02-09 13:16] KurtMi commented on #469
I think you could stick to 130 :)

[2016-02-09 13:27] sanssecours commented on #469
Or we could take a vote only between `130` and `140` 🤓. As far as I can tell – looking at the preferences of each participant – this would result in a tie. I will leave it at `140` for now.

[2016-02-09 17:13] markus2330 commented on #469
Thank you for your participation!

[2016-02-09 17:13] #469 closed

[2016-02-09 18:00] KurtMi commented on #470
Fixed it in #478.

The `.NOTPARALLEL` pseudo target tells make to executes it sequentially. Cmake does not support such targets, so I created a normal one.

In my opinion there is no other way to fix this. Since adding each `*.tex` files in the `doc/latex` folder as dependency for the pdf target is not possible without much effort.

[2016-02-09 18:08] markus2330 commented on #470
I think I already fixed it in f5576ff, @sanssecours can you confirm? (I tested it 3 times and it seems that pdflatex starts much later.)

@KurtMi for which build systems does .NOTPARALLEL work, what happens for the other ones?

[2016-02-09 18:14] markus2330 commented on #464
I still have free() invalid size:

[code]

Again I will try to reconfirm when package is built (might be wrong `kdb`). I will close then if the issue is resolved.

[2016-02-09 18:26] markus2330 opened #479 "Some exceptions are not caught"
Some exceptions thrown by libelektratools lead to a SIGABRT.

Steps to reproduce:
[code]

Actually the exception should be caught, because main has a catch-all block. It seems to depend on where the exception is thrown, not in which library.
E.g.
[code]

Expected behaviour: Output text and return with error code.

Maybe somewhere (in PluginDatabase) an undefined behaviour is triggered.
Triggered w

[2016-02-09 18:31] sanssecours commented on #470
For now I can confirm that currently, even building Elektra fails (at least on OS X). And sadly I rebased my  current working branch on master quite recently 😱.  So now I have two branches that fail to build at all \o/.

[2016-02-09 18:33] KurtMi commented on #470
`.NOTPARALLEL` works for make.
Which other build system do we support?

btw i testet your fix:
[code]
I made a script, to test it:
[code]

and added a extra traget:
`add_custom_target (asd DEPENDS man3 pdf html latex)`

[2016-02-09 18:48] markus2330 commented on #470
@KurtMi: hopyfully every build system cmake supports, at least for UNIX.
@sanssecours: Can you check Mac OSX?

[2016-02-09 19:03] markus2330 commented on #470
@sanssecours and please report an issue for Mac OSX fails. I would be great to have it fixed for the release.

[2016-02-09 19:12] sanssecours commented on #470
At least `cmake -G Xcode ..` works fine, even after I apply the changes proposed by KurtMi.

Okay I will check which commit broke compatibility with [OS X](https://en.wikipedia.org/wiki/OS_X).

[2016-02-09 20:32] sanssecours commented on #470
Commit f5576ff does not fix the problem on OS X. Pull request #478 does.

I now also tried `cmake .. -G Xcode -DBUILD_PDF=ON` which works. Building the PDF in Xcode works too.

[2016-02-09 20:42] markus2330 commented on #470
Perfect! @KurtMi thanks for finding the solution! And thanks for the investigations!

[2016-02-09 21:08] markus2330 commented on #470
Would be do easy, .NOTPARALLEL, at least in its current form, is not a solution: [it disables parallel-builds completely for the whole makefile](https://www.gnu.org/software/make/manual/html_node/Special-Targets.html). The current solution copies `.NOTPARALLEL` to *every* Makefile, and not only to doc/Makefile (where it would be acceptable). Thus its basically like forcing every build to be with `

[2016-02-09 21:25] markus2330 commented on #470
Sorry for the noise, the .NOTPARALLEL in every file has a different reason. It is:
make -j 5  669,46s user 20,98s system 503% cpu 2:17,06 total
make -j 5  681,98s user 22,23s system 500% cpu 2:20,72 total

[2016-02-09 21:25] #470 closed

[2016-02-09 22:43] markus2330 commented on #464
Is resolved now, thank you!

[2016-02-09 22:43] #464 closed

[2016-02-10 10:58] markus2330 commented on #404
Should be fixed now with global-mounts:

[code]

Btw. INI plugin is not fully ready for the release yet, but should be done soon.

[2016-02-10 11:01] markus2330 commented on #404
Please confirm when you think it is ready.

[2016-02-10 11:53] sanssecours opened #482 "Proposal: Use Plugin Name in First Header of ReadMe"
Currently most ReadMe documents (in the reference manual (PDF)) start with the section “ReadMe”. While this provides a little bit information about the content of the following text, most of the time it is not helpful at all. For example, the table of contents of the reference manual looks like this on my computer:

![toc](https://cloud.githubusercontent.com/assets/691989/12946157/a9076fcc-cff2-11

[2016-02-10 12:29] markus2330 commented on #482
Yes, the situation is a bug/leftover. The pdf generation is a rather new feature, and not everything is adopted to it yet. @KurtMi Is it also possible to set the title by the folder name the file is in? That would be ok for all plugins.

For other files, we need a first level section, as you proposed. PRs are very welcomed!

[2016-02-10 12:35] tryge opened #483 "bash code completion doesn't work when installed from sources on Mac OS X"
1) the completion script is installed without executable permission
2) the completion script is installed to "/etc/bash_completion.d/" which has no meaning on OS X - and requires root privileges which is actually not necessary.

There's no correct solution for OS X, but one option is to install into "~/.bash_completion.d/" and provide instructions how to enable bash completion at the end of the in

[2016-02-10 12:42] markus2330 commented on #483
The bash completion is of rather poor quality, so you should not waste time trying to find OS-specific install-procedures, unless you are also willing to test and fix the bash completion itself.

[2016-02-10 12:43] KurtMi commented on #482
I thought about that, it is in the queue.

[2016-02-10 12:45] markus2330 opened #484 "merging: "binary" metakey is removed"
The 3-way merge seems to use `setString` internally which removes the `binary` metakey and also values after null bytes.

Especially, the `binary` metakey is important for INI (they represent sections, ask @tom-wa for details).

Can you change the `setString` to `if (k.isString()) k.setString(..) else k.setBinary()`?

[2016-02-10 12:48] markus2330 opened #485 "rename: newly created key not renamed"
@tom-wa When I mount using `rename tolower=0`, e.g. `kdb mount .../machinekit.ini system/machinekit/cnc ini array= type rename tolower=0 ` then new keys are written out lowercase and are not converted to uppercase.

[2016-02-10 12:59] tom-wa commented on #485
thats the expected behaviour using `tolower=0` (all keys below the parent key are converted to lowercase)

[2016-02-10 13:15] markus2330 commented on #485
It also does not work with `toupper`. New mixed key always stay the same. I thought `tolower` is needed when you want lowercase Elektra names and uppercase persistent configuration? (Documentation should made that more clear, anyway.)

Another bug is that you cannot create new keys when the configuration file does not exist (empty keyset?).

The only thing that works nicely is that on the user sid

[2016-02-10 13:16] tryge commented on #483
I don't think I will have time for this.

Another option is to disable INSTALL_SYSTEM_FILES on OS X by default.

[2016-02-10 13:18] markus2330 commented on #482
Can you fix it for this release? It also affects the html pages and makes the index if README.md pages quite useless.

[2016-02-10 13:20] markus2330 commented on #483
Maybe some people have compiled their own bash on Mac OS X, so unless the installation does not completely fail, I would rather prefer to keep CMake settings as same as possible for every supported platform.

[2016-02-10 13:26] tryge commented on #483
It doesn't completely fail. It just installs something into a system directory that doesn't do anything.

This might change though, e.g. with El Capitan even root users cannot write into `/usr` anymore (but `/usr/local` is allowed).

[2016-02-10 13:39] tom-wa commented on #485
Oh, now i get what you meant, sorry.
the changes only apply to the keyset, the keys are written back with their original name (like the original rename plugin has did).
Do you want a different behaviour ?

[2016-02-10 13:45] markus2330 commented on #485
No, lets rather concentrate on real bugs. Lets only update the docu.

Where a behavioural change might be useful is to have ranges, e.g. `tolower=1..3` or negative numbers if counted from right. The counting from left and right in its current form is neither intuitive and is nor sufficient in many scenarios. But that is also something for later. (Let us put this to a limitations section in the plu

[2016-02-10 14:52] tryge opened #487 "crypto_openssl compilation fails for Mac OS X"
Mac OS X El Capitan (10.11) does not ship with openssl headers (deprecated since 10.7). Therefore the compilation fails. There should be configuration options to specify additional include and library directories without having to edit build files.

Full error message:
[code]

[2016-02-10 14:56] tryge opened #488 "building filecheck and iconv plugins fail on Mac OS X"
The headers and libraries are in standard locations `/usr/include/iconv.h` and `/usr/lib/libiconv.dylib` so I'm not sure why linking fails.

Full error message:
[code]

[2016-02-10 15:01] markus2330 commented on #488
Thank you for reporting. Please provide all error messages.

[2016-02-10 15:03] markus2330 commented on #487
Thanks for reporting! Plugins should check if all build-dependencies are met and disable themselves otherwise. Can you provide the error messages please?

@petermax2 Can you take a look at it?

[2016-02-10 15:04] markus2330 commented on #488
I think we have to add detection code for iconv on Mac OS X.

On many systems iconv is directly integrated in libc, thus no additional library needs to be linked.

[2016-02-10 15:59] KurtMi commented on #482
Ok, when is the release date?

In the markdownlinkconverter README.md is a point from you under further improvements, namely:
* if title contains --, this should be @brief

what do yo mean by `@brief' ?

[2016-02-10 16:08] markus2330 commented on #436
Should be fixed now, please reopen on issues.

[2016-02-10 16:08] #436 closed

[2016-02-10 16:12] markus2330 commented on #482
The release date is 10 days ago (see github milestone 0.8.15), the actual release will be done when no release critical bugs are present. Blocking issues are also shown here: https://github.com/ElektraInitiative/libelektra/milestones/0.8.15  Hopefully today all implementation issues will be resolved and tomorrow is the release. So I think you still have time.

`@brief` is for [doxygen](https://www

[2016-02-10 16:41] KurtMi commented on #482
Ok, I am not sure if it is possible to set `@brief` in a Markdown file.

[2016-02-10 17:19] mpranj opened #489 "cmake fails with static build only"
Configuring cmake with `-DBUILD_SHARED=OFF -DBUILD_STATIC=ON` fails with following error:

  Cannot specify link libraries for target "elektra-ease" which is not built
  by this project.

[2016-02-10 20:00] markus2330 commented on #404
Btw. there are still notifications on any change (ADD+REM) for keys that are lowercase (wrong) in the configuration file. The renaming currently does not work bidirectional, so it does not ensure that new keys are written correctly. (See also #485)

[2016-02-10 20:02] petermax2 commented on #487
On my machine (OS X 10.11.3 (15D21)) CMake (version 3.4.1) tells me that it can not find the OpenSSL headers (as you stated earlier). It removes the crypto plugin and does not even try to build it. See the output below:

	Clang detected
	C flags are  -std=gnu99  -Wno-deprecated-declarations  -Wno-long-long -pedantic -Wno-variadic-macros -Wall -Wextra -Wno-overlength-strings -Wsign-compare -Wfloat-

[2016-02-10 20:03] petermax2 commented on #487
31f91f8987dbc1f84fe69c2af25c8e7fe6751d1f compiles without any errors.

[2016-02-10 20:04] petermax2 commented on #487
@tryge how did you generate the build files?

[2016-02-10 20:06] markus2330 commented on #487
@petermax2 Did you try on Mac OS X El Capitan (10.11)?
@tryge It seems like pkg-config on your system tells that that openssl is present?

[2016-02-10 20:07] petermax2 commented on #487
@markus2330 yes ;) I will try to install pkg-config using MacPorts (which should btw. also provide the OpenSSL headers)

[2016-02-10 20:09] 0003088 commented on #465
It was the outdated library and I was missing the new library elektra-ease. It's working now.

[2016-02-10 20:13] markus2330 commented on #404
(Btw. I only tested with dump, as said, INI is on its way. With current INI there are still problems.)

[2016-02-10 20:14] markus2330 commented on #465
Thank you for the update!

[2016-02-10 20:16] markus2330 commented on #356
This is still open, the error message is not so good. If it isn't an easy fix we can delay it.

[2016-02-10 20:16] petermax2 commented on #487
I can reproduce it somehow (not with OpenSSL but with Gcrypt). I installed the `pkgconfig` and `libgcrypt` ports (see [https://www.macports.org](https://www.macports.org)). Now pkgconfig finds the library and development files but CMake does not set the include path right. I get something like this:

	/Users/pnirschl/Projekte/libelektra/src/plugins/crypto/crypto.h:30:10: fatal error:
      'gcrypt

[2016-02-10 20:19] markus2330 commented on #487
@petermax2 The most robust solution is `try_compile` as it is done in `augeas` plugin.

[2016-02-10 20:19] petermax2 commented on #487
@markus2330 thx! I will look into that.

[2016-02-10 21:20] KurtMi commented on #482
Made the title stuff #492.

What is meant with that?

[2016-02-10 21:35] markus2330 commented on #482
By first level section I mean the first (highest) level of markdown titles, e.g. `# first level section header #`

[2016-02-11 03:36] tryge commented on #487
I'm in Berlin for 2 days and won't be able to respond until Saturday. However, I'd actually like to compile the plugin with my custom openssl, for that I'd like to be able to configure the location when invoking ccmake (or cmake for that matter).

[2016-02-11 07:07] petermax2 commented on #487
I managed to compile `crypto_gcrypt` using the MacPorts mentioned before.

You can set the CMake variables yourself, like:

    LIBGCRYPT_FOUND : boolean : true
    LIBGCRYPT_INCLUDE_DIR : path : /opt/local/include/
    LIBGCRYPT_LIBRARIES : path: /opt/local/lib

either by using the command line (`-DLIBGCRYPT_FOUND`) or the GUI.

For the `crypto_openssl` variant you should set the following variab

[2016-02-11 11:18] markus2330 commented on #488
We could add a try_compile here, too.

Btw. you can easily exclude plugins by using "ALL;-iconv", but that is obviously not a fix. (iconv plugin can be quite useful if you have users still working with different locales)

[2016-02-11 11:43] markus2330 commented on #489
This issue also causes some dynamic elektra libraries unnecessarily to be linked against static variants.

Unfortunately, the default cmake message is not helpful at all. Does someone know how cmake can output the callstack on errors? (Something less verbose then --debug-output)

[2016-02-11 12:24] tryge commented on #488
I tried to do that, but ended up with many plugins there (I stopped when I had "ALL;-filecheck;-iconv;-crypto;-crypto_openssl;-crypto_gcrypt" - it still didn't compile)

The thing is, I want to be able to build everything, so I'm actually not fond of automatically disabling anything if it is missing dependencies.

The minimal confuguration builds fine btw.

[2016-02-11 13:42] markus2330 commented on #488
Thanks, it would be great if everything builds under Mac OS X.

[2016-02-11 15:46] #489 closed

[2016-02-11 15:47] markus2330 commented on #489
@mpranj can you please confirm that it works now?

[2016-02-11 16:57] petermax2 commented on #487
With 5f44f7e0fcf4ca4ba10d288bd8fe354c94b56986 I introduced the following CMake variables

- OPENSSL_MANUAL_CONFIG
- LIBGCRYPT_MANUAL_CONFIG

I downloaded and compiled OpenSSL version 1.0.2f in my Downloads directory.

Now I set the CMake variables for OpenSSL as described in my last post.

	OPENSSL_MANUAL_CONFIG = true
	OPENSSL_INCLUDES = /Users/pnirschl/Downloads/openssl-1.0.2f/include
	OPENSSL_L

[2016-02-11 17:10] markus2330 commented on #487
Great that it works now! (especially the test cases!)

But the manual config seems like a huge workaround for systems where pkgconfig is broken? Isn't it better to fix pkgconfig to not report wrong installations?

Why was it necessary on your system?

[2016-02-11 17:28] petermax2 commented on #487
The pc-file has been shipped with the MacPorts installation (so I didn't mess with it). pkgconfig usually finds OpenSSL without any further help. Within the CMake file I use

    pkg_search_module (OPENSSL openssl)

On OS X it reports that OpenSSL is available. Well, the libraries actually are available under `/usr/lib` but OS X does not ship with the header files, as @tryge mentioned earlier.

I

[2016-02-11 17:35] markus2330 commented on #487
If someone specifies options such as `OPENSSL_INCLUDES` this should of course always win. But why give an option to override if openssl is available at all? Removing the plugin is the correct way if someone has a broken openssl installation, I think we should not try to consider every possibility in which systems might be broken, thats CMake's/Pkgconfig's job.

[2016-02-11 17:36] sanssecours opened #495 "Building on OS X Fails"
Since commit cc2b57bc building on OS X fails. Here is the error output:

[code]

If you need any additional information, then please just comment below.

[2016-02-11 17:39] markus2330 commented on #487
Or stated differently: Isn't *MANUAL_CONFIG the same as *_FOUND?

[2016-02-11 17:40] markus2330 commented on #484
Thank you, should be fixed now.

[2016-02-11 17:40] #484 closed

[2016-02-11 17:40] markus2330 commented on #482
Thank you, should be fixed now.

[2016-02-11 17:53] petermax2 commented on #487
One could argue that it "is the same thing" and we could certainly have it that way but I think it is an ambiguous or misleading name.

[2016-02-11 18:00] markus2330 commented on #487
The question is if we do a workaround because we misunderstand pkgconfig and cmake. Manual hints for the auto-detection should be done in the cmake/pkgconfig layer, not by the users of the library.

E.g. on my system *without* this PR: When I *deinstall* openssl, I can still force pkgconfig to detect openssl by using: `cmake -DPLUGINS=ALL -DOPENSSL_FOUND=TRUE ~e `.

So why introduce a `_MANUAL_CON

[2016-02-11 18:02] markus2330 commented on #487
(Btw. the try_compile is useful, because it let you check if openssl will work already at cmake stage)

[2016-02-11 18:07] markus2330 commented on #495
`libelektra-plugin`, which provides `elektraPluginClose` is already linked against libelektratools. I think that is an library ordering issue.

Can you shuffle the line touched in 6bd83ae around until it works?

(or `use -v to see invocation` might also help, maybe `-lelektra-plugin` is missing after all)

[2016-02-11 18:08] petermax2 commented on #487
OK, I see what you mean now. I would prefer to not have a *MANUAL_CONFIG then and just check whether or not the user provided *_INCLUDES and *_LIBRARIES. If so pkgconfig won't be triggered at all.

btw *FOUND and *MANUAL_CONFIG are not quite the same thing, because with my PR pkgconfig would not be triggered if you set *MANUAL_CONFIG (so setting the *FOUND variable would not make any difference).

[2016-02-11 18:30] sanssecours commented on #495
Yeah, I will try it out. The following code

[code]
shows 24 permutations
[code]
Should I really try all of them?

The command `make VERBOSE=1` shows the following, which does not seem that helpful:

[code]

[2016-02-11 18:35] markus2330 commented on #495
elektratools is the target, it needs to remain unchanged at the first place. This should reduce the number of permutations a lot ;) The order of libraries was only a guess, it could be something else.

The commandline looks like it should be. What confuses me a bit is, that it misses the symbol `_elektraPluginClose` (with underscore) though such symbol should not be used or provided anywhere.

Thi

[2016-02-11 19:11] petermax2 commented on #487
@markus2330 please have a look at 0e1fbd84aff56541a8045132ab056981ede38764. I think this is better.

If the user can supply the path to both include- and library-files then CMake won't trigger pkgconfig. No need for *MANUAL_CONFIG and *FOUND variables to be set.

[2016-02-11 19:25] sanssecours commented on #495
Oh, so that was the reason most of the permutations failed in the configuration stage. Anyway, I think I tried them all.  Sadly none of them worked.

I never heard of either one of those commands. Sounds like `readelf` is Linux specific. I pasted the output of `nm plugin.cpp.o` [here](https://gist.github.com/sanssecours/b6ced42d99c299249be2). If you want something different, then please just let m

[2016-02-11 19:32] markus2330 commented on #487
I am still not convinced that you need any build-logic within CMake.

On my system (again *without* the PR) you can simply specify:
[code]
and cmake does the right thing (it adds `-I/some/strange/path`):
[code]

Is the behaviour on Mac OS X different? Which problem do you try to solve in 0e1fbd8?

I also doubt that a logic to automatically set FOUND to true when a INCLUDE_DIR is set is a good idea

[2016-02-11 19:33] markus2330 commented on #487
(Sorry for the many rejections, I hope that we at least learn more about CMake in the process)

[2016-02-11 19:37] petermax2 commented on #487
I think so. Hm, this is interesting. With 0e1fbd84aff56541a8045132ab056981ede38764 I try to achieve the behavior for OS X that already works fine on Linux.

Without 0e1fbd84aff56541a8045132ab056981ede38764 on OS X CMake (or possibly pkgconfig) messes up the include directories.

[2016-02-11 19:39] markus2330 commented on #495
`nm ../../../../lib/libelektra-plugin.0.8.14.dylib` would be the interesting thing.

`"U" The symbol is undefined.` for plugin.cpp.o is what we expect (or what the error message suggested), it should be defined in libelektra-plugin.0.8.14.dylib.

Btw. Did you try to rebuild everything from scratch?

[2016-02-11 19:42] markus2330 commented on #487
Ok, can you rename `OPENSSL_MANUAL_CONFIG` to a name that suggests it is only needed for mac os x (e.g. `OPENSSL_MACOSX_HACK`) and comment that a bit? Try to be as little invasive as possible to not break other systems. Thank you!

[2016-02-11 19:43] petermax2 commented on #487
Alright, I will rename the variables.

[2016-02-11 19:46] markus2330 commented on #448
@tom-wa Any progress here, did you find a good solution in the INI plugin?

[2016-02-11 19:48] markus2330 commented on #447
I think we should do that later to prioritize.

[2016-02-11 19:48] markus2330 commented on #434
Does `-DINSTALL_BUILD_TOOLS=ON` work? Can we close the ticket?

[2016-02-11 19:55] sanssecours commented on #495
`nm ./lib/libelektra-plugin.0.8.14.dylib` executed in `build` displays the following output:

[code]

Thank you for the explanation.

Yes, I did that for all permutations described above.

[2016-02-11 19:57] tom-wa commented on #448
more like a workaround, but:
[code]

[2016-02-11 19:58] petermax2 commented on #487
I renamed the variables in aca68c337f875430703cc3512fb155b51f602317 to

- OPENSSL_MANUAL_OSX_HACK
- LIBGCRYPT_MANUAL_OSX_HACK

[2016-02-11 20:23] mpranj commented on #489
Indeed it works (as of revision 315c6169c4d112b2070fc6c9d32c917818c3e19b)  with eg:
`cmake -DBUILD_DOCUMENTATION=OFF -DBUILD_FULL=OFF -DBUILD_PDF=OFF -DBUILD_SHARED=OFF -DBUILD_STATIC=ON ..`

all tests pass on OS X

[2016-02-11 21:25] haraldg commented on #495
I see a very similar problem when cross-compiling (OpenWRT):
[code]

[2016-02-11 22:11] mpranj commented on #495
does #496 fix the problems for you?

[2016-02-11 22:12] sanssecours commented on #495
Yes, it does. Thanks.

[2016-02-11 22:52] #495 closed

[2016-02-11 22:55] markus2330 commented on #448
What about putting it into a elektraKeyGetRelativeName function?

[2016-02-11 22:56] markus2330 commented on #489
Thank you!

[2016-02-11 23:34] haraldg opened #497 "yet an other linking error (cross compilation only)"
The host build works but the target build fails:
[code]

[2016-02-12 07:18] petermax2 commented on #487
@tryge @mpranj can you confirm that the following plugins compile with "a little love"?

### crypto
should work out-of-the-box.

### crypto_gcrypt
try to install the `libgcrypt` port and the `pkgconfig` port from [MacPorts](https://trac.macports.org/). Then manually set the CMake variable `LIBGCRYPT_INCLUDE_DIR` to `/opt/local/include/` and `LIBGCRYPT_LIBRARIES` to `/opt/local/lib/libgcrypt.dylib`

[2016-02-12 07:22] markus2330 commented on #487
@petermax2 thanks you for that writeup! Can you also include this in the README.md of the plugin?

[2016-02-12 07:26] markus2330 commented on #497
Thank you for reporting! [the musl build job](http://community.markus-raab.org:8080/job/elektra-gcc-configure-debian-musl/lastFailedBuild/console)had the same error, so it seems to actually useful.

Might be fixed in aa65f75d22bf671cf69202c0228e87476c1acb90, but lets better wait for the build server to confirm it.

[2016-02-12 08:09] markus2330 opened #498 "Compilation error with full=off"
[code]

[2016-02-12 10:57] sanssecours commented on #487
I tested the changes under OS X. The variant `crypto` seems to work. At least

[code]

followed by `make -j 8` works. I then installed `libgcrypt` via [Homebrew](http://brew.sh). After that I tried

[code]

which builds too. I then installed `openssl` via Homebrew. Unfortunately the command

[code]

fails with the following error message:

[code]

@petermax2: Is this the expected outcome? Why do w

[2016-02-12 11:33] #498 closed

[2016-02-12 13:21] petermax2 commented on #487
@markus2330 ok, I'll update the README.md

@sanssecours thank you for trying it on your system! If you ask me I'd drop the OS X support completely ;) We put much effort into supporting this platform. However, @tryge wants to use the OpenSSL variant and I see no other way than setting up a custom-built OpenSSL library. The reason for having different crypto provider is simple: I need something to c

[2016-02-12 16:42] markus2330 commented on #497
Should be fixed now.

[2016-02-12 19:00] haraldg commented on #497
Thanks.

[2016-02-12 19:00] #497 closed

[2016-02-12 19:04] haraldg commented on #434
Yes, seems to work. Closing.

[2016-02-12 19:04] #434 closed

[2016-02-12 19:17] haraldg commented on #450
Finally I got an OpenWRT package for the lua plugin compiled.
I think this issue can now be closed.

[2016-02-12 19:22] markus2330 commented on #450
Thanks for the confirmation!

[2016-02-12 19:22] #450 closed

[2016-02-13 08:06] tryge commented on #487
Everything that follows was done on commit 614772d.

`cmake .. -DPLUGINS='dump;resolver;sync;error;crypto;crypto_openssl'`

results in:

[code]

When I specify openssl include and lib dir (also installed via `brew`) using the same command as @sanssecours, I got the same error. (Yeah! consistency!) However, when looking at the executed linker command, the interesting part is that libssl is listed t

[2016-02-13 10:07] petermax2 commented on #487
@tryge thank you for confirming!

I mean we should drop non-Linux platform support for plugins with dependencies, that are hard to support. We already had this discussion in our Elektra meetings.

Agreed. The `try_compile` statement *should* generate a warning if OpenSSL has not been set up properly. I will try to fix the linker error @tryge  and @sanssecours reported. As a workaround for now you

[2016-02-13 10:20] markus2330 commented on #487
I think we should support every platform someone is willing to invest time in. Maybe we can reduce the Mac OS X effort by saying that only one way to install dependencies is supported. @tryge wanted to add Elektra to `brew`, so maybe we can agree that all dependencies should be installed by `brew`? Let us discuss this in the next meeting.

I am, however, not in favour of silently remove plugins fo

[2016-02-13 20:52] tryge commented on #487
After playing with the command a little bit, it is possible to link against `brew`'s openssl with the following command:
[code]

Regarding the link error for `cmake .. -DPLUGINS='dump;resolver;sync;error;crypto;crypto_openssl'`, is there some code generation involved?

[2016-02-13 21:58] markus2330 commented on #487
Code generation is involved for the `full` and `static` variants. The `exported_symbols.c file` that contains all symbols of all plugins is generated.
Maybe you only need to cleanly recompile? Otherwise you can also disable the `full` variant, its mainly used for unit tests.

[2016-02-13 22:09] markus2330 commented on #388
Should be resolved for this release, types to be discussed later.

[2016-02-13 22:12] markus2330 commented on #373
I am afraid I have to postpone this issue. The main problem is that in the current specification there is nothing suitable to generate such names. (Description is unsuitable).

[2016-02-13 22:47] #463 closed

[2016-02-14 00:15] markus2330 commented on #448
Does this code also handle keyName(section) == "/"? We really should put it to a library..

[2016-02-14 08:41] markus2330 commented on #487
Is this issue now resolved or are there still regressions/problems?

[2016-02-14 09:25] tryge commented on #487
To be sure I cloned the repo and used:
`cmake .. -DPLUGINS='dump;resolver;sync;error;crypto;crypto_openssl'`
to build it and this works fine. So you can close it.

[2016-02-14 09:48] markus2330 commented on #487
Thanks for the confirmation!

[2016-02-14 09:48] #487 closed

[2016-02-14 15:42] tom-wa commented on #356
didn't consider it to be used as a global plugin when i wrote it, currently the keys are all relative to the parent key.
not really sure how to differentiate between a relative and an absolute name, but i think using "./" as a prefix for relative keynames would work, any suggestions ?

the error messages should all be fixed with #503

[2016-02-14 16:38] #441 closed

[2016-02-14 17:38] KurtMi opened #506 "spec plugin Segmentation fault"
Made a fresh install:

[code]
leads to
`Segmentation fault (core dumped)`

I am not sure if it is possible to specify rules for the mount point.

The segfault appears in 'keyNameToMatchingString'.

[2016-02-14 17:41] markus2330 commented on #356
Thank you! The error messages were the important part! Most plugins are disabled for global-plugins (including conditionals) for the release anyway.

The absolute vs. relative is not so easy if you want to specify namespaces.

[2016-02-14 18:06] markus2330 commented on #506
Thank you for reporting. I can reproduce it. Stacktrace:
[code]

[2016-02-14 18:17] markus2330 commented on #506
@tom-wa It seems that name is a null pointer. Debug Stacktrace:
[code]

[2016-02-14 19:37] #506 closed

[2016-02-14 19:37] #488 closed

[2016-02-14 19:48] tryge opened #509 "building plugin doc fails on Mac OS X"
When running the command `cmake .. -DPLUGINS='dump;resolver;sync;error;doc'`, `make` fails with the following message:

[code]

[2016-02-14 19:50] tryge opened #510 "building plugin list fails on Mac OS X"
When running the command `cmake .. -DPLUGINS='dump;resolver;sync;error;list'`, `make` fails with the following message:

[code]

[2016-02-14 19:54] markus2330 commented on #509
Actually, you can safely omit the "doc" plugin, it does not really do something useful for itself. Otherwise, it might be an easy fix by adding `LINK_ELEKTRA elektra-kdb` in the CMakeLists.txt. Unfortunately, I cannot reproduce the problem, gcc seems to not care about the unused code.

[2016-02-14 20:38] #509 closed

[2016-02-14 20:40] markus2330 commented on #510
Should be the same fix as before `LINK_ELEKTRA elektra-kdb`, but again, I do not get the error. Seems like the Linux linker is more relaxed.

[2016-02-15 06:24] #510 closed

[2016-02-15 08:55] mpranj opened #515 "some tests failing on OS X"
steps to reproduce:
[code]

testmod_conditionals:
[code]

The following tests FAILED:
[code]

It seems that lots of the errors occur in `simpleini`:
[code]

Output from the failing tests:
[testscr_check_resolver.txt](https://github.com/ElektraInitiative/libelektra/files/130360/testscr_check_resolver.txt)
[testscr_check_real_world.txt](https://github.com/ElektraInitiative/libelektra/files/130364/te

[2016-02-15 09:02] markus2330 commented on #515
Thank you for reporting!

Can you also add the output of the other failed test cases?
Does the `list` plugin now work? How did you fix it?
Is it possible that PLUGIN_OPEN already fails? (Then nearly every testmod_* testcase should fail)

[2016-02-15 09:10] mpranj commented on #515
Sorry I think I mixed up the options, this was with `-DPLUGINS=NODEP -DTOOLS=NODEP -DBINDINGS=cpp` I guess. Have to check it again.

The `list` plugin is still failing yes.

[2016-02-15 09:13] mpranj commented on #515
Indeed this was when I tested with `NODEP` plugins&tools.

[2016-02-15 09:19] mpranj opened #516 "list plugin (test) fails on OS X"
steps to reproduce:
[code]

Then `testmod_list` fails with:
[code]

All other tests are passing.

[2016-02-15 09:21] mpranj commented on #515
Most testmod_* tests are passing here.

[2016-02-15 11:29] mpranj commented on #516
@markus2330 indeed as you pointed out just rename and keytometa were missing so the test failed
is there any way to add them as dependencies?

[2016-02-15 13:12] markus2330 commented on #516
No, the testcase should check for them and disable itself.

[2016-02-15 16:39] omnidan commented on #402
Seems to work fine now (on `master`)!

Without mac linendings:

[code]

With mac lineendings:

[code]

[2016-02-15 16:39] #402 closed

[2016-02-15 16:59] #361 closed

[2016-02-15 18:08] tryge commented on #515
For me the commands:
[code]

where the following plugins were excluded:
[code]

resulted in the following failing tests:
[code]

[2016-02-15 18:34] markus2330 commented on #515
testmod_conditionals is strange, that should be completely portable C code.

The others seem like that `kdb` cannot write to `system`? (i.e. /etc/kdb)
(Or not using dump as default backend, but this seems to be not the case)

[2016-02-15 18:36] tryge commented on #515
Why do the tests need to write to `/etc` ? For me this means I need to run the tests with `sudo`, do I?

[2016-02-15 18:40] mpranj commented on #515
Indeed you need root access.

[2016-02-15 18:44] tryge commented on #515
Ok, that changed the output, but is still not consistent with the tests that failed for @mpranj :

[code]

[2016-02-15 18:48] markus2330 commented on #515
Thank you!

You do not necessarily need root access, you also can reconfigure `KDB_DB_SYSTEM` or chown `KDB_DB_SYSTEM` to your user.
(By default /etc/kdb)

Can you give the output of the tests. Only the testnames alone do not really help.

Can someone look into the `testmod_conditionals`? It seems like there is undefined behaviour triggered and it works with gcc just by chance.

[2016-02-15 18:55] tryge commented on #515
Here is the output:
[testmod_conditionals.txt](https://github.com/ElektraInitiative/libelektra/files/131264/testmod_conditionals.txt)
[testscr_check_get_set.txt](https://github.com/ElektraInitiative/libelektra/files/131265/testscr_check_get_set.txt)
[testscr_check_import.txt](https://github.com/ElektraInitiative/libelektra/files/131266/testscr_check_import.txt)
[testscr_check_kdb_internal_suite.tx

[2016-02-15 19:04] mpranj commented on #515
@tryge you obviously get different output if you don't use the steps to reproduce which were mentioned in the description

[2016-02-15 19:10] mpranj commented on #515
@markus2330 ok I'll look into `testmod_conditionals` first

[2016-02-15 19:27] tryge commented on #515
Well obviously, however, I didn't try to reproduce anything. I just tried the tests for the build I'm interested in and thought my input might be valuable...

I'm not sure if my input helps, but I learned something, so for me it was valuable :-)

[2016-02-15 20:04] mpranj commented on #515
Sure it helps. I was just thinking it might make sense to separate into new issues since this one is already a huge "things are a bit broken on OS X" issue.

[2016-02-15 20:12] #516 closed

[2016-02-15 20:21] markus2330 commented on #515
Btw. to run as non-root you also need to take care for KDB_DB_SPEC. But actually it is good if we also test it as root, because from this release on, `kdb` behaves different as root. (`system` is default namespace).

About conditionals: The most likely source of unportable behaviour is the regex: `(\\(([^\\)]*)\\))\\s*(\\?)\\s*(\\(([^\\)]*)\\))\\s*(:\\s*(\\(([^\\)]*)\\))){0,1}`. @mpranj Can you ch

[2016-02-15 20:33] mpranj commented on #515
@markus2330 currently I cannot build ALL plugins. But yes `-simpleini` fixes lots of the fails, remaining is:
[code]

the check_resolver thing can be quicky fixed I guess (it's the /tmp vs /private/tmp path thing..)

[2016-02-15 20:42] 0003088 commented on #465
Just for clarifiction: backenbuilder.hpp is supposed to completely replace backend.hpp or will they coexist? Is GlobalPluginsBuilder::globalPluginsPath the same as Backends::mountpointsPath?

[2016-02-15 20:45] mpranj commented on #515
#520 fixes testscr_check_resolver

[2016-02-15 20:48] markus2330 commented on #465
`BackendBuilder` can write out different backends, e.g. `Backend` or `GlobalBackend`. In future Backend will be legacy and a new `LazyBackend` will be the default.

So yes, `BackendBuilder` has completely replaced `Backend` as new interface to build backends, Backend is only the low level serialization mechanism and should not be used directly (because of the ordering problem and the impossibility

[2016-02-15 20:53] 0003088 commented on #465
ok, so backend is not to be supposed to build backends but the class will be still there, so it's possible to further use Backends::mountpointsPath?

[2016-02-15 20:54] markus2330 commented on #465
I am not sure what you mean, `Backend` and `Backends` are unrelated classes?

[2016-02-15 21:02] 0003088 commented on #465
Oh, sorry, missed the s. It's been a while since I wrote the code, I need to familiarize myself with the whole stuff again.

[2016-02-15 21:05] markus2330 commented on #465
No problem, do not hesitate to ask any further question.

[2016-02-15 21:23] markus2330 opened #521 "enum: initial assignment"
It seems like that initially (no key in backend -> at least one key in backend) enum does not validate instead every value is accepted.

[code]

The problem might be in spec. I use
[code]

[2016-02-15 21:26] mpranj commented on #515
@markus2330 thanks. It was indeed the regex that was not portable.

[2016-02-15 21:28] markus2330 opened #522 "conditionals: allow keys in then/else of assignment"
[code]

leads to

[code]

expected: `battery/level` should be a key to lookup

[2016-02-15 21:35] markus2330 opened #523 "spec/conditionals: error message wrong"
[code]

Only when I assign a non-null key, it will work:

[code]

[2016-02-15 21:54] markus2330 opened #524 "range plugin"
type check min/max be replaced by arbitrary ranges + should yield better error messages

[2016-02-16 07:52] #515 closed

[2016-02-16 09:01] strahlex commented on #388
Thanks, will take a look at it.

[2016-02-16 10:27] markus2330 commented on #465
@0003088 One more important remark: We are going to completely reformat the C/C++ source. Do you already have a branch you are working on? It would be difficult to merge for you then, unless you also apply clang-format on your branch. Is this possible for you?

[2016-02-16 11:03] markus2330 commented on #424
Seems to work now!

[2016-02-16 11:04] markus2330 commented on #448
Seems to work now! (For both ini and ni)

[2016-02-16 11:07] markus2330 commented on #355
Seems to work now with option "array"
[code]
in Elektra with:
[code]

Questionable, however is:
[code]
leads to the file:
[code]

[2016-02-16 11:09] markus2330 commented on #354
Seems to work nicely now, new output:
[code]

[2016-02-16 11:33] strahlex commented on #355
It would be preferable if writing works too. However, read-only should be sufficient right now.

[2016-02-16 12:35] markus2330 commented on #355
Of course, writing configuration is an equally important goal for Elektra. I add the missing features in the issue  #388.

[2016-02-16 13:14] omnidan commented on #354
Yep, works for me too.

[2016-02-16 13:14] #354 closed

[2016-02-16 16:44] markus2330 opened #528 "qt-gui: Merge regression"
The merging code might have an regression, in qt-gui there are again merge conflicts where there should not be. Do the setBinary influence the KEY_SYNC bit different than it did before?

[2016-02-16 17:07] markus2330 opened #529 "lua: attempt to index local 'parentKey'"
When running unit tests with installed lua binding, I get the error:
[code]

how can the `attempt to index local 'parentKey' (a userdata value)` be dependent of an installed lua binding?

[2016-02-16 18:10] manuelm commented on #529
Looks like a library/version/whatever mismatch to me

[2016-02-16 18:12] manuelm commented on #529
Dup. of https://github.com/ElektraInitiative/libelektra/issues/383#issuecomment-158075119 ?

[2016-02-16 21:40] 0003088 commented on #465
Can't I just pull the changes into my branch? Should I wait until you reformatted the source before I begin to include the new class?

[2016-02-17 07:15] markus2330 commented on #465
Pulling in would conflict with every change you made. So if you haven't started its best to wait. I will reformat today or tomorrow.

[2016-02-17 07:19] markus2330 commented on #529
Yes, sorry, it is a duplicate. The error was shown during the release process and I wanted to quickly take a note of it. I am, however, still wondering how this kind of error message can have anything to do with a mismatch of some sort. But it really does, uninstalling the binding makes the error go away.

[2016-02-17 07:19] #529 closed

[2016-02-17 07:44] markus2330 commented on #461
Thanks, should be resolved.

[2016-02-17 07:44] #461 closed

[2016-02-17 07:45] markus2330 commented on #459
reformatting will happen today or tomorrow, so try to not use current version for planned PRs.

[2016-02-17 07:46] markus2330 commented on #457
I think the issue is still relevant when no `/` is mounted.

[2016-02-17 07:47] #448 closed

[2016-02-17 07:48] markus2330 commented on #428
This would be quite important to fix for next release, it might be #528

[2016-02-17 07:50] markus2330 commented on #426
requirements: should be completely compiled away by default, only useful for debugging

[2016-02-17 07:51] markus2330 commented on #426
an assert framework would be useful, too

[2016-02-17 07:52] markus2330 commented on #403
This should be resolved

[2016-02-17 07:52] #403 closed

[2016-02-17 07:55] markus2330 commented on #356
Proposal: relative keys start with `./`

[2016-02-17 07:56] #297 closed

[2016-02-17 07:56] markus2330 commented on #251
Packages are now available in Debian Unstable Elektra 0.8.14

[2016-02-17 07:56] #251 closed

[2016-02-17 14:21] #424 closed

[2016-02-17 14:21] #397 closed

[2016-02-17 14:34] markus2330 commented on #137
To solve the issue we need to implement a global lock plugin, can be done now

[2016-02-17 21:20] fberlakovich opened #530 "libsplit benchmark script is bash dependent"
The benchmark script introduced in 15657e4d seems to be dependent on bash. When executed with the shebang provided it throws the following error on my development system (Debian 7.9):

```libelektra/scripts/benchmark_libsplit.sh: 18: libelektra/scripts/benchmark_libsplit.sh: Syntax error: Missing '))'```

The issue seems to be rooted in the line ```WALLTIME=$((time -p $BENCHMARK) 2>&1)```.
Can any

[2016-02-18 03:53] markus2330 commented on #530
Thank you for reporting!

I think its ok to use `#!/bin/bash` for such very specific scripts. The script also depends on existance of doc/benchmark/logs and the build folder within the source.

For elektra-merge, however, it would be nice to actually be POSIX conformant and state that with `#/bin/sh`.

[2016-02-18 04:06] markus2330 commented on #452
@petermax2 Do you have OpenBSD installed?

[2016-02-18 04:14] markus2330 commented on #459
Is there some way to exclude every `keyNew` that includes KEY_META from being reformatted? (Without tagging each occurrence or introducing macros for them.)

They are always/often manually formatted in a way that every meta data gets its own line. Or is it even possible that clang-format applies such a format automatically?

As an example, see tests/ctest/test_spec.c

[2016-02-18 07:00] petermax2 commented on #452
@markus2330 I have an OpenBSD VM somewhere

[2016-02-18 09:14] petermax2 commented on #452
Found another issue on OpenBSD (tried to compile a67c05505552c57861125c3ed4bf26cda7553fdc )

	[  1%] Building CXX object src/error/CMakeFiles/elektra-export-errors.dir/exporterrors.cpp.o
	cc1plus: warning: -Wuninitialized is not supported without -O
	In file included from /home/pnirschl/elektra/src/error/exporterrors.cpp:9:
	/home/pnirschl/elektra/src/error/parser.hpp:29: error: expected ';' befor

[2016-02-18 09:32] sanssecours commented on #459
As far as I can tell the answer to both questions is “No”. However, Clang-Format is able to put every argument on its own line,if we add `BinPackArguments: false`. The following example shows the effect of this parameter.

**Now:**
[code]

With `BinPackArguments: false`:

[code]

With `BinPackArguments: true` (default):

[code]

[2016-02-18 10:22] markus2330 commented on #459
Thank you for looking into it. Both solutions are not satisfactory. I hoped for some way of automated exceptions. Seems like we have to annotate every place. Maybe we find an automated way for annotating the places.

@fberlakovich If I remember correctly you also tagged some places to not use automatic format. What was your tag? Does clang recognizes it?

[2016-02-18 10:23] markus2330 commented on #452
Seems like gcc does not support C++11. Do you use a recent version of gcc and OpenBSD?

[2016-02-18 12:10] mpranj commented on #530
Thanks for reporting. Will fix it later. The main purpose of the script was to show how the benchmark was done, so I skipped all sanity checks.

[2016-02-18 12:24] petermax2 commented on #452
Don't use the words "recent" and OpenBSD together. ;) I did a freh install of OpenBSD 5.8 today.

[2016-02-18 12:30] tom-wa commented on #452
you have to use egcc/eg++  and libestdc++ on OpenBSD 5.8, the "normal"/non-e-versions are too old.

[2016-02-18 12:48] petermax2 commented on #452
@tom-wa thx! I'll try

[2016-02-18 13:11] fberlakovich commented on #459
Yes, for example in the contract.h file in the augeas plugin. I used ```// @formatter: off``` in order to disable the Eclipse code formatter. However, according to http://clang.llvm.org/docs/ClangFormatStyleOptions.html#disabling-formatting-on-a-piece-of-code this tag is not recognized by clang.

[2016-02-18 13:15] markus2330 commented on #459
@fberlakovich Can you reconfigure Eclipse to use the clang-formatter?

[2016-02-18 13:17] fberlakovich commented on #459
I have not tried yet, but a quick google search suggests you can do so: https://github.com/wangzw/CppStyle

[2016-02-18 16:50] sanssecours opened #531 "Add Homebrew Formula for Elektra"
[Homebrew](http://brew.sh) is one of the most popular package managers for OS X. It would be nice if we  provide an official Homebrew formula – a.k.a. package – for Elektra. Someone already made a basic formula [here](https://github.com/fish2000/homebrew-praxa/blob/master/elektra.rb). Maybe we can base our work on that.

[2016-02-18 17:29] markus2330 commented on #459
@sanssecours A very small issue: small functions are made completely one line with clang-format. Is there an option to turn this off? (e.g. `void timeInit(void)` in `benchmarks/benchmarks.c`). Its not really critical, because it happens rarely, but would be nice to have this consistent.

[2016-02-18 17:50] markus2330 commented on #459
and is there an automatic way of putting `{}` around one-line if/while/..?

[2016-02-18 18:14] markus2330 commented on #459
is it possible to change clang-format options within the code? for example for some ksNew it would be good to have BinPackArguments: false, for others it is ugly. (I tried `// clang::format::reformat(BinPackArguments: false)`, did not work). Its not really important though.

The small functions inline, however, is much more important than I though initially. Even quite long methods are put into a

[2016-02-18 19:48] markus2330 commented on #459
Reformatting is finished, small issues are:

- [ ] after `typedef enum` and `extern "C"` there is no newline. But from the docu `BreakBeforeBraces: Allman` already should be the right thing?
- [ ] BinPackArguments selectively for some parts
- [ ] automatic way of putting `{}` for non-return statements (also to disable selectively in source)

Thank you for your help to finish this!

[2016-02-18 23:14] markus2330 commented on #523
Some clarification: I think that assign/* already states that a key should be created if missing. So the issue is not only about null keys, but also for missing keys.

[2016-02-18 23:18] markus2330 commented on #355
Seems to work now in both directions!

[2016-02-18 23:18] #355 closed

[2016-02-18 23:24] markus2330 commented on #485
To clarify: I think we also need a two-way renaming for machinekit. So every key the users get should be lowercase, everything passed to the storage uppercase (and vice-verca). It is a different feature, because it loses all case-preserving for the storage. Maybe we can cleverly have two different features that can be combined in every way: One feature that is about how the user sees the keys, the

[2016-02-19 08:38] markus2330 commented on #51
Some notes: `doc/decisions/relative.md` describes a bit more the background.

And as scattert in some todos (e.g. TOOLS) the idea is that `kdb export` does an export for each namespace, making development of plugins easier.

E.g. when you do `kdb export /hello ni` you would get following output:
[code]

So one can simply execute the exported file and gets everything reimported without having to ca

[2016-02-19 08:48] markus2330 opened #533 "Improve default-value"
The current default values logic is hard-coded in `ksLookup`. See `elektraLookupBySpecDefault`, when a metakey `default` is found, a new so-called default-key (starting with `/`) is created.

There are multiple issues with that:
1. The metadata `default` only allows values, no calculation. Actually it should be similar to `assign` (calculated by `conditionals` and `matchcheck`), with the only diff

[2016-02-19 08:54] sanssecours commented on #459
Just for reference: You already solved this issue in commit 1ed4d4b5.

It seems like this is not possible with `clang-format`. However [Clang-Tidy](http://stackoverflow.com/questions/26111162/can-clang-format-add-braces-to-single-line-if-statements-etc) is able to add braces.

For example, if you save the following (non-sensical) code in the file `tmp.c`:

[code]
, then the command

[code]
transfo

[2016-02-19 12:53] markus2330 commented on #459
@sanssecours thank you, I applied clang-tidy, too.

The only open issue is that after `typedef enum` and `extern "C"` there is no newline. But from the docu `BreakBeforeBraces: Allman` already should be the right thing?

[2016-02-19 20:14] sanssecours commented on #459
Yes, according to the documentation `clang-formats` breaks before every brace, if `BreakBeforeBraces` has the value `Allman`. The only place where it actually does not add a newline character is after something like `extern "C"`. I do not see the issue with `typedef enum` you mentioned. The tool reformats the code
[code]
to
[code]
on my machine (`clang-format version 3.7.1`). So `clang-format` act

[2016-02-19 20:21] markus2330 commented on #459
Strange, your `typedef enum` looks like it should be. Can you try clang-format 3.7 on Elektra's source, too? Does it fix the `typedef enum`? Does it change other things? I used clang-format 3.8, should we prefer 3.7?

`extern "C"` is used 30 times, would be nice to find a solution there, too. Its actually so simple to fix, we could call `sed` after clang-format.

Except for these little things I a

[2016-02-19 20:27] markus2330 commented on #440
What about using https://www.vagrantup.com/?

[2016-02-19 21:17] sanssecours commented on #459
Yeah, commit d47dd6df shows the changes.

Yes, it does.

Yes, it does that too.

Maybe it would be better, since version 3.7.1 is the current [stable release](http://llvm.org/releases/).

In my opinion we could just leave it as it is today. I do not think it is that big of a deal. Maybe a future version of `clang-format` will actually add a space after `extern "C"`.

By the way: I used the script

[2016-02-19 22:25] fberlakovich opened #535 "Building the journald plugin fails on Debian jessie"
After upgrading to Debian jessie I am no longer able to build elektra with the journald plugin included. The reported error is

```[ 44%] make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libsystemd-journal.so', needed by 'lib/libelektra-journald.so'.  Stop.```

@markus2330 Probably this is related to #264. I will have a look at it as soon as I am finished with gathering benchmark res

[2016-02-20 13:39] petermax2 commented on #452
I changed the error number to `EINVAL` which should have better availability.

If we solve the librt problem with

    if (UNIX AND NOT APPLE AND NOT ${CMAKE_SYSTEM_NAME} MATCHES "OpenBSD")
        set(CMAKE_REALTIME_LIBS_INIT rt)
    endif()

what about other systems that do not have a librt? Is there a more general way in CMake to find out if `-lrt` is working on the system?

[2016-02-20 13:40] petermax2 commented on #452
Maybe we use a `TRY_COMPILE` in conjunction with `LINK LIBRARIES`?

[2016-02-20 13:55] petermax2 commented on #452
# check if native librt is available
    find_library(HAS_LIBRT "rt")
    if (HAS_LIBRT)
	    set(CMAKE_REALTIME_LIBS_INIT rt)
    endif()

seems to do the trick but I have to test it.

[2016-02-21 09:58] markus2330 commented on #535
Thanks for opening the issue and taking care of it! Unfortunately, I cannot reproduce it, on my debian jessie it builds just fine with deps:
[code]
and with result:
[code]

[2016-02-21 13:18] markus2330 commented on #452
Btw. regarding the earlier question: If you use a FindRT module such problems should already be handled internally.

If no such FindModule is present you can do that manually e.g. as done by @manuelm in cmake/ElektraCompiling.cmake line 39-43 to check if --version-script is a valid linker flag.

[2016-02-21 17:20] petermax2 commented on #452
@markus2330 do you prefer `check_cxx_compiler_flag` over `find_library`? I am not really sure which solution is better.

[2016-02-21 17:33] markus2330 commented on #452
I think `find_library` is not used correctly. The name of the library should be stored in the variable you pass. (But the value is not used.) See https://cmake.org/cmake/help/v3.0/command/find_library.html

Used correctly `find_library` would be the better option, because it would not force the `rt` lib to be called `rt`. (when we start to add HINTS and NAMES) Note that the `if` is still necessary

[2016-02-21 20:41] petermax2 commented on #452
The solutions around all look more or less like [https://github.com/civetweb/civetweb/blob/master/cmake/FindLibRt.cmake](https://github.com/civetweb/civetweb/blob/master/cmake/FindLibRt.cmake).

[2016-02-22 08:44] sanssecours commented on #459
By the way: Someone already filed a bug report about the incorrect behaviour of `BreakBeforeBraces: Allman` after `typedef enum` [here](https://llvm.org/bugs/show_bug.cgi?id=26626).

[2016-02-22 09:52] markus2330 commented on #452
Yes, it is certainly more elegant to have a dedicated Find module. Thanks for the research!

[2016-02-22 09:53] markus2330 commented on #459
Thank you! Can you confirm the issue and make one for the `extern "C"`?

Do they also fix such issues in 3.7 or only in 3.8?

[2016-02-22 11:38] sanssecours commented on #459
I just did both. The bug report concerning `extern "C"` is located [here](https://llvm.org/bugs/show_bug.cgi?id=26689).

I really don't know. My guess is, that they fix the issue concerning `typedef enum` in Clang-Format 3.8 and the one I just filed somewhere in version 3.9 (`trunk` a.k.a. `HEAD`), in an even later version or never 😀.

[2016-02-22 13:24] petermax2 commented on #452
OK I'll take over a BSD-licensed find-module as soon as I find the time for it.

[2016-02-22 17:13] markus2330 opened #539 "kdb: nesting of commands"
getopt reorders the arguments which causes a problem when commands are nested.

E.g. `bin/kdb elektrify-getenv echo -n -e "hello world"`
Causes `The command elektrify-getenv is not known` (even though the command actually exists and `/usr/lib/elektra/tool_exec/-n` was actually `stat()`ed.

Workaround: set the environment variable `POSIXLY_CORRECT`, but this breaks arguments mixed in non-posix conf

[2016-02-23 02:31] tom-wa commented on #523
should that also work for kdb get if the key doesn't exist ?
because i'm having some issues there (conditionals getting called before spec)
we should probably have 2 postgetstorage global placements (1 directly after getstorage and one directly after the last postget)

[2016-02-23 07:06] markus2330 commented on #523
Yes, as second step (not in the same PR), it should also work without the key. (See proposal with `default` calculation #533) And yes, new hooks might be needed then. Maybe we can remove other hooks though, the ones executed in the loop would be quite different to use.

[2016-02-23 19:08] petermax2 commented on #452
The FindModule mentioned before does not do much more than we do now. It uses `find_library`:

    find_library(LIBRT_LIBRARIES rt)

We do the same thing in `ElektraCompiling.cmkae`:

    find_library(CMAKE_HAS_LIBRT "rt")

I think there is not much more to it. Do you really think introducing a dedicated find module will be worth the effort?

[2016-02-24 17:38] sanssecours opened #541 "Add Logo to ElektraInitiative Organization on GitHub"
I am not a fan of the current – randomly generated – picture. Can we please change the logo to something less generic. I think the [circle](https://github.com/ElektraInitiative/libelektra/blob/master/doc/images/circle.svg) image in the folder `doc` looks nice. By the way: Is it supposed to look like as if it was drawn by hand? First I assumed it was only available in bitmap form and made a vector

[2016-02-24 18:04] markus2330 commented on #541
Thank you, I changed the avatar of the organization, is the logo now everywhere it should be?

The Studio-HB did the logo and they are mentioned in the AUTHORS file. I think they are the only ones who know how they did it.

in the `doc/image` folder there is also an svg, was something wrong with it? If you have a better version, please send a PR.

[2016-02-24 18:12] markus2330 commented on #452
Yes, it is a clear interface, is expected there and allows us to share it between projects. So even if it is now basically a one liner, its better if its in own file. Once we need more  logic to add support for other systems we already have everything in place. Or asked differently: Why break the convention? There should be a good reason for it.

Btw. you do not have to rewrite it, if you find BSD

[2016-02-24 18:16] markus2330 commented on #459
@sanssecours thank you!

[2016-02-24 19:28] sanssecours commented on #541
As far as I can tell, yes. Thank you for adding the logo.

No, nothing is wrong with it. The small version of the logo (`circle.jpg`) contains some artifacts though. Personally I would prefer `circle.svg` – maybe converted to `png` – as logo for that reason. Below is a comparison between the copy of the logo I made, the current logo and a scaled down version of `circle.svg`.

![comparison small](h

[2016-02-27 20:23] tom-wa commented on #349
@markus2330
seems like i forgot to reference the bug in the in the commit, this one has already been fixed

[2016-02-27 22:44] #349 closed

[2016-02-28 10:19] petermax2 commented on #440
This could do the job. Should I investigate?

[2016-02-28 10:24] markus2330 commented on #440
Maybe someone already has experience with vagrant? I am not sure if vagrant should be used for build server nodes, too?

[2016-02-28 15:46] #452 closed

[2016-02-28 20:45] markus2330 opened #544 "crypto tests"
The crypto tests now expect both variants to be present. It would be good to have a clever method so that the test cases run only against the variant actually included.

I also changed the add_plugin heavily, I hope I did not introduce a problem in the crypto plugin, please report if the behaviour changed. See the commit 3121a8ad1fb05eceeed313cbae511069eeb2b0e0 and especially doc/decisions/cmake_p

[2016-02-28 20:47] markus2330 opened #545 "add_plugin leftover"
- [X]    jni python2 seem to be broken (maybe use compilation variants)
- [X]    default storage/resolver links missing
- [X]    removal of "resolver" plugin missing
- [ ]    maybe rename add_plugin -> plugin

[2016-02-29 20:17] markus2330 commented on #483
Because of the current quality of the bash auto completion I will close the issue for now.

[2016-02-29 20:17] #483 closed

[2016-02-29 20:19] markus2330 commented on #456
Thank you, they seem to work now!

[2016-02-29 20:19] #456 closed

[2016-02-29 20:20] markus2330 commented on #449
Should be fixed for PLUGINS now.

[2016-02-29 20:20] #449 closed

[2016-02-29 20:21] markus2330 commented on #415
DEFAULT changed now. It is currently ALL, but it should be fixed to exclude experimental plugins.

[2016-03-01 19:48] petermax2 commented on #544
The tests were almost doing fine, because the plugins are loaded dynamically

    plugin = elektraPluginOpen ("crypto_gcrypt", modules, newWorkingConfiguration (), 0);
    if (plugin) { /* ...test magic... */ }

the test cases do not fail when the plugin is not present.

[2016-03-01 19:52] petermax2 opened #548 "CMake can't find OpenSSL development files for crypto_openssl"
On Fedora CMake can't find the OpenSSL development files altough the packages are installed properly.

[2016-03-01 20:05] petermax2 commented on #544
@markus2330 does 76392daeb4293a4a29dda3f916b55e2c2787d112 work for you?

[2016-03-01 20:11] markus2330 commented on #548
On Debian I had the same problem. Maybe its a regression I introduced when introducing the two-phase add_plugin.

[2016-03-01 20:12] markus2330 commented on #544
add_plugintest (crypto) should only happen if the plugin was actually added in second phase.

[2016-03-03 18:29] #544 closed

[2016-03-03 18:54] petermax2 commented on #548
@markus2330 why did you introduce `FIND_PACKAGES` to `src/plugins/crypto/CMakeLists.txt`?

The following change works fine for me (on Debian 8):

	--- a/src/plugins/crypto/CMakeLists.txt
	+++ b/src/plugins/crypto/CMakeLists.txt
	@@ -31,7 +31,7 @@ if (DEPENDENCY_PHASE)
		endif ()

		set (plugin crypto_openssl)
	-       if (FIND_PACKAGES AND NOT OPENSSL_MANUAL_OSX_HACK)
	+       if (NOT OPENSSL_MANU

[2016-03-03 19:08] petermax2 commented on #548
@markus2330 please clarify the meaning of `FIND_PACKAGES` in `doc/decisions/cmake_plugins.md`. I have no idea what it is supposed to do (and I could only find it in this decisions file).

    		FIND_PACKAGES -> not only packages are subject to this phase

Is this a feature, that has not been implemented yes? Because at the moment it is never defined, so CMake does not even try to test for the Open

[2016-03-03 23:18] markus2330 commented on #548
Sorry, my fault:  FIND_PACKAGES was a previous name of DEPENDENCY_PHASE, it is not used anymore and was forgotten at this place.

Thanks for finding the bug!

[2016-03-03 23:18] #548 closed

[2016-03-06 14:20] markus2330 opened #550 "mathcheck: error when compiled with icc"
See http://community.markus-raab.org:8080/job/elektra-icc/lastFailedBuild/console, mathcheck seems to have issues when compiled with icc?

[code]

[2016-03-06 17:02] markus2330 opened #551 "spec: segfault"
[code]

and `bt full` (shortened):
[code]

global-mount has mounted only `spec`.

[2016-03-07 09:48] #551 closed

[2016-03-07 09:51] markus2330 commented on #550
not checked if problem actually is fixed.

[2016-03-07 12:09] markus2330 commented on #550
The problem is still open, can you improve the testcase so that the test output is helpful?

[2016-03-07 19:15] tom-wa commented on #522
@markus fixed in #540

[2016-03-07 19:16] tom-wa commented on #521
@markus2330 fixed in #540

[2016-03-07 20:09] markus2330 commented on #522
Thank you, works fine now!

[2016-03-07 20:09] #522 closed

[2016-03-07 20:10] markus2330 commented on #521
Thank you!

[2016-03-07 20:10] #521 closed

[2016-03-07 20:24] markus2330 opened #554 "conditionals: assignment does not work on new keys"
[code]

Expected: low

[2016-03-07 20:51] tom-wa commented on #554
ok, thats an embarrassing mistake... missed that one somehow while trying to figure out why the key doesn't get set...

[2016-03-07 20:55] tom-wa commented on #554
otherwise the issue seems to be the same as #523
I'll try to change the hook placement to get it working.

[2016-03-08 14:47] markus2330 opened #556 "ini: Segfault for array feature"
Given the setup as described in #355, appending keys to array now segfaults:

[code]

bt full (shortened):
[code]

Please add some testcases which segfault now and demonstrate the fix.

[2016-03-08 15:09] markus2330 commented on #459
I think we will stay with 3.8. It is nearly released and with the little exceptions of enums/unions it formats much better.

[2016-03-08 15:20] markus2330 commented on #541
Yes, its a pro/con, the jpg has ugly artifacts when scaled but has a nice gray background (which the svgs do not have).

[2016-03-08 15:21] markus2330 commented on #541
If you want you can create a PR, but I am not sure where your svg and the one below `doc/images` differ.

[2016-03-08 16:31] tom-wa commented on #556
can you give me the commands/steps you've used ?
i've just mounted the array.ini from the ini testfiles and tried it:
[code]

[2016-03-08 16:37] markus2330 commented on #556
I hoped the backtrace will already help you.

[code]

[2016-03-08 16:40] tom-wa commented on #556
ah now i see the problem:
it should be array/sec/a
i really need some error handling with those inputs though, thanks for reporting

[2016-03-08 16:42] markus2330 commented on #556
Yes, please add error handling, a seg fault is really a no-go.

[2016-03-08 16:43] markus2330 commented on #556
See #185 for an effective technique to find such problems.

[2016-03-09 07:47] sanssecours commented on #541
Here is a version of my copy of the icon, with additional gradient and shadows:

![elektra new](https://cloud.githubusercontent.com/assets/691989/13628484/b4b94d72-e5d2-11e5-98b5-924480b03f76.png)

Maybe we could use this icon for the ElektraInitiative Organization. Unlike the current one, it contains no artifacts. Below is a comparison of the two icons at the same size:

![circle](https://cloud.g

[2016-03-09 08:57] markus2330 commented on #541
Wow great, looks like we get a new logo ;)
Lets look at it tommorrow together.

[2016-03-11 08:56] markus2330 opened #559 "Check+manipulate plugin config at mount time"
I propose to add a functionality that plugins can validate or even manipulate their configuration at mount time. We already use that for the resolver (`checkfile`) and it turns out that such feature is essential for the `crypto` plugin which needs to encrypt a password at mount time.

We could introduce following convention for plugins: Whenever a plugin exports the symbol checkconf (using `export

[2016-03-12 12:00] petermax2 commented on #559
This would be very helpful for the `crypto` plugin. :+1:

[2016-03-14 06:12] #556 closed

[2016-03-20 18:33] petermax2 commented on #475
After some discussions @markus2330 and I came up with the following solution to "relatively securely" derive the cryptographic key material in Elektra's crypto plugin(s).

### Procedure

During the **mount phase** a random master password _r_ is being generated. _r_ is sent to the gpg binary for encryption. The resulting encrypted master password _m_ is stored in the plugin configuration at `confi

[2016-03-20 19:18] flowlo commented on #475
@petermax2 I saw you crossposting this on Facebook ;)

I would like to point out that the terminology you are using here could be slightly misleading. PBKDF2, using one and the same configuration (specifically the underlying PRF and number of rounds) is deterministic. By stating

one could be mislead to believe that PBKDF2 employs randomization and therefore needs to seed it's internal state. Howe

[2016-03-20 19:43] petermax2 commented on #475
@flowlo thank you! Very helpful input!

[2016-03-20 20:50] markus2330 commented on #475
@petermax2: Yes, documenting the decision would be helpful for future reference. Please avoid camel case (masterChallenge). You should also mention that we wanted to modularize the safe-keeping of the password and the used en/decryption of keys. As described in the text above, it would not be lazy (but always execute the gpg binary). Btw. what about using the gpg executable for both getting the pa

[2016-03-21 08:01] petermax2 commented on #475
It would lead to an overhead in data size. GPG messages have quite some headers. Also it would cost performance because for every Key that was encrypted an RSA (or DSA respectively) encrypt would be executed. However, this would be a nice benchmark, right?

I will also mention that we want to use the gpg binary to encrypt/sign whole configuration files.

[2016-03-21 08:04] petermax2 commented on #475
or did you mean to call the gpg binary to encrypt symmetrically using the given password, which would also be possible.

[2016-03-21 09:34] markus2330 commented on #475
Yes, I was thinking about using the gpg binary to encrypt symmetrically implementing the same interface you already implemented twice (gcrypt, openssl). I am not sure, however, if there is a way to forward the password to the binary in a secure way. It would be interesting from performance point of view, though. But better recheck if it helps you with your research questions.

[2016-03-21 09:38] markus2330 commented on #475
(Btw. one big advantage of using the gpg binary is that it does not impose any build-time dependency)

[2016-03-24 03:51] tom-wa opened #565 "keyIs(Direct)Below doesn't work with cascading keys"
keyIs(Direct)Below ( /test , user/test/key1 ) returns 0, expected 1

[2016-03-24 12:40] markus2330 commented on #565
Thank you for reporting!

[2016-03-24 12:48] markus2330 opened #567 "Retain user/group"
Resolver should retain user/group when writing to config files as root.

[2016-03-24 13:21] markus2330 opened #568 "Resolving of home dir"
~/ resolving using getpwuid_r pw_dir for system+spec (allow it for all namespaces, even though its the default for absolute pathes in the user-namespace anyway), e.g.  if the `/path` configuration of the resolver is `~/abc.conf`, it will resolve to /home/markus/abc.conf (which was not possible for system+spec before). If you want in the filename a ~ (as directory name), you need to double it. Exam

[2016-03-29 11:30] markus2330 commented on #567
E.g. "/etc/kdb/default.ecf" was written by "markus.users". When doing "kdb set system/something" as root, "/etc/kdb/default.ecf" should be still "markus.users" and not "root.root".

[2016-04-01 07:44] petermax2 commented on #475
I am using this ticket as implementation task.

- [ ] implement module for calling the gpg binary
- [ ] implement module for retrieving/storing the master-challenge
- [ ] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_gcrypt`
- [ ] implement the key/IV derivation using the master-challenge in the plugin variant `crypto_openssl`
- [ ] implement plugin-varia

[2016-04-01 09:04] markus2330 commented on #475
Good idea to do that! If you write it in the first post, github even will even show the progress.

Btw. it might be a premature optimization, but is it possible to exec gpg only once and continue to send data over the same socket?

[2016-04-01 09:12] petermax2 commented on #475
Yes, that is possible. Does Elektra provide an interface for Key serialization (keeping binary compatibility in mind, etc.)?

[2016-04-01 09:34] markus2330 commented on #475
I think you do not need it: either you only encrypt values or the whole file.

But to have a binary representation of Keys would be part of the mmap implementation.

[2016-04-01 11:04] petermax2 commented on #475
I checked the man pages. GPG keeps reading from stdin until it receives EOF and then writes a single encrypted message to stdout. Albeit supporting the encryption of multiple files (`--multifile`) there seems to be no option for encrypting several messages (received from stdin) at once.

[2016-04-01 12:56] markus2330 commented on #475
The description of `--multifile` says: "or read from STDIN with each filename on a separate line", so it should do the trick: Try to use `-` as file to read from stdin, then send text (+EOF), then `-` again, and so on..

 Did you also look at `doc/DETAILS` in the src? `--status-fd` and `--command-fd` seem to replace a prior IPC which seems to be important for your endeavour.

[2016-04-01 13:03] markus2330 commented on #475
Btw. I do not know if the fork/exec actually is a performance issue (you should benchmark that first). Having a long running gpg process might also have drawbacks, e.g. I am not sure how fine-granular `--lock-multiple` is: Does gpg really release the lock when it waits for the next filename?

[2016-04-01 21:10] petermax2 commented on #475
`--multifile` and `--symmetric` do not work together (yet?). Version gpg (GnuPG) 2.1.11 does not support it.

[2016-04-04 14:19] markus2330 opened #571 "Move sync to libtools"
Move code of TreeViewModel::synchronize (and its helper methods) to libtools and create test cases for it (with provoked conflicts).

Goal is that we can test synchronization code without having to use the GUI and also for reuse in other apps.

[2016-04-04 22:06] fberlakovich commented on #571
You mentioned a testcase that is similar to the behaviour of ```TreeViewModel::synchronize```. Do you remember which one? As far as I can tell the code in ```TreeViewModel::synchronize``` is equivalent to the ```INPUT_DO_MERGE``` branch in the example code of the ```kdbSet``` documentation.

[2016-04-04 22:40] fberlakovich commented on #535
Cleaning the CMakeCache solved the issue for me.

[2016-04-04 22:40] #535 closed

[2016-04-05 08:06] markus2330 commented on #571
Tests under `tests/kdb` use KDB for access. `gtest/gtest-elektra.h` automatically mounts something for you where you write into. Iirc there is no testcase at the moment which provokes a conflict, but this should really easy to do:
[code]
So you do not need multiple processes nor threads but only two `KDB` instances.

And yes, you are right:  the new synchronize should do what is sketched in the ex

[2016-04-05 15:46] sl1pkn07 opened #573 "fail build glib part"
[code]

glib2 2.48.0
commit: d252581f2465292d1c8a7b1a58297ebd0a806a5d

[2016-04-06 07:09] markus2330 commented on #573
Thank you for reporting!

@manuelm Do you have time to take a look at it?

[2016-04-06 07:11] #541 closed

[2016-04-06 07:18] markus2330 commented on #485
As discussed we need to handle both sides: get-side which produces Elektra (KeySet) and the set-side which writes to the configuration file.

Thus we need two different "tolower" and "toupper" to configure each possibility.

I would suggest:
[code]

Where unchanged is the default. |title| does not need to be implemented now, it is only for the sake of an argument why we should use an `enum` and no

[2016-04-06 07:20] markus2330 commented on #459
Thank you for your work! 3.8 works nicely now and is released.

[2016-04-06 07:20] #459 closed

[2016-04-06 07:44] sanssecours commented on #541
Markus, can you please also update the logo here on GitHub? The current version contains some compression artifacts:

![elektrainitiative](https://cloud.githubusercontent.com/assets/691989/14309237/6783cfae-fbdb-11e5-8caf-77e9db52b23e.png)

[2016-04-06 08:15] markus2330 commented on #541
@sanssecours seems like that my conversion of your svg had no better quality than the previous one. I now used your png you linked above and also added it to doc/images.

[2016-04-06 08:19] markus2330 commented on #378
@tom-wa This should also be resolved when we have a profile plugin that allows defaults for every key within the same namespace.

[2016-04-06 08:20] markus2330 commented on #375
See #485

[2016-04-06 08:26] markus2330 commented on #299
@tom-wa maybe we should have a configurable return value? When someone uses the curl plugin it makes sense that a backend is always out-of-date.

In the long run we should have a non-file resolver where every compilation variant uses different means to check if the source has changed (e.g. check md5 sum of file to download).

[2016-04-06 12:53] #565 closed

[2016-04-06 12:56] markus2330 opened #574 "keyIsBelow leftovers"
for  #565 #569

- [ ] add unit tests (also for keyIsDirectBelow)
- [ ] document behaviour for cascading keys and keys with namespace are compared with keyIsBelow
- [ ] undo workarounds in ini plugins

[2016-04-06 15:55] markus2330 opened #575 "spec: memleak"
Memleak in spec:
[code]

Looking into it, it seems even more severe:
It seems like spec expects *exactly* "get, set, get, set" order of being called. In general this this not true. It is perfectly ok to have only "get"; or "get, set, set".

Tip: For cleanup purposes you can use `close`. See statechart in doc/images/state.png

[2016-04-08 13:16] markus2330 commented on #475
Btw. it is good that you explore the limitations of the tools you are using!

[2016-04-09 08:23] #567 closed

[2016-04-09 08:23] #568 closed

[2016-04-09 17:54] sanssecours opened #581 "Build Fails on OS X"
Since commit edbcc821 I can not build Elektra on my machine any more. It looks like the statement
[code]
in the file [testcpp_contextual_update.cpp](https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/cpp/tests/testcpp_contextual_update.cpp#L34) and [testcpp_contextual_basic.cpp](https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/cpp/tests/testcpp_context

[2016-04-09 18:05] #581 closed

[2016-04-09 18:07] markus2330 commented on #581
The problem was also present under clang in Linux. Seems like clang is less sloppy with .template outside of templates.

In [testcpp_contextual_basic.cpp](https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/cpp/tests/testcpp_contextual_basic.cpp#L527) I think `.template` is needed (because it is a typed test which is implemented as template). Please reopen the issue if it is n

[2016-04-10 15:25] KurtMi opened #583 "Freedesktop page needs some update"
https://www.freedesktop.org/wiki/Software/Elektra/

`Last edited Sat May 18 07:33:26 2013`

[2016-04-10 15:38] markus2330 commented on #583
Yes, I know. The issue is that they have shut down their version control system and none of admins respond. Its a well-known issue and discussed in mailing lists. Sadly, its now even easier to work with sf.net which had similar problems a while ago, but it is now updated: https://sourceforge.net/projects/elektra/?source=directory

I think its best to redirect https://www.freedesktop.org/wiki/Softw

[2016-04-10 21:03] manuelm commented on #573
Builds fine with 2.48.0-2.fc25. Which version of gobject-introspection are you using? Also what does the referenced mean?

[2016-04-10 21:09] sl1pkn07 commented on #573
the reference is the commit which I used to build

gobject-introspection 1.48.0

[2016-04-10 21:11] manuelm commented on #573
Thanks. Will check this out

[2016-04-10 21:42] manuelm commented on #573
Broken since 1.47

[2016-04-10 21:56] manuelm commented on #573
https://bugzilla.gnome.org/show_bug.cgi?id=752047

[2016-04-11 08:24] #573 closed

[2016-04-11 13:55] KurtMi commented on #583
I have no idea. I will close this issue, it is unsolvable.

[2016-04-11 13:55] #583 closed

[2016-04-11 14:11] markus2330 commented on #583
At least as long as we don't know anyone with admin rights of the freedesktop wiki ;)

[2016-04-12 20:11] fberlakovich commented on #571
I implemented a first version of a merging KDB wrapper, but for some reason I cannot provoke a conflict in the tests:

	Key parent(testRoot, KEY_END);

	KDB first;
	KeySet secondReturned;
	first.get(firstReturned, parent);
	firstReturned.append(Key ("system" + testRoot + "key1", KEY_VALUE, "value1", KEY_END));

	KDB second;
	KeySet firstReturned;
	second.get(secondReturned, parent);
	secondReturne

[2016-04-12 20:36] markus2330 commented on #571
Thus the identity of the processes is the same (pid+tid) and not concurrent the conflict can only be detected by the time stamp when the file was modified.

So: Maybe your filesystem has time stamps deactivated? Or your VM makes weird time jumps? Or its granularity of time measurement is to low, try to sleep for some time and set again. Or try to mount it on tmpfs.

For me:
[code]

->

[code]

[2016-04-12 21:02] fberlakovich commented on #571
Thanks for the hint, it works now but I don't really understand why. My code sample uses the same parent key datastructure for both ```kdb.get``` calls whereas your sample uses the keyname overload of ```kdb.get```. As soon as I use the keyname overload, the code behaves as expected.

[2016-04-13 07:30] tom-wa commented on #575
I'll fix that after i get the new global hooks working, because it's somewhat related.

[2016-04-13 08:20] markus2330 commented on #575
Ok.

[2016-04-13 08:34] markus2330 commented on #571
Mmmh, I am not sure what you did, the code as above does not compile (‘firstReturned’ is declared later than used). If it is not about the time resolution of the file (which is a known but unresolvable problem) there might be a bug.

But maybe only one of your ks was empty and thus kdbSet() removed the file and the other kdbSet() created it. This would be expected behaviour, at least how the resol

[2016-04-13 11:42] tom-wa commented on #485
@markus2330
an option to write the new/transformed/whatever keyname from the keyset (the one created by rename applying cut/replace/toupper/tolower) back would be nice too.

so `set/case = lower | upper | newname | unchanged` ?

[2016-04-13 11:51] markus2330 commented on #485
Yes, there are plenty of other ways how to rename. But I am not sure what you are proposing here. Please elaborate or give an example what this new option should do. (But in a new issue please.) I think the lower|upper|unchanged are the most common ones.

[2016-04-13 16:34] tom-wa commented on #550
no idea what to do here. seems like icc is trying to do some memory optimizations which breaks the prefix stack.

[2016-04-13 17:23] markus2330 commented on #550
There are at least two things you can do here:

1) Improve the test case, so that more information is given about what happens
2) Minimalize the code and find out when it stops to break

Its likely that there is some undefined behaviour somewhere hidden and that gcc and clang currently only work by chance. If its really an icc problem only, we can ignore it. Btw. I can also try to upgrade icc, may

[2016-04-14 10:06] fberlakovich commented on #571
Sorry, seems like I mixed up the code while copying. I thought I got it working (i.e. failing), but the conflict does not occur anymore :(.

This test passes (although it should not) no matter how long I wait between each instruction:

	class MergingKDBTest : public ::testing::Test
	{
	protected:
		static const std::string testRoot;
		static const std::string configFile;

		testing::Namespaces nam

[2016-04-14 16:06] markus2330 commented on #571
Thank you, you are right: there seems to be a bug. I pushed a working and a non-working example.

But there is a working example (I already posted it before, now also in `tests/kdb/testkdb_simple.cpp ThrowsExceptionCorrectly`), so you simply continue your tests with the working case.

If even this working case does not work for you, see tipps above how to get it work. (It must be a time stamp issu

[2016-04-14 17:44] sl1pkn07 opened #596 "undefined reference to `elektraSortTopology'"
with using cfd3977 commit:

[code]

[2016-04-14 17:55] #596 closed

[2016-04-14 17:55] markus2330 commented on #596
Should be fixed. If not please tell us compiler,.. so that I can reproduce it.

[2016-04-14 17:56] markus2330 commented on #596
And thank you for reporting it!

[2016-04-14 17:58] sl1pkn07 commented on #596
yep. fixed!

greetings

[2016-04-14 18:02] sl1pkn07 commented on #264
the message now gone (testing with commit c5dd537ba7511230d9514665d24c32d3c9763ef0  and systemd 229)

greetings

[2016-04-14 20:26] #264 closed

[2016-04-14 20:30] fberlakovich commented on #571
It still does not behave completely reliable for me, but I will investigate it further. Most likely it is an issue with my setup now. Sorry for the delay, but without reliable test cases I cannot test the actual merging code reliably. However, if you wish I can push an unfinished pull-request that outlines my idea for encapsulating the merger.

[2016-04-14 20:40] markus2330 commented on #571
Yes, the build server has issues, too. The issue seems to be more severe than I thought initally. (On my computer it only happens with some specific test cases, in others it works reliable) You could use to use the error plugin to trigger an error, but the setup might behave differently.

@tom-wa did you find out something about this issue in your NFS investigations?

[2016-04-17 12:25] markus2330 commented on #280
Hi, I am thinking about something complete end-users (neither Elektra nor Application Developers) might find useful with Elektra 0.8.16 (which hopefully will be a part of Debian stretch release): The hosts plugin+validation seems to be one of the most robust end-users solutions. And it works with `kdb`, `qt-gui`, python interface and so on. So I would suggest to write a tutorial about that.

Not t

[2016-04-17 14:19] markus2330 opened #597 "Metadata in hosts and ini inconsistent"
On the one hand, hosts interprets order as "int", while ini already allows arbitrary strings (which are very useful to put a new entry at any place). libmeta should be used if possible.

On the other hand, hosts already supports new-style comments, while ini still seems to use the old ones. Also libmeta should be used for this feature. (hosts already has some functions to be moved to libmeta)

@fb

[2016-04-17 15:15] markus2330 commented on #575
Seems to be same problem, but now with one line offset:

[code]

When using default mountpoint its quite confusing, then it looks like that dump is the leaker (which is not true, dump correctly assembles the keyset, but it is processed wrongly later):
[code]

[2016-04-17 15:18] markus2330 commented on #575
Btw if someone needs it: workaround is `kdb rm -r system/elektra/globalplugins`

[2016-04-17 15:41] markus2330 commented on #571
It really is a conflict "file not there" vs. "file there", which is not handled and obviously cannot be handled by time stamps. It worked for me earlier, because I already had a config file (and did not had the same kind of conflict you had).

As workaround, you can simply create a configFile, then you get a conflict (see 25f3068c47034bd9e8d51209205443b3fa316e9f).

But you are right: the expected

[2016-04-17 21:02] markus2330 commented on #571
both conflicts "file there" vs. "file not there" should now be handled.

[2016-04-17 22:15] fberlakovich commented on #597
Nothing I am aware of.

[2016-04-18 09:34] markus2330 opened #600 "Allow user to specify which elektra version to use"
Currently, on recompilation automatically the latest version of Elektra is used. This might be undesired:

1. Apps might want to be compatible to a wider range of Elektra versions and be sure that they did not use a function that was introduced later.
2. with symbol versioning, apps want to be linked against older versions (to be binary compatible to older Elektra versions)

Additionally, this pro

[2016-04-18 11:47] markus2330 opened #602 "uintX_T"
Please replace uintX_T with types from kdbtypes.h. (Would be octet_t, is not defined for C yet, though)
[code]

[2016-04-18 15:33] fberlakovich opened #603 "qt-gui fails to synchronize because of readonly plugins"
When trying to synchrinize in the qt-gui (even without changes) it displays the following error message

`Error (#84) occurred!
Description: Read only plugin, kdbSet not supported
Ingroup: kdb
Module:
At: /home/felixl/development/elektra/libelektra/src/libs/elektra/plugin.c:390
Reason: the key system/elektra/version/constants/KDB_VERSION (expected system/elektra/version) was modified to 0.8.15 (ex

[2016-04-18 16:09] markus2330 commented on #603
I can confirm the issue:
[code]

I cannot reproduce it using the kdb tool, setting the same text again works without error:
[code]

@0003088 do you have any idea? Does it also occur on your installation?

[2016-04-18 19:11] KurtMi opened #605 "longlock plugin"
Implement new lock, out of pre state of semlock (see #578).

Btw. I think we found a use case for this kind of plugin: When we do not have or should not (NFS) rely on timestamps this could be useful.

Your strategy would already work if only the `kdb` tool is used, but it would not handle long-living processes that do multiple kdbSet?

So following tasks would be required to make a plugin for NFS-

[2016-04-18 20:16] markus2330 commented on #605
thanks for creating the ticket! Can you do it for 0.8.16? (Let us discuss tomorrow)

[2016-04-19 18:51] 0003088 commented on #603
I can reproduce the bug with qt5.6. I will try to figure out what happens. Any clue as to the time the bug appeared for the first time?

[2016-04-19 19:19] markus2330 opened #606 "support nfs in resolver"
[code]

[2016-04-20 07:01] markus2330 commented on #603
It slipped in during 0.8.14..0.8.15. So 0.8.15 was unfortunately released with this bug. Do you have some idea which commit it could be or do we need git-bisect?

[2016-04-20 07:43] markus2330 opened #607 "semlock: segfault"
http://community.markus-raab.org:8080/job/elektra-gcc47-all/lastFailedBuild/console
[code]

[2016-04-20 07:58] markus2330 commented on #607
Could be related:
[code]

[2016-04-20 10:53] KurtMi commented on #607
I have also got this valgrind output locally, but I thought it is a bug. The segfault is strange. I will look.

[2016-04-20 12:39] markus2330 commented on #607
Please always fix valgrind problems, either by assigning it differently or if this is not possible by suppressions.

[2016-04-20 14:33] markus2330 commented on #606
Strange, actually the resolver only compares stat with stat timestamps, they should always have correct nfs time (and not care about local time).

Is it possible that a conflict actually happened or is there only one process executing the `kdb set`?

[2016-04-20 15:31] tom-wa commented on #606
there is only one process executing `kdb set` and the problem only occured when there was a networking issue.
i'll do some more debugging on friday.

[2016-04-20 15:43] markus2330 commented on #606
Ok, thank you.

[2016-04-20 18:56] markus2330 opened #608 "shell plugin memleak"
[code]

[2016-04-20 18:57] markus2330 commented on #608
seems to be a non-fix (valgrind problem)

[2016-04-20 19:10] #608 closed

[2016-04-20 19:55] 0003088 commented on #603
No idea, really. It's a strange error, could it have something to do with encoding or something? The string from the gui is initially a  QString and the error occurs in a c file, maybe something went wrong on the way.

[2016-04-21 09:54] fberlakovich commented on #603
I did a git bisect and it seems like the issue was introduced in 3d073e75c4b67f4f2bec922a581bd94458b44dfb.

[2016-04-21 11:31] markus2330 commented on #603
@fberlakovich Thank you,

[code]

fixes the problem. @0003088 What was the purpose of adding these lines? Is this a correct fix or does it introduce other problems?

@0003088 can you create a PR for this release? (e.g. fixing some problems including this one?)

[2016-04-21 19:53] 0003088 commented on #603
As far as I remember the purpose of these lines was to update the gui nodes when a user changed a key with the kdb tool, the change would only show up on the next gui restart and not on sync. May I ask what happens if a key is overwritten by a (identical) duplicate of itself? Is the key then regarded as changed?