[2019-11-06 09:56] raphi011 commented on #3158
I successfully reproduced this issue [here](https://github.com/raphi011/libelektra/tree/memoryleak). Run the `benchmarks/memoryleak.c` benchmark and watch the memory go up while getting keysets - and **NOT** go down when freeing.

[2019-11-06 11:45] mpranj commented on #3158
Thank you for creating the example! I'll take a look.

At first glance, there is exactly one direct leak, you need to free the parentKey:
https://github.com/raphi011/libelektra/blob/afcbcf5c8138be8de6ba9b1a9e559bc673ff887f/benchmarks/memoryleak.c#L22

This small leak is probably not the reason for your observations.

As a side note: using the mmap cache, I notice even **LESS** memory consumption t

[2019-11-06 11:56] raphi011 commented on #3158
This is a simplified simulation of the new `elektrad` server. Since we want to support multiple users configuring the system at the same time we NEED to support multiple handles (conflict handling etc).

I still think this is not the root of the problem. The problem is that Keys / KeySets are not freed. If you change the parent key to `"system"` which has a lot less keys you will see that memory c

[2019-11-06 12:22] raphi011 commented on #3158
@markus2330 what do you think?

[2019-11-06 12:30] mpranj commented on #3158
I don't think that we are leaking memory there. Let's reduce it to a smaller example, **without** elektra:
https://gist.github.com/mpranj/bbdf00af308ed3f5b3f0f35bc832756f

I can observe the same thing you are describing with HTOP and the memory usage using the code from the gist above. I don't know, maybe the OS is not pre-emptively cleaning it up, but I think we're basically doing everything we c

[2019-11-06 12:49] raphi011 commented on #3158
So you're telling me it's absolutely normal that elektra's memory consumption never shrinks?

[2019-11-06 12:55] mpranj commented on #3158
I'm not saying that. I'm saying I observed the same regardless of elektra. I just noticed that my observation is only true when running with valgrind, so maybe valgrind is not free()ing until the end for other reasons.

[2019-11-06 12:56] raphi011 commented on #3158
https://stackoverflow.com/questions/40917024/memory-leak-after-using-calloc-and-free

Seems like it's because you're changing the pointer before freeing it

[2019-11-06 12:59] mpranj commented on #3158
I am not doing that and valgrind shows no leak for the code in the gist. But forget the example, it is irrelevant as it only does not free immediately when run inside valgrind, otherwise the memory is free()d pretty much immediately.

[2019-11-06 13:09] mpranj commented on #3158
What's more relevant: I observed what you're reporting by simply using `benchmark_createkeys` which does not use the KDB at all. There the resources are also not free()d immediately, but valgrind shows absolutely 0 leaks. I'm baffled.

[2019-11-06 13:19] markus2330 commented on #3159
Ok, sounds like a good idea then. How can I get go 1.13 in Debian Buster (and also for our Docker images)?

[2019-11-06 13:23] markus2330 commented on #3158
With KeySets alone there should definitely no leak whatsoever. (With KDB we cannot fully control everything as plugins might load other libraries that leak.)

@raphi011 can you create a PR or point me to the minimal example reproducing the problem?

[2019-11-06 13:24] markus2330 commented on #3167
Thank you for creating the reminder!

[2019-11-06 13:34] raphi011 commented on #3158
https://github.com/raphi011/libelektra/tree/memoryleak here you go. I've extended my previous example by printing how many keys were NOT freed by `ksDel` because of key references `> 0`.

If you run the benchmark *without* valgrind you can see that the keys are not freed.

[2019-11-06 13:35] raphi011 commented on #3159
here's a handy guide: https://tecadmin.net/install-go-on-debian/

[2019-11-06 14:04] manuelm commented on #3162
If you want to drop va_args for glib, I expect you also drop va_args for libelektra itself. Then the bindings don't have to mimic and workaround the argument passing anymore.

I've created a PR which drops kdbprivate. Feel free to merge it or close it.

[2019-11-06 14:30] Mistreated commented on #3139
Status update:

- all plugins installed
- pipeline recognized
- some PRs go through, the following one is not:

Currently Im having this error:

`Checking pull request #809
ERROR: [Wed Nov 06 14:19:08 UTC 2019] Could not fetch branches from source blueocean
java.lang.NullPointerException
	at org.jenkinsci.plugins.github_branch_source.PullRequestSCMHead.<init>(PullRequestSCMHead.java:95)
	at org.je

[2019-11-06 16:22] petermax2 commented on #2439
Please re-assign me if neccessary.

[2019-11-06 18:14] markus2330 commented on #3139
Thank you for the status report!

According the system log the credentials for hooks are missing. I gave elektrabot more rights.

[2019-11-07 03:32] markus2330 opened #3170 "cpp: locking of value/meta-data does not give exceptions"
As reported by @manuelm:

`k = kdb.Key("user/foo", {"meta":"some"}); k.lockMeta(); k.getMeta("meta").value="changed"; print(k.getMeta("meta").value)` => `some`

`k = kdb.Key("user/foo", "value"); k.lockValue(); k.value="changed"; print(k.value)` => `value`

As it is only an internal API and is currently not needed, I made it low priority.

[2019-11-07 03:37] markus2330 commented on #3151
Seems like keyLock is not ready for prime, only name locking is implemented: #3170. So better to not make it public for 1.0.

[2019-11-07 03:39] markus2330 commented on #3162
Unfortunately, this change is too big.

Some bindings found quite elegant solutions for that. But of course, the va_args do not help the bindings but are rather a source for trouble.

[2019-11-07 03:46] markus2330 commented on #2991
@raphi011 made benchmarks showing that external and internal iterators have about the same speed.

So it should be a safe choice to not provide the internal iterators for 1.0 and only the external instead.

I made this issue a documentation task to make all docu about internal iterators internal.

[2019-11-07 04:08] markus2330 commented on #3158
I cannot compile this repo, I get the error:

[code]

Can you rebase to the main master please?

And please make a PR, it is much easier to see the changes, then.

[2019-11-07 04:16] markus2330 commented on #3158
Can you copy the output of a run here?

[2019-11-07 04:17] markus2330 commented on #3158
I think we should first follow this trace, as it is much easier to understand if we only have KeySets.

Maybe we added a wrong suppression to valgrind?

[2019-11-07 04:18] markus2330 commented on #3158
These are certainly great news.

[2019-11-07 05:19] markus2330 opened #3171 "[CM P0] implement external iterators"
As written in  #2991 we want to switch to external iterators. Which bindings do still make use of the internal iterators (ksNext and friends?). They should be removed/deprecated and an external iterator provided instead.

- [x] #4281
- [x] Java (remove internal)
- [X] Rust
- [X] Go
- [X] GLIB
- [ ] #4280
- [x] #4279

---

The functions that will be removed are:

[code]

[2019-11-07 05:57] raphi011 commented on #3158
Here you go: https://github.com/ElektraInitiative/libelektra/pull/3172

[2019-11-07 08:06] manuelm commented on #3171
Both python and lua are using the CPP iterators. So if you remove them you are also removing them from python+lua.

[2019-11-07 08:57] Piankero commented on #3171
The java implementation already uses an [external iterator](https://github.com/ElektraInitiative/libelektra/blob/38fc1a4046449d36b6007f70ede8395b4fac36c8/src/bindings/jna/libelektra4j/src/main/java/org/libelektra/KeySetIterator.java#L9)

Once ksNext() is removed, [this](https://github.com/ElektraInitiative/libelektra/blob/c4c31f047428a77c60d68cbcff52dbd2d7fa1c68/src/bindings/jna/libelektra4j/src/m

[2019-11-07 09:21] mpranj commented on #3158
Valgrind reported using no suppression when I ran the tests, but your mileage my vary.

I think I found the problem during my benchmarks. For me the problem is the eager allocation of the meta KeySet for each key. After a dirty test on my branch, removing the eager meta KeySet allocation the memory consumption quickly goes down after ksDel(). Maybe this is fixed by #3142 as it changes the code I'm

[2019-11-07 11:54] kodebach commented on #3170
The behaviour described above is exactly what I expect from the locking mechanism. The values aren't changed. Is the description the current state or the expected state? The description says "as reported" so I assume it is the current state, but in that case what is the problem here?

[2019-11-07 12:04] manuelm commented on #3170
Seems @markus2330 didn't quite understand what I was trying to say. He also omitted my sarcastic question: `Elektra/CPP has support for invisible errors?`

What I'm trying do say is that the CPP bindings don't throw exceptions (apart from the name lock).

[2019-11-07 12:21] PhilippGackstatter commented on #3045
Just to document this, I updated the tests in #3165, but the build failed.
The test succeeds on my machine locally, but did not in [building pr 3165](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3165/4/pipeline).

[code]

The responsible lines are

https://github.com/ElektraInitiative/libelektra/blob/37c5027758cef3d8bb8295a7bbc268459ad7bba8/src/bindings/rust

[2019-11-07 12:50] mpranj commented on #3045
Maybe there is no key in the backend of the used parentKey, then it also returns 0 as there is no change to the keyset.

[2019-11-07 12:53] manuelm commented on #3171
@Piankero I assume `ksRewind`, `ksNext`, `ksCurrent`

@markus2330 You should add Ruby. It's actually wrapping all three and also using them in the ruby iterator implementation

[2019-11-07 12:54] dorvan commented on #1521
@markus2330 we still interested in c# because it's most used, and requires less packages to be supported in .net envs.
news: we are working NOW, on antd re-asset, so we are looking for bindings or on the possibility to use elektra in selfhosted and standalone mode. including in application side, without installation.
We are also considering to use Kv db internally and map it with elektra.
we want

[2019-11-07 13:05] PhilippGackstatter commented on #3045
Yes, you're totally right. I made a wrong assumption about that call. Since it's the first one and the kdb is empty, false may be returned. Thanks!

[2019-11-07 16:14] Piankero commented on #2767
@markus2330 did you remove a considerable amount of plugins?

Rerunning my script now shows the following statistics:

            RESOURCE: 128
       OUT_OF_MEMORY: 5
        INSTALLATION: 41
            INTERNAL: 34
           INTERFACE: 9
  PLUGIN_MISBEHAVIOR: 24
   CONFLICTING_STATE: 6
VALIDATION_SYNTACTIC: 93
 VALIDATION_SEMANTIC: 77

Sum: 417

[2019-11-07 17:18] markus2330 commented on #3170
Sorry, for the confusion, I updated the title. I only copied it from an discussion that we do not forget about it.

@manuelm can you take the issue, afaik you already have it fixed anyway?

[2019-11-07 17:21] markus2330 commented on #3171
Thank you for the hint, I added Ruby (@BernhardDenner).

@Piankero can you fix Java, it should be quite easy for you to write an iterator?

[2019-11-07 17:30] Piankero commented on #3171
There is already an external iterator written as I have written in the upper comment.

[2019-11-07 18:34] markus2330 commented on #160
v2 was again out of space, I cleaned up: /dev/sda3         417G  315G  102G  76% /

@Mistreated https://build.libelektra.org/jenkins/computer/hetzner-jenkins1/log does not start up

[2019-11-07 18:36] mpranj commented on #160
I think the build system is currently completely stuck, PRs are not being built.

[2019-11-07 18:47] markus2330 commented on #160
Thank you for reporting, I will restart Jenkins and cleanup some files as the disc is full.

[2019-11-07 19:07] Mistreated commented on #160
I assume everything is fine now with hetnzer-jenkins1?

[2019-11-07 19:07] mpranj commented on #160
Thank you so much! Seems like Jenkins is still not reacting to builds. v2 and i7 now both fail with: `java.io.IOException: Could not copy slave.jar into '/home/jenkins' on slave`.

[2019-11-07 19:10] Mistreated commented on #3139
Hooks should be fine now.

Is there a possibility to close the #809 PR?
Maybe temporary?

[2019-11-07 19:10] markus2330 commented on #160
Jenkins is up again, please restart the jobs.

fixed (was also out of space)

@Mistreated please fix the jenkins-daily as this makes the cleanup tasks we now always need to do manually!

[2019-11-07 19:14] markus2330 commented on #3139
done

[2019-11-07 19:16] markus2330 commented on #160
@Mistreated "jenkins build libelektra please" still is broken, is this related to the changes of the webhooks?

Maybe try today to change to the new Jenkins but if you are not able to do it, please make the old instance work again!

[2019-11-07 19:19] markus2330 commented on #3045
Good that you found out.

What about closing this issue and opening another one if a Rust test case fails again?

[2019-11-07 21:15] Mistreated commented on #3139
Same thing happens with #769.

java.lang.NullPointerException

Could it be that these PRs are outdated?
@markus2330 Closing last 2 PRs: #769 and #323 would be of use if they are not so important.

[2019-11-07 21:46] PhilippGackstatter commented on #3045
This was an error I introduced in this PR and I thought it was related to this issue. But it's actually unrelated, so unfortunately this issue is not fixed.

[2019-11-07 22:28] manuelm commented on #3170
erm no. Nothing got fixed on my side.

I can try to add exceptions to all key modifying functions. But I won't add tests to cpp nor update any failing plugins or tools. Regardless of the exceptions the python bindings still need a way to check if the name has been locked.

[2019-11-08 02:22] markus2330 commented on #160
I triggered a repository scan, now the "jenkins build libelektra please" seem to work again.

[2019-11-08 02:25] markus2330 commented on #3139
What happens?

Yes, they are. Good that you closed them.

#323 might still be relevant, though. But it is possible to reopen, so it should not be a big deal.

Good hint, the rescan also helped on the old buildserver to function again. I hope this rescan of the old server did not make troubles on the new server?

Please write me always and immediately by email about all credentials you (might) need

[2019-11-08 02:36] markus2330 commented on #3170
Thank you, that would be amazing. It would be more consistent as the setters for names already throw.

Adding tests should not be necessary, as you only add one if per function.

But getting everything working again would be needed, hopefully it will be enough to simply remove some failing tests: Usually error paths are untested anyway, so maybe the changes will be very little.

[2019-11-08 02:39] markus2330 opened #3178 "keyLock: add possibility to ask about lock status"
In #3170 @manuelm wrote:

What about allowing passing KEY_NAME, KEY_VALUE and KEY_META to keyLock? In this case, keyLock will not lock but simply return the status if it is locked or not.

[2019-11-08 03:07] markus2330 commented on #3158
Ok, then let us see if #3142 fixes the problem!

@raphi011 did the problem also occur before #3081?

[2019-11-08 03:17] markus2330 commented on #1521
That would be amazing. Maybe you are then in the best position to write the binding as you know best about the requirements of your data structures?

This sounds very voluminous. Elektra currently has support for puppet and chef; Ansible is currently in the process of being vastly improved. Hopefully we are able to get this module upstream.

Also this is wide. Elektra is currently focusing on appl

[2019-11-08 07:24] markus2330 commented on #3158
#3142 is now merged. @raphi011 can you check if the problem still occurs?

[2019-11-08 08:43] raphi011 commented on #3158
Unfortunately yes

[2019-11-08 08:48] Piankero commented on #3171
@manuelm @markus2330 Are you sure about the ksRewind? If I remove [this](https://github.com/ElektraInitiative/libelektra/blob/9c33d843cf3074b4c5825ccb94d7bc77466a9499/src/bindings/jna/libelektra4j/src/main/java/org/libelektra/plugin/NativePlugin.java#L88) line I receive test failures in the integration tests of jna.

[2019-11-08 08:52] Piankero commented on #160
Looks like the disk is full for `v2-debian-buster`

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2976/2/pipeline

[2019-11-08 08:53] mpranj commented on #3158
For me it seems to at least solve/mitigate **some** problem. I can now run the benchmark with millions of keys using ~2GB memory, whereas it crashed before because of using >20GB memory for the same benchmark.

[2019-11-08 08:55] mpranj commented on #160
Unfortunately. I marked `v2` as offline until it is resolved.

[2019-11-08 09:08] raphi011 commented on #3158
I haven't compared it to the previous version yet, but I'm pretty sure that it uses less memory than before. Will check today!

Memory is still not freed though.

[2019-11-08 09:13] markus2330 commented on #160
Thank you for reporting!

@mpranj I gave you access, can you try to cleanup please?

[2019-11-08 09:14] markus2330 commented on #3171
Yes, the tests also need update.

[2019-11-08 09:16] markus2330 commented on #3178
@manuelm can you find out how much overhead is produced by adding (public) symbols?

[2019-11-08 09:20] Piankero commented on #3171
I already have updated some test cases but the set/get methods seem to need a rewinded keyset. what should I do if I cannot rewind it anymore?

[2019-11-08 09:23] manuelm commented on #3178
What exactly do you mean with overhead?

[2019-11-08 11:54] Mistreated commented on #3139
This:

java.lang.NullPointerException

#323 isnt closed. There was no null pointer there.

I wrote an email.

[2019-11-08 12:15] manuelm commented on #3178
Do you mean running with `LD_DEBUG=statistics`? Are we optimizing cpu cycles now? Symbols get lazy loaded. There's no performance overhead unless the function is actually used. And even then its just *one* additional lookup.

Consequentially these tests do not show anything: LD_DEBUG=statistics ./bin/test_key
[code]

[2019-11-08 12:55] mpranj commented on #160
Thank you! It seems to me that there is an abundance of resources wasted by docker old images lying around. Additionally it seems that btrfs + docker are buggy. Docker creates btrfs subvolumes for each container and does not clean it up propery afterwards. The `docker system prune -f` command does not free up the space either.

I took `v2` and `a7` down for maintenance to free the resources and ba

[2019-11-08 13:38] Mistreated commented on #160
Build cant pull docker images. Something going on with docker hub?

[2019-11-08 13:39] mpranj commented on #160
Yes, sorry, with `a7` I also took down the docker hub. I will post a message here when it's up again.

[2019-11-08 14:15] mpranj commented on #160
`a7` including docker hub is up again. I left `v2` offline because it can not login to the hub to pull images?!? I don't know what's wrong there, I did not change any credentials or so and the other nodes can login. Any ideas?

Btrfs is still balancing in the background, `a7` may be slower for another hour or so.

[2019-11-08 18:27] markus2330 commented on #3178
The size of the binary. E.g. by making keyVInit static, how much is saved by this?

[2019-11-08 18:59] markus2330 commented on #3139
@ingwinlu can you help us out with the docker-hub-elektra-jenkins credentials?

@Mistreated is something else missing besides the docker-hub-elektra-jenkins credentials?

[2019-11-08 19:01] markus2330 commented on #160
@mpranj thank you for fixing this! Which commands were needed for btrfs re-balancing?

Unfortunately, I do not know the credentials, I hope @ingwinlu can help us out.

[2019-11-08 19:05] markus2330 commented on #3171
Thank you this is really a good point. I am afraid we need to fix all plugins that use the internal cursor to properly rewind before using the iterator.

We also need some docu (in the release notes) how to use the external iterator and how to migrate away from the internal iterator:

1. we only use external iterator from now on.
2. after 1.0 release we slowly start replacing usage of internal ite

[2019-11-08 19:32] manuelm commented on #3178
For which century are you optimizing?

[2019-11-08 19:42] markus2330 commented on #3178
It is still a big topic for embedded systems, e.g. see endless discussions in #2772

And keyLock is basically for binding-writers only, so usability is not so important.

[2019-11-08 19:50] markus2330 commented on #2967
Two more tests that happen:

[code]

[code]

[2019-11-08 19:53] manuelm commented on #3178
My first version was bindings only. However you didn't like the approach of including kdbprivat. As they say: sometimes you can't have your cake and eat it.

[2019-11-08 19:57] mpranj commented on #160
The commands I used to re-balance were:

Fix a maybe-bug with btrfs:
[code]

Re-balance the fs really, this takes a long long time. The usage parameter can/should be tuned, this is what worked today:
[code]

The credentials can be changed easily, but we'd have to log in all jenkins agents which connect to the docker hub again with the new credentials.

[2019-11-08 19:59] mpranj commented on #160
The bigger problem was that some docker containers were still running and docker system prune didn't do much. Therefore I took the agents down and freed everything up while it was down. There were **TONS** of containers just lying around.

[2019-11-08 20:00] markus2330 commented on #160
Yes, unfortunately the containers are quickly recreated. I hope @Mistreated can fix the libelektra-daily job soon (it executes `docker system prune`).

[2019-11-08 20:04] markus2330 commented on #3178
It is very possible that the binary size does not increase with more symbols so much. I am interested in how it is, not what we think what it might be.

The "most beautiful" API would be keyLockName, keyIsNameLocked. But then we would get 6 more symbols just for locking. Maybe it is irrelevant, maybe not.

It fits very good in your thesis, as you now did an optimization which reduced the library b

[2019-11-08 20:08] mpranj commented on #160
I also did some quite involved digital forensics and stole the hub credentials. :laughing:

`v2` is up and running again.

[2019-11-08 20:14] markus2330 commented on #160
Thank you so much! :100:  Please send us the credentials.

[2019-11-08 20:50] mpranj commented on #160
Sent. Btw I think `a7` is probably slow only because of poor disk speeds, but it's good that it has enough space for the docker hub. Seems like much of the time the CPU is doing nothing there.

Another thought: maybe we can do the critical cleanup jobs additionally per cronjob to avoid situations like we had now.

[2019-11-08 21:43] mpranj opened #3181 "Plugin docu: link checker fail"
Commit 2ce0dbbd905f36eb2af7eb792453bde2416b51bd removed a linked file.

[code]

@Piankero I was not sure if the docu in `doc/tutorials/plugins.md:368` maybe needs a general update after your PR was merged?

[2019-11-08 21:56] Mistreated commented on #160
@mpranj I think I was in this group of "us". I wasnt in some CC or something like that?

[2019-11-08 22:23] mpranj commented on #160
@Mistreated sorry, I sent it to markus and didn't have your email. On `a7` you will find `CREDENTIALS.txt`  in your homedir.

[2019-11-08 22:29] Mistreated commented on #160
I need hetzner-jenkins1 Node to test the new jenkins-server. Im gonna turn it off on the old server until tomorow morning.

[2019-11-08 23:22] manuelm commented on #3178
Dynamic symbols are located in `.dynsym` and `.dynstr`. The first contains the symbol name (string). The latter contains is of type `Elf64_Sym` (or `Elf32_Sym`). Since ELF sections are padded by 4096 bytes adding or removing a single symbol won't affect the object size. Furthermore the filesystems is allocating in blocks which might increase the filesize furthermore.

`sizeof(Elf64_Sym)` is 24. `s

[2019-11-09 01:09] manuelm commented on #3158
You need to call `malloc_trim(0)` after every `free` (or `ksDel`). Otherwise memory won't get returned to the OS. This should fix the "weird behavior" you guys are seeing. Oh and have fun reading and digging into glibc :-)

[2019-11-09 04:09] #3059 closed

[2019-11-09 04:16] markus2330 commented on #3181
Thank you for reporting the problem, seems like @Piankero forgot to update this part.

I removed the sentence to make master build again in cac326cb6292f216ea05b1f8bb8dd0cba6b24bd3 but the text needs to be adapted to the new errors.

[2019-11-09 04:17] markus2330 commented on #160
You can easily create a second hetzner-jenkins2 for tests. If it is only for this night, it should be okay though.

[2019-11-09 04:43] markus2330 commented on #3178
Thank you for looking up the docu. I am be interested if adding these 2 symbols actually hit the padding, i.e., what is the output of `ls` before and after.

This we can ignore here.

[2019-11-09 05:23] markus2330 commented on #160
libelektra-daily does this cleanup jobs but it fails now: #3160. If you have ideas to improve this job, please tell us.

Yes, sorry I forgot to tell mpranj that "us" refers to you.

[2019-11-09 06:50] markus2330 commented on #3158
I created #3183 for further testing/fixing.

I found one memleak (in a kdbGet return keys were not freed).

But the increasing number of "ksClose did NOT free 532 keys" is probably only the warnings collected in the parentKey. If you make NUM_RUNS higher, e.g. 100, it stagnates at some point, as the number of warnings is limited to 100. For me it goes to max. "ksClose did NOT free 901 keys". Havin

[2019-11-09 12:22] Mistreated commented on #3139
Status update:

Build fails on `todo`

Probalby some plugin error.

[2019-11-09 12:23] Mistreated commented on #160
I hope that its ok that I keep `hetzner-jenkins1` for a little while, all builds are good now I think i can make the server fully running tonight.

[2019-11-09 16:35] mpranj commented on #160
`v2` is unreachable, I contacted the admin.

[2019-11-09 18:24] markus2330 commented on #160
This would be great!

Thank you but I am afraid he will not respond before Monday.

[2019-11-09 18:25] markus2330 commented on #3139
Yes.

Which plugin was it?

So the status now is that copying the artifacts fails?

[2019-11-09 22:58] ulrikeschaefer opened #3185 "problem importing kdb from python"
I am trying to do 'import kdb' from within a python skript.

I followed this guide for building,
https://www.libelektra.org/docgettingstarted/compiling
and I've included all plugins.
The installation I've done as described in the doc for installation for OS Independent.

I have a ubuntu 18.04.3, kdb 0.9.0 and python 3.6.8.

Do I have to install something additionally to get this working?

[2019-11-10 09:11] markus2330 opened #3186 "rename binding swig_python to python"
Currently, `cmake` (without setting PLUGINS or BINDINGS) outputs:

[code]

It does not write anything about the python binding. (info about swig_ruby is also wrong).

To include the python binding, currently it is needed to call (see also #3185 for the confusion):

[code]

I propose following changes:

- [x] rename the swig_python and swig_lua bindings to simply python and lua
- [x] remove the pyt

[2019-11-10 09:19] markus2330 commented on #3185
Thank you for reporting this problem! Seems like we are lacking documentation somewhere and/or the usability of our cmake variables is not good.

Maybe you need to set PYTHONPATH for where you installed Elektra? You need something like `/usr/local/lib/python3/dist-packages`  (if you did not modify CMAKE_INSTALL_PREFIX).

Or the cmake call was wrong? You need something like `-DSWIG_EXECUTABLE=/usr/

[2019-11-10 09:25] markus2330 opened #3187 "print error if python3 module is imported in python2"
A low-priority usability issue but maybe it is easy to fix.

If I run `python` with an PYTHONPATH to the python3 kdb module and type `import kdb` I get:

[code]

I would expect an output like:

[code]

(X replaced with our minimum version we support, please support at least 3.6)

[2019-11-10 11:31] ulrikeschaefer commented on #3185
Setting the pythonpath solved the issue for me. Thank you!

[2019-11-10 11:34] markus2330 commented on #3185
Which PYTHONPATH worked for you? This should be added to the docu of the binding (in src/bindings/swig/python/README.md)

[2019-11-10 11:37] ulrikeschaefer commented on #3185
I used the one you had in your answer.
PYTHONPATH=/usr/local/lib/python3/dist-packages python3

[2019-11-10 12:46] manuelm commented on #3187
The SyntaxError is thrown during compile time. No single statement of the module has been executed at this time. So that's not possible. You can catch SyntaxErrors in the code that it is importing the module though.

[2019-11-10 12:46] #3187 closed

[2019-11-10 12:46] manuelm commented on #3186
Sure. Go ahead.

[2019-11-10 12:47] markus2330 commented on #2967
Yet another error in https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/12/pipeline/

[code]

I am afraid https://wiki.jenkins.io/display/JENKINS/Naginator+Plugin is the only bigger step forwards.

Unfortunately, it will not fix the problems for Travis or Cirrus.

[2019-11-10 12:51] markus2330 commented on #3178
To give you a bit more background info: I am totally for having keyIsLocked and keyLock as separate functions, the question for me is if it should be in libelektra-ease or libelektra-core.

[2019-11-10 14:04] manuelm commented on #3178
I'll add keyLock+keyIsLocked to the cpp bindings, therefore adding the symbols to `libelektra-ease` will make all users of the cpp binding require to link against `ease` as well. Not sure you want that.

This is bikeshedding at it's best. The actual file size will depend so much on the compiler, its flags and the overall system you are running that two symbols or even 50 more symbols won't matter.

[2019-11-10 14:20] manuelm commented on #3185
`/usr/local/...` usually isn't part of pythons default search path. See `python3 -c 'import sys; print(sys.path)'`.

So either make sure to compile with `CMAKE_INSTALL_PREFIX=/usr` or tell cmake your correct python site package with e.g. `PYTHON_SITE_PACKAGES=/usr/lib64/python3.8/site-packages`

Ofc. you can always extend pythons default search path at runtime.

[2019-11-10 15:38] markus2330 commented on #3187
Thank you for the quick answer!

[2019-11-10 16:23] markus2330 commented on #3178
No, I do not want that but the cpp binding could also use the low-level interface. But tools and applications written in C could use elektra-ease.

If the discussion would be only about adding one or two symbols, of course. The discussion is, however, about the API. And the API is the essence of Elektra and is nearly impossible to change afterwards.

One of Elektra's main goal was to be very small

[2019-11-10 16:37] manuelm commented on #3178
It's *not* 1k per symbol. How said that? It's 24 bytes + strlen(symbol_name) per symbol. Assigned in 1k blocks. e.g one block can hold 50 symbols with every symbol still having a length of 9 bytes. And that's just one ridiculous 1k.

Yes, you should do really change that.

[2019-11-10 16:42] manuelm commented on #3178
So it's allowed for cpp to include kdprivat but not for the swig bindings? The cpp bindings are headers only whereas the swig bindings are binary. This means you need to ship kdbprivat. Don't think this is a good idea in general.

[2019-11-10 17:24] markus2330 commented on #3178
Nobody, it was just an example of what would not be acceptable.

Of course not. That is why I asked you to measure it. And of course different implementations yield different results.

No, of course it is also not allowed for the cpp binding, and also not for libelektra-ease. With low-level interface I was referring to keyLock with the 3rd parameter for testing (or 6 different enum values, as I wo

[2019-11-10 17:32] manuelm commented on #3178
No. It's still bikeshedding. I am not gonna "measure" how much the file size changes as I do think it shouldn't affect this decision and it's result is way to much depending on the platform and your tools. I told you how it's implemented. Thats way more accurat than your measurements. Ofc. you can do whatever you want.

[2019-11-10 19:25] markus2330 commented on #3178
What is not? If type names end with _t? If we require C99? If we return a pointer to our data structure or copy the content instead? If we use vaargs?

At the moment libelektra-core only contains symbols that cannot be implemented outside the core. For me it sounds like a quite good criteria. In  #3179 this rule is broken. I asked for a measurement of the impact of changing this rule (and allow tr

[2019-11-10 19:34] manuelm commented on #3178
I dont want to argue any more. I'll ignore any requests related to binary size.

Are you fine with `keyLockEx(key, options, test)` + 2 defines? Its not that hackish as your initial idea. Or we simply call it keyLock with 3 arguments. Both will only add one single symbol. The code is already part of core anyway.

[2019-11-11 05:37] raphi011 commented on #3158
closed by #3183

[2019-11-11 05:37] #3158 closed

[2019-11-11 05:40] #2959 closed

[2019-11-11 05:40] #2928 closed

[2019-11-11 07:17] markus2330 commented on #3178
I made the test myself, it is 73040 vs. 73032 bytes on amd64 after `strip`. So it really does not matter and the difference is much less than we anticipated. (317592-316920=672 bytes on unstripped).

So we can go with keyLock and keyIsLock.

Two more request for #3179:
- please move the implementation away from  src/libs/proposal/proposal.c as we want to get rid of this file (strictly speaking key

[2019-11-11 07:56] markus2330 opened #3189 "remove cursor API"
I propose:

- [ ] ksGetCursor/ksSetCursor to be removed (due to #3171)
- [ ] `Key *ksAtCursor(KeySet *ks, cursor_t cursor);` to be changed to `Key *ksAt(KeySet *ks, ssize_t index);`
- [ ] `Key * elektraKsPopAtCursor (KeySet * ks, cursor_t pos)` to be changed to `Key * ksPop (KeySet *ks, ssize_t index);` (and to remove current `ksPop`, as it is simply `ksPop(ks, -1)`).
- [ ] `ssize_t ksIndex (KeySe

[2019-11-11 08:46] markus2330 commented on #2993
There are also ./src/libs/elektra/proposal.c and ./src/libs/proposal/proposal.c which should be removed together with the header file.

Thanks to you they are already nearly empty. I added the last leftovers in the top post:

- [ ] keySetStringF: can be moved to hosts, as nobody else uses it yet
- [ ] elektraKeyGetMetaKeySet: to be removed (obsolete by keyMeta)
- [ ] elektraKeyLock: to be renamed

[2019-11-11 10:00] markus2330 commented on #3171
ksGet/SetCursor is also a friend of ksNext, I opened #3189 for that.

[2019-11-11 10:53] markus2330 commented on #3186
Removing python2 support was your suggestion. Will you do at that part? The other things should be very minor.

[2019-11-11 11:03] markus2330 commented on #3072
Can you reference to the commits/PRs where this happened? Ideally, you write "see/close #3072" within the commits, then the referencing happens automatically.

[2019-11-11 12:23] markus2330 commented on #3120
Any progress here? I got the same segfault again.

[code]

[2019-11-11 12:30] Piankero commented on #3120
I will add it higher in my priority

[2019-11-11 12:35] markus2330 commented on #2924
@Mistreated any progress here? Only the publishing of the packages in different repos should be missing.

[2019-11-11 12:40] raphi011 commented on #3072
Good question, I can remember changing the documentation but can't find the commit anymore. Will take another look tonight

[2019-11-11 13:05] manuelm commented on #3178
Do you mean `src/libs/elektra/proposal.c`?

[2019-11-11 13:42] markus2330 commented on #3178
Yes, sorry for the confusion, elektraKeyLock is in src/libs/elektra/proposal.c

src/libs/proposal/proposal.c should be also removed but this is a different issue #2993

[2019-11-11 16:48] Mistreated commented on #3139
Pipeline Utility Steps

Jenkins publishes on 2 server, `a7` and `doc.libelektra.org`. I configured it just on `a7`.
`doc.libelektra.org` needs to be migrated first

[2019-11-11 16:55] markus2330 commented on #3139
Maybe we can publish everything on doc.libelektra.org? It would be good if we reduce what is running on a7 as it would make the setup easier. (maybe except of the docker registry, for performance reasons)

As I see it, the Debian packages are the only thing to be published on a7, which does not work satisfactory anyway as it does not support multiple repositories, but we need this now: Debian and

[2019-11-11 18:52] #2795 closed

[2019-11-12 07:25] Chemin1 opened #3193 "Cirrus: Installing ronn fails"
Since merging master into #3106 I get the following error ([full log](https://cirrus-ci.com/task/6466882336456704)):

[code]

I restarted all the Cirrus build jobs twice but this didn't help. Labelled urgent, as #3179,  #2969 and #3192 for example get [similar errors](https://cirrus-ci.com/task/5902035483885568).

@sanssecours Maybe related to 81e2d9d846f4fd09cb2bf65e356c2af058c64971?

[2019-11-12 08:25] Piankero opened #3195 "Remove `kdb vset`"
kdb vset should be removed as it does not properly put meta-data to spec

[2019-11-12 08:27] markus2330 commented on #3195
Thank you for reporting this problem!

[2019-11-12 10:16] sanssecours commented on #3193
I do not think so. The problem – as far as I can tell – is that installing Gems in the Cirrus macOS images [does not work without `sudo` anymore](https://github.com/cirruslabs/osx-images/issues/19), even if we specify the option `--user-install`. I already fixed this problem in my copy of the repo. Unfortunately there are other problems introduced by the latest changes to the macOS images. Current

[2019-11-12 11:42] markus2330 commented on #3193
@sanssecours thank you so much that you are fixing this!

[2019-11-12 15:50] darddan opened #3197 "Mounting with no sudo leads to an error with no error messages"
## Precondition

You have no rights to change the system envivironment keys from the user environment

## Steps to Reproduce the Problem
[code]

## Expected Result

An error message showing whats wrong or how to properly mount the file

## Actual Result

Stops with error code `5` but there's no output in the terminal.

## System Information

- Elektra Version: master
- Arch Linux & Ubuntu

## Furt

[2019-11-12 18:51] PhilippGackstatter commented on #3189
I like these changes. Since we move away from internal iterators, I think it makes sense to also implement
- indexing in languages that support it. E.g. `let first_elem = keyset[0]`, which is just nicer than `keyset.at(0)`.
- indexing by ranges, to get a slice of a keyset like `let first_3_elems = keyset[0..3]`.

[2019-11-12 19:12] markus2330 commented on #3189
Thank you for the feedback, yes I agree!

In Python we have currently indexing by key name (string). I am not sure if it is possible to provide both at once (indexing by string and number)? @manuelm?

[2019-11-12 19:25] manuelm commented on #3189
SWIG doesn't use the C functions

[2019-11-12 20:49] Chemin1 opened #3202 "Merge: Create merge API for tooling"
We should write an API call that performs a three-way merge not on three sets but on three paths in Elektra. It should be able to have different behavior with data that is already in the paths.

[As explained](https://github.com/ElektraInitiative/libelektra/pull/3106#discussion_r342699414) by @markus2330 in PR #3106.

[2019-11-12 20:52] Chemin1 opened #3203 "Create standalone documentation for merge strategies"
Documentation for the merge strategies currently exists in different PRs, for example #3106. As mentioned [here](https://github.com/ElektraInitiative/libelektra/pull/3106#discussion_r342699414) it should be documented as standalone document as the strategies will be used be by various tools.

[2019-11-12 21:08] Chemin1 opened #3204 "Merge tutorial: Use printf instead of echo"
This is not relevant for `master` yet. In #3106 and dependents like #3141 we have tutorials using echo. While this passes the tests we should replace them with `printf`calls sooner or later as it is more portable.

Thanks to @sanssecours for pointing it out [here](https://github.com/ElektraInitiative/libelektra/pull/3141#discussion_r343043572).

[2019-11-12 21:33] kodebach opened #3205 "keyMeta in C++"
Since #2983 is now implemented and we have `KeySet * keyMeta (Key * key);` it would be nice to have a similar function in C++. I propose an overload for `Key::getMeta`:
[code]

However, I don't know where to put this function the whole binding uses `inline` functions (which is good) and therefore is header-only. But I can't put the function into `key.hpp` because that file doesn't know about `kdb:

[2019-11-13 03:26] markus2330 commented on #3197
Thank you very much for reporting this problem!

It is very severe and embarrassing problem because as it is a quite usual for beginners to expect that non-root can mount something (unfortunately #1074 is still open this may be the case also for 1.0). I.e. we always wrote in the error message, that you need to be root.

I could reproduce the issue also on Debian Stretch.

@Piankero Can you please

[2019-11-13 03:56] markus2330 commented on #3189
Why is this implementation issue relevant here? Also the C function does not exist yet.

In this case (for []) the operator overloading happens directly in the Python binding, not in C++.

[2019-11-13 03:58] markus2330 commented on #3202
Thank you for creating the issue! What is your proposed API? One KeySet with 4 parentKeys?

[2019-11-13 03:59] markus2330 commented on #3203
Thank you for creating this issue!

[2019-11-13 04:11] markus2330 commented on #3205
Yes, if you directly wrap it you get ugly circular references. It is possible to write inline functions also outside the class but then we would still have the problem that the C++ KeySet takes ownership.

Maybe it is better/enough if we provide a Meta Iterator (together with the get/set meta functions we already have). KeySetIterator could be included key.hpp as it only needs a forward declaratio

[2019-11-13 04:13] markus2330 commented on #3204
Thank you for creating this reminder!

[2019-11-13 04:24] markus2330 opened #3207 "asciicast on www.libelektra.org"
Mounting is done without sudo (which worked on the computer because of chmod /etc/kdb). Maybe we can simply add "sudo" to every "kdb mount" to the file ./src/tools/website-frontend/public/vendor/asciinema/asciinema-demo.json?

[2019-11-13 06:56] Chemin1 commented on #3202
I imagined three separate parameters, as you proposed `elektraMergeResult(ours, theirs, base, char * strategy, result, char * behavior)`.
`elektraMerge` takes three `KeySet *`. Using three `Key *` for `elektraMergeResult` would look consistent to me. At the loss of some safety, would it make sense to use `char*` or can all the possible callers of `elektraMergeResult` create the required `KeySet`s

[2019-11-13 08:42] manuelm commented on #3205
SWIG can only wrap methods inside the class/struct block.

No. Just link them to ...-meta too.

[2019-11-13 08:51] manuelm commented on #3189
Sorry. Didn't look at your actual question. So this:  https://github.com/ElektraInitiative/libelektra/blob/9a3413f7dee83e8d7d628056092781b4088f1269/src/bindings/swig/python/tests/test_keyset.py#L36 ?

[2019-11-13 09:16] markus2330 commented on #3189
Exactly, so we have this already :sparkle:. And it is even mentioned in the tutorial :sparkling_heart: (with slicing).

@PhilippGackstatter so @manuelm already implemented what you proposed :stuck_out_tongue_winking_eye:

[2019-11-13 09:32] markus2330 commented on #3131
I added "kconfig (https://github.com/ElektraInitiative/kconfig together with @FelixResch)"

[2019-11-13 09:33] markus2330 commented on #3202
Then I do not understand the sentence "not on three sets but on three paths". The proposed API simply uses four sets instead of three.

I agree, it is also more consistent to me, and also more flexible. Only the amounts of parameters is a bit scary.

Please write the whole proposed signature here, it is unclear where you want to use char *.

I do not understand this question. In #3131 I listed all

[2019-11-13 10:26] kodebach commented on #3205
If they are a one-liner in C as well, we should write them as `static inline` in `kdbmeta.h` (or another header) then nobody needs to link against libmeta for these functions.

I assume you mean that the destructor calls `ksDel` on the meta KeySet? Wouldn't that also be a problem if someone decides to do that in C? If I do `ksDel (keyMeta (key))` the key always has invalid metadata no matter the l

[2019-11-13 10:31] kodebach commented on #3205
At least for my use case that wouldn't work. I wanted to use `ksCut` on the metadata. I ended up using

[code]

Come to think of it a subclass `MetaKeySet` with a constructor that takes a single `kdb::Key` should work, shouldn't it? It wouldn't be very idiomatic, but I don't see why it wouldn't work (except for the ownership stuff).

[2019-11-13 11:43] markus2330 commented on #3205
Maybe a key->getMeta() returning a ckdb::KeySet would be enough? Then one could use:

[code]

The Key(Set) is not designed for subtyping (no virtual constructor). @manuelm tried to build something similar with a subclass of Key (FrozenKey). We dropped the idea later as there was an easier way with locking.

The ownership stuff could be fixed this way. The MetaKeySet constructor could increment the

[2019-11-13 12:11] kodebach commented on #3205
Thats not much shorter than calling `ckdb::keyMeta` and if we still get a `ckdb::KeySet`,

The idea was to not have a `MetaKeySet Key::getMeta()`, but instead require to the user to call `MetaKeySet (key)`. Then there would be no need to include `keyset.hpp` from `key.hpp`.

---

Another solution for the circular references would be this (haven't tested it but I think it should work):

[code]

Sin

[2019-11-13 13:04] markus2330 commented on #3205
[code]

Yes, something like this works in C++ (e.g. when using references or pointers in the signature) but @manuelm said that SWIG might have problems with this approach.

[2019-11-13 13:31] #1035 closed

[2019-11-13 13:57] manuelm commented on #3205
SWIG has problems with methods defined outside of the class. https://github.com/ElektraInitiative/libelektra/pull/3133/commits/22dad82fd9cd78d9b6fe4b65c61145640776beaf#diff-52df99526c9295a142ee9028a0d15759

Don't see any immediate problems with the @kodebach code example above

[2019-11-13 14:51] markus2330 commented on #160
v2 gets a new kernel (it just crashed)

[2019-11-13 15:01] markus2330 commented on #160
All 3 servers (v2, a7, i7) now have "Linux v2 5.2.0-0.bpo.2-amd64 #1 SMP Debian 5.2.9-2~bpo10+1 (2019-08-25) x86_64 GNU/Linux"

They are up and online, please restart jobs if needed.

[2019-11-13 15:11] markus2330 commented on #3160
[code]

[2019-11-13 15:38] markus2330 commented on #3205
Ahh, ok. You mean a method/function cannot be declared outside the class. Defined outside is also the method getMeta in @kodebach example.

Your operator== is not completely synonym to the previous (outside) operator ==. It breaks `sthg_convertible_to_KeySet == KeySet`, as now the left-side now needs to be a KeySet.

But having a working == operator in Python is more important then this special ca

[2019-11-13 15:51] manuelm commented on #3205
err yeah: `s/defined/declared/g`.

e.g. the low-level  `ckdb::KeySet`? Yeah you can always use `KeySet(ckey) == ...`.

[2019-11-13 16:01] kodebach commented on #3205
I'd even argue the new version is better, it might be very unexpected, if `sthg_convertible_to_KeySet` is silently converted into a `KeySet` for the `==`.

[2019-11-13 16:23] #3193 closed

[2019-11-13 16:25] #3185 closed

[2019-11-13 20:32] Chemin1 commented on #3202
I left out for example `informationKey` because it doesn't look relevant for the main idea.
[code]

But we could also do
[code]

I was not aware that this list is exhaustive.

[2019-11-13 20:36] markus2330 commented on #3202
In the signature KeySet is missing. So it is only about Key vs. char?

[2019-11-13 22:10] Chemin1 opened #3210 "Remove spaces in Jenkins build path"
Suggestion: We should remove the spaces from our Jenkins build path.

On stdout we see where `command` from POSIX located `kdb`. However, when I I use the result to call it, it is not found due to the space. I can use `command` differently, but such troubles could be easily avoided.

## Real-world example
[code]

## Steps to reproduce the problem
[code]

[2019-11-13 22:37] Chemin1 opened #3211 "Cirrus timeout"
My [last bulid](https://cirrus-ci.com/task/5783213456228352?command=tests#L667) on Cirrus timed out after 45 minutes.

[code]

I just restarted it, but we should do something about it if this happens more often. Has somebody already had similar problems?

[2019-11-14 06:51] sanssecours commented on #3210
Usually you should be able to use double (or single) quotes to fix this problem. For example, in the code below the shell assumes that you want to call the command some `some` with the argument `test/hello.sh`:

[code]

. To call the command `hello.sh` in the folder `some test` you can use the following command instead:

[code]

.

[2019-11-14 06:53] Chemin1 commented on #3202
I thought the whole discussion was about not using KeySet?

[2019-11-14 07:04] Chemin1 commented on #3210
Thank you! That's exactly what I did in e6ec60e :)

I think ideally we should have a build path without spaces and other "special" characters and maybe one test specifically for "special" paths. Then we could go even further with this idea and test things like newlines in paths, too.

[2019-11-14 09:09] markus2330 commented on #3211
I think there is little we can do, unfortunately external providers always have some arbitrary constraints which you need to live with. I personally think we should migrate as much as possible to Jenkins, where we do not have any constraints (except of the hardware).

@sanssecours already fixed many similar issues, usually by reducing something not to be built/tested. But I am not sure what the ac

[2019-11-14 09:17] markus2330 commented on #3202
Then I do not understand how it should work for tools. The whole conflict handling in tools assumes that there is a long-living KDB handle, which was not able to do a kdbSet. Did you read the documentation about kdbSet? It seems like this also needs to be covered in the merging tutorial if it is not clear even to you. I added it in #280. Let us discuss this today.

[2019-11-14 09:21] Chemin1 commented on #280
Are those getting started tutorials different from all the tutorials in /doc? Are they the same?

[2019-11-14 09:24] markus2330 commented on #280
It is about completing the tutorials in doc/tutorials. The goal is that someone, who read all the tutorials, knows how to use Elektra.

[2019-11-14 09:28] markus2330 commented on #3210
@Chemin1 thank you for asking the question!

@sanssecours thank you for helping out!

This is more or less the situation, not every test uses special path. Or did all the tests fail for you?

Yes, it is always possible to extend tests. But with spaces in build paths we are already quite advanced, so I do not think we should put even more effort into this.

[2019-11-14 09:28] #3210 closed

[2019-11-14 12:27] Mistreated commented on #3160
@markus2330 Fixed. Can be closed now.

[2019-11-14 12:59] Chemin1 commented on #3210
But all tests _are_ in a special path I think.

If you look at the build logs you see this
[code]
or
[code]

[2019-11-14 14:44] #1266 closed

[2019-11-14 14:47] Chemin1 commented on #2925
#3163 seems to work according to @markus2330.

[2019-11-14 14:47] #2925 closed

[2019-11-14 14:47] #2705 closed

[2019-11-14 14:49] #2748 closed

[2019-11-14 14:49] #2832 closed

[2019-11-14 14:50] #2680 closed

[2019-11-14 14:56] #2759 closed

[2019-11-14 14:57] mpranj opened #3212 "Mmap: fix for keyname overhaul"
Note to self: fix for #3115.

[2019-11-14 15:44] mpranj opened #3213 "kdbGet: multiple gets in a row"
Add regression test for memleak. #3183

[2019-11-14 15:51] Chemin1 opened #3214 "Manifest for website not found"
In #3209 and #3200 we get such errors:

[code]

This prevents all builds I think.

[2019-11-14 15:56] #2869 closed

[2019-11-14 16:05] #1639 closed

[2019-11-14 17:56] Chemin1 commented on #3203
Draft in #3216

[2019-11-14 17:57] Chemin1 commented on #3030
Draft in #3216

[2019-11-14 23:41] Mistreated commented on #160
Just a note:
I scanned the repo again with the new server. This could make some errors on the old one..

[2019-11-15 05:12] markus2330 commented on #160
Seems like master [1] was also built on the new server. It was not successfully. When clicking on the status, a login page appears [2]. Please reconfigure Jenkins that everything can be viewed without being logged in.

Hopefully we can switch to the new Jenkins soon. Seeing errors from two different Jenkins does not make the situation easier :wink:

[1] https://github.com/ElektraInitiative/libelek

[2019-11-15 05:57] #3151 closed

[2019-11-15 05:57] #3178 closed

[2019-11-15 06:09] markus2330 commented on #1563
See doc/help/kdb.md tools are only allowed to have error codes >10.

[2019-11-15 06:19] markus2330 commented on #3160
Thank you!

[2019-11-15 06:20] markus2330 commented on #3009
It still happens but not so often anymore. I removed "urgent".

[2019-11-15 06:23] markus2330 commented on #3120
Any progress here? It is only about adding a few return statements and such crashes are really severe.

[2019-11-15 06:24] markus2330 commented on #3072
Implementation is in #3073

[2019-11-15 06:26] #2883 closed

[2019-11-15 06:38] markus2330 commented on #3147
As discussed, this is a research question on its own and might not be needed for this thesis.

[2019-11-15 08:05] Piankero commented on #3120
I will Look at it in sunday/monday morning...

[2019-11-15 08:49] markus2330 commented on #3210
We could add an `if` in line 933 to make the space only for one job. But I somehow doubt that this would actually help anyone. If you are aware of these problems, you will immediately see that it is an escaping problem of shell vars. If you do not know of this problem, the name of the build job alone will not be so helpful, as we usually look at the errors and not which job was the problem.

[2019-11-15 08:56] markus2330 commented on #2423
(Assigned as already agreed in #2595)

[2019-11-15 09:06] markus2330 commented on #3214
@Mistreated  Is hub.libelektra.org down or this a temporary error?

Is this (still) the case? We should tag it as "urgent" then.

[2019-11-15 09:07] markus2330 commented on #3213
Thank you for adding the reminder.

[2019-11-15 10:22] markus2330 commented on #2700
@mpranj can you keep this in mind when you look at the positioning? afaik @tom-wa said it is only about executing spec one more time.

[2019-11-15 11:37] markus2330 commented on #1375
low priority, as toml plugin will be preferred in future.

[2019-11-15 11:39] markus2330 commented on #3120
Thank you. The faster the better as this (and #3197) are release blockers and lcdproc is waiting for a release.

[2019-11-15 13:02] Chemin1 commented on #3210
Having one build with special paths or tests would not make the error message go away, no information is lost. One more hint is only added. But at the moment this is low priority anyways.

[2019-11-15 13:04] kodebach commented on #2700
`spec` also needs to be updated so that it actually removes the metadata on the second `elektraSpecSet` run (which must be immediately before the `setstorage` plugin runs). Also, I'll point out again that we should introduce some standard way for plugins to find out in which position they are begin called (without the need for each plugin to internally count positions).

---

Sidenote: I think cer

[2019-11-15 13:16] mpranj commented on #2700
@kodebach thanks for the info. The design doc afair states that the position should be given to the global plugin via parentKey, so the position should be easy to determine. I'll ping you if I get stuck with `spec` as I don't know anything about it.

[2019-11-15 13:57] dominicjaeger opened #3217 "Merge: Move LibGit to standalone"
Replace all `ifdef LIBGITFOUND` with a new file in `kdbmerge.c` as explained [here](https://github.com/ElektraInitiative/libelektra/pull/3209#discussion_r346691778).

[2019-11-15 14:01] markus2330 commented on #3217
Thank you for creating this issue!

the file(s) should be next to kdbmerge.c

[2019-11-15 14:39] Chemin1 opened #3218 "Tutorial: Failing kdbSet"
As mentioned [here](https://github.com/ElektraInitiative/libelektra/pull/3209#discussion_r346674106) we should have a tutorial about applications where kdbSet failed.

@markus2330 You do not mean using the tool `kdb set`?

[2019-11-15 15:14] Chemin1 commented on #3214
As #3209 built, I don't think it's the case anymore. We can observe #3200. I haven't edited it two days and don't plan to add more commits to it.

[2019-11-15 15:15] markus2330 commented on #3218
No, with the tool `kdb set` you cannot produce such conflicts. (At least not deterministic.)

With `kdb shell` it would be possible but the shell recorder does not support to send input to two different processes at the same time.

So your tutorial will be more focused on the code. After you patched the first tools, you will know what is relevant :smile:

[2019-11-15 15:17] markus2330 commented on #3214
So it is yet another temporary problem #2439

[2019-11-15 15:17] #3214 closed

[2019-11-15 16:19] mpranj opened #3220 "cmerge: segfault"
## Steps to Reproduce the Problem

Configure and make libelektra.

[code]

## Expected Result

All tests succeed.

## Actual Result

[code]

[code]

## System Information

- Elektra Version: master
- Fedora 31

## Further Log Files and Output
[cmerge.txt](https://github.com/ElektraInitiative/libelektra/files/3851971/cmerge.txt)

[2019-11-15 16:22] mpranj commented on #3220
I have libgit2 0.28.3 on linux and this does not work. Removing the CMERGE_ON_LINUX check in the code fixes the segfault.
https://github.com/ElektraInitiative/libelektra/blob/4ee9617186fe053107530624b27ff2825478f257/src/libs/merge/kdbmerge.c#L991

[2019-11-15 16:33] markus2330 commented on #3220
Thank you for reporting this problem!

We should definitely fix this before 0.9.1.

[2019-11-15 22:30] Chemin1 commented on #3220
I bet it's about LibGit. The library should be initialized with git_libgit2_init() according to their documentation.

When *not* initializing LibGit on all the Linux on the build server we get no memory leaks. If we initialize, we do. However, if we don't initialize for the FreeBSD builds, we get segfaults. This is the reason why those strange ifdefs exist. I also made my first [Stackoverflow post

[2019-11-16 08:36] markus2330 commented on #2698
`echo ^hello` seems to have a special behavior. But actually no starting character is needed if we have natural sorting. We can simply escape the number by starting with `\`. This was also discussed (offtopic) in  #2388.

[2019-11-16 08:46] markus2330 opened #3223 "Reserved Characters in Key Names"
I propose following characters to be reserved and escapable (to remove special meaning) within key names:

- [ ] % (already used for empty names and contextual values)
- [ ] # (was used for arrays, see #2698)
- [ ] _ (used for globbing)
- [ ] * (used for globbing)
- [ ] & (unused)
- [ ] ? (unused)
- [ ] @ (is used for referring to parentKey, e.g. in conditionals plugin)
- [ ] . (used to refer to k

[2019-11-16 08:47] mpranj commented on #3220
Gdb output is also not very helpful. I'm not sure why, I have the debug symbols of the libraries and it's a Debug build of elektra.

[code]

I've verified that the `#ifndef CMERGE_ON_LINUX` is the root cause on my system, but I did not have time to make a portable patch for it.

[2019-11-16 08:49] mpranj commented on #3220
@Chemin1 thank you for working on it!

[2019-11-16 10:20] Chemin1 commented on #2967
Do we updated "Times failed" in the start post? `check_external_example_codegen_econf`is happening quite often currently.

[2019-11-16 10:25] markus2330 commented on #2967
Trying to update the start post or trying to fix all these issues is hopeless. We need automatic retrying. I hope @Mistreated will implement this soon on our new server.

[2019-11-16 10:54] markus2330 commented on #2967
What do you think about #3224?

[2019-11-16 11:53] Chemin1 opened #3225 "Add make as dependecy for compilation steps"
## Steps to Reproduce the Problem

Create a Fedora 31 VM.
Do the installs from COMPILE.md
`
sudo dnf install -y cmake3 git gcc-c++
`

(Note `yum` => `dnf`)

## Expected Result

Compiling works.

## Actual Result

ERROR: Fixing CMake was unable to find a build program corresponding to "Unix Makefiles"

## Solution

`sudo dnf install make`

Update: That means it would be enough to add `make` to the

[2019-11-16 13:13] kodebach commented on #2698
I dislike the idea of having no starting character for arrays in general. At least in the unescaped name there should be one. My reasoning is this:

1. Our escape character is `\`. Therefore in an escaped name `\` means take the next character literally and in an unescaped name `\` is taken literally as a backslash and cannot have any other special meaning.
2. There has to be a way to distinguish

[2019-11-16 13:42] markus2330 commented on #3225
Thank you for reporting this problem!

[2019-11-16 13:51] markus2330 commented on #2698
Ok, then which character to pick? Maybe §? Or +, then it would like a positive number (but people might think then there are also negative numbers).

[2019-11-16 13:52] markus2330 commented on #3223
See also #2698 for discussion which character to be used for array (globbing)

[2019-11-16 14:18] kodebach commented on #3223
First of all, if you list `\`, you should also put `/` on the list. The slash is clearly the prototypical reserved character (character with special meaning) in Elektra.

Second, "used for globbing" and "used for referring to parentKey, e.g. in conditionals plugin" are not valid use cases here. These are not special meanings during unescaping. If you want to prevent a special interpretation that h

[2019-11-16 14:22] kodebach commented on #2698
I think we can keep `#`, it (probably) breaks the least existing code and, if it only appears in unescaped names, it doesn't matter that `#` is commonly used for comments. Any text based storage format and the command line use the escaped key names, which would not use `#` for array indices.

[2019-11-16 14:38] mpranj commented on #3220
@Chemin1 thank you for fixing it so quickly. I can confirm that it works for me now.

[2019-11-16 14:38] #3220 closed

[2019-11-16 15:09] markus2330 commented on #3223
Thank you, I added it. If you find further characters, you can simply add them to the top-post.

Yes, of course we can also use another escape character or two \\ for some of these characters. But this will be more complicated for users?

I had in mind that keyAddBaseName(key, "_") will actually add `\_`. So to get a `_` (with the meaning of the globbing character), you would need to use keyAddNam

[2019-11-16 15:14] mpranj opened #3227 "Jenkins CI: add Fedora docker image"
Add a current Fedora docker image to the Jenkins CI pipeline to test compatibility with newer packages than on Debian.

If I take on this issue I will probably replace one of the `mmap` builds with fedora, so that we don't **just** increase build times.

[2019-11-16 15:16] markus2330 commented on #2698
Yes, if it only appears in unescaped names it does not matter.

[2019-11-16 15:26] Chemin1 commented on #3220
Thank you for testing it, @mpranj !

[2019-11-16 17:41] kodebach commented on #2698
After thinking about it some more, I think we need additional restrictions:

For escaped names:
1. If a key part starts with a digit, it must only contain digits.
2. If a key part starts with `0` nothing may follow, i.e. the whole part must be `0`.
3. If a key part starts with `#` nothing may follow, i.e. the whole part must be `#`.
4. There is no escaping mechanism for 3, i.e. key parts may NOT s

[2019-11-16 17:59] markus2330 commented on #2698
You misunderstood. It is perfectly fine to restrict the names as much as possible. This has been a goal in the previous escaping but I think this was a mistake as it was very complicated without clear benefit.

What is important is that every possible character string must be codable within the key name parts. This is needed, e.g., if you want wlan SSID identifiers within key names.

So `keyNew`,

[2019-11-16 19:00] kodebach commented on #2698
This is exactly the problem. Any key `B` that is created by calling `keyAddBaseName` (or `keySetBaseName`) on an existing key `A`, MUST also be creatable through a single call to `keyNew`, namely `keyNew (keyName (B), KEY_END)`.

In other words, if `keyAddBaseName` and `keySetBaseName` should accept ALL possible strings, we MUST allow all possible strings (prefixed with a valid namespace and NUL s

[2019-11-16 19:06] kodebach commented on #3223
This is super confusing to me...

The semantics of `keyAddBaseName (Key * key, const char * x)` are:
`x` is an **unescaped** part. It will be added directly to the end of `key->ukey`. Its escaped form will be added to the end of `key->key`.

The semantics of `keyAddName (Key * key, const char * x)` are:
`x` is an **escaped** name suffix (i.e. zero or more parts, no namespace). It will canonicalize

[2019-11-16 19:15] kodebach commented on #2698
Also concerning your SSID example:

[code]

Should we make the SSID case easier and say the result is a key whose escaped name ends with `/\1` or the array index one and let the resulting key's escaped name end in `/1`?

If we make SSID easier,

[2019-11-16 19:32] markus2330 commented on #2698
The whole point of keyAdd/SetBaseName is that users do not need to care about such issues and simply can set any arbitrary byte sequence (except of null bytes).

So this prefixing/encoding must be done internally. There are many ways to do it, and some of them are quite trivial like prefixing with `\` (this is identical like your proposed `ssid=` example, only that the prefixing happens internally

[2019-11-16 19:42] markus2330 commented on #3223
My hope was that we can discard this distinction to make the whole escaping easier to understand. Then `keyAddBaseName` never adds something that has a meaning to Elektra.

If this is not possible, the minimum requirement is that it is possible to pass any string to `keyAddBaseName` and get back the same string when asking for the base name with `keyBaseName`, see #2698.

Yes, it would break some

[2019-11-16 21:10] kodebach commented on #2698
Please read my comment again, I outlined why exactly this is not the case. In short to allow this kind of internal prefixing, something about the relationship `keyAddBaseName` and `keyBaseName` must change.

No, this is not possible both are widely used and are very hard or impossible to replace.

[2019-11-16 21:42] markus2330 commented on #2698
Can you please highlight for me your comment or copy the text again?

Which relationship? The only important relationship is that keyBaseName returns whatever the user gave to keyAdd/SetBaseName.

[2019-11-16 21:54] kodebach commented on #3223
I see now that this once again comes done the major problem at the heart of Elektra. Everything should be coherent and well defined system, but at the same time everything should be flexible and plugins should be used as much as possible. This just can't work.

The problem specifically is the phrase "meaning to Elektra". We can ensure `keyAddBaseName` never adds something that has meaning to `elek

[2019-11-16 22:15] kodebach commented on #2698
Nevermind, I found a better explanation. See below.

As said one of these two guarantees/conditions/whatever-you-want-to-call-it have to be broken:

And there is another one that becomes important below:

`keySetBaseName (key, keyBaseName (key));
[code]

[2019-11-16 22:30] kodebach commented on #2698
Nevermind, I found a better explanation. See below.

As said one of these two guarantees/conditions/whatever-you-want-to-call-it have to be broken:

And there is another one that becomes important below:

The call `keySetBaseName (key, keyBaseName (key))` should obviously be a no-op.

If you know a solution that keeps all these, I am open to suggestions...

---

I'll give a clear example, where no

[2019-11-17 01:46] kodebach commented on #2832
https://github.com/ElektraInitiative/lcdproc/blob/master/docs/elektra/drivers.md

[2019-11-17 08:58] markus2330 commented on #2698
You are right, this cannot be like this. keyBaseName will need to skip the prefix if it's there.

We should only support the first use case. For array index an `keyAddArrayIndex(Key * key, size_t index)` is better suited. (Can be added post-1.0)

No, it should only support the first use case.

Yes, exactly.

Yes, but this would only happen once. And I would not call it a "huge problem". The guaran

[2019-11-17 09:34] markus2330 commented on #3223
Yes, but I would not call it a problem but a challenge. We want the best possible Elektra and of course sometimes contradicting goals occur.

Yes, I also see that it will not be possible to have everything. With array escaping we are already quite limited to a prefix escaping, i.e. we cannot escape other characters within the base names.

But this prefix escaping might be enough. And this should b

[2019-11-17 10:23] markus2330 opened #3232 "opts: args=remaining with non-array"
Currently there is the limitation that args=remaining can only be for arrays (see src/libs/opts/opts.c 317).

For many applications, only one argument is needed, e.g. `kdb ls`.

Is it easily possible to lift this restriction? Of course, the command-line parser then should fail with an error if more than one argument is passed.

This would simplify writing the specifications for all the `kdb` comma

[2019-11-17 10:34] Piankero commented on #3120
I fear that you need to help me because I cannot reproduce this error. Do you have a mounted yml file which has some problems in it or why exactly is the augeas plugin called?

[2019-11-17 11:00] kodebach commented on #3223
This is actually what I thought we could introduce, see below.

---

I think all of this can be solved by introducing something similar to "quoted keys". I am going to call them _literal key parts_.

If a key part starts with an `@` (could be another character of course), the following key part is a _literal key part_. A _literal key part_ can contain ANY byte sequence including zero bytes.

Their

[2019-11-17 11:05] mpranj commented on #160
@markus2330 can a7 / v2 be rebooted remotely after an upgrade or are there some pitfalls?

[2019-11-17 11:24] kodebach commented on #3232
The `args` metadata was always designed to be extended. I think the best solution would be to add a new option `args = single` that is specified on non-array keys and expects a single remaining argument.

For a fixed number of remaining arguments assigned to different keys (like in `kdb get`), I need to think a bit more. I will get back to you on that...

[2019-11-17 11:30] markus2330 commented on #3232
Yes, I am fine with `args = single` for one required argument. @ulrikeschaefer what do you think?

[2019-11-17 11:34] dominicjaeger opened #3233 "LOG_WARNING: directive argument is null"
Compilation with enabled logger gives warnings (or errors).

## Steps to Reproduce the Problem

Similar to run_all_tests_with_docker.md

[code]

then in the container
[code]
it works so far, but then

[code]

## Expected Result

Successful compilation.

## Actual Result

[code]

## System Information

- Elektra Version: master bab98c8c137d95b50bb59030868f3593d0f43978

[2019-11-17 11:38] markus2330 commented on #3120
*Please* look at the code. It is easy to see in the code what was done wrongly but such error is difficult to reproduce in all its forms.

Without looking at the code, we can never get Elektra as stable as it was before introducing the new errors. Plenty of regressions were introduced in #2686, this cannot be fixed without understanding the code. `return` also exists in Java, so the semantics shou

[2019-11-17 11:46] markus2330 commented on #160
Usually it works but if it is not urgent it is better to wait until the admin is there. I can reboot on Tuesday if this is okay for you?

[2019-11-17 11:50] mpranj commented on #160
Thank you! Nothing urgent, just a general question. It came up because Debian 10.2 was just released. I'll wait a bit with the upgrades.

[2019-11-17 11:53] markus2330 commented on #3233
Thank you for reporting this problem!

I wonder why the build server does not catch this, I thought we had a build job that builds with logging enabled. Maybe you use a newer compiler as we have on our build server.

The code src/plugins/internalnotification/internalnotification.c is already quite old but the problem is obvious. A valid fix is to remove lines 87-97 as all the code is only about lo

[2019-11-17 12:05] markus2330 commented on #160
You can do the upgrade nevertheless (only without reboot). Then, in the case of a crash, we will already have the 10.2 kernel when the admin will press the reset button :wink:

[2019-11-17 12:18] Chemin1 commented on #3233
Could well be. The Docker image has `gcc version 9.2.1 20191109 (Debian 9.2.1-19)`. Without Docker this error did not appear `gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)`.

[2019-11-17 12:19] markus2330 commented on #3223
keySet/AddLiteralBaseName is a proposal to add a new feature. Currently we do not have a way to encode null bytes in key names. When somebody needs this, we can get back to your proposal.

For now, however, we need good semantics for keyAdd/SetBaseName. As outlined very long, this ideally should be any string, as otherwise many plugins and applications will be buggy because they do not expect that

[2019-11-17 13:59] MasterToney commented on #1178
Implemented with PR #3191
@markus2330 can we close this issue?

[2019-11-17 14:17] markus2330 commented on #1178
Thank you for fixing it! :sparkling_heart:

[2019-11-17 14:17] #1178 closed

[2019-11-17 14:20] markus2330 commented on #2439
I now implemented automatic retry of ctest in #3224. If you still experience temporary failures of the **test suites** please reopen the issue. (We can increase the number of tries.)

For other failures of Jenkins/Docker, we need to find other solutions but first we finally need to do the migration. So please continue to restart the job in these cases.

[2019-11-17 14:20] #2439 closed

[2019-11-17 14:25] markus2330 commented on #3223
Btw. maybe it best if we meet, e.g. on Tuesday?

[2019-11-17 16:00] kodebach commented on #2698
This is only true, if no part of Elektra uses `keyAddBaseName` or `keySetBaseName` to for array indices. I doubt this is the case.

But the other direction is much more intuitive and many users won't even check the docu whether it is true. In general, I expect calling `setY (x, getY (x))` to not change the value `Y` of `x`.

[2019-11-17 16:12] markus2330 commented on #2698
This is actually a good argument for not allowing to do this.

Why is this direction more intuitive? Is there code that relies on this?

[2019-11-17 16:14] markus2330 commented on #160
@mpranj can you maybe add a cronjob that purges the old snapshots? Or is this not possible without stopping docker?

[2019-11-17 16:19] kodebach commented on #3223
This is the least important point of the proposal. It only allows zero bytes, because I don't see a reason why it wouldn't.

Anyways, there already is a use case:

Apart from the fact that SSIDs have nothing to do with bluetooth, EEE 802.11 clearly defines an SSID as **any** byte sequence up to 32 bytes long. So either Broadcom already does some pre-processing to handle zero bytes or their code is

[2019-11-17 16:37] kodebach commented on #2698
I don't understand...

My argument was:
If there is currently some part of Elektra that does `keyAddBaseName (key, "#_10")` and expects the resulting key to be an array element, we need a solution for 1.0 and cannot wait until later.

A quick search reveals that at least `elektraMetaArrayAdd` expects this behaviour.

In general, I expect that `getX()` returns the value of `X`. I also expect that `

[2019-11-17 16:38] markus2330 commented on #3223
I meant Blueray devices (that have wifi capability).

Yes, you are right. But it is a new feature. Any string in keySetBaseName is not a new feature.

No that does not matter.

No, the most important thing is that any string can be fed to keySetBaseName, and keyBaseName returns what was fed before. With the need of start characters in arrays I can definitely (and happily) live.

Sounds like a good

[2019-11-17 16:43] markus2330 commented on #160
https://docs.docker.com/storage/storagedriver/btrfs-driver/ recommends to also rebalance btrnfs in a cronjob.

[2019-11-17 16:44] Piankero commented on #3120
I did it more than once ... The whole stacktrace tells me that when I try to close the file descriptor, there is a double "free()" call (free(): double free detected in tcache 2). Though I absolutely cannot relate this to anything I have changed.

No it is absolutely not for me because this is related to errors in memory management. Also your sentence is partly insulting as you assume I am too dum

[2019-11-17 16:52] markus2330 commented on #2856
@kodebach is this still open? Can we many detect this situation and let the tests not run in this situation?

Or we fix it: KDB_EXEC_PATH now allows multiple paths, so we could add whatever folders we need from the build/source directory. Then you simply let `kdb` do the job of finding the executable.

[2019-11-17 16:53] mpranj commented on #160
I can add a cronjob without stopping all docker containers. This might not clean up everything, but we can try it. Like I said, sometimes containers keep running forever/until the machine crashes. The complete cleanup requires us to temporarily disable the build agent though, then we can force-stop all containers.

I can also add the rebalance as a cronjob.

[2019-11-17 17:21] markus2330 commented on #3120
This is your interpretation. "easy" was about that the code changes should not change any semantics, so it is enough to check if semantics were changed. What I said (and still say) is that you should look at the code without any assumptions of free/malloc/memory memory.

So forget everything about the stacktrace. Only look at 339d34dfa331926e486340c6343b62266fb28e14 and about where `return` has be

[2019-11-17 17:25] markus2330 commented on #160
Thank you, let us try it.

[2019-11-17 18:42] markus2330 opened #3240 "update elektra-glossary.md"
Following is not explained in doc/help/elektra-glossary.md

- [ ] key name
- [ ] key base name
- [ ] key name part

@kodebach can you do this within #3115 once it is settled?

[2019-11-17 18:47] kodebach commented on #3240
Will do

[2019-11-17 18:48] raphi011 commented on #3131
An example and a pkg-config file would really help to use this.

[2019-11-17 18:53] markus2330 commented on #3131
I fully agree, @raphi011 can you maybe add this pkg-config file as you already know how to do it and it would take @Chemin1 quite some time to learn about it.

Examples you have in #3235 and #3236

[2019-11-17 19:31] raphi011 commented on #2961
Will not be done

[2019-11-17 19:31] #2961 closed

[2019-11-17 19:55] mpranj opened #3242 "Build Agents: add cleanup cronjobs"
Note to self.

[2019-11-17 22:16] Chemin1 commented on #3131
Actually, #3235 does not have a call to `elektraMerge` yet. I'm not sure how implement the merge here yet but will take a look at it as soon as possible.

#3222 in contrast has one.

"close to" might have been misleading. `cmerge.cpp` **is** an example, too.

@raphi011  Thank you for #3241! @markus2330 is right, I have never done this before and no idea how it works.

@darddan, @FelixResch it woul

[2019-11-17 22:40] kodebach commented on #2856
AFAIK this is still open, yes.

We already have the function `srcdir_file` for tests. We could introduce a similar `bindir_file`. `bindir` would default to `${CMAKE_INSTALL_PREFIX}/${TARGET_TOOL_EXEC_FOLDER}`, but their would be some way to override it. CTest would be set up (via CMake's `add_test`) such that `bindir` is set to `${CMAKE_BINARY_DIR}/bin` when using `ctest`.

[2019-11-18 00:22] Mistreated commented on #160
Master is out of memory. I wanted to run Scan Repository on the old Jenkins because a7 and i7 get following error on pulling docker images:

I got v2 and hetzner-jenkins1 running on the new server now.

[2019-11-18 06:59] raphi011 commented on #280
@markus2330 what should be in the Elektrad Tutorial that isn't already in the README.md of Elektrad and in the API Documentation on apiary.io?

[2019-11-18 07:30] sanssecours commented on #160
Thanks for reporting. I removed some old coverage data and enabled the master node again. For everyone with open pull requests: Please restart your Jenkins builds with `jenkins build libelektra please`. Sorry for the inconvenience.

[2019-11-18 09:17] Piankero commented on #3120
Ok thank you, this was the information I was missing. I was on the wrong path before.
I opened a PR here: https://github.com/ElektraInitiative/libelektra/pull/3244

[2019-11-18 09:18] markus2330 commented on #3120
Was this the only occurrence of a macro that had a return in the whole error changes?

[2019-11-18 09:19] Piankero commented on #3120
Btw, augeas was the only case which I remember that had this sort of macro replacement. I replaced all three occurrences.

I will take an extra look this evening in the old revision to check for that

[2019-11-18 09:20] markus2330 commented on #3120
Thank you!

[2019-11-18 09:34] markus2330 commented on #3131
@Chemin1 I think all of these examples are not exactly what kconfig or elektrad need. What they need is something like what happens in the qt-gui.

Actually, you could fix examples/kdbset.c to call your API instead. This would be exactly what kconfig/elektrad will need. (Btw. the userInput would actually simply be passed to the strategy parameter of elektraMerge. The part with "problemKey" is now

[2019-11-18 09:36] markus2330 commented on #2856
And simply adding the bindir to KDB_EXEC_PATH and using `kdb <bin>` does not work?

[2019-11-18 09:39] markus2330 opened #3245 "make docker fail less often"
Also on the new buildserver docker commands still fail: http://95.217.75.163:8066/blue/organizations/jenkins/libelektra/detail/PR-3237/5/pipeline

One possible fix is to simply retry all docker commands twice:
So `docker || docker` instead of simply `docker`. Similar to what I did in #3224.

[2019-11-18 09:40] raphi011 commented on #3131
This would be very helpful. BTW: what is the expected strategy for merging? `ours`?

[2019-11-18 09:56] markus2330 commented on #160
In #3234 @raphi011 suggested:

I agree it is really urgent but @Mistreated already does what he can.

So maybe we can use the build server more sparingly and only build if we really think the PR is to be merged soon. Unnecessary builds should be canceled.

Or what about (temporarily) stop automatic building of PRs on pushing of changes (so the build starts only with `jenkins build libelektra pleas

[2019-11-18 09:57] raphi011 commented on #160
I also have the feeling that `jenkins build libelektra please` does not work at the moment.

[2019-11-18 09:59] kodebach commented on #2856
No, for a few reasons:

1. These are `testmod_` tests, they shouldn't rely on `kdb`.
2. How would we find `kdb` then? Executing tests with `make run_all` should not use the installed `kdb`, but the one in `${CMAKE_BINARY_DIR}/bin`.
3. `KDB_EXEC_PATH` would still contain the `${CMAKE_BINARY_DIR}/bin` folder, after installing `kdb`, which could cause different problems.

[2019-11-18 10:05] markus2330 commented on #3131
elektrad, like qt-gui ideally escalates to the user and ask the user about how to proceed.

I think you will need some merge endpoint, and can send what the user wants as parameter.

Basically, something like this needs to be done:

1. If any of the endpoints fail with a conflict (can only happen for the  "non-get"), the user gets an popup that says that someone externally modified KDB
2. the user

[2019-11-18 10:08] markus2330 commented on #280
Yes, you are right, forget about that. src/tools/web/README.md is already quite nice. Better to have a longer go tutorial. I updated the top post.

[2019-11-18 10:12] mpranj commented on #3242
Daily docker system prune and weekly btrfs data rebalance implemented via classic system cronjob on a7 and v2 like below, but at slightly different times:
[code]

[2019-11-18 10:23] mpranj commented on #160
Cleanup cronjob implemented and backport kernel upgraded on a7 and v2. There's quite a changelog for the kernel, it will be active on next reboot.

[2019-11-18 10:31] raphi011 commented on #280
The go bindings also have a (small) tutorial already. Do you want me

* extend / improve it there and / or link it to `doc/tutorials` or
* create a longer one directly in `doc/tutorials`?

I just want to prevent duplication

[2019-11-18 10:49] markus2330 commented on #280
It is up to you where to write it but my gut feeling says that on doc/tutorials it will be more visible.

It will also be important that you somehow add the information that `go` bindings are available: at the frontpage of the website and src/bindings/README.md

[2019-11-18 10:50] markus2330 commented on #3242
Thank you very much! The docker prune would be good for i7, too.

[2019-11-18 10:51] mpranj commented on #160
Yes, it can be removed after a successful boot into the new kernel.

[2019-11-18 10:52] mpranj commented on #3242
I did not know I have access on i7?

[2019-11-18 10:52] markus2330 commented on #2856
Yes, I agree. It is good if they work standalone.

Shellrecorder tests already use kdb, and they work for both installed Elektra and from the build directory (even if Elektra is installed).

No, KDB_EXEC_PATH is not set for an installed kdb (unless the user sets it)

[2019-11-18 10:54] markus2330 commented on #3242
Now you have :smile:

[2019-11-18 11:17] kodebach commented on #2856
That works because shell tests always execute `"$KDB"` and never `kdb`. And also because `make run_all` and `ctest` use e.g. `testscr_check_meta.sh` scripts, while `kdb` uses e.g. `check_meta.sh`. In the first we set `$KDB` to `${CMAKE_BINARY_DIR}/bin/kdb` in the second one, it is simply set to `kdb` (and therefore resolved via `$PATH`).

I just took the master version of Elektra and installed it.

[2019-11-18 11:18] kodebach opened #3246 "KDB_EXEC_PATH should not be set in installed test scripts"
I just took the master version of Elektra and installed it. The file `/usr/local/lib/elektra/tool_exec/check_meta` contains the line:

[code]

Of course this doesn't affect `testmod_*` tests, but it is wrong nonetheless. I will create a new issue.

_Originally posted by @kodebach in https://github.com/ElektraInitiative/libelektra/issues/2856#issuecomment-554971666_

---

Setting `KDB_EXEC_PATH` in

[2019-11-18 11:23] Piankero commented on #160
[code]

[2019-11-18 11:24] mpranj commented on #3242
Cronjob added on `i7` too.

[2019-11-18 11:24] #3242 closed

[2019-11-18 11:27] mpranj commented on #160
I disabled `i7` for a manual cleanup, kernel and docker upgrade. Somebody enabled `i7` while I was working on it. Everything is up and running again.

@Piankero I restarted your build now.

[2019-11-18 11:33] markus2330 commented on #3246
Thank you for reporting this problem! I think its unrelated to check_meta in particular but it is in all tests (as it is done in tests/shell/include_common.sh.in).

I agree with @kodebach that we need to avoid this line completely for the installed scripts using a similar logic as we have for KDB.

@petermax2 do you maybe have time to fix this?

[2019-11-18 11:35] kodebach commented on #3246
`check_meta` was just an example.

[2019-11-18 11:45] markus2330 commented on #3246
Maybe the line can be removed from there altogether and we simply set KDB_EXEC_PATH from within the environment of cmake/ctest as it is already done in tests/shell/shell_recorder/tutorial_wrapper/CMakeLists.txt

[2019-11-18 11:48] kodebach commented on #3246
AFAIK CMake's `add_test` doesn't allow setting environment variables, we would have to wrap the test in a script or in an `env` call or something like that.

[2019-11-18 11:51] raphi011 commented on #160
works now

[2019-11-18 13:24] Mistreated commented on #160
I added the following to Jenkins Configuration:

[2019-11-18 13:27] markus2330 commented on #160
Note to everyone: Use of "jenkins build libelektra please" is now mandatory, build jobs do not start by simply pushing. We will inform here, when we revert this setting.

@Mistreated thank you! Let us see if this enough. I hope pushes to master still trigger the master builds?

Having the hetzner node would be very good, nevertheless. Are there any problems if the node is used by two build servers

[2019-11-18 13:37] kodebach commented on #3223
After re-examining everything, I think there is only one conflict. The following to statements cannot be unified.

1. An unescaped key part may contain any byte that is not zero.
2. A substring of an unescaped key part can determine a property of the unescaped key part.

In our particular case. The first statement follows from the guarantees for `keyBaseName` et al. together with the fact the you

[2019-11-18 13:44] Mistreated commented on #160
master branch is now an exception of the following rule:

As for

I added a new CT (hetzner-jenkinsNode3).

[2019-11-18 15:14] raphi011 commented on #160
could not clone the repo: https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3073/8/pipeline/634/

[2019-11-18 15:14] raphi011 commented on #160
maybe this has something to do with the new node?

[2019-11-18 15:16] Mistreated commented on #160
this error is on a7

[2019-11-18 15:19] raphi011 commented on #160
soooo .. retry?

[2019-11-18 15:29] Mistreated commented on #160
yeah, I dont think it will happen again..

[2019-11-18 16:55] Piankero commented on #3120
I have looked through the error settings in v0.8.26 and as far as I can tell it did not occur somewhere else than in the augeas section.

So I think after we merge the PR this can be closed

[2019-11-18 16:58] Chemin1 commented on #3131
Hmm ok. I'll have a look at qt-gui.

@raphi011 I hope the call in #3247 helps you a bit even if I'm confused by what we want to show with the example.

[2019-11-18 17:18] markus2330 commented on #3223
Actually 2. is not necessarily needed. We can also store a 3rd string which contains the basename to be returned (maybe only then when it is actually needed to not waste too much memory).

This is not good, we also need to somehow come to an end with this. Maybe the 3rd string will rescue us, we can optimize this later (if it is needed).

Either we make a full list of prioritized requirements in a

[2019-11-18 17:20] Piankero commented on #2855
Have you seen this error again? We could probably close it and reopen if a build fails

[2019-11-18 17:26] markus2330 commented on #3131
What are you confused about? The example shows how an application/tool should call elektraMerge when kdbSet fails.

[2019-11-18 17:28] markus2330 commented on #3120
Thank you for looking! So mounting and augeas  were the only regressions.

[2019-11-18 17:29] markus2330 commented on #2855
I did not see it again. So it seems like you fixed it :100:

[2019-11-18 19:17] kodebach commented on #3223
Like I said, it was a proposal. It would be nice to have, but unfortunately it doesn't work.

We'd need to store a whole 3rd version of the key name, otherwise `keySetBaseName (key, NULL)` would work properly.

Right now there are not many properties a key part can have. At least not properties that are interesting across all of Elektra. "Is it an array index part?" is in fact the only one I can t

[2019-11-18 19:27] kodebach commented on #3232
For a fixed number of arguments bigger than 1, this is the best I could come up with:

All keys that should receive one of the remaining arguments must have the metadata `args = multiple`. In addition they must have the metakey `args/index`, which defines the index of the remaining argument they receive.

If you want to make sure there are no additional remaining arguments, beyond those specified,

[2019-11-18 19:42] petermax2 commented on #3246
@kodebach is right! Setting the environment via `add_msr_test` does not work.

[2019-11-18 19:46] petermax2 commented on #3246
Not so much. I will try to find a fix but I don't know when I'll be able to investigate further.

[2019-11-19 03:56] markus2330 commented on #3160
@Mistreated the same error again on Jenkins3: https://build.libelektra.org/jenkins/job/libelektra-daily/659/console

I resized the disc from 200 to 300GB as it was full.

[2019-11-19 04:06] markus2330 commented on #3232
In general  we could also simply agree on a specification. For new metadata it is okay if some metadata is only implemented by one part of Elektra (e.g. autocompletion) but not by another one (gopts). But in case of extending enums (e.g. `args`) an implementation is preferred because valid specifications would break gopts. Maybe we meet to discuss the specification language?

[2019-11-19 04:22] markus2330 commented on #160
@Mistreated I think we can start automatic builds again. But please look at #3160 first.

[2019-11-19 09:53] raphi011 commented on #160
any idea why this would fail?

`go: github.com/google/uuid@v1.1.1: Get https://proxy.golang.org/github.com/google/uuid/@v/v1.1.1.mod: net/http: TLS handshake timeout`

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2827/8/pipeline/648

[2019-11-19 10:43] mpranj commented on #160
Sounds like it was a temporary problem, the URL is currently accessible from the build agents.

In the long run it would be great to set up those kind of dependencies in the docker images, to avoid downloading them for each build repeatedly. That should also prevent build failures due to temporarily unavailable packages like you mentioned above.

[2019-11-19 10:51] raphi011 commented on #160
Well then.. `jenkins build libelektra please` the third

[2019-11-19 10:59] markus2330 opened #3251 "Make sure elektrad docker image works"

[2019-11-19 10:59] markus2330 commented on #160
Yes, we have all dependencies directly in the docker images exactly for this reason. I created #3251

[2019-11-19 11:27] markus2330 commented on #2469
Should be irrelevant because of rewrite in Go.

[2019-11-19 11:27] #2469 closed

[2019-11-19 11:28] markus2330 commented on #2441
New tasks:

- Support new namespaces as introduced in #3102
- remove workaround

[2019-11-19 12:31] raphi011 commented on #3140
I will close this issue since a fixed has been added. If this happens again please feel free to reopen it.

[2019-11-19 12:31] #3140 closed

[2019-11-19 12:36] raphi011 opened #3252 "Add new 3-way merge to Elektrad"
Always merge with 'ours'

[2019-11-19 13:08] markus2330 commented on #160
I took v2 and a7 offline for rebooting.

[2019-11-19 13:13] mpranj commented on #160
@markus2330 if you get a chance, enable hyperthreading on `a7`.

[2019-11-19 13:39] markus2330 commented on #160
v2 is up again, on a7 there is still a buildjob.

[2019-11-19 14:05] PhilippGackstatter commented on #3162
For the intercept plugin, I think I can't remove the dependency on `kdbprivate.h`.

The only need for the header is here

https://github.com/ElektraInitiative/libelektra/blob/cc2a31416836c1bff91eb9d9d5f2dd4ad29bb418/src/bindings/intercept/fs/intercept.c#L261-L264

But removing the header results in `pointer to incomplete class type is not allowed` in line `264` and since the `_Plugin` type is defi

[2019-11-19 17:52] Chemin1 opened #3254 "Avoid calling the new merge "cmerge""
@markus2330  When mentioning [this](https://github.com/ElektraInitiative/libelektra/pull/3236#discussion_r347518825)

I assume you were referring to [this](https://github.com/ElektraInitiative/libelektra/issues/3132#issuecomment-547795797)

I initially thought "as fast as possible" included removing the old merge but now it seems you meant something else? We could, for example, replace all occuren

[2019-11-19 23:37] Mistreated commented on #160
I took nodes and added them to the new server. I am gonna let it run over night. Tomorow I will return the nodes if there are further errors on new Jenkins server.

`hetzner-jenkinsNode3` will still run on the old Jenkins.

[2019-11-19 23:38] Mistreated commented on #3160
Fixed.

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra-daily/detail/libelektra-daily/660/pipeline

[2019-11-20 05:53] markus2330 commented on #3252
As discussed with @raphi011 this will be done in December.

@Chemin1 the PR is not merged yet, so it is not yet an existing tool. So nothing to be done by you now.

[2019-11-20 05:59] markus2330 commented on #160
Small build errors are not a reason to switch back. At some point we need to fix the errors, the going back and forth is very time consuming.

What might be a show-stopper, however, is that the new server is not reachable. (Neither
http://95.217.75.163:8066 nor ssh). I pressed the power button, let us see if the machine restarts. We should investigate what was the problem, though.

[2019-11-20 07:52] Piankero commented on #3120
I think we may close this issue

[2019-11-20 08:40] markus2330 commented on #3223
In #3115 these currently are #, %, . and @.

This is what this issue basically is about: to collect characters which potentially have a special meaning (now or reserved).

Yes, always be allowed.

This heavily depends on which properties of base names we lose. From user perspective it is "nice" if no `#` is needed, from API perspective it is very important that `keySet/AddBaseName` just works.

An

[2019-11-20 08:41] markus2330 commented on #3223
Hopefully we can discuss this today, I hope this way we can come easier to conclusion.

[2019-11-20 08:41] markus2330 commented on #3246
@petermax2 thank you!

[2019-11-20 10:48] mpranj commented on #160
If there is time please enable TLS using letsencrypt, so we don't leak credentials and expose ourselves to various other problems?

[2019-11-20 11:00] markus2330 commented on #160
Thank you for the input! I would suggest we do this immediately when we switch build.libelektra.org. Otherwise we have double-efforts.

[2019-11-20 11:37] kodebach opened #3256 "Improve directoryvalue"
In #3223 I proposed a change to directoryvalue, that would avoid the possible collisions that the base name `__directoryvalue` could cause. The proposed version would probably work fine, but I had a better idea.

Storage plugins have to have some mechanism to store metadata. So why not move the problematic key's value into metadata?

This might seem like we are just moving the problem, but we are

[2019-11-20 11:42] kodebach commented on #3223
As I said, we shouldn't loose anything compared to the current state of #3115, but we also wouldn't necessarily gain a lot. The main question is how much more work do we want to invest into the key name change. Lets talk about this today.

`*` already has meaning to the globbing library. It means **any** key part. `#` matches just array parts and `_` matches non-array parts.

This might just be me

[2019-11-20 12:01] markus2330 commented on #3256
I do not see how metadata can help here. The purpose of directoryvalue is circumvent  limitations of configuration file formats, so it needs to encode data within key names and key values, as no other place is available to store the additional information.

The only "problem" directoryvalue has is that it would not work if someone actually would like to store `__directoryvalue`. As this is quite u

[2019-11-20 12:04] markus2330 commented on #3162
Yes, we would need to replace this call with libinvoke. As the intercept plugin is very experimental it is maybe not worth the effort.

[2019-11-20 12:09] markus2330 commented on #3254
Thank you for creating the question! As you already created the PRs introducing the tools, you can also create a PR which gets rid of the old merge libraries.

This file will also be replaced with content about your merge.

Somehow we need to find good timing so that every release either still has cmerge/merge or only merge (which is what we call "cmerge" now). From my point of view actually one b

[2019-11-20 14:10] markus2330 commented on #3223
Outcome of talk:

- base name properties already seem to be more or less as they were before
- arrays will continue to start with # (but _ will not be needed)
- characters above will be escaped if they are on the first position, except: #
- keySetBaseName will not and cannot be updated for new characters, the above list (when finalized) is a complete list for Elektra 1.0

[2019-11-20 14:11] Mistreated opened #3258 "Update during jenkins builds proposal."
Is it worth considering to set "Cancel build on update" in Jenkins?

An update would cancel the running build and start the updated one.

[2019-11-20 14:14] markus2330 commented on #3232
As discussed, 3 variants.

This allows exactly one argument path:

[code]

This allows multiple arguments (in different spec keys) but in this spec there is only one argument to be completed and to be stored in path:

[code]

An arbitrary number of paths is allowed (and to be completed):

[code]

[2019-11-20 15:24] kodebach commented on #3223
The current behaviour (in #3115) of `keySetBaseName` and `keyAddBaseName` is defined by this function:

https://github.com/ElektraInitiative/libelektra/blob/9e91654ca72e6cd58b3b54892e78b5a5b2810214/src/libs/elektra/keyname.c#L1360-L1462

We only escape when it is needed to avoid unnecessary escaping in the escaped name.

Also since you asked, if there is a 1:1 relation between escaped and unescape

[2019-11-20 15:53] markus2330 commented on #3258
Thank you for your proposal! I think this is a good idea but isn't this already done in the Jenkinsfile here?

https://github.com/ElektraInitiative/libelektra/blob/c44f308565fd05f65eebfd0bea3b1b1020ece3b0/scripts/jenkins/Jenkinsfile#L1497-L1512

The code is needed to distinguish between master and other PRs.

[2019-11-20 16:01] kodebach commented on #3232
Further clarifications:

To following to specs are equivalent:

[code]
behaves exactly the same as
[code]

If `args = single` is used, no other `args` may be used in this spec. Using `args = single` on multiple keys is not allowed either.

Using `args = multiple` and `args = remaining` together is allowed. The `args = remaining` array will contain all arguments not used via `args = multiple`.

I w

[2019-11-20 16:22] Mistreated commented on #3258
Actually yes. I missed this line:

[2019-11-20 16:22] #3258 closed

[2019-11-20 17:04] raphi011 commented on #160
Is [this error](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3241/2/pipeline/) known? `Caught the following exception: null`

[2019-11-20 17:07] markus2330 commented on #3120
Actually this is another known bug: the name of the lens should be printed. #203

[2019-11-20 17:28] mpranj commented on #160
Looks like the formatting check failed and the other builds were terminated.

[2019-11-20 18:45] raphi011 commented on #160
you're right. what a crappy error message though :P

[2019-11-21 09:33] #3225 closed

[2019-11-21 09:42] markus2330 commented on #3232
@ulrikeschaefer can you incorparate all of this into your docu? When the command-line parser also supports this, we can move it to the tutorial.

In general it might be a good idea if the tutorial also covers code completion as ideally the code completion is something people get for free if they specify their command-line options with Elektra.

[2019-11-21 13:17] Chemin1 commented on #3254
Done with #3260

[2019-11-21 13:17] #3254 closed

[2019-11-21 13:20] Chemin1 commented on #3203
Closed because #3216 is merged.

[2019-11-21 13:20] #3203 closed

[2019-11-21 13:59] markus2330 commented on #3203
Of course the strategies and their docu can be improved in #3260

[2019-11-21 14:02] markus2330 commented on #160
@Mistreated can you please again activate that PRs are automatically built? Due to the many agents the server is now sleeping most of the time.

[2019-11-21 14:18] Mistreated commented on #160
Done.

[2019-11-21 16:40] markus2330 commented on #3223
Thank you for investigating the round-trip behavior. Yes, the lookup is not a big deal (it is already 1:n because of cascading) but that keys with different names remove themselves when appending them to the keyset is ugly. And of course that it does not round-trip is another important goal: Every KeySet should after serializing and serializing be exactly the same, and this would not be given if `

[2019-11-21 17:01] kodebach commented on #3223
Its a matter of definition. What uniquely identifies a key?

The technical answer is the unescaped name. It is what a KeySet uses to differentiate between keys.
Users just have to get used to knowing when two key names are the same. It's kind of similar to spotting that the fractions `2/3` and `4/6` are the same.

If you still want the 1:1 relation, escaping must only be allowed when necessary. Th

[2019-11-21 18:14] d3nwp commented on #3152
I found some statements where KEY_META is used instead of some of the deprecated flags (like instead of using KEY_MODE its possible to use KEY_META with 2 parameters "mode" and the value as a string. I am trying to rewrite the testcases which uses the deprecated flags but the the test cases with KEY_DIR fails.

How can rewrite this one?
`key = keyNew ("user", KEY_DIR, KEY_END);
	succeed_if (keyGet

[2019-11-21 19:40] markus2330 commented on #3152
Yes, it is possible but `mode` currently does not have any meaning: if you look into doc/METADATA.md you see it is declared as deprecated, so you can remove also the occurrences in doc/METADATA.md so that we can get completely rid of this.

You do not need to rewrite all testcases but only these which add a value to the test suite.

This one does not test anything of relevance: It only tested the

[2019-11-21 19:55] markus2330 commented on #3223
Until now saying "the name identifies a key" was enough because there was 1:1 between escaped and unescaped. They were only stored both as performance improvement. (space vs. time)

I would prefer if it can stay this way.

Why would it be annoying?

My idea of `\#123` vs. `#123` was that it is not the same key name and does not have the same meaning (one means the literal `#123`, the other is the

[2019-11-21 20:35] kodebach commented on #3223
That example does not demonstrate anything. Obviously `\#123` and `#123` have different unescaped versions, otherwise it wouldn't be possible to get the unescaped part `#123` in any way.

Arrays are also a bad example, because we said `#` must introduce a valid array part or be escaped, to avoid easy mistakes. Instead lets look at `%`.

If the escaped part is `/%/`, we get an empty unescaped part

[2019-11-21 20:53] markus2330 commented on #3223
Thank you for the detailed explanation. Yes, it is not so important that `/%abc/` is escapable with a single back slash. Round-tripping is much more important. We can also use something else to escape this (in the layer above.)

How will it work when we assign `@` a meaning?

Thank you :100:

[2019-11-22 11:01] kodebach commented on #3223
You are right, to ensure future compatibility, we have to choose option 1. It is easy to see:
`/\%abc/`, `/%/` and `/\%/` are valid not, but `/%abc/` isn't. All parts starting with `@` are invalid right now, but starting with `\@` is allowed and will still be correct, if some parts starting with `@` become valid.

[2019-11-22 11:46] Mistreated commented on #160
I am gonna borrow `hetzner-jenkins1` and `v2` again for the new server.

[2019-11-22 12:01] markus2330 commented on #160
You do not need to give it back, I hope we can do the switch today.

[2019-11-22 12:05] kodebach commented on #3223
To make this clear, I have formulated the rules a more formal way. I'll ignore escaping `/` and `\` inside a key part here, since it is already clear how this works.

- There is a set of characters called `S` (special characters). Neither `/` nor `\` are part of this set.
- Escaped key names are interpreted part by part (after the namespace).
- There is a _normal interpretation_ `NI(s)` of a strin

[2019-11-22 12:18] mpranj commented on #160
Tip: when doing these kind of switches, it's good to decrease the TTL of the DNS entry to something unusually low (e.g. 60 instead of currently 21599 for build.libelektra.org). After the change is propagated it should let us switch the DNS entry within a minute instead of hours. If it's too late it can help to clear DNS caches of google and opendns, but some people will inevitably see the old reso

[2019-11-22 14:33] markus2330 commented on #160
Even though it is now maybe too late, I switched `$TTL 3600` (if we need several changes until everything works).

www-new and build-new already exists pointing to the new server.

I now switched doc.libelektra.org. @Mistreated will fix the publishing. I will look into www-new.libelektra.org

[2019-11-22 18:44] markus2330 commented on #160
https://build-new.libelektra.org/ and https://www-new.libelektra.org/home should work now.

I'll change all DNS entries now.

[2019-11-22 19:08] markus2330 commented on #160
DNS are changed.

Unfortunately, certbot fails as it seems to speak with the old server but this seems to only affect download and community (lesser used URLs).

So hopefully, during/after the weekend everyone sees the updated DNS names.

@Mistreated please update the publishing of all artifacts: also for the website. Please create a PR to make sure everything is working properly.

[2019-11-22 19:21] kodebach commented on #3223
I deleted the rule set that I posted earlier, because after playing with an ANTLR grammar I noticed that the rules don't help. I think having a 1:1 relation AND ensuring backwards compatibility when giving reserved characters meaning is basically impossible.

Let's take `@` as an example. Currently only parts starting with `\@` are valid, those starting with `@` are always invalid. Parts of the fo

[2019-11-22 19:40] d3nwp commented on #3152
I am a little bit confused.. *facepalm*. I am working on 7fb0dee but where should I commit my changes....cuz I cant see the changes from 7fb... on the master branch. Do I need to commit my changes to that specific commit sha (and how xD...this is like commit-ception) ?!

[2019-11-22 20:27] markus2330 commented on #3152
Every commit gets a new SHA-1 and a pull request can have several commits. So you simply commit on top of your branch, not on top of a commit (this can happen if you make a checkout of a commit).

Simply `git checkout` to your branch to continue work. If everything else fails, make a new fork, make a new clone of that fork and copy all your files there.

[2019-11-22 20:38] markus2330 commented on #3152
Btw. calling `git status` often helps. If it does not help for you, post it here and we will translate it for you.

[2019-11-23 11:06] markus2330 commented on #160
The old build server is now shut down.

[2019-11-23 11:39] #3147 closed

[2019-11-23 12:14] mpranj commented on #2310
I think this is superseded by #2439 and can be closed. Feel free to reopen if needed.

[2019-11-23 12:14] #2310 closed

[2019-11-23 13:02] markus2330 commented on #2310
Thank you for closing the issue!

[2019-11-23 14:15] sanssecours opened #3267 "Build: AWK Warnings"
# Steps to Reproduce the Problem

1. Build the [Docker image for Debian sid](https://github.com/ElektraInitiative/libelektra/blob/master/scripts/docker/README.md)
2. Run the container
3. Build Elektra using the commands below:

[code]

# Expected Result

The last command does not print any warning or error messages.

# Actual Result

The command `cmake --build build` prints the following warning m

[2019-11-23 14:17] markus2330 commented on #3267
Thank you for reporting the problem!

I do not know if this is a "good first issue" if you are not sure yourself what is meant?

[2019-11-23 14:19] sanssecours commented on #3267
I am pretty sure it would be a “good first issue“ for an `awk` programmer 😊. Anyway, I removed the label for now.

[2019-11-23 18:26] markus2330 opened #3268 "Buildserver triggering not working"
- [x] "jenkins build libelektra please" and so on seem to now work (for everyone except you?) in the PRs.
- [x] master does not build automatically (e.g. 35585f7e5ae33ec4f8a97b67b094d1853c1f33d9 did not build; 20aeecee7dda4df0c88c1ee964cbe054f4256e80 was triggered manually)

Could you please make it working and/or assign everyone from ElektraInitative to be allowed to issue the buildphrases?

[2019-11-23 18:36] markus2330 opened #3269 "maven build failure"
https://travis-ci.org/ElektraInitiative/libelektra/jobs/615962665

[code]

[2019-11-23 20:02] markus2330 commented on #160
I need to restart the new server (new kernel and network bridge added)

[2019-11-23 20:32] markus2330 commented on #160
server offline due to misconfiguration/bug in pve (/etc/network/interfaces was deleted by GUI?)

[2019-11-23 21:44] markus2330 commented on #160
Server should be up and running again.

Previous problems remain, though (phrase not working #3268)

[2019-11-24 03:49] MasterToney commented on #3060
Implemented by #3070 and therefore closed.

[2019-11-24 03:49] #3060 closed

[2019-11-24 07:23] markus2330 commented on #3268
It should be working like described in doc/BUILDSERVER.md or I am also open for improvements.

[2019-11-24 07:30] markus2330 commented on #160
@Mistreated master also does not seem to build automatically anymore, I trigger it manually now.

I am collecting urgent errors in #3268. It would be good if you can also test if everything works as described in doc/BUILDSERVER.md.

[2019-11-24 12:00] Mistreated commented on #3268
This should be fixed now. Unfortunatly, the server has a lot of stuff to do, but if someone finds a malfunction, please report it.

[2019-11-24 12:29] kodebach commented on #3267
The line in question is part of a single quoted string in a shell script. Therefore the sequence `'"'"'` closes the single quoted string `'`, opens a double quoted one `"`, adds a single quote to the double quoted string `'`, closes the double quoted string `"` and opens a single quoted string `'`. Together this just adds the a single quote to the single quoted string.
The double quote before that

[2019-11-24 13:11] kodebach commented on #3223
The explanation of my solution became quite long, so I put into a file in #3115.

The basic idea is:

- Not all byte sequences are unescaped key names anymore. Some C-strings are no longer valid unescaped key name parts.
- This makes a future proof 1:1 relation of escaped and unescaped key names possible. Strings may become valid unescaped key parts, but once a string is valid it cannot become inv

[2019-11-24 14:18] markus2330 commented on #3267
If the POSIX standard says contrary to the warning it might be better to ignore the warning.

[2019-11-24 14:27] markus2330 commented on #3268
Thank you for the quick fix.

Of course a lot goes on. But at least creating a PR should be tested on such changes.

[2019-11-24 14:33] markus2330 commented on #3268
Still does not work for me:

https://github.com/ElektraInitiative/libelektra/pull/3226
https://github.com/ElektraInitiative/libelektra/pull/3098

[2019-11-24 16:28] sanssecours commented on #3267
While following POSIX sounds good, at least the `awk` implementations I tested (`nawk`, `gawk`, `bioawk`, and `mawk`) seem to have no problem with unescaped double quotes. At least the script

[code]

prints the same line:

[code]

four times on my machine. I already removed the backslash locally and will probably open a pull request that contains this minor “fix” and some other minor improvements

[2019-11-24 16:30] markus2330 commented on #3267
We are really spending a lot of time on a very unimportant issue. There are many other important issues :wink:

Good! :sparkle:

[2019-11-24 17:02] markus2330 commented on #3223
Thank you very much for working on this! @sanssecours can you maybe take a look at it if you also like the idea?

[2019-11-24 17:05] markus2330 commented on #3223
Btw. it is not that "I won't like it", it is that nobody will like Elektra if all storage plugins are buggy because they cannot accept some strings.

[2019-11-24 17:10] markus2330 commented on #3197
@darddan (here is the issue)

[2019-11-24 17:14] markus2330 commented on #3207
@Piankero can you the asciicast for the upcoming release? (Tomorrow before noon?)

[2019-11-24 18:07] bauhaus93 opened #3274 "elektraKeyCmpOrder with order = 0"
Does a order metakey with value 0 have any special meaning (I couldn't find any information on it in `METADATA.ini`)?

Otherwise I think the `elektraKeyCmpOrder` function does not work as intended. While working on the toml plugin, I got an unexpected ordering of my Key array after sorting it with the help of `elektraKeyCmpOrder`.
## Expected Result
I expected a Key with order metakey 0 to be sort

[2019-11-24 18:20] Piankero commented on #3207
I was already looking into this, I try to get the asciicast running. I will try to fix it today or tomorrow morning

[2019-11-24 18:21] markus2330 commented on #3274
Thank you for reporting this bug!

No.

Sounds like a bug, an assert would have been helpful there.

Feel free to change the implementation of elektraKeyCmpOrder as you want.

One idea was to also allow suborders like 0.1.2. This might be useful for sections (the first number counts the section, the second the key and so on).

In any case, please improve the docu in doc/METADATA.ini. At the moment

[2019-11-24 18:22] markus2330 commented on #3207
Thank you very much :sparkling_heart:

[2019-11-24 18:40] markus2330 commented on #2993
@PhilippGackstatter what is the status on this?

[2019-11-24 19:38] kodebach commented on #3223
It's not buggy, if we define it that way. JSON requires escaping similar to C-strings. Nobody complains about that. Any Elektra plugin using JSON would just require using a few more escapes.

While it should be visible from the more detailed definitions, I maybe should have explicitly stated that no actual functionality is lost. It is just slightly more complicated in a few cases.

For every seque

[2019-11-24 20:40] markus2330 commented on #3223
You are comparing apples with bananas here. JSON is a serialization format, we are discussing a data structure here (KeySet). On serialization level, storage plugins still need to escape/unescape key names and key values so that separators can be distinguished.

Without API it is difficult to tell what "slightly more complicated" means.

I think we could live with that.

I am only worried that thi

[2019-11-24 21:54] kodebach commented on #3223
The natural sorting has nothing to do with this. AFAIK, it isn't even mentioned anywhere in the proposal. The problem is about reversing characters for future use while avoiding breaking changes.

The API is in the proposal. In this case "slightly more complicated" just means choosing between two operations (`pushL` and `pushU`, names are placeholders) instead of always using the same one (`keyAdd

[2019-11-25 00:05] Mistreated commented on #3268
It would be really helpful to me if I had access to the old server config.

[2019-11-25 00:10] mpranj commented on #3268
Was the build triggering problem introduced when the url was changed from http://IP to https://build.libelektra.org/ or did it not work before that either?

[2019-11-25 00:12] Mistreated commented on #3268
I thought the old server was taking the PR builds and therefore the new one didnt trigger a build. I just need a config of a plugin.

[2019-11-25 08:16] Piankero commented on #3269
Did this occur in other places too?

[2019-11-25 08:51] markus2330 commented on #3207
We (@Mistreated @mpranj) will verify during the release if the asciicast is fine now and report potential problems to  #2742 (so that the newly recorded one will not have these problems).

[2019-11-25 09:26] markus2330 commented on #3269
I do not know.

Is this maybe only some network problem?

What about adding `-e` to the mvn calls?

[2019-11-25 09:34] Piankero commented on #3269
Thats why I was asking. To me it looks like a temporary network issue.

The main message is there so I do not think that we need an extra stacktrace

Let's wait some time and see if this happens again.

[2019-11-25 10:44] markus2330 commented on #3269
Yes, but in general `-e` might be better? If it is successful, we will not see anything anyway?

[2019-11-25 11:39] Piankero commented on #3269
In your posted message the relevant part is already given (`Connection reset`). Adding `-e` to it would just give you an additional huge stacktrace that is unnecessary.

[2019-11-25 11:41] markus2330 commented on #3269
Lets better turn to more important things.

[2019-11-25 12:32] #3162 closed

[2019-11-25 12:36] #2878 closed

[2019-11-25 12:39] PhilippGackstatter commented on #2993
Sorry for the delay.
I think once #3102 is merged, I'll be able to close this, since it takes care of `elektraKeySetName`.
I'll work on the other two functions soon.

[2019-11-25 13:53] MasterToney opened #3280 "Website code generation link wrong"
On the website https://www.libelektra.org/home the linke to the code generator https://www.libelektra.org/tools/gen is broken and leads to the first tool https://www.libelektra.org/tools/hub-zeromq
Instead it should be pointed to https://www.libelektra.org/tools/pythongen as the code-generator has recently been renamed.

Is this something that simply needs a redeployment of the website to pick up

[2019-11-25 14:16] markus2330 commented on #3280
Can you check if the problem is also on http://a7.libelektra.org/home (a more recent version)?

[2019-11-25 14:17] markus2330 commented on #3280
See also #2897

[2019-11-25 14:38] kodebach commented on #3274
If we prefix the integer(s) with `_` (like we do in array element keys), a simple `strcmp` should deliver the expected result. Then there would be no need for `atoi` (which is another bug waiting to happen):

[code]

If the special case for negative numbers has to be preserved, this won't work of course.

[2019-11-25 14:40] sanssecours opened #3281 "Test: Formatting Check Always Finishes Successfully on Second Invocation"
# Steps to Reproduce the Problem

- Add some incorrectly formatted C or C++ code to the repository

# Expected Result

Either Cirrus or Travis should report the incorrectly formatted code. The build jobs that test formatting should finish unsuccessfully.

# Actual Result

All build jobs finish successfully.

# Additional Information

The script `testscr_check_formatting` fails in the CI builds as

[2019-11-25 17:08] Piankero commented on #3195
Already merged

[2019-11-25 17:08] #3195 closed

[2019-11-25 17:09] Piankero commented on #3181
Already merged

[2019-11-25 17:09] #3181 closed

[2019-11-25 17:11] Piankero commented on #3171
This issue is unrelated to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:11] Piankero commented on #3104
This issue is unrelated to visible error messages and low priority because of high complexity.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:12] Piankero commented on #1473
This issue is unrelated to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:13] Piankero commented on #1083
This issue is unrelated to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:14] Piankero commented on #203
Since the crash is removed the necessary information should be shown. We should be able to close this ticket

[2019-11-25 17:15] Piankero commented on #1789
This issue is unrelated to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:15] Piankero commented on #2898
Is this error fixed? kdberrors.h is not generated anymore

[2019-11-25 17:16] Piankero commented on #3129
This issue is unrelated to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:17] Piankero commented on #2333
This issue is unrelated to visible error messages and is primarily focused towards docu or developer specific tasks.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:19] Piankero commented on #2697
This has already be done for out of memory messages.
An idea has been given in https://github.com/ElektraInitiative/libelektra/pull/3263
This issue though is too big to do for all categories and therefore out of scope as discussed.

[2019-11-25 17:20] Piankero commented on #2859
Not related to visible error messages.
As discussed I may unassign myself.

Also there hasn't been found any regression again yet.

[2019-11-25 17:21] Piankero commented on #3092
Not related to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:22] Piankero commented on #3207
Could you verify that sudo is correctly added? If yes we can close this ticket

[2019-11-25 17:22] Piankero commented on #2956
Not related to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:25] #2871 closed

[2019-11-25 17:25] Piankero commented on #2794
Not related to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:26] Piankero commented on #2743
This was fixed with the merge

[2019-11-25 17:26] #2743 closed

[2019-11-25 17:26] Piankero commented on #2726
Not related to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:27] Piankero commented on #2762
I am not sure what I should do here as I am just mentioned. Probably with the keyname overhaul this is fixed?

[2019-11-25 17:27] Piankero commented on #2786
Not related to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 17:28] Piankero commented on #280
Not related to visible error messages.
As discussed in the Elektra meeting I may unassign myself.

[2019-11-25 18:24] markus2330 commented on #3274
Yes, having a simple strcmp with with /#1/#_10 arrays would also be possible. But this would require to rewrite all plugins....

[2019-11-25 18:25] markus2330 commented on #3281
Thank you so much for this detailed issue. I think this is a good first issue?

[2019-11-25 18:48] markus2330 commented on #3104
@Piankero I agree. And I think we will leave the ckdb namespace as it is.

[2019-11-25 18:48] markus2330 commented on #1473
@Piankero this would be a quite simple Java task.

[2019-11-25 18:49] markus2330 commented on #3171
@Piankero this would be a quite simple Java task.

[2019-11-25 18:50] #1473 closed

[2019-11-25 18:51] markus2330 commented on #1083
@Piankero this is a quite simple docu task. Didn't you install the Java bindings and can describe it for others?

[2019-11-25 18:52] markus2330 commented on #203
No, the name of the lens is still now shown, see #3120

[2019-11-25 18:53] markus2330 commented on #1789
This is very much related to visible error messages but it is already implemented (by you)

[2019-11-25 18:53] #1789 closed

[2019-11-25 18:54] markus2330 commented on #2898
Yes, this is done. Good job!

[2019-11-25 18:54] #2898 closed

[2019-11-25 18:57] markus2330 commented on #2333
@Piankero this is the meta-issue for your whole work. Open is only a tutorial how to use error messages. This should be definitely written to complete your work.

[2019-11-25 18:58] markus2330 commented on #2697
It was not discussed that you can leave this out. I said I will look at the text if you already got enough insight.

[2019-11-25 18:58] markus2330 commented on #2859
Yes, I am happy that it was now only two regressions.

[2019-11-25 19:01] markus2330 commented on #2956
This is very much visible to API users. But I see it will be a lot of work to find out which errors might be added where.

[2019-11-25 19:01] markus2330 commented on #3207
We will do this before the release.

[2019-11-25 19:04] markus2330 commented on #2762
@MasterToney can you fix this by simply not allowing cascading keys for import/export?

[2019-11-25 19:28] Piankero commented on #3171
Yes it is an easy task but I cannot remove the deprecated iterator because the tests use plugins that expect a rewinded keyset and I cannot rewind them any longer. Until those plugins are fixed I could not do that anyhow.

Nontheless we discussed that only error message specific tasks are prioritized because of time constaints so this will have to be done by someone else unfortunately. :(

[2019-11-25 19:42] Piankero commented on #1083
To be honest I am confused what `install` means in this context. I `used` the java binding for Lyrebird but that was such an obvious task that it is not worth a docu.

All I have done for my purposes was to copy the source of the binding to the new project (because it is not yet available on maven central) and renamed the pom.xml.in to pom.xml so mvn can load all dependencies (and I can possibly t

[2019-11-25 19:44] Piankero commented on #2697
Sorry for the misunderstanding. I have not meant that this will be "left out" but actually as you said I will work on that to gain insight but I will not finish it for each and every error category

[2019-11-25 20:53] MasterToney commented on #3280
Yes on http://a7.libelektra.org/ the link leads to High-Level API (with code generation)
Should we close this issue as it's fixed in the new version of the website or keep it open till the website gets updated?

[2019-11-25 20:54] markus2330 commented on #1083
Yes, it would be enough what @MasterToney said today: to describe what the jna binding and jni plugin is about and which jars to copy and where to get them from.

maven central would be, of course, the best solution.

[2019-11-25 20:56] markus2330 commented on #3280
The website will get updated for the next release manually. And #2897 already tracks the status of automatic website building. So I think we can close this issue if there are no further questions.

[2019-11-25 21:00] #3280 closed

[2019-11-26 08:59] markus2330 commented on #3223
As discussed, I think we should rather forget about this issue (reservation of special characters). Instead higher-level escaping (like arrays `#`, `%`) or reservation of special characters (`@`) should be directly done in the storage plugins.

If you want to make a master thesis about future-proof software libraries, you are free to reopen this topic :wink:

[2019-11-26 10:31] #2207 closed

[2019-11-26 10:31] #2584 closed

[2019-11-26 11:05] kodebach commented on #3223
That's not what I remember from the discussion. I thought we agreed to finish #3115 and then think about this issue again.

I will finish #3115 and I will also add some examples and plain English explanations to the proposal.

This is frankly a stupid solution...

Everytime we add something new to key names we will have to update all storage plugins. That is exactly the reason you used against my

[2019-11-26 11:51] markus2330 commented on #3223
Yes, we did not finish the discussion but:

- my recommendation is to fix other important bugs and usability problems.
- I cannot and will not prohibit you from thinking about it anyway :wink:

Please report bugs. Using arrays as specified in doc/decisions/array.md should be correct. Then `#0` is a "simple name without meaning" and arrays only get meaning with a key directly below that has metadat

[2019-11-26 11:54] markus2330 commented on #2207
Thank you very much!

Maybe @ulrikeschaefer even trapped into `k==None` comparison bug, unfortunately I did not see the stacktrace.

[2019-11-26 11:54] markus2330 commented on #2584
@manuelm Thank you, amazing job.

[2019-11-26 11:59] mpranj commented on #2855
@markus2330 seems like this happened on master now. https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/master/35/pipeline

[log.txt](https://github.com/ElektraInitiative/libelektra/files/3891735/log.txt)

Is that a temporary failure we can ignore for the release?

[2019-11-26 12:10] markus2330 commented on #2855
It is maybe not temporary [0] but I think we can ignore it for the release.

[0] #3269 seems to have been temporary because there was some "connection reset" but here I do not see it and `KDBTest.test_kdbGet_shouldPass:46 » Internal Sorry, module (null) issued error...` very much looks like there was something in the KDB.

The error message is completely wrong, this is an issue for @Piankero.

I r

[2019-11-26 12:13] mpranj commented on #2855
Sorry, I did not want to re-use issues. I glanced over it and thought it was the same.

[2019-11-26 12:15] markus2330 commented on #2855
No need to be sorry, I was the one who reused it :wink:

[2019-11-26 12:20] kodebach commented on #3189
We also need a way to lookup the index of a key in a KeySet. This is needed as a replacement for:

[code]

[2019-11-26 12:29] kodebach commented on #2540
Isn't the easiest solution here to remove this functionality `kdb set user/tests/empty`?

AFAIK it is currently the only way `kdb set` creates a binary key, any other `kdb set` call creates a string key.

[2019-11-26 12:34] kodebach commented on #3223
That might be the case, but the tutorial for storage plugins disagrees and even shows that `yamlcpp` doesn't work this way.

I am concerned with changes to key names, because that is what I am already doing and I have a lot of insight right now. Additionally, we already have a breaking change in key names, so it doesn't matter that much, if we break more things.

The user/dir mountpoints would be

[2019-11-26 12:47] markus2330 commented on #3223
@sanssecours can you look into this? If we recognize arrays just because of the structure (names with `#0`) the KeySet will not round-tip.

Yes, but user/dir mountpoint is something every Elektra user is frequently confronted with. If we ever need reserved characters is not known.

Yes, storage plugins can reserve and escape whatever they want.

I fully agree. Maybe some people in some years will

[2019-11-26 12:51] mpranj opened #3282 "Release: debian"
@markus2330 for the debian related release tasks: am I right here that you usually skipt this step? I dont see any commit for unreleased versions.

[2019-11-26 13:38] markus2330 commented on #3282
In the branch "debian" there should be plenty of tags for the released versions. For the unreleased versions there are only commits, no tags.

[2019-11-26 13:45] mpranj commented on #3282
You're right. Seems like I overlooked something here.

A general note: maybe I overlooked something but not everything works in order of the document `doc/todo/RELEASE`. The correct/working steps are different than the order in the doc. Maybe we should update it a bit (after the release, low priority).

[2019-11-26 15:04] markus2330 commented on #3282
Yes, quite often I changed doc/todo/RELEASE while I was doing the release. Then after the release I pushed the changes to the file.

The ownership of this file is now yours, so feel free to adapt it how you need it.

[2019-11-26 15:07] markus2330 commented on #2540
Yes, very good idea. Let us simply remove this functionality. And after 1.0 we properly implement binary support in `kdb` #1614.

[2019-11-26 15:14] markus2330 commented on #3189
Yes, I forgot about that. A quite elegant solution would be that `ksLookup` returns a pair of index and the key, unfortunately this is not possible in C (it supports only struct (which is a disaster for binary compatibility) or union (which is an ugly hack as the options would decide what part of the union is valid)).

So we would need a `ksIndex (KeySet *, Key * lookupKey)`. But isn't this quite

[2019-11-26 15:29] kodebach commented on #3189
It is related because you want to remove `ksGetCursor`.

It might be used externally. Its also the best way of checking, if a key has other keys below (in a certain KeySet):

[code]

Why not now? We aren't removing `ksNext`, so the internal cursor is still set correctly in `ksLookup`. The implementation could basically be:

[code]

Adding this is basically no effort compare to the rest of this iss

[2019-11-26 15:47] markus2330 commented on #3189
Ok, I added it in the top post and removed the "proposal" tag.

It easily happens in quickly introduced APIs that you find in retrospective that a different API would have been better.

[2019-11-26 16:05] mpranj opened #3283 "testshell_markdown_tutorial_crypto: fail"
## Steps to Reproduce the Problem

Build libelektra while having gpgme development files. (`gpgme-devel` on fedora)
I used
[code]
but not everything is relevant to the problem.

[code]

## Expected Result

[code]

## Actual Result

Seems that there is a problem with /tmp on tmpfs or similar? I get the problem on fedora and also on debian buster (in docker).

[code]

## System Information

- Elektr

[2019-11-26 16:07] mpranj commented on #3283
@markus2330 this succeeds on the buildserver. Is this a showstopper for you? It would be reflected in the logs of the release (`kdb run_all -v > ~elektra/$VERSION/run_all 2>&1`).

[2019-11-26 16:50] markus2330 commented on #3283
No, it is definitely not a showstopper. Most likely it is simply because some temporary file is still there from a previous run or  #2957 is not completely fixed after all.

Hopefully, @petermax2 has time to fix it before 0.9.2 :wink:

@mpranj do you need help with release notes or something else?

[2019-11-26 17:31] mpranj opened #3284 "Release 0.9.1"
Internal tracking and questions.

[2019-11-26 17:32] mpranj commented on #3284
@markus2330 do I add notes about KDE in 0.9.1 already or did you mean the next release?

[2019-11-26 17:47] markus2330 commented on #3284
Yes already now. And also next release, I think there is nothing which interests people more than this. You can write about what you heard in the last meeting.

@FelixResch @darddan or do you have time to provide a paragraph about the current status?

[2019-11-26 18:36] mpranj commented on #3284
@markus2330 I'm having a hard time to reproduce all steps from `doc/todo/RELEASE` without errors on my machine. Especially for the stuff in the releases repo (the artifacts of kdb run_all, strace,...).

Do you want to go through what's really important, or do I just ignore all that and proceed with the essential parts: tag, bump debian package, make source package, publish API/docs and try to get

[2019-11-26 18:45] markus2330 commented on #3284
All these steps (except strace) you mentioned are done on the buildserver anyway, so do not bother too long trying to reproduce it on your machine. Maybe you can take a look in the build logs if they were really executed?

The strace logs I actually never compared with older versions, so it seems like they are not very important :wink:

Also the Debian packages are optional. You could also do Fedo

[2019-11-26 18:48] mpranj commented on #3284
Thank you! Then I'll do the essential stuff and ping you when I think it's ready so you can at least glance over it.

[2019-11-26 18:49] markus2330 commented on #3284
Don't worry, if it is not ok, we will simply release 0.9.2.

[2019-11-26 18:49] petermax2 commented on #3283
I can not reproduce the issue when building 2bc994ae8b3f3a04396303ece106ea563764e490 from scratch using your cmake command from above.

        Start 188: testshell_markdown_tutorial_crypto
    222/235 Test #188: testshell_markdown_tutorial_crypto ...........   Passed    3.16 sec

Maybe your build directory is broken somehow. Could you please try to compile and test with a new (empty) build direct

[2019-11-26 18:52] mpranj commented on #3283
@petermax2 thank you for checking it so quickly. I tried several times on my host system (fedora) and also on a debian buster docker container. I also cleaned the build directory many times.

It's always possible that it's just a problem at my end. I'll check it again later!

[2019-11-26 20:07] mpranj commented on #3284
@markus2330

Permission to ElektraInitiative/**ftp**.git denied to mpranj.
ERROR: Permission to ElektraInitiative/**doc**.git denied to mpranj.

[2019-11-26 20:44] markus2330 commented on #3284
I added you to be a core member: https://github.com/orgs/ElektraInitiative/teams/core/members
Pushing to ftp and doc should work now, and you can add other members.

[2019-11-26 20:47] mpranj commented on #3284
Thank you, api docs and tarballs are up. I'm working on the release notes, tag will be pushed soon.

[2019-11-26 21:00] markus2330 commented on #3284
https://doc.libelektra.org/api/current/html/ works for me. I am off for today but it seems like you already finished the most important parts anyway.

[2019-11-27 07:42] petermax2 commented on #3283
Hm strange! I think I used a Debian:stable container yesterday for building and testing. I can try again with Fedora in the evening. At the moment I don't have so much time for troubleshooting but I will have a quick look.

[2019-11-27 08:25] Piankero commented on #203
The error message which is shown does not come from Elektra itself but from the external library augeas.h:
https://github.com/ElektraInitiative/libelektra/blob/cc2a31416836c1bff91eb9d9d5f2dd4ad29bb418/src/plugins/augeas/augeas.c#L119

If I try to include the lens like [here](https://github.com/ElektraInitiative/libelektra/blob/cc2a31416836c1bff91eb9d9d5f2dd4ad29bb418/src/plugins/augeas/augeas.c#L1

[2019-11-27 08:29] markus2330 commented on #203
lensPath exists outside of this function. You can simply concatenate getAugeasError and the lens name.

[2019-11-27 08:40] markus2330 opened #3285 "process plugin cmake error"
I downloaded 0.9.1 release, and run `cmake`:
[code]

This might only be misleading output (process plugin might be excluded because EXPERIMENTAL and not because of missing dump).

[2019-11-27 08:47] markus2330 commented on #3197
Works for me with Elektra 0.91.

`kdb umount` however, does not output the `IMPORTANT` disclaimer.

And the error message is quite verbose:
[code]

[2019-11-27 08:47] #3197 closed

[2019-11-27 08:52] markus2330 commented on #2947
@Mistreated any progress here, would be great to have Debian Packages for 0.9.1

[2019-11-27 09:56] Piankero commented on #160
jenkins does not build without any given reason:
https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-3286/3/pipeline
https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-3286/3/pipeline

[2019-11-27 11:39] mpranj opened #3289 "website deployment"
- [x]  Website deployment is broken
- [x]  manual deployment makes rss links refer to localhost:9000/
- [x] fix directories where webpage is served from

[2019-11-27 11:41] mpranj commented on #676
Elektra 0.9.1 was released!

https://www.libelektra.org/news/0.9.1-release

@ElektraInitiative/elektradevelopers please share on social media and post here where you shared something.

@markus2330 website is deployed, you can post the news. Please inform me where you posted so we don't do it twice.

[2019-11-27 12:35] markus2330 commented on #676
@mpranj thank you so much for doing the release! Elektra is in good hands now! :1st_place_medal:

@ElektraInitiative/elektradevelopers Thank you for making the release possible! :sparkling_heart:  Now is a good time to rebase the PRs. :rocket:

Here you can upvote :100:  the news:

- https://news.ycombinator.com/item?id=21647191
- https://slashdot.org/submission/10784876/kde-will-be-elektrified

I

[2019-11-27 12:51] markus2330 commented on #3289
Yes, please. This was my fault, I forgot to update the apache config at one point.

[2019-11-27 16:23] markus2330 commented on #676
Pro Linux was very fast: https://www.pro-linux.de/news/1/27623/elektra-091-erschienen.html

[2019-11-27 16:28] markus2330 commented on #676
And @sanssecours was also very fast https://github.com/ElektraInitiative/homebrew-elektra/releases/tag/0.9.1

Thank you :1st_place_medal:

[2019-11-27 19:24] mpranj commented on #3284
Thank you for all the answers!

[2019-11-27 19:24] #3284 closed

[2019-11-27 19:25] #3282 closed

[2019-11-27 20:08] petermax2 commented on #3283
The issue is reproducable under Fedora.

    The following tests FAILED:
	 41 - testshell_markdown_base64 (Failed)
	 56 - testshell_markdown_csvstorage (Failed)
	 76 - testshell_markdown_iconv (Failed)
	 78 - testshell_markdown_ini (Failed)
	 93 - testshell_markdown_mini (Failed)
	116 - testmod_resolver (Failed)
	181 - testshell_markdown_tutorial_crypto (Failed)

Maybe this is not a crypto-tutoria

[2019-11-27 20:12] petermax2 commented on #3283
`kdb gen-gpg-testkey` can not be found. This issue is related to #3246 (KDB_EXEC_PATH).

[2019-11-27 20:15] mpranj commented on #3283
Thank you for taking a look at this issue!

I haven't seen the other tests fail tbh. Are you sure this is the same problem? I did not even work with the installed kdb, I just ran ctest with make run_all.

In the long run we'll add some fedora docker images too (#3227), to catch something like this earlier.

[2019-11-27 20:22] petermax2 commented on #3283
No, probably several different problems.

Very good idea!

I edited my post from before to clarify what I meant with my analysis.

[2019-11-28 00:00] MasterToney commented on #2762
Just to be sure that I understand the task correctly:
Import/export should only allow keys with a namespace otherwise a suiting exception should be thrown.
Examples:
`kdb import /sample/key` should throw an exception
`kdb import user/sample/key` should work

Same thing with export?

[2019-11-28 00:12] MasterToney opened #3293 "[Website] Validation page issues"
The tutorial page for the validation has the info header box for author and description not well formatted as well as a big review pending after that.
This is the case on both sites, libelektra.org and on a7.

https://www.libelektra.org/tutorials/validate-configuration#validation
http://a7.libelektra.org/tutorials/validate-configuration

On a first quick look I could not find any other tutorial th

[2019-11-28 07:20] Piankero commented on #3207
The release is done actually

[2019-11-28 07:44] Piankero commented on #2468
I am not sure what I should do here.

I can do the following points:

But I honestly do not want to do the complicated stuff that requires enabling posixly and incorporate special error message for different cases depending on the option provided. In retrospective I could have known that negative numbers in terminals always require a `--` because there are some articles about it in general (at fir

[2019-11-28 08:02] raphi011 commented on #160
Another build error: https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-2827/13/pipeline

[2019-11-28 08:11] markus2330 commented on #160
Thank you for reporting!

@Mistreated could you please install Naginator+Plugin #2967 as already discussed many times? (Please make a snapshot before changes to Jenkins.)

[2019-11-28 09:01] markus2330 commented on #3207
Yes, but after the release is before the release. How is your recording going?

[2019-11-28 09:04] markus2330 commented on #2468
Let us close this issue. The usability is not so bad as the output even says what to do and even gives an example.

There is little we can do if people do not even read what is printed.

[2019-11-28 09:04] #2468 closed

[2019-11-28 09:05] Piankero commented on #3207
I am working on the tutorial for the errors currently.

So the task for this here is to simply rerecord everything exactly the same so the error message is shown correctly? How does this relate to https://github.com/ElektraInitiative/libelektra/issues/2742 then? Is this here a duplicate?

[2019-11-28 09:08] markus2330 opened #3294 "compiling external software"
I have the Debian Package of Elektra 0.9.1 installed. When I try to compile external software using Elektra I get:

[code]

[2019-11-28 09:09] Piankero commented on #2742
I can rerecord everything as it is now to show the error message since it minorly belongs under "my domain" but I do not want to completely instruct a whole yaml, python, specmount example as this is a lot of work to sensefully show a user what elektra can do.

We agreed that only error message related issues belong to me...

[2019-11-28 09:12] Piankero commented on #203
Could you verify and close the issue if it passes?

[2019-11-28 09:15] markus2330 commented on #2742
I agree that python is not something you worked with. YAML is just an example, not really important. The other things are perfectly in scope.

[2019-11-28 09:24] markus2330 commented on #3207
This task is done (it is about cutting out sudo). #2742 I already gave an answer.

[2019-11-28 09:24] #3207 closed

[2019-11-28 09:26] Piankero commented on #2742
Ok, but what about "should work as-is also in docker"
I do not understand this point.

[2019-11-28 09:30] sanssecours commented on #203
I tried to reproduce the problem using the steps of the issue description. On my machine the command:

[code]

prints the following error message:

[code]

. As you can see the error message does includes the location of the lens now 👍. There are two minor details we still could improve in my opinion.

1. The error message contains an empty line at the end.
2. The location data `:66.17-.40:` is a

[2019-11-28 09:46] Piankero commented on #203
Your kind of error messages goes into a different if-else branch where you provide full information.
you seem to have provided a correct lens, try
```sudo kdb mount /etc/security/limits.conf system/tests augeas lens=NonExistingLens```

All error message have this, I do not think it harms the output if there is an extra space.

this comes from augeas itself. You actually just provided `lens: ` wher

[2019-11-28 10:19] markus2330 commented on #2742
That the tutorial is done inside of docker. So you start the tutorial by pulling a docker image (maybe you can push an alpine Docker image to docker.com which has Elektra 0.9.1 installed so that you do not need to install during the tutorial).

[2019-11-28 10:22] markus2330 commented on #3293
Yes, I agree, you can remove this header.

[2019-11-28 10:25] Piankero commented on #2742
Why would I need to do that in a docker container? I have asciinema local on my system and record it there. All that asciinema emits is a .json file

[2019-11-28 10:57] markus2330 commented on #2762
Good that you ask! You understood correctly but this would be inconsistent to #2561.

So we want following behavior:

[code]

will write to what is given by `-N` and print the message which key is used (can be shut off by -q).

[code]

you can reject for now (maybe @kodebach or you will add support later after #3115)

Internally, you use the cascading key to kdbGet/kdbSet configuration by default

[2019-11-28 11:00] markus2330 commented on #2561
Yes, I agree. It gives a much more consistent user experience.

Yes, makes sense. But let us implement this after #3115, if we feel it is needed.

[2019-11-28 11:03] markus2330 commented on #2742
As first command during the tutorial you pull and enter the docker container. This has the advantage that what is recorded also works for people who want to try out themselves without the need to go through installation.

[2019-11-28 11:13] kodebach commented on #2762
The version with namespace shouldn't be much work to implement either.

You just call `getNamespace()` on the Key to get the namespace. That namespace will be used just like the one given by `-N`. To get the cascading key you can use `k.setName(k.substr(k.find('/')))`.

The only decision left is what to do if `-N` and a key with namespace are used.

[2019-11-28 11:33] markus2330 commented on #2762
Exactly, that is why I suggested to reject it now. Unfortunately, there is no way to check if `-N` was given (or you just see the default). And when `-N` is used, people will have no problem to migrate to the new namespace `:` syntax.

[2019-11-28 11:36] Piankero commented on #2742
Don't we have a docker registry already were jenkins pulls all the containers? If I would push such a docker image to dockerhub then I probably need your account for that so the docker image stays online for the lifetime of elektra.

[2019-11-28 11:40] markus2330 commented on #2742
This should be no problem but can you create a Docker image?

@mpranj did you plan to do such an image for releases?

[2019-11-28 12:04] mpranj commented on #2742
No immediate plans, but sounds like nice to have. I like the idea very much that we publish such an image officially with each release. Elektra is quite a pain to compile and set up for novices.

[2019-11-28 12:10] sanssecours commented on #203
Yep. I just repeated the steps from the issue description.

I tried the commands

[code]

, which do not print any error message on my system as described [here](https://github.com/ElektraInitiative/libelektra/pull/3286#issuecomment-559438511). Anyway, I am fine with the current situation. I just commented on this issue, since you requested my review in PR #3286.

[2019-11-28 12:12] Piankero commented on #2742
Ok, can you create an alpine docker image and upload it to a (newly created public) repo? It would make most sense that you as build master do that :)

[2019-11-28 12:13] Piankero commented on #203
Alright, since it is merged and everybody agrees I will close this issue

[2019-11-28 12:13] #203 closed

[2019-11-28 12:57] mpranj commented on #2742
I can create it but probably not today.

[2019-11-28 13:07] bauhaus93 opened #3297 "TOML: Trailing Comments in Arrays"
In TOML it is possible to have any amount of comments between the last array element and the closing brackets.
Given the TOML array:
[code]
How should we store the non-inline comment after value 1, but before the closing brackets?
It is neither before any element that has a key, nor is it an inline comment for any key.

This is the same issue as with comments at the end of a file, which is current

[2019-11-28 13:16] MasterToney opened #3298 "[plugin type] not supported as global plugin"
## Steps to Reproduce the Problem

[code]

## Expected Result

The plugin type should be mounted globally.

## Actual Result

I got the error as stated above.

## System Information

- Elektra Version: master
-  macOS 10.15.1
- installed via homebrew

Looking at https://www.libelektra.org/plugins/type I do not see anything that would hint that the type plugin is not suitable to be mounted globally

[2019-11-28 13:31] MasterToney commented on #3298
Same behavior with `sudo kdb global-mount validation` so there needs to be some criteria when a plugin can be mounted globally.
Curiously the following happens:
[code]
So `check` is as far as I can tell from `kdb plugin-list` not a name for any plugin but will be interpreted as the `spec` plugin but two times?
From my intuition this should not be happen as calling `sudo gmount spec` twice returns

[2019-11-28 18:09] kodebach opened #3299 "cache: kdb export system"
In #3115 I noticed that `kdb export system` (`kdb export system:/` in the PR), also exports everything in `system/elektra/modules`. Is this intended?

For the specific circumstance see https://github.com/ElektraInitiative/libelektra/pull/3115#issuecomment-559576223

[2019-11-28 19:18] markus2330 commented on #3298
Why do you try to mount them globally? What did you expect?

Practically only notification plugins, mmap and spec are really suitable.

That `global` is in the contract.

That is not a real plugin, only a provider like `json`.

[2019-11-28 19:42] markus2330 commented on #3299
Of course, why not? It also exports version and other stuff not useful for import. You can add `--without-elektra` to avoid exporting these parts.

For the shell-recorder I would also expect that only the given part is backed up and restored.

[2019-11-28 21:18] mpranj commented on #2742
Ok, so I created it today.

`docker run -it elektra/elektra` and you are dropped into a shell with kdb available.

[2019-11-28 21:32] mpranj commented on #1519
I've just experienced this with a current PR.

[code]

:confused:

[2019-11-28 21:36] markus2330 commented on #3297
Thank you for asking the question.

In general I am already impressed how far you already went in preserving the file structure. I do not think we need to go further. At least not at the moment. Now is time to get your plugin to be ready as default storage plugin. But if you need a decision for the implementation...

Yes, I like this solution. We only need to document this. (Ideally with a whole f

[2019-11-28 21:37] kodebach commented on #3299
Does `kdbSet` remove them somehow? It seems wrong to serialize these keys, when they are hard coded via a special part of plugin get functions...

[2019-11-29 00:00] mpranj opened #3301 "cache: fix tool synopsis"
Synopsis was not updated, `kdb cache default` is missing here but available in the man page.

https://github.com/ElektraInitiative/libelektra/blob/b04c7f85a902fd247b628d88d752370d33dd034a/src/tools/kdb/cache.hpp#L26-L33

[2019-11-29 01:12] #3186 closed

[2019-11-29 03:05] darddan opened #3303 "Rust bindings only works with path dependency"
Using dependency from crates.io doesn't work.
I can only use the rust bindings if I compile them in the Elektra proejct first, and then use the compiled (replace macros) directory as a path dependency.

## Steps to Reproduce the Problem

[code]

## Expected Result

Build successful

## Actual Result

Error:
[code]

[2019-11-29 05:43] markus2330 commented on #3299
For the version information kdbSet checks if they are identical and ignores kdbSet if they are. Otherwise an error gets generated.

For modules (iirc) there is no kdbSet, so the keys to set are simply ignored. Iirc the "constants" plugin has the same behavior It is usually mounted system/info/elektra so not in system/elektra. Maybe we should change that to make `--without-elektra` more useful?

Bu

[2019-11-29 05:46] markus2330 commented on #3303
Thank you for reporting this problem!

It seems like the binding on crates are not up-to-date or your Elektra is too old. E.g. keyIsDirectBelow was renamed to keyIsDirectlyBelow. It was renamed by the author of the Rust bindings, so maybe he can give us more insight what exactly is wrong here :wink:

[2019-11-29 05:59] markus2330 commented on #2742
Amazing job! Do not forget to advertise it in the next release notes. We should also add this information to the important places for newcomers (@d3nwp).

[2019-11-29 06:06] markus2330 commented on #3299
So for the current situation of the quite unstable Elektra it makes perfect sense: imports of system/elektra are rejected unless the version is identical. To avoid this error, `--without-elektra` can be passed.

After 1.0 we can actually be more relaxed and accept imports from Elektra versions 1.0 or greater. (@mpranj what do you think?)

The text needs to be adapted then, currently it is:
[code]

[2019-11-29 06:58] PhilippGackstatter commented on #3303
Thanks for the report!

Since the latest Elektra release of `0.9.1` I haven't gotten around yet to release the updated bindings to `crates.io`. So you're probably using rust-bindings `0.9` with Elektra `0.9.1`, which is not compatible. I will release the update very soon and then you shouldn't have any problems anymore. I will let you know once it's done.

[2019-11-29 09:09] markus2330 commented on #1519
Thank you for reporting. Yes, this transient error, together with many others (#2439) are still not fixed. Our current fix is to run failing tests again.

Can you check if this test really failed twice in a row? We could retry 2 times (3 in total).

[2019-11-29 09:49] mpranj commented on #1519
No. It seems that the Jenkinsfile calls `ctest` directly instead of the workarount in `run_all`.
https://github.com/ElektraInitiative/libelektra/blob/0eb2a81e333b8aca6e54431557e7ee6cb8fd86c1/scripts/jenkins/Jenkinsfile#L1312-L1314

Maybe we add the same workaround to the Jenkinsfile so we don't waste too much time on this problem.

[2019-11-29 10:46] mpranj commented on #3299
I agree with the suggestions.

As @kodebach mentioned, it is somehow weird that this appeared just now in #3115 and did not appear before. While adding `--without-elektra` probably should have been there in the first place for backup-and-restore, it still seems that the PR changed some behavior.

@kodebach did you activate cache again for those tests? I'd like to wait for the rest of the PR to be

[2019-11-29 10:55] kodebach commented on #3299
Yes, cache is fully enabled.

`mmapstorage` works already. Turns out I had a `key` instead of `ukey` somewhere.

The cache also seems to work, apart from the problem with the global unmount test. Last I checked, the error didn't happen when cache isn't compiled.

I did change parts of `kdbGet`, `elektraCacheGet` and related functions. It's likely I broke something, but since the things I changed p

[2019-11-29 11:00] mpranj commented on #3299
Ok. I suggest if the cache+mmapstorage causes the problems you simply keep it deactivated until the very end and we activate adapt it then.

The PR is a quite fundamental change so it will be much easier if you don't get stuck because of some broken cache behavior. When it's basically ready simply activate cache again and ping me so I can take a look and fix the remainders.

[2019-11-29 11:37] mpranj commented on #160
`hetzner-jenkins1`: disk quota exceeded

[2019-11-29 11:56] Mistreated commented on #160
Gonna do it today

@mpranj I added the new `VM` as a build agent while `hetzner-jenkins1` is down.

[2019-11-29 12:20] mpranj commented on #160
I cleaned up some space on hetzner-jenkins1 by running `docker system prune -a` and enabled it again.

Seems like there is again a problem that lots of stuff is not cleaned up by `docker system prune -f`. This time the storage driver was not `btrfs` but `vfs`. :confused:

[2019-11-29 13:24] markus2330 commented on #160
The idea now is that we do not use the container anymore but only the VM instead.

Thank you very much! Can you also make a cronjob there? (on the VM, not on the container).

[2019-11-29 13:51] #3293 closed

[2019-11-29 14:03] mpranj commented on #160
Done.

[2019-11-29 14:24] Mistreated commented on #160
We have to move from pipeline to freestyle job, if we want the naginator plugin. I am gonna look for alternatives.

[2019-11-29 15:00] PhilippGackstatter commented on #3303
I just published new `elektra` and `elektra-sys` versions to crates.io. Let me know if you have any further problems.

[2019-11-29 15:06] mpranj commented on #160
Builds on the VM `jenkinsNode3VM` currently fail. They are unable to docker pull:
[code]

I disabled it for now until someone can fix the problem.

[2019-11-29 16:46] MasterToney commented on #3298
I'm trying to get validation to work and my thought was if I mount the plugins that do so globally then all my interactions with `kdb` should be validated.
Also I don't want to simply `mount` a new backend because for that I need to mount it to a file which I want to avoid.

I guess that we could adjust the exception message accordingly to state that and mention it in `global-mount` docs too. Will

[2019-11-29 18:29] darddan commented on #3303
It is working now :)

[2019-11-29 18:56] markus2330 commented on #3301
Thank you for reporting and fixing the problem :sparkling_heart:

[2019-11-29 18:59] markus2330 commented on #1519
I think we can simply change the Jenkinsfile to run `make tests` as all the logic for test exclusion is only about temporary errors (as far as I see).

[2019-11-29 19:11] markus2330 commented on #160
Thank you!

Yes, good idea. Maybe it is best to simply code that in our Jenkinsfile. So if a problematic build job/stage fails, that it is retried. That these docker pulls are tried at least twice as this is one of the most frequent problem.

@Mistreated please fix this.

[2019-11-29 19:18] markus2330 commented on #3298
It is always mapped to some file (you can check with `kdb file`). You can also mount to the root (/) which should do what you want.

Thank you. In the mounting tutorial it should be mentioned that there are global mountpoints (only for notifications) and that it is possible to mount to /.

[2019-11-29 20:17] tom-wa opened #3305 "libelektra-proposal.so.4: cannot open shared object file: No such file or directory since upgrade to 0.9.1"
after upgrading from 0.9.0 to 0.9.1 i get the error
[code]

the file `libelektra-proposal.so.4` existed in 0.9.0 but not anymore in 0.9.1

[2019-11-29 21:16] mpranj commented on #3305
Thank you for reporting!

To my knowledge some functions were removed from proposal, but not all. The library will be completely removed in future with #3201.

How did you obtain 0.9.1? Build from the tag or tarball or simply current master (i.e. above 0.9.1 actually) Did you compile yourself or obtain it from e.g. https://debian-stretch-repo.libelektra.org/pool/main/e/elektra/ ?

Is this on a cle

[2019-11-29 21:25] tom-wa commented on #3305
installed it from the debian repositories.

issue happened on a clean installation first and i double-checked it by upgrading from 0.9.0 to 0.9.1 on an other installation.

the system with the clean installation is clean newly set up debian 10.1 VM, the system with the upgraded is a former debian 9.5 unstable.

downgrading back to 0.9.0 fixed the issue on both machines

[2019-11-29 21:25] markus2330 commented on #3305
It seems to be the problem of the Debian packages. I can reproduce this issue, e.g. with libelektra4 0.9.1-1.481 from the build server, hosts still links against libproposal.so but libelektra-proposal.so.4 is not available.

I think it is simply a bug in how we build the Debian package, We do not install libelektra-proposal but some plugins (like hosts) still need it.

@tom-wa for your the best op

[2019-11-29 21:25] markus2330 commented on #3305
Then use 0.9.0 for your benchmarks.

[2019-11-29 21:29] mpranj commented on #3301
I only reported it. :smile:

[2019-11-29 21:48] markus2330 commented on #3301
And you assigned yourself :stuck_out_tongue:

[2019-11-30 10:42] Piankero commented on #2855
I cannot reproduce this error unfortunately and also do not have an idea how this can actually happen because Elektra returned -1 to the binding with an "InternalError" (https://github.com/ElektraInitiative/libelektra/blob/09f2fdc2e33cf0ea0d20251f64c9485ccd7931c3/src/bindings/jna/libelektra4j/src/main/java/org/libelektra/exception/mapper/ExceptionMapperService.java#L26-L29) but is not able to read

[2019-11-30 11:34] Piankero commented on #2742
@mpranj Which plugins did you include in the image? json for example does not exist? If I should include yaml you probably should install one of that.

Btw is sudo not installed in the image but required to mount (actually very weird).

Furthermore: this image is whopping 700 mb big, did you take an alpine version?

[2019-11-30 11:40] markus2330 commented on #2855
Do you have an explanation why the error message is so distorted?

Please add a Java unit test about an error happening in Elektra (e.g. with the error plugin). The error plugin might also be useful for the Error tutorial you started to write.

[2019-11-30 11:45] markus2330 commented on #2742
The image is constructed in a way that you do not need sudo. So simply type as first command (after docker run):
[code]

Then "sudo" will not happen in the image but if users try it out on their machine, they will have all the commands that need sudo with sudo.

[2019-11-30 11:47] Piankero commented on #2855
[This](https://github.com/ElektraInitiative/libelektra/blob/09f2fdc2e33cf0ea0d20251f64c9485ccd7931c3/src/bindings/jna/libelektra4j/src/test/java/org/libelektra/ExceptionMapperIT.java) class actually integration tests **every** exception with the error plugin.

[This](https://github.com/ElektraInitiative/libelektra/blob/09f2fdc2e33cf0ea0d20251f64c9485ccd7931c3/src/bindings/jna/libelektra4j/src/test

[2019-11-30 11:49] mpranj commented on #2742
@Piankero you can inspect the image in #3300 and add suggestions.
Unfortunately:
[code]

I think actually the image is not constructed such that sudo is not needed, I need to improve that. Or did you try it out?

[2019-11-30 11:49] Piankero commented on #2742
[code]

[2019-11-30 11:51] mpranj commented on #2742
@Piankero yes, it is configured incorrectly. Sorry, I'll try to fix it soon!

[2019-11-30 12:13] mpranj opened #3307 "Release Alpine image: update Googletest"
After the 0.9.2 release, update the official elektra docker image and update to Googletest 1.10.0 (or latest).

Cannot be done before 0.9.2 is released, as 0.9.1 tag does not work with Googletest >= 1.10.0.

[2019-11-30 13:35] mpranj commented on #2742
I tried to simply configure elektra to not write anything outside the user directory, but the tutorial includes things like editing the hosts file as root.

Maybe it makes sense that the image is run as root so these things can be done easily?
Otherwise sudo needs to be set up in the image properly, I don't know if that makes sense.

[2019-11-30 14:20] mpranj commented on #2742
I pushed `elektra/elektra:0.9.1-3` which configures kdb to write only in the user homedir.

Since not everything from the AsciiNema tutorial will work on alpine, I'm open for other suggestions.

[2019-11-30 14:22] markus2330 commented on #2742
Yes.

Otherwise sudo needs to be set up in the image properly, I don't know if that makes sense.

Maybe sudo is better, as all our tutorials use sudo.

e.g. scripts/docker/cirrus/arch/Dockerfile has sudo

Not a big deal to not have it (as we also do not have getenv)

Not a big deal: then we do not show the xerces plugin. xmltool is deprecated anyway.

This part we can remove.

[2019-11-30 14:30] markus2330 commented on #2855
Only if an exception is thrown but not which message it renders.

This test also has nothing to do with errors coming from Elektra.

See title of this issue and  [log.txt](https://github.com/ElektraInitiative/libelektra/files/3891735/log.txt):

[code]

Which part of this error message do you believe to be correct? Also this is completely broken:

[code]

[2019-11-30 14:33] mpranj commented on #2742
Thank you! I will add sudo then!

[2019-11-30 14:51] Piankero commented on #2855
This message here is just a truncated output from maven as summary and maven appends dots to indicate that there is more text to come. It would do that for all tests that have failed. It has nothing to do with the actual message.

It unit tests the correct metadata extraction and an integration test for this seems a bit of an overkill. I can add an extra integration test for the text parsing but I

[2019-11-30 15:05] markus2330 commented on #2855
So maven shuffles around the words? Even if it does it does not explain the broken first message.

"Random errors" only occur if there are some timeout problems or the software is broken. I do not see where in this case there could be a timeout.

But concentrate on an amazing tutorial first.

[2019-11-30 15:18] Mistreated commented on #160
I fixed the docker image that could not be pulled.

[2019-11-30 15:31] #3303 closed

[2019-11-30 15:44] markus2330 commented on #160
Thank you very much! It is always helpful if you write what was wrong and how you fixed it.

[2019-11-30 15:48] Mistreated commented on #160
I have no idea what was wrong, I built the image manually on the agent.

As for Dockerfile `(scripts/docker/debian/stretch)` my `Visual Code` says it has 2 emtpy lines on the end, but `vim` says its only one. I dunno does it have to do something with mistake above, maybe its just my `VS`.

[2019-11-30 16:15] darddan opened #3308 "Write plugin in rust"
I've looked at the rust bindings and trying to write a storage plugin. If I'm not overlooking something there's two things stopping me from building it. There's no types for the `Plugin` class and the `from_ptr` function in KeySet (`elektra`) is  private.

I've copied `elektra-sys` to `elektra-plugin-sys`, changed the `wrapper.h` to contain only `#include "kdbplugin.h"` and changed lines 22 and 23

[2019-11-30 16:16] bauhaus93 commented on #3297
Thanks for the solution!
Yeah, I will focus on getting the plugin ready first, and will keep this solution in mind for later implementation.

[2019-11-30 18:35] mpranj commented on #2742
I pushed `elektra/elektra:0.9.1-4` which adds sudo and reduces image size drastically.

[2019-11-30 18:57] markus2330 commented on #3308
Great job, looks nice! But this might not be enough, you also need some ways to set error/warnings, access the handle, ... Maybe @PhilippGackstatter knows more about that.

I think we should focus on making the PR for kconfig now.

[2019-11-30 19:03] darddan commented on #3308
I'm working on the `kconfig` task, but it takes so long with the CI and the docker images so I've tried this in the meantime

[2019-11-30 19:04] mpranj opened #3309 "coveralls: stopped updating"
According to https://coveralls.io/github/ElektraInitiative/libelektra the last master build was on 03 Aug 2019.

@sanssecours is this thing mismatching because we now have debian-buster-full and debian-stretch-full?
https://github.com/ElektraInitiative/libelektra/blob/3b00685cc3906d11bf19f3fed476c093e3a08bb8/scripts/jenkins/Jenkinsfile#L921

[2019-11-30 19:28] markus2330 commented on #3308
Very good idea to do this in the meantime :100:

[2019-11-30 19:29] markus2330 commented on #3308
https://www.explainxkcd.com/wiki/index.php/303:_Compiling

[2019-11-30 21:12] PhilippGackstatter commented on #3308
Seems like a good idea to me, to use a macro for generating a plugin.

The Rust bindings are only for the low-level API and do not touch the Plugins in any way, that's why there's no `Plugin` struct.

As I haven't looked at the plugin API yet, I can't give much guidance at the moment, but if you want any help feel free to ask.

`KeySet::from_ptr` can be made public, since the `from_ptr` functions

[2019-11-30 22:57] #3309 closed

[2019-12-01 06:07] markus2330 commented on #3308
You could use some subversion number like `0.9.1-1` (this we use for Debian packages and Docker images) for changes that are only relevant to the binding (like making a from_ptr public or updating docu).

If we have some problem that blocks KDE/LCDproc/GSettings progress, @mpranj might also decide to release earlier. But the subversions for bindings will not harm anyway, as it gives you flexibilit

[2019-12-01 11:35] sanssecours commented on #3309
Yes,  I think you are correct. Thanks for the detailed report and the fast fix 💖.

[2019-12-01 13:47] PhilippGackstatter commented on #3308
That would be ideal. But crates use semver and according to that `0.9.1` > `0.9.1-1`, because the `-1` is a pre-release. Maybe it would be better then to do a "pre-release" of `0.9.2` by using `0.9.2-pre.1`, `0.9.2-pre.2`, ... The `pre` is debatable, but I haven't seen something like `0.9.2-1` on crates.io.

Then `0.9.2-pre.1`is actually greater than `0.9.1`. And once `0.9.2` is released it supers

[2019-12-01 23:30] mpranj commented on #3294
Thank you for reporting. I think this might be related to #3305.

Can you check whether this is still open or if you already fixed it in 6df8d2f73f3b61a877fb3f3f9ec878a7f54ac6e4?

[2019-12-02 06:52] markus2330 commented on #3308
Ahh, ok, seems like Docker, Debian and semver handle this differently. Then any other char ~ for which  0.9.1 < 0.9.1~1, I am sure you will find one.

I would not do the pre-releases as long as we did not update Elektra's version. It would be confusing if you get from `system/elektra/version/constants` something different as the binding has. At the moment @mpranj changes the version in CMakeLists.

[2019-12-02 06:58] markus2330 commented on #3294
I just tried with the Debian package 0.9.1-1.631 and it worked.

I think it was only a faulty build or installation as `debian/libelektra-dev.install:usr/lib/*/cmake/Elektra/ElektraTargetsLibelektra-*.cmake` should actually catch all targets.

[2019-12-02 06:58] #3294 closed

[2019-12-02 07:00] markus2330 commented on #3305
I think we can close this now. With 0.9.1-1.631 I can call `kdb ls system/hosts` without any issues.

[2019-12-02 07:00] #3305 closed

[2019-12-02 07:10] mpranj commented on #3294
Good that it works now. For 1.0 it would be great to also test the built packages for errors like this.

Thank you for checking this!

[2019-12-02 08:17] Piankero opened #3311 "kdb export with `yaml` plugin does not add newline"
## Steps to Reproduce the Problem

I tried to do the asciinema recording with yaml but the missing newline makes it weird

[code]

## Expected Result

Note that `elektra $` is the user and $ the delimiter (shell configured that way in docker image)
[code]

## Actual Result

[code]

## System Information

docker run -it elektra/elektra

## Further Log Files and Output

[2019-12-02 09:09] Piankero commented on #2742
@markus2330 Before I record the new tutorial I want you to approve the whole playbook.

Here is the new version:

[code]

[2019-12-02 10:15] mpranj commented on #3311
Thank you for reporting! I can reproduce it also without the docker image.

@sanssecours can you take a look please?

[2019-12-02 10:32] markus2330 commented on #3160
daily is broken again: https://build.libelektra.org/job/libelektra-daily/21/console

Please test your agents when you add them! Also document what is to do and go over these checklists.

[2019-12-02 10:51] markus2330 commented on #2742
Wow, you even scripted it :+1: . I am already looking forward to the result.

Can you put the script into a PR so that we can discuss line-by-line?

At first glance I notice:

- many more `echo` would be helpful (it gives the reader more time to realize what is happening)
- the specification is better to be built up step by step, not everything at once
- did you see the demo in https://archive.fos

[2019-12-02 11:05] sanssecours commented on #3311
Sorry, I do not think I have time for that at the moment.

[2019-12-02 11:08] Mistreated commented on #3160
Fixed.

The problem is that the folder `git_mirror` is made from the user `root`. That triggers the error when user `jenkins` tries to do something with it.

[2019-12-02 11:30] markus2330 commented on #3160
Thank you for fixing it!

[2019-12-02 11:30] #3160 closed

[2019-12-02 11:31] markus2330 commented on #3311
workaround is something like:

[code]

[2019-12-02 11:42] Piankero commented on #3311
Doing this in the asciinema recording would be really weird...

[2019-12-02 12:37] sanssecours commented on #3311
If you want a quick “workaround”, then just replace the line:

https://github.com/ElektraInitiative/libelektra/blob/3c53b19a51b41e9588284a1943d8c25211748a42/src/plugins/yamlcpp/write.cpp#L536

with the code

[code]

.

[2019-12-02 13:02] mpranj commented on #3311
@sanssecours thank you!

I applied this patch only to the docker image. It's basically only a playground anyway.

Maybe we can fix this properly before the next release.

[2019-12-02 13:39] markus2330 opened #3312 "kconfig: wrong reorder of update_info"
## Steps to Reproduce the Problem

[code]

## Expected Result

That only Id gets updated.

## Actual Result

update_info gets moved around (outside the section `$Version` where it should be).

[code]

## System Information

- Elektra Version: master

[2019-12-02 13:49] markus2330 opened #3313 "scripts: kdb mount-kde does not work"
There is the script scripts/kdb/mount-kde which needs some love.

- [ ] should be updated to use `kconfig`
- [ ] should be updated to the new Elektra paths we use now
- [ ] (if still relevant) fix problem that there are 3 different stdrc (for contact, notes and calender). Currently mounting fails for the latter two.
- [ ] `kdb umount-kde` might be handy
- [ ] make it silent (see below)

##  Steps

[2019-12-02 14:56] markus2330 opened #3314 "kconfig: escape sequences"
In .kde/share/config/akonadiconsolerc:

[code]

The line in question looks like this (second line as rendered by vim):

[code]

or another example in digikamrc:

[code]

[2019-12-02 15:00] markus2330 opened #3315 "kconfig: round-tripping of config with common prefix fails"
Seems to be specific to changes of plasma-desktop-appletsrc

After first kdb set:
[code]

After second kdb set:

[code]

[2019-12-02 15:04] markus2330 commented on #3315
It also appears in amarok-appletsrc:

[code]

[2019-12-02 19:24] markus2330 commented on #3268
@Mistreated is there something still open? You can tick the above boxes and close the issue (or suggest that we can close it if it might reappear).

[2019-12-03 00:21] Mistreated commented on #3268
Its working properly properly last time I checked and I do not think it can reappear. Closed.

[2019-12-03 00:21] #3268 closed

[2019-12-03 08:18] PhilippGackstatter commented on #3308
[Semver only allows](https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions) `-` and `+`. Versions with `-` for pre-releases are always smaller than the version without the pre-release. And `+` is just a build number that doesn't affect the ordering.

I agree that `0.9.2-pre.1` doesn't make the compatibility to `0.9.1` obvious.

Unfortunately I believe the only options are pre-relea

[2019-12-03 11:48] mpranj commented on #160
Seems like we have problems with our docker registry (#3316 docker pull fails with `unexpected EOF`).

Since the dust after the release has settled and there are no builds going on I would suggest stopping everything and trying to clear the registry completely. After that all images should be re-built hopefully cleanly. I would backup the registry data before I start just to make sure, but I hope

[2019-12-03 12:58] Mistreated commented on #160
I think its a problem in the

image, since it is the only one failing.

I've built it manually again, but there certainly is something wrong with the image in the registry.

[2019-12-03 13:20] mpranj opened #3317 "Jenkins: docker pull fails with unexpected EOF"
To continue the discussion from #160 separately:

@Mistreated how did you do it, only on one node or did you push the image to the hub? Do you think the issue is isolated to `jenkinsNode3` and there is no problem on the hub?

[2019-12-03 13:24] Mistreated commented on #3317
I've seen this error before when I first tried to add a new agent. At the time it was the `hetzner-jenkins1` agent. The mistake just went away after few retries, I had no idea why.

I cloned libelektra and executed the following on the `jenkinsNode3`:
`docker build libelektra/scripts/docker/debian/stretch/.`

[2019-12-03 13:26] mpranj commented on #3317
Ok, thank you for fixing it! Then it does not make sense for me to clear the docker registry.

I'll try rebuilding and see if everything works now.

[2019-12-03 13:27] Mistreated commented on #3317
I've seen this error before when I first tried to add a new agent. At the time it was the hetzner-jenkins1 agent. The mistake just went away after few retries, I had no idea why.

I cloned libelektra and executed the following on the jenkinsNode3:
docker build libelektra/scripts/docker/debian/stretch/.

Usually, agents are reusing the local image, once it is pulled, but I have no idea why would pu

[2019-12-03 13:31] mpranj commented on #3317
The images are rebuilt every month to my knowledge (such that software inside the images is kept somewhat up-to-date). This happened also for December now, so it's possible that the newest image was not already cached locally.

[2019-12-03 13:31] markus2330 opened #3318 "merge: getConflicts name too general"
The API getConflicts needs to be renamed to begin with elektraMerge. E.g. elektraMergeGetConflicts.

[2019-12-03 13:35] mpranj commented on #3318
Is the elektra prefix not "reserved" for internal usage, or is getConflicts only used internally?

[2019-12-03 13:40] markus2330 commented on #3318
The elektra prefix is normal for all the libs except of the core. But also in the core we have quite some public symbols starting with elektra, e.g. for plugin loading (elektraPluginOpen, ...) Adding the elektra prefix to all functions in the core would be nice but it would be at least as much effort as #3115, so way beyond our capacity.

[2019-12-03 13:41] markus2330 commented on #3318
But for the extra libs (like libmerge) we should take care that everything starts with elektra. Thus this issue.

[2019-12-03 13:43] markus2330 commented on #3317
I hope this still happens, as @Mistreated did not add the libelektra-monthly build job.

[2019-12-03 13:44] markus2330 commented on #160
see https://github.com/ElektraInitiative/libelektra/issues/3317

[2019-12-03 13:47] markus2330 commented on #3317
@ingwinlu do you still know what the monthly build job did and why it did not have a Jenkinsfile?

[2019-12-03 14:22] Mistreated commented on #3317
I recreated the old Jenkins server. I can now recreate the monthly job.

[2019-12-03 14:25] markus2330 commented on #3308
There is a difference between ordering and precedence.

Somehow a tool needs to decide which version to pick if several versions (only differing in the build number) are available. So ordering somehow needs to be defined.

I would say if the Cargo implementation does the correct thing (0.9.1 < 0.9.1+1 < 0.9.1+2 ordering), we should simply use the build number for fixes in docu.

At least the semve

[2019-12-03 14:28] Mistreated commented on #3317
Done.
I do not know it's exact steps, but I will look into them in the evening.

[2019-12-03 14:31] markus2330 commented on #3317
Yes, it might be helpful to keep it (simply stop the container after use and do not start it on bootup).

[2019-12-03 15:10] mpranj commented on #3308
I agree that having the versions in sync makes the compatibility intuitively obvious, but I would leave the decision up to the maintainer of the binding.

I don't have anything against doing releases more often than our somewhat-quarterly release cycle. For me it would depend on the changes. Currently we don't have so much in the changelog that another release makes sense to me. Maybe we could sch

[2019-12-03 15:22] #3311 closed

[2019-12-03 16:21] mpranj commented on #3317
Now also push fails with `device or resource busy` (I have seen this before): https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-3319/2/pipeline

On `jenkinsNode3VM`:
[code]

[2019-12-03 17:08] markus2330 commented on #3317
Maybe increasing the timeout in the nginx of a7 helps: https://github.com/moby/moby/issues/22188#issuecomment-328011573

[2019-12-03 17:14] markus2330 commented on #3131
@Chemin1 seems like the list was not complete after all. I missed elektra_settings_backend_sync. It did not use the 3-way merging (mainly because it is C code and it would not be so easy to call the old merging API there but this is now, thanks to you, no longer an issue) but it has a TODO "conflict management" to be resolved.

[2019-12-03 19:35] mpranj commented on #3317
I increased the timeout, let's see.

[2019-12-03 22:21] mpranj commented on #3317
Increasing the timeout did not help. I noticed that (only) `jenkinsNode3VM` was running debian packaged docker 18.x so I upgraded to the upstream docker packaged 19.x version (which was used by all other nodes already).

`jenkinsNode3VM` was now able to push and pull images without a problem. I hope it remains like that.

[2019-12-04 08:50] Piankero commented on #2742
https://github.com/ElektraInitiative/libelektra/pull/3320

[2019-12-04 09:30] markus2330 opened #3323 "kdb plugin-info yaml"
## Steps to Reproduce the Problem

plugin-info does not seem to use provider information

[code]

## Expected Result

That the plugin that would be used for `yaml` will be shown.

## Actual Result

Error output:

[code]

## System Information

- Elektra Version: master

[2019-12-05 17:14] Chemin1 commented on #3318
Makes sense. I'll get to that as soon as I'm not in bed with fever anymore.

[2019-12-07 23:43] Chemin1 opened #3325 "list-commands not bold"
In the [Docker container for running all tests](https://github.com/ElektraInitiative/libelektra/blob/master/doc/tutorials/run_all_tests_with_docker.md).

Elektra compiled from ad0ac3d1689211c1b8656cd838cb4cf2863624ae.
GNOME Terminal 3.28.2.

## Does not work

`doc/help/kdb-list-commands.md` says there should be bold output but either I get an error or no bold output.

<pre>jenkins@0d2b25b79bdb:~/w

[2019-12-08 12:19] markus2330 commented on #3325
Thank you for reporting this bug!

Can you say what you read and what you expected?

I only see one occurrence of "bold" and it is next to the command-line option `-v`. For me the commands are bold if I add this option.

See: `src/tools/kdb/listcommands.cpp`

The command must always be the first after `kdb`. I agree this could be more clear in the `kdb` man page.

[2019-12-08 12:37] markus2330 commented on #160
Jenkins reports: jenkinsNode3VM  (offline)

@Mistreated would be great if you could setup some way of monitoring.

[2019-12-08 21:23] Chemin1 commented on #3325
After reading your answer I don't think that this is a bug anymore. I think my problem was that I thought that specifying`-C` (also when default)  would turn the list bold every time. Now it is clear to me, that this is only true if `-v` is specified.

Even though this makes sense to distinguish it from the description coming from `-v`, I think it's also a bit strange that the color changes depend

[2019-12-09 03:20] markus2330 commented on #3325
I reopen as it not yet merged. Furthermore the second point "The command must always be the first after kdb." is not yet dealt with.

[2019-12-10 10:40] sanssecours opened #3330 "Python: Upgrade CMake Code for CMake Policy 78"
# Steps to Reproduce the Problem

1. Set the new behavior for CMake Policy `0078` in [`src/bindings/swig/python/CMakeLists.txt`](https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/swig/python/CMakeLists.txt):

[code]

2. Create the build system:

[code]

# Expected Result

CMake should be able to create the build system successfully.

# Actual Result

CMake fails and prints t

[2019-12-10 11:04] markus2330 commented on #3330
Thank you for reporting this problem!

[2019-12-10 14:54] #3267 closed

[2019-12-11 14:23] sanssecours opened #3332 "Augeas: Improve Handling of Large Files"
# Description

Currently the Augeas plugin uses the function `ftell` to retrieve the size of a file:

https://github.com/ElektraInitiative/libelektra/blob/9e98a62c395f495d28a019dee9681dcfec2451cd/src/plugins/augeas/augeas.c#L321

. Afterwards the plugin uses `elektraMalloc` to allocate memory for the file content:

https://github.com/ElektraInitiative/libelektra/blob/9e98a62c395f495d28a019dee9681d

[2019-12-14 14:02] #3301 closed

[2019-12-16 14:36] dominicjaeger opened #3338 "Merge: Show conflicting keys"
Mentioned by @markus2330 [here](https://github.com/ElektraInitiative/libelektra/pull/3260#discussion_r355181496).

Currently the merge library counts the number of conflict but does not keep track of which keys produced the conflicts. However, UIs are interested in this information.

The C++ merge tool used an additional KeySet to collect those keys. We could also mark keys using metadata instead.

[2019-12-16 14:44] mpranj commented on #3338
Thank you for looking into this!

Depending on the original KeySet size it _might_ be cheaper to have the additional KeySet instead of marking them with metadata and then iterating again and collecting the correct Keys. It would depend on the rest of the logic.

[2019-12-16 14:45] #3281 closed

[2020-01-14 04:36] markus2330 commented on #3338
Yes, I also think this is up to you. It should be as easy for the client as possible to inform the user about the conflicts. And it should also be hard to use it wrong, so it should be as unlikely as possible that someone confuses conflicts from an earlier merge attempt with the conflicts that occurred by the last invocation.

[2020-01-14 04:54] markus2330 commented on #3332
Thank you for reporting the potential problem.

[2020-01-19 17:18] stefanhusmann opened #3339 "Build error: Compilation stops at ruby plugin?"
## Steps to Reproduce the Problem

I try to build elektra using this build function:
[code]
With ruby 2.7.0 installed this fails.
[buildlog.txt](https://github.com/ElektraInitiative/libelektra/files/4082969/buildlog.txt)
This is true for both  tarball version 0.9.1 and fresh sources from master.

Downgrading to ruby 2.6.5 or deinstalling ruby at all solves the issue. But as I want to provide packa

[2020-01-19 20:37] mpranj commented on #3339
Thank you for reporting the problem! As a workaround you can disable the ruby bindings and plugin via CMake directives like this:

[code]

We will leave the issue open until the underlying problem is resolved. @BernhardDenner would you have time to look at this?

[2020-01-20 13:17] mpranj commented on #160
`a7` (and therefore `v2` and `i7`) are down. I contacted the admin.

[2020-01-24 09:52] kodebach opened #3341 "[WIP] opts: Specification for sub-commands"
**This proposal is still a work in progress. The specification is not final, but comments are welcome**

Currently `libopts` can be used to implement an application with multiple sub-commands (e.g. `kdb`), but it is a bit tedious and has to be done manually. This is a proposal for a specification that would allow `elektraGetOpts` to parse sub-commands.

The main idea is the following:

_If a key i

[2020-01-24 09:53] kodebach commented on #3341
@markus2330 please take a look.

[2020-01-24 10:10] kodebach commented on #3341
I also had an idea for integrating this with the code-generation. Basically, we would generate a header with a function for each of the terminal sub-commands (function names would be given in the specification). The implementation of these functions would be supplied by the user. Another generated function `int runCommand (Elektra * elektra)` that invokes the correct command-function would then be

[2020-01-25 14:43] mpranj commented on #3341
I won't interfere with the design decisions, but it would be great to have this and thank you for working on it. The main idea sounds good to me.

[2020-01-25 15:46] markus2330 commented on #3341
@mpranj if you can and want to contribute something to the discussion, please do it.

I hope I will have tomorrow time to look at it.

@ulrikeschaefer said she is already working on the topic again.

[2020-01-25 15:48] markus2330 commented on #3341
@kodebach in general, I think such discussions are easier as PR, adding a file in design decisions then it is possible to comment on individual lines. And after we agree on something, we also have it permanently documented.

[2020-01-26 05:39] markus2330 commented on #3341
@kodebach thank you so much for the proposal! I really like it!

We also want the same specification to be used for auto-completion.

Do I understand correctly: Such keys will actually not be options (neither in KDB nor for elektraGetOpts). Maybe the metakey name `command` (or the already proposed `application/name`) is better, as the effects are not limited to `opt`.

Do I understand correctly: T

[2020-01-26 05:44] markus2330 commented on #3339
I am not sure if this is something that can be fixed on our side. For me it looks like the used swig is incompatible with the used ruby? Which distribution is this?

[code]

@manuelm does this tell something to you?

[2020-01-28 09:46] mpranj opened #3345 "network / ipaddr: memleak on macOS 10.15"
Memleak when using `ipaddr` plugin tests on macOS 10.15 ([cirrus log](https://cirrus-ci.com/task/4740944293527552)). Error triggered by `network` plugin tests.

Thanks to @sanssecours for finding it.

[2020-01-28 13:26] manuelm commented on #3339
https://github.com/swig/swig/issues/1689

[2020-01-28 13:31] mpranj commented on #3339
Thank you for looking into it! As it is an upstream issue, we will close it.

[2020-01-28 13:31] #3339 closed

[2020-02-25 11:06] mpranj opened #3353 "FreeBSD 12.1: ccode / tcl shelltests fail"
With cirrus FreeBSD images 12.1 updated from 12.0 the clang version notably changed from 6.0.1 to 8.0.1. For some reason boost is now found and the `tcl` plugin is automatically included, resulting in test failures.

## Expected Result

Tests succeed.

## Actual Result

The following tests FAILED:
	 38 - testshell_markdown_ccode (Failed)
	108 - testshell_markdown_tcl (Failed)

## System Informatio

[2020-02-25 19:31] mpranj commented on #3353
@sanssecours thank you so much for working on this!  When you make the PR, please enable tcl in cirrus again.

[2020-02-26 06:34] markus2330 commented on #3353
Thank you for fixing the build server. I am okay with the tcl tests not running, tcl is a low-priority plugin. We were already discussing if we might remove it, together with xmltool. But we thought maybe we keep it, as xmltool could be useful for migration from ancient Elektra versions and tcl is a quite small plugin.

[2020-02-26 21:36] #3353 closed

[2020-02-29 17:02] sanssecours commented on #3223
I updated the behavior of YAML CPP and the Directory Value plugin in PR 3357. The pull request also updates part of the documentation to take the mandatory `array` metadata into account.

[2020-03-01 07:30] kramlat commented on #1521
still planning a dot net one? can you make it work with dotnet core and support c#, f#, and vb.net?

[2020-03-01 07:38] kramlat commented on #1521
I was hoping a version of aether desktop (a project of mine can use elektra as the base configuration system, here is what I have for a goal.  Remember: Windows 10 will be discontinued 14th of october, 2025, so I want to build a linux distro for those that microsoft will leave behind, something similar, so I need a registry, which you provide, next I will need dbus, and powershell integration whic

[2020-03-01 21:46] mpranj commented on #3317
Seems that this was fixed.

[2020-03-01 21:46] #3317 closed

[2020-03-02 02:46] markus2330 commented on #1521
Yes, we still would like to have it. Yesterday someone contacted me that he has interest in integration of LINQ-like languages. If he choses to work on LINQ, .NET bindings would be needed for that.

If you want it quickly and exactly as you need it, of course, doing it by yourself is the fastest way.

Btw. @mpranj is now also working on integrating Elektra in GNOME (besides to KDE).

[2020-03-02 06:56] #2833 closed

[2020-03-02 19:40] mpranj opened #3360 "elektrad: improve management of kdb handles"
KDB handles are currently held by `elektrad` for 60 minutes of inactivity before being closed.

Depending on the scenario this might have to be improved. One possibility is having a `MAX_SESSIONS` limit and removing the oldest sessions to mitigate e.g. denial of service. Other suggestions are welcome.

[2020-03-02 23:36] raphi011 commented on #2924
any ETA on this?

[2020-03-03 08:05] Mistreated commented on #2924
Im gonna look it up over the weekend.

[2020-03-05 15:28] dorvan commented on #1521
@markus2330 we are working on same directions, but on different bases, for example, we are interested to use Antd for a well knows config, role based, for entire system. so we need to use elektra like "dbus" to configure services, modules, kernel. and interchanging data to make whole system reactive.
The first problem (and the interest in elektra initiative) it's related to keep /etc simple and su

[2020-03-05 15:29] dorvan commented on #1521
@markus2330 firstly all things needed to work will be standalone or without external deps.