[2022-05-16 14:48] kodebach commented on #4281
Such things are always easiest to answer, by looking at the source for `ksAtCursor`:

https://github.com/ElektraInitiative/libelektra/blob/eac1c6a74cb75bb84ebfae2247b3cc531259ded8/src/libs/elektra/keyset.c#L1801-L1823

Here we see two things: 1) the docs and the source code agree, when `NULL` is returned 2) as long as we actually pass a valid `KeySet *` pointer and the position isn't out of range,

[2022-05-16 15:01] flo91 commented on #4281
Thank you for the detailed explanation!
So I understood most things correctly.
The only thing I wasn't sure about was if `ks->array[pos]`, which gets returned by `ksAtCursor()`, can contain `NULL`.
But if that's not the case, the loop you mentioned should be fine!

[2022-05-18 06:11] markus2330 commented on #4347
If you need features beyond the HL-API it is probably better that you use the LL-API (low-level, i.e. kdb.h). Mixing them probably only adds complications for you, as you need to understand the inner workings of both HL and LL.

What exactly would you like to do with meta-data? Maybe it is something important we missed to support in the HL-API.

[2022-05-18 12:56] Kochise commented on #4347
Well, from my understanding, there is no metadata handling from the HL-API anyway :

https://github.com/ElektraInitiative/libelektra/blob/master/src/include/elektra.h

Hence the mixing with the LL-API, which may not be as "user friendly" yet probably more efficient and "exhaustive".

Regarding the use of "metadata", I think there is a misunderstanding due of the common naming.

Obviously some reso

[2022-05-18 18:58] lukashartl commented on #4327
@kodebach looks better now :)

[2022-05-19 13:51] h-s-evbox commented on #4349
Thanks for the response!
We would like however to still be able to specify the directories for the user: and system: namespaces.
So much like we do with the kdb command:
`XDG_CONFIG_DIRS="/var/tmp" kdb set system:/sw/myorg/toto/#0/current/path2/KEY2 "test"`

we want through the API to do the same. We can try to compile libelektra ourselves, are there compile flags/modifications we can do to accomp

[2022-05-20 13:46] markus2330 opened #4355 "lineendings improvements"
- [ ] improvement of placement (get+set)
- [ ] add full example how to mount+use plugin
- [ ] does not fail on "Inconsistent line endings", even when setting keys
- [ ] warning when config file does not exist

[code]

[2022-05-20 13:50] #4306 closed

[2022-05-20 14:07] #4303 closed

[2022-05-21 10:20] #4317 closed

[2022-05-21 13:30] markus2330 opened #4356 "[CM P2] web-ui 2.0"
- [x] docu full of errors, e.g. in tutorial:
  - [ ] no folder "client"
  - [x] remove section "Using a Different kdb Executable"
  - [x] kdb run-web not available (run-webd)
- [ ] ip/port config via Elektra
- [ ] publish webui demo #2913
- [ ] automatic test cases that do at least smoke tests
- [x] pump version number to 2.0
- [x] few open items in #4299 (dependabot.yml, open dependabot PRs).

[2022-05-21 16:03] markus2330 opened #4357 "Kotlin binding 1.0"
Follow-up from #4294:

- [x] #4393
- [ ] An example application
- [ ] An example using plugin code (current example covers most functions)
- [ ]  Array handling functions
- [ ]  Plugin error creation (already discussed in https://github.com/ElektraInitiative/libelektra/pull/4365#issuecomment-1140314385)

Maybe sometime in the future:

- [ ] Use Kotlin native to integrate with the C library directl

[2022-05-21 20:34] lukashartl commented on #4299
I closed both #4332 and #4296 , because we did already update those dependencies in #4353 .

[2022-05-21 20:37] lukashartl commented on #2441
`elektrad`, `web-ui` and `webd` received fixes for the namespace problems in

* #4299
* #4353

I'll close this issue and we will track further issues in:

* #4356

[2022-05-21 20:37] #2441 closed

[2022-05-25 10:04] markus2330 opened #4360 "Debian: get listed in extrepo"
Debian has a tool "extrepo" in which you can search for and enable external repositories.

Once Elektra's Debian repos are registered there, users could type:

[code]

To search and enable Elektra's Debian repository.

See here on how we get added: https://salsa.debian.org/extrepo-team/extrepo-data

[2022-05-25 16:07] leothetryhard commented on #4093
[CM T3] Update: There are new issues when trying to run HelloJava.
When executing `./gradlew hello:run` the build fails in example 5:
![hellojava_error_build](https://user-images.githubusercontent.com/25547927/170306387-cb6797bd-d3e4-40c9-adff-127b6f2fa858.png)

The line of concern is `Key k = ks.lookup(key).orElseThrow(AssertionError::new);`
My colleague @lukashartl was able to reproduce the prob

[2022-05-25 19:12] Eiskasten commented on #4302
Thank you. I think that the first option is the best one. This would also prevent a failure of a plugin build which does not require any experimental plugins which might not build or work. However, providing binaries would be the last option to my opinion as the AUR is meant to be source based as far as possible.

As for now, the fixed package versions can be found at https://aur.archlinux.org/pac

[2022-05-27 08:18] #4183 closed

[2022-05-27 09:12] #4312 closed

[2022-05-27 09:27] markus2330 commented on #4349
One of Elektra's goals is to abstract from configuration sources, i.e. syntax and location of configuration files. So it cannot have a direct way for applications to choose which configuration file they want to use as this would be violation of the abstraction. It is like when you could choose where on your block device some specific file is written, it would violate the abstractions file systems

[2022-05-27 11:39] kodebach commented on #4349
AFAIK this isn't possible right now. It would also go against the idea of separate backends/mountpoints.

To me it seems like Elektra really is not at all a good fit for your use-case. Why do you want to use Elektra?

[2022-05-27 12:33] Kochise commented on #4349
Maybe a "symlink" of `/etc/kdb` and `$home/.config` would do it, though...

[2022-05-27 12:49] kodebach commented on #4349
Changing the paths at runtime is not really possible, because it is not the intended use-case of Elektra. The idea is that user have a consistent experience of where the config files are. If every application could define it's own paths the, whole thing would be chaos again.

This sounds more like you want to have a custom version of Elektra that uses different paths and not like you need your app

[2022-05-27 14:51] Kochise commented on #4349
Well, not the way it works currently, the Docker is ran in RAM in an embedded system yet persistent storage is present in the form of FLASH memory. So the idea is not to use the default/traditional `user:` and `system:` paths in RAM but redirect them into the FLASH storage. It's not trying to mess with the "intended" use-case of `Elektra` as I perfectly understand the "user's consistent experience

[2022-05-27 15:18] kodebach commented on #4349
Like I said, if you want to change the paths that Elektra uses, it would be easiest if you compiled it yourself. There are CMake variables for the paths you just need to configure them.

If you are developing for an embedded system (where I would assume some constraints on available storage size), I would suggest compiling a custom version of Elektra anyway. There are some plugins/libraries/bindin

[2022-05-27 19:57] kodebach commented on #4349
Yes, it's not well documented (since the feature is mostly used for testing/during development). It is briefly mentioned in the [docs for compiling](https://www.libelektra.org/compiling/compile). It also comes up in various other tutorials, but isn't explained well and there is also a partial explanation in [the README](https://www.libelektra.org/plugins/resolver) for the `resolver` plugin (this i

[2022-05-28 08:16] Kochise commented on #4349
Or just creating a resolver that can accept user path ?

[2022-05-28 09:55] kodebach commented on #4349
Yes, creating a custom resolver is also an option, but that is a much bigger task than just re-compiling Elektra.

[2022-05-28 13:22] Kochise commented on #4349
But then in what should it be any different than `resolver_fm_xhp_x` ?

[2022-05-29 10:14] lukashartl commented on #4356
@markus2330 please clarify what "open items" means 😸

[2022-05-29 15:33] markus2330 commented on #4356
You already fixed those! I fixed/ticked it.

[2022-05-29 17:10] mandoway opened #4368 "Bugs in JNA binding (boolean and null)"
1. When setting a Key value to a boolean with the JNA binding, the actuallly stored value will be "true" or "false" and not "1" or "0" (https://www.libelektra.org/decisions/boolean).
https://github.com/ElektraInitiative/libelektra/blob/f1b341bbe3cf3ae75df4920282c80dd6ad1c679b/src/bindings/jna/libelektra/src/main/java/org/libelektra/Key.java#L223-L226

2. The value of a Key cannot be set to null on

[2022-05-30 09:18] h-s-evbox commented on #4349
The attempt to "trick" libelektra using symlinks, I tried the following:

[code]

[2022-05-30 11:43] markus2330 commented on #4349
You need to symlink the whole directory.

As the plugin "resolver" needs to rewrite and rename the file to be safe on concurrent writes, symlinking only the file does not work for you. It might work with the plugin "wresolver" but I wouldn't use it as it is much less reliable (e.g. on computer crashes you might have half-written config files).

best regards

[2022-06-01 10:15] Eiskasten commented on #4302
It is possible and it is already done this way. The web interfaces just generates separate pages for each package which results into multiple links.

Thank you for mention them, they are removed now.

I wonder how a PR for this issue should look like since the PKGBUILD is committed in the AUR and I prefer not committing it here since it would violate the single source of truth principle.

[2022-06-01 11:41] kodebach commented on #4302
I think it's just weird formatting in the feedback. The deduction was because of the missing PR for #4001 (you and @bhampl are assigned to this issue).

[2022-06-01 12:57] leothetryhard commented on #4356
Since we pull elektra/web:latest from dockerhub, the folder to be in shouldn't relevant, or am I missing something?

[2022-06-01 13:56] leothetryhard commented on #4356
Not sure what you mean by that, please clarify.
I ran `run-elektrad`and kdb run-webd like in the example and it worked.
@markus2330

[2022-06-02 09:27] markus2330 commented on #160
As reported in #4369 Jenkins does not build PRs anymore. We are working on it.

[2022-06-02 17:08] markus2330 commented on #160
@lukashartl fixed the problem, PRs are now building again

[2022-06-03 13:47] kodebach commented on #4368
In the current API only `key.setNull` would make sense, alternatively `key.setBinary(null)` would be an option. I'd prefer the explicit `setNull`, but `setBinary(null)` would be consistent with the underlying C API, where a null key is always binary.

[2022-06-03 13:59] kodebach opened #4370 "CI broken because of elektra-web-base docker build"
It seems the Jenkins pipeline is broken right now, because of the job that builds the `elektra-web-base` Docker image. The job fails in all PRs that have recently been built.

[2022-06-03 14:02] markus2330 commented on #4370
Please give more information: error message etc.

[2022-06-03 14:07] kodebach commented on #4370
Nevermind, I found a recent build where the job succeeded. Either I look at the wrong logs or it was just a coincidence that multiple builds failed with the same issue.

[2022-06-03 14:07] #4370 closed

[2022-06-03 16:41] markus2330 commented on #4356
You are right, if this docker command works, everything should be fine.

Yes, exactly, the section "Using a Different `kdb` Executable" is simply outdated and needs to be removed.

I updated the top-post.

[2022-06-04 01:50] #3827 closed

[2022-06-04 01:50] #3818 closed

[2022-06-04 01:50] #3817 closed

[2022-06-04 14:03] markus2330 commented on #4302
Yes, it was only confusing because of the formatting. The contrary is true: the group got plus points because of this excellent package update. Great that you found out how to split the package.

I wonder why it is ../LICENSE.md for one package and **../**../LICENSE.md for the other package?

The whole "optdepends" can be removed, the python2 bindings+plugins are already removed, we now have only

[2022-06-07 09:08] tucek commented on #4368
I'm going to fix this tonight. I agree with @kodebach `Key#setNull()` is currently the consistent approach for the Java API.

[2022-06-07 23:15] tucek commented on #4368
@kodebach @markus2330 (ad https://www.libelektra.org/decisions/null)
Should we be able to determine whether a key actually has a value? How do i get this from the C API?

[2022-06-08 00:42] tucek commented on #4368
created draft PR https://github.com/ElektraInitiative/libelektra/pull/4372

[2022-06-08 12:04] #4281 closed

[2022-06-08 12:04] #4279 closed

[2022-06-09 20:20] tucek commented on #4368
ready to be merged with PR #4372

[2022-06-10 07:14] markus2330 commented on #4368
Fixed via https://github.com/ElektraInitiative/libelektra/pull/4372

@mandoway @Gratla does this now need any adoptions for the Kotlin binding? Would be great to see this fixed for T3.

[2022-06-10 16:33] mandoway commented on #4368
For booleans: no.
Since we use getters/setters from JNA.

For null values: yes.
We currently set the value to an empty string when `null` is passed to the `set()` function.

[2022-06-15 09:08] mandoway commented on #4368
Kotlin binding is adjusted to these fixes in PR #4374

[2022-06-16 12:00] #4294 closed

[2022-06-17 07:22] oliv3r opened #4392 "kdbRUBY_wrap causing errors on build"
Trying to package elektra v0.9.9 (and ongoing process lol) https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/30948 fails since a couple of days ont he ruby tests (example build log: https://gitlab.alpinelinux.org/oliver/aports/-/jobs/746078)

## Steps to Reproduce the Problem
I use https://gitlab.com/esbs/package_builder-alpine/ to create a dockerized build environment ...
[code]

## E

[2022-06-17 09:02] #2313 closed

[2022-06-17 09:11] kodebach commented on #4277
All the PRs created by dependabot fail because of the missing line in the release notes. I don't think there is a direct way to tell dependabot to add such a line. AFAICT our options are:

1. Manually fix every dependabot PR (kinda defeats the purpose)
2. Modify the Jenkins CI, so that PRs by dependabot don't need a release notes line
3. Maybe a Github Action could be used to automatically add the

[2022-06-17 10:00] markus2330 commented on #4357
Please tick what was done and write here what is still left undone as future work.

[2022-06-17 10:13] markus2330 commented on #4294
An amazing job was done here! :fireworks:

[2022-06-17 10:17] markus2330 commented on #4392
Thank you for reporting this problem!

@BernhardDenner are you still maintaining the ruby plugin? Can you take a look?

[2022-06-17 10:29] kodebach commented on #4392
I don't know much about SWIG or Ruby, but the code where the compile error occurs is generated by SWIG. So maybe this is simply an incompatibility between the SWIG and Ruby versions used.

[2022-06-17 12:49] mandoway commented on #4357
We can't tick the options so here is a list of future work:

- Musts:
  - Publishing (config is present)
- Optionals:
  - An example using plugin code (current example covers most functions)
  - Array handling functions (open discussion for the best fitting place for this functionality, see https://github.com/ElektraInitiative/libelektra/pull/4365#issuecomment-1140327073)
  - Plugin error creation

[2022-06-17 14:43] oliv3r commented on #4392
Sadly, neither do I; so I can't really resolve it, other then disabling these bindings .., so lets see what @bernharddenner says :)

[2022-06-17 16:57] markus2330 commented on #4392
@manuelm is our SWIG guru :wave:

[2022-06-17 17:15] markus2330 opened #4393 "Publishing Kotlin Bindings"
It is probably best if we directly include the publishing of Kotlin bindings to our publish process like it is done with the JNA bindings.

Who wants to manually publish the Kotlin bindings for this release (0.9.10) and add publishing code for future releases?

[2022-06-17 17:18] markus2330 commented on #4357
Thank you for summarizing! I updated the top post!

[2022-06-18 10:00] kodebach commented on #4392
I look into this again, and the lines that cause the errors are actually copied from our `kdb.i` file. The errors should be fixed in #4394. I also fix the tests of the `date` plugins, so now all tests should run successfully on Alpine as well.

[2022-06-18 13:07] leothetryhard commented on #4093
#4378 implemented:

 * [x]  Check whether the keys are already available in the key database
 * If not, save them to the key database
 * If they are available, load their values

 * [x]  Update meta data on a key
 * [x]  Use Key iterator to dump meta data

[2022-06-18 20:57] #3869 closed

[2022-06-18 20:57] #1103 closed

[2022-06-18 20:57] #3124 closed

[2022-06-18 22:02] #3492 closed

[2022-06-19 15:46] lukashartl commented on #4299
further issues are tracked in #4356

[2022-06-19 15:46] #4299 closed

[2022-06-19 15:55] lukashartl commented on #4277
I think we should opt for option 2. As we use Jenkins for most parts now, we should stick with it. The script `scripts/build/run_check_release_notes` checks whether a new line has been added to the release notes. Dependabot uses branch names that start with `dependabot/`, so we could just skip the check if the branch name starts with `dependabot/`.

/cc @markus2330 what do you think?

[2022-06-19 16:15] kodebach commented on #4277
The disadvantage of this would be that automated dependency updates are not mentioned in the release notes unless we manually add them later.

[2022-06-20 11:13] oliv3r commented on #4392
Thanks @kodebach, can we expect a v0.99.10 to address this? (i was packaging v0.99.9, where I'd avoid adding patches if we can jump to v0.99.10 instead).

[2022-06-20 18:05] markus2330 commented on #4392
Yes, we plan a new release soon! We have a meeting the day after tomorrow and will discuss it.

[2022-06-20 18:39] markus2330 commented on #4277
I don't think that we have to do any automation in this case: dependabot didn't do anything for quite a long time, only recently a few PRs showed up (and probably even less would show up once we do the exclusion of non-security relevant files). So continue doing everything manually is a sensible choice. The patches from dependabot are trivial, writing the release notes is the main effort of the wh

[2022-06-20 20:32] kodebach commented on #4277
I'm not sure why dependabot didn't create PRs. Maybe because we didn't have a config file. However, some of the dependencies that are updated in the recent PRs are years out of date. So the PRs did not just show up, because the dependencies had recent updates. In fact in the JavaScript world some libraries are updated multiple times a week, or even multiple times in a single day.

If we have to ma

[2022-06-21 13:51] markus2330 commented on #3909
Let us focus on KDE&GNOME.

[2022-06-21 13:51] #3909 closed

[2022-06-21 16:30] tucek commented on #4368
@kodebach i think we can close this issue, since jna and kotlin fixes are merged?

[2022-06-21 16:51] #4368 closed

[2022-06-21 17:01] kodebach commented on #4093
I'm not 100% sure without looking at the code, whether or not the current `kdbGet` would clear the key. In the `new-backend` branch IIRC I took the approach that after `kdbGet` the part below `parentKey` matches exactly what is persisted in the KDB. Otherwise, you'd need to manually clear the `KeySet` before calling `kdbGet` to make sure you actually get the persisted config, if e.g. a key was rem

[2022-06-21 23:19] kodebach commented on #4277
Here's an example of what happens, when dependencies are updated frequently: https://github.com/ElektraInitiative/libelektra/pull/4379#issuecomment-1162449461

dependabot sensible closes the old PR and opens a new one. But if PRs need manual intervention or we just don't merge them and just leave them lying around, dependabot just creates unnecessary load on the CI servers.

[2022-06-22 06:02] markus2330 commented on #4277
Please do not get entangled too much in unimportant issues. It is important because:

Releases is what people are supposed to use. Every update in between is just for us developers.

It does not so much because we abort early if no release notes are found.

[2022-06-22 08:20] #4392 closed

[2022-06-22 08:29] kodebach commented on #4277
I don't understand why this unimportant...

What I understood is: You suggest that we should publish a new version of Elektra every time a dependency gets updated. That seems crazy to me. First of all to make this at all feasible we would need a continuous deployment setup that fully automatically creates all the release artefacts so that just need to press a button to give it a number an publish

[2022-06-22 11:58] oliv3r commented on #4392
@markus2330 thanks! That'll be great; I'll wait a few days to bump the version then.

[2022-06-22 13:58] markus2330 commented on #3696
Bug still present for me.

[2022-06-22 14:22] tucek commented on #4093
I think the best course of action is to improve the example by actually writing a key to KDB and then fetching it and removing it afterwards. do you agree?

[2022-06-22 14:46] Milangs commented on #4280
Everything finished except following issue: https://github.com/ElektraInitiative/libelektra/pull/4354#discussion_r884688010

[2022-06-22 14:58] markus2330 commented on #4093
This would also tests many other things which you might actually to avoid to test :wink:

[2022-06-22 15:01] tucek commented on #4093
Could we then just try to read a key that is guaranteed to be already there? Would you have any candidates in mind?

[2022-06-22 15:57] kodebach commented on #4093
The docs say `kdbGet` only appends, but there could very well be a bug. There are definitely some `ksClear` calls in `kdbGet`, so it might be that the `KeySet` is cleared before the keys are appended.

https://github.com/ElektraInitiative/libelektra/blob/a5b8684ed10a939b94597e587730ae5b26b09128/src/libs/elektra/kdb.c#L1426

https://github.com/ElektraInitiative/libelektra/blob/a5b8684ed10a939b94597

[2022-07-05 08:58] mpranj commented on #160
The build system & community server will be down from 11:15 CEST for updates & maintenance. (Expected downtime: <15min.)

[2022-07-05 13:41] markus2330 commented on #4093
system:/elektra/version/infos/licence contains BSD

Is this still the problem in the new-backend branch? We should clean it up, can you please create an issue? (@kodebach)

[2022-07-05 13:52] kodebach commented on #4093
To quote myself from [above](https://github.com/ElektraInitiative/libelektra/issues/4093#issuecomment-1162019694):

It's also described this way in the updated documentation in `new-backend` (some docs may be outdated).

[2022-07-05 15:10] atmaxinger opened #4401 "let root access other user's configs"
Currently, the resolver plugin implements the following lookup mechanismns:
- reading from `passwd` (using the user id)
- environment variable `XDG_CONFIG_HOME`
- environment variable `HOME`
- environment variable `USER`
- buildin (?)

When kdb is run using sudo
- user id is 0 (root),
- `HOME` is `/root`,
- `USER` is `root`.

In the `record` tooling (#4399 #4371), we want to store recording inform

[2022-07-05 19:47] kodebach commented on #4401
For the `passwd` resolution, we should use `SUDO_UID`.

For the `HOME`, `XDG_CONFIG_HOME` and built-in fallback I don't see a good solution when using `sudo`.

Also when you do

[code]

and this creates a new file, the file will be owned by `root`, unless we also add special code for this.

Also, what if somebody actually wants to use `/root` when doing `sudo kdb get user:/foo`? I guess they could

[2022-07-06 10:56] atmaxinger commented on #4401
So in summary create a new build configuration for the resolver, i.e. `resolver_fm_s_b` where `s` stands for `SUDO_USER`, and mount `user:/elektra/record` with this custom resolver. Sounds easy enough. Where's the catch? 😆

[2022-07-06 11:23] markus2330 commented on #4401
Yes, good point. Unfortunately doas only has DOAS_USER but not DOAS_UID. So we probably need to implement user -> uid mapping for BSD anyway.

There isn't. That is why we do not recommend to use HOME, XDG or any other environment variables except those as specified in `spec:`.

So we should make sure that a resolver with sudo support doesn't use any non-preserved environment variables.

We already

[2022-07-06 11:32] markus2330 commented on #4093
Yes, exactly, there was a "IIRC" in the sentence and there might be outdated docs.

I agree that kdbGet should only append, so `ksClear (ks)` in the code is fishy. If the problem might be in the new-backend branch, we need to investigate (create a new issue etc.). If it is gone in new-backend, we do not need to worry as time (once new-backend gets merged) will fix the issue.

To come to 1.0 we nee

[2022-07-06 11:46] atmaxinger commented on #4401
We don't need to. Instead of using `getpwuid_r` we could use `getpwnam_r`  which does this mapping internally.

[2022-07-06 12:36] markus2330 commented on #4401
Good news :wink:

So the question to answer is: how can we enable tooling to access the desired `user:` namespace. We also need to answer the question what the desired namespace is*. Ideally we do not need to reimplement sudo/doas but use these tools.

Non-goal: any changes for applications, they should be limited to access the one `user:` namespace of the user running the application.

* To start

[2022-07-06 15:49] kodebach commented on #4093
I don't think that this is what happens. Something like that would have been spotted pretty quickly. If `ksClear` is actually used to clear parts of `ks` (and not some temporary copy), then I'm sure these parts will then be replaced by the current contents of the KDB (that's what happens in `new-backend`).

In the `new-backend` branch we use `ksClear` exactly, because there may be a later `kdbSet`

[2022-07-06 16:20] kodebach commented on #4401
I think we are seriously over-complicating things here.

AFAIK root can currently already access `user:/` keys of other users. This works by simply using `sudo -u`:
[code]

The whole issue with `sudo kdb record` goes away, if `kdb record` stores its data outside the KDB. We can still use `getpwnam_r` and `SUDO_USER`/`DOAS_USER`/`LOGNAME` to find the home directory and put the data there. But we do

[2022-07-07 14:28] atmaxinger commented on #4401
I'm not quite sure what you mean by that. Do you mean that we can specify in the [Ansible Galaxy Elektra Plugin](https://galaxy.ansible.com/elektra_initiative/libelektra) which user(s) should be affected by keys in the `user:/` namespace?

[2022-07-07 14:31] atmaxinger commented on #4401
Nice find! Unfortunately, this does not seem to work under WSL.

[2022-07-07 14:47] kodebach commented on #4401
Seems to be a longstanding known issue https://github.com/microsoft/WSL/issues/888.

Using this would make it impossible to write to another user's config, other than the one I'm logged in as, i.e. the exact opposite of what the current issue title says. It works for the `sudo kdb record` case, but you "made the scope of this issue a bit wider".

Why would that be needed? If we really need it, the

[2022-07-08 16:01] markus2330 commented on #4401
Exactly.

This is the purpose of this kind of resolving. It works like needed for recording (and probably other use cases, too).

The issue is only discussion, so with "widening the scope" I meant we should think about if recording will also properly work if root is becoming a user (and not a user becoming root we talked before). Ideally also nesting of several sudo/doas commands should work. I th

[2022-07-09 11:15] markus2330 commented on #4401
I don't exclude the possibility that the log should be outside of KDB. First we need to determine, what exactly the log contains.

Currently, I see two vastly different use cases, that probably need different implementations:

1. collect base, ours and assertions per session: then KDB is well suited and the solution described here is perfect for logs of a user
2. fully record everything that happe

[2022-07-09 12:02] kodebach commented on #4401
Not responding at all to my suggestion -- which I think was a valid suggestion, since it makes this whole issue irrelevant as my solution doesn't use the `resolver` -- certainly made it seem like it...

AFAICT @atmaxinger and I agree that the diff use case could be implemented by recording a full log and then collapsing this log into a single diff. So it's not certain that different implementation

[2022-07-09 14:15] markus2330 commented on #4401
Please keep yourself shorter. Help is very much appreciated but the lead in the discussions/decisions must be @atmaxinger. If he doesn't ask for solutions, we should not try to give them. So please give the next reply to @atmaxinger.

What you linked to was a suggestion that we could use files/directories instead of KDB, which, imho does not make sense for neither use case (1) nor (2). And it does

[2022-07-09 16:47] kodebach commented on #4401
@atmaxinger: I fully agree that you need to decide what we do in regards to `kdb record`. There are now enough suggestions that you should be able to find a good solution. If you need more input, please just ask.

Also I think this issue and #4402 should be postponed until #4399 is done. It seems @markus2330 agrees that it is not yet clear that the KDB should be used as data storage for `kdb recor

[2022-07-10 03:39] #3888 closed

[2022-07-10 03:39] #3599 closed

[2022-07-10 03:39] #2733 closed

[2022-07-10 18:41] markus2330 opened #4403 "build failure on ARMhf"
## Steps to Reproduce the Problem

Build Elektra on A20 (DEB_BUILD_ARCH=armhf)

[code]

## Expected Result

Successful build

## Actual Result

[code]

## System Information

- Elektra: master

[2022-07-11 08:14] mpranj opened #4404 "publish maven artifacts failed"
## Steps to Reproduce the Problem

Build the release pipeline on Jenkins.

## Expected Result

Success.

## Actual Result

[code]

## System Information

- Elektra: master
- Operating System: Ubuntu Focal

## Further Log Files and Output

Full log:
[mvn_log.txt](https://github.com/ElektraInitiative/libelektra/files/9081978/mvn_log.txt)

[2022-07-11 08:15] mpranj commented on #4404
Any ideas why this happens?

I will try to obtain full debug level output and see if there is more information.

[2022-07-11 13:06] markus2330 commented on #4404
Commenting out these lines sounds like it cannot harm. Maybe it does not help (if some later code does a similar iteration and also tries to evaluate the property). But it is worth a shot if nobody has a better idea.

@tucek do you have a better idea?

@mpranj did you already try to publish the Kotlin binding? Does it work? (For problems please reply in #4393 unless the issue is related to this on

[2022-07-11 22:26] eiskasten opened #4405 "xfconf-binding: cannot read from KDB"
During the development of the xfconf binding, I encountered a problem where I receive a different key store state.
While the `kdb` tool can read all keys set by the user, the glib binding is only able to read all the default keys in my case.

## Steps to Reproduce the Problem

While

[code]

works as expected,

[code]
only reads all the default keys and stores them into `key_set`. This is also the

[2022-07-12 11:41] mpranj commented on #4404
Commenting out the logging line as suggested by @kodebach helped, thank you!
Publishing to [maven central](https://search.maven.org/artifact/org.libelektra/libelektra/0.9.10-8/jar) now worked as usual.

I needed to manually rebuild the alpine release image, so i did not yet tag the release on GitHub. It is done now.

I don't know about the Kotlin bindings. Their [docu](https://github.com/ElektraIn

[2022-07-12 13:36] markus2330 commented on #4404
Great job! :rocket:

Yes, as far as I know it was not published until now. I updated the text what to do in https://github.com/ElektraInitiative/libelektra/issues/4393. The issue is waiting. :heart_on_fire:

[2022-07-12 15:25] markus2330 commented on #4393
The jar is already on maven central: https://search.maven.org/artifact/org.libelektra/libelektra-kotlin/0.9.10-8/jar

So publishing seems to work!

[2022-07-12 15:25] #4393 closed

[2022-07-12 15:27] markus2330 commented on #4404
I'll close this issue, too. Seems like the problem was in logging code.

Thanks for triaging/fixing it so quickly! :heart:

[2022-07-12 15:27] #4404 closed

[2022-07-12 15:39] markus2330 commented on #4403
Packaging also fails with the error (many lines snipped, so I give line numbers of build output):

[code]

Removing the binding intercept_env fixes this problem.

I now have working armhf deb for 0.9.10. If anyone is interested I can share them. (No proper repo planned at the moment, first we should fix these build problems.)

A big thanks to @robaerd :sparkling_heart:, cpack turns out to be very

[2022-07-13 04:40] markus2330 commented on #4405
Please clarify what you mean with "default keys". Do you have a specification for `user:/tests/hello`?

Your glib code also does not seem to be complete. How did you initialize gElektraKdb etc. Please give a full example so that we can reproduce it.

@mpranj do you have any idea what this could be? Iirc you used the gsettings binding successfully recently?

[2022-07-13 09:59] Eiskasten commented on #4405
I initialize it with:

[code]

and I retrieve the keys with

[code]

with default keys I mean the keys:

[code]

I did not write any specification for `user:/tests/hello`. However, I found out that when I initialize `gElektraKdb` in `xfconf_channel_get_property()` instead of `xfconf_init()` everything works as expected. When running an xfconf application, I receive the line `[New Thread 0x7ffff314

[2022-07-13 10:59] kodebach commented on #4405
The `KDB` handle is not thread-safe. So if multi-threading is involved, you need to either do some thread synchronisation (mutex etc.) or use separate handles anyway. However, this is only needed if multiple threads can access the same `KDB` handle at the same time.

However, I doubt a multi-threading problem would look like this. You'd probably get segfaults or corrupt data. The result seems to n

[2022-07-13 12:00] Eiskasten commented on #4405
I know that it is not thread-safe that lead me come to the conclusion that this is the problem.

I have not installed `kdb`on this system and my version links against the correct libraries. As I have written in the issue description, I also check which files were accessed from my disk and they were correct. However, when I initialize `gElektraKdb` in `xfconf_channel_get_property()` instead of `xfc

[2022-07-13 12:12] mpranj commented on #4405
If this is the case, I don't understand how the problem is located in Elektra's glib bindings and not in the xfconf bindings.

Have you tried enabling [logging in Elektra](https://www.libelektra.org/tutorials/logging#how-to-logging) to see what is happening on that side? (i.e. what parentKey is used on kdbGet and so on..)

Maybe it's just a minor problem or typo somewhere? You could also try just

[2022-07-13 12:22] Eiskasten commented on #4405
It does not. It was my first thought which turned out to be incorrect. I will change the title.

I have checked the logs, the correct files get read. The same problem happens using `'/'` as the parent key.

[2022-07-13 12:25] kodebach commented on #4405
Sorry, I missed that...

---

@mpranj could this be a cache issue?

It still seems very unlikely to me that a threading issue would consistently return the same result.

[2022-07-13 12:27] kodebach commented on #4405
I thought that only applies when `gopts` is mounted. Which would require passing a `contract` to `kdbOpen`, since it's not mounted by default.

[2022-07-13 12:29] Eiskasten commented on #4405
What would happen if the xfconf application calls `fork()` too early e.g. before `GElektraKdb` was fully initialized?

[2022-07-13 12:33] mpranj commented on #4405
If I'm not completely mistaken: since the `list` plugin is mounted at every position (by default) the following code is always true:
https://github.com/ElektraInitiative/libelektra/blob/8f43d5debbd4750cab24b33aead340e5dbb769e8/src/libs/elektra/kdb.c#L1292-L1293
Thus, the cache is **never** used.

Yes, this can't hurt right now for development purposes.

[2022-07-13 12:38] mpranj commented on #4405
It's not clearly defined, but you would likely see some segfault as @kodebach already said. I also highly doubt you would see such neat output.

If you're sure that this is the problem you could always try using a mutex (`GMutex`) around everything just to test it.

[2022-07-13 15:15] kodebach commented on #3954
ping

[2022-07-13 18:16] Eiskasten commented on #4405
I have tried it. Using `~/.config/kdb/cm/user/default.ecf` said no such file or directory, but using the absolute path worked. But I think this is only because `fopen()` does not understand `~`. Using the absolute path works and the file permissions are set to `600`.

[2022-07-13 18:22] kodebach opened #4407 "[new-backend] Various open questions"
This is a summary of open questions from the `new-backend` branch:

### `modules` vs `global`

Should we merge the `KeySet * modules` and `KeySet * global` within `struct _KDB`?

They already use separate hierarchies, so there should be no overlap.

### `elektraModulesInit` error

Wouldn't it be better, if `elektraModulesInit` set an error directly, instead of letting the calling function define t

[2022-07-14 14:45] Eiskasten commented on #4405
I found out what the issue was. I already silently called `kdbGet` somewhere else in the code before `xfconf_channel_get_property`.

[2022-07-14 14:45] #4405 closed, assigned to nobody

[2022-07-15 05:48] markus2330 opened #4411 "Rust Binding Next Steps"
I am currently using the Rust binding and must say it is a pleasure to work with it. I published the [0.9.10 version](https://crates.io/crates/elektra). I noticed that following next steps could be worthwhile to pursue:

- [ ] use rustfmt and let CI check if code is formatted correctly
- [ ] type-safe higher-level API using specifications (allow parts of config objects to be passed around)
- [ ] i

[2022-07-15 11:27] atmaxinger opened #4412 "[new-backend] Discussion: Global Plugins"
Quotes taken from [doc/decisions/global_plugins.md](https://github.com/ElektraInitiative/libelektra/blob/master/doc/decisions/global_plugins.md)

What exactly does that mean? How should it work?

How exactly would this work? How can we have a different contract with hooks specific for each type of plugin when there should not be any change in the code of the plugin?

So we need some filter where w

[2022-07-15 12:12] markus2330 commented on #4412
For global plugins: It should work in a way that only if all backends successfully did their job, logging&notification happens.

As the global plugins have the same interface as other plugins, plugins suitable to be global plugins can be mounted in both ways. Only global plugins, however, can fulfill additional global properties (like doing something only if all plugins succeeded).

This "filter"

[2022-07-15 14:19] kodebach commented on #4412
I don't think this sentence is correct anymore. According to the git blame it was written 7 years ago.

Actually, I think most global plugins should **never** be mounted as normal plugins.

The way I see it, there should be fixed places within `kdbGet`/`kdbSet` where a specific global plugin is called (if it is enabled). (*1)

To illustrate let's look at `gopts`. There is a specific point in `kdbG

[2022-07-15 15:21] markus2330 commented on #4412
gopts is a bad example. For logger&notification plugins (and this is what we talk about here) it makes perfectly sense to mount them both as global and local plugin.

Yes, the first bootstrap definition would have the IDs of these keys. But I think this is off-topic here. What is on-topic: the first bootstrap could define which logger, recording and notification plugins should be used, including f

[2022-07-15 15:45] markus2330 commented on #4407
Thank you for summarizing everything! :heart:

I think keeping them separated makes perfect sense. What would be the advantage of merging them?

The approach that other warning actually contains the reason for the error is ugly. Would be glad if we can get rid of this.

I am strongly against putting even more complexities into CMake. Defining this stuff in CMake failed totally. Nobody except devs&

[2022-07-15 15:47] markus2330 commented on #3954
https://tiss.tuwien.ac.at/thesis/thesisDetails.xhtml?thesisId=104004

[2022-07-15 20:18] kodebach commented on #4412
I think that's exactly the problem the term "global plugin" is used far to broadly. They can do basically anything. But actually the notification plugins are the only current example that could work on a per-mountpoint level. `spec` and `cache` definitely only work globally. With `internalnotification` I'm not sure, but it would certainly be inefficient to have multiple instances, since the plugin

[2022-07-15 21:03] kodebach commented on #4407
An immediate benefit is, reducing the size of `struct _KDB` and thereby memory usage. It's not much but it's something.

The other thing is that we don't need to reload the exported symbols, when a (non-backend) plugin wants to call another plugin. The symbols would be in the global keyset, which is accessible to plugins, unlike `modules`.

It doesn't even really have to be in CMake. The current `

[2022-07-16 01:47] chenrui333 opened #4414 "libelektra 0.9.10 upgrade issue"
## Steps to Reproduce the Problem

- cmake build against the 0.9.10 release

[code]

## Expected Result

Test success

## Actual Result

[code]

## System Information

- Elektra: 0.9.10
- Operating System: macOS

## Further Log Files and Output

- relates to https://github.com/Homebrew/homebrew-core/pull/105517
build log, https://github.com/Homebrew/homebrew-core/runs/7323076958

I have detailed l

[2022-07-16 05:38] markus2330 opened #4415 "ksSearch: does not support cascading"
#4414 uncovered this problem. It is quite easy to implement if done similar to ksLookup: you basically only need to check if a key is cascading, then do elektraLookupByCascading, and then ksSearchInternal this key. (In #4039 we can take care of optimizations...)

Then there is another problem: the function is basically unable to return errors, which would be needed if no cascading key is found (an

[2022-07-16 05:39] markus2330 opened #4416 "tracer: regressions"
As uncovered while looking for the problem in #4414:

The searchKey allocated in line 28 of src/plugins/tracer/tracer.c does not get freed. This was introduced in 7c803e17ce344d84970ce963a39f2b0bc5aa581e

Furthermore, a bug gets introduced: ksSearch does not support cascading keys, so the logic fails, see  #4415 .

Please also check why the tests that caused #4414 didn't show up in our CI.

[2022-07-16 05:44] markus2330 commented on #4414
Thank you for reporting this problem! We definitely have a regression here, I opened the issues #4415 and https://github.com/ElektraInitiative/libelektra/issues/4416.

An obvious problem from the build log is that `kdb plugin-check tracer:` shouldn't have a colon at the end. Is this from our test cases or do you have additional tests?

@[chenrui333](https://github.com/chenrui333) Do you want a pat

[2022-07-16 12:15] mpranj commented on #4414
Tracer prints during pluginOpen() and this is shown in the output of kdb plugin-list.

[2022-07-17 05:38] markus2330 commented on #4414
Yes, this is because of #4415 (a cascading key is used to check if the output should be done).

@chenrui333 A probably easy fix for now would be to exclude the tracer plugin. It is only for debugging/testing. So from your cmake code above the diff would be:
[code]

I don't know how many other changes you would need in your build scripts, though. So a new release might be the better option.

[2022-07-18 00:43] chenrui333 commented on #4414
Thanks for the direction, let me give it a shot.

[2022-07-18 00:49] chenrui333 commented on #4414
Works for me. Thanks!

[2022-07-18 09:19] kodebach commented on #4415
IMO `ksSearch` should not handle the lookup of cascading keys automatically. This would confuse the two separate functionalities. To me `ksSearch` checks whether or not a _specific key_ is contained in a `KeySet` and returns it's position, or the position where it would be inserted. `ksLookup` does a full lookup of keys and resolves cascading keys if needed.

Also, a `KeySet` currently **can** con

[2022-07-20 16:21] #4414 closed

[2022-07-20 16:49] markus2330 commented on #4407
The first question needs to be if plugins should have access to modules. If they should, then the proposal makes sense. Let us see what @atmaxinger does in his plugins.

I agree.

Very good idea. This would also save disc space, as currently every resolver includes this code separately. This is, however, actually totally unrelated to new-backend, isn't it?

This task was already done a few times.

[2022-07-20 17:02] markus2330 commented on #4415
I agree with you on the goals (minimal API) but I disagree in this case about the conclusion. With current API `ksSearch (Key*)`  allows to pass cascading keys. We cannot avoid that. At least in one case, someone accidentally (?) did so and thought it would work.

If someone passes a cascading key, we have two options:

1. immediately return an error
2. do the right thing (the cascading lookup) an

[2022-07-20 19:11] kodebach commented on #4415
IMO that's not the right thing, because the lookup is a behaviour of `ksLookup` and not something intrinsic to a `Key` with `KEY_NS_CASCADING`.

See also #3598 and more importantly #3597. If we have `KeySet`s with only cascading keys. Then a lookup makes no sense and `ksSearch` must simply search for the cascading key directly. It is explained in #3598, but the reason to have such `KeySet`s is whe

[2022-07-20 19:37] kodebach commented on #4407
Yeah, I'm still not quite sure about that one. Probably, we should hide it somewhere and change the APIs for opening/calling other plugins, so that it internally goes through `libelektra-kdb` to avoid duplication, but still limit access.

Yes, AFAICT.

It's really hard to test this in general. Things like `elektraGetOpts` could call any number of functions that may change errno.

And the current A

[2022-07-24 17:28] markus2330 commented on #4415
There seems to be a misunderstanding. Cascading keys (i.e. keys from namespace KEY_NS_CASCADING) **only** purpose is  to be looked up. Also see glossary.

This sounds a bit like misuse of cascading keys and KeySet.

Ok, agreed. Can you write up the decision, please?

Btw. I hope the idea with the aliases will work out. I am still not totally convinced as aliases give very severe restrictions in co

[2022-07-25 10:55] kodebach commented on #4415
That's definitely not how they are used throughout the code base. There are many places where some data needs to be stored and a `KeySet` is used. Often with cascading names, because no other namespace really fits.

Also see [Hyrum's Law](https://www.hyrumslaw.com/).

Well that depends. IMO since `libelektra-core` is separate and has no knowledge of the KDB at all, it is okay.

Will to, when I fin

[2022-07-25 17:11] kodebach commented on #4407
I added a question about `spec` (the plugin) to the issue description

[2022-07-29 14:26] markus2330 opened #4422 "Improve length plugin"
- [ ] implement check/length/min
- [ ] add more unit tests
- [ ] add shell recorder test
- [ ] remove "experimental"
- [ ] improve error message (should be syntactic validation)
- [ ] improve documentation
- [ ] "len plugin" -> "length plugin"

[2022-07-31 11:13] #3916 closed

[2022-08-01 08:56] markus2330 commented on #3977
Still open. Should be fairly easy to remove as there are not so many occurrences.

[2022-08-01 08:57] markus2330 commented on #3980
@kodebach will you take this as part of your refactoring?

[2022-08-01 08:59] markus2330 commented on #3458
@lukashartl did you look at this already? Maybe you can describe more precisely what should be done?

[2022-08-01 09:02] markus2330 commented on #3904
A few lines how to do the cross-compilation manually (without OpenWRT) would be useful here. (To be added in the docu.)

[2022-08-01 09:08] markus2330 opened #4423 "resolver rework"
- [ ] make shared libraries for various resolvers (see  #4407)
- [ ] simplify CMake setup (see #3724)
- [ ] bug: #1470
- [x] #3692
- [ ] improve resolver tests
- [ ] optimizations: syscalls #3943

[2022-08-01 09:17] markus2330 commented on #690
Most of this actually should be fixed with the new-style global plugins in new-backend? (@atmaxinger)

Other parts, however, should be new behavior for mounting: #423 (@flo91)

[2022-08-01 09:18] markus2330 opened #4424 "spec plugin reimplementation"
- [ ] cleanup of copied metadata #670 (see also #4407)
- [ ] make and document a consistent query language: what happens with overlapping globs(`_` and `#`))?
- [ ] specify and document semantics for defaults over globs #3954
- [ ] Make sure availability by default #690

@kodebach did I miss something to be done for spec plugin?

[2022-08-01 09:26] markus2330 opened #4425 "improve error messages when loading modules"
as discussed in #4407, we should avoid having the real errors in separated warnings

[2022-08-01 09:36] atmaxinger commented on #690
@markus2330 yes that should be fixed

[2022-08-01 10:02] markus2330 commented on #3943
This is actually a resolver topic, I added it to #4423.

[2022-08-01 10:08] markus2330 commented on #2296
@mpranj do you see this part of your work? These hidden keys could be used as pre-loaded "proc:/" keys so we do not need to discard the OPMPHM if proc adds a few keys.

[2022-08-01 12:08] markus2330 commented on #2918
@kodebach is this already done in the new-backend branch?

[2022-08-01 12:12] markus2330 commented on #3957
@atmaxinger can you do the cleanup of the tooling? Or any new thoughts about reimplementation?

[2022-08-01 12:16] markus2330 commented on #3626
`meta:/internal/*` would be a solution if the type plugin is the only plugin that rewrites values. Then the one way how the type plugin saves the original value would be the only relevant place.

I agree that tooling might be interested in what the original value was. So maybe we should not make it internal and use `meta:/value/original` to store the original value? But still, only the type plugin

[2022-08-01 12:23] markus2330 commented on #1322
@flo91 even preferable is to migrate old config into new mountpoints. Only if this cannot be done, we should fail (unless --force was specified).

[2022-08-01 12:26] markus2330 commented on #4300
@flo91 as discussed, it is an important goal to have a C library for mounting. It would be a good start to define an API for mounting, ideally in a PR.

[2022-08-01 12:27] markus2330 commented on #4355
@flo91 can you please check what was already done?

[2022-08-01 14:27] kodebach commented on #2918
It's somewhat done yes. But the setup in `new-backend` would actually fit better, if `kdbCommit` and `kdbError` are merged with `kdbSet`, since they are just phases of the `set` operation and cannot be called separately. Because we have a separate way to communicate the phase to the plugin in `new-backend`, we don't need the the separate `kdbCommit`/`kdbError` functions.

[2022-08-01 14:31] kodebach commented on #2296
You'd have to know the keys that could be added in advance. From a separation of concerns POV, only `gopts` could add those keys.

Also as stated above, I think the solution here is simply to add a `ksBuildHashmap` to preload the hashmap. Hidden keys within the `KeySet` are a gigantic hack IMHO. They just cause weird issues. For example, if they are only hidden in a `ksLookup`, a simple iteration

[2022-08-01 14:35] kodebach commented on #690
As stated above:

So just to be clear: The `sync` plugin issue must be handled by the backend plugin (because e.g. a DB backend doesn't need `sync`). There should not be some logic somewhere in the `kdb mount` code (or the library behind) that adds `sync` to backends. Such code must only exist in the `backend` plugin. Maybe in a function called by `kdb mount`, or maybe in `kdbOpen`/`kdbInit` to ju

[2022-08-01 14:39] kodebach commented on #4424
What does this mean? Do you mean the following?

IIRC `_` means everything that isn't matched by `#`, so

[code]

would be valid in theory. But in practice, we probably want to make that an error. Because array items should never be mixed with other keys.

That should be handled by the changed in `new-backend`.

[2022-08-01 14:48] kodebach commented on #423
@markus2330

Why don't we just call `fsync()` in `resolver`? I assume it is because, there could be further modifications in `postcommit`. But (at least in `new-backend`) it would be pretty easy to enforce that the resolver plugin is always called as the last `postcommit` plugin (where it could call `fsync()`).

[2022-08-01 15:05] kodebach commented on #3626
Yes, we definitely need a public "contract" to define how this kind of value conversion should be done. Ideally there would be library functions that handle everything except the actual conversion. But I'm not sure how feasible that is.

Only `type` doing any conversion is a definite no-go, because there are things like `color` and `hexnumber` that do valuable conversions. We cannot possible integ

[2022-08-01 15:37] kodebach commented on #4424
One thing that I also again and again think about, which may fit here (if this issue ends in a partial re-design of the specification system):

The current very simple plugin execution of "during get (`poststorage`) we do `A -> B -> C` and during set (`prestorage`) we do `C -> B -> A`" doesn't really work. The idea is obvious, during `kdbGet` conversion happen in one direction and during `kdbSet`

[2022-08-02 09:55] markus2330 opened #4428 "drop cascading mountpoints/backends?"
As brought up by @kodebach in #4415 we actually misuse cascading keys to do something else for cascading mountpoints. Cascading keys should have the semantics to search in one namespace after the other (i.e. cascading).

Cascading mountpoints, however, is a mountpoint for several namespaces, a feature that has nothing to do with the English word "cascading". I propose to remove cascading mountpoin

[2022-08-02 09:55] markus2330 commented on #4415
Which places? It could be misuse because no other namespace was available.

If it is unrelated to Elektra's goals, it is a "trying to please everyone".

:partying_face:

:+1:

Or it simply unveils bugs/misuses.

#4428

[2022-08-02 10:44] kodebach commented on #4415
If you define "cascading" as "only for lookup" then it clearly is.

Unlikely. Using the `KeySet` as a generic key-value data structure is pretty handy. If we don't want this, we probably need a different structure (probably also based on the OPMPHM) that plugins and libraries can use. Otherwise we get lots of poorly written linked-list-like structures, since everything else is much harder in C.

H

[2022-08-02 11:13] kodebach commented on #4428
Generally, I'm totally in favour of removing cascading mountpoints. I always found them strange a bit of a hack. The code would certainly be simpler without them.

Something went wrong with this sentence...

I like the idea, but not the syntax. From your proposed syntax the full key names would be `meta:/user:/path`, `meta:/system:/path`, `meta:/dir:/path`. That's just confusing.

Also using `path

[2022-08-02 11:25] markus2330 commented on #2918
Yes, we need to decide: either phases or separate functions.

@atmaxinger @flo91 did you already look at the phases document?

@flo91 Does kdbCommit/kdbError sound convincing for your use-case (it is actually modeled after databases) or do you think you can work with phases as well?

[2022-08-02 11:35] markus2330 commented on #2296
Yes, in this proposal gopts would always add all keys, hiding the keys that are currently not used.

The question is how performant the different solutions are. I assumed building up the hash map is expensive. If this is not true, the proposal does not make sense. Obviously, first we need to do a benchmark.

It is not wrong, these keys are simply hidden in the same way as (non-hidden) `proc:` keys

[2022-08-02 11:45] markus2330 commented on #423
The idea is that there are different ways of implementing sync (fdatasync) and the resolver is already complicated enough as is. But yes, I am not totally against implementing it in the resolver, as it would also optimize the number of syscalls (one open/close less). This is, however, totally OT here, the issue here is about something else. I hide these two comments.

[2022-08-02 11:58] kodebach commented on #2918
"separate functions" would also mean separate exports for `get-prestorage`, `get-storage`, `get-poststorage` etc. instead of a single `get`.

AFAIK you (@markus2330) are always in favour of fewer exports, so this doesn't look like a solution to me.

commit/error still exist when we go with phases. The change would just be that plugins only have `open`/`get`/`set`/`close` functions (matching `kdbOp

[2022-08-02 12:07] kodebach commented on #690
I have no idea what you wanted to say... But: `sync` is only needed, if the backend is file-based. It wouldn't even work, if the backend isn't file-based. That's also why I suggested moving the sync into the resolver, another thing that's only relevant to file-based backends and already a required part of them.

If we don't combine them it still be the obligation of the backend plugin to check tha

[2022-08-02 12:07] kodebach commented on #423
@markus2330 making it the resolvers obligation to sync isn't really off topic. The resolver is already required (without one nothing works), so by moving the sync there, it couldn't be missing.

[2022-08-02 12:09] kodebach opened #4429 "Rename backend to filebackend"
The title says it all. To avoid confusion (*) we should rename the default (file-based) backend plugin `backend` to `filebackend`.

(*) confusion between "a backend plugin" (any of the possible ones) and "the `backend` plugin" (the specific one I want to rename)

[2022-08-02 12:09] markus2330 commented on #2918
Yes, I mean error and commit functions, so yes the two possibilities are what you later describe with "VS".

What purpose do error and commit currently fulfill in the new-backend branch?

[2022-08-02 12:33] kodebach commented on #2296
That's not fully possible (because of arrays), but could be done to some extent. In any case it would require changes in `libelektra-opts` not in `gopts`. Also depending on the config (e.g. something like `kdb` with many subcommands) we would **really** waste memory. `gopts`/`libelektra-opts` would create loads and loads of unnecessary keys.

Even if this worked, I'm not sure how it would help. In

[2022-08-02 12:45] kodebach commented on #2918
To be clear, if we go with separate functions that would apply to e.g. `poststorage` too.
I extended the example above (and replaced "error" with the actually used term "rollback").

Exactly the same as in the old one. To repeat exactly what I wrote in the previous comment:

[2022-08-06 12:51] markus2330 commented on #4412
This is not describing a difference: For both logging&notification for some purposes the global plugin and for other purposes a mountpoint is needed. For both the global plugin is, afaik, the more common case.

@atmaxinger Is any question open here? Otherwise, please close the issue and create PRs with glossary, decisions, etc. of the outcome so that we can have a clear picture where we are at the

[2022-08-06 12:58] markus2330 commented on #1164
@atmaxinger can you check if this is still open?

[2022-08-06 13:00] markus2330 commented on #4028
@atmaxinger here is the question if you rewrite the tooling so that this bug get fixed.

[2022-08-06 13:00] markus2330 commented on #3742
@atmaxinger here is the question if you rewrite the tooling so that this bug gets fixed.

[2022-08-06 14:52] kodebach commented on #4412
Actually I'm not really sure the mountpoint option makes much sense in any case. I can't think of any case, where you'd want the behaviour described above. (additional sub-mountpoints being excluded)

That said, the important part from my last comment is

I think @atmaxinger should look into this. If this approach is good enough for the logging use case, it might be the easiest solution to just us

[2022-08-06 18:00] markus2330 commented on #4412
Yes, I would very much appreciate if internalnotification, loggers and also 3-way merge can be revitalized by @atmaxinger and can be made in a way that they smoothly work together.

[2022-08-08 13:57] atmaxinger commented on #1164
Okay so I tested this issue against the current master

The setup:
[code]

✔ `kdb meta-get user:/i1164/port check/type`  correctly returns `unsigned_short`
✔ `kdb meta-get /i1164/port check/type`  correctly returns `unsigned_short`

❌ `kdb set user:/i1164/port abc`             --> does not validate, sets the value as string
❌ `kdb set -N user:/i1164/port abc`          --> the `N` parameter is not

[2022-08-08 15:04] kodebach commented on #1164
If that's the full setup, it cannot work. Neither the `type` plugin nor the any plugin for `meta:/port` are mounted. You either need an extra `spec-mount` or a more direct `mount` command with extra plugins.

[2022-08-08 15:10] atmaxinger commented on #1164
Yes that's the full setup. TBH I thougt it would need some plugins, but I followed [this guide](https://www.libelektra.org/tutorials/writing-a-specification-for-your-configuration#elektra-use-spec) and there was no mentioning of extra mounting the namespace with the plugins. If this is the case, the documentation should be revised to include this information.

[2022-08-08 16:42] kodebach commented on #1164
Stopped before or you skipped the essential [`spec-mount` step](https://www.libelektra.org/tutorials/writing-a-specification-for-your-configuration#step-3-do-a-specification-mount). This infers the required plugins from the `meta:/` keys and creates appropriate mountpoints.

[2022-08-08 16:45] markus2330 commented on #1563
I think this does not get resolved by a reimplementation without fixing the problems in the man pages first.

Probably it makes sense that you first create a PR with changes to the man pages (doc/help) so that the new behavior is fully described. As new-backend is a development branch, we can even merge such PRs, even if its inconsistent with the implementation (in the master branch we would not a

[2022-08-08 16:47] atmaxinger commented on #1164
Yes I skipped it, as the description

sounded like it was only necessary when mounting the configuration from a file. As Elektra is also usable without mounting specific files (i.e. elektrified applications), I didn't think this was necessary.

[2022-08-08 16:58] kodebach commented on #1164
It's not about whether or not you are using a file. It's about the existence of a mountpoint. If you don't call `kdb mount` (indirectly also happens via `kdb spec-mount`), your config will be saved in the default mountpoints (assuming no other more specific mountpoint exists from something else). But plugins only work, if they are explicitly added to a mountpoint. The default moutpoints only conta

[2022-08-08 19:11] atmaxinger commented on #1164
Yes I understand that now, but we should **really** specify this clearly in the guide.

[2022-08-09 09:00] markus2330 commented on #160
@lukashartl the build server seems to not perform any build anymore because of the network problems described in #4410. At least it also occurs in #4430. Can you please take a look and fix the problem?

[2022-08-09 12:07] hannes99 opened #4431 "Command-line tooling rewrite"
Rewrite the `kdb` cli tool from `C++` to `C`.

## Subcommands

- [ ] basename
- [ ] cache
- [ ] cmerge
- [ ] complete
- [ ] convert
- [ ] cp
- [ ] dirname
- [ ] editor
- [ ] export
- [ ] file
- [ ] find
- [ ] gen
- [ ] get
- [ ] global-mount/gmount
- [ ] global-umount/gumount
- [ ] list-commands
- [ ] list-tools
- [ ] ls
- [ ] merge
- [ ] meta-[get, ls, rm, set, show]
- [ ] mount
- [ ] mv
- [ ] na

[2022-08-09 14:28] lukashartl commented on #160
That is indeed a very interesting problem. Here is what I found so far.

To replicate whether the issue is present:

[code]

I tried to replicate it on multiple different environments, but I was only able to replicate it on the servers at TU Wien (e.g. a7, v2). Since it also happens on a7, this cannot be a problem of the internal network that connects v2, i7 via a7 to the internet.

I am not quite

[2022-08-10 10:07] kodebach commented on #160
If I try to `curl 199.232.18.132` locally, I get an HTTP 500 error with text along "Fastly error: unknown domain". The domain debian.map.fastlydns.net seems to resolve to `199.232.18.132`. When googling "debian.map.fastlydns.net" I found [this thread](https://lists.debian.org/debian-user/2021/05/msg00226.html) on the Debian mailing list. It seems like this is simply a broken apt mirror and for som

[2022-08-10 11:10] #4096 closed

[2022-08-10 12:08] lukashartl commented on #160
@kodebach

They are using virtual hosts on their servers, so you should provide the correct ServerName: `curl --header 'Host: deb.debian.org' http://199.232.18.132`. You only get the 500 because they don't know which CDN/vhost you are actually requesting.

[2022-08-10 13:34] kodebach commented on #160
Ah okay, makes sense. Stil I think using a different mirror might help, as it should avoid connecting to `199.232.18.132` altogether.

[2022-08-10 13:54] hannes99 opened #4432 "elektraGetOptsHelpMessage docs/examples use 'opt/arg/name' instead of 'opt/arg/help'"
## Steps to Reproduce the Problem

[code]

The `--help` output ignores the specified `opt/arg/name` and always uses `ARG` instead.

## Expected Result

[code]

## Actual Result

[code]

[2022-08-10 14:36] hannes99 commented on #4432
Actually, yes. I'll update the `rm` example in the tutorial[1], since `/name` is used there.

[1] https://www.libelektra.org/tutorials/command-line-options#examples

[2022-08-10 14:38] hannes99 commented on #4432
should I change the Issue title and description, or leave it?

[2022-08-10 14:41] kodebach commented on #4432
Please also check other docs, like [`examples/opts.c`](https://github.com/ElektraInitiative/libelektra/blob/master/examples/opts.c) and [`examples/gopts.c`](https://github.com/ElektraInitiative/libelektra/blob/master/examples/gopts.c)

I updated it.

[2022-08-10 15:42] markus2330 commented on #4431
Thank you for creating the issues! (In particular #4432 is very good work, I see you are already diving into Elektra! :rocket:).

Some comments about the list above:

- cmerge: should be "merged" with merge so that we have only one merge command, see #3131
- Aliases should be removed (https://github.com/ElektraInitiative/libelektra/issues/3957), so in the list above " global-mount/gmount" -> only

[2022-08-10 15:58] markus2330 commented on #160
@lukashartl Can we disable a7 etc. for now so that the show can go on? It is not much happening now anyway but e.g. #4430 and https://github.com/ElektraInitiative/libelektra/pull/4410 I would like to have checked so that I can merge.

[2022-08-10 15:59] markus2330 commented on #1164
@atmaxinger Can you please clarify what exactly should be specified in which guide?

[2022-08-10 16:12] kodebach commented on #4431
To add to this: coloring should only happen, when outputting to a TTY (see `isatty(3)`).

If we go with nested commands (#539), we could also use a folder structure (e.g. `meta/ls.c`).

See [examples/goptsCommands.c](https://github.com/ElektraInitiative/libelektra/blob/master/examples/goptsCommands.c) for example code. It's also explained [in the docs](https://www.libelektra.org/tutorials/command-

[2022-08-10 16:20] hannes99 opened #4434 "opts: potential "free(): invalid pointer" error"
Here
https://github.com/ElektraInitiative/libelektra/blob/d57703bd1eaff0626fcfa8290773d68832085c4f/src/libs/opts/opts.c#L973-L990
and
https://github.com/ElektraInitiative/libelektra/blob/d57703bd1eaff0626fcfa8290773d68832085c4f/src/libs/opts/opts.c#L892-L904

If `argString` is not overwritten in the following `if`, freeing `argString` later will lead to a `free(): invalid pointer` because `argStri

[2022-08-11 01:07] flo91 commented on #4428
I'm also in favor of removing the cascading mountpoints.
The concept can take some time for beginners to understand and with more generic backends this concept tends to get even more confusing.
For the database backend, the solution proposed by @codebach looks promising.
Besides from different credentials for different namespaces, the data can even be stored at different locations. (e.g. using a l

[2022-08-11 07:59] lukashartl commented on #160
I was able to reproduce the problem with another mirror (`213.129.232.18`) and outside of docker.

I've forwarded all the details (as well as lldpctl and ethtool outputs) to Herbert and we'll take a closer look at this later this week. (Maybe something with hardware, or network equipment).

Done. Agent L1 is also active now.

[2022-08-11 08:20] atmaxinger commented on #1164
@markus2330 In the [How to Write a Specification in Elektra](https://www.libelektra.org/tutorials/writing-a-specification-for-your-configuration#elektra-use-spec) that it is **mandatory** to call `kdb spec-mount` for the check plugins to work.

[2022-08-11 12:09] kodebach commented on #1164
I agree, the sentence

could be worded better. It is very much clear what "ready to fulfill a specification" means.

Maybe there should just be a quick overview of the required steps at the top. That could also be helpful for people who already read the tutorial once, but need a refresher.

[2022-08-11 12:30] kodebach commented on #4428
That's just a matter of definition. The goal was that you cannot define a custom `default:/` mountpoint. Not with tooling and not by manually editing `system:/elektra/mountpoints`. My reasoning for this was that `default:/` keys are supposed to come from the specification defined in `spec:/` keys. So the `default:/` backends should also come from the specification.

There are two basic options now

[2022-08-12 13:49] markus2330 commented on #4428
Yes, it would be interesting, for any namespace. I am not sure if it should be put together with the "database" backend, as it is somewhat hybrid database and file-based.

@flo91 ideally create new issues for such topics, it is only vaguely related to removal of cascading mountpoints.

It is specified in https://www.libelektra.org/manpages/elektra-namespaces#elektra-namespaces7----namespaces

It c

[2022-08-12 14:14] markus2330 commented on #1164
@atmaxinger I don't find the word mandatory on that page? Can you please create a separate issue (or PR) describing more precisely how to improve the documentation? It is very valuable input but we need to fix it precisely, otherwise we cause more damage than what it helps. (It is never wrong to do a spec-mount, this is why the tutorial is insisting on that spec-mount is called. To explain in whic

[2022-08-12 14:34] markus2330 commented on #4434
Thank you for reporting&fixing, good catch! :heart:

[2022-08-12 14:56] atmaxinger commented on #1164
Yes, and that's the problem. @kodebach pointed out that `kdb spec-mount` must be called for it to work. However, I interpreted the current wording in the guide that you only need to call it if the configuration is mounted as an external file.

Then this should be stated explicitly.

[2022-08-12 15:07] markus2330 commented on #1164
As said, please in a separate issue. Deeply hidden in unrelated discussions it does not help.

[2022-08-12 16:01] markus2330 commented on #160
@lukashartl jobs seem to be stuck with the error message: `Queued
a7 ist offline; hyperbyte ist offline; i7 ist offline; v2 ist offline; „Jenkins“ hat nicht das Label „docker“`

https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4435/5/pipeline

[2022-08-12 16:03] markus2330 commented on #3490
@kodebach which issues here are still open? I remember you fixed many problems with quoting?

[2022-08-12 16:04] markus2330 commented on #3978
@lawli3t there is still an open question

[2022-08-12 16:09] kodebach opened #4436 "Structure of Documentation"
Continuing from https://github.com/ElektraInitiative/libelektra/issues/1164#issuecomment-1213156318

I think an overview in the form of a table of contents for the entire docs would be immensely helpful. Currently it is very hard to find anything unless, you already know that things exists and have a rough idea where they could be.

Further the current split of docs is also problematic IMO. In the

[2022-08-12 16:12] kodebach commented on #4436
Just to be clear, the above is only my opinion and I'm open to suggestions, but it should be pretty clear to everybody that something needs to change.

Also changing all existing docs will be a lot of work yes, but IMO it's much more important that we (somewhat quickly) find a good target structure and writing style for our documentation. Once we have that, new documentation can be written with th

[2022-08-12 16:15] kodebach commented on #1164
Just a quick comment on that. I think it's also a structural problem. See #4436 (caution lots of text)

[2022-08-12 16:23] kodebach commented on #4428
I'd say SQLite is clearly a database backend, because 1) it is probably accessed in a similar way to other SQL-based backends 2) the actual file handling is done by SQLite and not by Elektra.

The only thing that could be useful from the file-based backend is the "resolving part" of `resolver`, i.e. getting absolute paths from relative paths or filenames.

Not relevant here, but this a good exampl

[2022-08-12 16:31] kodebach commented on #3490
I'd have to check again, but I know `toml` definitely doesn't (fully) support metadata. Also https://github.com/ElektraInitiative/libelektra/blob/master/src/plugins/toml/toml/checks_toml_1_0_0/roundtrip.toml still contains some commented out test-cases with `TODOs`. Finally, from looking at some of the text files in VSCode, it seems we support some positions for comments that are maybe not allowed

[2022-08-12 20:24] lawli3t commented on #3978
I would have thought `ksAppend` just keeps its name

[2022-08-13 04:22] hannes99 commented on #160
#4435 and #4433 both fail with `Cannot contact l1: hudson.remoting.RequestAbortedException: java.io.IOException: Unexpected termination of the channel`(repeatedly) in `build/hub.libelektra.org/build-elektra-web-base`. As suggested by @markus2330 on #4433 this probably is an instance of the network issue mentioned here before.

[2022-08-15 04:58] markus2330 commented on #3978
Sounds inconsistent to me as they are basically doing the same thing (either with a Key or a KeySet)?

[2022-08-15 05:01] markus2330 commented on #3490
Thank you! Is it maybe possible to work on these issues for FLOSS or is the whole lexer/parser too complicated for a new-comer?

I think this is okay.

[2022-08-15 05:04] markus2330 commented on #3976
@flo91 which parts are still open in this issue?

[2022-08-15 05:24] markus2330 commented on #4428
I disagree here.

1. It is not "only" but resolving is a lot (many variants due to many operating systems, conventions etc.)
2. Also the cache/update would be handled (i.e. if kdbGet needs to do something etc.)

About the semantic differences in conflict handling Elektra vs. SQlite we will maybe read in @flo91 thesis. This topic is quite interesting. Whatever the better approach, imho it makes sen

[2022-08-15 11:15] kodebach commented on #3978
How about `ksInsert` and `ksInsertAll`?

I think the main issue is that "append" suggests adding to the end, which is not at all what happens.

[2022-08-15 11:20] kodebach commented on #3490
I think if someone has prior experience with flex/bison parsing (not unreasonable, considering there are other courses for that), then working on this should be possible. The code is pretty readable IMO and on the TOML side there is a good spec and many examples to show what is allowed and what isn't. There are even some GitHub repos with lots of TOML files for testing parsers.

[2022-08-15 11:43] kodebach commented on #4428
I don't disagree that it should be possible and would be nice to have an SQLite storage plugin for the existing file-based backend plugin. But I'm not sure this is the best way to spend time right now. IMO it is more important to have a proper database backend plugin to validate the idea of backend plugins. If this database plugin is SQL based and agnostic to the actual database, then SQLite shoul

[2022-08-17 07:19] #4434 closed

[2022-08-17 07:22] #4432 closed

[2022-08-17 11:46] markus2330 commented on #4411
@lawli3t Anything else which you found while reimplementing the API?

[2022-08-21 19:45] tucek opened #4441 "Analyse how to implement notifications for Java binding"
Notification are currently only tested with C/C++. Devise an approach how to enable the feature for users of the Java binding. (also see #2786)

[2022-08-21 19:45] tucek commented on #2786
Closing this issue, since all valiid tasks have been completed.

[2022-08-21 19:45] #2786 closed

[2022-08-22 04:37] markus2330 commented on #4441
Yes, this is an important topic if you need synchronization code whenever config changes. Funnily, yesterday I came across a situation where I need it in one of my projects.

The first step would be to allow to pass a contract to internalnotification that calls a callback whenever config below/of a specific key changes. Once this works, the rest should be easy, as a user could rebuild the other fe

[2022-08-22 13:28] tucek commented on #4040
merged via #4364

[2022-08-22 13:28] #4040 closed

[2022-08-22 15:24] kodebach opened #4442 "[new-backend] Extend kdbOpen contracts for adding mountpoints"
The `contract` KeySet passed to `kdbOpen` currently supports only two types of contract: adding global plugins and adding keys to the global keyset (see [docs](https://github.com/ElektraInitiative/libelektra/blob/new-backend/doc/dev/kdb-contracts.md))

This is enough for the currently supported use cases of: configuring `gopts` and setting up I/O bindings and notifications. However, another use ca

[2022-08-22 15:25] kodebach commented on #4442
cc @hannes99 @markus2330

[2022-08-24 09:27] markus2330 opened #4443 "Clarify when/if to use elektraGetOpts"
There is already one reason above (externally accessible spec). Other reasons are:
- IIRC `elektraGetOpts` does not consider `meta:/default` at all.
- `elektraGetOpts` definitely doesn't handle any other spec like e.g. `meta:/type`
- AFAIK `kdb`'s profile feature can be used to set default arguments within the KDB. That would automatically be handled correctly with `gopts`, since it would load the

[2022-08-24 09:43] kodebach commented on #4443
The tutorial for command line options already recommends `gopts` and only briefly explains how to use `elektraGetOpts`. It also explains the downsides of doing so. The doxygen comment of `elektraGetOpts` does not directly mention `gopts`, but it refers to the tutorial.

What exactly should we improve here? IMO this is again more of a discoverability issue not an issue with actual docs content.

[2022-08-24 11:53] markus2330 commented on #4443
This should be changed. It should recommend to use gopts, with the reasons you outlined.

Yes, it is a discoverability issue, thus it should be mentioned in elektraGetOpts. We should also mention it in the dev guide for application developers #4436.

[2022-08-24 12:43] kodebach opened #4444 "remove specload plugin"
The current `specload` plugin is not really recommended, but it could be improved on the `new-backend` branch.

I propose 3 changes:
1. Turn `specload` into a standalone backend plugin
2. Remove the modifications/overrides feature.
3. Remove `file` mode
4. Add `symbol` mode, in addition to `app`/"executable" mode

### Standalone backend plugin

Instead of being a storage plugin for the file-based

[2022-08-24 12:51] kodebach opened #4445 "[new-backend] highlevel API updates"
Just an idea, based on #4442, #4444 and the new mount tooling in C.

When all this is done, the high-level API should by default use the new mountpoint contract and the "symbol" mode of `specload` and we should also generate C code for creating all mountpoints for the application. The goal would be that an app written with the high-level API codegen, runs standalone without installation (at least

[2022-08-25 15:13] markus2330 opened #4446 "default config and mountpoints"
In https://github.com/ElektraInitiative/libelektra/issues/4407#issue-1303786329 @kodebach proposed to make bootstrap storage != default storage. The proposal there, imho, moves too much complexity to the build system. I propose following alternative, reaching the same goal but reducing complexity from the build system.

An Elektra installation should come with following mountpoints by default (nam

[2022-08-25 15:22] markus2330 commented on #4444
What exactly makes the symbol mode support https://github.com/ElektraInitiative/libelektra/issues/4442 better?

Does the "file" mode make any sense if we remove the override/modification features?

[2022-08-25 15:37] markus2330 commented on #4407
You only need to restore errno on the exit points. Not being able to fulfill such small requirements is an indication that we should not export such symbols. E.g. in this specific case, I think we should **only** support gopts and have elektraGetOpts as private (static) lib. So many different ways to do the same things are also a nightmare to test and maintain. They also make the docu harder to wr

[2022-08-26 09:24] markus2330 commented on #4445
Great idea :rocket:

@kodebach did you consider to use the high-level API for `kdb`? I mean for its configuration, not for doing its job with KDB (the second part we already discussed earlier). Then this issue would be more important...

An obvious disadvantage would be that `kdb` depends on more libs...

[2022-08-26 10:38] kodebach commented on #4444
The "file" mode still make sense, if somebody doesn't want to embed the whole spec into the application because of size concerns (e.g. embedded system with separate storage for executables (small) and data (large)).

If you use `specload` with #4442 to add a mountpoint just for this process, without "symbol" mode, you'd have to either have an external file ("file" mode) or run a second instance of

[2022-08-26 10:43] kodebach commented on #4445
I'm not 100% sure `kdb` is the best candidate for using the high-level API. But it could be worth I try, if @hannes99 wants to invest the time.

[2022-08-26 11:50] markus2330 commented on #160
From 29.8 evening until at least the whole 31.8 all TU Wien computers¹ need to be shut off due to building repairing and maintenance. The TU Wien is sorry for any inconvenience.

¹ i7 could stay on, but is unreachable as it uses a7 as gateway.

Hopefully we have L1 till then, otherwise the build system will barely be usable (with jobs only being executed on the community server itself.)

[2022-08-26 15:54] atmaxinger opened #4447 "elektraMerge fails if the root is top of a namespace"
## Steps to Reproduce the Problem
[code]
## Expected Result

`result` contains the keys `system:/test/k1`, `system:/test/k2` and `system:/test/k3`.

## Actual Result

`result` is `NULL`

## Why?

Internally, the algorithm will try to rename the keys in the keyset by removing the root name from the key name.
For example, `system:/test/k1` will be renamed to `test/k1`. However, this is not a valid k

[2022-08-26 16:02] kodebach commented on #4447
Seems like the merge algorithm doesn't correctly handle the fact, that root names end with a slash. Not sure how exactly the renaming is done, but it seems a good candidate for this function

https://github.com/ElektraInitiative/libelektra/blob/7f3f343cabcec561c87de8b41fbeae552699d697/src/libs/elektra/keyset.c#L1097

(I think it's currently only declared in `kdbprivate.h`)

[2022-08-26 16:04] atmaxinger commented on #4447
It uses `keySetName`.

https://github.com/ElektraInitiative/libelektra/blob/7f3f343cabcec561c87de8b41fbeae552699d697/src/libs/merge/kdbmerge.c#L313

[2022-08-26 16:08] kodebach commented on #4446
Not true, the default storage plugin is still used, if no storage plugin is defined during mounting. However, that is a tooling issue, so the default should be defined there.

And that is the really important issue that you did not address at all. The bootstrap file must always be readable because otherwise no `kdbOpen` can succeed. To reduce the potential causes for an error, I wanted to separate

[2022-08-26 16:12] kodebach commented on #4447
There is also this function

https://github.com/ElektraInitiative/libelektra/blob/7f3f343cabcec561c87de8b41fbeae552699d697/src/libs/elektra/keyname.c#L679

which may be a better fit.

In any case, I think the `keySetName` with the custom `strremove` should be replaced. AFAICT it doesn't handle escape sequences like `\/` at all and may cause more problems than just this issue.

[2022-08-27 16:35] atmaxinger commented on #3318
I'll rename it to elektraMergeGetConflicts

[2022-08-27 16:42] markus2330 commented on #4446
This issue is about a proposal to introduce default mountpoints via the normal mount mechanism and disable the current "default mountpoints" (replace by using an error plugin, which cannot be used by accident). It is not about improvements of the bootstrapping. Please open a different issue if you want to discuss these parts.

Yes, this is a totally different default (not using the one from CMake)

[2022-08-27 16:53] markus2330 commented on #4444
Which advantage would the file mode of specload have compared to a normal quickdump mountpoint?

So it is simply about replacing the interface execv with dlopen to get the spec? It might be faster but then the executable also must be a shared-lib/exe hybrid, which is afaik, not implemented in every libc (musl etc?). Is there any advantage except of a (not benchmarked) speed gain?

[2022-08-27 19:13] kodebach commented on #4444
That's true, without the special modification checks, the "file" mode is probably no longer needed.

AFAICT from [`dlopen(3)`](https://man7.org/linux/man-pages/man3/dlopen.3.html) calling `dlopen (NULL, ...)` should just return a handle for the symbols in the current executable. In fact the POSIX standard says [basically the same thing](https://pubs.opengroup.org/onlinepubs/009696799/functions/dlo

[2022-08-27 19:18] kodebach commented on #4446
Okay, but you started by referencing one of my comments. In that comment my goal was not to change the current default mountpoint setup, but to separate the bootstrap backend. So I continued my comments from there....

There is still quite a few moving parts. For example, the bootstrap file is not defined by an absolute path.

And yes, you can always swap the shared libraries. But what I dislike i

[2022-08-28 07:33] markus2330 opened #4451 "Fixed path for bootstrap file"
Okay, but you started by referencing one of my comments. In that comment my goal was not to change the current default mountpoint setup, but to separate the bootstrap backend. So I continued my comments from there....

There is still quite a few moving parts. For example, the bootstrap file is not defined by an absolute path.

And yes, you can always swap the shared libraries. But what I dislike i

[2022-08-28 07:40] markus2330 commented on #4451
Yes, I agree. It would make the bootstrap and the CMake setup much simpler.

Which file should we hardcode to be used for bootstrapping?

My preferences would be:

- /etc/elektra/bootstrap.ecf
- /etc/kdb/elektra.ecf (most compatible with status quo)
- /etc/elektra.ecf (creates too much clutter in `/etc` if we come up with further files)
- other suggestions?

So you want that we remove these two sy

[2022-08-28 08:05] markus2330 commented on #4444
I am still not convinced that we should get rid of the modifications/overrides feature. It sounds so harmless to give admins a way to have their own description/notes/other docu for their config settings.

Adding more type information, should be also be ok as our type system only allows to make checks more and more strict.

Which problems do we have with this feature?

Is it so difficult to implem

[2022-08-28 09:12] kodebach commented on #4444
This mode yes. But it would be easy to add an option do specify a library name, then you could use the "symbol" mode for mounting too. Like you said, you'd either needed a special shared object & executable file or you need a separate shared object that exports the spec, which is linked into the main executable. We don't have to add this. I just mentioned it, because it would be pretty easy to do.

[2022-08-28 09:25] markus2330 commented on #4442
This should be changed to `system:/elektra/mountpoint` as we have in doc/DESIGN.md "We use singular for all names.". Do we need an extra issue for that?

:+1:

Thank you, for so carefully investigating what is to be done! :heart_decoration:

I am missing the information what should be done if such a mountpoint already exists. Are you sure that simply inserting the keys, possibly kicking out other

[2022-08-28 10:00] markus2330 commented on #4444
Ok, so we agree. To make specload simpler:

- we completely remove the "file" feature
- we completely remove all override/update features of existing specifications, i.e., the backend (=plugin) is read-only.

Then there are two config options for specload: symbol and executable (I like this name much more than app). Alternatively, we could use "file", which is required and specifies either an exe

[2022-08-28 11:12] kodebach opened #4452 "[new-backend] Change system:/elektra/mountpoints to singular"
This should be changed to `system:/elektra/mountpoint` as we have in doc/DESIGN.md "We use singular for all names.".

_Originally posted by @markus2330 in https://github.com/ElektraInitiative/libelektra/issues/4442#issuecomment-1229415692_

[2022-08-28 11:18] kodebach commented on #4442
It would probably be safer, to do appropriate `ksCut`s before the `ksAppend` in `ensureContractMountpoint`. This is more complex than I can quickly write up here, but the basic idea would be to

1. Find the keys _directly_ below `mountpointsRoot` in `mountpoints`.
2. Do a `ksDel (ksCut (elektraKs, keyFrom1))` for each of those.
3. Then do the `ksAppend (elektraKs, mountpoints)`.

[2022-08-28 11:22] kodebach commented on #4444
Not necessarily. This depends on what else the mounting code does. But I wouldn't really worry about that. This new `specload` is so simple that creating the mountpoint without tooling is feasible and also creating custom tooling wouldn't be a lot of work.

[2022-08-28 19:08] kodebach commented on #4407
I guess storing `errno` at the start of a function and restoring it at the end isn't that much work. But we need to 1) document clearly that we want to do this in Elektra (not just a decision, but in all relevant developer guides) 2) check for this in code reviews.

We also need to clarify, where we do want the `errno` preserving to happen. For code reviews, it would clearly be easier, if the `err

[2022-08-30 14:08] markus2330 opened #4453 "rework DESIGN/CODING"
- no thread-local variables (like errno)
- no global variables
- only work on our non-const data structures (passed as first argument?)
- explain what `const` means in the API (no publicly visible modifications, but internal modification possible) see #4473

[2022-08-30 14:11] markus2330 commented on #4407
Exactly. Actually the goal is even more general: we do not want to have any side-effect. Only our data structures are allowed to be modified; no thread-local or global variable. I created #4453

This is very debatable. Actually, most of the plugins don't need to load other plugins. But I agree that with backend=plugin it shifts a bit. It must be very clear, however, what problem the new API actual

[2022-08-30 15:23] kodebach commented on #4407
The trouble IMO is that we're duplicating the helper data (like the `modules` keyset) without any need for it. This will also probably get worse, if we switch from the exported plugin struct with function pointers to directly using the contract keyset (this was an idea at some point).

Seems like I missed that part of the code. The code in `src/tools/kdb` was pretty short, so I didn't think much a

[2022-08-30 17:30] atmaxinger commented on #160
#4448 fails [Jenkins Build](https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4448/18/pipeline) Pull docker images step due to `docker login failed`

[2022-08-30 17:37] markus2330 commented on #4444
Without knowing how exactly mounting tooling will look like, I wouldn't say anything about how much effort is needed to write tooling for a new backend plugin.

I hope our tooling handles the "file-resolving" and "noresolver" backends without any code. But let us see what @flo91 proposes.

[2022-08-30 17:51] markus2330 commented on #4428
Are there test cases failing so that we cannot forget about it? Otherwise, could you please add test cases or write an issue?

[2022-08-30 22:00] lukashartl commented on #160
hub.libelektra.org is hosted on a7, which is down.

[2022-08-31 01:59] lawli3t commented on #4411
Your list already looks pretty good. One thing I found useful was using the bitflags crate for creating the methods, but it depends on whether one would want to add a dependency for that.

also some additional traits such as `FromStr` for Key would be interesting, I am sure there are more.

[2022-09-01 04:34] markus2330 commented on #160
a7/v2 is up again, so build system should be back to green :green_heart:

Only i7 is still off, I contacted the admin.

[2022-09-01 04:43] markus2330 opened #4454 "[FLOSS H1] write docu about link checker"
Description how the link checker works and how to use it:

- [ ] ./scripts/link-checker
- [ ] ./tests/linkchecker.whitelist
- [ ] ./doc/markdownlinkconverter/README.md
- [ ] external link checker
- [ ] correct https links to git.libelektra.org and master.libelektra.org

[2022-09-01 05:51] markus2330 opened #4455 "latest latex version fails to produce pdf"
@lukashartl is it possible that we lack some Doxygen/LaTeX dependency?

Build for master and all PRs where I tried, e.g. #4440 #4448, fail but I cannot reproduce it locally: the pdf (2378 pages) builds successfully.

I tried to disable l1 and restarted a job but it doesn't seem to be specific to l1.

[2022-09-01 06:51] atmaxinger commented on #4455
That's funny, because it worked yesterday evening after the downtime.

[2022-09-01 15:00] atmaxinger commented on #4455
Okay, so locally on my system, building the PDF also works.

But if I build it in the same docker image the Jenkins uses, it fails - in that way it's reproducable.
Somehow while generating the PDF it seems to go into an interactive mode and awaits user input, but Jenkins can't deliver it so it fails.

[2022-09-01 15:39] atmaxinger commented on #4455
Okay, funny thing ...

The error seems to be located in the generated latex file `group__keyname.tex` on line 853. What's funny is, that the locally generated file (right) has different content than that one generated in the Docker container (left).

![grafik](https://user-images.githubusercontent.com/5960633/187954990-63eea0a1-0516-43c9-a8af-bf76f088281c.png)

[2022-09-02 05:19] markus2330 commented on #4455
Thank you very much for investigating! :detective:

Looks very much like that the one version of Doxygen produces a syntax-error in its output.

What are the Doxygen versions locally and in the Docker container?

I have Doxygen 1.9.1 (Debian stable), where the docu builds successfully.

Is the problem already reported upstream (in Doxygen)?

To fix the problem, we shouldn't use base doc.Dockerfile

[2022-09-02 08:25] atmaxinger commented on #4455
Yes it works with debian stable in the docker container! I will create a PR for it.

[2022-09-03 04:38] markus2330 commented on #4455
I made a report in https://github.com/doxygen/doxygen/issues/9567 but unfortunately without any minimal example etc.

@atmaxinger if you can provide more info in this issue, please do so directly in the issue. (Some questions above you did not answer, e.g., the local and the sid version of Doxygen)

Not reporting such issues can bite yourself badly: then we might get a broken Doxygen in the next D

[2022-09-04 04:31] markus2330 commented on #3009
It looks like this issue popped up again! It is some undocumented assumption of how build server agents are configured.

The error occurs on master: https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/master/793/pipeline

[code]

@lukashartl can you please fix the Ansible scripts that the default git user will be set (see post directly above) and apply it to l1? I disabled l1

[2022-09-04 07:37] atmaxinger commented on #4455
I'm working on a minimal sample. The Doxygen version is 1.9.4. Currently trying to find out which `.c`-file is responsible for creating `group__keyname.latex` and which Doxygen paramters are used by the build.

[2022-09-04 09:02] markus2330 commented on #4455
@atmaxinger there is actually no urgency the triage (finding a minimal working example) can also be done later by someone doing FLOSS. It is actually a very nice exercise.

Hint for who will do it: group__keyname is probably related with the the group defined in src/libs/elektra/keyname.c

[2022-09-04 09:05] atmaxinger commented on #4455
I actually already created a sample. You can run `run.sh` to reproduce it on Debian Sid, on Debian Bullseye it works fine.

HOWEVER it seems more to do with LaTeX than Doxygen, as the files generated by Doxygen on Bullseye also show the same behaviour with `pdflatex` on Debian Sid.

[sample.zip](https://github.com/ElektraInitiative/libelektra/files/9484340/sample.zip)

[2022-09-04 09:12] markus2330 commented on #4455
Great job, please report to https://github.com/doxygen/doxygen/issues/9567

[2022-09-05 15:04] markus2330 commented on #160
i7 is up again!

l1 there still might be problems, see #3009

[2022-09-05 18:24] markus2330 commented on #3009
@lukashartl any update here? I see l1 is enabled again?

[2022-09-05 18:25] lukashartl commented on #3009
has been fixed and documented here: https://github.com/ElektraInitiative/buildserver/issues/105

[2022-09-05 18:26] markus2330 commented on #3009
Thx, so this issue can be closed!

[2022-09-05 18:26] #3009 closed

[2022-09-06 18:26] markus2330 commented on #4455
Next points to check are if other LaTeX compilers also fail (XeLaTeX and LuaLaTeX).

Furthermore, we could try to simplify LATEX_CMD_NAME, which probably does not need to be set by us, see also https://github.com/doxygen/doxygen/issues/9567

[2022-09-06 19:37] kodebach commented on #4455
I suspect this is an issue with one of the `texlive` packages on Debian Sid rather than a `pdflatex` issue. The question is just which of the packages is the problem, so that we can report the problem.

I generated the LaTeX files (for the `elektra-sample.zip` example) with `doxygen` in a `debian:sid` Docker Container. Running `pdflatex` fails in the container, as described above. But if I know ru

[2022-09-07 04:43] markus2330 commented on #4455
@kodebach you might be right about the cause but it is irrelevant: still it is better to first exclude possibilities that are easy to check (latex compiler) and then continue to investigate possibilities more difficult to check. Your method did not exclude the possibility that it is the fault of the latex compiler. E.g. it is possible that one patch applied by Debian causes the problem, so even ex

[2022-09-07 07:26] kodebach commented on #4455
This issue blocks **all** PRs so I would say it is actually urgent. But yes it's nice for FLOSS so let's leave it.

Maybe we should disable PDF generation for now, or at least move it to a later stage in the Jenkins pipeline so we can ignore the failure and still have all other checks run.

[2022-09-07 07:44] atmaxinger commented on #4455
Strongly disagree here. This issue has been fixed by not using Debian Sid to generate the PDF. PRs into master should work fine now.

[2022-09-07 07:59] kodebach commented on #4455
Okay sorry, I missed that because the PRs linked in the top post still fail. But it seems they were not rerun after the fix

[2022-09-07 12:25] markus2330 opened #4459 "remove legacy stuff"
- [ ] remove getConflicts

[2022-09-07 17:56] markus2330 commented on #160
root server is out of space, will remove some files (old backups and iso images) and restart the computer. I also did the kernel upgrade.

[2022-09-09 15:28] kodebach commented on #4444
Since `specload` will not support loading additional plugins, there is very little configuration possibility:
1. Some way of choosing mode between `symbol` and `executable`
2. Defining the name of the `symbol`/`executable`
3. If `symbol` was chosen optionally, specify library from the symbol is loaded (if we even support this).

With so few options, I'm quite confident writing any tooling code sho

[2022-09-12 11:07] atmaxinger opened #4463 "Milestones kdb-record"
This issue is for tracking my milestones

- [x] M1 - 1.10.2022 - finalized use cases/begin of implementation. Global plugins should work in new-backend branch.
- [ ] M2 - 12.12.2022 - working implementation/begin of case studies. Submitted introduction, methodology and description of case studies for review.
- [ ] M3 - 6.2.2023 First Draft of Thesis

[2022-09-14 05:49] markus2330 opened #4466 "toml should be reentrant"
src/plugins/toml/driver.c and src/plugins/toml/lexer.l unfortunately has non-const global variables, which easily can lead to weird memory problems and crashes, sometimes with output:

[code]

Here a valgrind run:

[code]

The global variables should be removed and passed via a plugin-specific struct instead. (In general non-const global variables are not allowed in Elektra, this was an oversight

[2022-09-14 05:52] markus2330 opened #4467 "yajl: remove global variable"
In yajl we unfortunately introduced a global variable (yajl/yajl_parse.c:static elektraCursor itKs;) which needs to be removed.

See also #4466.

@flo91 can you describe how it can be removed?

[2022-09-14 20:44] kodebach commented on #4466
AFAICT all the globals currently used come from Bison/Yacc (they are all `yy*`). At least for modern Bison there seem to be ways to generate a fully [reentrant parser](https://www.gnu.org/software/bison/manual/html_node/Pure-Decl.html) which should avoid these globals.

@markus2330 I assume this issues is intended for FLOSS? If so, we should probably label it.

[2022-09-14 20:48] kodebach commented on #4467
I had a quick look and it seems `elektraCursor itKs` was a quick and dirty workaround, since `yajl` relied on the internal cursor in `KeySet`s for communication between different functions. So changing this will require reworking some of these functions. This probably means creating a custom struct to wrap a `KeySet *` and a `elektraCursor` and pass that around instead of a `KeySet *`.

[2022-09-15 09:34] markus2330 commented on #4466
@kodebach thank you, very good input!

As you clarified that Bison has support for it, it can actually be a FLOSS issue. I labelled it.

[2022-09-15 12:42] markus2330 commented on #4463
Please also write for M2 which parts of the thesis you want to submit, e.g. introduction and methodology.

About Implementation: I assume everything related to new-backend is M1, everything else is M2 and M3 is for left-overs?

[2022-09-15 12:48] atmaxinger commented on #4463
Hmm yes it would probably make sense to have the Methodology, Introduction and the description of the Case Studies finished by M2.

Regarding the Implementaion: originally everything including new-backend was planned for M2, but if we want to merge it by October then yes M1 would make much more sense for reparing the current global plugins.

Yes, at M3 implementation should be completely finished,

[2022-09-15 12:51] markus2330 commented on #4463
Sounds good to me! :rocket:

[2022-09-15 13:21] markus2330 commented on #4415
I am not against using KeySet as general-purpose data-structure. I only dislike the idea of several semantics for cascading keys.

I think the easiest fix is to have an extra namespace if someone wants to use the KeySet as generic data structure and dislikes the idea of using any of the other namespaces. This namespace would be ignored by kdbGet/kdbSet and cascading lookups.

Can we then agree on

[2022-09-15 14:44] kodebach commented on #4415
Yes, if there will be a separate namespace e.g. `data:/` then doing a lookup in `ksSearch` is fine.

[2022-09-16 10:05] markus2330 commented on #4436
I don't think we can treat the internal structure of documentation the same as the external structure. For the website I think your proposal makes a lot of sense. Structuring based on target audiences, in particular developers using Elektra and developers improving Elektra, would be a vast improvement.

I don't understand, however, how this should be applied to the folder structure. Please give sp

[2022-09-16 10:40] kodebach commented on #4436
Yes, but that was in 1991 and man pages were probably the only public documentation of Unix. The world is different now, most people prefer a web browser over a terminal window.

That's fine, `kdb` is a command line tool. In this case I agree that man pages should be the primary documentation.

What I disagree with is mostly the `man7` stuff, e.g. `elektra-glossary`. All this general information a

[2022-09-16 19:06] #3885 closed

[2022-09-16 19:53] atmaxinger commented on #4412
@kodebach where do I actually need to call the `gopts` plugin? I have some rudementary hooks system working right now.
There are a lot of `// HACK: for gopts`, and in [doc/dev/kdb-operations.md](https://github.com/ElektraInitiative/libelektra/blob/new-backend/doc/dev/kdb-operations.md) it says somewhere around step 13.

If I understand this correctly, I should be able to `kdb get proc:/elektra/gop

[2022-09-16 20:53] kodebach commented on #4412
That's not quite correct. The current version of `kdb` doesn't use `gopts` so that won't work.

There is however a basic test case for `gopts` in `tests/kdb/testkdb_contracts.cpp` so you can use this test case to check your changes.

---

I'll explain the current hacky solution first and then what is actually supposed to happen.

### Hacky solution

At the beginning of `kdbGet` we check, whether t

[2022-09-18 11:34] atmaxinger commented on #4412
@kodebach Thanks for this fantastic write-up! I got it mostly working now. However, there is one thing in the test cases you mentioned that isn't quite clear to me:

https://github.com/ElektraInitiative/libelektra/blob/3e9f5ed10725627405fb36c7a1ea33fa7eb67a1e/tests/kdb/testkdb_contracts.cpp#L98-L102

Why is the key `k`, which is `/tests/kdb/contracts` supposed to have the value `"getter"`? Current

[2022-09-18 22:05] kodebach commented on #4412
If this `EXPECT_EQ` fails, but the next two succeed

[2022-09-18 22:14] kodebach commented on #4412
If this `EXPECT_TRUE` fails, but the next two succeed then that would be really weird, because both should be set by `elektraGetOpts`.

https://github.com/ElektraInitiative/libelektra/blob/3e9f5ed10725627405fb36c7a1ea33fa7eb67a1e/tests/kdb/testkdb_contracts.cpp#L103-L107

The value `"getter"` comes from the fact, that that is the (relative) name of the key that contains the spec for the command th

[2022-09-19 13:26] markus2330 opened #4472 "rework key names examples to follow guidelines"
- [ ] should only use singular (not yet written as rule in doc/help/elektra-key-names.md, please add it there)
- [ ] should only use hierarchy separator for separation

e.g.:

- [ ] doc/help/elektra-key-names.md num_processes -> process/num; hosts -> host

[2022-09-19 13:33] kodebach commented on #4472
`processes` is definitely plural. With `num_processes` you could argue that it stands for "number of processes" which is singular....

[2022-09-19 13:38] markus2330 commented on #4472
Good catch! :1st_place_medal:

num_process(es) is not allowed as it uses a different separator (other than /).

[2022-09-19 14:44] atmaxinger commented on #4412
Yes but that is what happens. Could this be because the `spec` plugin not yet working?

[2022-09-19 14:52] kodebach commented on #4412
No the `spec` plugin isn't required for this to work. The value should be set in this line

https://github.com/ElektraInitiative/libelektra/blob/3e9f5ed10725627405fb36c7a1ea33fa7eb67a1e/src/libs/opts/opts.c#L250

Could you check with a debugger what happens there?

[2022-09-19 15:07] markus2330 opened #4473 "add const to KeySet argument of ksLookup/ksSearch"
AFAICT these are the reasons why we can't use `const`:
1. We may build the hashmap
2. `KDB_O_POP` could remove a key and `KDB_O_CREATE` could create a key
3. We may create a key from `meta:/default`
4. We update the internal cursor

AFAIK cases 2-4 will all be removed soon. IMO in cases like this one, a `const` variant could be useful to avoid the `ksDup`. The variant never builds the hashmap and

[2022-09-19 15:07] markus2330 commented on #4473
lvalue with non-const-qualified type, the behavior is undefined

We do not need to make such an attempt: We can internally do a cast.

We know it, as our functions are the only functions that create a KeySet. We do not allow the KeySet to be constructed in any other way.

If an alternative implementation really has KeySets lying in const memory regions, this implementation obviously couldn't have

[2022-09-19 16:02] kodebach commented on #4473
That's exactly what the standard is talking about. The object (`KeySet`) was defined as const-qualified (`const KeySet *`) but is now accessed through a non-const qualified type (`KeySet *`).

Even with this constraint it's not certain. You could first create a `KeySet *` and then use something like `mprotect` to make the memory read-only. One would expect that it would still be possible to call `

[2022-09-19 16:34] atmaxinger commented on #4412
So I fixed the bug...

Turns out my code didn't quite work yet, because I didn't initialize the loaded plugins with `global` and the config from the contract. The other asserts did work because the old global plugin code did the heavy lifting.

I fixed that now and made sure that the old global plugins do no longer run.

[2022-09-19 16:41] atmaxinger commented on #4452
Also `system:/elektra/modules/<plugin name>/exports`

[2022-09-19 16:49] markus2330 commented on #4473
Interesting interpretation. I don't see how a cast does a modification of the object (as written in the sentence you quote). There are plenty of functions in the C standard that need to do such casts. It would be very weird if only C++ (with const_cast) is able to do such casts and you are not able to implement libc with conforming C code? Anyway, at least in C++ we could write a conforming implem

[2022-09-19 17:06] kodebach commented on #4473
The cast doesn't the cast is what creates the "lvalue with non-const-qualified type". But adding the hashmap to the resulting `KeySet *` certainly is an "attempt to modify the object".

AFAIK those are only functions like `strchr` which e.g. take a `const char *` and return a `char *`, but do not actually modify the data. AFAIK these functions should actually return a `const char *`, but that woul

[2022-09-19 17:41] markus2330 commented on #4473
Yes, but that would be in an different statement/expression and your quote would not apply anymore. But as said: it does not matter as we don't have as design goal that a standard-conforming implementation in C is possible. (In fact it is not already, as we have a function <-> non-function cast in our module loader.)

This is probably differences in expectations if you look at it from the C or C++

[2022-09-19 17:47] markus2330 commented on #160
Yes, at least http://krypted.com/lists/comprehensive-list-of-mac-os-x-error-codes was down this morning.

[2022-09-19 18:04] kodebach commented on #4473
I'm not sure what you want to say here. The way I read the standard is:

"If an attempt is made to modify an object defined with a const-qualified type through use of an
lvalue with non-const-qualified type, the behavior is undefined"

"An object defined with a const-qualified type"

[code]

"an attempt is made to modify [...] through use of an lvalue with non-const-qualified type"
[code]

Now if

[2022-09-19 18:20] markus2330 commented on #4473
Is this also the case if the object initially wasn't const? (As is always the case in our situation.)

Or as example, you argue that `char * x = ..; strchr(x, ..) = y;` is UB?

We clearly say that you need to duplicate Elektra's data structures in order to use them in different threads. So you are proposing additional thread safety we did not have before here?

[2022-09-19 18:52] kodebach commented on #4473
I'm not sure. "an object defined with a const-qualified type" could be read as "defined as const at some point", not necessarily "defined initially as const". But as I already said, my main concern never really was standard compliance.

It's quite hard to say what the standard actually wants to express here. Even more so since AFAIK no compiler actually exploits this in any way.

No that's a [comp

[2022-09-20 08:42] atmaxinger opened #4474 "Make ksLookup work with const KeySet *"
During review of PR #4471 a [discussion came up](https://github.com/ElektraInitiative/libelektra/pull/4471#discussion_r974138545) regarding the inability of `ksLookup` and `ksLookupByName` to take `const KeySet *` as argument.

[2022-09-20 09:08] atmaxinger opened #4475 "Have a way to say that all errors in a function should be emitted as a warning"
We should have a way to say that all errors in a function should be emitted as a warning.
This was originally proposed by @kodebach and @markus2330 in this discussion: https://github.com/ElektraInitiative/libelektra/pull/4471#discussion_r974358735

[2022-09-20 09:09] atmaxinger commented on #4474
Closed as it's a duplicate of #4473

[2022-09-20 09:09] #4474 closed

[2022-09-20 11:38] kodebach commented on #4475
Not necessarily just in a function, but in a section of code, i.e. enabling/disabling a mode where all errors are converted to warnings.

[2022-09-20 11:47] kodebach opened #4476 "[FLOSS] Switch from probot/stale to github/stale"
We should switch from the current Probot based "stale issue bot" to [the one provided by GitHub](https://github.com/marketplace/actions/close-stale-issues).

Not only is the Probot based one, seemingly no longer maintained (see https://github.com/probot/stale/issues/385 and https://github.com/probot/probot.github.io/pull/376), but the GitHub one also has a lot more options. Including [one option](

[2022-09-20 21:56] kodebach commented on #4054
ping

[2022-09-20 22:01] kodebach commented on #2202
I can't find the issue now, but IIRC the decision was to make key names read-only based on a second reference counter that only counts references from `KeySet`s.

[2022-09-20 22:03] kodebach commented on #3578
The script definitely needs to be updated for `new-backend`, if we want to keep it at all. Since different backends can have different positions, I think we should just remove the script.

[2022-09-20 22:07] kodebach commented on #3697
@markus I think this could be a good FLOSS issue. Stripping the `meta:/` prefix when writing and adding it when reading should be pretty simple.

[2022-09-21 03:18] #3512 closed

[2022-09-21 15:45] markus2330 opened #4477 "ksSearch: should support cascading"
#4414 uncovered this problem. It is quite easy to implement if done similar to ksLookup: you basically only need to check if a key is cascading, then do elektraLookupByCascading, and then ksSearchInternal this key. (In #4039 we can take care of optimizations...)

Then there is another problem: the function is basically unable to return errors, which would be needed if no cascading key is found (an

[2022-09-21 15:47] markus2330 opened #4478 "introduce new namespace for generic data structures"
Introduce a new namespace and fix all places where cascading namespaces are used as generic data structure.

@kodebach wrote:

---

With a quick search I found:

- `src/libs/opts/opts.c`: Yes, I know I wrote that code, but I didn't have anything else to use. The way `opts` works and passes data between processing steps, it definitely needs a hash map. I'm not 100% certain we need the full hierarch

[2022-09-21 15:47] #4415 closed

[2022-09-21 16:11] markus2330 commented on #4436
:+1:

About the other man pages I do not have a strong opinion. What is your suggestion where to put them?

Of internals: duplication is a bad thing. For external stuff (e.g. API) duplication is good: we want many examples, tutorials, etc.

MkDocs and Docusaurus looks quite similar to what our website already does. Sphinx could be interesting as it could replace Doxygen and the website. But it is

[2022-09-21 16:57] markus2330 commented on #4473
I thought it is obvious that I wanted to show that strchr must do some kind of cast internally which can be used to modify the (non-const) data.

No, I don't think that this is implied in any way. It is probably a similar confusion as that volatile has something to do with thread safety.

Yes, we should be very explicit that **our implementation** does not allow the uses of mprotect or concurrent

[2022-09-21 17:47] kodebach commented on #4032
see #4444

[2022-09-21 17:47] #4032 closed

[2022-09-21 17:47] kodebach commented on #3777
@mpranj Is this still happening?

[2022-09-21 17:50] atmaxinger commented on #3318
We can close that, it is already done.

[2022-09-21 17:50] #3318 closed

[2022-09-21 18:09] kodebach commented on #3548
I checked the source code and it's not as simple as switching `keyName` to `keyUnescapedName`, but is pretty simple to make the hashmap work with zero-bytes. (details below)

Even if we don't remove the escaped name, we should make this update, because it would avoid the unnecessary `strlen` calls. We already know the size of all key names.

---

`opmphmHashfunction` clearly takes both a `const vo

[2022-09-21 18:11] kodebach commented on #4476
@markus2330 The old Probot based bot also seems to be buggy. It closed both #3318 and #1610 even though the last comment wasn't the "I mark this issue stale" from the bot.

[2022-09-21 21:24] kodebach commented on #4477
Actually, I would

1. Move the full code of `ksLookup` into `ksSearch`
2. Rewrite that code (i.e. all the functions called by `ksLookup`/`ksSearch`) to return a `elektraCursor` instead of a `Key *`.
3. Implement `ksLookup` as `ks->array[ksSearch(...)]` plus error handling

That should still be pretty simple. The functions in `ksLookup` all eventually call back into `ksLookup` with different argume

[2022-09-21 21:33] kodebach commented on #4478
I propose `data:/` as the name for this namespace.

Just adding the namespace should be pretty simple, IIRC we only need:
- Add `KEY_NS_DATA` to the enum
- Update `keySetNamespace` and `elektraReadNamespace`
- Add tests to `test_keyname.c`
- Update the various `switch` statements that use the `KEY_NS_*` constants (search for e.g. `ELEKTRA_NS_NONE` to find them)

@markus2330 Might be worth adding t

[2022-09-21 21:52] kodebach commented on #4436
Right now: Leave them. Long-term: Somewhere on the website, assuming a sensible website structure.

I think we can assume that people who are learning Elektra have access to a browser and the internet. If we really want to provide a local copy, we could ensure that the website framework we use produces static HTML. Then we could package and ship that in a docs package (with doxygen, etc.)

IMO thi

[2022-09-21 22:28] kodebach commented on #4473
Okay, so what _does_ `const` imply to you?

I don't think this is explicit enough. I think we must explicitly state: "This function will cast the provided `const Keyset * ks` to `Keyset * ks` and `const Key * key` to `Key * key`. Both `ks` and `key` may be modified. Any modification made is purely internal and does not affect the outcome of any public API functions called after this functions retu

[2022-09-22 17:13] markus2330 commented on #4403
@atmaxinger can you do this? They are needed to make libelektra build on olimex boards. Would be good to fix this for the upcoming release (before new_backend merge).

[2022-09-22 17:52] atmaxinger commented on #4403
Sure. Do I build it on the board or cross compile?

[2022-09-22 17:56] markus2330 commented on #4403
:sparkling_heart:

I only tried building on the board with the image from Olimex. Cross compilation actually would be much easier for our build servers, as we would not need to integrate this slow hardware.

[2022-09-22 18:07] markus2330 commented on #4473
That is a very general question which would lead this discussion totally astray. There are many books and papers about that topic (OOP). For `const Key` and `const KeySet` I already gave a short answer much earlier: it is a guarantee to the user that we do not change something observable via the API.  Caching, Lazyness etc. is okay (e.g. we could also calculate the name when `elektraKeyName(const

[2022-09-22 18:13] markus2330 commented on #4436
It is not like that I never tried to have someone on this topic or that nobody ever worked on it. Let us face it: it is very unpopular and no "outsider" (i.e. only working on docu) will give satisfactory results. So every dev needs to contribute their part.

I would like to have the low-hanging fruits fixed before the lecture starts, within the new-backend branch. The situation currently in new-ba

[2022-09-23 11:14] kodebach commented on #4473
In my mind the question has a very simple answer. `const` in C means read-only, i.e. data that cannot be modified.

[The](https://learn.microsoft.com/en-us/cpp/cpp/const-cpp?view=msvc-170) internet [seems](https://en.wikipedia.org/wiki/Const_(computer_programming)) to [agree](https://www.ibm.com/docs/en/i/7.1?topic=qualifiers-const-type-qualifier) with [me](https://en.cppreference.com/w/c/language

[2022-09-23 11:58] atmaxinger commented on #4403
So I just took the base image from olimex, installed all packages that are described in the bullseye Dockerfile, cloned from master.

[code]

and everything built fine, even `testmod_type`.

[2022-09-23 12:36] kodebach commented on #4436
I'm not sure there is any low-hanging fruit in terms of structure. We might be able to move some files around. But after looking around a bit, I'm not even sure that's possible. AFAICT the current website expects a certain structure. So we might be limited in what is possible and also useful.

As for content, I think splitting up and restructuring existing docs will be quite time consuming. IMO th

[2022-09-23 13:08] markus2330 commented on #4403
Great news, then it was probably some dependency issue. Did you install all the packages described in the bullseye Dockerfile?

[2022-09-23 13:10] atmaxinger commented on #4403
Yes, I executed the following command:

https://github.com/ElektraInitiative/libelektra/blob/5ebc9a4ba5215950f990f7dca948ce310f764079/scripts/docker/debian/bullseye/Dockerfile#L7-L81

[2022-09-23 13:18] markus2330 commented on #4473
Of course it is like this. The relevant question is from which viewpoint it is read-only. The OOP answer usually is that the viewpoint is the interface from the outside, i.e., the API. In a quick look I didn't find anything in your links which disagrees.

Btw. it is not something new I propose here, Elektra uses this guidelines as long as I can remember. E.g. we also used the iterators of const me

[2022-09-23 13:18] #4473 closed

[2022-09-23 13:20] markus2330 opened #4480 "add const to KeySet argument of ksLookup/ksSearch"
There were 2 reasons why the KeySet was not const:

1. `KDB_O_POP` could remove a key and `KDB_O_CREATE` could create a key
2. We may create a key from `meta:/default`

When all three 3 reasons disappear, we can add const.

For lengthy discussion see  #4473

New signature:

[code]

[2022-09-23 14:06] atmaxinger commented on #4403
One thing I have noticed tho are that sometimes there are random build failures, not always in the same files. And also not really an error regarding syntax or linking. They also disappear when you run the make command again.

For example:

[code]

Here it only says

As the compilation on the board itself takes somewhere between 30 and 40 minutes, I think it might be related to the hardware. Eithe

[2022-09-23 14:17] kodebach commented on #4473
C is **not** an OOP language, so I don't see that as a valid answer to the question: "What does `const` imply in a C type?" IMO that's also why the (C-specific) links don't explicitly disagree. Although I'd say they don't agree either.

[2022-09-23 14:25] kodebach commented on #4480
Might be worth a separate issue, but the `Key *` argument should also be `const`. It may be temporarily modified, but when `ksLookup` returns the `key` should be identical to before.

Also something along the lines of this should be added to the API docs of `ksLookup`:
"This function will cast the provided `const Keyset * ks` to `Keyset * ks` and `const Key * key` to `Key * key`. Both `ks` and `ke

[2022-09-23 14:40] kodebach commented on #4403
To me this almost sounds like a weird compiler bug or an issue with the `cmake ..` flags (you, markus2330, didn't tell us how you set up the build dir). I know "compiler bug" is the last thing you should suspect, but "undefined reference to 'main'" is just a very strange error when `main` clearly exists in the code and the correct files are included in the linker command. You didn't state compiler

[2022-09-23 17:28] kodebach commented on #4403
I can now confirm that, error is for "out of memory" ;)

I didn't have time to install all the dependencies, but neither `type` nor `internalnotification` need any deps. You can see in my [cmake.log](https://github.com/ElektraInitiative/libelektra/files/9634883/cmake.log) what parts I compiled. Everything compiled fine (once I increase the swap size to avoid the out-of-memory issue). The OS detail

[2022-09-23 20:54] atmaxinger commented on #4403
Can also confirm. Let the olimex image run within a chroot and qemu-user-static on my main system, works flawlessly every time (and faster than on the board itself 😂)

[2022-09-24 10:44] markus2330 commented on #4473
Irrelevant here as we are discussing const usage for parameters.

https://doc.libelektra.org/api/latest/html/ clearly says on the front page that Key, KeySet and KDB are considered to be classes. This is already the case since the first commit in Elektra's repo, on Sat May 29 11:46:26 2004 (KDB was called Registry back then.)

ditto

[2022-09-25 12:48] markus2330 opened #4481 "profile plugin: allow profile to be passed by command-line"

[2022-09-25 12:55] markus2330 commented on #2202
I was not really in favor of two reference counters but if we have/get two reference counters, it would be a good idea that the one counter is to count key-name-is-read-only and the other one counts key-can-be-freed.

In any case: we should only provide a solution if it is correct. Otherwise it is much better to not lock/unlock, see above.

[2022-09-25 12:56] markus2330 commented on #3578
Yes, please remove the script in the new-backend branch. The functionality can be reintroduced later. It better should be on top of @flo91's API.

[2022-09-25 12:58] markus2330 commented on #3679
@kodebach can you describe what needs to be done here to make this a FLOSS issue?

[2022-09-25 13:05] markus2330 commented on #280
@Eiskasten as discussed, please write tutorial/documentation about Elektra's type system.

@atmaxinger I assigned you to write tutorial/documentation for 3-way merging.

[2022-09-25 13:14] markus2330 commented on #4280
@flo91 could this one more project? Or simply as normal issue?

[2022-09-25 13:18] markus2330 opened #4482 "shell recorder improvements"
- [ ] general rework and improvements (error handling, better output etc.)
- [ ]  #1887
- [ ] #1982
- [ ] proper EOF that doesn't need backslashes, see #1654

[2022-09-25 13:18] markus2330 commented on #2190
Would be fixed with #4482

[2022-09-25 13:18] #2190 closed

[2022-09-25 13:49] kodebach commented on #4481
It should already be possible to add something like this to the specification of an application (mounted at `spec:/sw/org/myapp/#0`:

[code]

Then you can use `--profile=myprofile` and `gopts` should already set `proc:/sw/org/myapp/#0/profile = myprofile`.

That being said, I think the profile handling should be integrated into the `spec` plugin. That way it would be active by default and we don't

[2022-09-25 13:59] kodebach commented on #2202
Yes, of course the simplest solution is to not lock/unlock. But then it is kinda hard to keep track whether a `Key` is contained in a `KeySet`, i.e. whether it is safe to change its name.

Yes, that's basically what I had in mind. The way I would phrase it is that the lock for the keyname is not a simple binary lock (locked/unlocked), but is more like a semaphore. If you lock the keyname `N` times

[2022-09-25 14:15] kodebach commented on #3679
1. I disagree with @mpranj and think that not running `check_formatting` in parallel with anything else is appropriate. Since `check_formatting` does a diff, we it should run alone to ensure nothing else is making modifications, even if they are temporary.
2. However, I do agree that tests (or in fact CI in general) shouldn't write to source files. IMO we should actually make the entire source tre

[2022-09-25 16:08] markus2330 commented on #4478
For a project also the updates should be doable.

[2022-09-25 16:41] markus2330 commented on #4436
The website shouldn't expect expect anything. It has a separate structure defined in src/tools/website/resources/structure.json.in which could be totally different. (Obviously you will prefer to reuse README.md already containing long lists of e.g. tutorials but actually you could list any files.)

The problem is that in February it will be even more impossible (because in summer-term students act

[2022-09-25 17:04] markus2330 commented on #539
@hannes99 also some old bug that should be fixed with the rewrite.

[2022-09-25 17:35] kodebach opened #4483 "[new-backend] Release"
This issue is a overview and discussion issue to document what conditions must be met before we can merge `new-backend` into `master` (i.e. merge #4187).

- [ ] By the end of this year `master` must be in a usable and in a well-tested state.
- [ ] Docs for new-backend should be complete enough for newcomers to understand (FLOSS T3)
- [ ] Most of the tests should be reenabled.
- [ ] New tests for d

[2022-09-25 17:37] kodebach commented on #4436
I saw that. I just wasn't sure how flexible this is since it is something totally custom. However, I guess we could always list all docs files individually instead of relying on the more advanced features.

I also didn't say that we should wait until February to merge `new-backend`.

That would be a good thing. Since it would mean their work is finished, i.e. `new-backend` would be much closer to

[2022-09-25 17:47] mpranj commented on #3777
Yes, [it is](https://cirrus-ci.com/task/4788134348062720).

[2022-09-25 18:41] kodebach commented on #3777
Based on the way the `uninstall` command is written in `.cirrus.yml`, it will never fail.

https://github.com/ElektraInitiative/libelektra/blob/5ebc9a4ba5215950f990f7dca948ce310f764079/.cirrus.yml#L202

The command basically says: Run the `cmake` command and only if it fails, print the output. But that also means this build step only fails, if `printf` fails.

What we want is probably something li

[2022-09-26 15:57] markus2330 opened #4485 "[new-backend] Merging into master"
- [ ] basics of kdb framework exist, at least kdb get/set/rm works (@hannes99)
- [ ] basics of kdb mount work (@flo91)
- [x] hooks: at least gopts, spec & dbus basically works (@atmaxinger)
- [ ] Docs should be complete enough for newcomers to understand what to expect, what is broken (@kodebach)
- [x] Rebase onto `master` or merge `master` changes into `new-backend` (@kodebach)
- [ ] #4487 basic

[2022-09-26 15:58] markus2330 commented on #4483
Thank you for your initiative! :rocket: :heart_decoration:

I extended/updated the list above.

I don't think that all of this is needed for merging, instead it is needed before doing a release after merging the new-backend branch. I updated the title.

I created a new issue for what I think is needed for merging:  #4485

[2022-09-26 16:03] markus2330 commented on #4485
Or to be more specific: What do you all think of doing a release of 0.9.11 on 4.10.2022 (@mpranj) and then merge the new-backend directly afterwards (@kodebach, but obviously all the tasks above must be fulfilled before by @hannes99 @flo91 @atmaxinger @Eiskasten).

[2022-09-26 17:10] markus2330 opened #4486 "document documentation guidelines"
based on https://arc42.org/

- [x] building block view for libs

[2022-09-26 17:17] markus2330 commented on #4436
I don't think that creating issues of missing docu by us leads anywhere. We should fix as much as possible ourselves and  steadily improve docu in every PR. Only if an outsider sees something is missing, an issue is useful (in form of a question what the person didn't understand). Thus question issues should always be fixed in the docu, so that it will be clear for the next person.

We already had

[2022-09-26 17:23] kodebach commented on #4483
I guess you mean the cache should work? Because `mmapstorage` itself should already work.

[2022-09-26 17:24] markus2330 commented on #4483
@kodebach wrote in #4436:

If not now and not in Februar it means that it needs to happen in the middle of the term, which is difficult/impossible to communicate to the FLOSS participants, who want to work on their PRs with as little disturbances as possible.

This wish is contrary to my experiences in the past. Only if work is actually used by someone else (which requires merged in master and ide

[2022-09-26 17:35] kodebach commented on #4485
I added the most important task (rebase/merge from `master`)....

I think we also need a bit more details to decide, if this is feasible:

- The basics of `kdb` as well as `kdb mount` already work on the `new-backend` branch. They are still in C++ and the way `kdb mount` is implemented is not ideal. It makes a few assumptions that aren't necessary anymore, but when I fixed it, my intention was to

[2022-09-26 17:57] markus2330 commented on #4485
- libmount in C
- kdb should use gopts

As discussed with @atmaxinger there should be tests for all the hooks.

This is okay to some extend. But the confusion must be at some later point so that people can at least successfully get to a point where they can ask a useful question (and also have the motivation to do so).

[2022-09-26 18:06] markus2330 commented on #3486
@kodebach any thoughts on this?

[2022-09-26 18:08] markus2330 commented on #3131
@atmaxinger do you want to take this issue?

[2022-09-26 18:16] markus2330 commented on #3554
@flo91 what is open here?

[2022-09-26 18:23] markus2330 commented on #3938
@kodebach can you describe what needs to be changed to fix this issue?

[2022-09-26 18:24] markus2330 commented on #3975
@kodebach can you do this with your tool, too?

[2022-09-26 18:25] markus2330 commented on #2492
@hannes99 is this interesting for you?

[2022-09-26 18:32] kodebach commented on #4486
Not sure if this appropriate here. But we should document all these guidelines _within the repo_. IMO it is not enough to link to some paper and an external page to explain decisions. There should at least be a short explanation within the repo, in case the external information goes away.

If you are refering to [this](https://docs.arc42.org/section-5/) I actually think that's a horribly useless w

[2022-09-26 18:33] kodebach commented on #4436
It would tell us about the current state of our docs. Right now I have no idea, how much of the docs really are outdated.

Of course fixing things immediately would be better. But there are still many reasons why what's not always easy.

For the bigger problems (e.g. updating outdated information) you need time, which we don't always have. It's much better to create an issue for later than to just

[2022-09-26 18:37] kodebach commented on #4486
We probably should also have a `CONTRIBUTING.md` at the root of the repo that explains what too look out for and where all the guidelines for contributors are documented. See also https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors

[2022-09-26 19:03] kodebach commented on #4485
Why is this needed for the merge?

The current mounting code in `new-backend` works well enough for most test cases (including `testshell_markdown_*` and `testscr_*` ones). I don't see what having it in C instead of C++ changes.

_If this is really needed_, there **must** be a PR for this in the next few days (maybe until Wednesday). Otherwise there won't be time to review this.

Again why?

Here,

[2022-09-26 19:13] kodebach commented on #3486
Yes, adding a `-plugin-` part to plugin SOs is a very good idea. It would also avoid weird cases like having to call the plugin `gopts`, because `opts` would conflict with the library.

Since `elektraModulesLoad` already returns a `elektraPluginFactory` that is a sensible change.

Additionally, I would also change `elektraPluginFactory` from

[code]

to

[code]

where the returned `KeySet *` is th

[2022-09-26 19:23] kodebach commented on #3938
I **think** we just need to change this part

https://github.com/ElektraInitiative/libelektra/blob/5ebc9a4ba5215950f990f7dca948ce310f764079/src/libs/highlevel/elektra_value.c#L55-L63

if `keyGetMeta` returns `NULL` we should `return resultKey`.

I'm not sure, if other changes are needed, but it should be pretty simple to use an example like the one you provided and step through it with the debugge

[2022-09-26 19:24] kodebach commented on #3975
Yes, should be possible.

[2022-09-26 21:45] eiskasten opened #4487 "[new-backend] Fix unit tests"
Lots of tests currently fail in the master branch (c56018228d913a67de3b37e79cd51a652c5285f1).

## Expected Result

All tests should pass

## Actual Result
The following tests are failing:

- [x] 19 - testlib_notification
- [x]  36 - test_kdb.py
- [x]  37 - test_gopts.py
- [x]  41 - test_tools_plugindatabase.py
- [x]  46 - test_kdb.lua
- [x]  47 - test_gopts.lua
- [ ] 69 - testshell_markdown_base64

[2022-09-27 07:21] markus2330 commented on #4481
@hannes99 can you check if this works for `kdb`?

Please refrain from off-topic suggestions. In this specific case I don't think it is a good proposal, as some applications don't want profiles and the main advantage of plugins is that you can either include or exclude them as preferred. If you think it is a good idea anyway, please create a separate issue for the proposal.

[2022-09-27 07:36] markus2330 commented on #3679
Good idea but I am afraid it is hard to implement. Simply letting `check_formatting` run in parallel and from time to time get failures if builds/tests do insane things (like modifications of the source) is the much more simple thing to do.

Obviously a correct reimplementation would fix every issue. But I think we shouldn't wait for such events, as it might never happens.

@kodebach Probably, in

[2022-09-27 07:38] markus2330 opened #4489 "3-way merge: elektraGetConflicts should return conflicting keys"
We should have a way to find out which keys caused conflicts in the C implementation of the 3-way merge.

[2022-09-27 07:39] markus2330 commented on #3131
Hopefully someone picks it as FLOSS project. I think it is important to get rid of the C++ implementation. It is very confusing that different tools use different merging implementations.

@atmaxinger is there anything else missing except of #4489 so that the C implementation is a full replacement for the C++ implementation? To fix #4489 would be a prerequisite to fully solve this issue.

[2022-09-27 07:45] markus2330 commented on #4487
@Eiskasten Thank you very much for kicking off this issue :rocket: :revolving_hearts:

@atmaxinger can you give some input about the extra tests that failed after merging #4471?

[2022-09-27 07:46] markus2330 opened #4490 "improve elektraPluginFactory"
Since `elektraModulesLoad` already returns a `elektraPluginFactory` that is a sensible change.

Additionally, I would also change `elektraPluginFactory` from

[code]

to

[code]

where the returned `KeySet *` is the contract of the Plugin to avoid the hacky overload of the `get` function.
I think that is already mentioned in another issue. This also requires changing `elektraPluginExport` and `ele

[2022-09-27 07:49] markus2330 commented on #3486
Thank you for your input!

I have split the issues: this issue is only about renaming: adding the `-plugin-` part, for the rest there is #4490.

[2022-09-27 07:51] atmaxinger commented on #4487
[code]

The problem lies in `goptsActive`. Previously, it was checked like this:
[code]

Which doesn't really tell you if `gopts` is really activated, just if there is some plugin loaded there. Spoiler: the `list` plugin is. This with the fact that both backends are in the `proc:/` namespaces led to the following block executing:

https://github.com/ElektraInitiative/libelektra/blob/3e9f5ed1072562

[2022-09-27 08:46] markus2330 commented on #4436
We are actually in a quite good situation: not much is outdated. As a matter of fact: I think the situation was never as good as it is now. The last huge change, the changes of keynames is now afaik fully fixed in the documentation. I did not come across wrong parts for quite some time now.

Of course new-backend will make the situation a bit worse again. But the worst can be avoided if you (quick

[2022-09-27 08:51] markus2330 commented on #4485
Initially you said that the tooling in the new-backend branch is broken. Nevertheless, this work is at least indirectly needed anyway. If nobody works with new-backend, it is untested/unreviewed. To base some work on it, gives much higher chances that we merge something that works for more than one person. As now several people worked on the new-backend branch and no unknown fatal error was report

[2022-09-27 09:39] mpranj opened #4491 "0.9.11 Release"
Tasks and coordination for the 0.9.11 release.

Merge **after** release:

- #4485

[2022-09-27 10:00] kodebach commented on #3679
I think that would be most of the `testmod_specload` tests, since they are mostly their to check the "spec protection" features, i.e. which parts of the spec can be changed...

If we want to avoid getting more untested code, we could also make `specload` read-only and but the keep the rest. So just remove the `set` function and anything that relies on it.

[2022-09-27 10:01] kodebach commented on #3131
Couldn't @hannes99 swap the merge implementation in `kdb` while moving to C?

[2022-09-27 10:17] kodebach commented on #4487
Yes, the `goptsActive` check wasn't correct. But as I said in https://github.com/ElektraInitiative/libelektra/pull/4471#issuecomment-1255095972 the failing tests have existed in this form since before `gopts` (and `PROCGETSTORAGE`) was a thing.

Also AFAICT `0` is the correct return value here. All these tests set up temporary mountpoints without creating the storage files. Therefore the `resolver

[2022-09-27 10:22] kodebach commented on #4481
Not sure how this was off-topic, since it concerns the `profile` plugin...

Could be configurable via metadata in the spec, e.g. instead of assuming `/sw/_/_/#/profile` specifies a profile, we could have a `meta:/profile` key that says "this key defines the active profile for the keys below".

I don't think it is that important. I just thought combining with `spec` would simplify things. If `profi

[2022-09-27 10:38] kodebach commented on #4487
@Eiskasten there are also quite a few tests in `new-backend` that are commented out or disabled.

Some of them are tests for old data structures that aren't used anymore. In those cases, there might not yet be tests for the new data structures.

https://github.com/ElektraInitiative/libelektra/blob/fac849659be65b3021ded570dcf33e2edb95c407/tests/ctest/test_mount.c#L15-L17

Other tests, check behavio

[2022-09-27 10:50] kodebach commented on #4485
That must have been a long time ago. 841b096f4fdac52160b0277df9f6289d20678c58 is almost a year old. Since around then `kdb mount` should work well enough for the most cases (assuming you want `backend` as your backend plugin)

Yes, of course as much work as possible should be done before the merge. But my original goal for #4483 (which moved to this issue) was to have _hard_ requirements to decide

[2022-09-27 11:01] atmaxinger commented on #4487
@kodebach do we actually have tests for the spec plugin testing the bahaviour as global plugin that I can repurpose for the hooks? The two I found (test_spec and testmod_spec) all pass. But there must be some tests in elektra that actually test the behaviour of kdbGet and kdbSet with spec, right?

[2022-09-27 11:23] kodebach commented on #4436
It's hard to say without reading and checking everything. For example, I'm not sure [this](https://github.com/ElektraInitiative/libelektra/blob/master/doc/dev/architecture.md#modules) is fully correct anymore. Similarly. [this]((https://github.com/ElektraInitiative/libelektra/blob/master/doc/dev/data-structures.md#adt) reads as if we are unsure what the internal structure of a `KeySet` should be.

[2022-09-27 11:29] kodebach commented on #4487
`test_spec` AFAICT that's actually a test for `ksLookup` (more specifically the `elektraLookupBySpec` part).

`testmod_spec` that should be the main test for the actual functionality of `spec`.

Tests for how `kdbGet`/`kdbSet` `spec` don't really exist AFAIK. But all the `testkdb_*` do full `kdbGet` and `kdbSet` calls with really mountpoints. Some of them may also rely on `spec` (I haven't checked

[2022-09-27 12:14] markus2330 commented on #3679
Yes, good idea.

So this task is:

1. make specload readonly (remove setter)
2. remove its tests
3. renable reformatting in parallel https://github.com/ElektraInitiative/libelektra/commit/febf6cd350321a4e2021f90371a2d6bced525565

[2022-09-27 12:18] markus2330 commented on #4481
The topic is: "profile plugin: allow profile to be passed by command-line" not "general discussion about profile plugin". I hided the off-topic post. (And also this one.)

[2022-09-27 12:30] markus2330 commented on #4485
It was around 2022-05-11 (new backend meeting), so probably there was some misunderstanding.

I think the only left-over hard requirements are that all tests must pass and that there are no merge-conflicts.

On the one hand it is impossible to make it a hard requirement in this situation (nobody can do a careful review of the whole docu but nearly everything is effected) but on the other hand PRs

[2022-09-27 12:32] kodebach commented on #3679
Only remove the tests that check setter functionality (`test_add`, `test_edit`, `test_remove`) and the parts of other tests that test `kdbSet`. There should still be basic tests to make sure `kdbGet` works.

I think there are also some tests (e.g. `testscr_check_gen`) and examples that use `specload`. I don't think any of them use the setter part of `specload`, but we may need to remove some extra

[2022-09-27 12:48] kodebach commented on #4487
@Eiskasten I'll fix `testscr_check_doc` in #4484

[2022-09-27 13:17] kodebach commented on #4485
Like I said, I think we can loosen this requirement a bit. Tests for bindings and rarely used plugins are not so important.

Also there are few questions left:
- Are commented out or disabled tests acceptable?
- Must the tests for old data structures, etc. be replaced by new ones?

IMO disabled tests are fine and we don't have to have all the new tests before the merge. I say this because AFAIK al

[2022-09-27 15:12] markus2330 commented on #4436
There seems to be a misunderstanding: I asked "only" about removing docu that is now definitely incorrect **because** of changes in new-backend.

Thank you for pointing it out. 79b572d0c9bfddd96e3af89ec28b2f188b981f3f

Yes, I totally agree. c4ccc27c077d106af50d2fe3886eacbda2f37656

:100: :revolving_hearts:

I agree, will add this in #4486

I think you overrate issues. It is also work to find dupli

[2022-09-27 16:20] atmaxinger opened #4493 "[new-backend] spec hook - default:/ backend"
I've got the `spec` plugin and its copy hook in a state where it will generate the `default:/` keys according to spec.
However, `backendsDivide` fails because there is no backend for `default:/` keys.

Command:
`kdb meta-get spec:/example/port default`

spec.ini:
[code]

Expected result:
8080

Actual result:

Sorry, module kdb issued the error C01310:
Internal: Couldn't divide keys into mountpoint

[2022-09-27 17:09] atmaxinger commented on #4493
I worked around it by cutting all `default:/` keys before the split and then merging them in into the end result.
As there is not backend involved, it should be find if they are not contained in the post storage phase (?).

[code]

[2022-09-27 17:11] markus2330 opened #4494 "[new-backend] kdb mount: remember passed mount-commandline"
When backends/plugins get upgraded, the same mount command might produce a different result. A very easy approach to allow remounting on backend upgrades would be that we remember in `system:/elektra/mountpoints/\/<name>/plugins/backend/cmd` which command the user typed. On upgrades, `kdb remount-all` is executed, which executes all these commands, then all spec-mounts etc. are up-to-date.

(The a

[2022-09-27 17:15] markus2330 commented on #4494
This proposal would also fix #1306

[2022-09-27 17:17] markus2330 commented on #3910
@kodebach are you still working on this issue? I think this could be a FLOSS project. Can you please update the top-post with what is to be done that we can use TOML as default plugin?

[2022-09-27 17:18] markus2330 commented on #4466
@kodebach this should be part of #2330

[2022-09-27 17:19] markus2330 commented on #3490
@kodebach this issue is for everything that is not #2330 (further features etc.)

[2022-09-27 17:24] markus2330 commented on #4329
@kodebach Does new-backend influence how this issue can get solved? Further input is required so that this can be a FLOSS issue.

[2022-09-27 17:31] markus2330 commented on #3614
The goal of this issue to get rid of loop in elektraResolveDir, in src/plugins/resolver/filename.c
Instead simply always use the current working directory.

[2022-09-27 17:32] markus2330 commented on #2913
@lukashartl will you do this? You are currently not assigned...

[2022-09-27 18:18] kodebach commented on #4466
#2330 is closed, did you mean #3910 or maybe #3490? If so, you should probably also link it from there.

[2022-09-27 18:19] kodebach commented on #3490
#2330 is closed, did you mean #3910 or maybe #4466?

[2022-09-27 18:22] kodebach commented on #2607
This issue is still open, because it is unclear whether the current API of `elektraPluginGetPhase` is the best solution. Maybe this would be better

[code]

Then plugins could use a `switch` instead of repeated `if(strcmp(...))`.

[2022-09-27 18:26] kodebach commented on #1470
@markus2330 This may be an issue for FLOSS, especially if the patch provided by you actually solves everything.

[2022-09-27 18:30] kodebach commented on #2918
Also discussed in this comment chain: https://github.com/ElektraInitiative/libelektra/pull/4484#discussion_r979453510

IMO we should undo the separately exported `commit` function and also remove the separately exported `error` function and merge both of them back into the `set` function. At the end both "commit" and "error" are part of "set" and not something separate that can be used standalone.

[2022-09-27 18:32] kodebach commented on #3598
See also #4478

[2022-09-27 18:33] kodebach commented on #3597
Could be combined with #3598, #4477 and/or #4478. In fact #4478 may be required to implement this.

[2022-09-27 18:39] kodebach commented on #4337
@markus2330 Probably a good FLOSS issue. The solution is basically described above, but there are still some details to work out for the implementor.

[2022-09-27 19:00] kodebach commented on #3910
No, I'm not working on this anymore. I unassigned myself from this and any other issue where I think somebody else could help out.

Would be a pretty big project with lots of things to work out, I think.

That depends on what a "default storage plugin" must be able to do. Going by https://github.com/ElektraInitiative/libelektra/issues/3910#issuecomment-963849792 there is quite a few things outside

[2022-09-27 19:09] kodebach commented on #4494
The key should be called `system:/elektra/mountpoints/<name>/kdbcmd` or maybe `system:/elektra/mountpoints/<name>/kdb/cmd`.

It doesn't really have anything to do with the backend plugin. All plugins in `system:/elektra/mountpoints/<name>/plugins/*` are meant to have the same structure.

A complicated solution to say the least. `definitions` is also specific to the backend plugin, so this would fa

[2022-09-27 19:30] kodebach commented on #4329
No this is purely in `ksLookup`. The "new backend" changes should have no effect here.

I just checked and the problem is very simple and also easy to find, once you add a test case with a `default:/` key and `meta:/fallback` to `test_spec.c` (which should exist anyway). Then just attach a debugger and step through `ksLookup`.

@markus2330 I think this is easy enough for FLOSS that I shouldn't rev

[2022-09-27 19:55] kodebach commented on #4436
No I got that, but if I spot something obviously wrong for other reasons (e.g. stuff about internal iterators). I should probably do something about that too. Should I remove that as well or create an issue about it?

I think this a matter of how we work. I think issues can be useful. I also think PRs should only be for concrete work _not_ for endless discussion. For example, I absolutely dislike

[2022-09-27 20:04] kodebach commented on #4493
As written in the docs (`doc/dev/kdb-operations.md`) backends for `default:/` are possible (not sure if they would work right now). This needed to run validation like the `type` plugin on `default:/` keys created by `spec`.

So the cutting and re-adding might work now, but it is not a permanent solution. Instead we should probably create a `default:/` backend for every `spec:/` backend.

[2022-09-28 03:20] #3985 closed

[2022-09-28 03:20] #3953 closed

[2022-09-28 08:07] markus2330 commented on #4436
Yes, if you are not sure what to do (e.g. fix/remove) please create an issue. I plan to do a review of the new-backend branch.

The main system we have is continuous improvement. If something does not work well we need to be able to adapt.

Imho at the moment we over-discuss in issues. I would prefer more suggestions in PRs.

[2022-09-28 08:21] markus2330 commented on #4494
What about `system:/elektra/mountpoints/<name>/command/create`? I don't think we should mention `kdb` as actually the mount library can be used from other applications too. Maybe we have further commands in future, so I would definitely add a `/` to separate. And I prefer command over cmd.

[2022-09-28 09:07] kodebach commented on #666
see also #3504

[2022-09-28 09:11] kodebach commented on #4061
@atmaxinger maybe you can have a quick look at this (don't waste too much time) in #4495

[2022-09-28 09:12] kodebach commented on #4031
Eventually the generated `mount.sh` should probably be replaced by some C code that uses the new mount tools.

[2022-09-28 09:14] kodebach commented on #3985
This conflicts with #3938

[2022-09-28 09:21] kodebach commented on #4436
My problem with that is that the first suggestion often needs a lot of work and those PRs and their discussions then become overly complicated to read, because GitHub hides (at least some) comments for old commits as "outdated" by default.

Like I said, I think we should use Discussions more for abstract discussions like this one. I don't think there is any point in creating a PR with an idea that

[2022-09-28 09:29] kodebach commented on #4494
But I thought you wanted to store the `kdb mount` command that was used.

Of course if the new mount tools have an API with input that can be serialized, we can store that input instead. But until the library is done, I'm not sure what name would be best. It might even turn out that we need more than one key to store the input.

So if you want a quick solution, I would maybe store the exact `kdb m

[2022-09-28 13:42] markus2330 commented on #4486
I absolutely agree, will add!

I agree that this part of arc42 is not really ideal for FLOSS. I'll write something more specific to our situation, similar to plugins.

A few diagrams are very helpful for beginners.

They are not for you anymore, I also don't use them. They are useful, however, to get a first impression/overview what Elektra is composed of/what it can do, e.g., you see what lib dep

[2022-09-28 13:50] markus2330 commented on #4436
We also need more focus in PRs. In such situations the first PR should only be a very high-level sketch of what should be done, either a decision, API, man page, etc.

Yes, I agree. We need to create new PRs in every stage of development.

I think you underestimate the time consumed by discussions in issues. In computer science thinking time is much more expensive than expressing time. There is no

[2022-09-28 13:58] markus2330 commented on #4493
So we should mount a backend containing `type` per default as `default:/` backend?

[2022-09-28 14:03] markus2330 commented on #4466
Thank you for telling me, GitHub auto completion played a joke on me, I added the task.

[2022-09-28 14:07] markus2330 commented on #3490
I mean https://github.com/ElektraInitiative/libelektra/issues/3910.

So actually only the spacing issues are left-over here. I don't think this is crucial for having toml as default storage.

[2022-09-28 14:17] kodebach commented on #4486
Yes, but I don't think the plugins diagram is very readable. I think it would be better to either reduce the number of plugins or show the same information in a different way, e.g. a table or some sort of color coding.

For beginners the diagram should also show some information they need and can understand. Showing the dependencies between all the libraries before people even know what the librar

[2022-09-28 14:20] markus2330 opened #4496 "spec: handle metadata correctly"

[2022-09-28 14:21] markus2330 commented on #3910
Projects are 40% of FLOSS, so they can be big. This topic is obviously only for someone with prior experience with parsing. Making the build job can be teamwork T2.

Thank you, I added that task. Furthermore, I added one more task above:

We need a build job that successfully uses TOML as default storage (For all namespaces except of spec:, ni can be used there)

I wouldn't totally prohibit it. Fu

[2022-09-28 19:54] lukashartl commented on #2913
@markus2330 yes, I'll do this

[2022-09-28 21:57] kodebach commented on #4496
We should do something, but I'm not sure failing with an error is a good option. Somehow `spec` needs to now what metadata to keep and what to remove. This needs more investigation.

A problematic example:
- `spec:/foo` has both `meta:/type = unsigned_long_long` and `meta:/something = else`
- `user:/foo` does not exist in the KDB
- `user:/foo` is added between `kdbGet` and `kdbSet`
- now during `k

[2022-09-28 22:00] kodebach commented on #3910
I don't think the parsing part is the hard part of this issue. In some cases it might be tricky, but flex/bison is well documented and there is a lot of info online. The hard part IMO is figuring out all the Elektra related details: What must a default storage plugin support, etc.?

[2022-09-28 22:04] kodebach commented on #4493
I don't know. Wouldn't that just raise questions why `type` is added by default to `default:/` but not other namespaces?

[2022-09-28 23:00] kodebach commented on #4436
Even this high-level sketch is not always something that can be agreed upon. Or it is so high-level that is essentially useless, at least unless to keep in the repo. For example, creating a PR with a decision just for "we want to make `meta:/default` work with `type`" would be useless, but anything more detailed might lead to long discussions and derail the PR.

Closing existing PRs and creating n

[2022-09-29 05:15] markus2330 commented on #160
h1 is now also added as agent. #4492 is doing a test run.

[2022-09-29 10:00] markus2330 opened #4497 "[FLOSS] shellcheck"
Our scripts/Jenkins do not seem to run https://www.shellcheck.net/.

- [x] triage: check which shell scripts have no warning/errors with shellcheck
- [ ] create PR with auto-fixes
- [ ] [FLOSS H3] fix broken shell scripts
- [ ] [FLOSS H3] add a script similar to tests/shell/check_bashisms.sh
- [ ] [FLOSS T1] make sure one Docker container has shellcheck installed
- [ ] [FLOSS T1] Integrate shellch

[2022-09-29 14:42] markus2330 opened #4498 "try AFL++ and update instructions in doc/TESTING.md"
https://aflplus.plus/ also available in some package managers, e.g. apt-get install afl++

[2022-09-29 17:47] atmaxinger opened #4499 "Enable/disable hooks."
@markus2330 has identified the need for a user to manualy enable and/or disable certain hooks. Below are two insightful comments on this topic.

This issue shall serve as a focused place for discussion about how we solve this.

---

`kdb cache` already has support for disabling a global plugin, this feature should be available (in the same way) for all global plugins.

Important is that the user c

[2022-09-29 17:59] atmaxinger commented on #4499
My proposal would be to let the user disable every hook, even if it does not appear to make sense right now.

`system:/elektra/hook/<hook name>/disabled` should be set to a truthy value.

One problem, however, with this approach is that that user would have to manually disable all hooks that are not installed.

[2022-09-29 18:13] atmaxinger opened #4500 "[new-backend] spec: reimplement to completely comply with hooks"
The spec plugin isn't completely conformant with what should be done in the spec hook. When implementig the hook, we decided to not waste too much time on it, just that the basisc work.

---

Yes, all the conflict handling settings should be removed entirely. During `get` all conflicts should be warnings during `set` they should be errors (unless @markus2330 thinks some conflicts should never be e

[2022-09-29 20:41] kodebach commented on #4499
I think a general `system:/elektra/hook/<hook name>/disabled` is not the best solution.

Only hooks that are enabled by default should use a `disabled` key. The ones that are enabled by default also ship with the standard install so there is no problem for the user. If a hook isn't enabled by default, it could be shipped as separate package and it should use an `enabled` key.

In addition to enabl

[2022-09-29 20:47] kodebach commented on #4500
Another important thing is that `default:/` keys should be processed in the `poststorage` phase of `kdbGet`, currently the are temporarily cut out during that phase.

[2022-09-30 07:19] atmaxinger commented on #4500
Yes - See also #4493

[2022-09-30 11:18] markus2330 commented on #4499
I don't think that we should invert the logic. Off on "nothing" is the more robust choice, e.g. on incomplete/missing installations.

Instead we should check at installation time which hooks are actually installed and then set `system:/elektra/hook/<hook name>/enabled = 1` if unset, see #4446. (And again unset if purged.)

How to change this option if KDB is already broken? I think it is necessary

[2022-09-30 11:59] markus2330 commented on #160
Build jobs immediately fail because of "Read-only file system".

[2022-09-30 12:04] kodebach commented on #4499
I'm not a fan of this. The default should be correct and working without needing to execute code after install. Also what is "at installation time"? The script would need to run, every time a new hook plugin is installed. But then, why not just default to "enabled"?

If we really want to set `system:/elektra/hook/<hook name>/enabled = 1` I would actually create a special backend plugin for `system

[2022-09-30 12:35] markus2330 commented on #4499
Because then all would be enabled, and not the ones which are installed.

Makes sense, but is a far-away feature.

Yes, for contracts there can be an error in kdbOpen.

How you want to do that check?

[2022-09-30 13:44] lukashartl commented on #160
@markus2330

* H1 is missing Docker Credentials. -> I'll update the playbooks
* L1 is read-only because `errors=remount-ro`. -> I'll check the machine.

[2022-09-30 16:16] markus2330 opened #4501 "restructure documentation"
As discussed in #4436, we would like split docu in 3 parts:

- user docu: in doc/help
- dev docu: in doc/dev
- contributor docu: in doc/contrib

So following changes in the documentation are needed (TBD: not yet complete)

- [ ] doc/help -> doc/help/man
- [ ] doc/man -> doc/help/man (within subfolders)
- [ ] scripts/sed -> doc/spellings.sed
- [ ] move most of the ALL_CAPITALS.md files
- [ ] tutori

[2022-09-30 16:17] kodebach commented on #4499
Another idea using a special plugin:

- Create mountpoint with same config as bootstrap at `system:/elektra/hook`
- Add additional plugin `hookcheck` to `get/poststorage` and `set/prestorage`.
- When the `hookcheck` plugin called (both in `get` and `set`) it calls `elektraModuleLoad` for every hook and set's `system:/elektra/hook/<hook name>/installed` to `0`/`1` when the result is `NULL`/non-`NUL

[2022-09-30 16:30] Eiskasten commented on #4487
Ok, thank you, I will have a look on them.

[2022-09-30 16:33] kodebach commented on #4501
I would do `doc/man/* -> doc/help/man/*` and `doc/help` -> `doc/help/markdown/*`. I would also use folders for the markdown files with the same numbered sections, to make it more clear what manpage and markdown files belong together. We should also use these sections on the website, or maybe even more structure. Currently it's just one page with a giant list on the side.

I would just rename it to

[2022-10-01 11:26] markus2330 opened #4502 "http -> https links"
There are still plenty of http links within our repository, they should be replaced with https links. (The link checker will tell if some of these sites are actually not available via https.)

[2022-10-01 14:17] kodebach commented on #4502
Couldn't we also extend the link checker to check that all links are https links?

[2022-10-03 09:44] markus2330 opened #4503 "l1: too little memory"
https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4492/22/pipeline

[code]

@lukashartl is this l1 specific (not enough memory etc.) or some error with Gradle?

[2022-10-03 11:18] markus2330 commented on #4503
Ok, it is quite clear: too little memory on l1. I am taking l1 off.

https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4492/24/pipeline

[code]

[2022-10-03 11:27] markus2330 commented on #4403
I retried on a different device and there I can compile Elektra successfully. So it is probably some problem in the local setup. Thank you for your tests! :revolving_hearts:

[2022-10-03 15:10] #4486 closed

[2022-10-04 20:10] flo91 commented on #4502
Sounds like a good idea! 👍🏻
If some site still needs http, the link could be added to the whitelist.
The issue #4454 could also be interesting for people working on this issue.

[2022-10-04 20:32] flo91 commented on #4480
@markus2330 Do you think this issue is suited for the FLOSS course?

[2022-10-04 20:42] flo91 commented on #4475
@markus2330 Do you think this issue should be offered for the FLOSS course?

[2022-10-04 20:44] flo91 commented on #4472
@markus2330 Seems like a good issue for the FLOSS course.

[2022-10-04 21:03] flo91 commented on #4467
The triage by @kodebach summarizes the issue very well.
As the parameters of the callback-functions are given by yajl,the information must be passed as part of a `void *`

[2022-10-04 21:30] flo91 commented on #4447
@markus2330 This looks also like an issue suited for the FLOSS course.

[2022-10-04 21:40] flo91 commented on #4431
@markus2330 Maybe the code for some subcommands can also be rewritten as part of the FLOSS course.

[2022-10-04 21:41] flo91 commented on #4425
@markus2330 This sounds like an issue for the FLOSS course.

[2022-10-04 21:44] flo91 commented on #4422
@markus2330 Sounds like a good issue for the FLOSS course.

[2022-10-04 21:50] flo91 commented on #4360
@markus2330 Do you think this issue is good for the FLOSS course?

[2022-10-04 21:55] flo91 commented on #4348
@markus2330 Maybe also an issue suited for the FLOSS course, esp. because it involves using Java.

[2022-10-04 22:04] flo91 commented on #4337
@markus2330 As @kodebach already mentioned, this issue seems good for the FLOSS course.

[2022-10-04 22:07] flo91 commented on #4333
@markus2330 Maybe also a small issue for the FLOSS course.

[2022-10-04 22:21] flo91 commented on #4280
For a project, the remaining work probably is a bit too small.
I'd suggest to offer it as a big normal issue.

[2022-10-05 10:23] Eiskasten commented on #4487
Do you suggest removing them? I tried to run them but they are not compiling anymore. I commented the non-compiling parts but they running them still fails due to substantial changes in the backend.

[2022-10-05 10:27] mpranj commented on #676
The [0.9.11 release](https://www.libelektra.org/news/0.9.11-release) is now fully published. 🥳

@ElektraInitiative/elektradevelopers Thank you all for making this release possible! :heart:
We are happy if you announce the release on various media.

If you have open PRs, now is a **great time to rebase**.

[2022-10-05 11:16] kodebach commented on #4487
Yes, you can remove all tests that are related to `split`, `trie` or one of the functions in `src/libs/elektra/mount.c`. In many cases the functions thy test still exist (e.g. all the ones in `mount.c`), but aren't used anymore. Those functions can also be removed.

Instead of these tests, we now need to test the (non-`static`) `backends*` functions in `src/libs/elektra/split.c` and the `elektraMo

[2022-10-05 12:02] flo91 commented on #4260
@markus2330 This look like an issue for the FLOSS course.

[2022-10-05 12:35] kodebach commented on #4260
I think this is related to #4061. Both seem to follow similar steps and #4061 shows that `spec` removes a `spec:/` key. That would explain the permissions issue. The `spec:/` key also isn't added again, that would also explain why a second `meta-set` works.

So yes, it could be FLOSS issue, but it is **very** hard to say how much effort fixing this would be.

[2022-10-05 12:38] kodebach commented on #4503
Would be interesting to know how much memory we actually need for building.

For `l1` we could try using `make -j1`. Running one thing after another should use less memory.

[2022-10-05 15:36] flo91 commented on #4214
@markus2330 As this was an issue for FLOSS last semester, we probably can also offer it for the current FLOSS course.

[2022-10-05 15:40] flo91 commented on #4107
@markus2330 Maybe also an issue for the FLOSS course?

[2022-10-05 15:45] lukashartl commented on #4503
I've already increased RAM to 12GB, that should suffice. I'll mark it (l1) online once I've successfully run a test build.

@kodebach I totally agree with having some well documented and sensible system/builder requirements.

[2022-10-05 15:49] flo91 commented on #4072
@markus2330 Maybe another issue for the FLOSS course?

[2022-10-05 16:04] flo91 commented on #4011
@markus2330 Maybe an issue for the FLOSS course?

[2022-10-05 16:05] flo91 commented on #4007
@markus2330 This sounds like an issue for the FLOSS course.

[2022-10-05 16:11] kodebach commented on #4107
cc @lukashartl

[2022-10-05 16:13] kodebach commented on #4034
IIRC (see also #4480) we decided that `KDB_O_CREATE` will be removed entirely

[2022-10-05 16:13] flo91 commented on #3995
@markus2330 Maybe also an issue suited for the FLOSS course?

[2022-10-05 16:18] flo91 commented on #3978
This issue is part of the issue #4411 which is tagged as `project2022w`.
Maybe we can also offer this issue as a separate FLOSS task.

[2022-10-05 16:38] flo91 commented on #3826
@markus2330 Maybe an issue suited for the FLOSS course?

[2022-10-05 16:43] flo91 commented on #3734
@markus2330 This issue seems like a good candidate for triage work. Find and list all places (files + line-numbers) where one-line if-statements are still present.

[2022-10-05 16:44] kodebach commented on #3978
In general, people should prefer different issues over these simple rename/API change issues, because the renaming/API changes can (hopefully) be done with the tool I'm developing for my thesis.

If people still choose issues like this one, it would be nice if they could record how much time they spent. Then I could use that data as a comparison in my thesis. (I can always just run my tool on an o

[2022-10-05 17:01] kodebach commented on #3734
Actually this issue is very simple to fix... There is [a `clang-tidy` check](https://releases.llvm.org/11.0.0/tools/clang/tools/extra/docs/clang-tidy/checks/readability-braces-around-statements.html) that checks whether all `if`s use braces. It can also be automatically fixed with

[code]

After that just reformat with `clang-format` to correctly position the braces.

---

A better issue for FLOSS

[2022-10-05 17:21] flo91 commented on #3490
@markus2330 Maybe an issue for the FLOSS course?

[2022-10-05 20:07] flo91 commented on #1231
@markus2330 Should we offer this issue for the FLOSS course?

[2022-10-05 20:33] kodebach commented on #1231
As an extension to the more common formats above I'd like to suggest: https://kdl.dev/

It's hierarchical, supports multiple values per node (= arrays) and nodes can have additional named properties (= metadata). I think the format can store the same data as a `KeySet`. There are also suitable parsers in Rust and C (among other languages).

[2022-10-05 22:03] stefnotch opened #4508 "[FLOSS H0] Improve getting started"
I was checking out the GitHub repository and tried to do the steps in the getting started guide: https://github.com/ElektraInitiative/libelektra/blob/master/doc/GETSTARTED.md

After struggling through it, I figured I'd comment on which parts I'd love to see ever so slightly expanded

It'd probably be nice to link to https://www.libelektra.org/tutorials/contributing-with-visual-studio-windows there

[2022-10-05 22:27] flo91 commented on #1522
@markus2330 I think this issue should be offered for the FLOSS course.

[2022-10-06 08:36] kodebach commented on #4503
I was thinking more about requirements for running compiling. Not just in a build server environment, but for compiling Elektra in general. If that really needs 12GB of RAM (even with `make -j1`) that would be pretty high IMO.

Compiler programmers are smart people. I would hope they only ask for what the really need, but will take anything they can get, if it speeds up compilation, e.g. it works

[2022-10-06 10:46] atmaxinger opened #4514 "Tracking changes to the configuration within KDB"
We currently _cannot_ calculate added/changed/removed in `kdbSet`, because we don't have a copy of the `KeySet` from `kdbGet`. We only know the `keyNeedSync` state. But that doesn't tell us, if a key was removed (it just won't be there) and we cannot differentiate between added key and changed key.

That said, I actually do think that we should change that. `kdbGet` should store a copy (`ksDeepDup

[2022-10-06 14:33] kodebach commented on #4514
Then don't comment... Especially not after just (half of) one sentence...

The actual problem is described in the example following this line:

The question I originally posed to you is at the very end:

---

Hook plugins already use separately exported functions, so changing the arguments really isn't an issue.

If you just care about the names of added/changed/removed keys, then a simple `ksDup`

[2022-10-06 16:07] markus2330 commented on #2918
I am still waiting for a comment of @flo91 on this one, as commit/error was designed for the database plugin. It is also very helpful for resolver plugins. Anyway, let us give @flo91 the next word, nothing is urgent here.

[2022-10-06 16:22] markus2330 commented on #4494
Yes, I thought from usability point of view it should be a  `kdb mount` as used on the command-line. Obviously this only works if the API must is very similar to the arguments of `kdb mount`.

If @flo91 has different ideas, a different name might be better suited.

Anyway, the approach also must work for mountpoints mounted by other tools (qt-gui etc.).

[2022-10-06 16:24] markus2330 commented on #4329
What you already know on the top of your head, please say. We do not need to make bugs artificially difficult.

[2022-10-06 16:38] markus2330 commented on #4436
Closing obviously not. But merging would.

Yeah but that happened because we misused PRs as discussion forum. There was not so much review going on.

As said, the "create the file, push, create the PR" etc. should be nearly nothing compared to thinking about the content. If this is not the case, something is fundamentally wrong.

Yes, I know. And you are also the person who is writing (by far) the

[2022-10-06 17:19] kodebach commented on #4329
Since the FLOSS course should be a learning experience, I wasn't sure, how much I should reveal.

The issue is that `elektraLookupBySpecNamespaces` is called before we check the `fallback` key:

https://github.com/ElektraInitiative/libelektra/blob/930673f511c864ffd6233b7ab3e1a438c5a9b378/src/libs/elektra/keyset.c#L1996-L2004

Within `elektraLookupBySpecNamespaces` we call `elektraLookupByCascading

[2022-10-06 17:23] markus2330 commented on #4514
IMHO issues should be understandable, at least for core developers, from the first sentence to the last.

Normal plugins should never see during kdbGet what the user passed. They should only see what retrieved from the KDB. Was this introduced in the new-backend branch? (Global plugins admittedly probably already had such problems before new-backend. But this was a bug.)

I didn't answer, as I alr

[2022-10-06 18:07] kodebach commented on #4514
That's the important part. The first sentence is often explained by a later one. If you stop reading somewhere, of course you may not understand it.

Once again, I regret that we use the term "plugin" for everything. In this case "persists in the plugin" is about hook plugins (previously global plugins).

Completely unrelated to that. The issue is about "what was retrieved from the KDB". It has no

[2022-10-06 18:13] atmaxinger commented on #4514
It actually IS in there under constraints:

[2022-10-06 18:22] atmaxinger commented on #4514
I think there is actually another option: Store all keys that were ever read in a big KeySet. When calling `kdbSet`, append those keys also, and replace the existing keys with the new values. This will use lots of memory, but theoretically it should work.

After all, the only thing we want to know is what a single `kdbSet` changed to the current state.

[2022-10-06 18:22] kodebach commented on #4436
Merging is only an option if some consensus reached and the controversial parts are removed before the merge. Even then you loose the context from the old PR.

Exactly, and yet you prefer PRs over issues. Which are at least more discussion-like. Of course the Discussions tab is what we should probably use...

Well for one, I need to be on a PC where I have the repo checked out. Opening a new issue

[2022-10-06 19:15] kodebach commented on #2918
Actually it is kind of urgent, so I know what to document in #4484, see also https://github.com/ElektraInitiative/libelektra/pull/4484#discussion_r984908094 (whole chain). I will of course document the current implementation, _but_ I'd like to also document, if we plan to change this.

[2022-10-07 09:23] markus2330 opened #4517 "try clang-tidy"
run clang-tidy or other static code analyzers to see if it detects real problems. Then create issues for the problems (#3734 is already one of them) and `.clang-tidy`/white/blacklists so that the tool runs error-free.

This issue is precondition before clang-tidy can be integrated in CI (see #160).

[2022-10-07 09:26] markus2330 commented on #3734
Yes, triage&fix is probably easiest with this clang-tidy, thanks for the tip!

Its not better, it is a different issue. I created #4517.

[2022-10-07 13:06] markus2330 commented on #4392
@oliv3r Is the error gone? Please (re)open on any further issues.

Elektra 0.9.11 was just released. :rocket:

[2022-10-07 13:37] markus2330 commented on #4517
To make this issue not huge, it can only be about the CI setup and reporting issues. Actual fixes are then in other issues.

[2022-10-07 14:18] kodebach opened #4518 "Update clang-format version"
clang-format version 15 has been released. We still use version 13 (see `scripts/dev/reformat-c`). At some point we should update. This will probably involve a bigger reformatting PR.

[2022-10-07 16:19] kodebach opened #4519 "testscr_check_formatting stashes staged changes"
https://github.com/ElektraInitiative/libelektra/blob/930673f511c864ffd6233b7ab3e1a438c5a9b378/tests/shell/check_formatting.sh#L91-L94

While there is a note, the note is incorrect. Staged changes are also stashed, even if all formatting is correct. I think this check

https://github.com/ElektraInitiative/libelektra/blob/930673f511c864ffd6233b7ab3e1a438c5a9b378/tests/shell/check_formatting.sh#L14-L

[2022-10-07 21:52] mpranj commented on #4518
Clang format 14 is not yet on Debian Sid, which we use in the CI for the formatting check…Should we switch to a different container?On 07.10.2022, at 16:18, Klemens Böswirth ***@***.***> wrote:﻿
clang-format version 14 has been released. We still use version 13 (see scripts/dev/reformat-c). At some point we should update. This will probably involve a bigger reformatting PR.

—Reply to this email d

[2022-10-07 22:05] kodebach commented on #4518
At least the online package search says that the current `clang-format` on Sid is version 14: https://packages.debian.org/sid/clang-format

And there is also a separate package for version 15: https://packages.debian.org/sid/clang-format-15

Might be a good idea to use a separate container for formatting and similar checks that contributors may want to run locally (spelling, release notes, clang-t

[2022-10-08 04:29] markus2330 commented on #4518
Switching clang-format is a task shortly before a release (to minimize necessary rebasing of PRs), so let us have a look at the situation when it is time.

[2022-10-08 05:52] markus2330 commented on #4493
I think type should be added by default to all the namespaces, see #690

[2022-10-08 05:55] markus2330 commented on #690
Yes, after #4187 sync is obviously only for file-based backends. I updated the top post.

[2022-10-08 05:57] markus2330 commented on #1164
The question is if we should fix this in old code to be replaced by @hannes99 C implementation later?

[2022-10-08 08:03] kodebach commented on #4518
Could also be done right after merging`new-backend`. But I mainly created the issue so we don't forget to do it, not because it is urgent.

[2022-10-08 09:34] kodebach commented on #4493
With #4187 it would ultimately be the responsibility of a backend plugin to call `type`. "Added by default" in this context just means, "call `type` even if the user didn't configure it". There are also exceptions like `specload` (see #4444) which obviously shouldn't call `type`. In fact calling `type` on `spec:/ keys doesn't make sense in general.

I don't think this "added by default" approach i

[2022-10-08 09:40] kodebach commented on #690
Do we really need a separate `sync` at all? The plugin literally just calls `fsync` (or the windows equivalent). A separate plugin is a lot of overhead for a single function call (*).

A better option would be to combine `sync` with either `backend` or even better `resolver`. The `resolver` plugin is what implements the `commit` phase for file-based backends, so it should call `fsync`. If there is

[2022-10-08 09:42] markus2330 commented on #4514
This is only done by someone who has troubles writing understandable text. Forward references are a terrible style. What is okay is that earlier sentences create a question that is (gradually) answered by the next sentence(s).

“Begin at the beginning," the King said, very gravely, "and go on till you come to the end: then stop.”

― Lewis Carroll, [Alice in Wonderland](https://www.goodreads.com/wo

[2022-10-08 09:42] #4514 closed

[2022-10-08 09:48] markus2330 commented on #4031
I agree that most of it should be directly in `kdb mount` but at least the sudo part is better to be a shell script.

[2022-10-08 09:52] markus2330 commented on #2358
We need to check if there is a `make install` to /usr. Probably we only use the package manager for that.

[2022-10-08 10:03] markus2330 commented on #4436
Not in decisions, as all discarded ideas should still end up in "Considered Alternatives".

The same needs to be considered when writing issues!

This is probably the reason why there are only 2 people in most discussions.

Gladly I can tell you: absolutely not! Only the **major** decisions which either:

1. shape the whole framework or
2. there is a controversy

should be put into decisions.

Yes

[2022-10-08 10:46] kodebach commented on #4514
1. **Please** don't close issues (**especially** not as "completed"), where something clearly needs to be done (here: document what is prohibited). At the very least open a new issue _and then_ close the old issue by linking to the new one.
2. Either read the whole issue or don't complain when someone asks you to read at least the whole issue description. I also don't ask people "Where did the rab

[2022-10-08 10:49] kodebach opened #4520 "Document allows sequences of kdbGet & kdbSet"
## Problem

From #4514:

[code]

If this is a valid sequence of events. Then neither `libelektra-kdb` nor anything else called by it (i.e. all plugins, including hook plugins) will be able to correctly calculate the added/changed/removed diff set at (C).

Why? Simply put, because the `KDB` instance `kdb` is used with two separate `KeySet`s (`a` & `b`) and `parentKey`s (`keyA` & `keyB`).

The detai

[2022-10-08 10:49] kodebach commented on #4514
New issue for remaining work: #4520

[2022-10-08 10:53] kodebach commented on #2358
If the packages are installed and then tests are run, that would probably be good enough too.

[2022-10-08 10:59] kodebach commented on #4031
I didn't mean make it part of `kdb mount`. I meant make it part of the generated code for the application, i.e. generate a `mountConfiguration` function. So that the application can provide e.g. a `./app install` command or call the function on first start etc. Of course actually creating the mountpoints via that function will require root access in a standard installation for now, i.e. `sudo ./ap

[2022-10-08 11:08] markus2330 commented on #4496
spec only removes what it added. So either `meta:/type = unsigned_long_long`

1. was added first by toml, then spec will only check consistency of the type but doesn't add or remove it (so toml will get the metadata again later)
2. was not added by toml, then spec will copy it and remove it before it reaches toml
3. was added by the application, then spec will not remove it and toml will get it

B

[2022-10-08 11:11] kodebach commented on #4436
Merging a decision with just "Considered Alternatives" and _without_ an actual decision also seems wrong.
Opening a new PR with the "Considered Alternatives" from the PR comments now in the file, to reduce the clutter in PR, might be good idea, however.

Not in the same way. Yes, unrelated topics should be separate issue. But issues only have one target audience (Elektra contributors). But for dec

[2022-10-08 11:28] kodebach commented on #4496
Okay let me expand on my example.

In my original example, option 2 of your options would be the case. But what if the application in question is `kdb` then the example would be:

- `spec:/foo` has both `meta:/type = unsigned_long_long` and `meta:/something = else`
- `user:/foo` does not exist in the KDB
- `user:/foo` is added via `kdb set user:/foo 123`
- now during `kdbSet` the metakeys are firs

[2022-10-08 12:47] markus2330 commented on #4499
This is a bad idea as you cannot distinguish something broken vs. missing. For broken at lest a warning must be issued.

I've set this low priority, as the general hook framework must be decided first.

[2022-10-08 12:58] kodebach commented on #4499
Does it matter in this case? If `elektraModulesLoad` doesn't work, we consider the plugin "not (correctly) installed". If that's the case we disable the hook.

For informing the user: `elektraModuleLoad` does add errors/warnings to `errorKey`. So we just need to propagate those.

If you think something is undecided, please open an issue and concretely list the things where you want clarification.

[2022-10-08 13:56] kodebach opened #4521 "[new-backend] Open questions (part 2)"
This is a summary of #4407 with some extra questions.

**Important:** If you want to comment on one of the open questions, please **always** use the title of the question used in this description, even if there is a previous comment you're replying to. This makes it easier to track conversations. For example:

[code]

## `modules` vs `global`

### Question

Should we merge the `KeySet * modules` a

[2022-10-08 13:56] kodebach commented on #4407
Continued in #4521

[2022-10-08 13:56] #4407 closed

[2022-10-08 14:27] kodebach commented on #4521
## `KeySet * global` as argument to `elektraPluginOpen`

If plugins are not allowed to load extra plugins, I would add the `KeySet * global` argument and make `elektraPluginOpen` internal/private. It is still API smell but for non-public APIs with limited use that is not so bad.

Otherwise, I would change the API to:

[code]

This could be used by plugins directly and `libelektra-kdb` has private-

[2022-10-08 14:46] kodebach commented on #4521
## `elektraPluginFromMountpoint` Internals

An easy solution is to add a `KeySet *` plugins to `struct _Plugin` instead of hiding it in the `global` KeySet.

Another solution would be to add a `KDB *` into `struct _Plugin` and use that somehow. This `KDB *` could also replace `KeySet * global` and `KeySet * modules`. Since a `Plugin *` is always linked to a `KDB *` instance making the link explici

[2022-10-08 15:25] kodebach commented on #3902
@markus2330 This might actually be an issue for FLOSS. Making the change could be pretty hard (the keyname code is pretty dense), but maybe someone (with good C knowledge) wants a challenge.

Fixing this should also solve the problem with `user:/%` which should map to `\x06··`, but that clashes with the root key `user:/`.

[2022-10-08 16:24] markus2330 commented on #4501
As nearly everything is markdown, this is confusing.

Any proposal how to structure them?

Ok, I updated above.

This is already covered in doc/contrib/documentation.md

:+1:

[2022-10-08 16:40] kodebach commented on #4501
The at least do `doc/help` for markdown sources and `doc/help/man` for the generated roff.

Nothing concrete, but I find the current website so bad that I normally either look in my local repo copy or on GitHub. Like I already said, I think we need a dedicated person to update the website and I think web development could be popular for a thesis.

[2022-10-08 16:46] markus2330 commented on #4502
Extending the link checker is a separate issue, though.

[2022-10-08 16:58] 0x6178656c opened #4522 "[FLOSS H0] CMake Warning: Policy CMP0115"
## Steps to Reproduce the Problem

Preparing the build directory

[code]

prints a warning

[code]

## Expected Result

The configuration step should run without warning.

## Actual Result

The configuration step issues a warning. Note that deprecated features/syntax can be removed in later versions of CMake.

## System Information

- Elektra: master (930673f511c864ffd6233b7ab3e1a438c5a9b378)
- Op

[2022-10-08 17:36] kodebach opened #4523 "run_all --rerun-failed"
Our `run_all` script for `make run_all` (`scripts/dev/run_all.in`) includes an additional `ctest $ARGS --rerun-failed` at the end.

This was introduced as a workaround for #2439. However, this also introduces some issues. For example, the end of the output of `make run_all` will look something like this:

[code]

The "4 tests faile out of 4" can be quite confusing, if you don't know about the `--r

[2022-10-08 17:38] kodebach opened #4524 "[FLOSS H1] Make linkchecker check for https"
Extend the linkchecker script and CI job to also check there are only HTTPS and no HTTP links in the repo, unless the HTTP link is whitelisted.

### Reproduction

Run `./scripts/link-checker CODE_OF_CONDUCT.md` in the project root.

### Expected Result

A list of http links which are not whitelisted.

### Actual Result

The http links which are not whitelisted are not mentioned anywhere.

[2022-10-08 17:38] kodebach commented on #4502
See #4524

[2022-10-08 19:05] atmaxinger commented on #4520
Honestly I think this is a stupid idea. How would we disallow this? Just writing somewhere in the documentation that those sequences are disallowed won't help - programmers are lazy. We'd have to change the entire API so that all other sequences are disallowed by the compiler. If we can only do `kdbGet` and `kdbSet` once, then we can also say goodbye to `kdbOpen` and `kdbClose`.

Also, such a beha

[2022-10-08 20:10] kodebach commented on #4520
I agree it's not a good solution, but this is C and the compiler and type system are limited. There already some preconditions you have to fulfil to call `kdbGet`/`kdbSet`. This would just be one where there are less checks inside `kdbGet`/`kdbSet`.

Also you have to keep in mind that `kdbGet`s docs already have this warning on `master`:

https://github.com/ElektraInitiative/libelektra/blob/930673

[2022-10-08 20:28] atmaxinger commented on #4520
Yes. The complete tracking would take place within `libelektra-core`. My idea is to extend `KeySet` with two more arrays - one for added and one for removed keys. And `Key` with another field for the original data. Both will get a new flag `shouldTrack`.

Then the altering methods (`ksCut`, `ksAppend`, `keySetString`, `keySetBinary`, ...) would check the flag, and if set do the tracking accordingl

[2022-10-08 20:36] kodebach commented on #4520
That could need a lot of extra memory, even when the tracking is turned off. The flag could be kept in the existing `flags` field, but adding a pointer for "original data" to `struct _Key` means 8 more bytes _for every_ key on 64-bit architectures.

Storing a callback function pointer in e.g. `meta:/callback/change` and keeping the data elsewhere would be better. If you really want to keep the old

[2022-10-09 11:49] markus2330 opened #4525 "[FLOSS] Kotlin Binding Link broken"
https://www.libelektra.org/bindings/readme the link "kotlin" is broken. Why is this not detected by the dead-link checker?

[2022-10-09 15:51] markus2330 commented on #3490
It is a bit difficult to implement and has much lower priority than #3910.

[2022-10-09 16:39] markus2330 commented on #4480
@flo91 yes, it is fine. But we already have too many C issues. We probably need more in other languages (Java etc.)

[2022-10-09 16:40] markus2330 commented on #4475
No, if the design is not decided yet it doesn't make sense to offer it for FLOSS.

[2022-10-09 16:41] markus2330 commented on #4472
Yes, absolutely!

[2022-10-09 16:43] markus2330 commented on #4431
I don't think that without the framework as basis anything can be done by someone else than @hannes99.

[2022-10-09 16:45] markus2330 commented on #4441
Yes, it is worth a try. The issue is unfortunately not so easy as it looks like. But difficult to say without anyone trying it.

[2022-10-09 16:47] markus2330 commented on #4425
This is deeply in the core and tricky to reproduce (you need to destroy Elektra's installation). So nothing for beginners.

[2022-10-09 16:48] markus2330 commented on #4422
Unfortunately also a C issue...

[2022-10-09 16:50] markus2330 commented on #4360
Absolutely! It is basically creating a PR with a YAML file.

[2022-10-09 16:51] markus2330 commented on #4348
Unfortunately a quite tricky issue. @tucek do you see a way how a beginner may help you here?

[2022-10-09 16:56] markus2330 commented on #4333
Absolutely! @flo91 btw. I added the label lang/config if config files need to be fixed. It's not 100% correct here but Ansible is written in YAML files so it is also not completely wrong.

Btw. the task would be to find a new example that works. There are probably several problems here, in the ansible code and also that we do not have an INI parser compatible to samba. Fixing TOML is a different i

[2022-10-09 17:03] markus2330 commented on #4503
This is unrelated to Elektra. RAM usage of compilers is a requirement for compilers.

[2022-10-09 17:05] markus2330 commented on #4214
No, I am afraid I need to do it at some point. It cannot be done by a FLOSS participant.

[2022-10-09 17:06] markus2330 commented on #4107
No, this issue needs admin access to Jenkins.

[2022-10-09 17:29] markus2330 commented on #4514
No need to defend anyone. Nothing in "This is only done by someone who has troubles writing understandable text." refers to you or @atmaxinger. "The first sentence is **often** explained by a later one." is a bad style not done by either of you.

Because I unfortunately don't have the time to collect all the information from many PRs and issues in this case myself. So I need to ask you to properly

[2022-10-09 18:21] kodebach commented on #4514
I get the need to document the problem properly. What I don't get is how a half finished decision file in a PR is any better a normal issue.

If the problem is already well known and can be define the issue could look like #4521 with a clear definition of the problem and a summary of what was covered in previous discussions.

If the exact problem isn't clear yet, the decision file wold also just c

[2022-10-10 04:36] markus2330 commented on #4072
Absolutely, it is very easy to reproduce and at least some of the warnings should be not to difficult to fix. (E.g. defining ELEKTRA_UNSIGNED_LONG_LONG_F different for mingw)

[2022-10-10 04:39] markus2330 commented on #4034
Yes, I changed this issue to completely remove KDB_O_CREATE. It should be quite simple to do, as it only has 19 occurrences.

[2022-10-10 04:42] markus2330 commented on #4011
It is only for low-level ruby experts, I don't think this is suitable for FLOSS. A further triage by a non-expert probably also won't reveal much.

[2022-10-10 04:43] markus2330 commented on #4007
Absolutely, it should be quite simple even with little CMake knowledge.

[2022-10-10 04:49] markus2330 commented on #3978
I agree that the renaming parts are better done by the @kodebach's tool.

@kodebach If you really want to do that, you need to precisely clarify what they should do (how to measure the time etc. according to your methodology) I can ask in the course who wants to do that. Then we should also carefully select which renaming (in case of doubt randomly. Letting the people select is not a good idea, as