[2021-09-09 09:37] markus2330 commented on #3998
I like the idea with the token, it is a sensible choice for code generation as you can easily generate unique tokens and the check is a simple string comparison (if the same token is compiled in the application, is present in spec: and is used for spec-mount).

I think, without correct token, we should fail at application startup, and not only for the --help message.

[2021-09-09 09:41] markus2330 commented on #3998
Why not simply let spec-mount copy the token to the mountpoint definition, e.g. `system:/elektra/mountpoints/\/sw\/redshift\/#0\/current/config/token`.

[2021-09-09 10:30] kodebach commented on #3998
Yes, I would add a new return code for `loadConfiguration` that indicates "mountpoints incorrect". Then we could in future generate a function `setupMountpoints` for automatic setup. This cannot be done yet, because the tools library is still C++.

Yes, that should work too and might not even require any changes to spec-mount.

[2021-09-09 10:51] qwepoizt commented on #3998
Thanks for your comments!

This week I have implemented a version that:

* checks SFM and SME on elektraOpen() by checking existence and value of the mountpoints as discussed above (see e.g https://github.com/ElektraInitiative/libelektra/issues/3998#issuecomment-909285778 )
* sets a user-friendly error description and returns NULL, if SFM or SME is false.

I will extend this version according to t

[2021-09-09 11:01] markus2330 commented on #3998
Where will the actual token be?

[2021-09-09 11:04] markus2330 commented on #3998
It is not only a C++ problem but currently also a permission problem: mounting without #1074 requires root.

[2021-09-09 11:07] qwepoizt commented on #3998
Good point, thanks! You're right, it will also have to be part of the contract.

Then the keys could be:
* `system:/elektra/contract/highlevel/check/spectoken/enable` = 1
* `system:/elektra/contract/highlevel/check/spectoken/token` = THE_HASH_VALUE

[2021-09-09 11:27] kodebach commented on #3998
If generated code always enables the check, I don't think you need the `.../enable`. Just check wether `.../token` exists.

[2021-09-09 11:46] qwepoizt commented on #3998
Good point, thanks. I'll look at it in more detail when I start implementing it!

While working on redshift's automake configuration, looking at https://github.com/kodebach/lcdproc/blob/3e2b9d3f5cade3bbe21fdb5a9ea1c9ffc1c994fa/server/Makefile.am and the `kdb-gen-highlevel` manpages, I have just now discovered that the SFM/SME checks I have implemented were actually already partially implemented by

[2021-09-09 15:41] qwepoizt commented on #3998
@markus2330 @kodebach I had further insights that complicate this issue. I think we'll need to make further decisions!

I'll use redshift as an example to make the following easier to understand.

## Insights
* The HL API intends the specification file to only be used by `kdb gen`. The file itself is actually not mounted during installation or runtime of redshift!
  * Therefore, we can't generate

[2021-09-09 20:10] markus2330 commented on #3998
Yes, please remove :+1:

Where did you see this? This is probably outdated docu or a non-working script. The specload plugin was an approach to solve the SFM/SME problems but unfortunately it did not work well, e.g., it makes the application binaries too big.

Yes, as specload is not mandatory and in its current state not even recommendable.

If the token mechanism works well and we don't find sol

[2021-09-09 21:08] kodebach commented on #3998
The `specload` stuff should still work and AFAIK is currently the default config for the code-generator. There should also be an option to generate a file that can be mounted directly instead of using `specload`.

I think the binary size was an issue mainly for embedded systems. But there are other issues as well, related to the other goals (allow only "safe" modifications).

The way I understand

[2021-09-10 10:27] qwepoizt commented on #3998
Thanks for your input! I thought some more about this and came up with a list of planned changes (see below).

@markus2330 Are you fine with this plan? I tried to keep it simple without over-engineering, but maybe it can be simplified? If you're fine with it, please let me know and I'll start working on it!

## Planned changes
### Token mechanism
* is a SHA1 or SHA256 hash
* input is binary repres

[2021-09-10 10:38] qwepoizt commented on #3998
I am planning to use https://github.com/CTrabant/teeny-sha1 , because:

* it's small.
* license is compatible. teeny-sha1 uses MIT license, like other third party code that Elektra already uses. I found no alternative C implementation with BSD 3-clause license.

[2021-09-10 14:44] markus2330 opened #4028 "kdb set uses default: on cascading writes"
## Steps to Reproduce the Problem

[code]

## Expected Result

That the second command fails because the default: namespace is not writable.

## Actual Result

[code]

## System Information

- Elektra Version: master

## Further Information

- A similar problem will probably exist for other temporary namespaces like proc:.
- meta-set, rm and other write commands are also affected.

@dev2718 do you

[2021-09-10 15:26] qwepoizt opened #4029 "gopts: validation of CLI options not working"
~~This issue is currently WIP.~~

When using the HL API and the gopts plugin, CLI options passed to the application are not validated.

## 3 classes of validation errors

The following three are not detected:
1. Class 1: missing argument (forked to https://github.com/ElektraInitiative/libelektra/issues/4042)
2. Class 2: wrong type (forked to https://github.com/ElektraInitiative/libelektra/issues/4

[2021-09-10 15:27] qwepoizt commented on #4028
@markus2330 I also noticed this today while working on #4029 and wanted to report this. But you were faster :)!

[2021-09-10 15:42] markus2330 opened #4030 "redshift: reloading"
## Steps to Reproduce the Problem

[code]

## Expected Result

That the red value adjustment changes.

## Actual Result

No change.

## System Information

- Elektra Version: master

[2021-09-10 15:50] markus2330 opened #4031 "problems in mount.sh"
- [ ] TODO in line 4
- [ ] line 14: try to unmount if mounted (not needed for spec-mount, as it already overwrites previous mountpoints)
- [ ] make sure notification is working? #4030
- [ ] add safety checks for presence of kdb, sudo and so on
- [ ]  contains some brittle code (e.g. expect certain output of `kdb mount`)
- [ ] use argument instead of APP_PATH?

[2021-09-10 16:05] markus2330 commented on #4026
- KDB_O_CREATE also does not work
- KDB_O_DEL was probably never a good idea (ksLookupByName is superior)
- KDB_O_SPEC is now irrelevant as we do not want spec keys in the keyset anyway

So which flag remains which you think it is important for ksSearch?

Probably we should even get rid of the argument from ksLookup? (and provide ksRemove instead)

[2021-09-10 16:23] markus2330 opened #4032 "problems with specload"
@kodebach is there somewhere a summary which problems specload has?

- [ ] codesize: redshift has 88K instead of 79K (the installed version without Elektra), so it might not be a big deal for desktop applications
- [ ] exitForSpecload is needed: this mechanism probably can also be useful for other introspection mechanisms, #3888
- [ ] changing of the spec does not seem to be allowed anyway? I coul

[2021-09-10 16:29] lawli3t commented on #4026
Seems like the best option going forward

Markus Raab ***@***.***> schrieb am Fr., 10. Sept. 2021,
18:05:

[2021-09-10 16:32] markus2330 commented on #3995
Thank you for creating the issue! What API do you propose?

[2021-09-10 16:36] markus2330 commented on #3988
Thank you for creating this issue!

[2021-09-10 16:38] markus2330 commented on #4024
Yes, good point. Do you propose anything different than the current command structure in the new syntax?

:+1:

[2021-09-10 16:40] markus2330 commented on #3989
Is this a problem in the C++ binding or is it also present directly with keyNew?

[2021-09-10 16:59] markus2330 commented on #3938
I would not play it down. If you are new to Elektra and don't know anything about namespaces, meta-set and so on it can be challenging to do the right thing in this case. A small usability problem would be, e.g., that we do not provide alloca variants in the high-level API.

I fully agree. We should fix the issue and only fail on incompatible types. Not having any spec should be allowed.

[2021-09-10 21:29] kodebach commented on #4032
I don't think so, but I think you covered most of it. To me the main problem was that we completely failed to achieve the main goal. Initially the idea was to guarantee that the spec matches was the application developer intended it to be, while allowing safe modifications by system admins. This turned out to be far to complicated.

Agreed, for most modern desktop systems even going from 100kB to

[2021-09-10 21:36] kodebach commented on #4026
Why? `ksSearch` could still create and insert the key and then return the cursor for the new key.

I have used it once or twice, but adding another `keyDel` call wouldn't be too hard.

Probably we should have a remove method that takes a cursor (called `ksRemoveAt` below, for lack of a better name). Then we can implement `ksRemove` as:

[code]

[2021-09-10 21:38] kodebach commented on #4024
Mostly creating `kdb plugin` and `kdb meta` commands with subcommands for the current `kdb plugin-*` and `kdb meta-*`, but there may be more. I don't really have time to think about it right now, and I don't think this issue is particularly urgent.

[2021-09-10 22:18] kodebach commented on #4029
`gopts` should already be called before e.g. `type`. That's why the `procgetstorage` position exists.

Did you mount the spec and then `spec-mount` correctly? You didn't list this in your reproduction. Without `spec-mount` plugins like `type` wouldn't be mounted. This would explain class 2 and 3.

This would be a bug in `elektraGetOpts`. It should report an error, which in turn should be reported

[2021-09-11 10:01] qwepoizt commented on #4030
Thanks for the report!

The cause is that notifications are currently not implemented in elektrified redshift.

[2021-09-11 16:40] markus2330 commented on #4032
Was the first goal achieved?

Probably because of #3983, we made the `type` too much overloaded. In the initial concept every additional metadata only restricted the types more and more. In this case, adding new metadata would be always safe, so specload simply would need to prohibit changing existing metadata, which should be fairly easy to check.

[2021-09-11 17:06] markus2330 commented on #3998
See #4032 for further discussion. I am surprised that the binary size barely increased (probably because the spec is much smaller). Furthermore, it worked for me without problems and has the big advantage that the spec: automatically updates with any updates of the binary.

But it does not really matter for the token implementation, also with specload inconsistency can arise (wrong binary mounted,

[2021-09-11 23:50] kodebach commented on #4029
Oh sorry, it should read: "I'm pretty sure that the `type` plugin didn't run and `elektraGet*` tried to read an incompatible value". Which is exactly what happend.

No that's mostly normal with `specload`. But you could try the option without `specload`, maybe `specload` causes some unexpected problems.

---

Honestly, I have no idea what is going on here. The errors look like `type` and the other

[2021-09-12 00:01] kodebach commented on #4032
Yes, I would say so. `specload` requests the specification from the application itself. Therefore, if the spec doesn't match the application developers intentions, it is their own fault.

However, as stated before, this could be achieve with a much simpler design as well. Especially, once the new backend plugin stuff is done (then we don't need to pretend that there is a file somewhere).

It's har

[2021-09-12 09:57] markus2330 commented on #3982
So it is basically an out-of-bound exception? The sentence is still not very clear to me: If you e.g. call remove(5), does it really matter if there was the 5th Key there at some point and then released¹ later or if it never was inserted?

¹ released is also not standard terminology. Do you mean the state after remove(int) or keyDel or ksDel?

[2021-09-12 15:42] markus2330 commented on #4032
So the remaining problem is if spec-mount was executed.

Do you remember what the behavior was when you passed the overlay file to the resolver?

Obviously it will only follow the rules we make but...

Would imho be an insane behavior = bug. New metakeys might reject a key but should never allow a key that was rejected before.

It is up to @qwepoizt.

Can you please summarize the insights?

[2021-09-12 15:52] kodebach commented on #4032
Not of the top of my head.

Yes, I agree. I was thinking more along the lines of adding a metakey, which triggers the generation of an entirely new key, which in turn might cause unexpected behaviour in the application. For example:

1. The application expects that key `X` and `Y` are both integers. This is enforced via the `type` plugin.
2. I now add a metakey `meta = value` to key `X`.
3. This t

[2021-09-12 16:03] #3966 closed

[2021-09-12 19:13] markus2330 opened #4034 "[FLOSS H1] remove KDB_O_CREATE"
KDB_O_CREATE is not really used and quite buggy (e.g. on cascading keys). It should be removed.

[2021-09-12 19:21] markus2330 commented on #4026
Actually it also applies to ksLookup: #4034

It makes sense that we offer a full iterator-based interface (including removal) and get rid all the special features from ksLookup (like creation and removal).

ksRemoveAtCursor would be more consistent to ksAtCursor.

[2021-09-12 22:28] tucek opened #4035 "reformat-all in docker image is missing shfmt"
## Steps to Reproduce the Problem

Building image:
[code]
[code]

Running container and issuing reformat-all in repo root directory:
[code]

## Expected Result

`reformat-shell` should be run successfully

## Actual Result

`reformat-shell` is missing `shfmt`

## System Information

- Elektra Version: master
- Operating System: Ubuntu 20.04 LTS auf WSL2

[2021-09-12 23:32] tucek commented on #3982
I think there is a misunderstanding: `KeySetReleasedException` was thrown by methods of `KeySet`, if the `KeySet` has been already released (using `KeySet::release`) - has been replaced by `IllegalStateException` in the meanwhile...

[2021-09-13 04:39] markus2330 commented on #4035
Thank you for reporting this bug! :sparkling_heart:

[2021-09-13 04:57] markus2330 commented on #3982
Yes, it seems to be unrelated, please open a new issue. KeySetReleasedException is basically a NullPointerException? Shouldn't it inherit from NullPointerException then? But the even more important question is if we should offer a release functionality?

[2021-09-13 05:10] markus2330 commented on #3603
Thank you for doing this migration, great job! Lets not put too many jobs on external services, so that we do not have to do such a migration again.

[2021-09-13 05:10] #3603 closed

[2021-09-13 05:10] markus2330 commented on #2561
Was fixed by @dev2718 :hugs:

[2021-09-13 05:10] #2561 closed

[2021-09-13 05:11] markus2330 commented on #4012
Was fixed by @dev2718 :fireworks:

[2021-09-13 05:11] #4012 closed

[2021-09-13 08:25] tucek opened #4038 "Remove manual release API [JNA bindings]"
As soon as the garbage collector based clean-up of native resources is working (see #3875), the API for manual releasing native resources `Key::remove` and `KeySet::remove` should be removed (=made private).

Additionally all java-doc declaring related `IllegalArgumentException`s have to be updated.

[2021-09-13 08:25] tucek commented on #3982
I think we can remove the possibility for a manual native resource release for `Key` and `KeySet` as soon as the garbage collector based clean-up of native resources is working (see #3875). I've created #4038 to track this issue.

[2021-09-13 08:26] #3982 closed

[2021-09-13 09:11] tucek commented on #4026
As discussed with @markus2330, I will add `ksSearch` to the public C API. `ksSearch` will first call `elektraLookupOpmphmSearch` and then fallback on `ksSearchInternal`.
`ksSearchInternal` will be made private (`src/libs/elektra/symbols.map`) and new `ksSearch` will be public.

[2021-09-13 09:15] kodebach commented on #4026
Is this necessary? I don't think there will be a need to call `ksSearchInternal` outside of `libelektra-core`.

[2021-09-13 09:19] kodebach commented on #3911
TOML won't support metadata. When metadata is needed (e.g. for `spec:/`), another plugin like `ni` should be used.

[2021-09-13 09:19] #3911 closed

[2021-09-13 09:20] kodebach commented on #3912
Won't be implemented for now.

[2021-09-13 09:20] #3912 closed

[2021-09-13 10:20] tucek opened #4039 "Optimize ksSearch by searching hash map first"
To optimize `ksSearch`, call `opmphmLookup` (if `opmphm` is enabled) first, with a fallback on `ksSearchInternal`.

[2021-09-13 10:48] tucek opened #4040 "[CM T0] KeySet may implement NavigableSet [JNA bindings]"
After #3870 introduced implementation of `SortedSet` by `KeySet`, also implementing `NavigableSet` should be relatively easy.

See https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/NavigableSet.html

[2021-09-13 11:42] kodebach commented on #3910
I think the TOML plugin should be sufficiently complete to try using it as the default again.

[2021-09-13 11:45] qwepoizt commented on #3998
## Decisions from Elektra meeting 13th Sep 2021:
* Add token mechanism.
* Remove specload (if nothing speaking against it comes up).
* Mechanism that allows administrators to perform sensible changes to specification may be added in future.

[2021-09-13 11:46] markus2330 commented on #4026
Thank you :+1:

Exactly, that is why it should be made private.

[2021-09-13 11:46] qwepoizt commented on #3998
Good point, thanks. I'll use https://github.com/amosnier/sha-2 instead, which is also short and license compatible.

[2021-09-13 11:51] qwepoizt opened #4041 "redshift: CLI arguments not working"
reported by @markus2330 at https://github.com/jonls/redshift/pull/837#discussion_r706243781

# Expected behavior
`src/redshift -V` does not print the version.

# Actual behavior
`src/redshift -V` should print version and exit

[2021-09-13 11:52] qwepoizt commented on #4041
@markus2330 I'm reposting my questions here, looking forward to your response!

------------------------------------------------------------------------------------------------

Unfortunately, I'm having trouble reproducing that when specification is properly mounted. Could you please provide more information?

1. Does `src/redshift -v` (lower-case v -> verbose) and other CLI options like `--fade`

[2021-09-13 11:53] markus2330 commented on #4040
Thank you for proposing this improvement!

[2021-09-13 11:59] kodebach commented on #4026
But symbols in `src/libs/elektra/symbols.map` are still exported, i.e. it should only contain symbols that are used outside the library (`.so`) that defines them.

Symbols should be defined like this:
1. Used only within one file: `static`
2. Used within multiple files of a single library: non-`static`, but also not declared in a `symbols.map`
3. Used within multiple libraries internally, but not

[2021-09-13 12:03] kodebach commented on #3998
amosnier/sha-2 looks easier to use anyway, since it has a streaming API. The other library would have required creating one single, big buffer for all the data you want to hash. Hashing a complete specification would have meant creating a complete duplicate of it just to calculate the hash.

[2021-09-13 15:10] qwepoizt commented on #4029
I looked into this and discovered - by reading the code and debugging - that:

* The `check/*` plugins (e.g. `range`, `validation`) only perform their validation during `elektraPLUGINNAMESet()` and not during `elektraPLUGINNAMEGet()`. The `...Get()` functions pass the unchanged KeySet through.

c.f. `range.c:elektraRangeGet()`:
https://github.com/ElektraInitiative/libelektra/blob/6701d9ea627a7fb6d

[2021-09-13 15:39] qwepoizt opened #4042 "gopts: No error on missing argument"
Forked from #4029.

When using the HL API and the gopts plugin, CLI options that have `opt/arg=required` and are passed without a value are not validated.

E.g. `/myapp --mb` where the option `--mb` requires an argument, generates no error.

## Steps to Reproduce the Problem
0. Execute the steps below which follow the tutorial [High-level API (with code-generation)](https://www.libelektra.org/tuto

[2021-09-13 19:53] kodebach commented on #4029
Yes, I'm pretty sure this is the cause. I didn't immediately suggest it, because I thought that at least `type` also does its validation during `kdbGet`.

I have advocated for this multiple times, because it is also a problem, if you modify the config file manually (which will be quite common for some applications). However, until now it seemed I'm the only one that was in favour of enforcing this

[2021-09-14 06:12] qwepoizt commented on #4029
I see, thank you!

@markus2330: What do you think about adding validatuon to
elektraPLUGINNAMEGet() ? Are there sensible alternatives?

On 2021-09-13 21:53, kodebach wrote:

[2021-09-14 08:42] qwepoizt opened #4043 "gopts: Wrong type detected too late"
Forked from #4029.

This is "Class 2: wrong type".

## Steps to Reproduce the Problem
see #4029

## Expected Result
see #4029

## Actual Result
see #4029

## System Information
see #4029

[2021-09-14 08:48] qwepoizt commented on #4043
@kodebach wrote in #4029:

It does. But: The opts library seems to not copy the meta-keys from the keys within spec:/ to the keys within proc: .

When `elektraTypeGet()` is called, the keys in the KeySet have no meta data.

E.g. for `./myapp --mb notabool` using the spec given in #4029:

![image](https://user-images.githubusercontent.com/61849663/133226211-c70b8317-a352-43b9-b083-b113070cf669.png)

[2021-09-14 08:49] qwepoizt commented on #4043
(mentioning @markus2330 as discussed.)

[2021-09-14 08:50] qwepoizt commented on #4042
(mentioning @markus2330 as discussed.)

[2021-09-14 08:54] qwepoizt commented on #4043
Addendum:
Because they have no metadata `getTypeName(cur)` returns NULL and their type is not validated within `elektraTypeGet()` - these keys are simply skipped:

https://github.com/ElektraInitiative/libelektra/blob/6701d9ea627a7fb6df7276c4d6fe69fa9a6b8ae4/src/plugins/type/type.c#L305-L312

The wrong type is then noticed later, when the exact key is retrieved using the `elektraGetMyboolean()` fun

[2021-09-14 09:19] kodebach commented on #4043
The `spec` plugin should do that. First all plugins up to and including the `getstorage` position should run. Then `gopts` should run (in the `procgetstorage` global position), then `spec` should run (`postgetstorage` global position) and finally all the plugins in `postgetstorage` position should run.

Can you verify whether `gopts`, `spec` and `type` are executed in this order? If they are, this

[2021-09-14 09:38] qwepoizt commented on #4043
No, the order is gopts, type, spec!

`gopts` is run in `procgetstorage` and `spec` is run in `postgetstorage`. I'm not sure in which position `type` is run, but it's call stack shows that it is not executed via the `list` plugin as `gopts` and `spec`.

## Call stacks
### gopts
1st call
![image](https://user-images.githubusercontent.com/61849663/133232732-064e79db-46a9-4fc4-be18-a7f6504be7b6.png)
2

[2021-09-14 12:10] qwepoizt commented on #3998
@markus2330 Which library are you referring to? All of the `kdb gen` code seems to be C++ and within the folder `src\tools\kdb\gen`. Unfortunately, I can't find any C "support library" .

[2021-09-14 12:38] kodebach commented on #3998
You could simply include the `sha256.c` and `sha256.h` files in `libelektra-ease` and then add a function

[code]

[2021-09-14 15:28] qwepoizt commented on #4043
Yes, after this change, the order is now `gopts`, `spec`, `type`!

@kodebach Can you please make sure that this is indeed a good fix for the problem and create a PR for it?
Are you the right person for that task?
Unfortunately, I don't know how kdbGet() works and what side-effects such a change could have, so I am quite at a loss here :).

[2021-09-14 15:38] qwepoizt opened #4044 "error/success return values ignored in elektraGetDoUpdateWithGlobalHooks()"
## Problem
In several places of `kdb.c` return values from plugins' `kdbGet()` are ignored.

This leads to errors in these plugins from being ignored and not reported back to the initial caller of `kdbGet()`.

## Examples of ignored return values (list might be incomplete)
https://github.com/ElektraInitiative/libelektra/blob/6701d9ea627a7fb6df7276c4d6fe69fa9a6b8ae4/src/libs/elektra/kdb.c#L795-L805

[2021-09-14 15:39] qwepoizt commented on #4044
@markus2330 I've discovered this and am not sure if it is a bug or intended. What do you think?

[2021-09-14 15:40] qwepoizt commented on #4042
The gopts plugin actually recognizes this as an error, but the error is swallowed within `kdb.c`. See #4044

[2021-09-14 15:41] qwepoizt commented on #4043
@markus2330 I've discovered another problem in `kdb.c` that might be related #4044.

[2021-09-14 15:50] kodebach commented on #4043
Yes, I will look into fixing this and #4044. Since #3693 will change a lot of this code anyway, I'd say as long as the change doesn't cause test failures it is good enough for now.

[2021-09-14 15:53] kodebach commented on #4044
Yes, this is a bug. All errors should be reported, at the very least as a warning (e.g. if there was already another error).

[2021-09-14 17:29] markus2330 commented on #4026
Yes :+1:, ksSearchInternal can be static and then only ksSearch gets tested (which is a public symbol).

[2021-09-15 11:26] qwepoizt commented on #4029
Some `check/*` plugins already have the `postgetstorage` placement, meaning their `elektraPLUGINNAMEGet()` is executed and they could execute their validation.

If we decide to execute their validation during `elektraPLUGINNAMEGet()`, we will also have to make sure that they have the `postgetstorage` placement!

E.g. `check/validation` currently does not have `postgetstorage` thusly its `elektraPL

[2021-09-15 11:35] qwepoizt commented on #4029
Note: I fixed a typo in https://github.com/ElektraInitiative/libelektra/issues/4029#issue-993342197. The value of  `[mystringcheckdate]` 's `opt/arg` was `require`, now fixed to `required`.

[2021-09-15 13:14] markus2330 commented on #3578
Probably we should simply remove the script for now as it will get completely broken with #3693

[2021-09-15 13:22] markus2330 commented on #2417
I think we can close this for now. #3131 is the only crucial leftover.

[2021-09-15 13:22] #2417 closed

[2021-09-15 13:27] kodebach opened #4048 "installing fuse writes to source directory"
Running `make install`, when the `fuse` tool is built, creates files inside the source directory. At the very least these files should be part of `.gitignore`, but ideally the shouldn't be there at all. If we really need to write some temporary files, the should be in the build directory. However, since `make install` may be run as root to allow actually installing into the system, it probably sho

[2021-09-15 13:39] qwepoizt opened #4049 "gopts: check/ plugins perform no validation during kdbGet()"
Forked from #4029.

This is "Class 3: validation errors reported by check/* plugins".

## Steps to Reproduce the Problem
see #4029

## Expected Result
see #4029

## Actual Result
see #4029

## System Information
see #4029

[2021-09-15 13:41] qwepoizt commented on #4029
I've split this up in 3 issues, please let's continue the discussion there:

* Class 1: missing argument (forked to
gopts: No error on missing argument  #4042)
* Class 2: wrong type (forked to
gopts: Wrong type detected too late #4043)
* Class 3: validation errors reported by check/* plugins (forked to
gopts: check/ plugins perform no validation during kdbGet() #4049)

[2021-09-15 13:48] qwepoizt commented on #4049
### Summary of this issue from #4029:

* The check/* plugins (e.g. range, validation) only perform their validation during elektraPLUGINNAMESet() and not during elektraPLUGINNAMEGet(). The ...Get() functions pass the unchanged KeySet through.
* Some check/* plugins (e.g. `check/validation`) are currently missing the `postgetstorage` placement. In order for their `elektraPLUGINNAMEGet()` to actuall

[2021-09-15 15:12] markus2330 commented on #4048
Thank you for reporting this bug! We should not release like this or at least write it in the release notes about fuse.

[2021-09-15 18:18] kodebach commented on #4048
If we release like this, the files should also be added to `.gitignore` until there is a proper fix. Then you at least don't have to be careful to not commit this stuff.

[2021-09-15 19:47] lawli3t opened #4050 "user:user_a/b should be an invalid Key name"
_Originally posted by @markus2330 in https://github.com/ElektraInitiative/libelektra/pull/3853#discussion_r647631446_

[2021-09-15 19:49] #4050 closed

[2021-09-15 19:49] lawli3t commented on #4050
misunderstanding from my part, the code in question actually fails.

[2021-09-15 21:23] lawli3t commented on #3981
Offending test case:

[code]

[2021-09-16 05:30] markus2330 opened #4051 "create shell completion wrappers"
In  #3228 we develop a tool in Python which can answer the question: "Given a current command-line argument, what are the possibilities to complete such a command?".

This task here is to write shell completion wrappers for various shells to enable this improved and uniform autocompletion mechanism. It should replace:

- [ ] zsh:  scripts/completion/kdb-zsh-noglob kdb_zsh_completion
- [ ] fish: sc

[2021-09-16 13:49] markus2330 commented on #4030
As discussed the use case for reloading in redshift is not really given and to make notification work together with HL-API is not trivial.

[2021-09-16 13:49] #4030 closed

[2021-09-16 13:50] markus2330 commented on #4041
To get an "installed" Elektra, the easiest option is probably with our docker builds (to list them run `docker run --rm anoxis/registry-cli -r https://hub-public.libelektra.org`), see e.g. https://www.libelektra.org/tutorials/run-all-tests-with-docker

[2021-09-16 14:36] qwepoizt opened #4053 "proposal: check/* plugins should report validation problems during kdbGet() as warning"
As explained in #4029 and #4049, `check/*` plugins currently only perform validation during kdbPLUGINNAMESet().

After discussion with @markus2330 today we propose:
* Perform validation also during kdbPLUGINNAMEGet().
* Report validation problems as warnings not as errors.
  * Rationale:
  * Users sometimes modify configuration without using `kdb set` (e.g. directly editing text of config file).

[2021-09-16 15:16] markus2330 commented on #4053
Thank you for creating this issue!

Not only the HL API, actually we recommend any application to fail with validation warnings.

[2021-09-16 15:18] markus2330 commented on #3981
Thank you for creating this bug!

[2021-09-16 15:32] markus2330 commented on #4029
Can we close this issue then?

[2021-09-16 15:34] markus2330 commented on #4042
Can you please update the top-post to summarize what this issue is about?

[2021-09-16 15:48] #4029 closed

[2021-09-16 15:50] qwepoizt commented on #4041
Thanks for the hint, I've done some experimenting with docker for testing previously, I'll take a look!

[2021-09-16 21:42] kodebach commented on #4053
Seems reasonable. Although updating all validation plugins might be quite a bit of work.

[2021-09-17 04:29] markus2330 commented on #4053
Yes, especially because they need to do something else in the Get branch.

The alternative would be that storage plugin emit errors in both cases and the KDB framework transforms all VALIDATION errors to warnings in kdbGet.

[2021-09-17 04:30] #4043 closed

[2021-09-17 04:30] #4044 closed

[2021-09-17 07:54] qwepoizt commented on #4042
Yes, I did!

[2021-09-17 07:55] qwepoizt commented on #4042
This was fixed via #4045.

Actual result is now as expected:

[code]

[2021-09-17 07:55] #4042 closed

[2021-09-17 08:02] qwepoizt commented on #4053
@markus2330 Depending on how well the plugin is modularized, the difference between Set and Get is not that big, is it?

E.g. for `check/range` Get could be a copy of Set (or better, call the same, new function `validateKeySet()`):

https://github.com/ElektraInitiative/libelektra/blob/5702ce0496823fdd12c4e1e6ff9d6d1ca1b71a40/src/plugins/range/range.c#L490-L508

í.e.:
* Loop through all keys
* Call

[2021-09-17 13:21] markus2330 commented on #4042
Thank you for fixing the issue! :1st_place_medal:

[2021-09-17 13:33] markus2330 commented on #4053
The ELEKTRA_ are unfortunately macros, so I am afraid it won't work with a function pointer. And it is a macro with a good reason: we want to keep which line number the error/warning was issued.

I tend towards the solution with the framework. Rewriting validation errors to warnings shouldn't be too hard and solves the issue at a single place. Furthermore, it has the advantage that it would allow

[2021-09-17 14:10] kodebach commented on #4053
Passing a flag instead and using an `if` inside the function would work. The flag is probably required anyway, because we probably need to return a different return code. If there are no error, but some warnings that would still be a "success", but if there is a (non-validation) error it is actually an error, even in `kdbGet()`.

I don't think emitting errors, then converting to warnings in `kdbGe

[2021-09-17 14:25] markus2330 commented on #4053
It is not about issues getting bigger but, as explained, about that you are the only one who knows these parts. Furthermore, you are currently rewriting these parts so it would be not very wise to do such changes without asking you.

This is what I asked you to do.

As said, it depends on tool vs. application what is correct. What is correct for the tool is incorrect for the application. That is w

[2021-09-17 14:45] markus2330 commented on #2202
A different perspective on this issue: if renaming of a key is allowed is a complicated matter and actually cannot be decided from a key being in a KeySet. There are (many) valid rename operations also on keys within keysets, e.g., keysets with 1 key or by adding the same basename to every key in a keyset.

I now tend towards having less enforced checks: in particular in situations where we actual

[2021-09-17 14:48] kodebach commented on #4053
Bigger was meant as in "touching more parts of Elektra", specifically it seems as soon as something touches `libelektra-core` or `libelektra-kdb`.

Asking me _how  to do_ something is very different from asking me _to do_ something. You asked, be if I had time to do this, not just whether I agree with a particular approach.

IMO what the plugin reports does not depend on application vs. tool. Very

[2021-09-17 15:03] markus2330 opened #4054 "implement semantics of meta:/ keys"
- [ ] no meta-data can be contained (as meta-meta data lives in spec:/)
- [ ] no binary values are allowed (as they require meta-data)
- [ ] value must be read-only (as meta-data might be shared between keys)
- [ ] name must be read-only
@kodebach wrote:

Did I forget some semantics of meta:/ keys?

[2021-09-17 15:28] kodebach commented on #4054
Everything you mentioned would be implemented in `Key`. But related to this there is also:

- [ ] A `KeySet` can either contain only `meta:/` keys, or no `meta:/` keys.

Not sure, if we wanna track this here, or in a different issue (e.g. #3598)

[2021-09-17 15:54] markus2330 commented on #4053
Maybe compiler warnings/errors as analogy are more comprehensible: When you use a different standard, the same code that was correct before might have a warning, depending on the standard. Of course applications or tools could find out themselves which warnings to ignore, as you could also find out which warnings you need to enable in the compiler so that the code is according to some standard. Bu

[2021-09-17 20:18] qwepoizt commented on #3998
@markus2330 I have an update: This is progressing well!

## Done
* `SFM` and `SME` check implemented
* sha-256 calculation implemented
* Token calculation implemented
* `kdb gen` adds token to contract
* HL API checks token on application startup
* Tests implemented
* Inline documentation of code from other authors slightly improved
* "minimal validation" removed from HL API and `kdb gen`

## Curr

[2021-09-18 12:06] qwepoizt commented on #4041
@markus2330 I believe this was caused by missing dependencies on your system! To make such issues easier to debug, I have:

* improved the usability of redshift to provide more helpful info messages during execution and more details about problems.
* extended `CONTRIBUTING.md` to make clearer, that without installing the dependencies, redshift will only work in a very limited manner.

I'll get bac

[2021-09-18 16:51] qwepoizt commented on #3987
@markus2330 As discussed, I've implemented several sanity checks in the spec-mounter with #4057 !

I think this is a good solution for this issue and #3983: When someone creates a specification file and then executes `kdb spec-mount ...` to test/use it, they will receive errors if one of the sanity checks fails!

I think I can say from experience that these checks will help a lot, especially if so

[2021-09-18 17:27] qwepoizt commented on #3983
@markus2330 I've created #4058 to fix this.

[2021-09-20 09:17] qwepoizt commented on #4053
Thank you both for discussing possible solutions!

@markus2330 I came up with a pragmatic approach that solves the problem for redshift and leaves time to come up with a well-discussed and thought-out solution for all plugins.

1. we postpone a solution that solves this for all plugins until
  a. #3693 is done
  b. and the discussion here has yielded a good solution, that fits the discussed requir

[2021-09-20 09:24] qwepoizt commented on #4049
See #4053 for further discussion.

[2021-09-20 11:52] dev2718 commented on #4028
I am a bit confused as to how to reproduce this, as
``kdb set spec:/sw/redshift/#0/current/mode default continual``
raises a syntax error (too may parameters).

[2021-09-20 12:56] markus2330 commented on #4053
I think it would be important to study in at least one case if the simple approach with warning + fail in HL-API is feasible. Then we learn if this approach is a good idea and hopefully know how to fix all other plugins.

Plugins failing in kdbGet for validation is a bug, as then Elektra's tools cannot be used to fix these validation problems. I highly appreciate that you looked into which of the

[2021-09-20 13:47] markus2330 commented on #4028
Which shell do you use? Some shells interpret `#` also in the middle of words. I quoted the top-post so that the problem should not occur.

[2021-09-20 17:21] dev2718 commented on #4028
I use fish, but this is not the problem.

``kdb set "spec:/sw/redshift/#0/current/mode" default continual``

gives me

`Sorry, I could not process the arguments: 2 arguments needed`

caused by

https://github.com/ElektraInitiative/libelektra/blob/90fb5bef6bf2c899d8b90af90d08b99140ae6666/src/tools/kdb/set.cpp#L27-L30

[2021-09-20 17:31] markus2330 commented on #4028
Sorry, it should read meta-set instead of set, I updated the top description!

[2021-09-20 17:40] markus2330 commented on #4041
:sparkling_heart:

Maybe we should even fail. I don't think anyone wants to have software where CLI arguments do not work.

[2021-09-20 17:44] markus2330 commented on #3998
There is a similar functionality with `_`.

I think they would not be copied if you only work on `spec:` keys. What is the reason you look at other keys now? We said that these checks would be done by the spec plugin (which will handle `_` and `#` properly).

[2021-09-20 18:03] markus2330 commented on #4031
@qwepoizt Is this something you already looked into? Are there further improvements to be made?

[2021-09-20 18:05] markus2330 commented on #4041
I just tried with several location providers, it did not make the CLI arguments work:

[code]

[2021-09-20 18:26] kodebach commented on #3998
Yes, the `spec` plugin shouldn't add/modify/delete any `spec:/` keys. In the case of array and wildcard specs it may generate new keys, but only in other namespaces.

[2021-09-20 20:32] qwepoizt commented on #4041
Thanks for trying!

Let me clarify: We are discussing 2 issues here:

## CLI arguments not working
* This is still unsolved in this PR
* It will be solved or easier to debug once #3998 is closed.
* If you want to, you could try installing libelektra @ a4be8d468549ef52b5678e13fedfa8112b7a1e79 (latest commit in #4047) and check if the issue goes away.
* Otherwise, I'll reach out to you once it's mer

[2021-09-20 20:41] qwepoizt commented on #4041
Sorry, I think I was too unspecific. Actually, redshift was designed to work without some of those dependencies. The problem was just, that it's info/error messages were too unclear.

Currently:

* If Elektra dependency is missing, redshift won't compile.
* If no adjustment method dependency was installed, redshift will execute in dummy mode and print to stderr, that dummy mode has no effect on sc

[2021-09-20 20:43] qwepoizt commented on #4031
No, actually I have not looked into this issue. I'm not aware of other improvements.

Do you want me to improve the script?

[2021-09-21 05:49] markus2330 commented on #4041
As the title suggested, I was talking about the issue that the CLI arguments are not working. So this issue is a specific occurrence of #3998 (when using redshift).

Yes, perfect! Let us look into the CLI arguments afterwards.

[2021-09-21 05:52] markus2330 commented on #4031
It is better if we get the issues, you are already working on, fully done. This issue can be easily reassigned as it is quite separate.

The main problem with the UX of the scripts is if they are executed when the mountpoints are already mounted:

[code]

So a lot of very misleading errors until the real problem is printed. It would be much better if the script simply umounts itself.

[2021-09-21 08:18] qwepoizt commented on #4031
Okay, that sounds good to me!

Good idea, I agree!

[2021-09-21 08:20] qwepoizt commented on #3998
Actually, the algorithm should ignore any keys that are not in the spec namespace.

I'll create a small test to further debug this!

[2021-09-21 09:01] qwepoizt opened #4059 "plugins: Correct the behavior for validation problems"
## Expected behavior
1. checker plugins should run their validation during ...Get() and ...Set().
2. If a validation problem occurs during ...Set(), the plugin should set an error and return -1
3. If a validation problem occurs during ...Get(), the plugin should add a warning and return 0
4. plugins need to have the `placements`: `pregetstorage' and `postgetstorage` in their metadata. Otherwise ..

[2021-09-21 09:01] qwepoizt commented on #4053
Okay, I agree. I'll set up a case study PR for this!

The issue for plugins is #4053.

[2021-09-21 09:02] qwepoizt commented on #4059
@markus2330 Please feel free to edit the description, if I got something wrong.

[2021-09-21 13:44] markus2330 commented on #4059
Thank you for creating the issue! The description is very good.

[2021-09-21 19:26] qwepoizt opened #4060 "Replace `type=int` with appropriate alternative"
There are some places, where the deprecated `type=int` is still used.

@markus2330 wrote in #4058 that

and

## List of usages (maybe not exhaustive)

https://github.com/ElektraInitiative/libelektra/blob/90fb5bef6bf2c899d8b90af90d08b99140ae6666/doc/METADATA.ini#L356-L357

https://github.com/ElektraInitiative/libelektra/blob/90fb5bef6bf2c899d8b90af90d08b99140ae6666/doc/METADATA.ini#L77-L80

https:/

[2021-09-21 20:32] qwepoizt opened #4061 "Fix handling of array parents in `spec` plugin"
The `spec` plugin changes *which* keys of an array it gets/sets, when a previously empty array becomes non-empty.

## Expected behavior
1. `cd` into `.../libelektra/examples/codegen/econf/`
2.  ``kdb mount `pwd`/spec.ini "spec:/sw/example/econf/#0/current" ni``
3. `kdb spec-mount "/sw/example/econf/#0/current"`
4. `kdb ls "spec:/sw/example/econf/#0"` yields:
[code]
5. `kdb meta-set "user:/sw/examp

[2021-09-21 20:32] qwepoizt commented on #4061
This effectively means that the spec changes when an initially empty array is later non-empty.

The token will then not match anymore.

[2021-09-21 20:33] qwepoizt commented on #4061
Interestingly, making the array empty again via `kdb meta-rm "user:/sw/example/econf/#0/current/format" "array"`, does not make `kdb ls ` include  `spec:/sw/example/econf/#0/current/format/#` again.

Therefore:

1. Turn empty array into non-empty array
2. Turn non-empty array back into empty array

is not idempotent.
(Edit: "idempotent" is probably not the correct term here, I hope one can still g

[2021-09-21 20:35] qwepoizt commented on #4061
kodebach wrote:

--------------------------------------------------------------------------------------------------------

You're on the right track here, but `1 == 1` is not the correct condition. You need to look at where `internal/spec/array` and `internal/spec/remove` are added. Then you need to remove the line that marks the `#` array spec keys (like `spec:/sw/example/econf/#0/current/format/

[2021-09-21 20:40] qwepoizt commented on #4061
@kodebach Thanks for your helpful input!

@markus2330 I tried to fix this all day, but I can't come up with a working solution.
However, I have a working workaround for #4047: Ignore array **parent** items (i.e. `.../format/#`) during specification token calculation.
I believe this is sensible as:

1. redshift does not use arrays
2. this bug is hard to fix and the time is probably better spent on

[2021-09-22 04:30] markus2330 commented on #4060
Thank you for creating the issue!

[2021-09-22 05:52] markus2330 commented on #4061
Yes, better do some final touches on the HL API and the other issues you already work on. spec needs a reimplementation, the problem you found is unlikely to be the only one.

Thank you for the long bug description, let us leave this issue open for insights of how to redesign the spec plugin.

[2021-09-22 10:19] #3984 closed

[2021-09-22 10:51] mpranj opened #4062 "`GLib` and `-Wpedantic`"
As mentioned in https://github.com/ElektraInitiative/libelektra/pull/4055#issuecomment-922281123 compiling GLib (since 2.70.0) currently causes the following error:

[code]

After reporting the problem [upstream](https://gitlab.gnome.org/GNOME/glib/-/issues/2495) it turns out that GLib does not support the `-Wpedantic` flag as documented here: https://wiki.gnome.org/Projects/GLib/CompilerRequireme

[2021-09-23 16:31] qwepoizt commented on #4041
@markus2330 tested on his system again today with Elektra 0.9.7 (which doesn't yet include #4047):

* `kdb gmount` returned:
`spec`
* after `kdb gumount spec`, **the CLI arguments worked**!
  e.g.: `./redshift -V` prints version, `./redshift -v` enables verbose mode, `./redshift --help` prints generated help text.

## Reproducing the bug
* I've tried to reproduce this on my system, but `kdb global

[2021-09-23 17:17] kodebach commented on #4041
The `spec` plugin should already be globally mounted by default. You shouldn't need `kdb global-mount spec`.

The problem that is happening here is that markus2330 at some point called `kdb global-mount` for some other reason. This made the config explicit and stored it in his KDB. For that point on the default global mount config wasn't used anymore on his system and he need to update it manually

[2021-09-23 18:07] markus2330 commented on #4041
I actually fixed it with `kdb rm -rf system:/elektra/globalplugins`.

If simply mounting spec does not trigger the issue it is probably not important trying to reproduce it.

Exactly! We should make sure is that contracts actually ensure that a plugin gets mounted, irrelevant of the content in `system:/elektra/globalplugins`.

[2021-09-23 18:20] kodebach commented on #4041
This not really possible with the current setup without a lot of effort. That's why contracts currently rely on the `list` plugin. With #3693 it will hopefully become easier.

[2021-09-23 18:31] tucek commented on #4001
Issue blocked by #4053

[2021-09-23 18:47] qwepoizt commented on #4041
Thank you both for your input! I propose to move the discussion to a new issue!

[2021-09-23 19:18] markus2330 commented on #4001
@tucek for the range plugin this already gets implemented, there should be no blocker to also implement it for the whitelist plugin.

[2021-09-23 20:28] tucek commented on #3988
It seems the rules for valid names have been changed, since the sample application has been developed.
Whats wrong with the following key name?
`Invalid name: user:/weird\/name///\\/is/\no/_\\problem (in keyVNew at src/libs/elektra/key.c:233)`

[2021-09-24 10:09] qwepoizt opened #4066 "Implement warnings in HL API's ElektraError"
@markus2330: The HL API's error handling file [elektra_error.c](https://github.com/ElektraInitiative/libelektra/blob/7650d17b9e866a03156943a0633c882f67144bf9/src/libs/highlevel/elektra_error.c) did not support warnings. There was some code for it, but it did not work.

I'll implement support for warnings, because this is required to fix #4049 #4053 #4059

[2021-09-24 13:25] #3870 closed

[2021-09-24 13:25] #4026 closed

[2021-09-25 14:53] #4009 closed

[2021-09-25 14:54] mpranj commented on #4009
The `-lelektra-meta` helped indeed.

[2021-09-25 15:45] markus2330 commented on #4066
Thank you very much!

[2021-09-25 15:47] markus2330 commented on #3988
The backslash before no is tangling `\no`?

[2021-09-25 15:56] markus2330 commented on #4062
Thank you for #4067. The proper fix is probably simply to disable `-Wpedantic` for glib? Similar modifications already exist for swig bindings. 74c3dad04bad1dd7a6be4d259ee6e93e4fed1726 can be reverted then.

[2021-09-26 01:58] tucek commented on #3988
Already tried that, but it's no escape character. The Java string is `"user:/weird\\/name///\\\\/is/\\no/_\\\\problem"`

[2021-09-26 06:24] #2844 closed

[2021-09-26 06:24] #4019 closed

[2021-09-26 17:06] markus2330 commented on #3988
There are two different levels of escaping going on here: first in Java, later in Elektra. The tangling backslash occurs in Elektra.

[2021-09-27 13:02] qwepoizt opened #4072 "Fix warnings for mingw builds"
Currently, the mingw builds (see `scripts/dev/configure-mingw-w64-i686` and `scripts/dev/configure-mingw-w64-x86_64`) raise warnings.

This will be reproducible once #4070 is merged.

## Steps to Reproduce the Problem

1. `mkdir build && cd build`
2. ` ../scripts/dev/configure-mingw-w64-i686 ..`  or ` ../scripts/dev/configure-mingw-w64-x86_64 ..`
3. `make`

## Expected Result

Make succeeds withou

[2021-09-27 19:34] qwepoizt opened #4073 "proposal: Merge errors.c and elektra_error.c"
Currently, there are 2 module dealing with errors in Elektra:

1. src/libs/elektra/errors.c: Used in the whole codebase. In-code documentation says: "Used for writing the error/warning information into a key to be used for emitting messages to the user"
2. src/libs/highlevel/elektra_error.c: Used in the HL API. Can be used to create errors from scratch or from errors that were written into a key u

[2021-09-27 22:33] qwepoizt opened #4074 "proposal: change behavior of kdb mount for non-existing mountpoints"
* Currently, `kdb mount` accepts mountpoints, regardless of whether these mountpoints actually exist.
* Example: `kdb mount ~/thisfiledoesnotexist.ni spec:/test ni` has return code 0 and prints nothing to stdout/err.
* This can be irritating, if one wants to *actually mount an existing* file, but by accident specifies a wrong path. Then `kdb mount` does not fail or warn about the mountpoint not ex

[2021-09-28 06:30] #3998 closed

[2021-09-28 10:05] qwepoizt opened #4075 "Improve detection of problems in specification"
Any problems in specification files should be detected as soon as possible:

* on `kdb mount` or `kdb spec-mount`
* during `kdb meta-set`

Right now they are either detected too late or not at all!

## Examples for problems

* ~conflicting type and check/type~ -> fixed for `kdb spec-mount` via #4058

[code]

* ~specifying an illegal type~ -> fixed for `kdb spec-mount` via #4058

      [myfloat]

[2021-09-28 10:06] qwepoizt commented on #3983
Closing this as the specific issue was fixed and the general problem is described in #4075 .

[2021-09-28 10:06] #3983 closed

[2021-09-28 10:07] qwepoizt commented on #3987
Closing this as the specific issue was fixed via #4058 and the general problem is described in #4075 .

[2021-09-28 10:07] #3987 closed

[2021-09-28 10:11] qwepoizt commented on #4041
Closing this as the issue was fixed, if required, please open a new issue for further discussion of "We should make sure is that contracts actually ensure that a plugin gets mounted, irrelevant of the content in system:/elektra/globalplugins".

[2021-09-28 10:11] #4041 closed

[2021-09-28 10:14] qwepoizt commented on #4049
Closing this as the discussion has moved to #4053 and a new issue for all plugins has been opened in #4059.

[2021-09-28 10:14] #4049 closed

[2021-09-28 10:16] qwepoizt commented on #4066
Fixed via #4063

[2021-09-28 10:16] #4066 closed

[2021-09-28 10:38] #4062 closed

[2021-09-28 16:39] markus2330 opened #4077 "0.9.8 release"
- [x] link to mingw release in release notes (+ say we have them now)

[2021-09-29 13:53] markus2330 commented on #4075
Thank you for reporting the problem! Yes, I agree that more checks would improve usability. As it is unfortunately difficult to do it in a generic and correct way (for all checkers), I tag it as "low priority".

[2021-09-29 14:06] markus2330 commented on #4074
Thank you so much for reporting this usability problem! :revolving_hearts:

Yes, I agree that checkFile in src/plugins/resolver/filename.c and also src/plugins/wresolver/wresolver.c would be much more useful if it also checks if a file is present.

But I am afraid that printing a warning in src/libs/tools/src/backend.cpp is the most what we can do. Aborting on non-existing files would be too much

[2021-09-29 14:23] markus2330 commented on #4073
These files have different purposes: the highlevel error API is for easier access to errors by end-users (i.e. not internally or plugins).

This shouldn't be a problem in the future as we now fixed the error categories. So no update should be needed anymore. Did you find an inconsistency we have at the moment?

[2021-09-29 14:24] markus2330 commented on #4072
Thank you for creating this issue!

Can you paste a link so that someone can find these warnings?

[2021-09-30 08:40] qwepoizt commented on #4072
The warnings can be seen in this log: https://build.libelektra.org/blue/rest/organizations/jenkins/pipelines/libelektra/branches/master/runs/577/nodes/940/log/?start=0

If I compile locally on Ubuntu 20.04, I receive additional warnings.

## Installed packages
[code]

## Log from local run
[code]

[2021-09-30 10:26] markus2330 commented on #1164
@dev2718 is this fixed? What is open?

[2021-09-30 16:05] markus2330 commented on #4007
Running `llvm-config --prefix` might not be the full solution. If the package clang is missing, a similar error as above is given.

[2021-09-30 18:08] tucek commented on #3756
https://github.com/google/google-java-format is now being used

[2021-10-01 11:38] markus2330 commented on #3898
We added openwrt to our build server, see #3967

[2021-10-01 11:38] #3898 closed

[2021-10-01 11:40] markus2330 commented on #4028
As discussed, we will disable all cascading writes.

@dev2718 Can you do this for this release?

[2021-10-01 12:05] markus2330 commented on #4077
@mpranj

I added 4th of October as due day, is this okay for you?

I looked through all the issues not assigned to you. It looks like there is already a PR for each of them, except #4028 which is an quite embarrassing issue (silently discards data). Would be great if we can fix this for the release.

I didn't look at the issues assigned to you. Probably they do not need to be assigned to a specifi

[2021-10-02 07:59] mpranj commented on #4077
Absolutely, but all relevant PRs need to be finished soon for that. If there is a problem late in the release pipeline, many hours are needed to debug and re-run everything.

Indeed, they are not relevant for a specific release.

I agree.

[2021-10-02 08:06] mpranj commented on #3898
@robaerd an error appeared on master with the openwrt builds: https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/master/581/pipeline/2617
Can you take a look if this is temporary or we need to fix something?

[2021-10-02 21:03] robaerd commented on #3898
I could reproduce the issue and it also seems to appear for other packages on the CI of [openwrt/packages](https://github.com/openwrt/packages) for x86_x64 builds as well, see https://github.com/openwrt/packages/runs/3773018124 or https://github.com/openwrt/packages/runs/3777823383?check_suite_focus=true.

@haraldg do you maybe know why this error is happening?

[2021-10-02 21:21] haraldg commented on #3898
I don't know anything in this case. But in my experience it's not uncommon for random packages of openwrt to break on minor updates and such. I guess, given that they are one of very few folks to systematically cross compile a huge collection of software, they just catch an unproportional number of build system related regressions.

[2021-10-03 19:35] #3756 closed

[2021-10-04 07:07] mpranj commented on #4077
Release is done!

[2021-10-04 07:07] #4077 closed

[2021-10-04 11:59] markus2330 commented on #4004
As discussed, this is only a documentation issue: How to download the source from the build server so that it can be found during debugging.

[2021-10-04 12:45] markus2330 commented on #3989
elektraKeyNameValidate seems to be the problem: it does not return false on the keyname `ystemx:/hello`

[2021-10-04 16:12] markus2330 commented on #676
I added [0.9.8](https://www.libelektra.org/news/0.9.8-release) to:

- [X] https://news.ycombinator.com/item?id=28748716

[2021-10-06 08:57] qwepoizt commented on #4004
I think there are two ways two debug with sources:

1. Clone Git repo and make install -> Source code will match binaries
2. Download source of installed version from build server/git -> Source code will match binaries.

I could write up a quick "Debugging" tutorial!

Would it fit in the main menu of www.libelektra.org under "Documentation" or "Development"?

![image](https://user-images.githubuse

[2021-10-06 09:08] qwepoizt commented on #4074
Thanks for your comment!

I think a warning - that includes the absolute file path that was tried - would suffice and be of great help already: It would help users that wanted to mount an existing file with troubleshooting the issue.

[2021-10-06 11:30] markus2330 commented on #4004
Exactly.

That would be amazing :sparkling_heart:

If you add a markdownfile to doc/tutorials and add an entry in doc/tutorials/README.md it will be automatically added to the website.

[2021-10-06 11:31] markus2330 commented on #4073
Thank you! Then let us close the issue.

[2021-10-06 11:31] #4073 closed

[2021-10-06 14:03] markus2330 commented on #676
We again got an article on https://linuxnews.de/2021/10/elektra-0-9-8-erschienen/

:rocket:

[2021-10-07 06:57] markus2330 opened #4082 "debian bullseye: python packages missing from buildserver"
@dev2718 said that it could be a wrong hard-coded swig3.0 reference. This was needed for older Debian versions but with new Debian versions it leads to not building the python binding (as swig3.0 is not available).

[code]

[2021-10-07 11:44] buhtz opened #4083 "Debian versions"
This is about this page
https://repology.org/project/elektra/versions
and this
https://www.libelektra.org/installation/installation

The "Debian" entries are a bit outdated or confused?

Current "stable" Debian is "Debian 11" or "Debian bullseye".
Current "oldstable" is "Debian 10" or "Debian buster".

If you really still support "Debian 8" - great! ;)

[2021-10-07 14:06] konstantin-palikarsky opened #4084 "[FLOSS H0] Competition"
Hello, I was wondering what sort of competition Elektra has for its use case in the form of proprietary and more importantly Free Open Source Software. Does standing out in a specific way govern the contributors' decisions or do the project goals set the initiative apart enough for that to be of little concern.

[2021-10-07 14:57] sedadas opened #4085 "[FLOSS H0] Integration with distributed key-value stores"
Hello!
I was wondering if integrating Elektra with some kind of distributed key-value stores (like etcd and Hashicorp Consul) has been considered?

A scenario in which this would be useful is the following:

- a sysadmin has to manage hundreds of machines in a HPC cluster
- the software on the machines in the cluster does not support using etcd or Hashicorp Consul for obtaining its configuration,

[2021-10-07 20:02] 4ydan opened #4086 "[FLOSS H0] response time"
Hello,
I was wondering about Elektras response time and if its suited for realtime applications.
Thanks in advance,
Aydan

[2021-10-08 09:42] marvin-the-parrot opened #4087 "[FLOSS H0] web-ui and qt-gui feature parity"
- Does the web-ui currently have feature parity with the qt-gui?
- Is this something this iniatative is looking to achieve?
- Why was the decision taken to maintain two different types of gui?
- Would working on any two of the gui be an option for the FLOSS course?

[2021-10-08 10:46] markus2330 commented on #4087
No, the web-ui and the qt-gui has a different set of features. The web-ui has better usability (e.g. only allows to type in values which are allowed) but is also lacking some features qt-gui has, e.g. mounting and showing information about plugins.

Yes, it would be great if any of Elektra's tools has the full feature set although in general we prefer that the tools get more stable and easier to u

[2021-10-08 14:29] markus2330 commented on #4082
As the PR is now it will fail in `./configure`.

Elektra will have to be added to Debian's official repository (again).

There is a link to doc/INSTALL.md in doc/GETSTARTED.md, can you maybe create an issue or PR with the text you would have expected?

[2021-10-08 14:38] #4083 closed, assigned to nobody

[2021-10-09 01:52] #3256 closed

[2021-10-09 01:52] #3473 closed

[2021-10-10 09:19] markus2330 commented on #3029
first we need to clarify: #2202 and #3972

[2021-10-11 05:08] markus2330 opened #4089 "clarify src/include/kdbhelper.h"
kdbhelper.h is currently a mixture of public and private APIs. It also contains private lookup options. We should clarify the content of this file and probably state that it is internal.

in this file is old information. We decided that plugin creators can decide on their own which memory allocation functions they want to use.

[2021-10-11 23:56] lawli3t opened #4090 "[FLOSS H0] Achieving widespread adoption"
Projects like Elektra often have some kind of chicken-egg problem where adoption stagnates because nobody wants to make the first move, and nobody wants to make the first move because adoption is stagnant. Do you have any specific plans on how to alleviate this issue? Supporting many different configuration formats and integrating via plug-ins seems like a very good start, but many people usually

[2021-10-12 19:27] tucek opened #4091 "Provide skeleton gradle project for user kickstart [JNA binding]"
Provide a simple skeleton gradle project with lib elektra dependency on the current version in maven central.
Update Java binding README.md to explain how to kickstart a project using the example skeleton.

[2021-10-13 03:30] markus2330 opened #4092 "compilation errors: unused variables"
[code]

see https://github.com/ElektraInitiative/libelektra/pull/4065/checks?check_run_id=3874684342

Solution: remove counter on line 237 and 299

[2021-10-13 03:31] #3988 closed

[2021-10-13 03:34] markus2330 opened #4093 "extend src/bindings/jna/hello/src/main/java/HelloElektra.java"
src/bindings/jna/hello/src/main/java/HelloElektra.java should include examples from all parts of the API

[2021-10-13 04:57] markus2330 commented on #4060
Triage needed: are there further places where int is used?

[2021-10-13 05:01] markus2330 opened #4094 "reuse lint"
[`reuse lint`](https://reuse.software/) complains:

* Bad licenses: BSD-0-clause, BSD-2-clause-discount, BSD-3-clause, BSD-3-clause-cmake, BSD-3-clause-cmake-new, BSD-3-clause-markdownconverter, public-domain
* Missing licenses: BSD-0-clause, BSD-2-Clause-FreeBSD, BSD-2-clause-discount, BSD-3-clause, BSD-3-clause-cmake, BSD-3-clause-cmake-new, BSD-3-clause-markdownconverter, public-domain

some li

[2021-10-13 05:04] markus2330 commented on #1304
triage needed: which of these tests still fail and why?

[2021-10-13 05:20] markus2330 commented on #3554
triage needed: are there other void functions not throwing on errors?

[2021-10-13 05:26] markus2330 commented on #3902
@kodebach is anything open here?

[2021-10-13 05:28] markus2330 commented on #3903
@kodebach can you clarify which tests you mean?

[2021-10-13 08:36] #4084 closed, assigned to nobody

[2021-10-13 08:44] #4087 closed, assigned to nobody

[2021-10-13 10:41] muskater opened #4095 "[FLOSS H0] Questions about cross-platform compatibility"
Hello!

I have two question about the cross-platform compatibility of Elektra.
On the installation-instruction [page](https://www.libelektra.org/installation/installation) under the section _"Windows"_  I have found the following sentence:

I was wondering which functionality is missing from the Windows build compared to the Linux builds.

Also I would like to know how important cross-platform com

[2021-10-13 11:31] JakobWonisch opened #4096 "[FLOSS H0] Target-Demographic Admin or Single User"
What is the intended usage scenario of Elektra? Does a program supporting it have any impact on a casual, day to day user of the system or does it only impact the person in charge of managing the machine?

[2021-10-13 14:10] #4095 closed

[2021-10-13 14:24] belthazors opened #4097 "[FLOSS H0] CI Infrastructure"
Which tools have been used for the continuous integration part of the project? What do the builds look like and how often do they run?

[2021-10-13 14:36] markus2330 commented on #4096
Thank you for asking the question and participating in the FLOSS course!

The main use cases are:

1. for developers to have a library where they can easily get+set configs
2. for system administrators to have better+easier configuration management: https://www.libelektra.org/docgettingstarted/vision
3. for users to have better tools to edit configs, e.g. via Web-UI as shown at the bottom of https

[2021-10-13 14:40] markus2330 commented on #4097
Thank you for asking the question and participating in the FLOSS course!

The main tools are: Jenkins and Docker. See also https://master.libelektra.org/doc/BUILDSERVER.md

See https://build.libelektra.org/blue/organizations/jenkins/libelektra/activity

On every new commit in every branch or PR.

[2021-10-13 14:43] markus2330 opened #4098 "integrate pages into website"
We have a few documents which are not yet integrated in the website, e.g.:

- [x] doc/CODING.md
- [ ] doc/README.md could be added to Documentation -> Index
- [x] doc/GIT.md
- [x] doc/BUILDSERVER.md
- [x] tests/shell/shell_recorder/tutorial_wrapper/README.md
- [x] doc/todo/RELEASE.md

These files should be added in the structure src/tools/website/resources/structure.json.in

For triage the pages w

[2021-10-13 18:53] flo91 opened #4099 "Broken links to Linux packages on website"
## Steps to Reproduce the Problem

On the website of the initiative (https://www.libelektra.org) in the middle of the page there is a point named **Availability** with links to various Elektra-packages for Linux distributions.

The links to the packages for the following distributions lead to error-pages with the following contents:

- [ ] [Fedora](https://admin.fedoraproject.org/pkgdb/package/ele

[2021-10-14 02:48] markus2330 commented on #4099
Excellent investigations and thank you for joining the FLOSS course!

These links are in src/tools/website/public/assets/translations/en.json which is not part of our dead-link checker. So I think it is best to remove all these links from there and put links only to installation instructions, which is currently also a wrong link (it should go to https://www.libelektra.org/installation/installation

[2021-10-14 10:46] markus2330 opened #4100 "cmake variables that should be marked as advanced"
Following variables can be marked as advanced:

- [ ] DISCOUNT_DIR
- [ ] DREDD_EXECUTABLE
- [ ] GO_EXECUTABLE
- [ ] Qt5QmlModels_DIR
- [ ] TARGET_LUA_CMOD_FOLDER
- [ ] TARGET_LUA_LMOD_FOLDER

to be added in scripts/cmake/ElektraCache.cmake (in the first part "might be relevant to users")
It would be even better to have two (or even more) separate mark_as_advanced, for the different groups (as rati

[2021-10-14 14:46] flackojr commented on #4100
i'd love to try this out if i may

[2021-10-14 17:09] lawli3t opened #4102 "API for accessing parts of the Key name"
Currently it is very hard to access specific parts of the name. While it shouldn't be too common a task, the following snippet from the GSettings bindings might be evidence that some kind of helpers for accessing specific parts of the name might be needed:

[code]

I have thought about several ways to implement this properly but every option I see has some serious drawbacks, that disqualify them f

[2021-10-14 17:30] konstantin-palikarsky opened #4103 "FLOSS2021W project request"
Hello, I would like to request more topics that would be viable as a project topic for the lecture FLOSS2021W. Our team is especially interested in projects which would allow us to leverage the Java Stream API, Java 14 records, etc. Topics in Python would also be an appreciated alternative.

[2021-10-15 03:48] markus2330 commented on #4092
There are several such errors: https://github.com/ElektraInitiative/libelektra/pull/4101/checks?check_run_id=3901919237

`src/plugins/mmapstorage/mmapstorage.c:196:10: error: variable 'pos' set but not used [-Werror,-Wunused-but-set-variable]`

[2021-10-15 12:24] mpranj opened #4104 "cache: disabled due to `procgetstorage` check"
The cache has been effectively disabled in 6525b71fe535f54d136f9b63fab101d619bd4b68 with this check:
https://github.com/ElektraInitiative/libelektra/blob/9a14f67a9f3edb393daf41346f3d4f3b781b6b60/src/libs/elektra/kdb.c#L1279-L1288

As `procgetstorage` is always filled by the list plugin in the **default** configuration, the cache is loaded but ignored currently.

[2021-10-15 14:44] kodebach commented on #4104
A few things upfront:
- I will consider "`procgestorage` plugins" and `gopts` to be the same, since `gopts` is currently the only thing that uses this position.
- In the #3693 the plan is that there are no more generic positions for global plugins. We just call `gopts`, `spec`, `internalnotification`, `cache`, etc. exactly how and when needed.
- At least in #3693 it would be possible to mount a ba

[2021-10-15 17:16] #3496 closed

[2021-10-17 12:05] #4092 closed

[2021-10-17 12:05] #4100 closed

[2021-10-18 09:59] kodebach opened #4107 "Look into Github Checks API for Jenkins"
Currently, our Jenkins Server doesn't integrate with the Github Checks API. I saw that there is a [Jenkins plugin](https://plugins.jenkins.io/github-checks/) for this integration. We should look into using it.

I don't know, if it would actually show any logs directly on Github, like the other CIs. However, it seems that at least a "Re-run" button would be shown, which would be better UX than the

[2021-10-19 18:19] sedadas commented on #4098
I was successful with reproducing the issue to some extent by running the following commands and comparing the outputs:

[code]
Interestingly enough, `doc/BUILDSERVER.md` and `doc/CODING.md` seem to be present in the structure file, but not visible on the website.

The commands from above can be used for developing a bash script that checks this automatically.

[2021-10-19 18:41] qwepoizt opened #4110 "Hashing API may produce collisions"
@markus2330 wrote:
src/libs/ease/hash.c produces collisions in scenarios like key = "keyvalue", value = "" vs. key = "key" and value = "value".

Expected behavior: With different KeySet the sha256 should be different, especially the ones which are only slightly different.

@qwepoizt wrote:
This was noticed by @markus2330 in https://github.com/ElektraInitiative/libelektra/pull/4047#discussion_r7185

[2021-10-19 19:07] qwepoizt commented on #4004
@markus2330 I have done this in #4111. I think it would fit great between "Compiling" and "Installation" and have thusly put references into in `doc/` resp. `doc/README.md`.

![image](https://user-images.githubusercontent.com/61849663/137974822-2f939081-41c2-4bb0-9265-67c22a0a1d1b.png)

[2021-10-19 19:09] qwepoizt commented on #4004
@markus2330 I have decided not to include the second option `Download source of installed version from build server/git -> Source code will match binaries.` in the tutorial because that also requires putting the sources into `/home/jenkins` and debugging won't work great for installed versions which have no debug symbols and are compiler-optimized. This option seems too much of a hack.

[2021-10-20 06:56] 4ydan commented on #4082
### FLOSS H1

I m not sure If I did the right triage as I did not fully understand the problem. So I tried building elektra on debian and buster and checked if the python binding was included.

## Debian buster
### 1. start docker container

### 2.
[code]
### 3.
[code]
### 4.
[code]
### 5.
[code]

Log after cmake ..
[code]

### 6.
[code]

Log after cmake ..
[code]

### 7.
[code]

Log after cmake .

[2021-10-20 07:00] Codeberg-AsGithubAlternative-buhtz commented on #4082
Swig is present in "all" Debian version.
https://tracker.debian.org/pkg/swig

Not sure what the problem is here.

[2021-10-20 09:31] flo91 commented on #3674
Jakob and I selected this issue for our FLOSS project, so here’s our proposal according to the assignment description. The rest of the assignment (research of similar initiatives, comparison with other issue trackers) can be found in our submitted document in TUWEL.

The project is about implementing a new validation tool for subsets of the key database. It should be integrated in the kdb-command

[2021-10-20 11:09] muskater commented on #1498
I could not quite reproduce the failed tests.
I have tried to apply the patch, but I had to change `add_s_test` to `add_msr_test` since  `add_s_test` seems to not exist any more.

My patch looks like this now:

[code]
when running `cmake --build . --target run_nokdbtests` I could not see any failed test.

Is this the right approach? Any suggestions are very welcome!

[2021-10-20 11:26] JakobWonisch commented on #3989
[FLOSS H1]

The issue is in `elektraReadNamespace` in [`/src/libs/elektra/internal.c`](https://github.com/ElektraInitiative/libelektra/blob/master/src/libs/elektra/internal.c) which actually checks if the namespace is valid:

[code]

This function gets passed the length of the name in `namespaceStr` before the first ":" character. As `strncmp` only checks at most `len` characters the input dictate

[2021-10-20 11:27] konstantin-palikarsky opened #4112 "[FLOSS H1] First Steps with Elektra"
The Elektra codebase is the only one I've ever seen of this magnitude, initially I was completely overwhelmed by the concept of so many interacting programming languages, not to mention a use case that was completely unknown to me.

However the excellent tutorials provided helped me understand not only what Elektra is but also how to use, build and understand the parts of the source that I needed

[2021-10-20 12:05] JakobWonisch commented on #3981
[FLOSS H1]

The mentioned tests are not in `testabi_meta.c` at the moment, which allows all tests there to pass. If inserted we can see, that the problem still exists.

In `keyCopyMeta` when trying to copy a nonexistent key `ksLookup` is called to find that key in the destination with `NULL` as parameter for the target key. This leads to an instant return in `ksLookup`, meaning the key is never fo

[2021-10-20 12:22] JakobWonisch commented on #3393
[FLOSS H1]

The file to be edited is [`mount.cpp`](https://github.com/ElektraInitiative/libelektra/blob/master/src/tools/kdb/mount.cpp), line 63 at the moment.
At line 90 of that same file the wording of `Please provide a unique name.` might also need to be changed.

[2021-10-20 12:40] JakobWonisch opened #4113 "[FLOSS H1] Elektra First Steps"
# Installation

I built elektra from source after forking and cloning the repository following the [compile](https://www.libelektra.org/compiling/compile) and [install](https://www.libelektra.org/installation/installation) guide. When adhering to these guides the compilation and setup process functions without problem.

To setup a development environment for the project I followed another guide [h

[2021-10-20 14:08] sedadas opened #4114 "[FLOSS H1] First steps with Elektra"
### Installing Elektra

I compiled and installed Elektra by following [the getting started guide](https://www.libelektra.org/getstarted/guide). The guide is really straight-to-the-point and good for beginners and for the most FLOSS operating systems. I am more comfortable with using the terminal for compiling than any IDE/Editor integrations so I just skimmed through the IDE setup guides without t

[2021-10-20 15:12] sedadas commented on #4039
[FLOSS H1]

I looked into the issue and if I am not mistaken a possible implementation would be the following:

1. include `kdbhelper.h` in `src/libs/elektra/keyset.c`
2. change signature of `ksSearch` in `src/libs/elektra/keyset.c#737` to include `elektraLookupOptions options`
3. add an if that checks if we want to search with `KDB_O_OPMPHM`
4. build the OPMPHM for the keyset just in case
5. hand

[2021-10-20 16:26] Nirnberger opened #4115 "[FLOSS H0] Wbsite host and configuration"
I cloned the project and skimmed the documentation for information about the website and its configuration. I did not find an entry for it.

Did i miss it? If not shall i also create one?

Thank you in advance

[2021-10-20 16:51] 4ydan opened #4116 "[FLOSS H1] First steps with Elektra"
# First impression

I build elektra from source following the docker container guide (https://www.libelektra.org/tutorials/run-all-tests-with-docker). I really enjoyed the tutorial section which adresses many problems someone could have. I could maybe wish for a workshop to discover what elektra has to offer in a playful way. Similar to (https://github.com/openfaas/workshop).

I did not really enj

[2021-10-20 17:08] marvin-the-parrot opened #4117 "[FLOSS H1] Link in Web-UI documentation leads to 404"
## Steps to Reproduce the Problem

Go to [Web-UI](https://github.com/ElektraInitiative/libelektra/tree/master/src/tools/webui) page in GitHub and click on the link named [yajl plugin](https://github.com/ElektraInitiative/snippets/src/plugins/yajl/).
## Expected Result

The link should take me to the [yajl plugin page](https://github.com/ElektraInitiative/libelektra/tree/master/src/plugins/yajl) in

[2021-10-20 17:10] marvin-the-parrot opened #4118 "[FLOSS H1] Elektra First steps"
### Building/Installing Elektra
I started out following the steps outlined in [Getting started] (https://github.com/ElektraInitiative/libelektra/blob/master/doc/GETSTARTED.md) The documentation there provides an easy to follow step-by-step guide towards installing and building your first elektra application.

Afterwards i built a small testbuild using the [Hello, Elektra](https://github.com/Elektr

[2021-10-20 17:27] muskater opened #4119 "[FLOSS H1] First experience with libelektra"
# My first experiences with Elektra
## Download and installation
The download from GitHub was a breeze. Following the installation instructions was also pretty easy. I appreciated that all necessary building dependencies were documented.

The only small roadblock that I encountered was when I tried to actually build Elektra. I followed step by step the instructions from the [getting started guide]

[2021-10-20 19:28] lawli3t opened #4120 "[FLOSS H1] Elektra First Steps"
I started by cloning the repository, and building the whole project from scratch. After installing some additional dependencies, as per the https://github.com/ElektraInitiative/libelektra/blob/master/doc/GETSTARTED.md guide. After getting everything set up, I first built Elektra and the tests afterwards. The tests ran through successfully, indicating that my build seems to be working properly.

Af

[2021-10-20 20:19] muskater commented on #3369
When trying to reproduce the bug I had to slightly change the steps and got a similar result.
The steps I used:

[code]
The difference is that I had to write `user:/` instead of `user/`

Also I get the return value `1`, not `2`.

[2021-10-20 20:23] Nirnberger commented on #4115
I did actually overlook electra-web in the guides and i am currently testing it.

[2021-10-20 20:52] muskater commented on #4051
# Proposal
Authors:  @4ydan & @muskater
## Introduction

In this document we would like to give a concise overview and plan for the FLOSS project that we want to do for this course (_194.114_)

## Project Type

We have chosen to contribute to the *Elektra Initiative*. Since we do not have a personal use case, where Elektra would not provide enough functionality, we would like to improve upon a kno

[2021-10-20 21:36] Nirnberger opened #4121 "[FLOSS H1] Elektra first steps"
I cloned the repository and built it following this helpful [guide](https://github.com/ElektraInitiative/libelektra/blob/master/doc/GETSTARTED.md). After a few missing dependency errors, I managed to get Electra running. I wasted too much time on figuring out why the test didn't work at all. It turned out that I missed one single sudo. :sob:
Afterwards I followed the [hello world tutorial](https:/

[2021-10-20 21:52] flo91 opened #4122 "[FLOSS H1] Elektra first steps"
My first experiences with Elektra were quite good.
I forked the master branch in my GitHub repository and cloned the repository to my local PC with [Gentoo Linux](https://www.gentoo.org).
Then I tried a bit of building, testing and debugging like shown in the documentation and in the video [L01-4 Demo](https://tuwel.tuwien.ac.at/mod/lti/view.php?id=1366980) in the TUWEL course.
I also tried to fol

[2021-10-20 22:09] lawli3t commented on #4011
I could reproduce this on my system after countless runs of the test suite, not sure where it originates from though - I'll have to investigate further

[2021-10-21 05:24] markus2330 commented on #1615
@muskater it is easier to do such verification in a clean clone.

I also tried the command, and `./.idea/fileTemplates/includes/C File Header.h` seems to be an actual violation. Can you check if this name is required by idea? If yes, it is probably best to simply allow this file and add an exception to the check. (Ideally in a separated whitelist file tests/filenames.whitelist, like tests/linkchec

[2021-10-21 05:43] markus2330 commented on #4116
Thank you, very good suggestion. This could be a task for T3.

Which 2 test suites do you mean?

Very good hint! Maybe you were searching for `-R` of `ctest`? Whatever you were searching for, this could be made more clear in doc/TESTING.md.

[2021-10-21 05:46] markus2330 commented on #4118
Thank you for the small report!

The markdown link is broken (no space between ] and ( allowed).

[2021-10-21 05:58] markus2330 commented on #4001
The whitelist plugin is Java ./src/bindings/jna/plugins/whitelist and only this code needs to be touched. Otherwise your analysis looks good to me!

[2021-10-21 06:11] markus2330 commented on #4120
Thank you for the report! :sparkle:

[2021-10-21 06:11] #4120 closed

[2021-10-24 01:12] #3509 closed

[2021-10-29 13:20] #4112 closed, assigned to nobody

[2021-11-02 12:56] markus2330 commented on #160
There are some docker pull errors now.

Maybe due to ssh changes by @robaerd?

e.g. https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4128/1/pipeline

[2021-11-02 13:39] kodebach opened #4129 "KeySet ref counter in bindings"
The new reference counting for KeySets that was implemented in #3949 still needs to be implemented in the bindings:

- [ ] C++
- [ ] Python (should be automatic via Swig from C++)
- [ ] Ruby (should be automatic via Swig from C++)
- [ ] Lua (should be automatic via Swig from C++)
- [ ] Rust
- [ ] Java (#4348)
- [ ] GLib

[2021-11-03 07:31] markus2330 commented on #4121
Did you have some progress? Note that the webui is known to be broken at the moment, see #2913

This should be fixed.

[2021-11-03 07:35] #4097 closed

[2021-11-03 07:37] markus2330 commented on #4011
Better to leave the issue to someone who has a setup where the issue occurs.

[2021-11-03 07:56] markus2330 commented on #4098
Very good triage! I am also interested what the problem with doc/BUILDSERVER.md and doc/CODING.md could be.

[2021-11-03 17:51] markus2330 opened #4147 "rust segfault during compilation"
Currently happening on all (?) build jobs:

https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4132/3/pipeline

[code]

[2021-11-03 18:21] Nirnberger commented on #4115
I managed to get the website running, after fixing additional dependency errors and small mistakes. Thank you for your clarification.

I would have personally added it to the end of the [gettingstarted](https://github.com/ElektraInitiative/libelektra/blob/master/doc/GETSTARTED.md) guide. There should probably be a new subheading like **Further reading** with [hello world guide](https://github.com/

[2021-11-04 05:53] markus2330 commented on #4147
@lawli3t do you have an idea what this could be?

[2021-11-04 05:54] markus2330 commented on #4147
The problem seems now to be fixed on master. I created #4160 to debug what exactly is the problem.

[2021-11-04 10:35] #3497 closed

[2021-11-04 10:35] #3090 closed

[2021-11-04 11:04] markus2330 commented on #4051
Thank you for this excellent proposal!

Here is a small misunderstanding: the main goal is to make the specification language more useful. Because it already specifies which command-line options are available for an application (like kdb), we want to use this information to also offer auto-completion. So it is about usability but about the usability for applications using Elektra.

For kdb current

[2021-11-04 11:48] markus2330 commented on #3674
Thank you for writing the proposal!

Please also note that #4059 is tightly related to `kdb validate`. So you also need to check for warnings and let `kdb validate` fail on any validation warnings. It is important that you have real-world verified markdown-tutorial tests (will be explained in L05), that demonstrates that invalid configs actually let `kdb validate` fail.

`-f` is also useful for `k

[2021-11-04 17:27] markus2330 commented on #4122
Thank you very much for this excellent experience report! I am looking forward to see an update in the CLion tutorial. Ideally you could somehow tell the IDE that it calls scripts/dev/run_env, which also fixes other important env vars next to LD_LIBRARY_PATH.

[2021-11-06 04:30] #3520 closed

[2021-11-06 17:56] #3523 closed

[2021-11-06 20:23] markus2330 commented on #4129
Thank you for reporting!

[2021-11-07 10:53] 4ydan commented on #4051
As beginners in shell completion writing we are not fully sure what is meant by the specification language and where we can find a current one.

[2021-11-07 15:52] #2640 closed

[2021-11-07 20:29] markus2330 commented on #4051
Only the Python program needs to read+understand the specification language, in the shell completion file you "simply" need to execute the Python program with the correct arguments (the current arguments to complete and the application name this completion file is for).

[2021-11-08 16:34] markus2330 commented on #4102
Do you mean escaped or unescaped parts?

From previous benchmarks we learned that mostly the key creation is a performance problem.
In general, memory overhead is currently a much bigger problem than performance.

Actually we would like to store **only** the unescaped name, see #3521.

I think best would be to only store unescaped name and implement #3902. Then iteration should be easy enough that

[2021-11-08 16:46] markus2330 commented on #4094
these "bad" licenses (or at least some of them) are actually already in full text in .reuse/dep5, so you simply would need to extract the text from there and put it to our LICENSES directory.

[2021-11-08 17:13] markus2330 commented on #4060
There are a few other spots with wrong types:

[code]

[2021-11-08 17:17] markus2330 commented on #4107
Btw. if you are logged in in Jenkins you get a rerun button within Jenkins. If you want an account, please drop me an e-mail (markus@libelektra.org)

[2021-11-08 17:21] kodebach commented on #4102
I'd say it doesn't matter much. Accessing escaped parts is almost impossible (unless you take an unescaped part and re-escape it), while unescaped part not hard to acess but, the method is not very intuitive. So clearly there is room for improvement in both cases.

I think people may have avoided code that needs to access individual key name parts, because it is so difficult. Therefore, previous b

[2021-11-08 17:25] mpranj commented on #4107
I think @kodebach should have an account just in case, but I also think the Github Checks API would be beneficial for other contributors. This should be easier to manage from Github, instead of manually creating accounts for everyone.

[2021-11-08 17:26] markus2330 commented on #3910
It is not absolutely needed but I would tie as little as possible to #3693. TOML is much more popular than dump, so if we can avoid presenting dump to newcomers would be a big gain.

dump will probably never be something standardized as the `#1` goal of dump is to resemble the KeySet as closely as possible. Once dump is not the default format anymore, it will be just yet-another-unimportant plugin

[2021-11-08 17:36] #4147 closed

[2021-11-08 17:41] markus2330 commented on #4102
I was asking to keep this issue focused. I agree in both cases there is room for improvement.

 I don't have objections against adding it to libelektra-ease. It is only that it does not bring us closer to 1.0.

Yes,  it is good if functions added to libelektra-ease are used from the beginning

If we get rid of the escaped key name in Key, a function like this will be required anyway.

[2021-11-08 19:58] kodebach commented on #3910
Totally agree, but the metadata issue in `toml` makes it quite hard to use as a general plugin. It simply doesn't work for `spec:/`. Since we currently can't easily separate the default for `spec:/` from the other namespaces, I don't think there is anything we can do right now.

If you think it is really that important, we could simply adapt the `kdb mount` tool. Currently it simply uses the defau

[2021-11-08 20:11] kodebach commented on #4107
Agreed, a Jenkins account might help me (although I've not needed it so far). But unless we can restrict the access to "read-only + re-run" and integrate some sort of GitHub OAuth, I don't think this solution can be compared to the benefits of the Checks plugin.

[2021-11-09 06:18] markus2330 commented on #3910
Yes, I agree: having TOML for mounting non-spec and ni for spec by default would already be one big step. If we also recommend that people do a / and spec mountpoint when they setup Elektra (let us create a `kdb setup` which does basic mountpoints including `kdb mount-info`), we basically have what you described:

1. dump for /elektra with the name given as in CMakeLists.txt (we probably should ha

[2021-11-15 18:16] markus2330 commented on #1470
@kodebach is this something that can be fixed more easily within #2969?

[2021-11-15 19:22] kodebach commented on #1470
I wouldn't say it is easier in any way, but it could certainly be combined.

[2021-11-17 16:07] sedadas commented on #4085
Thank you for the answer!

[2021-11-17 16:07] #4085 closed

[2021-11-17 20:14] 4ydan opened #4168 "Workflow: cache macOS dependencies"
I realized the macOS install dependencies step is not being cached. Am I wrong with that assumption?
If not, I would suggest to add "uses: actions/cache@v2" to save some time in this step.

[2021-11-18 17:50] muskater commented on #1615
CLion requires the template name to be `C File Header.h`. I have tried many different ways to rename and or re-add the file. However, all of them failed and CLion complaint not being able to find the template.

Having a template for header files is definitely a nice addition. I agree, the best solution would be to have a separate allow list for these kind of corner cases.

[2021-11-19 07:27] #3155 closed

[2021-11-19 19:01] #4035 closed

[2021-11-19 19:26] markus2330 commented on #4168
Can you please tell us which CI pipeline you mean? You are very welcome to create a PR, it probably makes immediately clear what you want to do :wink:

[2021-11-21 13:54] markus2330 opened #4170 "CI errors on git fetch"
E.g.: https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/master/612/pipeline

[code]

and finally:

[code]

[2021-11-21 21:56] JakobWonisch commented on #705
I'm not sure what I am supposed to do with this issue for FLOSS H3, can you maybe point me in the right direction @markus2330 ? Thanks!

[2021-11-22 12:39] markus2330 commented on #705
This issue does not involve changes in Elektra's repository. Instead it is about changing wikipedia articles: bringing the articles up-to-date, or preferably¹ changing it in a way that it cannot get outdated anytime soon: i.e. only having general information+link, removing information about specific plugins and irrelevant details.

After you did the updates, you make a summary here in which articl

[2021-11-22 12:43] markus2330 commented on #4170
Happened again in https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4132/18/pipeline

@robaerd Do you have an idea? Is this caused by our code or by a Jenkins plugin?

[2021-11-22 13:37] markus2330 commented on #705
Small correction: it is better if you create a PR (adding the links where Elektra is mentioned) instead of creating an issue. Then other can review this PR like other PRs.

[2021-11-22 13:53] markus2330 commented on #3466
@lawli3t do you want to take this issue? (Saying "No" is fine) It is basically only a description where the (Rust) libraries get installed and what people can expect from (Rust)-libelektra. The plugin interface we probably cannot specify before 2.0.0.

[2021-11-22 13:57] markus2330 commented on #3563
We can also drop the idea of meta-cascading and only add the namespace `metaspec:`. Meta-cascading is imho only useful with more then two sources, i.e. vendor-specific overwrites of specifications.

[2021-11-23 15:32] sedadas commented on #4098
@markus2330 I created a new PR #4179
I handled all of the files there, excluding:

* tests/shell/shell_recorder/tutorial_wrapper/README.md
* doc/paper/*.md
* doc/API.md

I was not sure where to add them :sweat_smile:

[2021-11-23 19:57] 4ydan commented on #4082
So I build elektra on a debian bullseye OS by following https://www.libelektra.org/installation/installation. How can I help to solve this Issue. What exactly is the problem with swig? Should I just remove the hardcoded appearances from the files above mentioned?
Thx in advance

[2021-11-24 01:28] #4103 closed

[2021-11-24 06:13] 4ydan opened #4183 "[CM T0] remove fullname from example_key.py"
Just stumbled accross this python error while trying out the python binding. Did I miss some installation steps?

## Steps to Reproduce the Problem

[code]
added "deb https://debs.libelektra.org/buster buster main" to sources.list

[code]

[code]

[code]

## Expected Result

key.fullname should return the fullname of the key

## Actual Result

AttributeError: 'Key' object has no attribute 'fullnam

[2021-11-24 07:22] markus2330 commented on #4183
You found a bug in the docu/example, fullname was actually removed in d9a8478478b0009971a070d2990af0b310abfd7e

So the proper fix is to remove all references of fullname, as this concept does not exist anymore (name would be always identical to fullname).

[2021-11-25 10:49] kodebach opened #4194 "Binary metadata vs flag"
We already had this discussion once (*), but I think we need to have it again before we finish the Rust implementation or release 1.0

## Current situation

Currently, a binary key is identified by the presence of the `meta:/binary` meta key. This is a very simply solution, but it has many problems IMO.

## Problems

### Side effects

Certain functions modify metadata as a side-effect. Apart from

[2021-11-25 13:36] flo91 commented on #2313
Ok, thanks for clarifying that!
If `stdio.h` is needed, e.g. for `snprintf`, should it just be included without checking if it's defined?

For example in `src/libs/elektra/keyset.c` there is the code:
[code]

Should the first and last line get removed, so that just the `#include` statement remains?
[code]

[2021-11-28 10:06] markus2330 commented on #4082
It is the best guess so far what the problem could be. Even if it does not fully solve the issue, these references are not correct anymore.

[2021-11-28 10:49] markus2330 commented on #4194
I agree the binary keys are a bit awkward as two different interfaces are mixed. Using KEY_FLAG_BINARY, however, does not solve the issue: if you have an interface to unset flags, you create the same problem.

Solutions would be:

1, disable the possibility to remove `meta:/binary`
2. remove from the API the automatic setting of `meta:/binary`,  KEY_BINARY etc.; and write in the docu that API user

[2021-11-28 15:30] kodebach commented on #4194
Yes, the core issue is that you can remove the "binary marker" (whatever that is). Switching to a flag is how I would solve this problem, because:

1. Disallowing manual modification of `meta:/binary` creates a weird inconsistency in the API. You can add/remove any other metakey, so a user might wonder why that is not the case for `meta:/binary`. The easiest way to prevent this confusion is to use

[2021-11-28 19:02] markus2330 commented on #2313
Yes.

Exactly!

[2021-11-28 19:22] markus2330 commented on #4194
I don't like the flag because it bakes a rarely-used feature even more strongly into Elektra. This is also why I did not respond to the memory concerns: the feature does not need any memory if not used.

I like it, maybe better we use char, as strings are the common way to be used as value:

[code]

Then we can have a feature where `valueSize == 0` automatically determines the length by strlen(new

[2021-11-28 21:18] kodebach commented on #4194
I'd argue that
1. Having a separate `keySetBinary` function already makes binary keys explicitly part of the API.
2. Using a flag actually removes some of the strong ties between this API-side idea of "binary keys" and the actual implementation. (see "Side effects" and "Exposing implementation details" above)

However, in principle I agree that rarely used features should not affect the API (if po

[2021-11-29 06:29] #3217 closed

[2021-11-29 06:29] #3030 closed

[2021-11-29 09:39] markus2330 commented on #4194
I agree that the API in its current form would work better with a KEY_FLAG_BINARY. This is also because the API was designed with a KEY_FLAG_BINARY, metadata was introduced later.

Because it would need a special handling for binary keys at many places, in particular in storage plugins. Currently xmltool, dump and so on "simply work" as they write out value&metadata, so binary keys are supported w

[2021-11-29 15:03] kodebach commented on #4194
That is a pretty weak argument IMHO, considering that storage plugins are already very complex. Adding this little bit of extra code to the _very few_ plugins that don't already need to handle binary keys separately wouldn't make much of a difference.

Do you have more than one example for these "many places"?

I can't think of another use case, where binary vs. string makes a difference, but you

[2021-11-29 18:03] markus2330 commented on #4194
It demonstrates very well how different mindsets on these issues can be and how they reflect on code. It looks like you already implemented dumpv2 as-if binary would not be metadata. dump.cpp now has 589 lines, a few years ago it had only 300 lines.

In my mindset, binary differs in

1. that it might contain null bytes
2. that the value might be NULL
3. the interpretation of values

With 3. being

[2021-11-30 08:36] markus2330 commented on #4194
UIs always need to do escaping of various escape characters, the null character is only one of many.

Imho removing keyIsBinary, keyIsString, keySetString and keySetBinary would be the simplest solution. People simply add the metadata themselves as needed. Then there won't be any expectation that removing the metadata converts the key to non-binary.

The main argument for keeping `meta:/binary` is

[2021-12-01 21:06] kodebach commented on #4194
As far as I can tell, your main problem is that to you conceptually a "flag" is an in-memory-only thing. The fact that a value is a string/binary is clearly not in-memory-only, so it cannot be a flag. However, consider it like this: whether a value is string or binary is _part of the value itself_, without this information the value is incomplete. Now it is obvious that this distinction must be pr

[2021-12-02 03:12] #2700 closed

[2021-12-02 10:28] muskater opened #4200 "Enable all shell recorder plugins"
This issue is related to my PR #4190 where I try to enable the shell recorder for all the plugins. This are my findings so far

I have looked into a lot of the failed test cases. Here are my findings so far:

- [x]  Some tests like for the `base64` plugin fail, if the logger is enabled as build option, because it changes the standard output. Therefore, this option should be disabled when running t

[2021-12-06 19:37] markus2330 commented on #4051
https://github.com/zsh-users/zsh-completions/blob/master/zsh-completions-howto.org might be helpful for you.

[2021-12-09 11:10] markus2330 commented on #4200
Great job, thank you for creating the issue!

[2021-12-09 13:53] #3369 closed

[2021-12-09 13:56] #3989 closed

[2021-12-09 14:52] #3839 closed

[2021-12-10 16:36] cicku opened #4202 "https://doc.libelektra.org/ should hide plain email addresses"
https://doc.libelektra.org/api/0.9.3/latex/doc_AUTHORS_md.tex directly lists all email address without obfuscation.

[2021-12-13 07:05] markus2330 commented on #4098
Development -> Testing of Tutorials

Documentation -> Citations

(doc/paper/paper.md not needed)

Not needed, as "API documentation" is already linked.

[2021-12-13 12:51] markus2330 commented on #4202
Thank you for contacting us! :sparkle:

Also affected is https://www.libelektra.org/developers/authors

In general authors can decide themselves

1. if they want to be listed in AUTHORS.md
2. if they want to have their email address  in AUTHORS.md
3. if it should be obfuscated

So if you want to be listed in AUTHORS.md but want your email address to be obfuscated, I think the easiest way is to sim

[2021-12-13 17:14] cicku commented on #4202
Yes

[2021-12-13 17:21] #4202 closed

[2021-12-13 21:27] #3572 closed

[2021-12-13 21:27] #3526 closed

[2021-12-14 09:43] #4094 closed

[2021-12-14 10:08] markus2330 commented on #4098
- doc/CODING.md seems to be still missing (was always at top post of #4098)
- doc/README.md could be added to Documentation -> Index (I added it in top-post)

[2021-12-14 16:40] muskater opened #4203 "[FLOSS T3] Remove entry barriers in the documentation"
We were brainstorming and discussing how we could further eliminate entry barriers in Elektra.
We stumbled across the documentation on how to install the Webui and the Qt GUI.

The install instructions for the webui are a bit have and has a broken link. We want to extend them a bit and fix the issue with the link. We also thought about adding some screen shots.
`https://www.libelektra.org/tools/we

[2021-12-16 09:42] #1615 closed

[2021-12-16 10:13] #3981 closed

[2021-12-16 10:46] #4110 closed

[2021-12-17 06:14] #3315 closed

[2021-12-17 06:14] #3312 closed

[2021-12-17 06:14] #3313 closed

[2021-12-17 06:14] #3314 closed

[2021-12-17 11:07] #3152 closed

[2021-12-19 15:09] markus2330 commented on #4194
Good idea, I totally agree that this the current situation is conceptually wrong. I added a draft for a proposal in #4201 (to be discussed on Monday).

Did you check which test breaks if we do not export them anymore? I think it is a very rare feature to actually call such functions.

Anyway, I don't think we should stop offering binary keys.

Unfortunately we didn't write a decision about this. D

[2021-12-19 16:05] kodebach commented on #4194
There are at least the `checkconf` and `checkfile` functions that are used by the mount tooling. Also we did have the idea of removing the `ELEKTRA_PLUGIN_EXPORT` exported symbol with just a `KeySet`. Then every plugin would rely on this functionality.

I think it was just a sidenote in one of the comments in #3693. IIRC we more or less agreed the issue is independent of the new backend system and

[2021-12-20 15:53] muskater opened #4212 "[FLOSS] JSON spelling"
While finishing up #4190, I noticed that the spell checker script does not allow `JSON` to be spelled as `json` and the build failed.
This means that commands like
[code]
get flagged as wrong spelling.
The easiest solution would be to allow `JSON` to be spelled as `json`.
@markus2330 also pointed out that it would be also possible to have the spell checker ignore the _case_  for commands like `kdb

[2021-12-21 12:43] rajatrj16 commented on #2984
Do we find any resolution to this.... I am having this issue from last 2-3 months intermittently.
Should setting `System.setProperty("org.jenkinsci.plugins.durabletask.BourneShellScript.HEARTBEAT_CHECK_INTERVAL", "86400");` in jenkins console will work?

[2021-12-21 20:03] sedadas opened #4214 "Add a security policy for Elektra"
The recent log4j vulnerability ([CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228)) showed how important it is for a vulnerability to be be handled as quickly and as clean as possible.
This prompted me to search if Elektra has an established security policy in place but I couldn't find any.

If Elektra does not have such a policy, there are a few "standard" ways to create it, which

[2021-12-22 16:38] #4060 closed

[2021-12-23 10:12] markus2330 commented on #4194
As discussed, see #4201

[2021-12-23 10:12] #4194 closed

[2021-12-23 10:14] markus2330 commented on #4212
Probably also the best solution.

I meant that `kdb mount/export` internally does a tolower so that `kdb export JSON` would work.

[2021-12-23 10:21] markus2330 commented on #2984
@rajatrj16 is your problem related to the CI infrastructure of Elektra?

[2021-12-24 17:35] rajatrj16 commented on #2984
Not, with electra.
I am running jenkins build which fails intermittently with this error.

On Thu, 23 Dec, 2021, 15:51 Markus Raab, ***@***.***> wrote:

[2021-12-31 14:04] kodebach commented on #3610
@markus2330 This should probably be implemented together with the removal of `keyGetMeta`/`keySetMeta`.

[2022-01-02 15:56] markus2330 opened #4216 "process: dump plugin excluded"
process plugin has wrong inclusion logic and a broken error message:

[code]

[2022-01-02 16:13] markus2330 opened #4217 "quickdump: warning on arm32"
[code]

[2022-01-02 20:12] markus2330 commented on #4007
So in summary, `clang libc++-dev libc++1 llvm-11` should be the full dep, this should be added to the docu.

[2022-01-03 13:01] kodebach commented on #4217
Not exactly sure how you compiled to get this error, but I think #4218 should fix the issue.

[2022-01-03 13:26] #3575 closed

[2022-01-03 19:23] markus2330 commented on #160
build.libelektra.org was down, problem should be fixed now :rocket:

[2022-01-04 08:23] #4217 closed

[2022-01-04 08:24] #4212 closed

[2022-01-04 12:55] markus2330 opened #4219 "create folder per lib"
Currently src/libs/elektra contains the source of several libraries. Each of the libraries should have its own folder.

Furthermore, we need to allow rust source to exist in parallel.

[2022-01-04 15:52] kodebach commented on #4219
It's not just one folder per lib, it is also a problem with the header files.

`kdb.h` contains the public API for both `libelektra-core` and `libelektra-kdb`. This is less of a problem, because it is public API. But it is confusing and makes it hard to see what library a function actually belongs to.

The big problem is `kdbprivate.h`. It has two main problems:

1. It contains stuff from many dif

[2022-01-06 10:03] markus2330 commented on #4219
I integrated these two decisions in #4201 (currently only draft, please make suggestions on how to extend the text)

[2022-01-06 10:03] #4219 closed

[2022-01-06 17:38] kodebach opened #4221 "remove elektraCopyCallbackMeta"
https://github.com/ElektraInitiative/libelektra/blob/0d9ba69aedca7ec8ad706255672867f1aa174e52/src/libs/elektra/keyset.c#L1881-L1905

The key name checks are wrong, they don't take the `meta:/` namespace into account. It also seems this functionality isn't tested anywhere, otherwise we should have noticed it by now.

[2022-01-06 17:45] kodebach opened #4222 "ksLookup options"
Related to #3979 and possibly as another part of #4201, we should think about which options of `ksLookup` are actually still relevant.

The available options are as follows:

- `KDB_O_DEL`: not necessary, but useful option, if the key isn't needed afterwards, but `ksLookupByName` wasn't an option
- `KDB_O_CREATE`: not necessary, but useful option, if the key is needed afterwards, but might not exi

[2022-01-08 21:24] kodebach commented on #3529
@markus2330 is a change like this still in discussion? For some versions automatic refactoring may be possible.

Also, with the new idea of a `libelektra-operations` library, the best variant for a minimal core API might be a basic:
[code]

It would of course mean that creating Keys and KeySets with just `libelektra-core` would need more code and couldn't be done inline. But it means that every al

[2022-01-09 13:31] lawli3t commented on #3529
It would be quite interesting, especially because VAList is a bit iffy in Rust, although I got it to work now I still have some issues with it (such as reading memory from stack which I shouldn't be reading). The simplest way, which I think also would work would be just removing the variadic arguments and only having name as a required parameter, all other properties of the Key should be manipulat

[2022-01-09 19:27] kodebach commented on #3529
Just passing the name (and separately the namespace) was my idea at first too, since every `Key` must have a name. However, this means one of three things needs to be the case:

1. We use the escaped name: Not ideal. Every time a key is created, we need to do unescaping, even if the unescaped name would be known at compile-time.
2. We use the unescaped as a list of parts: Also not ideal. First of

[2022-01-10 17:49] lawli3t commented on #3529
In this case the name is also `&[u8]` ? I always assumed the name to be a string. Or is this something you want to change as well?

Yes, in Rust I would go for something like that. I really dont like having to pass a length parameter, I assume this is due to the name param no longer being a string? Are there any upsides I am missing in changing name to be a binary value as well?

[2022-01-10 19:55] kodebach commented on #3529
This is a consequence of me wanting to avoid the escaped name as much as possible (since unescaping can be expensive). Since the unescaped name contains `\0` bytes `&[u8]` is probably more correct.

Exactly, with the escaped name we can just pass a zero-terminated `char *`. But for the unescaped name this doesn't work. We need to know the length and C this needs another parameter.

The advantage o

[2022-01-12 12:59] kodebach commented on #4102
I suggest adding `keyGetNextPart` to the newly proposed `libelektra-operations` (see https://github.com/ElektraInitiative/libelektra/pull/4223/commits/26e66b64cf3f44e7fa7c94b0e576ecef17d2bbb0).

[2022-01-18 12:22] #1498 closed

[2022-01-18 12:26] markus2330 commented on #4200
Even for the tasks ticked above there is still "TEST_README" missing in the CMakeLists.txt.

[2022-01-18 17:40] markus2330 commented on #4214
Thank you very much for reporting! I agree that at least doc/AUTHORS.md should contain some information who may be contacted in which situations.

[2022-01-20 01:21] #1778 closed

[2022-01-20 06:19] #2856 closed

[2022-01-24 14:33] #3674 closed

[2022-01-25 08:53] markus2330 opened #4230 "remove *_NAME from public symbols"
As discussed in https://github.com/ElektraInitiative/libelektra/pull/4224#discussion_r788018581

remove them from src/libs/elektra/symbols.map and all other occurrences introduced in #4224

[2022-01-27 14:56] markus2330 commented on #4221
Thank you for reporting!

I actually think we should remove this functionality.

[2022-01-27 15:01] #4102 closed

[2022-01-27 17:19] kodebach commented on #4221
Which functionality do you mean specifically?

[2022-01-27 18:02] kodebach commented on #4221
If you a referring to the `meta:/callback` mechanism, see #4222. It isn't really used right now (AFAICT), but it could be really useful for `spec:/` if used correctly and could significantly simplify the `ksLookup` within `libelektra-core`.

[2022-01-27 18:41] markus2330 commented on #4221
I mean removing the whole callback mechanism. Of course it **could** be interesting **if**

1. it has a clean interface
2. is properly documented
3. is properly tested

as 1-3 is not the case we should remove it and introduce it whenever 1-3 is fulfilled.

[2022-01-27 19:40] markus2330 commented on #3529
:+1:

Not if we terminate with two `\0`?

:+1:

[2022-01-27 19:48] markus2330 commented on #4222
No, you are right, we can remove that flag in the public API if we have a proper replacement for KDB_O_POP.

I agree.

As also ksCut and many others could have a ByName variant, we need to watch out that libelektra-operations doesn't get too fat.

[2022-01-27 20:21] kodebach commented on #4222
Which flags can be removed? All of them? I didn't even mention `KDB_O_POP` (it will be removed anyway).

You agree, it should be core API or you agree it should be removed?

1. I thought the purpose of `libelektra-operations` is to be "somewhat fat" to make using Elektra easier.
2. We could always split `libelektra-operations` into smaller more focused libraries (I don't like the name anyway). But

[2022-01-27 20:33] kodebach commented on #3529
Empty key name parts are allowed and appear as `\0\0` in the key name. In general a sequence of N `\0` bytes will result in N-1 empty parts.

To restate the definition: A key name is an _arbitrary sequence of bytes_ that fulfils exactly three conditions:
1. The first byte is a valid namespace byte.
2. The sequence is either 1 byte long, or the second byte is a `\0`.
3. The last byte is a `\0`. (Th

[2022-01-28 13:31] kodebach commented on #4230
I don't see why these symbols exist at all. AFAICT they are just used to set the `description` meta keys of errors/warnings. They are only used within `errors.c` and the new code from #4224.

Add made a quick PR: #4232

[2022-01-29 18:29] #3338 closed

[2022-02-10 12:41] #4230 closed

[2022-02-15 08:16] markus2330 commented on #3891
Implementation seemingly started in #4239

[2022-02-15 14:45] markus2330 commented on #3529
Sorry, yes, two \0 is not enough but it needs to be a special magic sequence not allowed otherwise, i.e. `@elektra@end`or similar. The same problem exists for keySetName. Let us discuss this today.

[2022-02-15 16:32] kodebach commented on #3529
Discussion result: The end marker is bad for developer experience (annoying to type), creates bloat in the binary (you need it in every `keyNew` call), makes the source code harder to read and adds an unnecessary restriction. We will instead use a separate size argument in the C API. Other languages should use a String or array-like type with a length field, if available.

[2022-02-18 11:25] markus2330 commented on #4222
With your sentence "It's not really minimal, so it might be better as a part of the proposed libelektra-operations?" i.e. I agree moving it to libelektra-operations.

Yes, a good architecture for these supporting libraries is still missing.

[2022-02-18 12:24] kodebach commented on #4222
See #4245 for a suggestion.

[2022-02-21 12:37] Kochise opened #4247 "[REQ] Alpine APK for aarch64(deprecated)/arm64v8"
Hi, is there any plan to create and maintain an Alpine package for Elektra ?

I see that you already have an "up to date" Docker image based on Alpine :

https://github.com/ElektraInitiative/libelektra/issues/3908

Yet it is for x86_64 but ARM would be nice as well.

Should I make one and submit it to aports ?

Or someone is on it already ?

Regards.

[2022-02-21 12:54] markus2330 commented on #4247
Hi @Kochise :wave:

Thank you for reaching out! :sparkling_heart:

There used to be effort for excellent Alpine packages, which looked very modular (nearly every plugin was in its own package) see #1811, but it looks like its maintenance was stopped. It would be great if you can pick this up! :rocket:

Interesting to hear, I am currently working on a new project which uses Elektra on ARM.

best re

[2022-02-21 13:47] Kochise commented on #4247
Ok then.

Seems like someone is on it but also it looks rather hard to get it right :

https://git.alpinelinux.org/aports/log/?qt=grep&q=elektra

Will see what I can do.

[2022-02-21 15:02] Kochise opened #4248 "respect INSTALL_LMOD and INSTALL_CMOD"
## Steps to Reproduce the Problem

[code]

## Expected Result

Lua example to run

## Actual Result

[code]

Yet the are some `kdb.so` files in :

[code]

There is no `Lua5.2` installed, only `Lua5.3(.3)`

If I try this, I crash the machine :

[code]

## System Information

- Elektra: master
- Operating System:
`Linux 5.13.0-30-generic #33~20.04.1-Ubuntu SMP Mon Feb 7 14:25:10 UTC 2022 x86_64 x86_

[2022-02-21 15:03] mpranj commented on #4247
Thank you so much for looking into it!

If it helps, you'll find our current packaging CMake config in [`scripts/packaging/package.sh`](https://github.com/ElektraInitiative/libelektra/blob/a778788ce46dab7bda92bda72e8a28850e521473/scripts/packaging/package.sh).
We're using CPack to build our packages: [`scripts/cmake/ElektraPackaging.cmake`](https://github.com/ElektraInitiative/libelektra/blob/a778

[2022-02-22 00:58] markus2330 commented on #4248
Thank you for reporting this problem!

I think you need to modify TARGET_LUA_CMOD_FOLDER and TARGET_LUA_LMOD_FOLDER accordingly.

See also scripts/packaging/package.sh how this might be done.

We marked them as advanced, so it is not visible by default in ccmake.

[2022-02-22 08:10] Kochise commented on #4248
Hi, not much info about what shall be put inside TARGET_LUA_CMOD_FOLDER and TARGET_LUA_LMOD_FOLDER environment variables. Google tells you are the only one on Earth using these. Should it be more appropriate to use Lua's own environment variables ?

[2022-02-22 14:25] Kochise opened #4249 "[FEAT] Array index improvement (natural ordering)"
Hi, following https://www.libelektra.org/tutorials/arrays it looks the array indexing is rather "weird", since it is "sorted alphabetically", why not just use "natural ordering" to always get it right, no mater what ?

I'd like to avoid using underscores and/or doing the ordering myself, by hand.

https://github.com/search?l=C&q=natural+ordering&type=Repositories -> https://github.com/sourcefrog/n

[2022-02-23 07:42] markus2330 opened #4250 "[FLOSS T2] update array tutorial"
for natural sorting (_ are not needed anymore)

https://www.libelektra.org/tutorials/arrays

see also #4249

[2022-02-23 07:46] markus2330 commented on #4249
Thank you for the idea! :sparkling_heart:

We already had the idea and also implemented it in #3102, seems like the tutorial is not updated. I created #4250. Afaik the underscores still can be added (@kodebach?). But they are not needed anymore, as the escaping of key names automatically adds them.

The idea to have a `#last` is not yet implemented and probably also not so easy to do so. @kodebach

[2022-02-23 08:23] Kochise commented on #4249
Yeah, I've seen that the tutorials are not really up to date, sometimes referring to example "seen previously" that just aren't there.

Btw, I've not found any "cheat sheet" and I'm creating one, are you interested ? Because getting into libelektra is not the easier.

[2022-02-23 15:28] Kochise commented on #4247
Obviously it's on track https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/30948

[2022-02-26 17:43] kodebach opened #4253 "Keyname validation bug"
## Steps to Reproduce the Problem

[code]

## Expected Result

`kdb` prints the value of `system:/elektra/mountpoints/user:\\/test` or

[code]

## Actual Result

[code]

## System Information

- Elektra: master

## Further Log Files and Output

The problem seems to be this line, ~I'll submit a PR shortly.~ see #4254

https://github.com/ElektraInitiative/libelektra/blob/a778788ce46dab7bda92bda72e8a

[2022-02-28 08:04] #3891 closed

[2022-02-28 08:06] #4253 closed

[2022-03-01 15:45] oliv3r commented on #4248
In the alpine package, the following values are used
[code]

Hope that helps future googlers!

[2022-03-02 07:54] markus2330 opened #4255 "no new packages"
I wanted to test mount-java but in `deb https://debs.libelektra.org/bullseye/ bullseye-unstable main` there are no new packages. Maybe the build server did not even pass?

[2022-03-02 13:59] markus2330 commented on #4255
@kodebach: that you check if it was build and possibly fix errors on master

@robaerd: can you maybe spot the problem and fix maybe together with @lukashartl?

[2022-03-02 14:39] kodebach commented on #4255
There is a basic test for `mount-java`

https://github.com/ElektraInitiative/libelektra/blob/19dba1b0b3ff194e212cf699e09de590288fc250/tests/shell/external/mount_java.sh#L1-L17

that was executed successfully in at least [this master build](https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/master/686/pipeline/858/#step-998-log-225) (line 225 in the linked log).

[2022-03-03 16:20] Kochise commented on #4247
Testing the `armv7` artifact from https://gitlab.alpinelinux.org/oliver/aports/-/pipelines

It is looking promising.

There is a strict dependency on `libgit2` which requires `qsort_r` only available starting `musl-1.2.2-r7` :

https://gitlab.alpinelinux.org/alpine/aports/-/commit/bf5bbfdbf780092f387b7abe401fbfceda90c84d

[2022-03-03 17:55] markus2330 commented on #4247
Did you get an compile error? This would be an bug, libgit2 actually should be an optional dependency (plugin gitresolver would be excluded and libelektra-merge would have poorer conflict resolving capabilities on arrays).

[2022-03-03 18:13] Kochise commented on #4247
No compile error, but `libelektra` install only if `libgit2` is present.

[2022-03-03 18:36] markus2330 commented on #4247
If you compile Elektra without having libgit2 on the system, it should also work correctly after installation. Which error did occur?

It is documented in the individual READMEs. scripts/cmake/ElektraPackaging.cmake has extensive dependency information. How would you like to have it documented?

[2022-03-03 19:51] lukashartl commented on #4255
Here is what I found so far:

According to the pipeline log, the package has been built successfully. (Stage `buildPackage/debian/bullseye`)
It has also been uploaded to the Debian repository pool and the metadata for `bullseye-unstable` was also updated (we can see this by taking a look into the timestamp of the files on the server).
But when I list all packages from the repository, I still get t

[2022-03-04 10:12] markus2330 commented on #4255
Maybe we can simply reset the counter with every release? As we want to do a release soon anyway, the problem will be fixed that way?

[2022-03-04 10:27] kodebach commented on #4255
To me it seems the problem is that somebody erroneously published the version `0.9.8-5.5881`. This version was published **before** `0.9.8-1` which AFAICT should be the latest release version. We have currently set the `SO_VERSION` to 5, maybe at some point during the release process this version is used instead of the Debian version?

https://github.com/ElektraInitiative/libelektra/blob/master/CM

[2022-03-04 10:38] robaerd commented on #4255
The `SO_VERSION` has no influence on the revision version of the packages itself.

The packages with the version `0.9.8-5.5881` were published on 04.10.2021 at 00:07, shortly before the actual release. So this most likely was published during the build job for the commits that incremented the version numbers without incrementing the `debian/changelog` version. The `debian/changelog` is also popula

[2022-03-04 14:09] Kochise commented on #4247
Hi, sorry for the delay. It's mostly about why `libelektra-merge` have a dependency to `libgit2` :

[code]

[code]

But you said above that "libgit2 actually should be an optional dependency (plugin gitresolver would be excluded and libelektra-merge would have poorer conflict resolving capabilities on arrays)" so I guess it is still a prerequisite and shouldn't be removed.

Can you confirm ?

[2022-03-04 19:46] markus2330 commented on #4247
I don't think of it as a problem if you remove libgit2 as prerequisite. The missing features without libgit2 are unimportant.

[2022-03-04 19:47] markus2330 commented on #4255
I like the solution with debchange!

[2022-03-05 10:47] markus2330 commented on #4250
For 1.0 we should either update or remove. Before 1.0 it is enough to have issues that say that something is outdated/missing.

[2022-03-05 10:49] kodebach commented on #4250
Of course, but...

... since people are still using Elektra before 1.0, we should probably mark outdated stuff inside the docs themselves and not hope they see the related issue.

[2022-03-05 12:24] markus2330 commented on #4250
Ok, then let us add TODO marker? `[Deprecated]` sounds like that the thing the tutorial is about (like arrays) is out-of-date not that there are issues in the tutorial itself.

[2022-03-06 16:37] kodebach opened #4260 "Weird permission issue with kdb meta-set"
While testing I found a very weird permissions issue with `kdb meta-set`

## Steps to Reproduce the Problem

[code]

## Expected Result

The snippet above should run successfully and print something along the lines of

[code]

## Actual Result

There is a permissions error during `kdb meta-set`:

[code]

I suspect this has something to do with the fact, that we try to read/write with a cascading p

[2022-03-07 05:54] markus2330 commented on #4255
Packages have arrived again!

@mpranj maybe we find a way to reset the build counter every release, so that the first master build after publishing 0.9.9 has the version 0.9.9-1.1

[2022-03-07 05:54] #4255 closed

[2022-03-07 06:07] markus2330 commented on #4260
I can reproduce the issue. Maybe the spec plugin copies something also to spec: and Elektra tries to write this, too? Further investigation is needed.

[2022-03-07 10:22] markus2330 commented on #2313
There are still a few leftovers:

[code]

[2022-03-07 10:50] Kochise commented on #4247
Thank you for your help. Maybe `libgit2` can be left in if it doesn't takes too much space. That way we'll also avoid strange and unplanned behaviors if it is absent. Better keep the expectations and requirements satisfied.

[2022-03-07 12:39] mpranj commented on #4255
The last part of the package version is derived from the Jenkins `$BUILD_NUMBER` environment variable. With the current naming scheme you can correlate the built package version with the Jenkins build easily.

[2022-03-07 15:38] #4203 closed

[2022-03-07 15:39] #4122 closed, assigned to flo91

[2022-03-07 15:40] #4119 closed

[2022-03-07 15:40] #4118 closed, assigned to marvin-the-parrot

[2022-03-07 15:40] #4114 closed, assigned to sedadas

[2022-03-07 15:40] #4113 closed

[2022-03-07 15:46] #4116 closed, assigned to 4ydan

[2022-03-07 15:55] markus2330 commented on #2304
@lawli3t is this still open?

[2022-03-07 15:56] markus2330 commented on #2956
@lawli3t can you make this issue more concrete so that we can hand it over?

[2022-03-07 15:57] markus2330 commented on #3451
So let us keep FORCE_IN_SOURCE_BUILD

[2022-03-07 15:57] #3451 closed

[2022-03-07 21:31] mpranj commented on #4082
Closed via #4261.

[2022-03-07 21:31] #4082 closed

[2022-03-08 05:37] markus2330 commented on #4082
Thank you, works perfectly now! :fireworks:

[code]

From my point of view the release can be done asap.

[2022-03-08 08:17] mpranj commented on #160
The build system & community server will be down very briefly for a kernel upgrade.

[2022-03-08 10:43] mpranj opened #4263 "webui, webd: security alerts"
There are serveral (**125**) security alerts  (about npm packages) for the components webui and webd.

Afaik these are currently unused and need a new maintainer (or removal). Can we thus dismiss the security alerts for now?

[2022-03-08 13:58] mpranj opened #4264 "mount_java: needs process plugin?"
@kodebach is it possible that the `mount_java` test also relies on the experimental process plugin?

https://github.com/ElektraInitiative/libelektra/blob/631f6492edb13bcc57fa2fa92d4bc04bd93aad63/tests/shell/external/CMakeLists.txt#L42-L46

I get the following when running the release tests:
[code]
Or is the test exclusion somehow failing for kdb FULL?

[2022-03-08 14:21] kodebach commented on #4264
Yes, it definitely needs the `process` plugin as well. Although I think, it also doesn't work with `kdb-full`. But in any case, there should be a CMake dependency on `process`. I'll create a PR.

[2022-03-08 15:28] markus2330 commented on #4263
Yes, they can be ignored for this release.

I hope @lukashartl will be the new maintainer, at least we discussed about golang and #2913.

[2022-03-08 15:32] mpranj commented on #4264
Thank you for working on it @kodebach!

Should we explicitly add this plugin or mark is as non-experimental for the CM LVA people? Or do they not need this in the release?

[2022-03-08 15:39] kodebach commented on #4264
Good point, I added a commit to the PR.

[2022-03-08 17:17] #4264 closed

[2022-03-09 19:37] mpranj commented on #160
The build system & community server will be down very briefly for a kernel upgrade. **(again)**

[2022-03-10 15:13] Kochise opened #4267 "[DOC] concurrency, atomicity, performance, footprint"
Hi, some questions about what is in the title :

1- How libelektra deals with concurrent access to the same data or file (either the same or different processes) ?

2- How libelektra manages atomic transaction to the same data or file ?

3- How libelektra performs compared to a database (redis, postgresql, ...) ?

4- How libeletrak weight compared to other libraries regarding the service provided

[2022-03-10 16:51] markus2330 commented on #4267
You can create KDB handles per thread. Then always the same mechanism (same or different process) applies: Elektra uses optimistic writes and if it detects that multiple KDB handles wrote at the same time, every KDB handle except the first will roll back everything and their kdbSet returns with -1.

kdbSet is an atomic transaction (except on crashes), with both a single and with several files. Whi

[2022-03-11 08:06] Kochise commented on #4267
Hi, thank for your answers, some details :

1- So you mean that if several processes wants to change the same value, KDB goes first "first come, first served" and the other are rejected ? There is no queue to store the write requests and pick whatever is considered the right one (say, the last) ?

2- What I mean by "atomic" is being able to create a "transaction" with several read and writes and p

[2022-03-11 11:46] markus2330 commented on #4267
Exactly, there is no queue, journal or anything: we determine who has won via locks (or timestamps for uncooperative processes like vim).

There used to be a proof-of-concept global plugin called `semlock` that does a transaction for the whole `KDB` handle. What exactly is your usecase, what would you like to achieve?

What you can do already with Elektra is to read or write the whole configuratio

[2022-03-11 11:47] markus2330 commented on #4267
@robaerd @mpranj doesn't create the build server a log file for all the sizes in a release?

[2022-03-11 12:04] robaerd commented on #4267
Yes, there is a `size` file inside the tarball that we create on every release for every distribution we create packages for.
The link to the latest artifacts is https://build.libelektra.org/job/libelektra-release/157/artifact/artifacts/
E.g. link to the latest Debian tarball: https://build.libelektra.org/job/libelektra-release/157/artifact/artifacts/debian-bullseye/debian-bullseye-release.tar.gz

[2022-03-14 10:05] #4263 closed

[2022-03-14 10:08] markus2330 commented on #4249
As the main feature is already implemented and `#last` would only work as extension to currently missing tooling I close this issue. Please open new issues for new questions and feature proposals!

@Kochise Btw. I would find it very nice to have cheat sheets. Please create a PR! :rocket:

[2022-03-14 10:08] #4249 closed

[2022-03-14 10:20] markus2330 commented on #4248
To clarify the task:

TARGET_LUA_CMOD_FOLDER and TARGET_LUA_LMOD_FOLDER should be made internal: they should fetch the information by `pkg-config --variable=INSTALL_LMOD lua` respective `pkg-config --variable=INSTALL_CMOD lua` by default.

@oliv3r does on your system also work `pkg-config --variable=INSTALL_LMOD lua` or is it necessary to add the version postfix? (On Debian `lua` points to the def

[2022-03-14 10:26] markus2330 commented on #4247
Is there any update on the Alpine packages? As you might have noticed, we released Elektra 0.9.9 https://www.libelektra.org/news/0.9.9-release

[2022-03-14 10:38] markus2330 commented on #676
We got again some attention:

- https://linuxnews.de/2022/03/elektra-steht-kurz-vor-der-stabilen-1-0/
- https://news.ycombinator.com/item?id=30630542

[2022-03-14 10:43] #4222 closed

[2022-03-14 10:46] markus2330 commented on #4216
As the process plugin was rewritten this is probably irrelevant.

@kodebach please reopen if you took the CMake file from the old process plugin.

[2022-03-14 10:46] #4216 closed

[2022-03-14 10:47] markus2330 commented on #4168
As this is unfortunately not so easy to do, I close the issue.

[2022-03-14 11:01] markus2330 commented on #4129
This is either a project (to update all the ref counters) or a single task in T3 for each language.

[2022-03-14 11:02] markus2330 commented on #4170
Didn't occur for some time, let us close it.

[2022-03-14 11:02] #4170 closed

[2022-03-14 11:08] markus2330 opened #4277 "[CM T0] add dependabot.yml file"
https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates#labels

should be configured to:

- [x] use our labels (lang/javascript and lang/java instead of javascript and java)
- [ ] exclude files which are not security relevant
- [ ] don't run too often

[2022-03-14 11:08] markus2330 commented on #4277
@mpranj do you have other suggestions how it should be configured?

[2022-03-14 11:10] #4121 closed

[2022-03-14 11:11] markus2330 commented on #4117
We removed this text.

[2022-03-14 11:11] #4117 closed

[2022-03-14 12:59] markus2330 commented on #4099
Maybe Alpine (#4247) can also be added once done. I updated the top post.

[2022-03-14 13:16] #4115 closed

[2022-03-14 13:24] markus2330 commented on #4038
Can this already be done?

[2022-03-14 13:35] tucek commented on #4038
I think so. Even if don't know yet whether the garbage collector based clean-up now works. I will remove the manuela release methods from the Java API

[2022-03-14 15:43] markus2330 opened #4278 "gsettings refers to INI plugin"
https://www.libelektra.org/bindings/gsettings still refers to the already removed INI plugin.

To investigate: how can dconf config be migrated to Elektra?

[2022-03-14 16:14] markus2330 commented on #3798
@lawli3t is there something still open here?

[2022-03-14 16:18] markus2330 commented on #3285
duplicate from  #4216

[2022-03-14 16:25] markus2330 commented on #3171
@kodebach can you write a new issue about rewriting the parts that still use ksNext/ksRewind etc.? In particular rewriting the plugins would be quite suitable for CM.

[2022-03-14 16:43] kodebach commented on #3885
Is it possible that our Alpine Linux builds are somehow broken?

There clearly are images that are built and pushed to Docker Hub that have the new 0.9.9 version (e.g. [`elektra/elektra:0.9.9-6-bionic`](https://hub.docker.com/layers/elektra/elektra/0.9.9-6-bionic/images/sha256-1187310c9837fb745613abfa4587b72bd3c3a492301dbb43777496d89e6b4ad6?context=explore)). You can tell, because the `exports` fo

[2022-03-14 18:42] Kochise commented on #4247
Hi, yeah, I noticed the update to 0.9.9, thank for your great job :)

I'm on vacation for a week, will see that on my returning back.

[2022-03-14 22:36] kodebach opened #4279 "[CM T0] Remove internal iterator use from SWIG bindings"
The SWIG bindings (Lua, Ruby, Python) are based on the C++ binding, so most of the migration from internal to external iterators is covered by #4280. However, there are still some uses of the internal iterator APIs (mostly via their C++ variants) within the SWIG bindings (e.g. in the mapping files `kdb.i`). The full list of functions in the internal iterator API can be found in #3171.

[2022-03-14 22:36] kodebach opened #4280 "Remove internal iterators from C++ API"
The internal iterator API (listed in #3171) will be removed from the C API. Corresponding functions need to removed from the C++ API and direct all uses within C++ code need to be replaced appropriately.

- [ ] Remove all functions (`rewind`, `next`, `setCursor`, etc.) that map to the internal iterators API (`keyRewind`, `keyNext`, etc.)
- [ ] Replace all usage of these functions and all direct us

[2022-03-14 22:36] kodebach opened #4281 "[CM T0] Remove usage of internal iterators API from plugins"
Many plugins still use the internal iterators API. In particular, `ksRewind`/`ksNext` as well as `ksGetCursor`/`ksSetCursor` are very common.

The common pattern:
[code]

Should be replaced with a `for` loop using an external iterator:

[code]

Other uses of the internal iterator API (see #3171 for list) should be replaced appropriately. Additionally, if extra `KeySet`s (e.g. via `ksDup`) were use

[2022-03-14 22:53] kodebach commented on #3171
I created #4279, #4280, #4281. Please label them with the appropriate points for CM.

[2022-03-15 08:40] markus2330 commented on #1322
Project would be together with #1306

[2022-03-15 08:40] markus2330 commented on #1306
Project would be together with #1322.

[2022-03-15 08:43] markus2330 commented on #4279
Is the Python binding already done?

[2022-03-15 08:44] markus2330 commented on #4280
Can be implemented as small project or big T3 work.

[2022-03-15 09:02] kodebach commented on #4279
It is listed as done in #3171, but I didn't check.

[2022-03-15 09:58] markus2330 commented on #4279
Can you please check for Python and Ruby? We cannot give a task if probably nothing is to do :wink:

[2022-03-15 19:56] kodebach opened #4287 "[FLOSS H1] Repo file missing for Fedora 35"
For Fedora 33 and Fedora 34 we have `.repo` files that can be used with `dnf config-manager --add-repo`.

- https://rpms.libelektra.org/fedora-33/libelektra.repo
- https://rpms.libelektra.org/fedora-34/libelektra.repo

For Fedora 35 (and `fedora-35-unstable`) this file is missing. You can just use `--add-repo https://rpms.libelektra.org/fedora-35/`, but then you don't automatically get the extra m

[2022-03-16 10:31] kodebach commented on #4279
I updated, the issue title and description. I combined all the SWIG bindings into one issue, because there seems to be very minimal use of the iterator APIs.

[2022-03-16 10:34] kodebach commented on #4280
@markus2330 Please check whether the CM points need to adjusted, since this issue may be blocked by #4279.

[2022-03-16 13:52] mandoway opened #4294 "[CM P0] Kotlin binding (extension of Java binding)"
# Elektra Kotlin Binding proposal

Kotlin can be seen as a 'successor' to Java in a way, since it also compiles to JVM bytecode.
It has some interesting features not available in Java which we want to take advantage of.
Therefore, we propose an **extension** of the Elektra Java binding which can utilise Kotlin's functionalities.

We aim to implement the following tasks:

- [ ] DSL for creating Key

[2022-03-16 18:13] mpranj commented on #3403
The issue does not reflect the current state any more and nothing relevant is open.

[2022-03-16 18:13] #3403 closed

[2022-03-16 18:35] mpranj commented on #1355
Yes the CI already executes it.

[2022-03-16 18:35] #1355 closed

[2022-03-16 18:46] mpranj commented on #4277
I think it would be great to exclude code (e.g. webui), which have no maintainer and are likely unused (currently).

I think the exclusion comes implicitly as you have to list all package manifests explicitly in the dependabot.yml file (according to docs).

[2022-03-16 19:08] mpranj commented on #3885
Seems that I made an error in the release scripts. I tried to automate the version bump for the alpine builds. It worked but the change was not reflected in the release build, due to not fetching the git changes.

I'll take a look into it. Thank  you for reporting.

[2022-03-17 08:41] flo91 commented on #4280
Hello,
@Milangs and I want to work on this issue for our CM-project.
I think it's convenient that we additionally do #4279 and #4281 for the teamwork, because the three issues are related.

[2022-03-17 23:30] kodebach commented on #3189
ping

[2022-03-17 23:30] kodebach commented on #3111
ping

[2022-03-18 14:32] oliv3r commented on #4248
Hey @markus2330 ,

I'm only updating the alpine package; so my system is not completely relevant maybe :p but on alpine this is how it works.

https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/30948

A quick check in docker shows that yes, the version is not needed, but it depends on how you install lua-dev (e.g. if you install lua5.3-dev, you must supply the version)

[code]
on an arc

[2022-03-20 14:52] markus2330 commented on #3189
Simply removing the stale label should work as well.

Can you put this to a decision?

[2022-03-20 16:31] markus2330 commented on #4280
Remove internal iterators is an excellent job for project and teamwork. It is probably best to start replacing it in bindings (Ruby etc.), and then C++ iterator to use the external iterator instead; and finally remove the internal iterator from C (rewriting code with the external iterator instead).

[2022-03-20 20:14] kodebach commented on #3189
We already have one: https://github.com/ElektraInitiative/libelektra/blob/master/doc/decisions/iterators.md

[2022-03-25 15:58] eiskasten opened #4295 "[CM P0] LDIF Storage Plugin"
# LDIF Storage Plugin

LDIF is the file format which is used by LDAP to exchange data. Mainly, this format is used to exchange user records for services with a large amount of users. Furthermore, this format is used by OpenLDAP in order to configure it.

As no storage plugin for LDIF already exists, we want to introduce it. Our approach is to use the `libldap` which includes an API which is able t

[2022-03-26 17:25] markus2330 commented on #4295
This is an excellent idea!

Which programming language do you want to use?

Please give more details about the scope (also depends on what libldap supports):

- comments in `comment/#`?
- remember order?
- see also doc/tutorials/storage-plugins.md for information what might be important for the plugin.

Please also say at which milestone you want to do which task. You probably also want to do the

[2022-03-26 17:40] markus2330 commented on #3189
ksIndex/ksHierarchy etc. is not mentioned there?

[2022-03-26 18:29] markus2330 commented on #4294
The issue sounds very promising! :rocket:

Does this also work with arrays and custom types (classes)?

Iteration over key names would be also interesting!

Do you want to implement T2 also in Kotlin? Then probably further use cases will come up, like a convenient way to create errors and warnings.

[2022-03-26 18:51] kodebach commented on #3189
AFAICT `ksIndex` is basically what we now have with `ksSearch`. Except that the behaviour is slightly different for keys that are not in the keyset. The return value is still negative (i.e. shows the key is not present), but `ksSearch` also indicates where the key would be. Therefore, I think `ksSearch` is superior to the originally proposed `ksIndex`.

I assume `ksHierarchy` was supposed to be `k

[2022-03-26 19:03] kodebach commented on #4294
Using [kotlinx.serialization](https://github.com/Kotlin/kotlinx.serialization) might also be an idea. There is standard functionality to transform from/to [JSON](https://kotlin.github.io/kotlinx.serialization/kotlinx-serialization-json/kotlinx.serialization.json/-json/decode-from-json-element.html), so it should in theory be possible to do something similar for a `KeySet`.

To clarify, "iterating

[2022-03-26 21:45] #3604 closed

[2022-03-26 21:45] #3382 closed

[2022-03-26 21:45] #3330 closed

[2022-03-26 21:45] #3049 closed

[2022-03-26 21:45] #3686 closed

[2022-03-27 08:51] lukashartl commented on #4250
We ( @leothetryhard and @lukashartl ) would like to work on this issue.

* Should we go with `TODO` or `DEPRECATED`?
* What exactly do you mean with marker? Is this something out of Doxygen, or just a prefix in the header?
* Should we work through all the docs or just the mentioned array tutorial?

[2022-03-27 11:06] leothetryhard commented on #4093
We (@lukashartl and @leothetryhard) want to work on this issue.
 I compiled elektra with `-DBINDINGS="ALL;-DEPRECATED"` which to my understanding includes `jna`.
I tried running the `HelloElektra.java` by following the [JNA docs](https://www.libelektra.org/bindings/jna) and executing `./gradlew hello:run` in `/src/bindings/jna`. However the build fails with the following error:

![jna-error](https

[2022-03-27 11:56] mpranj commented on #160
The build system & community server will be down from 14:15 CEST for updates & maintenance. (Expected downtime: <15min.)

[2022-03-27 12:00] kodebach commented on #4093
Could you please try again... The error basically means that Gradle couldn't find the dependency `com.thoughtworks.xstream` (which is required by the `gradle-versions` plugin, we use). As far as I can tell, the dependency is available in the standard repository and for me `./gradlew hello:run` just worked. Maybe it was a weird HTTP timeout or something similar...

If the error persists, I'll look

[2022-03-27 14:47] leothetryhard commented on #4093
Yes it works now. `pluings.gradle.org` must have been down when I first tried. Thank you!

[2022-03-27 14:48] bhampl commented on #4001
We (@bhampl and @Eiskasten ) would like to work on this issue, but we haven't fully understood how the code works. The main questions we have is where should the validation be done in the [`get` method](https://github.com/tucek/libelektra/blob/9a14f67a9f3edb393daf41346f3d4f3b781b6b60/src/bindings/jna/plugins/whitelist/src/main/java/org/libelektra/plugin/WhitelistPlugin.java#L34) and what exactly i

[2022-03-27 15:06] bhampl commented on #4040
We (@bhampl and @Eiskasten ) would like to work on this issue. The implementation should be straight forward (we "just" need to implement the missing methods in the [KeySet](https://github.com/tucek/libelektra/blob/9a14f67a9f3edb393daf41346f3d4f3b781b6b60/src/bindings/jna/libelektra/src/main/java/org/libelektra/KeySet.java#L27) class), once we understood the code and read the documentation (mainly

[2022-03-27 15:33] kodebach commented on #4001
You correctly identified the `get` and `set` methods this issue is about. In theory they should have the exact same behaviour, except that `get` should only produce warnings where `set` produces errors. However, `get` is (currently) also used to access the contract of a plugin. This is why there is an additional `if` at the beginning. After this `if` (currently just `return`) is where the actual i

[2022-03-27 15:47] kodebach commented on #4040
I think you are right, the implementation should mostly be straightforward.

The main thing to watch out for is probably that the implementation should still be efficient. That means utilising the underlying structure implemented in C as much as possible. If you find that a new C API would be useful, don't be afraid to bring this up. For example, the implementation of `SortedSet` was one of the re

[2022-03-27 16:13] markus2330 commented on #4250
If you want to work on the issue forget about TODO or DEPRECATED :wink: This was only for the case if nobody wants to update the tutorial.

The proper fix is to update the tutorial to the new array syntax (i.e. without leading underscores) and also explain that these underscores get added for arrays. In doc/KEYNAMES.md you can read about how the syntax currently is.

[2022-03-27 16:18] markus2330 commented on #4250
You probably will not spot what is outdated. Afaik the array tutorial is the only one that has a known problem.

But of course: if you go through some docu and spot a problem, please report.

[2022-03-27 20:01] #3048 closed

[2022-03-27 20:01] #2577 closed

[2022-03-27 20:01] #3119 closed

[2022-03-27 20:11] lukashartl opened #4297 "Cannot reproduce examples in tutorial "How to Write a Specification in Elektra""
We ( @leothetryhard  and @lukashartl ) worked through https://www.libelektra.org/tutorials/writing-a-specification-for-your-configuration and tried to reproduce it in docker, but the example wasn't working as expected.

Maybe we are missing something?

## Steps to Reproduce the Problem

[code]

## Expected Result

In section (1) I expect an error message as given in https://www.libelektra.org/tuto

[2022-03-27 20:43] kodebach commented on #4297
I don't know the root cause of the issue, but clearly the problem comes from the fact that a `default:/` key is chosen by `kdb set`. Keys with the namespace `default` are generated (mostly by the `spec` plugin) and will never be stored anywhere. Therefore the `kdb set` has no effect.

[2022-03-27 20:46] kodebach commented on #4297
Please check whether explicit `kdb set user:/... ...` instead of `kdb set /... ...` works as shown in the tutorial.

[2022-03-27 20:49] lukashartl commented on #4297
Yes, validation works now!

I'll create a PR with the documentation fixes in the coming days.

[2022-03-27 20:53] kodebach commented on #4297
You can create a PR for the docs, if you want to. But we should also fix the behaviour of `kdb set /... ...`. It should never choose a `default:/` key (we should fall into [this case](https://github.com/ElektraInitiative/libelektra/blob/ac45b8b11e0915e5d47d3420b9a2766d1b831ba7/src/tools/kdb/set.cpp#L52). More generally `default:/` keys should probably be generated as read-only, but this would be a

[2022-03-28 16:56] lukashartl opened #4299 "[CM P0] Revitalize webd and elektrad"
# Introduction

For our project we would like to revitalize elektra's web-components:

* `web-ui` (Instance Manager, Frontend, React)
* `webd` (Instance Manager, Backend, Express)
* `elektrad` (Instance, Backend, written in Go)

Introduction to those components can be found here: https://www.libelektra.org/tutorials/webui

As `elektrad` is also currently missing an active maintainer, this is also

[2022-03-29 07:29] #4267 closed

[2022-03-29 08:07] Kochise opened #4300 "[DOC] How to "mount" specific INI file in C ?"
Hi, just something that is bugging me for a little while.

While I can specific a storage plugin when mounting a `INI` file using the `kdb` command line tool, I cannot find anything similar with the `C` API. How to do that ?

Obviously many `kdb` example are simply not reproducible in `C`.

Regards.

[2022-03-29 09:31] markus2330 commented on #4300
Hi,

at the moment there is no nice C API to do something similar as the kdb command does but we are working on that in the [new backend branch](https://github.com/ElektraInitiative/libelektra/tree/new-backend).

At the moment the simplest thing you can do is to export a previously mounted configuration with the c plugin, e.g.:

[code]

And then simply use this KeySet in your C code, e.g.:

[code]

[2022-03-29 09:34] markus2330 commented on #4300
Btw. please do not expect to work this across Elektra versions before 1.0. In the new backend branch we change how mountpoints look like.

[2022-03-29 10:14] Kochise commented on #4300
Thank for clarifying this though, because I was expecting this to be more trivial if I was going to "elektrify" an existing application.

It was already using an INI file, so I expected to be able to "mount" it like I used to using the INI wrapper library previously in charge, then access it "transparently" as before, with the benefit of `Elektra` plugins (storage, checker, ...).

Please do no bre

[2022-03-29 10:40] markus2330 commented on #4300
The currently recommended way is to call "kdb mount" during the installation of the program. For the high-level API such a script automatically gets generated. See also https://github.com/jonls/redshift/pull/837

We can only guarantee this after 1.0 not before :cry:

What exactly would you like to stay as is?

Yes, we remove it, as the external iteration is vastly superior (iteration in every dire

[2022-03-30 13:23] mandoway commented on #2313
[CM T0]
My colleague @Gratla and I want to work on this issue.

I found the following occurrences in the source code:
[code]

There are different types of occurrences:
1. In a condition additionally to DEBUG:
    - I assume VERBOSE or defined(..) should be simply removed
2. A condition with only VERBOSE and/or defined(..)
    - Should the condition be removed with the statement remaining?
    - Sh

[2022-03-30 13:51] kodebach commented on #2313
I would replace it like this.

[code]

Notice, that a `#if DEBUG` around a log statement (like these `printf`) is also nonsensical. `ELEKTRA_LOG_DEBUG` is enabled if `DEBUG` is active and does nothing otherwise.

https://github.com/ElektraInitiative/libelektra/blob/ac45b8b11e0915e5d47d3420b9a2766d1b831ba7/src/include/kdblogger.h#L69-L79

Correct. Also if the remaining `#if DEBUG` contains only a `

[2022-03-30 15:21] Eiskasten opened #4302 "Arch package: unnecessary deps"
## Steps to Reproduce the Problem

Using the package from the Arch User Repository throws an compilation error as of now. This can be reproduced with
[code]

## Expected Result

A package in the directory where `makepkg` was called.

## Actual Result

A compilation error:
[code]

## System Information

- Elektra: 0.9.3
- Operating System: Arch Linux

## Further Information

The package is flagged

[2022-03-30 15:27] Eiskasten commented on #4040
As @bhampl  already mentioned, I also want to work on this issue. As I understand, we only have to touch the KeySet class, am I right?

[2022-03-30 15:36] Eiskasten commented on #4001
Ok, thank you. So, I think that the solution is supposed to outsource the error checks and use that in both, the `get` and the `set` method?

[2022-03-30 16:42] Gratla commented on #2313
Ok, thank you for the information!
How do we know, what we need to do with the remaining VERBOSE statements which do not contain printf?
Are there any rules or do we need to contact you for every occurence?

[2022-03-30 16:51] mandoway commented on #3648
[CM T0]

My colleague @Gratla and I want to work on this issue.

I reproduced this issue with the following steps:
[code]

What is the desired/intended behaviour of `mv`?

I would propose to move all sub-keys together with the parent key.

[2022-03-30 16:51] Gratla commented on #3648
I think the bug is located in the file [/libelektra/src/tools/kdb/mv.cpp](https://github.com/ElektraInitiative/libelektra/blob/master/src/tools/kdb/mv.cpp).
After a short look I think the bug is located in the following code-snippet, but we need to re-check it as we work on it:

[code]

[2022-03-30 17:07] kodebach commented on #2313
When you create the PR, just fix what you know. Where you are unsure, either include a change in the PR and we will review it, or if you don't know what to do at all, just ask.

[2022-03-30 17:12] mandoway commented on #4129
[CM T0]

My colleague @Gratla and I want to work on this issue.
Specifically, we want to implement the Java part, and possibly the C++ part if we need it to reach the appropriate scope for the team tasks.

AFAIK, ref counters are used to keep track of Elektra key references.
They are needed to communicate when it is safe to clear a Key object.
So the implementation plan would be:
- Increment a ref

[2022-03-30 17:17] kodebach commented on #3648
The [manpage](https://github.com/ElektraInitiative/libelektra/blob/master/doc/help/kdb-mv.md) says `kdb mv` moves a single key, but `kdb mv -r` also moves sub-keys. I think that is reasonable and we can keep it that way.

So the intended behaviour for your example is this
[code]

[2022-03-30 17:25] kodebach commented on #4040
Yes, the changes should (mostly) be contained to the `KeySet` class. It might also be necessary to modify the private inner class `KeySetView` (or add another similar class). AFAICT the C API (with the addition of `ksSearch`) should be sufficient to fully implement `NavigableSet`. If this is not the case, please report the issue and I will implement what you need on the C side.

[2022-03-30 17:28] kodebach commented on #4129
Yes, the C++ binding is a header-only library. The reference counting for `Key` is implemented via `operator++` and `operator--`.

For example:

https://github.com/ElektraInitiative/libelektra/blob/431888f2d4d229dfee159bf93ce55601b694ecae/src/bindings/cpp/include/key.hpp#L671-L679

which is called in all constructors, e.g.

https://github.com/ElektraInitiative/libelektra/blob/431888f2d4d229dfee159

[2022-03-30 18:23] Gratla commented on #4129
I think the corresponding implementation for the Key-Class is here:

https://github.com/ElektraInitiative/libelektra/blob/431888f2d4d229dfee159bf93ce55601b694ecae/src/bindings/jna/libelektra/src/main/java/org/libelektra/ReadableKey.java#L79-L115

[2022-03-30 18:41] Gratla opened #4303 "[CM T0] Sort Plugin"
My collegue @mandoway and I propose a checker plugin which validates the sorting of its items (for [CM T2]).
In detail the plugin should check, whether the values in an array are sorted (valid) or not (invalid).
The reformatting of existing configuration settings is not considered within this issue!
To setup the plugin, there are some meta-keys needed for its configuration which are set for the ar

[2022-03-30 19:00] Gratla commented on #4294
We like the idea of using the type inference also for collections.
As of now, the implementation with serializeable objects should be possible and we want to include this topic into this issue.
Also the iteration over key names is a fine addition.

[2022-03-31 01:05] Milangs opened #4306 "[CM T0] Correct the behavior for lineendings plugin"
1. lineendings plugin should run the validation during ...Get() and ...Set().
2. If a validation problem occurs during ...Set(), the plugin should set an error and return -1
3. If a validation problem occurs during ...Get(), the plugin should add a warning and continue validation (finally return 0)
4. lineendings plugin need to have the `placements: pregetstorage` and `postgetstorage` in their met

[2022-03-31 01:11] flo91 commented on #4306
As mentioned in the issue #4059, the behaviour was already changed in the range-plugin.
In the scope of my FLOSS project from last semester, I looked at that changes and the error/warning handling in general, so I've already some experience with the topic.

Therefore this issue should be well suited for our Teamwork.

[2022-03-31 02:12] flo91 commented on #3834
**[CM T0]**
Is this issue still relevant?
The current master builds run successfully through all CI-steps as can be seen [here](https://build.libelektra.org/blue/organizations/jenkins/libelektra/activity?branch=master).

On the other hand the mentioned file [/tests/shell/check_bashisms.sh](https://github.com/ElektraInitiative/libelektra/blob/master/tests/shell/check_bashisms.sh) has the last commi

[2022-03-31 02:16] Milangs commented on #4280
_Rationale for the change:_ When the client (i.e. the programmer) controls of the iteration, the iterator is called external iterator. Otherwise, when the iterator controls the iteration, it is called internal iterator. Due to the fact that external iterators are more flexible the internal iterators will be removed completely from Elektra.

[2022-03-31 12:52] Kochise commented on #4300
Things that makes the library usable without too much hassle to fight against. You know, the KISS one.

Ok, your way, I can live with that.

The main problem is the "mixture" of real path (so to speak) present in the configuration files (ecf, ini, ...) and the virtual "/sw/.../#0/profile" thing that isn't really clear what you access, where it is located, the purpose of, etc.

What is part of inte

[2022-03-31 14:19] kodebach commented on #4303
Please provide more infos on how this plugin would work. What `meta:/` keys would it use? What do you mean by "its items"?

If you're unsure what to describe, take a look at the [references plugin](https://github.com/ElektraInitiative/libelektra/tree/master/src/plugins/reference). It doesn't have to be this detailed, but please provide a rough overview before you start with the implementation. Oth

[2022-04-02 08:26] markus2330 commented on #4303
I assume that this plugin is for T2. Then a pure checker is enough, so simply fail if the values are not sorted in the wanted directions.

As already said, many details of how the validation should work are missing. Do you want to check if a KeySet is sorted per keys, e.g.:
[code]

or that its values are sorted?
[code]

Important is that you find a clear use case (example) for what this plugin sho

[2022-04-02 09:02] #3671 closed

[2022-04-02 14:02] kodebach opened #4308 "[CM T1] Improve docs for mounting of spec"
It seems that our current documentation fails to explain the possible issues with mounting a spec from `$PWD`.

[code]

The example above works, but has a problem. Using an absolute path (`$PWD` is always absolute), means Elektra will read/write this file directly. If `$PWD` is the install directory of the application this would be totally fine. But if this is done during installation and `$PWD` i

[2022-04-02 14:09] kodebach opened #4309 "fallback/# and override/# should support relative names"
For specifications it would be useful, if `meta:/fallback/#` and `meta:/override/#` would support relative key names. With the current implementation, specifications using these metakeys cannot be self-contained and are specific to one mountpoint.

The resolution of the relative names could be done by the `spec` plugin. During `kdbGet` we would resolve all `meta:/fallback/#` and `meta:/override/#`

[2022-04-02 14:23] flo91 commented on #4308
In https://www.libelektra.org/tutorials/writing-a-specification-for-your-configuration in Step 1 the command
``sudo kdb mount `pwd`/spec.ni spec:/sw/org/app/\#0/current ni`` is given.
While this is ok for defining the specification via `kdb` in the first place, it should be mentioned that this approach is not recommended for using the specification for installed applications.
Instead, the explanat

[2022-04-02 14:59] markus2330 commented on #1332
@kodebach maybe you can take a look, too?

[2022-04-02 15:11] kodebach commented on #1332
I don't really think there is anything here that is still relevant and not covered somewhere else. The only thing I noticed, was renaming `*IncRef`/`*DecRef` to `*Retain`/`*Release`. We could do it, but since our reference counting mechanism is not exactly standard I think it is good that the name explicitly refers to references.

[2022-04-02 15:12] markus2330 commented on #3834
I still get:

[code]

when running the test. Is this maybe dependent on the version of checkbashism?

I have "devscripts package, version 2.21.3+deb11u1"

[2022-04-02 15:15] markus2330 commented on #1332
Thank you for checking. I agree, we can close this then.

@domhof thank you a lot for the input. We look forward to another review by you :sparkling_heart:

[2022-04-02 15:15] #1332 closed

[2022-04-02 15:35] kodebach commented on #3834
But you only see this when running `ctest` in verbose mode. The `testscr_check_bashisms` doesn't fail, so you normally don't see all the warnings and non-fatal errors. That's what I meant with "the issue doesn't occur". It doesn't occur, as in it doesn't fail CI builds, which was the case originally.

The version probably plays a role too.

[2022-04-02 16:08] flo91 commented on #3834
As @kodebach already mentioned, the difference is that in the first posting the test fails, while currently it passes.
I tried to run the test locally on Gentoo with `dev-util/checkbashisms-2.21.4` via `ctest -V` and got the same output as @markus2330.

Another point is that the checkbashisms-script is not installed in the docker-container that is used when following the tutorial at https://www.li

[2022-04-02 17:34] markus2330 commented on #3834
The proper fix would probably be fixing checkbashisms that it proper deals with non-scripts and does not have "strange results".

For CM and this issue a whitelist/blacklist in the style of e.g. tests/linkchecker.whitelist is probably a nice solution. Goals are:

- newly added shell scripts get checked
- all scripts get checked (there are also shell scripts outside of the folder scripts)
- no warn

[2022-04-02 17:53] kodebach commented on #3834
This happens, because we call `checkbashisms` with a list of file. It therefore tries to check all the listed files. If we don't want the "strange results" and other warnings, we must ensure that only actual shell scripts are given to `checkbashisms`.

So I would actually suggest:
1. Check all files that end with `.sh` (file ending suggests shell script)
2. Check all files that have a shebang
3. N

[2022-04-03 12:29] mandoway commented on #4183
[CM T0]
My colleague @Gratla and I would like to work on this ticket.

I reproduced the issue with (I already had elektra and the according keys installed):
Installing the package:
[code]

test.py:
[code]

And executing: `python3 test.py` results in:
[code]

I found references to `.fullname` in the examples and tests of the python binding.

[2022-04-03 12:36] Gratla commented on #4303
I added some more details to the description above 👍

[2022-04-03 15:07] Gratla commented on #4183
The code/doc which needs to be changed is in the following lines:

https://github.com/ElektraInitiative/libelektra/blob/431888f2d4d229dfee159bf93ce55601b694ecae/src/bindings/swig/python/examples/example_key.py#L7-L13

Do we need to remove the occurences in the following tests/files as well?

https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/swig/python/tests_tools/test_tools

[2022-04-03 15:31] kodebach commented on #4303
The plugin idea looks good. But I would use `meta:/sorted` instead of `meta:/sort`, because you mark arrays that _are sorted_ but don't instruct the plugin _to sort_ the array. Additionally, for the direction `meta:/sorted/direction` should be used. With Elektra we always prefer a hierarchical structure when possible.

[2022-04-03 15:35] Gratla opened #4312 "[CM T0] Correct the behavior for length plugin"
# Expected behavior

- checker plugins should run their validation during ...Get() and ...Set().
- If a validation problem occurs during ...Set(), the plugin should set an error and return -1
- If a validation problem occurs during ...Get(), the plugin should add a warning and continue validation (finally return 0)
- plugins need to have the placements: pregetstorage and postgetstorage in their me

[2022-04-03 15:35] kodebach commented on #4183
Yes, every use of `key.fullname` in Python should be removed or replaced by `key.name`. Which one is appropriate depends on the context. In most cases it should be fairly obvious what to do. Just try to avoid duplicate tests/output/etc. and try not to remove anything that could be important.

[2022-04-03 15:38] mandoway commented on #4312
I reproduced the issue following the tutorial on the plugin page:

[code]

[2022-04-03 15:38] kodebach commented on #4312
Great to see #4059 is slowly getting done fixed.

[2022-04-03 15:47] kodebach commented on #4312
A minor thing, but the part above could be replaced with the following to make the snippet work without additional user input:

[code]

Also, when posting reproduction snippets you don't need to include the `apt update` and `apt install` commands. We'll automatically assume you used the latest release of Elektra.

[2022-04-03 16:09] mandoway commented on #4294
@markus2330

We updated the issue according to the feedback:
- Added responsible team member for tasks
- Added excluded features
- Added implementation suggestion for CMakeLists

[2022-04-03 16:23] kodebach commented on #4294
I think it may be better to just create a Gradle sub-project in the existing `src/bindings/jna`, i.e. just create a folder `src/bindings/jna/kotlin` or similar and add it to `settings.gradle`. Otherwise the dependency between Java binding and Kotlin binding might be unecessarily complicated to implement.

The code base will soon be restructured anyway (in the summer, once CM is done). So keeping t

[2022-04-05 12:49] lukashartl opened #4317 "[CM T0] Improve logging of `elektrad`"
## Steps to Reproduce the Problem

When you start `elektrad`, you get no output at all. It just binds to the socket and leaves an empty screen.

## Expected Result

Get at least a message when the server has successfully started (e.g. bound to the socket).
It would also be great if `elektrad` would do some basic access logging.

## Actual Result

no output at all.

## System Information

- Elektra

[2022-04-06 14:37] kodebach opened #4327 "Jenkins sshPublisher very slow"
The `sshPublisher` step in Jenkins seems insanely slow to me. For example, look at [this build](https://build.libelektra.org/blue/organizations/jenkins/libelektra/detail/PR-4323/9/pipeline/606) it took almost 13 min to copy the docs files (*). I built the docs locally with
[code]
and the three folders that are copied
https://github.com/ElektraInitiative/libelektra/blob/d5eb5deb0a16d90f183faa4ffe74

[2022-04-06 20:05] Eiskasten commented on #3973
@bhampl and I want to work together on this issue. As far as I understand this relates only to the C version of `keyString()`? If so, where can we find the implementation? I was not able to locate the definition in the C sources.

[2022-04-06 20:10] Eiskasten commented on #3975
@bhampl and I want to work on this issue. As far as I can see, none of these definitions exist (anymore)? So the task would be to remove all the related documentation, am I right?

[2022-04-06 20:43] bhampl commented on #3973
As far as I can tell the relevant definition and the implementation are here: https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/include/kdb.h.in#L198 https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/libs/elektra/keyvalue.c#L213-L228 Is this correct?

[2022-04-06 20:47] kodebach commented on #3975
At least `keyGetString` still exists

https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/libs/elektra/keyvalue.c#L326-L353

and is even still declared in kdb.h

https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/include/kdb.h.in#L199

[2022-04-06 20:52] kodebach commented on #3973
Yes, that are the relevant code snippets for this issue. However, I don't think this is a good issue for CM. But if you do #3975 that would already be enough for CM, so no need to find a replacement for this issue.

[2022-04-06 21:01] kodebach commented on #4302
I have now assigned this issue `1p`. This applies, if you just make the packages work, by updating the versions. If you also fix the warnings (Note: not all of them can be fixed), and maybe rework the package (e.g separate packages for docs, experimental plugins, etc.) more points would be awarded. For some ideas, on how the package could be split look at the Debian/Fedora packages.

[2022-04-06 21:37] bhampl commented on #3975
That is what I found:

- `keyGetName()`: [declaration](https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/include/kdb.h.in#L177) and [implementation](https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/libs/elektra/keyname.c#L381-L405)
- `keyGetUnescapedName()`: no declaration but [implementation](https://

[2022-04-06 21:41] Eiskasten commented on #3973
Ok, thank you for clarifying that. I suppose that we should remove us from the assignees as well?

[2022-04-06 21:42] Eiskasten commented on #3975
Sorry for that, I totally missed the whitespaces between the identifier and the parentheses.

[2022-04-07 10:28] mpranj commented on #4327
Yes, I think we already had an issue, but I can not find it.
Transferring many small files is especially slow (thus we see this in the doc job, where >5k files are sent).

@robaerd proposed that we compress & extract at destination to speed it up.

[2022-04-07 11:41] Kochise commented on #4300
Just to be sure, will `Elektra` 1.x features opening/mounting other file formats like `kdb` does ?

[2022-04-07 16:54] kodebach commented on #4327
Has anybody tried calling `rsync` or `scp` directly instead of using `sshPublisher`? Those might handle the small files better. Otherwise, we'd probably need something [like this](https://unix.stackexchange.com/a/10028).

[2022-04-07 18:11] markus2330 opened #4329 "default preferred over fallback"
## Steps to Reproduce the Problem

[code]

## Expected Result

something

## Actual Result

default

## System Information

- Elektra: master

~The problem was probably introduced in keyname overhaul d9a8478478b0009971a070d2990af0b310abfd7e  src/libs/elektra/keyset.c with this change:~

[code]

This does change the logic a bit, but it is not relevant. See below.

[2022-04-07 18:20] kodebach commented on #4329
Nope, that's not the issue. The function `elektraLookupBySpecDefault` is only called here

https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/libs/elektra/keyset.c#L2060-L2091

and this clearly happens, _after_ we checked `fallback`.

I haven't verified this, but I rather suspect that the `default:/` namespace is picked up during the normal cascading

[2022-04-07 18:48] markus2330 opened #4330 "failed with output: No such file or directory"
Compile Elektra with broken "ronn" executable outputs:

[code]

Fix by reinstalling ronn.

[2022-04-07 18:48] #4330 closed

[2022-04-07 18:51] markus2330 opened #4331 "Compilation failure with broken .cargo"
When compiling Elektra master I got:

[code]

can be fixed by removing ~/.cargo

[2022-04-07 18:51] #4331 closed

[2022-04-08 16:26] markus2330 commented on #4300
We wanted to have a shell-friendly syntax and `[]` needs to be escaped. Furthermore, the `/#/` syntax (`#` in between does not have special meaning) better fits the concepts how key names and their hierarchy work.

`kdb file` and verbose error messages should always point you where the underlying files are located. Ideally, you never need "real" paths but unfortunately we are nowhere near that thi

[2022-04-08 16:28] markus2330 commented on #4327
@lukashartl do you have ideas here? Is there maybe a Jenkins plugin which works like sshPublisher but is more efficient for small files?

[2022-04-08 16:30] markus2330 commented on #3742
@dev2718 any updates?

[2022-04-08 17:14] markus2330 commented on #3975
Tip: As these changes are probably quite large, please remove one function after the other in different PRs. Start with the one with the least occurrences.

[2022-04-16 12:22] #2550 closed

[2022-04-18 13:54] lukashartl opened #4333 "[FLOSS] VISION.md: example for ansible no longer working"
## Steps to Reproduce the Problem

[code]

## Actual Result

[code]

## Description

The `ansible-libelektra` module has changed, but the documentation in this repo is still old.

[2022-04-18 13:59] lukashartl opened #4334 "cannot create INI / TOML file with sections"
## Steps to Reproduce the Problem

I tried to do the example from VISION.md.

[code]

Seems like there was a correct INI-Plugin once, but INI now falls back to using the NI-Plugin.

So I checked the TOML Plugin:

[code]

Which also doesn't provide sections.

## Expected Result

Sections :)

## Actual Result

No sections :-(

## System Information

- Elektra: master
- Operating System: Debian 11

#

[2022-04-18 14:05] lukashartl commented on #4327
I also like the idea of just calling the good old UNIX/Linux programs like `rsync` etc.,
but still bothers me, why this just happened out of the blue, because if I look at even older pipeline runs it performed quite reasonable.
I took a look at the general network situation at the VMs, the agents and the community server are running under acceptable network conditions. I'll have a closer look at t

[2022-04-18 15:09] kodebach commented on #4334
`ini` doesn't exist anymore, because it was kind of buggy. The fallback to `ni` is wrong IMHO, falling back to `toml` may work better.

The `ni` plugin uses a very specific format that on the surface looks like INI (as much as something can look like a format without a real specification). However, `ni` is not a general purpose INI format. It is designed specifically for specifications.

[code]

T

[2022-04-18 16:38] lukashartl commented on #4334
Thank you, @kodebach ,

your example works fine if I add quotes:

[code]

So I would not be able to import the default config of samba, but at least I would be able to write something samba should be able to read.
I think `toml` would be a better default for `ini` than `ni` :)

I can also see, what I was missing:

[code]

So I have to add `tomltype` to every keyset of every section of the samba co

[2022-04-18 16:45] kodebach commented on #4334
Yes, that's true TOML needs quotes around strings. In theory the plugin could be adapted to allow unquoted strings. But that 100% spec-conforming TOML, so it would need a config option.

That's a good point. TOML uses the term "table" for sections, so we should probably note that somewhere for people coming from INI.

[2022-04-20 10:55] tucek commented on #2786
yes! i'm not sure whether we really need this ticket anyways, since all java related tickets should be assigned to the "Java bindings overhaul" project

[2022-04-21 04:39] #3733 closed

[2022-04-22 17:15] Kochise opened #4335 "[DOC] Mounting a XML file"
## Steps to Reproduce the Problem

1- Download `note.xml` from https://www.w3schools.com/xml/xml_examples.asp
2- kdb mount -W note.xml user:/sw/myorg/toto/#0/current/
3- kdb ls user:/sw/myorg/toto/#0/current/
4- kdb get sw/myorg/toto/#0/current/note/heading

## Expected Result

user:/sw/myorg/toto/#0/current/note/to
user:/sw/myorg/toto/#0/current/note/from
user:/sw/myorg/toto/#0/current/note/headi

[2022-04-26 21:58] flo91 opened #4337 "Setting of values not working for cascading names with highlevel API"
## Steps to Reproduce the Problem

While working on CM-H2, I noticed that the values are correctly read from the `KDB`, but setting of values fails silently, so everything seems to run smoothly and no `ElektraError` is set, but the changes are not written to the `KDB`.
I used the highlevel-API with code generation for the homework.

To further investigate the issue, I tried a simplified version of

[2022-04-26 22:27] kodebach commented on #4337
Thanks for reporting the issue and providing just a detailed description.

Seems like `elektraSetRawString` is simply broken.

https://github.com/ElektraInitiative/libelektra/blob/f2b9d555a2de6da944781bd9edb4a2a877cd3c35/src/libs/highlevel/elektra_value.c#L160-L168

This just calls `elektraSaveKey` with a cascading key. So AFAICT this just adds a cascading key to the keyset within the `Elektra` ha

[2022-04-26 23:07] flo91 commented on #4337
Thank you for the quick response and the good explanation!

Hm, that seems like a serious issue.
I guess for the CM-homework it's best to explicitely give the user-namespace in the parameter of `elektraOpen(...)` and provide a script that prepares the `KDB` so that the application can work with it.

About choosing a namespace for new keys, I think the most natural behaviour would be
to use the `us

[2022-04-27 12:56] #3750 closed

[2022-04-27 14:24] markus2330 commented on #4335
Thank you for reporting! Probably the note.xml was not at the right place? See https://www.libelektra.org/plugins/resolver how resolving of filenames in different namespaces work. You can always check by using `kdb file`.

Following works for me:

[code]

I get the output:
[code]

And the modified XML file:
[code]

[2022-04-27 20:35] Kochise commented on #4335
Thank for the clarification.

Should the `kdb mount` command fail and return an error code to indicate something went wrong ?

I used `echo $?` but it returned 0.

[2022-04-28 07:23] #4248 closed

[2022-04-28 09:24] Kochise commented on #4335
[code]

[2022-04-28 09:54] kodebach commented on #4335
You can check for plugins that support `xml` with:

[code]

This will only list plugins that are installed on your system. To find out which plugins exist in the source tree, you can look at the `README.md` files of all plugins:

[code]

Both these plugins have external dependencies, so they are excluded from the `PLUGINS=ALL` option if a dependency can't be found. You'll see something like

[code

[2022-04-28 10:02] Kochise commented on #4335
Thank for the feedback.

I just want an xml plugin that do it's job.

The best would have metadata as node attributes, I guess.

[2022-04-29 12:35] #4308 closed

[2022-05-03 17:00] markus2330 commented on #4335
xerces should do what you want

[2022-05-03 17:01] markus2330 commented on #4335
Please open a new issue if there are any further questions! Feedback on how we can improve the user experience is also highly welcomed, e.g., which kind of tutorial would help you in what you try to do with Elektra.

[2022-05-03 17:04] markus2330 commented on #4337
Even if it is not urgent right now, we should not forget to fix this.

[2022-05-04 13:56] Eiskasten commented on #4295
In order to avoid using bindings for two libraries, we will use C to implement the ldif storage plugin.

To answer you questions about the scope:
* we do not plan to implement comments as the `libldap` does not have any support deserializing them from the ldif format
* as ldif files are order sensitive in general, the plugin will remember the order
* besides from the order and comments, there exis

[2022-05-04 14:11] markus2330 commented on #2786
Yes, this is perfectly okay, too!

[2022-05-04 19:42] lukashartl commented on #4299
I also found the following PRs made by dependabot. Those should be easy to review. Mostly they are just upgrading the patch-number (MAJOR.MINOR.PATCH).

**webd (Instance Manager, Backend, Express)**:

* #4339
* #4296

**web-ui (Instance Manager, Frontend, React)**:

* #4332
* #4326

/cc @leothetryhard

[2022-05-09 09:17] Kochise commented on #4335
I reopen the issue because while your answer was pretty clear and I can mount a XML file, I cannot at `user:` level :

[code]

[2022-05-09 09:58] markus2330 commented on #4335
Thank you for your question!

Yes, as you expect you can do multiple mounts and consider all of them with cascading lookup! If all of them should have the same file name, you can use cascading mounts by leaving the namespace during mounting: `kdb mount -W note.xml system:/sw/myorg/toto/#0/current/ xml`.

The trouble you seem to have is that mountpoints in `user:` always prefix the mounted files wi

[2022-05-09 11:03] Kochise commented on #4335
Ok, that "makes sense", in a way, that the `user:` configuration is looked for inside the user's folder.

But I think I'm doing something wrong :

[code]

I don't quite understand.

[2022-05-09 21:13] tucek opened #4343 "Adding default interface implementation for all Java Plugin functions except get"
While reading up about the changes to the Java plugin facility, i stumbled across the necessity to implement all functions (open, get, set, error, close), even if a plugin does not support them.

I propose to alleviate this current requirement by adding default implementations for all `Plugin` interface methods except get. These default implementation would just throw `UnsupportedOperationExceptio

[2022-05-09 21:14] tucek commented on #4343
@markus2330 should i proceed with providing a PR, or do we need to discuss this proposal first?

[2022-05-09 21:24] tucek commented on #4129
@markus2330 I would spawn an issues dealing with updating teh Kava bindings only, ok? (or is there already an issue, i did not find?)

[2022-05-09 21:37] kodebach commented on #4343
Sounds good. I'm actually not sure, why I didn't do this when creating the new API...

Actually, I initially had a version of the interface, where the published functions are defined separately, by an interface method that returns e.g. a `EnumSet<PluginMethod>`. We didn't go that route because it was too different from the C API, but I still think it would be a good idea.

My reasoning is this:
1.

[2022-05-09 21:56] tucek commented on #4343
I agree. So then the default implementation of `get` would handle calling an interface method `KeySet getContract()` (without default implementation). It would make use of a static interface function `boolean Plugin.isContractKey(Key parentKey)` and i would also add `Plugin.publish*(KeySet keySet)` functions referening them in the java doc of `KeySet getContract()`.

The use of enums would not bri

[2022-05-09 22:04] kodebach commented on #4343
No the idea was that `getContract()` is called separately from the `ProcessProtocol` class at this point

https://github.com/ElektraInitiative/libelektra/blob/eac1c6a74cb75bb84ebfae2247b3cc531259ded8/src/bindings/jna/process/src/main/java/org/libelektra/process/ProcessProtocol.java#L41-L46

Similarly, a `getPublishedMethods` method would be called, the `enum` values would be translated into the co

[2022-05-10 09:28] markus2330 commented on #4343
Adding the default methods in the interface sounds useful to me. As this is not an incompatible API change, it could be added straight away.

For the API changes I think its best if we write some decisions so that the API becomes coherent and follows the same principles everywhere. We shouldn't push these changes to master during the term anyway. Please don't make the changes too big, so that we a

[2022-05-10 09:29] markus2330 commented on #4129
Yes, please open new issues as needed. Simply link in the list above to the issue.

[2022-05-10 09:46] kodebach commented on #4343
In theory a good idea. But the Java API is already a completely separate thing since it lives on the other side of the `process` plugin. So in this case, the protocol used by `process` is the public API. What the clients (currently only Java) do on their side of the protocol doesn't need coordination IMO. In fact, I think it is much better if the client side API is a good fit for the language than

[2022-05-10 10:51] Gratla commented on #4129
@tucek as stated above by @mandoway, him and I want to do the java binding within the CM course.

[2022-05-10 11:32] Kochise commented on #4335
Then why did this happened :

[code]
[code]

How do `elektra` manage to know the system and user paths ?

[2022-05-10 12:30] markus2330 commented on #4335
This is only a note, it should have worked anyway? As written in the output, with `-q` you can get rid of the note.

Elektra uses CMake variables and APIs (e.g. for home dir). See https://www.libelektra.org/plugins/resolver

[2022-05-10 13:13] Kochise commented on #4335
Ok, I'm starting to get it, thank you.

[2022-05-10 16:25] #4335 closed

[2022-05-11 04:54] markus2330 commented on #4294
@tucek are you fine with having the Kotlin binding within the jna binding?

@kodebach I don't know about a restructure of the jna binding in the summer. Do you plan to do it?

[2022-05-11 07:30] Kochise opened #4347 "allow mixing HL and LL"
Hi, mixing high-level with low level, I try to keep/set metadata :

[code]
[code]
[code]
[code]
[code]

Now I'm using high-level API to update this key

[code]

It works, yet all the previously set metadata are gone, but the type (which might be reset by the function) :

[code]

So before setting the key's value, I save the metadata using `KeyGetMetadata` with something in the like of :

[code]

W

[2022-05-11 08:07] kodebach commented on #4294
I was talking about the `library_directory_structure` decision in #4243. With that structure we'd have a top-level (in `src`) Gradle setup. So then I'd move the Kotlin stuff to `src/bindings/kotlin`, because then it is easier to add the dependency on the underlying Java binding (since it's still the same Gradle project).

I referred to the summer, because I assumed we won't touch the CMake/Gradle/

[2022-05-11 11:23] markus2330 commented on #4347
Thank you for reporting! :+1:

This looks like a bug to me. Setting keys in high-level API unfortunately is buggy: #4337, and there are also usability problems:  #3938. Mixing high-level and low-level is new terrain, I don't think it was tried before.

I would expect that, in general, metadata should be preserved (e.g. think of "comment"). `type` of course needs to be changed if it isn't the type

[2022-05-11 11:29] Kochise commented on #4347
Thank you for your feedback.

Indeed, currently I'm creating a wrapper around `Elektra` to "simplify" things because as you can see with my many questions, sometimes it is a bit "too much" for storing values.

Hence I set some default values and constants at `system:` level then just open a handle on `user:`.

The main purpose is to store everything in on XML file : path, key, value and also metad

[2022-05-11 11:39] markus2330 commented on #4347
@kodebach can you also take a look here? Would be great to get the problems of the HL API fixed.

[2022-05-11 11:48] markus2330 commented on #4347
`spec:` also allows you to set defaults, which get returned if the key is neither in user: nor in system:. Metadata in other namespaces than `spec:` are actually only for the situation if the metadata is specific to the key of this namespace (like comments).

@flo91 did you also run into this bug?

[2022-05-11 11:51] Kochise commented on #4347
@markus2330 Thank for the clarification about `spec:` vs `user:`, it all depends if I could "redirect" those `spec:` metadata to the same mounted XML file. That would be super nice.

[2022-05-11 11:56] markus2330 commented on #4347
`spec:` gets written to its own file, usually in /usr/share/elektra/specification (but can be any file if you use absolute paths). I wouldn't recommend you to use the same file you already mounted somewhere else (it might work if you never write there but it is a call for trouble. If you try it, please report what happened).

[2022-05-11 12:03] kodebach commented on #4347
From the code snippets above, I'm not sure, if you actually persisted the changes onto disk. Did you call `kdbSet` or for the high-level API `elektraSaveKey` after modifying the metadata?

`keySetMeta` only modifies the in-memory data-structure. A call to `kdbSet` is needed to persist changes (`elektraSaveKey` makes this call and also does some error handling). The `elektraSet*` functions from the

[2022-05-11 12:45] markus2330 commented on #4294
@tucek good idea to have separate tasks! :+1:

@kodebach thank you for clarifying!

[2022-05-11 12:59] markus2330 commented on #4343
On 15th of June are the last deadlines, from then we can merge. Decisions are very welcomed, it is not only consistency across the framework but also across generations of maintainers. The next person (co-)maintaining the Java-bindings also should know about the basic principles you used. If you don't like the decisions format, something like doc/DESIGN.md for Java would be fine, too.

[2022-05-11 13:10] Kochise commented on #4347
@kodebach Thank for the clarification, but since I'm using `elektraSetLong` at least the already present metadata should remain. Which is obviously not the case.

[2022-05-11 13:22] tucek commented on #4343
@markus2330 I'm not familiar with the decisions format yet. IMHO I also don't think there is much of a decision to be made here, The Java binding should provide an easy and uncomplicated way of implementing Elektra plugins in Java. So I would prepare the following changes to reduce boiler plate and error proneness:
* Adding default implementations (throwing `UnsupportedOperationException`) for `Pl

[2022-05-11 13:35] markus2330 commented on #3826
@Kochise is this bug maybe relevant for you?

[2022-05-11 13:41] tucek opened #4348 "KeySet ref counter in Java bindings"
The new reference counting for key sets that was implemented in #3949 still needs to be implemented in multiple bindings. For an overview of all bindings needing changes, see #4129.

This issue tracks the integration of the new key set reference counter for the Java binding only. There has some discussion regarding this change in #4129.

[2022-05-11 13:42] tucek commented on #4129
@Gratla @mandoway I've added #4348 to track the changes for the Java bindings.

[2022-05-11 13:57] #3876 closed

[2022-05-11 13:59] tucek commented on #3881
Is this still an issue? I think this issue can be closed due to mounting java plugins via the process plugin.

[2022-05-11 14:03] tucek commented on #3875
@kodebach I think `Cleaner` implementation should be re-enabled due to mounting java plugins via the process plugin. Do you concur?

[2022-05-11 14:12] kodebach commented on #4343
Since the `process` plugin (and its protocol) don't allow additional methods, this can only be used for the standard methods.

Since I had this idea, I'll clarify: It's not needed, but using the enum provides more type-safety. The idea was also to abstract some of the details of the contract `KeySet`, which people don't really need to know (e.g. the correct parentKey). However, since you need to p

[2022-05-11 14:12] kodebach commented on #3875
Yes, we should at least open a PR and to see if it works.

[2022-05-11 14:26] markus2330 commented on #3754
Great! Are java docs also built in the CI?

[2022-05-11 14:43] tucek commented on #3875
I tend to do this together with #4038 in the same PR, because the topics are quite connected. ok?

[2022-05-11 14:53] tucek commented on #4343
If we do not want to add `EnumSet getPublishedPluginMethods()` (thereby reducing the possibility for the plugin author to make a mistake when publishing plugin methods), i would again propose to at least provide the following static function with the `Plugin` interface:
* `Plugin.publishOpen(KeySet keySet)`
* `Plugin.publishGet(KeySet keySet)`
* `Plugin.publishSet(KeySet keySet)`
* `Plugin.publish

[2022-05-11 15:02] kodebach commented on #2786
If we do, we should implement `SortedMap` or `NavigableMap`. But I think implementing `Set` and `Map` could be confusing. We should decide on one of them.

I don't think we need `Cloneable`. We have `keyDup`/`ksDup` whose semantics might be slightly different. Adding `Cloneable` could cause confusion.

I have no idea, what this entails exactly. But I think the `process` protocol is not related her

[2022-05-11 15:34] Kochise opened #4349 "[DOC] How to change default system: and user: locations"
I'd like to change `Elektra` default locations from `/etc` and `~` to some other locations.

Mostly because working from RAM in a `Docker` lost when shutting down unexpectedly.

Hence those default locations should be redirected to flash storage that is more "persistent".

I've seen about :

https://github.com/ElektraInitiative/libelektra/blob/master/src/include/kdbconfig.h.in

https://www.libelek

[2022-05-11 16:30] markus2330 commented on #4349
The resolver_fm_xhp_x accepts the environment variables HOME and XDG_CONFIG_DIRS, this should do what you want? (There are also other variants, e.g. resolver_fm_xp_x doesn't accept HOME but accepts XDG config dirs.)

[2022-05-11 16:39] Kochise commented on #4349
That indeed looks like it. Can all the "locations" be changed as well ? Even `spec:` ?

[2022-05-11 17:54] markus2330 commented on #4349
spec: (schemata) isn't included in the XDG standard, so there isn't a env var for it, see #734

`kdb change-resolver-symlink` might be useful for you to change the resolver for all mountpoints.

In very short: The one accepts XDG env vars, the other only HOME and USER.

See [doc/COMPILE.md](https://www.libelektra.org/compiling/compile) for the description of all flags. I agree this should actually

[2022-05-12 07:21] Kochise commented on #4347
Tried to commit metadata this way (not the brightest idea I guess) :

[code]

Got this in return :

[code]

[2022-05-12 10:02] Kochise commented on #4349
What is the difference between those resolver :

[code]

[2022-05-12 13:22] markus2330 commented on #4349
Quoting is incorrect here.

Are you sure this resolver exists on your system?

That is not possible. Only the resolver with x understands the [XDG variables](https://specifications.freedesktop.org/basedir-spec/latest/ar01s03.html).

Isn't the better option to recompile Elektra so that paths suitable for your system are used? XDG environment variables are only a compatibility feature for people who

[2022-05-12 14:43] Kochise commented on #4349
Seems like that's what I was looking for, yet didn't quite understood their configuration and usage.

Could you provide a quick functional example ?

[2022-05-12 17:09] markus2330 commented on #4349
I gave an example:

[code]

What are you missing?

[2022-05-12 17:43] Kochise commented on #4349
[code]

Like that ?

[2022-05-12 17:47] markus2330 commented on #4349
I don't know which paths you want but it could be like that :rocket:

[2022-05-13 06:52] Kochise commented on #4349
Ok, thank you, I just wanted to be sure about the syntax being right :)

[2022-05-13 14:37] h-s-evbox commented on #4349
@markus2330 I'm following up the question by @Kochise
I tried the following and it works
`
kdb mount -W --resolver resolver_fm_xhp_x note.xml system:/sw/myorg/toto/#0/current/ xml
XDG_CONFIG_DIRS="/var/tmp" kdb file system:/sw/myorg/toto/#0/current/
`
Then to write to the file in `/var/tmp/note.xml`:
XDG_CONFIG_DIRS="/var/tmp" kdb set system:/sw/myorg/toto/#0/current/path2/KEY2 "test"
`
We have to

[2022-05-16 05:02] lukashartl commented on #160
The community server and build system will be down from 07:15 CEST to approx. 07:30 CEST for updates & maintenance.

[2022-05-16 10:17] markus2330 commented on #4349
If your goal is actually to get "note.xml" from different folders, the `dir:` namespace might be what you want! Then it simply gets the config file from the current working directory, e.g.:

[code]

Programmatically you would use chdir within the program (before you use kdb commands).