[2019-09-21 18:08] markus2330 commented on #2990
Does it also happen before importing?

Can you give us the output of `kdb mount` (or even `mountpoint-info`).

[2019-09-21 18:11] markus2330 commented on #2840
Exactly. The idea is that we remove kdbproposal.h but when we introduce experimental features (or maybe even some features of #2993) we guard these prototypes with such experimental defines.

[2019-09-21 18:11] markus2330 commented on #2840
My question was: do we need to modify `kdb.h` now so that we can later add such defines?

[2019-09-21 18:12] markus2330 commented on #2994
@Mistreated @ingwinlu Do you have an idea what this could be?

[2019-09-21 18:12] markus2330 commented on #2995
It is very likely that this is related. Maybe the docker registry is down?

[2019-09-21 18:13] markus2330 commented on #2996
Thank you for reporting this problem!

[2019-09-21 18:13] markus2330 commented on #2997
Thank you for reporting this problem!

[2019-09-21 18:26] raphi011 commented on #2990
no :P

kdb mount
[code]

kdb mountpoint-info
[code]

[2019-09-21 19:28] raphi011 commented on #2962
@markus2330 ping :)

[2019-09-21 21:12] markus2330 commented on #2962
`-L${libdir}` is there but `-lelektra-core ...` is missing (see other pkg-config files)

[2019-09-21 22:36] raphi011 commented on #2962
sometimes life could be so easy... thanks

[2019-09-22 06:45] sanssecours commented on #2995
I do not think so. At least

[code]

and downloading an images via

[code]

seems to work.

[2019-09-22 06:53] sanssecours commented on #2995
Looks like the problem is the [build server `v2-debian-buster`](https://build.libelektra.org/jenkins/job/libelektra/job/master/977/console):

. I temporarily took the node offline and fetching the images now seems to work again.

[2019-09-22 06:58] sanssecours commented on #160
I marked [node `v2-debian-buster` as temporarily offline](https://build.libelektra.org/jenkins/computer/v2-debian-buster/), since it does not seem to work correctly. For more information, please take a look at issue #2995 (and issue #2994).

[2019-09-22 07:59] markus2330 commented on #160
Thank you for looking for the infrastructure!

v2 was out of disc space. I executed `docker system prune` Total reclaimed space: 58.37GB

Then I rebooted v2 and made the agent connect again.

I now executed `du -h | sort -h` to find other files to be removed.

[2019-09-22 08:01] markus2330 commented on #2994
I started libelektra-daily manually now (after making space on v2)

[2019-09-22 08:13] markus2330 commented on #2990
Ahh, ok. I see the problem.

elektra.ecf in the configs contains a mountpoint which uses simplespeclang (which does not exist anymore).

Can you do `kdb umount /tutorial/schema` (and maybe other umounts if there are other errors) and update the elektra.ecf in the blobs repo?

[2019-09-22 08:35] markus2330 commented on #2992
Exactly, and ksExtract is basically only `ksDup` with filter.

Thank you for looking into the details. But I think ksExtract is only an new feature and does not really help for 1.0.

The optimization for ksCut is a very good idea, can you maybe split this up in a second issue? But for 1.0 we also only should do optimizations which are really important (have use cases that are too slow otherwise.)

[2019-09-22 08:46] markus2330 commented on #2991
I fully agree that the docu is not good. ksAtCursor was only a prototype API to implement iterators for C++ and never got the attention it should have had.

Maybe we should rename ksAtCursor to `ksAt (KeySet * ks, size_t index)`? This would make more clear that it is simply an array access and has nothing to do with the cursors?

The internal iterator+cursor API ideally should be removed but this

[2019-09-22 09:07] markus2330 commented on #2994
I stopped v2 and restarted libelektra-daily again. Seems like something is still damaged on v2.

[2019-09-22 11:57] kodebach commented on #2992
Not sure, what I want say here... `ksExtract` is technically only a limited `ksDup`. Sometimes you need exactly that and without `ksExtract` you get a lot of unnecessary overhead (either copying and deleting additional keys, or cutting and appending needlessly).

Replacing `ksDup` with `ksExtract` would be possible, like you said, but it would be a confusing naming scheme. If we only want a single

[2019-09-22 12:16] kodebach commented on #2991
Yes, that would make more sense. Maybe we should even just add `const Key ** ksArray (KeySet * ks);`. Then the iteration could be fully external and we would avoid the overhead of a function call and the `if`s to avoid out of bounds issues.

That would break a lot of code. IMO we should do it before 1.0, even if it is a big change.

Benchmarks should be easy enough to create.

The low-level versio

[2019-09-22 12:21] Piankero commented on #2996
I searched through all available code via regex and found some other old occurrences too. I fixed them in my general improvement branch: https://github.com/ElektraInitiative/libelektra/pull/2950/commits/1b1cc111323e4bdffbf2f4f62a4633701f81e60a

[2019-09-22 13:12] sanssecours opened #2999 "Jenkins: Unable to Connect to `i7-debian-buster`"
# Description

One of the newer Jenkins problems seem to be [connection errors to `i7-debian-buster`](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2998/2/pipeline/611/):

.

[2019-09-22 13:30] sanssecours commented on #2984
Seems like setting

[code]

to a value of `300` in the [main Script Console](https://build.libelektra.org/jenkins/script) [did not solve problem](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2998/2/pipeline/625#step-699-log-2281). I executed

[code]

in the [Script Console of `i7-debian-buster`](https://build.libelektra.org/jenkins/computer/i7-debian-buster/

[2019-09-22 16:08] markus2330 commented on #2991
Yes but it also would be less safe. It would be interesting what the overhead is.

Yes, if we somehow manage to do it, it would be great to have it fixed for 1.0.

If you need a few more pages in your thesis, it would be great to have it :sparkle:

Micro-benchmarks should also do.

[2019-09-22 16:09] markus2330 commented on #2996
Thank you! But please take care that the PR is not getting too big. It would be good to merge it soon.

[2019-09-22 16:11] markus2330 commented on #2999
Maybe it was only a short connection problem? At the moment i7 is executing a build job.

[2019-09-22 16:12] markus2330 commented on #2984
Thank you!

What about adding to the Jenkinsfile? Then it will also survive restarts.

[2019-09-22 16:56] sanssecours commented on #2984
That would be probably be a good solution, but only if we know that setting `HEARTBEAT_CHECK_INTERVAL` really gets rid of the problem.

[2019-09-22 16:59] sanssecours commented on #2999
That might be the case. However, I still think it makes sense to keep this issue open until we know that it wont happen again (often) in the near future.

[2019-09-22 17:02] d3nwp commented on #2982
here: [cpptype](https://www.libelektra.org/plugins/cpptype)

[2019-09-22 17:08] markus2330 commented on #2982
Ahh, ok. Yes, the website is a bit out-dated because of #2897

a7.libelektra.org should contain a later version (from successful master builds)

[2019-09-23 06:16] sanssecours commented on #2999
Jenkins just reported [another error on `i7-debian-buster`](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/981/pipeline) that seems to be similar to the one described in this issue:

.

[2019-09-23 07:16] PhilippGackstatter commented on #2840
So where (in what file) do the prototypes live? Directly in `kdb.h`?

[code]

I think the anwer is no. It seems straightforward to me (as seen above), but I also haven't worked much with the preprocesor before, so maybe I'm missing something.

[2019-09-23 08:36] markus2330 commented on #2992
If we can efficiently extract/cut arrays, we actually do not need to store the length of arrays, do we? We could reconsider doc/decisions/array.md

[2019-09-23 08:39] markus2330 commented on #2992
Another idea: what about a `ksLookup` option to find the element hierarchically after some key.

So something like `ksLookup(ks, "user/test/abcd", KDB_O_HIERARCHY)` would return
user/test/xyz

[2019-09-23 08:55] PhilippGackstatter commented on #2730
Due to the missing system dependency of libelektra in the docs.rs build environment, the documentation didn't build. Additionally, they will change the build environment on September 30th.
I submitted a [request](https://github.com/rust-lang/crates-build-env/issues/21) to add libelektra as a dependency so that it will build correctly on September 30th. He also added the package to the existing env

[2019-09-23 09:12] markus2330 commented on #2999
Thank you for reporting! Does restarting the job fix the problem?

[2019-09-23 09:19] markus2330 commented on #2730
Very nice, they reacted super-fast. Will it be a problem that they build it with a quite old libelektra? (I did not check which version but if they include it from the package manager it will be definitely older than 0.9.)

[2019-09-23 09:21] markus2330 commented on #2840
Yes.

So we basically only need to fix docu in doc/todo/API to resolve this issue.

Should we require everything to go through experimental phases?

[2019-09-23 09:32] kodebach commented on #2840
If there is a possibility that the API changes in future, it should be made experimental. Straightforward things, like the proposed function to expose the meta Keyset, probably don't need an experimental phase.

[2019-09-23 09:40] sanssecours commented on #2999
Probably, but the Jenkins build might fail again, because of [various other problems](https://github.com/ElektraInitiative/libelektra/issues/2967). As far as I can tell, the probability that the whole Jenkins build finishes successfully is less than 50%.

[2019-09-23 10:27] PhilippGackstatter commented on #2730
No problems for the `elektra` crate, since it's only documentation. `elektra-sys` I think contains whatever version of elektra it was generated against instead of the current one. But I think hardly anyone would use the raw bindings instead of the wrappers. So a small trade off for having docs automatically built.

[2019-09-23 12:07] kodebach commented on #2992
Both the `spec` plugin and the high-level API rely on the `array` metakey. In general I also think that storing the size of an array separately is a good idea. It is basically the same reasoning that also explains, why most (if not all) modern programming languages store string sizes, instead of calculating them when needed like C.

What we should do instead, to make handling of arrays easier, is

[2019-09-23 12:56] PhilippGackstatter commented on #2840
Yes I agree. I think this has to be decided on a case-by-case basis, but I would always tend towards introducing an API in an experimental phase first.

[2019-09-23 13:54] PhilippGackstatter commented on #2983
When would someone call this function and if it doesn't exist, not want to create a new one?

With this signature, every time a user wants to access the keyset, an additional argument has to be passed: `keyMetaData(key, 0)`. So the majority of calls would look like that, and only one would be with `KDB_O_CREATE`. It'd be much nicer if it was only `keyMetaData(key)`.
Can we not create the keyset by

[2019-09-23 15:21] markus2330 commented on #2983
To find out if meta-data exist at the moment. Alternatively, we could also provide a `keyHasMeta`.

But in general such flags are nice as they allow to extend APIs without any compatibility issues (older versions can simply ignore the flags).

In programming languages with overloading or default parameters it will look like this anyway.

[2019-09-23 15:37] markus2330 commented on #2855
#2967 now contains a full list of problems, I hope we can fix this soon to have one problem less :+1:

[2019-09-23 15:39] markus2330 commented on #2967
For the Haskell problems we can remove the haskell bindings/plugins. They are not maintained anyway.

[2019-09-23 15:39] markus2330 commented on #2999
That is really not good. Luckily, Djordje now starts working on it.

[2019-09-23 15:40] markus2330 commented on #2730
Can you then add the links to the docu within our repo?

[2019-09-23 16:18] kodebach commented on #2983
Yes, `if (keyMetaData (key, 0) == NULL)` is a bit shorter, but `if (ksGetSize (keyMetaData (key)) == 0)` works just as well.

Also, most of the time you would be calling `keyMetaData (key, KDB_O_CREATE)`, since you actually want the function to create the KeySet. That means the flag would be even more annoying.

[2019-09-23 16:39] markus2330 commented on #2983
We could also make `KDB_O_CREATE` the default and give a flag for not creating.

Not if you simply want to iterate over the meta-data (like spec plugins and many others are doing). If we would create keysets in this case, we might create a useless KeySet for every key. And roughly estimating, I am afraid that even a empty KeySet is at least 100 byte.

[2019-09-23 17:07] kodebach commented on #2983
How about adding `int keySetMetaData (Key * key, const KeySet * metadata)` to replace the whole metadata keyset. This would also allow removing the metadata keyset once created.

[code]

[2019-09-23 17:16] markus2330 commented on #2983
Nice idea, but with this implementation you could not get the meta-data? What about:

[code]

[2019-09-23 17:20] kodebach commented on #2983
You misunderstood... `keySetMetaData` (for setting keyset) would be in addition to `keyMetaData` (for getting keyset).

With your version, there is no way to remove the metadata keyset.

[2019-09-23 17:23] markus2330 commented on #2992
Good to know! This is completely undocumented in doc/METADATA.ini where array is still an unused and only proposed feature.

Yes, I agree. But this is not essential for 1.0.

The key after the cut point (as you described above).

ksLookup already has a switch (or cascading if) for the options. So adding another option should not create a performance impact.

This we need to consider anyway.

Have

[2019-09-23 17:25] markus2330 commented on #2983
Ok, but then your implementation has the "problem" that anybody who wants KDB_O_CREATE needs:
[code]

[2019-09-23 18:02] kodebach commented on #2983
That's why I called it `keySetMetaData`. That way `libmeta` can still implement the old `keySetMeta`, which is sufficient for many use cases.

Also my version of `keySetMetaData` could also return `key->meta` on success and `NULL` on error. (Yes, `keySetMetaData (key, NULL)` would always return `NULL`, but that doesn't really matter.) Then the `KDB_O_CREATE` case would be:

[code]

[2019-09-23 18:40] kodebach commented on #2992
Then your example should have been one of:

[code]

Like I said, it would be a tiny performance impact, but `ksLookup` is called thousands of times in an application (about 20 000 times in a minimal `LCDd` setup) so even that could matter.

In terms of performance?

Don't we want to get rid of the internal cursor? (https://github.com/ElektraInitiative/libelektra/issues/2991#issuecomment-533862034)

[2019-09-24 05:39] markus2330 commented on #2855
happened in https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-1950/70/pipeline

[2019-09-24 05:49] markus2330 commented on #2995
I upgraded Docker on v2. When I type:

`docker pull hub-public.libelektra.org/build-elektra-alpine:201909-78555f42df1da5d02d2b9bb9c131790fcd98511c3dea33c6d1ecee06b45fae55` it works (pulls the image) but when I use `docker pull hub.libelektra.org/build-elektra-debian-buster-doc:201909-75ef639fd76156c406114ce9c5ebf0c6741319a31ae5f2f6782fc9092bfbc9ae`, then following error happens:

[code]

@Mistreat

[2019-09-24 05:52] markus2330 commented on #160
I started v2 again with a new Docker version. Please report broken builds immediately.

[2019-09-24 05:53] markus2330 commented on #2994
libelektra-daily was working, I now try with new Docker version on v2.

[2019-09-24 06:05] markus2330 commented on #2995
With v2 connected, the same error happen again: https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/987/pipeline/44

[2019-09-24 06:07] markus2330 commented on #2994
Also the daily fails: https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra-daily/detail/libelektra-daily/577/pipeline

[2019-09-24 07:25] PhilippGackstatter commented on #2983
That would complicate the API in comparison to today though, where we simply have setter and getter for metadata. (If we forget about the specifics of `keyGetMeta`). Is there a good reason why users should have to manage the meta-keyset of a key in that way?

I like the idea of having a `keyHasMetaData` and a `keyGetMetaData`, which creates the keyset if it doesn't exist. No flags, and no need for

[2019-09-24 07:41] PhilippGackstatter commented on #2730
Yes, I'll add it to the existing PR

I will look into this.

It's typical for -sys crates to not have docu (for example [openssl-sys](https://docs.rs/openssl-sys/0.9.49/openssl_sys/)), because they are one-to-one translations of the C equivalent. So one has to look up the C doc directly. I'd also have to hand copy all the docu, which adds another maintenance burden. I can link to https://doc.libel

[2019-09-24 08:41] markus2330 commented on #160
I reinstalled docker, purged all configs, and removed /var/lib/docker. Hopefully this fixes it.

v2 will be included again.Please report broken builds immediately.

[2019-09-24 09:15] markus2330 commented on #2983
@kodebach @Chemin1  can you live with:

[code]

to get rid of metadata, you need to `ksClear(keyMeta(key)); keyHasMeta (key); // -> false`. (keyHasMeta will then actually get rid of the KeySet by calling ksDel).

Then built on these two functions we can move following nine functions to libmeta:
[code]

keyIsBinary simply is: `ksLookupByName(keyMeta(key), "binary", 0) != 0` but within libmeta we ob

[2019-09-24 09:21] markus2330 commented on #2999
Happened again:

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/988/pipeline

[2019-09-24 09:25] markus2330 commented on #2994
Failed again, even with completely fresh docker. So maybe it is a network problem? (ssh tunnels unstable or similar)

[2019-09-24 09:29] PhilippGackstatter commented on #2983
I like this solution, overall.

But what's wrong with `ksDel(keyMeta(key));` to remove metadata?
`keyHasMeta` should take a `const Key* key` and not have side effects, ideally.

Also `keyIsBinary` and `keyIsString` are part of `keytest` and not `keymeta`, why do they move to `libmeta`?

[2019-09-24 09:32] PhilippGackstatter commented on #2730
It's fixed in #2980, and will be fixed on docs.rs the next time we publish the crate.

[2019-09-24 09:33] markus2330 commented on #160
As suggested [here](https://issues.jenkins-ci.org/browse/JENKINS-23419) I now executed

[code]

and I also restarted i7 (there were many docker interfaces, they are gone now)

[2019-09-24 09:36] markus2330 commented on #2730
Yes, good idea!

[2019-09-24 09:39] markus2330 commented on #2983
How can the key know that it's meta-data has been deleted? When someone tries to access it later, he/she will get a pointer to a deleted KeySet. So actually, we need to protect the meta-data keyset from removal.

src/libs/elektra/keytest.c is a file belonging to the core.

[2019-09-24 09:45] markus2330 commented on #160
a7 is rebooting

[2019-09-24 09:50] markus2330 commented on #160
docker-ce is now everywhere 5:19.03.1~3-0~debian-buster

[2019-09-24 10:13] sanssecours commented on #160
Looks like the [`master` build failed again](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/997/pipeline), because of connection problems to `v2-debian-buster` (see also issue #2995).

[2019-09-24 10:21] markus2330 commented on #160
I asked our admin to look at the switch between a7/v2/i7. Let us deactivate v2/i7 for now.

I restarted libelektra/master and libelektra-daily.

[2019-09-24 10:48] markus2330 commented on #2992
Yes, also performance, as the symbols need to be looked up when loading the libs. KDE hat huge problems with this but they also have an order of magnitude more libs.

Realistically, we will only be able to remove it from the public interface but not completely. Also the error messages need to be updated to contain the cause (@Piankero) because at the moment the cursor marks where the error happene

[2019-09-24 11:44] kodebach commented on #2983
I think that is actually a dangerous solution. This way you **must** check `keyHasMeta` before calling `keyMeta`, if you just want to iterate metadata. I think the second parameter to `keyMeta` might be the best solution after all. However, I don't think we will ever need other flags apart from `KDB_O_CREATE`, so IMO we should make it a boolean parameter.

[code]

I also still think that we should

[2019-09-24 12:12] kodebach commented on #2992
Why? Where do we actually need the internal cursor?

I don't think this is always the case. In certain situations, `kdbGet` executes more plugins after an error and many plugins don't set the cursor to the key that caused the error in the first place.

`KDB_O_CREATE` and `KDB_O_DEL` might also be used in some places, though the should be easy to replace.

[2019-09-24 13:43] markus2330 commented on #160
We changed the ports for all 3 PCs.

[2019-09-24 14:03] markus2330 commented on #2992
Maybe nowhere (except for the old system to pinpoint which key caused the error) but there are 271 occurrences of ksNext in the folder "src". And in these 271 places it is not enough to replace a function call but you actually need to rewrite loops. So there are also plenty ways of how bugs can be introduced.

Yes, exactly.

In only about 10 places, so this should be manually doable in one day of

[2019-09-24 14:07] markus2330 commented on #2983
Alternatively, we could always create a KeySet but make the KeySet not allocate an array by default. (If called by `ksNew(0)`). Then we would not need keyHasMeta.

[2019-09-24 14:15] markus2330 commented on #2840
Thank you for the input! I updated doc/todo/API

The resulting issue is #2993

[2019-09-24 14:15] #2840 closed

[2019-09-24 14:36] markus2330 commented on #2994
libelektra-daily now succeeded on v2!

The solution seems to be to remove /home/jenkins

I now did the same with i7. Let us hope this brings more stability again.

[2019-09-24 14:36] kodebach commented on #2983
Even without an array allocating a KeySet is wasteful. `sizeof(struct _KeySet)` is about 60 Bytes. And the problem isn't even the amount of memory, it's more the amount of unnecessary `malloc` calls.

[2019-09-24 14:49] markus2330 commented on #2983
Yes, I know. But it seems like we need a trade-off usability vs. memory here. The API that makes everyone happy, needs a bit more memory.

Without internal iterator and without hashmap the KeySet could be about 20 bytes. And nearly all data-structures could be directly embedded (key, value and Meta-KeySet could be directly in Key), it is only that nobody did these optimizations so far (and I also

[2019-09-24 14:51] kodebach commented on #2992
I never said it would be easy

[2019-09-24 15:24] kodebach commented on #2983
I'm fine with always allocating a KeySet, modern systems should have enough memory. Thinking about it most keys will have metadata anyway. Most keys without metadata are probably only temporary structures inside some plugin/library.

Nevertheless, there is one optimisation I would say is absolutely necessary. If a key is created with `KEY_META_NAME`, i.e. it is a metakey. We shouldn't allocate the

[2019-09-24 15:30] Chemin1 opened #3006 "Tutorial for merge into Debian package"
As the tutorial elektra-merge-integration.md has been removed in [this pull request](https://github.com/ElektraInitiative/libelektra/pull/2941#event-2634456496) we should write a similar tutorial.

[2019-09-24 15:32] markus2330 commented on #2983
Yes, I fully agree!

I do not know if the KEY_META_NAME is the best idea, though. Maybe we should simply put meta-data also in its own name-space meta.

So meta/binary instead of simply binary. (Or meta:/binary if we can do #1037)

[2019-09-24 15:48] kodebach commented on #2983
Yes, that might be a good idea. Although it is a huge problem for backwards compatibility.

[2019-09-24 17:34] markus2330 commented on #2983
During 0.9.* backwards compatibility is not important. Lets try to get the best solution we can get with our time budget.

[2019-09-24 18:44] raphi011 opened #3007 "Make port + host of elektrad configurable"

[2019-09-24 18:47] markus2330 commented on #3007
Thank you for creating the issue!

[2019-09-25 07:37] PhilippGackstatter commented on #2983
Maybe we can continue to use `keySetMeta` and `keyGetMeta` like today, by having them prefix the provided name/keyname with `meta/`, so we could continue to use the API like today. It would also be weird to call `keySetMeta("meta/key", "value")` even though the "metaness" of the key is implied in the function name.

On the other hand, this might be confusing for new users if they can use the get/s

[2019-09-25 09:20] Chemin1 commented on #2983
This seems like a useful function to me.

 I would not expect a function called `keyHasMeta` to delete something as a side effect either.

I'd much rather type an additional parameter than having the precondition that keyHasMeta was executed before. Such a condition looks like a lot of potential for errors to me.

[2019-09-25 10:01] kodebach commented on #2983
[code]

We could use something like this to the header. The `*Compat` versions prefix `metaName` with `"meta/"`, the normal version don't. That way you just have to add a `#define ELEKTRA_META_NAMESPACE_COMPAT` (or `-DELEKTRA_META_NAMESPACE_COMPAT` as a compiler argument) to ensure compatibility for old code. `ELEKTRA_META_NAMESPACE_COMPAT` could then be removed in the next release with breaking c

[2019-09-25 11:18] sanssecours commented on #160
Looks like there is [no more space available on `v2-debian-buster`](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/1006/pipeline#step-1762-log-2288):

.

[2019-09-25 11:53] markus2330 commented on #160
Thank you for reporting, I made (much) more space on v2.

[2019-09-25 12:24] markus2330 commented on #160
Remove job finished: /dev/sda3         417G  227G  164G  58% /

[2019-09-25 16:21] markus2330 commented on #2983
Yes, I agree that keySetMeta/keyGetMeta should automatically add the namespace.

I hope you will use it in your implementation. Merging is one of the main reasons to have meta-data as normal KeySets.

I think we can always prefix it, keySetMeta has no other purpose than to add meta-data.

[2019-09-25 17:47] PhilippGackstatter commented on #2571
I'll try to fix this, but have a question.

Shouldn't it be enough to set `type=boolean` and `type/boolean/restoreas=none` on a key that I parse as boolean in `elektraYajlGet`? Then in `elektraYajlSet` I should receive this key with a value of either 1 or 0, right?

But I'm still receiving the user-supplied value

[code]

@kodebach
Is it possible that in this case the value is always restored even

[2019-09-25 20:34] kodebach commented on #2571
`/boolean/restoreas` is not a metakey for individual keys. It is part of the config for the instance of the `type` plugin used for the whole mountpoint.

I think it should be enough to add `config/needs = type/boolean/restoreas=none` to the header of `src/pluigns/yajl/README.md`. (At least for mounting via `kdb mount`)

[2019-09-26 06:08] sanssecours opened #3009 "Jenkins: git tag sometimes fails"
# Description

Seems like the Jenkins build now fails every time when its time to build Debian packages. According to the build server the command

[code]

[does not work](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/1007), printing the error message:

. This failure happened at least in [build 1005](https://build.libelektra.org/jenkins/blue/organization

[2019-09-26 06:54] markus2330 commented on #3009
Thank you for reporting the problem!

@Mistreated any progress on Debian packaging?

Alternatively, I think it is best to disable Debian Buster packages until @Mistreated has progress.

[2019-09-26 07:07] PhilippGackstatter commented on #2571
Adding `- infos/config/needs = type/boolean/restoreas=none` seems to be a compiler error.

[code]

Can I programmatically set the key too? I can't find documentation on how to configure another plugin.

[2019-09-26 07:54] markus2330 commented on #1271
Finished thanks to @kodebach

[2019-09-26 07:54] #1271 closed

[2019-09-26 08:03] kodebach commented on #2571
I think it should just be `config/need` not `infos/config/needs`. I can't verify it right now though.

The header of the README is turned into lines of `keyNew`, which you then include into the plugins `get` method. You could manually add stuff there, using the README is preferred, since it automatically provides documentation.

[2019-09-26 08:05] sanssecours commented on #2571
Yep, just add it to the contract key set. For example, the following line shows how YAML CPP configures the  `type` plugin:

https://github.com/ElektraInitiative/libelektra/blob/5519cb8066a096215a3701ca3d8c02fcebe54914/src/plugins/yamlcpp/yamlcpp.cpp#L44
.

[2019-09-26 08:10] sanssecours commented on #3009
I met Djordje yesterday. As far as I know generating packages for Ubuntu Bionic [should work now](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2932/17/pipeline/363).

[2019-09-26 08:48] sanssecours commented on #3009
I think the problem lies somewhere in the following code for the [Pipeline SCM Step Plugin](https://plugins.jenkins.io/workflow-scm-step):

https://github.com/ElektraInitiative/libelektra/blob/5519cb8066a096215a3701ca3d8c02fcebe54914/scripts/jenkins/Jenkinsfile#L1050-L1059

. [Here](https://jenkins.io/doc/pipeline/steps/workflow-scm-step/) is some documentation for the plugin.

[2019-09-26 08:53] markus2330 commented on #3009
@ingwinlu do you have an idea?

[2019-09-26 12:26] markus2330 commented on #2994
Can we close this now?

Some garbage in /home/jenkins seems to be the reason for this problem.

[2019-09-26 12:47] #2994 closed

[2019-09-26 14:12] markus2330 commented on #2405
@darddan ping

[2019-09-26 14:13] Chemin1 commented on #3006
I wrote some lines about the plans that we have talked about so far. Writing more does not seem really useful to me at the moment, as the implementation is not ready yet.

[2019-09-26 15:24] kodebach commented on #2815
AFAIK this is fixed. If it happens again, please reopen.

[2019-09-27 06:13] markus2330 commented on #160
buildserver is down due to migration (so that we get consistent state in the backup of the new buildserver)

[2019-09-27 06:20] markus2330 commented on #160
https://build.libelektra.org/jenkins/ is starting again

[2019-09-27 08:07] PhilippGackstatter commented on #2571
Thank you both!

With #3012, the yajl plugin has the following behavior.

## With the type plugin

[code]

## Without the type plugin

[code]

In this last case, the behavior until now was that a warning is emitted.
[code]

[2019-09-27 08:57] #2730 closed

[2019-09-27 13:03] #2995 closed

[2019-09-27 13:45] markus2330 commented on #3009
@Mistreated can you reenable the buster packages together with the Ubuntu packages?

[2019-09-27 13:49] markus2330 commented on #2947
@Mistreated in the buildserver repo there is compose/frontend/images/repo-builder/Dockerfile

This dockerfile needs to be executed 3x, with different DISTRO set.

[2019-09-27 14:06] Chemin1 commented on #3006
As we postponed this in our offline-discussion yesterday, I guess we can close this issue for the time being and reopen it if necessary.

[2019-09-27 14:06] #3006 closed

[2019-09-27 14:14] markus2330 commented on #3006
Yes, it is better if we get a very good 3-way merging for `kdb import`, `kdb editor`, qt-gui and webui. There we will definitely need it. Debian did not show so much interest so far.

[2019-09-27 14:18] markus2330 commented on #2855
Failed again in the same PR https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-1950/74/pipeline

[2019-09-27 14:42] bauhaus93 opened #3014 "Codegen Tutorials: Incorrect app paths"
It seems that in the `codegen/tree` and `codegen/econf` example READMEs, the kdb mount commands for the `cmake` and `pkgconfig` setup are executed from the build directory, while they are expected to be executed from the directory of the `README.md` (since `specload "app=$PWD/cmake/build/application"` in case of the cmake setup).

`tree/README.md`, cmake setup, comments added:
[code]
After `kdb mo

[2019-09-27 14:50] markus2330 commented on #2815
@bauhaus93 can you try to reproduce? (Run lcdproc with the gopts plugin (re)moved)

[2019-09-27 14:54] markus2330 commented on #2571
Actually, it should warn (or even fail) about anything except "1" or "0". Also "true", "false" are not Elektra's booleans.

Imho, the yajl plugin should have a "require" dependency to the type plugin.

[2019-09-27 15:03] markus2330 commented on #3014
Thank you so much for reporting it!

@kodebach is this an easy fix?

[2019-09-27 16:57] markus2330 commented on #2947
@Mistreated the compose file is
https://github.com/ElektraInitiative/buildserver/blob/master/compose/frontend/docker-compose.yml#L63

[2019-09-27 16:59] markus2330 commented on #2984
Is this fixed now? We should add it to the Jenkinsfile so that it will survive the next reboot?

[2019-09-27 16:59] markus2330 commented on #2999
Is this fixed now? Maybe due to #2984

[2019-09-27 17:59] sanssecours commented on #2984
[Nope](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3013/1/pipeline). One issue seems to be that `HEARTBEAT_CHECK_INTERVAL` does not seem to stick, if I set the value via the Script Console. It would be great, if you can [add the value to the Java arguments for Jenkins](https://support.cloudbees.com/hc/en-us/articles/209715698-How-to-add-Java-arguments-to-Je

[2019-09-27 18:02] sanssecours commented on #2999
I am not sure. If I remember correctly, I did not see any similar warnings in the last two days though.

[2019-09-27 18:02] #2999 closed

[2019-09-27 18:04] Mistreated commented on #2947
@markus2330 With which DISTROs should I execute docker compose?

[2019-09-27 21:28] markus2330 commented on #2947
bionic, stretch and buster

[2019-09-27 21:32] markus2330 commented on #2984
The Java arguments for **the agents** must be settable somehow via Jenkinsfile or Jenkins Configuration. Only the Java arguments for Jenkins itself (build.libelektra.org) must be set by a script not under the control of the Jenkins configuration.

[2019-09-28 06:58] markus2330 commented on #160
Load on build server was 200 due to kernel errors during a backup, the server did not react anymore and needed to be reset.

Log messages were (examples):
[code]

Hopefully we can migrate soon in the beginning of next week (@Mistreated ?)

The server currently makes a resync of raid, so expect it to be very slow.

[2019-09-28 09:20] markus2330 opened #3015 "rust: links against legacy library"
libelektra.so only exists for legacy purposes, the library was actually split up, see doc/decisions/library_split.md

In #3004 I now try to remove this legacy library but (among other problems) the Rust binding still seems to use -lelektra
https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3004/4/pipeline

I do not see where the linking against elektra in the Rust

[2019-09-28 10:44] PhilippGackstatter commented on #3015
I didn't know about the decision, sorry.

I'm linking against `core`, `meta` and `kdb` now. That should fix it.

[2019-09-28 11:13] PhilippGackstatter commented on #2571
@kodebach wrote

That's what I also allow "true" and "false".

Yes, I totally agree about the dependency. Then we can remove support for "true" and "false".

Regarding the number problem: Yajl maps the Number type to double, which is fine, I think. And from quickly checking, the type plugin's double type also support json's E-notation (i.e. `3.4e2`).
What do you see as the problem?

[2019-09-28 11:15] bauhaus93 commented on #2815
I get a segfault during `loadConfiguration()`, when trying to run lcdproc (or LCDd) with gopts disabled.

I installed elektra and lcdproc (from ElektraInitiative/lcdproc#7) using the guide in PR 7, then renamed `/usr/local/lib/elektra/libelektra-gopts.so`, so that gopts doesn't show up in `kdb list`.

[2019-09-28 12:49] markus2330 commented on #3015
Thank you, perfect!

[2019-09-28 12:54] markus2330 commented on #2571
Ahh, I now see that src/plugins/yajl/testmod_yajl.c 240-251 is commented out. This should be removed. (There is still an occurrence of number.)

[2019-09-28 14:14] markus2330 commented on #2815
Thank you for reproducing!

Can you maybe also post the stacktrace? (`gdb binary-name core` and then type bt)

[2019-09-28 14:34] markus2330 commented on #2967
Haskell will be removed in  #3017

[2019-09-28 14:50] markus2330 opened #3018 "ronn failure"
While building Elektra I got the error

[code]

Reason: I had ruby-ronn installed from Debian (version 8) and ronn with gem. This does not work, after removing ruby-ronn and executing `gem install ronn`, everything worked fine again.

[2019-09-28 14:50] #3018 closed

[2019-09-28 14:53] markus2330 commented on #2751
I hope this gets fixed with #3017?

[2019-09-28 18:12] raphi011 opened #3019 "Show documentation of elektrad on path "/""
If you navigate to elektrad without a path you get a 404 not found error. Instead show the documentation (redirect or html)

[2019-09-28 18:20] markus2330 commented on #3019
Thank you for creating the issue!

It would be ideal if someone who uses `curl` or similar tools quickly finds out how the API looks like.

[2019-09-28 18:49] raphi011 commented on #2959
@markus2330 can you take a look at the current state of the go bindings? I know you probably want more documentation :) But other than that?

[2019-09-28 19:10] markus2330 commented on #2959
Yes, you are right, the docu definitely needs improvements. The first sentence of the main readme is already broken.

[2019-09-28 19:24] raphi011 commented on #2959
I'm aware that the docu is not satisfactory yet - but the rest is probably equally important :)

[2019-09-29 04:49] sanssecours commented on #3009
Seems like commit 883e0e7 [did not fix this problem](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/1017/pipeline).

[2019-09-29 05:27] #2749 closed

[2019-09-29 10:15] markus2330 commented on #2959
I am aware that you are aware of the not satisfactory docu. But I cannot evaluate the rest as long as I do not know what you wanted to do and how I can use it. Hence docu is required so that I can check if the code does what the docu promises.

[2019-09-29 20:50] kodebach commented on #1164
Other problems with `kdb set` are:

- `internal/**` metadata is not removed
- `origvalue` metadata is not removed (breaks all future kdb get, until it is removed)

[2019-09-30 04:22] markus2330 opened #3020 "remove internal meta-data"
@kodebach reported in  #1164:

fixing it in `kdb` is quite straight-forward. But isn't it better to fix it in the spec plugin, then not every tool needs to reimplement it?

See also #2700 (currently open because the global position for spec does not work).

[2019-09-30 04:40] markus2330 commented on #3009
Master builds now: https://github.com/ElektraInitiative/libelektra/commits/master#

Did you see the problem also somewhere else or can this be closed now?

[2019-09-30 07:50] PhilippGackstatter commented on #265
@markus2330
This seems like a very broad issue. Is there something concrete I can work on?

[2019-09-30 09:54] kodebach commented on #2700
The corresponding problem in `kdbGet` (i.e. `spec` is called AFTER other `postgetstorage` plugins) is even worse. `spec` MUST NOT remove copied metadata, otherwise the following `kdbGet` will not work as expected.

An example:
[code]

Right now the best (maybe only) way to correctly set a key is this sequence:

[code]

[2019-09-30 09:59] kodebach commented on #2561
IMO we should always use a cascading parent key. If the given key has a namespace, strip it for creating the parent key, but use it during `ksAppendKey` (in `kdb set`) and `ksLookup` (in `kdb get`) et al. I think this is the only good solution, since the `spec` plugin, which is more or less essential for other plugins to work, only works for cascading parent keys.

To disable this behaviour and us

[2019-09-30 10:04] markus2330 commented on #265
The first step would be the renaming of plugin commands: `kdb list` -> `kdb plugin-list` and so on.

[2019-09-30 10:16] kodebach commented on #3020
The `spec` plugin is not the problem in this case. `origvalue` shouldn't exist in the `spec` namespace, so the `spec` plugin won't copy it. `internal/**` is already ignored by `spec` (although it shouldn't need to do this IMO). In my case it was  the  `internal/ini/**` metadata (created by the `ini` plugin) that got stored.

A plugin running after `spec` could also still add `internal/**` or the `

[2019-09-30 10:33] kodebach commented on #265
-- https://github.com/ElektraInitiative/libelektra/issues/2388#issuecomment-462038150

I think it wouldn't be wise to start renaming stuff now, if we might decided to implement the hierarchical command structure in the future.

---

On a separate note: Since we decided (in #2983) to expose metakeys as a normal KeySet. It might make sense, to support (more or less) all `kdb` commands for metadata a

[2019-09-30 18:05] markus2330 commented on #265
The way external commands and man pages are implemented conflict with hierarchical commands. I also do not see advantages compared to the pseudo-hierarchical-commands we have now with -.

I really appreciate your thoughtful ideas but please do not drop them into completely different discussions. Yes, keyMetaData can bring opportunities to implement `kdb rm` and `kdb meta-rm` in the same way but th

[2019-09-30 18:10] markus2330 commented on #3020
We once discussed that spec should be the vacuum cleaner to fix everything that is wrong with metadata.

The idea was that spec will be the very last plugin.

Yes, if the metadata is added during `kdbSet`. I thought we talk about metadata that should vanish between `kdbGet` and before `kdbSet`.

There is no need for automatic removal because the semantics as given in doc/METADATA.ini already tell

[2019-09-30 18:11] #2571 closed

[2019-09-30 18:17] markus2330 commented on #2700
See implementation hint above, here it is only about removing meta-data before writing to the storage (as very last step).

As `kdbSet` does a deep duplication for writing, this will not effect the KeySet a tool or application uses.

[2019-09-30 19:17] kodebach commented on #265
Whether it is `meta rm` or `meta-rm`, doesn't matter much to me, but `rmmeta` seems odd.

External commands could still work with the proper hierarchy.
Lets take the example `kdb -r com -f sub -x meta -y abc`:
- `kdb` consumes option `-r` and calls `com -f sub -x meta -y abc`
- `com` consumes option `-f` and calls `sub -x meta -y abc`
- `sub` consumes option `-x` and calls `meta -y abc`
- `meta` c

[2019-09-30 19:27] markus2330 commented on #265
Exactly, this is the main reason why this issue exists. (Ironically, the source files are already called metaremove.*)

Good :+1: It is much more simple.

Of course this is relevant but it has nothing to do with the renaming. I only asked for creating new issue so that we do not have so many sub-discussions. In this case concretely it confused @PhilippGackstatter who thought that we currently do n

[2019-09-30 19:28] kodebach commented on #3020
Yes, I know (https://github.com/ElektraInitiative/libelektra/issues/2700#issuecomment-499172403), but it is not possible right now. I also think `spec` is not the right plugin for that.

If we don't want to do the cleanup in the core (or the new backend plugin), it should be a separate cleanup plugin. `spec` is already complicated enough.

I don't know, where the `internal/**` metadata should vani

[2019-09-30 19:33] kodebach commented on #2700
I have no idea what you want to tell me here....

I explained, why removing metadata before calling the setstorage plugin **DOES NOT WORK** with the way `kdbGet` works right now. This is very relevant to this issue, since a "fix" for this issue (i.e. if in `kdbSet` `spec` actually removed the metadata it copied during `kdbGet`) would break **every** application using the high-level API or otherwis

[2019-09-30 19:47] markus2330 commented on #2700
From the example above:

I do not think this demonstrates anything as the workflow of multiple kdbGet and kdbSet within applications cannot be demonstrated with the `kdb` command. `spec` obviously will only remove keys from non-spec keys. So after doing `kdb get` again, the meta-data will be again copied from `spec`.

But I think I understand what you mean.

The correct implementation will only re

[2019-09-30 20:03] markus2330 commented on #3020
Fair point. We can also make a new `cleanup` plugin. I thought that having it in `spec` is okay because the cleanup code in `spec` is not complicated.

Nothing should vanish between `kdbGet` and `kdbSet`, see explanation in #2700. The crucial point here is to implement the hook correctly. Afaik it was never correct and because of that it never worked.

For the removal code: certainly. Overall: I d

[2019-09-30 20:05] raphi011 commented on #2990
`sudo kdb umount spec/tutorial/schema` did the trick, see https://github.com/ElektraInitiative/blobs/pull/6

[2019-09-30 20:11] markus2330 commented on #2990
Good job that you found out by yourself!

[2019-09-30 20:56] #2990 closed

[2019-10-01 01:24] kodebach commented on #2700
Oh I see now... You misunderstood my example. Only the `kdb get` calls would be replaced with an application. The `kdb set` calls before that are setting the configuration for this application.

I didn't even consider calling `kdbSet` and `kdbGet` in the same application. In this case there are of course in memory solutions that circumvent the problem.

That was my original point. It should be lik

[2019-10-01 05:10] markus2330 commented on #2700
The split keysets need to be merged and split again or even better: we call the cleanup plugin on every split separately (what should be no problem for the cleanup. I updated the implementation hint above).

For 1.0 we will continue to merge the plugins. With less plugins there are less opportunities of unwanted feature interactions like #404. Please report all concrete feature interaction problem

[2019-10-01 06:41] #2996 closed

[2019-10-01 06:41] #2901 closed

[2019-10-01 06:42] #2412 closed

[2019-10-01 07:25] Piankero commented on #2858
@sanssecours Is there a way to exclude a shell recorder test if the executing user is `root`?

I tried to add the line `if [ $EUID -ne 0 ]; then return 0; fi` on top of the shell script but even when run as root the shell recorder proceeds to the lines after that.

If this failing test is run as `root` you cannot have any file that `root` cannot read (even with `000` permission bits). So this test

[2019-10-01 11:18] PhilippGackstatter commented on #265
Does `mountpoints-info` exist? I suppose this is now what `kdb mount` does without arguments?

Are these two still relevant and if so, should I work on these?

[2019-10-01 11:51] sanssecours commented on #2858
None, that I know of.

I think pull request #3021 should fix the problem. Markus, can you please check, if that is indeed the case?

[2019-10-01 12:26] markus2330 commented on #265
Of course, scripts/mountpoint-info but it should be moved to scripts/kdb/. I would not rename it right now, `info` might be too generic (and confusing).

No.  It has docu doc/help/kdb-mountpoint-info.md

Yes, `plugin-check` is definitely better. Please rename it.

Yes, please remove the `fstab` functionality. It is only confusing and is not used anymore.

[2019-10-01 13:24] markus2330 commented on #1188
As discussed in #265 we will remove the fstab command because it is confusing.

[2019-10-02 04:09] #2858 closed

[2019-10-02 04:22] markus2330 opened #3022 "error messages in crypto plugins&tests"
I think in general it would be good if the crypto plugins and the crypto test cases give better error messages. Should I open a new issue for this?

[code]

[2019-10-02 04:26] markus2330 commented on #3022
Ok, the problem is that spec is not writable. But this cannot seen by the error messages at all. So this issue is only about improving error messages :+1:

[2019-10-02 04:27] markus2330 commented on #2957
It also fails on another computer. Again gpg prompts me for my password.

[code]

[2019-10-02 04:30] markus2330 commented on #2858
For me now all 267 tests pass (as root and non-root) except #2957

[2019-10-02 04:35] markus2330 commented on #2957
As root (other user) this test does not fail. So it has something to do with my gpg config.

`.gnupg/gpg-agent.conf` only has `pinentry-program /usr/bin/pinentry`

.gnupg/gpg.conf has:
[code]

Maybe the default-key is the problem? Or lock-once?

[2019-10-02 04:49] petermax2 commented on #2957
Does `kdb mount`  require root privileges in the `user` namespace?

[2019-10-02 04:50] petermax2 commented on #3022
OK I will check on this issue.

[2019-10-02 06:40] markus2330 opened #3024 "kdb backup broken"
Due to moving `kdb backup` to scripts/dev, configure_file changed and now placeholders that should not be replaced are replaced.

[2019-10-02 06:45] #3024 closed

[2019-10-02 06:59] markus2330 commented on #2957
Yes, `kdb mount` currently always needs root privilege. Feature request #1074 is still open.

[2019-10-02 07:04] markus2330 commented on #3022
Thank you very much! Any other improvement of the error messages (usability) is also very much welcomed!

[2019-10-02 07:24] petermax2 commented on #2957
So actually the test script should fail at

    kdb mount test.ini user/tests ini

which seems to succed atm. I will look into it.

[2019-10-02 08:00] markus2330 commented on #2957
on my PC it succeeds because my user has permission to write to system/ (and as such I can mount as user).

Don't you think it is related to my gpg config?

[2019-10-02 08:03] petermax2 commented on #2957
Maybe,.. I don't even have a `agent.conf`. With default gpg settings it seems to work fine. Maybe you are being asked for a PIN entry or a password in the background while the script is running?

[2019-10-02 12:16] markus2330 opened #3027 "jna: compilation errors"
[code]

[2019-10-02 12:24] Piankero commented on #3027
maybe you have an old version in your repository because both of these classes are actually removed in my repository @ master

[2019-10-02 12:30] markus2330 commented on #2957
Yes, as already said before I am asked for a PIN entry (see top-entry). So somehow the tests or the plugin seem to use keys they should not use.

[2019-10-02 12:33] markus2330 commented on #3027
Thank you for the quick reply, seems like the branch was too old or there were some left-overs in the build directory.

[2019-10-02 12:33] #3027 closed

[2019-10-02 13:07] mpranj commented on #2696
I can not confirm this.

Here's what I did:

[code]

I do get a speedup by using the cache. Is it possible you used "/" or "system/" when exporting? Maybe something in there can't be cached (#2454).

[2019-10-02 13:27] markus2330 commented on #2696
1. I compared with an Elektra where the cache plugin was not available at all not the first with the second execution (e.g. by not having it mounted or remove the plugin).
2. (Maybe not relevant but) I copied it the other way round: multiresolver+INI is mounted and the export uses `csvstorage`.

[2019-10-02 13:43] mpranj commented on #2696
Then I think you used a version of Elektra where INI caching was disabled. Caching for ini was enabled in #2604 much later than this issue was opened.

[2019-10-02 13:52] markus2330 commented on #2696
So you think that the way the disabling was implemented caused the slowdown?

[2019-10-02 14:00] markus2330 commented on #2984
Occurred in https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/cleanup-scripts/1/pipeline running on a7

Is the  HEARTBEAT_CHECK_INTERVAL still active there?

[2019-10-02 14:02] markus2330 opened #3028 "make elektraPluginOpen/Close public"
@kodebach said in #3004:

De-facto it is already public API because since quite some time as all tools use it. In particular src/libs/tools/src/plugin.cpp.

The big question is if it should

1. stay in KDB, or
2. moved to core (would drop the libkdb dep for invoke).

For header file imho src/include/kdbmodule.h is best (which functions are currently in core afaik).

[2019-10-02 14:03] mpranj commented on #2696
I think so, but I'll verify it. The disabling always caused a cache miss and a rebuild of the cache.

[2019-10-02 14:08] PhilippGackstatter opened #3029 "Each Error should be mapped to a different error code"
As mentioned in #2979 many functions return -1 for multiple errors. Take `keySetName` as an example. The documentation states

**Return values**
[code]

Two different errors are mapped to -1, making them indistinguishable for the caller. This is especially problematic for bindings that map these error codes to Exceptions or some Error structure. The bindings might then throw an `InvalidName` Excep

[2019-10-02 14:08] #2979 closed

[2019-10-02 14:32] sanssecours commented on #2984
I do not think so. I am also not sure it is active anywhere, since

[code]

always seems to return an empty result after some time. We probably should find another way to set this property. I do not think adding

[code]

to the Jenkinsfile and allowing “In-process Script approval”, as described [here](https://stackoverflow.com/questions/50067372/where-to-set-dorg-jenkinsci-plugins-durabletask-bour

[2019-10-02 15:02] sanssecours commented on #3009
Looks like [building the packages still fails sometimes](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/1038/pipeline).

[2019-10-02 15:50] kodebach commented on #3028
IMO the plugin related stuff should not be in `elektra-core`. The plugin system doesn't make much sense without the other parts of `elektra-kdb`.

[2019-10-02 15:56] markus2330 commented on #3028
I agree but then we should also move out the modules stuff from core. The downside is that `kdb` has two deps then.

[2019-10-02 15:58] markus2330 commented on #2984
Ok, let us try out to pass the parameter to the Java process in the new build server.

[2019-10-02 16:02] markus2330 commented on #3029
Thank you for the proposal!

[2019-10-02 16:03] markus2330 commented on #3009
Why are the `git config` commands missing there? 794cfdf7747423ed0240c82987dec69ee2065f01

[2019-10-02 16:46] bauhaus93 commented on #2815
The stacktrace for lcdproc:
[code]

[2019-10-02 17:02] markus2330 commented on #3029
I agree that mapping to different negative numbers should have no negative side-effect (comparing using `< 0` on "any error" is trivial) but helps in some cases (at least in the case you had in the binding and a similar case I already had in the python binding) where the different error matters.

How many places are effected (next to keySetName)?

[2019-10-02 17:14] markus2330 commented on #2815
It seems like the binary did not have debug symbols. Is your CMAKE_BUILD_TYPE RelWithDebInfo or Debug?

[2019-10-02 17:15] markus2330 commented on #2696
This is very plausible.

[2019-10-02 18:00] kodebach commented on #2815
I just tried it myself. The full stack-trace is:

[code]

So this is a different segfault then the one this issue was created for (`isHelpMode` didn't exist yet in June).

The fix should be simple, it is just a missing `NULL` check.

[2019-10-02 18:09] dominicjaeger opened #3030 "Tutorial for standalone merge"
As discussed, better to leave this away. But a tutorial for the standalone merging tool would be interesting.

_Originally posted by @markus2330 in https://github.com/ElektraInitiative/libelektra/pull/3011_

[2019-10-02 19:00] markus2330 commented on #3030
Thank you for making this issue!

[2019-10-03 05:03] sanssecours commented on #3009
As far as I know that is the case, because the build step fails before these commands are executed (see also https://github.com/ElektraInitiative/libelektra/issues/3009#issuecomment-535405854)

[2019-10-03 07:38] sanssecours commented on #3009
[Build 1040](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/1040/pipeline) and [Build 1041](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/1040/pipeline) also failed, because of this issue.

[2019-10-03 07:49] PhilippGackstatter commented on #3029
Also affected
- keyGetMeta
- keyAddBaseName
- keyAddName
- keySetBaseName
- keyGetBinary
- keyGetString
- keySetBinary

Affected, if null pointer and memory errors should be mapped to different error codes
- keyCopyAllMeta
- keyCopyMeta

Maybe affected, needs discussion
- keyGetFullName (returns -1 on Null pointers or if maxSize is 0 or larger than SSIZE_MAX)
- keyGetBaseName (same as above)
- key

[2019-10-03 09:05] markus2330 commented on #3009
Is there something wrong in the Jenkins configuration? Seems like some module of Jenkins already does this `git tag`.

[2019-10-03 09:55] PhilippGackstatter commented on #2993
I moved keyLock and elektraLockOptions to kdbprivate, because elektraKeyLock depends on them, and since kdbinternal depends on kdbprivate, the first two cannot live there.

elektraKsToMemArray has 13 references, such as in libs/meta/meta.c, plugins/ini/ini.c, plugins/keytometa/keytometa.c, and more. Should this really be removed?

ksRenameKeys has one reference in plugins/csvstorage. I can move th

[2019-10-03 13:15] #2973 closed

[2019-10-03 13:16] #2180 closed

[2019-10-03 13:16] #2139 closed

[2019-10-03 13:17] markus2330 commented on #730
Buying more hardware unfortunately is much cheaper

[2019-10-03 13:17] #730 closed

[2019-10-03 15:37] markus2330 commented on #3029
We should fix all of them (with consistent error values).

I think there is little benefit from this.

Is both API misuse, so same return value is ok.

This is on purpose so that a `printf("%s", keyString(k))` is safe.

[2019-10-03 16:13] markus2330 opened #3034 "keyRel"
We currently have two different keyRel implementations:

- keyRel (in core)
- KeyRel2 (in proposal)

We should either:

- remove keyRel2
- rename keyRel2 to keyRel
- remove keyRel and keyRel2

@PhilippGackstatter How much effort would it be to replace all keyRel with keyRel2 calls?

In the current form, keyRel(2) can be in libease, as it only calls other methods.

Question to everyone:

- Which AP

[2019-10-03 16:13] markus2330 commented on #2993
Good.

No, then it should be moved to libease (libmeta depends on libease anyway, for the plugins it is no problem to depend on it)

Yes.

Move it to kdbprivate (it is internally in `ksLookup` used).

Same for keyGetLevelsBelow.

#3034

Yes, I agree. You can add a `static`.

[2019-10-04 05:59] markus2330 opened #3035 "Jenkins builds are not performed anymore"
It seems like builds on master and PRs are now done without Jenkins. "jenkins build libelektra please" seems to have no reaction.

@Mistreated @Chemin1 @sanssecours did you change anything?

[2019-10-04 05:59] markus2330 commented on #160
Jenkins builds are not performed anymore, see #3035

[2019-10-04 06:11] markus2330 commented on #3035
The disc is full again. I allocated the last GB to the pool but it seems like I also need to remove files.

[2019-10-04 06:22] markus2330 commented on #3035
I am garbage collecting the git repos in /srv, removed the big log files in /var/log/jenkins/ and am removing the whole folder /var/lib/jenkins/jobs/libelektra/branches

Jenkins now started again. Please repeat jenkins build jobs.

[2019-10-04 06:22] #3035 closed

[2019-10-04 06:22] markus2330 commented on #160
Jenkins now started again. Please repeat Jenkins build jobs.

[2019-10-04 07:17] kodebach commented on #3034
As far as I can see, `keyRel` isn't even fully implemented.

IMO `keyRel` has the better API, but `keyRel2` has additional functionality that may be useful. The return codes should all be positive, except -1 for null pointers, and indicate the relation between the two keys. The third argument (`KeyRelType` in `keyRel2`) should only be an option argument, setting e.g. whether the namespace shall be

[2019-10-04 07:50] markus2330 commented on #3034
Yes.

The problem of the keyRel API is that there are many ambiguous cases: sometimes more than one relation is true (e.g. same hierarchy, below and direct below can be true at the same time). Of course we could improve the implementation and make unambiguous return codes by giving every position within the tree a clear return code but then the caller might not get the answer he/she wanted. In key

[2019-10-04 08:01] markus2330 commented on #3035
Cleanup finished:

[code]

[2019-10-04 08:02] markus2330 commented on #3035
All master artifacts from the history are now gone

[2019-10-04 08:24] kodebach commented on #3034
I first assumed, we would return the closest relation. So for user/key and user/key/a we would return "direct below", which implies "below" and "same namespace".

But we could also return a bitfield, that indicates all relations. Then the user can check for the ones they are interested in. This also allows to check multiple relations at the same time and still allows to differentiate between them.

[2019-10-04 09:36] markus2330 commented on #3034
Yes, in the current version this works. But it stops working when adding further relations.

Then we might need to calculate many relations the user actually is not interested in.

For keyRel2 see #2993. @PhilippGackstatter can you check for keyRel? (If the occurrences are easily replaceable with keyIsBelow or similar)

[2019-10-04 15:59] PhilippGackstatter commented on #3034
From briefly scanning the references, most occurences of `keyRel` either require only a replacement with one of the keytest functions, some two of them, but nothing more complex.

It's not heavily used, so it shouldn't be too much effort.

As stated above, in most cases it can be replaced by just one other function, so I also don't think it's needed.

[2019-10-04 17:43] markus2330 commented on #3034
Ok, then let us get rid of keyRel and keyRel2.

[2019-10-05 09:17] PhilippGackstatter commented on #2993
I missed that `ksRenameKeys` is just a wrapper for `elektraRenameKeys` which is used in a number of plugins. Is this another candidate for elektra-ease then? I suppose we can get rid of the wrapper?

[2019-10-05 10:46] markus2330 commented on #2993
Yes, the wrapper is not needed. If the core does not need it, then ksRenameKeys should be moved to elektra-ease.

[2019-10-05 15:10] PhilippGackstatter commented on #2993
Moving `ksRenameKeys` from core to ease works fine.
Where should `elektraRenameKeys` be? It's currently in core (implemented in `proposal.c`) and moving it to ease is not trivial, since there are quite a few places where ease would have to be linked additonally.

The real question is, whether we should get rid of `proposal.c` as well, which only contains 4 functions (including `elektraRenameKeys`)

[2019-10-05 17:53] markus2330 commented on #2993
Nowhere as we want to get rid of this wrapping. There should be only ksRenameKeys (or elektraRenameKeys if it fits better to the other functions in libease) and nothing else.

Which one? Only plugins and tools? Then it would be no problem.

Yes, the file should be removed.

[2019-10-05 20:14] raphi011 opened #3037 "Vanity import for go"
At the moment we have a vanity import for go.libelektra.org (which is not used yet) - but we may want to change this to `libelektra.org/go/elektra`. This looks more like a go import and allows us add different packages in the future without creating a new subdomain, e.g. `libelektra.org/go/foo`.

[2019-10-05 21:20] markus2330 commented on #3037
Which different packages are you thinking of?

There is basically only plugin and tools API to do, should that be in separate packages?

And even if so, why not making new domains and or having go.libelektra.org/package?

And I thought you already have two packages? (low-level and high-level API)

[2019-10-06 06:08] markus2330 commented on #2815
@kodebach Was the fix already included somewhere or is this still open?

[2019-10-06 06:31] #265 closed

[2019-10-06 07:46] PhilippGackstatter commented on #2993
Moving `elektraRenameKeys` to ease produces a lot of
`/usr/bin/ld: ../lib/libelektra-kdb.so.0.9.0: undefined reference to elektraRenameKeys` errors.

`src/libs/kdb.c` (and `mount.c`, `backend.c` and `plugin.c`) for instance need `elektraRenameKeys`, so it seems to belong to the core for that reason.
I can of course link `libelektra-kdb` against ease to take care of that, but that's a dependency fo

[2019-10-06 07:48] PhilippGackstatter commented on #3034
With keyRel2 gone in #3038, the helper functions `keyAsCascading` and `keyGetLevelsBelow` aren't used anywhere. Is this useful functionality that we should keep or should we get rid of them?
Since they are part of `kdbproposal.h` we need to at least move them.

[2019-10-06 08:29] markus2330 commented on #3034
We should get rid of them. Reintroducing is easy, removing is not possible after 1.0.0.

[2019-10-06 08:44] markus2330 commented on #2993
There seems to be an easy solution: we simply move it to `elektra-kdb`. list+multifile already links against it. (@vLesk might move it to the backend plugin if possible.)

I would like to avoid having it in the core or any public API, because it does not do anything that cannot easily programmed with the core API.

A `int ksRenameKeys(KeySet * ksToBeRenamed, char * name)` could be interesting as i

[2019-10-06 10:29] petermax2 commented on #2957
I have a hard time reproducing the behavior. I set up a Debian VM and copied your config (with adapted key ID), but the test does not fail.

	root@elektra-testing:/home/pnirschl/libelektra/build# ctest -V -R testshell_markdown_tutorial_crypto
	UpdateCTestConfiguration  from :/home/pnirschl/libelektra/build/DartConfiguration.tcl
	Parse Config file:/home/pnirschl/libelektra/build/DartConfiguration.t

[2019-10-06 11:24] petermax2 commented on #2957
Now I can reproduce it as "regular" user (i.e. no root). The trick is to set the KDB database to a user directory.

    cmake -DENABLE_COVERAGE=OFF -DENABLE_OPTIMIZATIONS=OFF -DENABLE_DEBUG=ON -DENABLE_LOGGER=ON -DBUILD_STATIC=OFF -DCMAKE_INSTALL_PREFIX="$PWD/conf" -DKDB_DB_SYSTEM="$PWD/conf" -DINSTALL_SYSTEM_FILES=OFF -DPLUGINS="ALL" -DTOOLS="kdb;gen-gpg-testkey" ..

[2019-10-06 11:26] markus2330 commented on #2957
Great! Yes, I also cannot reproduce it as root (see above: "As root (other user) this test does not fail.")

[2019-10-06 11:48] petermax2 commented on #2957
I found the problem: `gen-gpg-testkey` is looking for "elektra" and I guess your e-mail address contains something with "elektra.org", so it will falsely use it as test-key which is supposed to have no password...

https://github.com/ElektraInitiative/libelektra/blob/fa6d9597dfad75ccd712a7628b404e2eee218cb0/src/tools/gen-gpg-testkey/gen-gpg-testkey.c#L36-L37

[2019-10-06 11:56] markus2330 commented on #2957
Yes, that sounds very much like the problem :100:

If possible please also improve the error message, so that the next time it is more clear that a wrong key was taken and why it failed. Maybe I simply used the wrong password for this key? Or did you also check if the encrypted binary is as expected? (which obviously is different when encrypted with another key)

[2019-10-06 11:59] petermax2 commented on #2957
The error message comes from GPG. I can not interpret the output of GPG, also the return codes are not documented anywhere.

[2019-10-06 12:01] vLesk commented on #2993
The implementation of the backend plugin moves the usage of `elektraRenameKeys` from `plugin.c` and `backend.c` to the backend plugin, but it is still used in `kdb.c` by the `kdbEnsure` function and in `mount.c` by `elektraMountGlobalsGetConfig`, which are not directly related to the backend plugin, so I think that moving it to somewhere like `elektra-kdb` would be a better idea.

[2019-10-06 12:19] markus2330 commented on #2957
[code]

does not sound like it comes from gpg. Maybe this error overwrites the error of gpg?

[2019-10-06 12:22] markus2330 commented on #2993
@vLesk Thank you for the quick reply. Maybe the backend plugin needs to link against elektra-kdb anyway? If it is only about elektraRenameKeys, it is better if you copy that one function to have the backend plugin with clean dependencies.

[2019-10-06 14:34] petermax2 commented on #2957
Hm I just get this one:

    174: ERROR: C01330@Plugin Misbehavior: GPG failed with return value 512. gpg: invalid radix64 character 2D skipped@gpg: invalid radix64 character 2D skipped@gpg: invalid radix64 character 2D skipped@gpg: invalid radix64 character 2D skipped@gpg: invalid radix64 character 2D skipped@gpg: invalid radix64 character 2D skipped@gpg: invalid radix64 character 2D skipped@gpg:

[2019-10-06 16:02] markus2330 commented on #2967
The failures with `docker pull` failing in the website stage occurs quite often now.

[2019-10-06 17:37] raphi011 commented on #2959
I've improved the documentation

[2019-10-06 19:19] raphi011 commented on #2962
The Mac CLang build now runs the web tests

[2019-10-06 19:19] #2962 closed

[2019-10-06 19:38] raphi011 commented on #3037
I've experimented with the highlevel api but it's not implemented.

But you're probably right - the subdomain should suffice

[2019-10-07 09:04] kodebach commented on #2815
AFAIK it is still open

[2019-10-07 15:03] markus2330 commented on #2815
This is definitely something we should fix for the next release. What else is missing so that the elektrified LCDproc will work nicely?

[2019-10-07 15:16] markus2330 commented on #2962
Can you open a new issue for the CI integration of Linux (once we have the Ubuntu packages)?

[2019-10-07 16:28] kodebach commented on #2815
I will create a PR for this and #3014.

The `specload` plugin is still marked as experimental, so it won't be built in the default config (`-DPLUGINS=ALL;-EXPERIMENTAL`). The [documentation](https://github.com/ElektraInitiative/lcdproc/tree/e35c481e2e3fceef401e82e5694f5b4197cbb41d/docs/elektra) mentions the minimal set of plugins however.

Other than that, everything should work. Whether it works

[2019-10-07 16:35] markus2330 opened #3041 "Next steps in LCDproc"
@kodebach wrote in  #2815:

- [ ] Using the `ini` plugin doesn't work, because of the multiline `description` metakeys. (I switched to `ni` for now, but its file format is not ideal).
- [ ] Parts of the specifications are still commented out because of the max plugins issue.
- [ ] Not all drivers are updated. The specification is based on the old example `LCDd.conf`; not all config keys for driver

[2019-10-07 16:38] markus2330 commented on #3041
@bauhaus93 is working on it with the new TOML format

@vLesk is working on it

Yes, some more drivers would be nice, @bauhaus93 said he will add support for one driver.

@kodebach Which is the issue number for this?

[2019-10-07 16:40] markus2330 commented on #2815
Thank you!

Any specific reason for this? What about remove the experimental flag?

Thank you, I opened #3041

[2019-10-07 16:56] kodebach commented on #2815
It is unfinished and most of its features are not well tested in real-world environments. Other than that, I don't see a reason to keep it experimental.

[2019-10-07 17:21] #3015 closed

[2019-10-07 17:35] kodebach commented on #3041
Adding new drivers is not much of a problem. It's quite straight forward, I also wrote [instructions for it](https://github.com/ElektraInitiative/lcdproc/blob/e35c481e2e3fceef401e82e5694f5b4197cbb41d/docs/elektra/drivers.md). The problem is more testing everything still works.

We discussed it in #3020 and #2700. I have not yet investigated, where the `origvalue` metakey even comes from, as it sho

[2019-10-07 17:54] PhilippGackstatter commented on #2993
Do you want to me to (try) move it to `elektra-kdb`?

Regarding `ksPopAtCursor` and `elektraKsPopAtCursor`: They seem to have some (around 6-7) usages. Same goes for `ksPrev` and `elektraKsPrev`, although fewer usages.
Apparently they will become obsolete once we have external iterators (#2991), according to the warning on `ksPopAtCursor`?

I suppose we can either move them to some temporary locat

[2019-10-07 18:55] #2957 closed

[2019-10-07 19:05] markus2330 commented on #2993
Yes, but maybe in a different PR, to do everything of #2993 is too big.

This is actually (maybe) a part of what the external iterator needs (if the iterator also has some pop functionality).

Yes, we can remove that. This is only for the internal iterator.

[2019-10-07 19:18] petermax2 commented on #3022
I'll have a look at

- fcrypt
- crypto
- gpgme

But probably not before the weekend. Let's keep this issue open.

[2019-10-07 19:22] markus2330 commented on #3022
Thank you very much!

[2019-10-07 19:35] markus2330 commented on #2815
Which are the best tested parts?

[2019-10-07 19:42] kodebach commented on #2815
Loading from an embedded spec via a `stdin`/`stdout` pipe works and loading from a file directly also works. I tested those quite a lot by using LCDproc.

The part that is not so well tested is everything to do with changing the spec. I didn't even remember, that we allowed adding/modifying `default` and adding `type`. I can think of problems for both of them (handle the default value specially as

[2019-10-07 19:49] markus2330 commented on #2815
Yes, this change sounds very useful.

[2019-10-07 20:08] Chemin1 commented on #3030
What do we mean exactly with standalone? Calling "kdb (c)merge" or also with the little helper script that operates on files?

[2019-10-08 12:25] Chemin1 commented on #2967
I just got connection problems for build-elektra-web-base, too.
[code]

[This is a full log.](https://github.com/ElektraInitiative/libelektra/files/3702311/jenkinsDockerPush.txt)

[2019-10-08 14:56] PhilippGackstatter commented on #2993
Moving `elektraRenameKeys` to `elektra-kdb` worked great, everything still compiles and links.
I just can't find a good place for the function in the files belonging to that library, where it makes sense to live. Do you have a suggestion?

The declaration I would leave in `kdbprivate.h`.

[2019-10-09 08:05] #3034 closed

[2019-10-09 13:09] #2593 closed

[2019-10-09 13:33] sanssecours commented on #160
Looks like [`v2-debian-buster`](https://build.libelektra.org/jenkins/computer/v2-debian-buster/) is offline:

.

[2019-10-09 14:20] PhilippGackstatter commented on #2993
I suppose `elektraKeyGetMetaKeySet` will be moved from `kdbproposal.h` somewhere else in #2983?

The same then goes for `ksPopAtCursor` which may become part of #2991.

`elektraKeySetName` is basically the implementation of `keySetName`, so it should either be removed and directly implemented in `keySetName` or moved to `kdbprivate.h`?

Once these are taken care of, this issue is done.

[2019-10-09 14:28] markus2330 commented on #160
Thank you, I contacted our admin but I am afraid he will be out of office already.

[2019-10-10 01:32] markus2330 opened #3045 "Rust test case fails on master"
https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/18/pipeline reports:

[code]

[2019-10-10 01:36] markus2330 commented on #160
Herbert already restarted v2 yesterday. The setting with C-States was also changed there.

If a server (v2, i7, a7) crashes again, please also directly contact our admin via "herbert at complang.tuwien.ac.at". Please also report here, to avoid multiple emails.

[2019-10-10 07:21] markus2330 commented on #3030
I mean a script that works more or less than the current helper script. I already described this standalone script in the last comment of #2869:

[2019-10-10 07:49] PhilippGackstatter commented on #3045
Some error code was given that wasn't known to the mapper. The mapping for Installation ("C01200") errors was missing and I added that in #3047.

But that doesn't really explain why there occurred an error in the first place. The test case isn't raising an error. And the latest PR #3038 you merged didn't even touch the rust bindings.
I'll try to figure it out in the PR above.

[2019-10-10 08:05] PhilippGackstatter opened #3048 "keyIsBelowOrSame"
`keyIsBelowOrSame` is part of the public API, and should thus be documented on the [libelektra.org documentation](https://doc.libelektra.org/api/current/html/group__keytest.html), but it isn't.

Before we find out why it's not displayed, we should figure out if we still need this function, as it can easily be replaced by `keyCmp` and `keyIsBelow`.

[2019-10-10 08:27] markus2330 opened #3049 "remove keyIs functions"
As we already have keyGetNamespace, I think we can remove:

- [ ] keyIsSystem
- [ ] keyIsUser
- [ ] keyIsDir (currently without docu)
- [ ] keyIsProc (currently without docu)
- [ ] keyIsSpec (currently without docu)

I am very much interested in how much the size of the library changes by this.

Call-sites need to be changed keyGetNamespace == KEY_NS_

[2019-10-10 08:30] markus2330 opened #3050 "remove elektraKeySetName"
The idea of elektraKeySetName was to have flags which change the restrictions on the names (to allow cascading, meta, and empty key names). Now:

1. cascading names are allowed by default
2. against empty key names we are already protected by `ksAppendKey`
3. against meta/non-meta key names we will get protection with #2983

So we actually do not need the argument for elektraKeySetName. So I propo

[2019-10-10 08:31] markus2330 commented on #2993
In the beginning of src/libs/elektra/kdb.c there is already another helper function, maybe there?

Actually you can simply rename the function and move it to the core. The function is already needed by merging code and for bindings.

Yes, here we need a bit more of discussion, maybe we do not need ksPopAtCursor at all.

I created #3050 for discussion.

[2019-10-10 08:37] markus2330 commented on #2991
I propose to do following changes:

- make `ksNext` `ksRewind` private (not remove it because it would be too much effort to change all the loops)
- better document and advocate the external iterators (docu mostly done, maybe we also should have the examples how to write loops in the release notes)
- start using external iterators in new code
- remove `ksPopAtCursor`
- remove docu about internal c

[2019-10-10 08:53] markus2330 commented on #2983
So I think we basically agree that:

-  the function to return the KeySet should exist
- the meta-data functions be moved to libmeta (implemented with the function)
- we make a new `KeySet` not allocate the array if it should be used for meta-data
- we make the meta-keyset know that it is a meta-keyset (and it rejects to add normal keys then)

Open is:

- how to name the new function: keyMeta, key

[2019-10-10 10:54] PhilippGackstatter commented on #2983
@kodebach wrote

Since we will keep the existing metadata API, specifically `keySetMeta` and `keyGetMeta`, I agree that we should add a function that returns just the meta value of a metakey. I'm wondering if it's really useful if `keyGetMeta` returns the key and not the value itself? If possible, we should change that function.
Then `keyMeta` could be used to access the meta keyset. Otherwise `ke

[2019-10-10 11:08] markus2330 commented on #3045
Thank you for looking at it so quickly.

[2019-10-10 11:10] markus2330 commented on #3048
Thank you for reporting the issue. I am in favor of removing it.

Bindings that already have this function can keep it and call keyCmp || keyIsBelow,

[2019-10-10 11:33] kodebach commented on #2983
It was useful, but if the KeySet is accessible using `ksLookup` is just as good.

Not sure that it is possible. It would break a huge amount of code.

---

Why can't it happen? The code below is completely valid. It doesn't make much sense, but its not wrong. Or did you mean that the address `0xEADAEADA` cannot happen?

[code]

IMO we should just say `ksNew (0)` (`KS_END` is not needed with 0) doe

[2019-10-10 11:42] kodebach commented on #2991
Sounds good, but:

You mean `ksPop`? `ksPopAtCursor` doesn't exist.

The function `elektraKsPopAtCursor` uses an external `cursor_t` and therefore should stay.

We should also aim to remove it over time, i.e. every time we make bigger changes to a function that uses the internal cursor, try to remove as much of it as feasible. In many plugins the change should be fairly easy, only doing all of the

[2019-10-10 14:11] markus2330 commented on #2983
Yes, I agree! Originally, keyGetMeta needed to return a key to find out about identity of keys. This can now also be done via `ksLookupByName(keyMetaData(key), "meta/data/to/find")`

I am for keyMeta, it is the shortest.

Actually it can be much simpler: We can make `ksNew (0, KS_END)` not make the array allocation in all cases. Then we can simply set the flag which makes the KeySet a meta-keyset.

[2019-10-10 14:14] Chemin1 commented on #3030
Ahh, I didn't get that the tutorial should be for this script! I'll implement the script asap :)

[2019-10-10 14:25] markus2330 commented on #3030
Actually, the tutorial(s) should cover merging in general (your work) but I think the script will be the most easy way to describe it.

[2019-10-10 14:27] markus2330 commented on #2991
Is a wrapper in src/libs/proposal/proposal.c lines 220-223.

Ok.

Yes, this would be the long term goal.

[2019-10-11 05:48] sanssecours commented on #160
I think there is [something wrong](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/26/pipeline) with the Git repository for the `master` branch on `v2-debian-buster`:

[code]

. I already restarted the build three times, but Jenkins always fails with the same error.

[2019-10-11 07:02] markus2330 opened #3054 "buildserver: cleanup task for workspace on nodes"
It seems like currently the workspace is accumulating without ever being cleaned up.

On v2 /home/jenkins/workspace contains 148 directories which need 44G space.

Hopefully there is a ready-made Jenkins plugin for this.

[2019-10-11 07:05] markus2330 commented on #160
Unfortunately v2 has btrfs which sometimes seems to corrupt files. A similar problem we already had with a failing `docker pull`. In this case, the file 0bc3ca6fcbc610abd845aeff5f666938d24117 seems to be corrupted.  When running md5sum on the occurrences of this file, I get:

[code]

I now removed the whole directory for master and restarted the build. See also #3054

[2019-10-11 08:37] markus2330 opened #3055 "Specify all build deps"
@kodebach proposed to correctly specify the deps for all make targets.

@markus2330 proposes to fix the CLion tutorial to not encourage to use different make targets, unless you know what you are doing.

In #2969 @kodebach writes:

Does not work for me, CMake always calls itself, even if completely unrelated CMake files are touched.

We could recommend to only use them if you know what you are doi

[2019-10-11 08:43] markus2330 opened #3056 "Reset origvalue in keySetString"
In #3041 @kodebach proposed:

We discussed it in #3020 and #2700. I have not yet investigated, where the `origvalue` metakey even comes from, as it should be removed by `keySetString`. Possibly the `type` plugin is called multiple times on keysets that contain the same keys?

The fact is that this happens:

[code]

Now the interesting part:
[code]

That is odd, it seems something sets `origvalue`

[2019-10-11 08:44] markus2330 commented on #3041
As discussed with @haraldg this will be mostly community effort.

Moved to #3056.

[2019-10-11 08:49] markus2330 commented on #3056
Isn't it from the type plugin? We can make keySetString remove the metadata origvalue. It should be easy to find out if this solves the problem.

It would be amazing to have this as shell recorder test case as this is quite important to have correct. (Obviously only with `kdb` commands.)

It easily could be a bug in the type plugin, too. Are you sure you always remove the origvalue?

[2019-10-11 09:07] kodebach commented on #3056
https://github.com/ElektraInitiative/libelektra/blob/83d1a1962bdafff8d0dd79f6c8de99e66e1fe7c1/src/libs/elektra/keyvalue.c#L354-L370

`keySetString` already removes `origvalue`. There is no other way, `type` cannot reliably detect, if a key's value has been changed between `kdbGet` and `kdbSet`.

[2019-10-12 08:47] markus2330 commented on #3055
The point of declaring dependencies is that `make` will always successfully compile. And not to specify "there was enough built to do something afterwards".

Exactly, it is not known which ones are needed. It even depends on PLUGINS, BINDINGS or other variables. It is not a fruitful goal to try to specify all that.

Ok.

I tried to fix the tutorial: 98c0a4747b38dbafee89670e04b02728dd55a392

@d3nwp

[2019-10-12 08:52] raphi011 commented on #2924
Since this is merged - when will the package be available in the official repository?

[2019-10-12 09:34] sanssecours commented on #2924
PR #3053 (and PR #2932) only included the Dockerfile for Ubuntu Bionic. Jenkins does currently not build the packages for Ubuntu Bionic:

https://github.com/ElektraInitiative/libelektra/blob/dc24c7fc23a247127b29ff7023c933b336123e17/scripts/jenkins/Jenkinsfile#L1034

. The code for publishing the packages does not exist yet, as far as I know. It requires changes to the private [build server repo](h

[2019-10-12 11:16] PhilippGackstatter opened #3059 "Rust: OutOfMemory is not a subtype of a general resource error"
The error specification is defined as

- Permanent errors C01000
    - Resource C01100
        - Memory Allocation C01110

In Rust, due to lack of inheritance, the errors are implemented as nesting enums to allow for i.e. catching all types of permanent errors, as it would be with catching a PermanentErrorException in Java.

This works great as long as only the leafs of this tree are concrete erro

[2019-10-12 11:56] PhilippGackstatter commented on #2983
I think the key questions are answered here. I can work on this.

[2019-10-12 14:31] MasterToney opened #3060 "Order output of kdb list command"
Currently the output of kdb list is the same as how the commands in the [Factory](https://github.com/ElektraInitiative/libelektra/blob/dc24c7fc23a247127b29ff7023c933b336123e17/src/tools/kdb/factory.hpp#L86) are registered.
Since there are currently more than 80 commands registered I would suggest to sort them in alphabetical order to make it easier to find available or missing commands.

There are

[2019-10-12 18:12] markus2330 commented on #3056
Ok, so we need to debug what exactly causes the behavior.

[2019-10-12 18:40] markus2330 commented on #3060
Thank you for making this proposal! I think it is very useful to not output in a random order.

Yes, the get methods are the perfect place for this, `sort(ret.begin(), ret.end())` should do what you need.

[2019-10-12 18:46] markus2330 commented on #3059
Because a user might expect that catching a ResourceError will also catch OutOfMemory.

@Piankero is this the only place where this can occur? Where is this documented?

[2019-10-13 07:29] #3022 closed

[2019-10-13 07:33] markus2330 opened #3061 "build server reports formatting error in binary quickdump file"
In #3011 @Chemin1 run into a strange problem: The [build server reports](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3011/21/pipeline/):

[code]

@kodebach @sanssecours any idea what went wrong here?

[2019-10-13 07:58] markus2330 commented on #1293
@BernhardDenner any progress here? Would be great to be able to run your build server scripts also on Buster :+1:

[2019-10-13 07:59] #1137 closed

[2019-10-13 08:06] Piankero commented on #3059
There was a long discussion about if we allow leaf-only categories and it was agreed on that it would partly just result in unnecessary splitting (e.g., exactly for the OOMException). The Resource Errors are the only category which can have errors themselves and has a subtype as of now.

It was documented in the design decision but after restructuring it was lost/forgotten. I will add this informa

[2019-10-13 08:15] Chemin1 commented on #3061
[full log here](https://github.com/ElektraInitiative/libelektra/files/3721545/dockerFormat.txt)

I saw this only a single time, but maybe some else has had the same problem or will run into it in the future.

[2019-10-13 08:23] sanssecours commented on #3061
I have no idea. These transient error are usually also quite hard to reproduce.

[2019-10-13 08:27] markus2330 commented on #1188
We removed the fstab command. Now we only have `kdb mount`. I also improved the docu of `kdb mount` so that it is more clear that it persistently mounts files.

[2019-10-13 08:27] #1188 closed

[2019-10-13 08:27] markus2330 commented on #3061
Thank you for adding the log.

exactly.

[2019-10-14 09:30] PhilippGackstatter commented on #3059
Pattern matching
`if let KDBError::Permanent(PermanentError::Resource(err)) = kdb_open_result`
does exactly that. It catches both `GeneralResourceError` and `OutOfMemory`.

The other solution is to ditch the current enum implementation completely and create a wrapper around the error key. The wrapper would just match the strings.
Here is a short example [on the rust playground](https://play.rust-l

[2019-10-14 16:20] Chemin1 opened #3067 "Priority of FreeBSD"
How much of a priority is FreeBSD for us at the moment?

I just installed Elektra for the first time on FreeBSD 11.3. Compiling went relatively straightforward but the memory tests take forever at `Start 18: testlib_pluginprocess`. Should we put time into getting this to work or (especially if there is an easy solution that I currently don't see) documenting this?

[2019-10-14 17:25] sanssecours commented on #3067
I do not think adding FreeBSD support for Jenkins has a high priority, as we already build Elektra on FreeBSD `11` and FreeBSD `12`:

https://github.com/ElektraInitiative/libelektra/blob/62897f3708d886396c262e2965b611ba1f3fe3b3/.cirrus.yml#L4-L10

.

[2019-10-14 17:32] Chemin1 commented on #3067
I didn't think of Jenkins actually but rather something like extending the [getting started with compiling](https://www.libelektra.org/docgettingstarted/compiling) with more hints for BSD.

Because this

was really meant as forever. It didn't fail or succeed after quite some time. Or which steps have to be taken to install LibGit2. I just installed the package on BSD but couldn't use it yet with E

[2019-10-14 18:06] sanssecours commented on #3067
This is also the case on macOS. I can remember that executing all tests with Valgrind took over 10 hours on my computer. I would recommend you use [AddressSanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer) (`ENABLE_ASAN=ON`), if you want to debug memory related problems.

Does [`FindLibGit2.cmake`](https://github.com/ElektraInitiative/libelektra/blob/master/scripts/cmake/Module

[2019-10-14 18:09] petermax2 commented on #898
What do you think about having a plugin configuration parameter for the plugin that specifies a path where the "master password" should be stored. If it is not provided, we use the default (i.e. the plugin configuration) but we could specify some other location. Thus we should be able to restore the keys after re-mounting.

[2019-10-14 18:10] Chemin1 commented on #3067
Ok, I didn't expect it to take that long. In this case I'll leave it running while sleeping.

I'll try to find this out.

[2019-10-14 19:09] Chemin1 opened #3068 "Jenkins password protected"
I assume this is due to the migration. Currently looking why any Jenkins check is unsuccessful is impossible as the "Details" link in a PR redirects to a login portal.

For example #3011 has had all checks successfull two hours ago and not anymore now. Is this planned?

@Mistreated Do you know what's going on?

[2019-10-14 19:29] Mistreated commented on #3068
Yeah, it is due to the migration. It "should" be working now.

[2019-10-14 19:31] dominicjaeger opened #3069 "FreeBSD: UBSan & failing tests"
When compiling Elektra on FreeBSD 11.3 with `ENABLE_ASAN ON` I get
[code]

FreeBSD 11.3 has clang version 8.0.0. [Clang 8 documentation](http://cc.elte.hu/clang-docs/docs/html/UndefinedBehaviorSanitizer.html) mentions

According to the error message, however, we use `ld`.

@sanssecours  you mentioned ASAN in #3067. Do you use it for Mac only or did you get it working for FreeBSD as well?

## Updat

[2019-10-14 19:38] Chemin1 commented on #3068
After restarting the browser and Ctrl+F5 refreshing there is still the login portal.

[2019-10-14 19:48] Mistreated commented on #3068
It wants to login on the new server. I wanted to force new server today. Hopefully this will be resolved tomorow.

[2019-10-15 06:55] sanssecours commented on #3069
I only used it on macOS and Linux. Probably we have to use a setup similar to the one of macOS on FreeBSD.  I will check, if I am able to fix the build problems.

[2019-10-15 08:09] markus2330 commented on #3059
Yes, the main point point of the discussion was to have the possibility to introduce subcategories. For example for installation errors it might be interesting to distinguish installation errors of Elektra and other software.

But code written now to catch installation errors should also catch this potential new C01210 group of ElektraInstallationErrors. @PhilippGackstatter is this guaranteed with

[2019-10-15 08:15] markus2330 commented on #898
I am afraid the whole mounting depends on that the master-password is exactly where it is right now. If it is not there, the plugin will not find it during initialization (opening).

And there is currently also no way for the plugin to write somewhere it should not write to (outside of the keys it is responsible for).

[2019-10-15 08:20] markus2330 commented on #3067
Being portable is important for Elektra, so FreeBSD is important, too. Furthermore @llukask uses FreeBSD.

But to have tests running fast is not important. It is also very limited what we can do about it. (E.g. valgrind is only optimized on Linux.)

This is definitely a good idea! Maybe you can also coordinate with @d3nwp who is currently working on getting started (#3002)

[2019-10-15 08:22] #2815 closed

[2019-10-15 08:22] #3014 closed

[2019-10-15 08:26] markus2330 commented on #3068
@Mistreated please resolve as fast as possible. Having a working infrastructure has the highest priority.

[2019-10-15 08:27] petermax2 commented on #898
This issue is a really tricky one.

Isn't it possible to get stuck in an infinite loop if I open KDB for the same mount-point as the plugin currently handles?

Fully agreed. 😕

[2019-10-15 08:38] sanssecours commented on #3069
If you want, you can rebase on the branch [`😈`](https://github.com/sanssecours/elektra/tree/😈) of my copy of the repository, which should fix the build problems. Currently at least the tests:

- `testlib_pluginprocess`,
- `testmod_filecheck`,
- `testmod_iconv`,
- `testmod_process`, and
- `testmod_yamlcpp`

[fail on FreeBSD](https://cirrus-ci.com/task/5751822404288512?command=tests#L238), if we ena

[2019-10-15 13:45] Chemin1 commented on #3069
As mentioned in #3067, `testlib_pluginprocess` fails after 1500 seconds due to Timeout without ASAN in `make run_all`. I didn't get copy&paste to work in the VM yet, sorry for errors from typing it out

[code]

I still have to try that.

[2019-10-15 13:55] PhilippGackstatter commented on #2983
Should `keySetName(key, "namewithoutnamespace")` still be allowed or not? And if so, what namespace would it have? I'd say it shouldn't be allowed. With the addition of `meta/` for metakeys all valid keynames have a prefixed namespace (right?).

The background is this. The `elektraNamespace` enum already has a `KEY_NS_META`. It's definition is "metakey, i.e. any key name not under other categories

[2019-10-15 14:18] raphi011 opened #3072 "improve the documentation of ksAppendKey"
## Steps to Reproduce the Problem

1. Create a new key
1. increment the ref counter with `keyIncRef`
1. Add it to a keyset with `ksAppendKey`
1. call `ksClose` on the keyset
1. call `keyDel` on the key

## Expected Result

The deletion of the key is successfull since the keyset should not have deleted it as described in the documentation of `ksAppendKey`:

[code]

## Actual Result

Crashes with `i

[2019-10-15 16:17] PhilippGackstatter commented on #3059
The (current) bindings need to be extended manually, as each error code is mapped to one Rust error type. If one is added to elektra, but not the bindings or they are not updated, that would panic.

In that regard, the alternative solution I proposed would still be able to catch all types of installation errors, even if a new subcategory was added. The new subcategory would of course still need to

[2019-10-15 17:15] Chemin1 opened #3075 "Permissions in Bionic"
On my system as well as in the docker image I get the same errors when trying to `make run_all`. Related to #2932 or #2924?

Setup

[code]
Then in the container
[code]
[code]

In contrast `make run_nokdbtests` works fine.

[2019-10-15 19:01] Chemin1 commented on #3068
New PRs don't have the login prompt anymore. Also, after `jenkins restart libelektra please` the old PR's Jenkins is available again.

[2019-10-15 19:01] #3068 closed

[2019-10-15 19:15] Chemin1 commented on #3069
So after I managed to download your branch (see [screenshot](https://user-images.githubusercontent.com/37143059/66861546-827b6f00-ef8f-11e9-962a-8ff8b046acc4.png)) I can confirm that the build

[code]
works. I got some failing tests as well
- `18 - testlib_pluginprocess`
- `108 - testmod_yamlcpp`
- `152 - testshell_markdown_msr_s`

[2019-10-15 19:29] Chemin1 commented on #3067
I have quite a chaos at the moment, but at some point I got the log message that libgit2 was found on FreeBSD :)

[2019-10-15 19:52] Chemin1 opened #3077 "FreeBSD: run_dev_env not working"
The `run_dev_env` scripts doesn't seem to work on FreeBSD. Using `sh` as explained in #3076 makes that only an error message that I am used to (`cannot open...`) gets thrown.

[code]

@llukask Markus mentioned that you use FreeBSD [here](https://github.com/ElektraInitiative/libelektra/issues/3067#issuecomment-542097209). Do you know what's going on?

[2019-10-15 20:12] Chemin1 opened #3078 "FreeBSD: run_asan not working"
`run_asan` doesn't seem to work on FreeBSD. Related to #3077?

[code]

Our [testing documentation](https://www.libelektra.org/devgettingstarted/testing) mentions

At least one part of this command does not work on FreeBSD
[code]

@llukask Do you know what's going on?

[2019-10-15 20:44] Piankero commented on #3059
Is this meant for me or @PhilippGackstatter ?

It is acceptable that one needs to manually add the error type to Rust if Elektra gets a new error type. Error types are very stable and should not change very often. We agreed on this in a design decision (will be merged soon from #2872).

The main advantage I see here is that if you forget to add it in Rust, it will not break any existing Rust code,

[2019-10-15 21:12] PhilippGackstatter commented on #3059
There's two cases. From the binding user's perspective,
1) Elektra adds a new error type and Rust binding is updated
2) Elektra adds a new error type, but the Rust binding is not updated

| Implementation        | binding up-to-date           | binding *not* up-to-date  |
|:-------------:|:-------------:|:-----:|
| Current     | compile error if the enum is exhaustively matched, otherwise fine | p

[2019-10-16 05:58] Chemin1 commented on #2967
Is this all the retrying and waiting after `Pulling from build-elektra-web-base` ([log](https://github.com/ElektraInitiative/libelektra/files/3732623/log.txt))?

Additionally, I think this error is new: `test_service_convertengine` fails during `Starting build/hub.libelektra.org/build-elektra-website-backend` ([log 2](https://github.com/ElektraInitiative/libelektra/files/3732627/log.1.txt))

[2019-10-16 07:21] markus2330 commented on #3059
To @Piankero

Yes, it is acceptable to adapt all the bindings. But it is not acceptable that every user of Elektra (or its bindings) need to adapt the code. If this is not clear from the decision it should be corrected.

Hopefully the binding and Elektra will be in sync (if not panic is ok). But what can easily happen is that the application was compiled against an older version of Elektra and Ele

[2019-10-16 08:20] markus2330 commented on #898
If it is done within plugins it would be like this. Within checkconf, however, it might work. (Iirc `kdb mount` opens KDB after checkconf is called).

[2019-10-16 08:28] markus2330 commented on #2983
I agree.

Yes. It depends on the effort, though. If it cannot be done within a few hours, we can also leave it as-is. I would say we make the meta:/ change together with the colon between namespaces (#1037). (There are both big changes and it is unknown if the changes are feasible.)

As the invalid key would not be possible, we do not need to have it in the enum.

[2019-10-16 08:44] kodebach commented on #2983
There are still the cascading keys that `spec` adds to the KeySet for their use as defaults. It might make sense to prefix these with `default`. Then keys without a namespace would only be used as a lookup and never inside a KeySet.

[2019-10-16 09:10] kodebach opened #3080 "Idea: Combine namespaces in KeySet"
This is not really a proposal, but more an idea I had. It is completely untested. It is also a **very big** change, probably version 2.0 rather than 1.0.

We are currently working towards all keys having a proper namespaces. This gave me an idea.

## Current situation

Right now we use the full key name as the sort key and the hash map key in a KeySet. This means that a cascading lookup requires m

[2019-10-16 12:34] sanssecours commented on #3045
Seems the test [failed again](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/58/pipeline).

[2019-10-16 13:23] PhilippGackstatter commented on #3045
It's a different error this time unrelated to the error mapping.
A `Permanent(Logical(Internal(...)))` error occurred, but it wasn't printed out. So that's all the information that I have. I'll added a small fix to master for printing that as well, that's all I can do unfortunately. Next time we can see the error if the same one happens again.

[2019-10-17 06:44] markus2330 commented on #3072
Thank you for reporting this problem! As written in  #3073 this testcase should also be part of the test suite (for regression tests).

[2019-10-17 06:51] markus2330 commented on #3075
Thank you for reporting this problem! I think it is a documentation problem. Which part of the docu made you believe that the tests should succeed? Did you read doc /TESTING.md? Maybe we need a better pointer to the file.

@d3nwp I assign this to you. Maybe doc/TESTING.md also needs to be linked from doc/tutorials/run_all_tests_with_docker.md?

[2019-10-17 06:52] markus2330 commented on #3068
@Chemin1 does now again everything works as expected?

[2019-10-17 06:54] markus2330 commented on #3069
Thank you for working on this! Can you make a list of failing tests in the top post of this issue?

Why are these tests not failing on our build server?

[2019-10-17 07:01] markus2330 commented on #3077
Thank you for reporting this problem!

Can you check what $SCRIPTS_DIR and $PATH contains? Furthermore, `grep "^Elektra_SOURCE_DIR" CMakeCache.txt` might be of interest. Maybe grep needs `-e` to support the `^` on FreeBSD?

In any case it seems like SCRIPTS_DIR is already wrong on your system and thus the rest of the script cannot do anything useful.

[2019-10-17 07:03] markus2330 commented on #3078
Thank you for reporting this problem!

This seems to be a duplicate of #3077, as long as run_dev_env does not work, the other scripts obviously also cannot be found.

[2019-10-17 07:12] markus2330 commented on #2967
Yes, I agree test_service_convertengine is not reported here yet. Actually we can disable the test as the service is not modified anyway.

@sanssecours is there some procedure how to add new tests in the above list?

[2019-10-17 07:21] raphi011 commented on #3072
Going to add the test tomorrow

[2019-10-17 07:26] sanssecours commented on #2967
Nope. I already gave up on modifying the list, since the Jenkins build fails too often. I would recommend we just open an issue for each specific problem.

[2019-10-17 07:48] markus2330 opened #3082 "default namespace"
As already discussed in #2723, #2983 and others (older issues I could not find about the spec plugin) it would be clearer if we would not abuse cascading keys to also represent default keys.

## Current Situation

Currently, the spec plugin creates cascading keys for all `default` it does find. `ksLookup` uses these keys (instead of creating new cascading keys, see #972) if they are found.

## Wan

[2019-10-17 07:57] markus2330 commented on #3080
Thank you very much for the idea! The big question with more complex data structures is how we can maintain the easy and fast O(1) iteration we have now.

I agree that this is out-of-scope for 1.0.0. I'll close issues for 2.0.0 so that it is easier to find 1.0.0 issues.

[2019-10-17 07:57] #3080 closed

[2019-10-17 07:58] markus2330 commented on #3045
Thank you! It is always good to have enough output in test cases.

[2019-10-17 08:11] markus2330 opened #3083 "remove ksLookup features not related to looking up keys"
Elektra used to have ksLookup features that were simply iterating over all keys and checking values. This functionality is not very useful.

Thus following functions should be removed:

- [ ] ksLookupByString (which is also buggy, see a9e2aab7cc933995e99b48c0fa6c4deb75e11755)
- [ ] ksLookupByBinary
- [ ] elektraLookupLinearSearch
- [ ] KDB_O_NODIR and so on, are already marked to be removed, until

[2019-10-17 08:16] markus2330 commented on #2967
For issues related to source code I agree. For the issues related to docker/jenkins instability it is enough to collect issues here as it is very limited what we can do next to the migration we already do but unfortunately takes longer as expected. It would be nice if @Mistreated could give more information about the status, maybe in #160.

[2019-10-17 08:38] markus2330 commented on #2967
Can you please report that separately? The fix is to disable the tests.

[2019-10-17 09:53] Chemin1 commented on #3068
Yes

[2019-10-17 10:07] Chemin1 commented on #3078
Let's assume `run_dev_env` was working. Then `run_asan` would fail if `llvm-symbolizer` is not installed?
[code]
I cannot find llvm-symbolizer on my FreeBSD. If this is true then we could make a list of necessary packages for FreeBSD.

Additionally, I just noticed that the description of run_asan in TESTING.md contains an invalid string `shell`. I fixed it locally and plan to make a PR if I find s

[2019-10-17 10:23] markus2330 opened #3084 "order of namespaces in KeySet"
Currently keys are added in alphabetical order, thus the namespaces would be in following order:

1. default
1. dir
1. proc
1. spec
1. system
1. user

More logical, however, would be to have the keys in order of preference:

1. spec
1. proc
1. dir
1. user
1. system
1. default

This could be implemented similar to #2698: Within the unescaped key names there could be some prefix that brings the keys

[2019-10-17 10:24] markus2330 commented on #2992
I think all of this could be moved to 2.0.0. If there is something reasonable for 1.0.0, please tell me.

[2019-10-17 10:24] #2992 closed

[2019-10-17 10:28] Chemin1 opened #3085 "run_dev_env in csh"
As mentioned in [this comment](https://github.com/ElektraInitiative/libelektra/pull/3076#issuecomment-543037905). FreeBSD has `csh` as default shell. The syntax of run_dev_env is invalid in csh.

[code]

I added documentation on how to avoid this problem in #3076 but we could improve user experience by having scripts work with `csh` too.

I don't  know if there is one syntax that fits many shells

[2019-10-17 10:29] markus2330 commented on #3078
The question is what "necessary" is. If FreeBSD does not have everything for ASAN packaged, maybe we should drop the idea to have ASAN test cases on FreeBSD?

The foremost goal should always be to have Elektra itself successfully running.

Thank you very much!

[2019-10-17 10:37] Chemin1 commented on #3069
Done.

I have no idea. I hope I can take a look at it soon.

[2019-10-17 10:49] Chemin1 opened #3086 "test_service_convertengine fails on website build"
`test_service_convertengine` fails during `Starting build/hub.libelektra.org/build-elektra-website-backend`. [logfile here](https://github.com/ElektraInitiative/libelektra/files/3738796/log.1.txt).

According to https://github.com/ElektraInitiative/libelektra/issues/2967#issuecomment-543039772 we can disable the test to fix this.

[2019-10-17 10:50] sanssecours commented on #3069
That is the case, since we have no FreeBSD build job that uses AdressSanitizer (`ENABLE_ASAN=ON`).

[2019-10-17 10:50] Chemin1 commented on #2967
Done, see #3086

[2019-10-17 11:16] Chemin1 commented on #3075
I read TESTING.md but I didn't execute all the steps to verify if I have an appropriate environment yet.

1. I ran the tests a lot of times  during the last months and never encountered this problem. It happened the first time with bionic. Thus, I assumed that this is a new problem.
2. It doesn't seem logical to me that the sid or buster docker image is adequate for the tests but bionic suddenly i

[2019-10-17 11:21] markus2330 commented on #3085
Thank you for reporting this problem!

[2019-10-17 11:26] markus2330 commented on #3086
Thank you for reporting the problem!

[2019-10-17 11:29] markus2330 commented on #3069
Thank you! If you use `- [ ]` we can tick what was done and GitHub will also know how many of these tests are already fixed.

So the easiest solution is to say ENABLE_ASAN is not supported in FreeBSD. (To be updated in docu.)

Do these test cases above also fail without ENABLE_ASAN?

[2019-10-17 11:34] markus2330 commented on #3075
I did not know that you retry exactly the same with a different docker image. Then it would be a bug.

In the above description, you simply used `cmake ..` (where I would expect it to fail, see TESTING.md) and in doc/tutorials/run_all_tests_with_docker.md we use what is explained in TESTING.md (DKDB_DB_SYSTEM and so on).

I do not see the connection. In this issue you describe a permission error.

[2019-10-17 11:35] Chemin1 commented on #3077
[code]

[2019-10-17 12:25] markus2330 commented on #3077
I see,  #3087 hopefully fixes the problem.

[2019-10-17 12:40] Chemin1 commented on #3075
I contrast to some weeks ago, I now also get the errors with the other docker images.

Yes, I simply used `cmake ..`. I did expect this to fail on plain Ubuntu. I did **not** expect it to fail in the docker image. I assumed that docker magically solves those steps as I did not fully read run_all_tests_with_docker.md when I reported the problem.

As a consequence, we could also insert a link from T

[2019-10-17 12:50] markus2330 commented on #3075
Thank you for confirming that it is a docu problem. I reopen so that we do not forget to fix these sentences.

[2019-10-17 12:51] markus2330 commented on #3075
You are also very welcome to suggest changes in the docu so that it would be clear for you.

[2019-10-17 14:24] markus2330 commented on #2855
failed again https://travis-ci.org/ElektraInitiative/libelektra/jobs/599129506

[2019-10-17 14:31] markus2330 opened #3088 "doc/tutorials/language-bindings.md"
Please improve (including saying something about subtypes) and fix TODO.

[2019-10-17 14:32] markus2330 opened #3089 "doc/tutorials/storage-plugins.md"
Please resolve TODOs at end of file.

[2019-10-17 14:35] markus2330 opened #3090 "Fix doc/VERSION.md for 1.0"

[2019-10-17 14:48] markus2330 opened #3091 "Remove src/include/kdbobsolete.h"
As it only contains one function, we can remove the file (ideally also the function).

[2019-10-17 14:52] markus2330 opened #3092 "src/libs/highlevel/elektra_error.c"
https://github.com/ElektraInitiative/libelektra/blob/e000710a83fe3a7ae019a12d7efd37676ee6b59f/src/libs/highlevel/elektra_error.c#L124-L129

@kodebach what is wrong there?

@Piankero please document how to get number of warnings.

[2019-10-17 15:01] markus2330 opened #3093 "Fix TODOs"
Important TODOs to be fixed:

- [ ] kdb.c
- [ ] src/libs/elektra/split.c
- [ ] src/plugins/cache/cache.c (@mpranj)
- [ ] src/plugins/mmapstorage/mmapstorage.c (@mpranj)

[2019-10-17 15:09] markus2330 commented on #3089
@sanssecours I was thinking about that you could add something about "Add section about relative keys" and also help @bauhaus93 if there are any questions.

[2019-10-17 15:44] markus2330 commented on #3092
Thank you for making the bug request more pretty and helpful.

I agree warnings should be a proper array. Thank you for adding the TODO.

@Piankero any further questions?

[2019-10-17 15:48] kodebach commented on #3084
We already have an `enum` for all the namespaces. Why don't just use that as the first byte of the unescaped name. For example the key `spec/foo/bar/key` would become `\4\0foo\0bar\0key\0`. That would also simplify `keyGetNamespace`.

IMO we should strive to make `elektraUnescapeKeyName` more efficient, so we should really think hard before adding stuff to it. And more importantly everything we ad

[2019-10-17 15:55] markus2330 commented on #3084
Excellent suggestion! I like this idea very much!

I think the most expensive stuff is already implemented, the ordering and array escaping should be cheap compared to what we already have.

[2019-10-17 16:00] kodebach commented on #3084
I will implement this and look into possible optimizations as well. I think I found some minor problems already.

[2019-10-17 20:27] PhilippGackstatter commented on #3083
In the [keyvalue documentation](https://doc.libelektra.org/api/current/html/group__keyvalue.html#ga6f29609c5da53c6dc26a98678d5752af) under the Binary Data Handling heading, in the example, there is a reference to `KDB_O_SORT`. How should that be changed/handled if these are removed?

[2019-10-18 06:31] Chemin1 commented on #3069
[code]

[2019-10-18 06:40] markus2330 commented on #3084
Thank you sooo much :sparkling_heart:

[2019-10-18 07:45] markus2330 commented on #3069
It is always good to keep separate problems in separate issues. The ASAN issue seems to have nothing to do with the testlib_pluginprocess timeout. Maybe there is some incompatibility of how FreeBSD handles pipes.

@sanssecours Any thought why testshell_markdown_msr_syntax is broken?

[2019-10-18 08:08] raphi011 commented on #3072
What is the easiest way to a run a single test in the tests/ctests folder? @markus2330

[2019-10-18 08:41] markus2330 commented on #3072
`ctest -V -R ...`, I added it in 69400481b699c068dba595ae334f353da9706f8c

[2019-10-18 09:02] kodebach commented on #3091
It might take some time because AFAIK either elektraKeySetName or elektraUnescapeKeyName uses keyGetNameOneLevel, so they have to be changed before keyGetNameOneLevel can use the unescaped name.

[2019-10-18 11:30] sanssecours commented on #3069
Looks like FreeBSD’s version of `grep` does not support the regex syntax `\s`, which we currently use in [`markdown_shell_recorder.sh`](https://github.com/ElektraInitiative/libelektra/blob/master/tests/shell/shell_recorder/tutorial_wrapper/markdown_shell_recorder.sh). PR #3097 should fix the problem.

[2019-10-18 11:54] markus2330 commented on #3091
keyBaseName currently returns from the unescaped name but you are right, it makes sense to always get the escaped form. See d8bd4f37626170dcf31033ef728e208aa53397f8

We should definitely improve the docu on these details and in this case maybe even the behavior (I think it was already confusing for someone that keyBaseName returns the unescaped form, e.g.  #176). Thank you for taking a look at it!

[2019-10-18 12:39] markus2330 commented on #160
As I am now not available for a few days, please contact "herbert at complang.tuwien.ac.at" on issues regarding unreachable a7/i7/v2. @Mistreated will be responsible for everything that is not related to rebooting servers. (Hopefully we will get a new build agent soon.)

Please also always report here, to avoid multiple emails and so that everyone has a good overview of what is going on.

[2019-10-18 12:51] markus2330 commented on #2967
I think our best guess to make our lives much easier is to "fix" these problems using https://wiki.jenkins.io/display/JENKINS/Naginator+Plugin

Then Jenkins will restart failed jobs several times. I think we could try 5 restarts before giving up?

@Mistreated Can you implement this also on the old server? Or is this too risky?

Before we implement this, however, we need the new Jenkins Node as oth

[2019-10-18 13:05] raphi011 commented on #3072
Seems like I was wrong - the logic of not deleting the key if it still has references is implemented in `keyDel` not `ksDel`, so everthing should be fine. Closing this

[2019-10-18 13:07] markus2330 commented on #3072
Maybe you can update the docu so that the next person is not confused about the logic of keyClose/ksClose?

[2019-10-18 14:04] raphi011 commented on #3072
Done

[2019-10-19 07:50] PhilippGackstatter commented on #3091
Okay, then imo it makes more sense for you to remove `kdbobsolete.h` when you get around to change `keyGetNameOneLevel`. Otherwise I'm just moving functions around.

[2019-10-19 11:10] raphi011 commented on #3037
I can't find the vanity `index.html` in the /doc repository anymore, have you removed it @markus2330 ? I need to update it with [this file](https://gist.github.com/raphi011/995358e145cb779a5ff198ae68923386)in order to make the documentation work again.

[2019-10-19 13:12] Piankero commented on #3059
Alright, I can help @d3nwp to restructure the docu. Can @d3nwp tell me which docu exactly is meant?

[2019-10-19 13:22] Piankero commented on #3092
I want to change the way warnings are stored after the merge of #2976.

[2019-10-19 13:42] Piankero commented on #160
Does the build server currently have a malfunction?
https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3062/11/pipeline

[2019-10-19 13:48] sanssecours commented on #160
It seems like the main Jenkins build server is unable to connect `i7`. I marked the node as temporarily offline.

[2019-10-19 13:49] kodebach opened #3102 "Keyname overhaul"
There are a few issues already concerning key names:

- #2983: add `meta` namespace
- #3084: non-alphabetical ordering of namespaces
- #2698: automatically prefix array indices with underscores
- #3082: add `default` namespace

In addition `elektraKeySetName` is known to be a bottleneck and should therefore be optimized.

The goal of this issue is to define the structure of key names, so that we c

[2019-10-19 14:01] Piankero commented on #160
Thank you.
The jenkins rebuild comment does not work properly for some PRs too (see https://github.com/ElektraInitiative/libelektra/pull/3046). Should I add some minor commit so it is completely rebuild?

[2019-10-19 14:31] kodebach commented on #3102
## Escaped Key Name Structure

The structure of escaped key names is defined by the following ANTLRv4 grammar.

[code]

The grammar could be simplified, but doing it this way, allows us to define some terms:
- **cascading**: any key name matched by the rule `cascadingName` is cascading, i.e. it is just a key path
- **namespaced**: any key name matched by the rule `namespacedName` is namespaced, i.

[2019-10-19 14:31] kodebach commented on #3102
## Unescaped Key Name Structure

The structure of unescaped key names is much simpler. Here is again a ANTLRv4 grammar:

[code]

Informally this just means:
- All unescaped key names start with a byte indicating the namespace followed by a zero byte.
- All unescaped key names end with a zero byte.
- Between the first zero byte (after namespace byte) and the last zero byte (terminator), there is a

[2019-10-19 14:48] kodebach commented on #3102
## Canonicalization of Key Names

The first step in `elektraKeySetName` is to canonicalize the name. Non-canonical key names are never stored.

Canonicalization doesn't touch a possibly present namespace. The rules below apply only to the `keyPath` part of the key name:
- All repeated occurrences of `/` are replaced by a single `/` (`//` -> `/`, `///` -> `/`, etc.).
- All occurrences of `/./` are

[2019-10-19 15:00] kodebach commented on #3102
## Unescaping of Key Names

The second step in `elektraKeySetName` is to convert the canonical key name into an unescaped key name.

This is done via the following rules:
- The namespace is converted into the corresponding `KEY_NS_*` byte. For cascading keys we use `KEY_NS_CASCADING`. (Note: The values of `KEY_NS_*` will be modified to ensure the sort order proposed in #3084)
- After the namespace

[2019-10-20 14:38] Piankero commented on #160
The build fails on arbitrary cases:
[Here](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3071/4/pipeline) it was interrupted without any reason
[Here](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2872/7/pipeline) a test case fails which is unrelated to my PR (i just added a design decision w/o touching any code)

[2019-10-21 07:24] Chemin1 commented on #160
I got the same interruption code 143 for two PRs and cannot explain them yet. I restarted the build and hope that it works now.

Your second problem should be fixed thanks to @sanssecours. Please try to rebase.

[2019-10-21 07:31] Piankero commented on #2855
actually this build job did not fail at all

@sanssecours (or @Chemin1 ): How exactly does the jenkins build work in regards of caches. Does every build load a docker image and downloads all dependencies of maven itself into the container? Or is there a general folder which is used by all builds to reduce disk/network load?

[2019-10-21 07:56] sanssecours commented on #2855
I do not know about any special code to download Maven packages on the Jenkins build server. I would assume `cmake` uses `mvn` to download the packages for the build, just like it would if you build Elektra locally. I am not really familiar with the Jenkins setup, though.

[2019-10-21 08:02] Piankero commented on #2855
mvn does implicitly download dependencies when jna is build. Any dependency is ususally downloaded in a local .m2 repository under the `home` path. Does jenkins do any build/downloads etc in a local running docker container or does it use a standard temporary build directory from a jenkins?

[2019-10-21 08:31] sanssecours commented on #2855
I only know that we already add Google Test to most of our Docker images. For example, here is the relevant code for Debian Buster:

https://github.com/ElektraInitiative/libelektra/blob/990b866c70ebf42448f633b6f0c9d2bb36a85102/scripts/docker/debian/buster/Dockerfile#L87-L94

.

[2019-10-21 10:44] Chemin1 commented on #2855
Unfortunately, I don't have the slightest clue.

[2019-10-21 11:22] kodebach opened #3104 "Consider removing ckdb namespace"
Currently, we use the namespace `ckdb` for some, but not all of our C libraries. In general it is very unclear, when the namespace should be used an when it shouldn't be.

Personally, I think we should just remove it and not use a namespace in our C functions. If someone using C++ really needs to put e.g. the contents of `kdb.h` into a separate namespace to avoid conflicts, they could still use:

[2019-10-21 11:45] Mistreated commented on #2967
After a bit of struggling I managed to add a new Jenkins Node.

The old server is overloaded in my opinion, but we can try I guess..

[2019-10-21 12:03] sanssecours commented on #160
The [new Jenkins node](https://github.com/ElektraInitiative/libelektra/issues/2967#issuecomment-544477577) `hetzner-jenkins1` [does not seem to work correctly](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/76/pipeline/). I marked the node as temporarily offline.

[2019-10-21 12:06] sanssecours commented on #2967
Thank you for adding the new Jenkins node. I disabled the node for now, since [it seems to break the build](https://github.com/ElektraInitiative/libelektra/issues/160#issuecomment-544483177).

[2019-10-21 18:52] PhilippGackstatter commented on #3059
That can only happen if the rust bindings were compiled as a shared library and updated independently from the application, unless I'm missing something. If the new binding + elektra version returns a new error code, then the current implementation panics when it tries to map the error code.

I have thought more about the proposal and instead of supplying the error code to check for, we could prov

[2019-10-21 18:57] Chemin1 commented on #3104
When writing my only C++ file in this project `src/tools/kdb/cmerge.cpp` I was confused by the difference between `ckdb` and `kdb`. As a consequence I guessed and checked if the compiler threw an error sometimes.

Sure, I had nearly 0 experience with C++, but future contributors might be in the same boat. So if this might make things easier from your experience, I support it.

[2019-10-22 08:48] Piankero commented on #2855
I am just confused how docker interacts with the jenkins directories. The problem of this issue does only occur if multiple maven instances try to download into the same directory when resolving dependencies. If however this is done via docker this should not happen unless the same volumes are mounted for all docker images which include the mvn directory. This would also explain why this issue onl

[2019-10-22 09:44] mpranj commented on #2855
I think that is just a tutorial, not what's actually happening on our jenkins. [Access to the local git mirror](https://github.com/ElektraInitiative/libelektra/blob/ee898361b91a2e01040f4d8c3f197c6a771de0d8/scripts/jenkins/Jenkinsfile#L1256) is the only mount I see in our Jenkinsfile. I don't think there are any other direct interactions with the host filesystem. Docs are published via SSH and arti

[2019-10-23 21:15] Mistreated commented on #2967
I updated the node. It should work now. If something goes wrong you can update me here again.

[2019-10-24 05:14] sanssecours commented on #2967
Looks like [`docker pull` fails on `hetzner-jenkins1`](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3065/19/pipeline/337), since the node has not enough free space:

.

[2019-10-24 08:25] markus2330 commented on #160
I upgraded docker on i7 and restarted the machine. I hope this fixes the problem. The agent is online again. Please report problems here (and/or deactivate the agent).

Currently a job of #3065 is running on i7.

@Mistreated can you debug hetzner-jenkins1 please?

[2019-10-24 09:22] markus2330 opened #3107 "python: add shellrecorder test"
[code]

and a script.py looking like (shortened):

[code]

expected behavior: after `kdb set system/somewhere` the modifications should be in the file.

actual behavior: the changes get lost

[2019-10-24 11:14] Mistreated commented on #2967
Node updated.

[2019-10-24 14:20] sanssecours commented on #2967
Build jobs on [`hetzner-jenkins1` seem to fail](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/95/pipeline/613/), because of permission related problems:

.

[2019-10-24 16:03] MasterToney opened #3109 "kdb plugin-list -v ordering"
Running the command `kdb plugin-list` returns all available plugins sorted in alphabetical order.
Running the command `kdb plugin-list -v` returns all available plugins sorted in alphabetical order trailed by the status.

Looking at [pluginlist.hpp](https://github.com/ElektraInitiative/libelektra/blob/master/src/tools/kdb/pluginlist.hpp) I can find no mention what -v should do except print verbose

[2019-10-25 07:44] markus2330 commented on #3109
Thank you for reporting this problem!

[2019-10-25 08:05] markus2330 commented on #2855
Seems like Travis does not keep the failed build after retry, at least I also cannot find it anymore.

It has nothing to do with Jenkins as it also fails locally and on Travis.

This is a step into the right direction.

As already said, Elektra does at least two mvn calls during build (jni and jna). The dependencies between them most likely is incorrect, leading to concurrent executions. Please in

[2019-10-25 08:42] markus2330 commented on #3104
I think this was mostly misunderstanding of C++ namespaces. But yes, as many of us are beginners in C++ it is good to keep it simple.

[code]

Are you sure this works? IIRC there were problems with enums.

I think this was mostly misunderstanding of C++. But yes, as many of us are beginners in C++ it is good to keep it as simple as possible.

If @Piankero manages to remove all ckdb namespaces (may

[2019-10-25 09:06] kodebach commented on #3104
Let me rephrase my point: What was the intention behind the `ckdb` namespace? What is the benefit of using it?

IMO there is no benefit. All symbol names have to be globally unique anyway, otherwise

[2019-10-25 09:11] kodebach commented on #3104
As far as I understand it, `#include` basically copies the referenced file into the current one. Whether the `namespace` declaration is in one file or the other shouldn't matter, as the preprocessor has no concept of namespaces.

[2019-10-25 09:11] kodebach commented on #3104
As far as I understand it, `#include` basically copies the referenced file into the current one. Whether the `namespace` declaration is in one file or the other shouldn't matter, as the preprocessor has no concept of namespaces.

[2019-10-25 10:59] kodebach opened #3110 "elektraStrNDup should be elektraMemDup"
The function name `elektraStrNDup` could be confusing. In the standard library `strn*` functions use the length as a maximum, but stop if a `\0` is encountered first. `elektraStrNDup` meanwhile ignores any `\0` it encounters. In the standard library such functions are called `mem*`.

It is especially confusing, since there is a `strndup` function [in the POSIX standard](https://pubs.opengroup.org/

[2019-10-25 11:29] kodebach opened #3111 "Require C99 and update kdbtypes.h for 1.0"
I think the 1.0 release would be a good opportunity to require C99 as the minimum C version.

This would also allow as to use `stdint.h` types in `kdbtypes.h`, which would simplify the file a lot. In fact, it might make sense to publicly define the `kdb_*_t` types as aliases for `stdint.h` types. Then applications could safely use e.g. `int32_t` instead of `kdb_long_t` without worrying about compa

[2019-10-25 11:30] markus2330 commented on #3104
That the global namespace is not cluttered. It is not an ideal situation anyway, as the symbol names are not mangled anyway. But at least there are no problems when e.g. `ksNew` implemented in C++ exist.

Yes, for C there is obviously absolutely no benefit.

Of course, but then the whole content gets into the namespace. Currently only the functions (not the enums) are in ckdb.

[2019-10-25 12:40] kodebach commented on #3104
`kdb.hpp` should just include `kdb.h` inside a `namespace ckdb { }` like shown above.

That makes the whole thing even more confusing....

I get that it is so you can use the enum values in C++, but that also pollutes the global namespace.
It would be best to use `enum class`es for C++. It's of course more complicated, since Elektra's "enum types" are in fact all `typedef int`, because otherwise `

[2019-10-25 12:40] kodebach opened #3112 "keyCreate: simpler alternative to keyNew"
The API for `keyNew` is very flexible, but its also very verbose. In addition the resulting binary code is quite big. For example creating a simple key with a string value, type and description metadata is done like this:

[code]

The `keyswitch_t` arguments are not required in this simple case. But each of them represents at least 1 instruction. If a big `KeySet` is created with many `keyNew` cal

[2019-10-25 13:15] Piankero commented on #2855
Ok, this was not clear to me.

I opened #3113

[2019-10-25 13:42] Chemin1 opened #3114 "newlines in meta data with ini"
The ini plugin does not seem to handle newlines in meta data correctly.

## Steps to Reproduce the Problem
[code]

## System Information

- Elektra Version: some version of PR #3106
- This happens only in jenkins build debian-stretch-full-ini

[2019-10-25 17:20] MasterToney commented on #3109
What about the default case without -v ?
Can that stay sorted alphabetically?

We could also put the status in front (for -v) and space them the same, something like this:

[code]

That would make it obviously why they have the order they do.

[2019-10-25 21:19] Chemin1 commented on #160
Is there a possibility to easily turn off a link check for some time?

This has been happening for the whole day:
[code]
Other PRs (most recently #3115, #3113) are affected as well. According to [downforeveryoneorjustme](https://downforeveryoneorjustme.com/cppcms.com)  links really are not available.

[2019-10-25 21:59] Chemin1 commented on #3114
This does not only affect multiline input but meta arrays in general.
[code]

[2019-10-25 22:18] Chemin1 commented on #3112
I'll just add my example for other readers:

For `n=3` we get a list of size  `2n+1=7`
[code]

Generally I really like this idea! I just didn't get the difference between `keyCreate` and `keyVCreate` or rather `...` and `va_list va` yet. Is the final `NULL` necessary for the implementation in C?

[2019-10-26 07:06] markus2330 commented on #3114
Thank you for reporting this problem!

In general you should not expect too much from the INI plugin, I updated its status in #3116. Hopefully it will soon be superseded (in most cases) by @bauhaus93's TOML plugin.

Why are you trying to mount a hosts file with the INI plugin? And is this report different from  #2467?

I think best for your evaluation will be if you compare some plugins (like host

[2019-10-26 08:56] markus2330 commented on #160
You can turn off individual links by adding them to tests/linkchecker.whitelist (as you already found out)

[2019-10-26 09:26] markus2330 commented on #3112
Thank you for the suggestion! I also like the idea but I need to be strict about not implementing new features as we will get lost otherwise and never finish 1.0. Having `keyCreate` instead of `keyNew` is unrealistic to implement.

So, I will close so the issue so that we can focus more on 1.0. As it is tagged with 2.0.0 we can easily find it again once we have released 1.0.0.

[2019-10-26 09:26] #3112 closed

[2019-10-26 09:31] markus2330 commented on #3109
Yes, I found that to be an improvement, otherwise I would not have merged the PR :smile: In particular with the change `kdb plugin-list` is more friendly to beginners, which is very important for us.

Better do not get lost in such features as they need some time to be implemented well and the benefit is marginal.

Better to fix nasty bugs such as #2380

[2019-10-26 09:43] markus2330 commented on #3104
The logic behind that is that the enum values already have a prefix and do not need to be in a namespace (as their name should not clash already).

Yes but then you do not need the KDB_ or ELEKTRA_ prefix. So it might be better to reimplement the enums as enum classes in the C++ binding. (But this would be a new feature not needed for 1.0.)

Yes, this is a completely valid viewpoint, the question

[2019-10-26 18:13] markus2330 commented on #3059
Yes, these `is_?` also sound good to me. I do not know about best-practices of error handling Rust, though.

[2019-10-26 18:22] markus2330 commented on #3091
Ok, I reassigned @kodebach for now as he is currently working in this area. (@kodebach you can assign back if the function cannot be removed and should be moved.)

[2019-10-26 18:25] markus2330 commented on #3037
Not on purpose. Maybe it was removed because of some change in the build server.

curl https://go.libelektra.org should now return the correct content. (Note to myself: the file lies in /srv/go)

[2019-10-26 18:34] markus2330 commented on #3110
Yes, I fully agree, it should be renamed.

[2019-10-26 18:46] markus2330 commented on #3111
C99 is already the minimum C version when compiling Elektra.

Yes, I agree that applications should have the guarantee of this mapping. But don't they already have this guarantee if they compile with C99?

The fallback code without this guarantee should only be relevant for applications compiling with C89. It is clearly separated in kdbtypes.h, so yes the file would get shorter but not simpler?

W

[2019-10-26 21:02] kodebach commented on #3112
Its the same as for `keyNew` and `keyVNew`. Its mostly an implementation thing.

Yes, the terminating `NULL` is required since C doesn't provide a way to find out the number of arguments.

I totally agree that this is not a 1.0 issue, but since it is just an addition to the API and doesn't break anything we don't have to wait for 2.0.0 either.

[2019-10-26 21:09] kodebach commented on #3104
All C symbols use prefixes to be unique. If someone wanted to use the name `kdb::KEY_NS_SPEC` for example we would have the exact same problem as with functions.

Well, it is a breaking change, so 1.0 would be good opportunity. (If it can be done quickly of course.)

AFAIK `extern "C"` mostly affects function linkage, and doesn't restrict the language in any way. In any case, the namespace could a

[2019-10-26 21:19] kodebach commented on #3111
It is not stated in [COMPILE.md](https://github.com/ElektraInitiative/libelektra/blob/master/doc/COMPILE.md). But you are write compiling with older versions doesn't work (at least not with gcc).

They do, but we don't state it anywhere. So I wouldn't really call it a guarantee.

The file would get shorter. It would be simpler to read IMO since the C99 stuff is more or less just `typedefs` and als

[2019-10-27 08:24] markus2330 commented on #3112
Yes, good point. If we get too many 2.0.0 issues we can separate between post1.0.0 and things which really need to wait for 2.0.0.

[2019-10-27 08:29] markus2330 commented on #3104
Unfortunately not. `kdb` is a not so unique (it might conflict with Kerberos). But of course the same can be said for `KEY_` or `KDB_`.

I agree.

Function linkage limits the language, e.g. overloading. So there might be also restrictions in namespaces (beside the obvious restrictions).

[2019-10-27 09:33] markus2330 commented on #3111
Good point. I updated this in 07693378b

Good point, we are somehow missing a tutorial on how to use types in Elektra. I added it in #280

Yes, I agree. But now you added/fixed it, so why remove it? Do you think it might not be working in some cases?

It would be possible that we use `_Bool` in our interface and users of our API decide themselves if they want to include `stdbool.h`, which might be

[2019-10-27 09:55] dominicjaeger opened #3119 "Append library dependencies to elektra-full"
As discussed [here](https://github.com/ElektraInitiative/libelektra/commit/1dd52cd0dd3b75a6e66ff96838636dc1aa46f106#commitcomment-35680046) we should add something like this line from LibAddPlugin.cmake

[code]

to LibAddLib.cmake as well. This way we will not have to set this property manually every time we create a new library.

[2019-10-27 09:58] markus2330 opened #3120 "augeas plugin might crash"
When doing `kdb ls` I got a crash in Augeas:

[code]

The problem was quite obviously introduced by 339d34dfa331926e486340c6343b62266fb28e14 which does not return correctly in the error cases anymore.

A code review is needed if other places with `return` in macros are affected.

[2019-10-27 10:02] Chemin1 commented on #3114
I always used  `... | kdb import ... hosts` is this doing mounts with ini in the background?

I did not see that. He used `kdb mount` there but I think it's basically the same problem.

Thank you! I will take a look at how this works and do that!

[2019-10-27 10:02] #3114 closed

[2019-10-27 11:16] Chemin1 opened #3122 "kdb list documentation outdated"
Our website mentions the `kdb list` command [here](https://www.libelektra.org/manpages/kdb-list). However, the command is not found in my Docker container. Is the documentation outdated or did I miss something when setting up my container?

[code]

[2019-10-27 11:51] sanssecours commented on #3122
As far as I know the website was not properly updated in quite a long time (see also: issue #2897).

[2019-10-27 13:18] Chemin1 commented on #3122
Thank you for the hint! I now checked the repo more thoroughly and could not find `kdb list -v`, so I assume this issue will be resolved as soon as #2897 is resolved.

[2019-10-27 13:18] #3122 closed

[2019-10-27 13:58] kodebach commented on #3111
The return type isn't that important actually. The main point is that functions like `keyIsBelow` should only return `0` or `1` but never `-1` to make it harder to use it wrongly in `if`s. A boolean return type just makes it more obvious that this should be the case.

[2019-10-27 18:05] Piankero commented on #160
I cannot rerun failed builds from Cirrus. See https://github.com/ElektraInitiative/libelektra/pull/3113
https://cirrus-ci.com/build/6562476467945472

The button does nothing. Is there a magic trick to get it working?

[2019-10-28 08:11] Piankero commented on #3120
Could you please give me a reproducible example on how to trigger this error?
I pulled the latest master, installed it (with augeas plugin) and do not experience any problems.

[2019-10-28 08:29] markus2330 commented on #3119
Thank you for reporting this problem! Also make sure to remove this line from the merge lib afterwards.

[2019-10-28 08:33] markus2330 commented on #3114
`kdb import X hosts` will use the hosts plugin to convert the input to the KeySet and whatsoever is mounted at X (in your case INI?) will be used to transform the KeySet to a persistent file.

Did you maybe use ini as default storage plugin?

Good. The advantage will be that all the conflicts are then counted the same way (with your implementation).

[2019-10-28 08:35] markus2330 commented on #3122
The command is now called `kdb plugin-list`.

http://a7.libelektra.org/ should you already give up-to-date information.

[2019-10-28 08:42] markus2330 opened #3123 "make boolean functions return a boolean"
As discussed in #3111 @kodebach proposes:

The fix for this actually quite easy, we would only need to define the "belowness" of null pointers (also in the docu). One way to define it, would be to always return false (0) if any null pointer is involved (so simply not distinguish API errors and below checks, i.e., map -1 to 0).

What do you think?

[2019-10-28 08:46] markus2330 commented on #3111
Ok, so I moved the discussion about the return value to  #3123 as it is unrelated to C99 and kdbtypes.h.

@haraldg @beku @machinekoder do you have opinions about if it is okay that we require applications using Elektra to use at least C99? (for the high-level API we already do, for the low-level API currently not)

[2019-10-28 09:33] markus2330 opened #3124 "prefix everything with elektra (outside of core)"
Currently we are not consistent in prefixing methods, in the core we usually have prefixes like key, ks and kdb but in other places we sometimes have the elektra prefix (but not always, e.g. keyCompare in libease or keyComment in libmeta).

So I propose to either remove or rename all methods not starting with kdb outside the core:

- [ ] keySetStringF: prefix and move the helpers?
- [ ] include/kd

[2019-10-28 09:35] sanssecours commented on #160
Looks like the build agent [`a7-debian-buster`](https://build.libelektra.org/jenkins/computer/a7-debian-buster) is not able to relaunch:

[code]

.

[2019-10-28 09:42] sanssecours commented on #160
After I saw your comment I did press the button “Restart Failed Build Jobs” too. As far as I can tell pressing the button did indeed restart the failing build jobs.

[2019-10-28 09:50] Piankero commented on #160
It didnt work for me though, I will provide some gif next time!

[2019-10-28 09:54] markus2330 commented on #160
I'll restart the build server and its nodes. Build jobs of #3121 and #3099 need to be restarted as they had jobs on dead agents.

[2019-10-28 09:55] sanssecours commented on #160
You do not need to provided a GIF, since I already believe you 😊.

[2019-10-28 10:02] markus2330 commented on #160
Seems like jenkins has troubles to stop, I wait a bit before I forcibly kill all Java processes.

I also upgraded docker on all agents (on i7 it was already upgraded).

[2019-10-28 10:42] markus2330 commented on #160
Jenkins is up again with the heartbeat interval as suggested in #2984. All nodes are connected.

Please restart all jobs as needed and report any troubles here.

[2019-10-28 10:47] markus2330 commented on #3120
The error obviously only occurs if fopen fails. It could be reproduced by using LD_PRELOAD with a shared library that fails on the Nth call of fopen. If you really want to do that, I can help you how to do it. It might also help to find other segfaults or unhelpful error messages.

Otherwise, as already written above, I think code review is the more efficient approach to find these problems.

[2019-10-28 13:28] haraldg commented on #3111
Yes, using C99 is definitely okay from my POV.

Actually, I'd even prefer it, if it gives us data types, that I recognize on first sight instead of having to look them up somewhere.

[2019-10-28 13:29] Mistreated commented on #2967
I updated the Node, again, there shouldnt be any permission issues anymore.

[2019-10-28 15:02] Mistreated commented on #2967
Why does Jenkins wants to build a '/.config' and not just '.config' directory?
There is a .config directory inside '/home/jenkins/' but he wants to make .config folder in '/'.

I dont think user 'jenkins' should be able to do that.

[2019-10-28 16:12] Chemin1 commented on #3114
This only happens in the jenkins build `debian-stretch-full-ini` for which the comment in the Jenkinsfile says

[2019-10-28 16:45] markus2330 commented on #3114
Yes, in this build job everything is written to INI files and any limitation of the ini plugin applies.

You can disable the build debian-stretch-full-ini (in scripts/jenkins/Jenkinsfile). @bauhaus93 will later create a debian-stretch-full-toml which will hopefully not have this problem.

[2019-10-28 16:47] markus2330 commented on #2967
@Mistreated please also make a PR to actually test if the builds work now.

There is a .config directory inside '/home/jenkins/' but he wants to make .config folder in '/'.

This might happen if the home directory of the user is /. Did you look into /etc/passwd, maybe something is wrong there?

[2019-10-29 07:29] Chemin1 commented on #3114
I have already changed my examples so that they can pass the full-ini build some days ago, so we could also leave the build running for the moment.

[2019-10-29 08:14] markus2330 commented on #2526
This is related to #3029

[2019-10-29 08:15] #1399 closed

[2019-10-29 08:16] markus2330 commented on #1003
@manuelm ping as requested (it is a low-priority issue though, as the print plugin option workaround works well)

[2019-10-29 08:17] #714 closed

[2019-10-29 08:17] markus2330 commented on #1924
Another low-priority issue.

[2019-10-29 08:17] markus2330 commented on #2207
@manuelm ping

[2019-10-29 08:18] markus2330 commented on #3107
@manuelm I am not sure if this is actually a problem in the python plugin. Adding an test that shows that the KeySet round-trips smoothly for filter plugins would not harm, though.

[2019-10-29 08:21] markus2330 opened #3129 "provide API to get/set errors in cpp/python"
We now have a much simplified error system. It would be nice if these errors/warnings are better integrated in python/lua, e.g. by providing exception classes that can be thrown from plugins and/or can be caught from failing kdbGet/kdbSet.

See also doc/tutorials/language-bindings.md

Maybe make first a proposal how to do it before implementing something.

[2019-10-29 08:53] markus2330 commented on #3114
Ok.

[2019-10-29 14:34] Mistreated commented on #2967
'jenkins:x:47000:47000::/home/jenkins:/bin/sh'

All looks fine, even in the logs of the node:

'HOME='/home/jenkins' '
'NOTE: Relative remote path resolved to: /home/jenkins/.'

[2019-10-29 16:08] markus2330 commented on #2967
It would be easier to debug to see a PR with the whole log.

[2019-10-29 16:32] #1455 closed

[2019-10-29 16:33] markus2330 commented on #1376
@kodebach here is the proposal for inactive keys. As discussed, for 1.0 we will remove keyIsInactive.

[2019-10-29 16:33] #1376 closed

[2019-10-29 16:36] #1340 closed

[2019-10-29 16:38] #1312 closed

[2019-10-29 16:39] markus2330 commented on #1306
@Chemin1 It would be great to have a fully working preserve strategy, so that this finally correctly works for mount and global-mount.

[2019-10-29 16:42] markus2330 commented on #1306
Sorry, actually we need "--strategy unchanged". And this should also be default for mounting.

The strategy is actually very simple: It only succeeds if ours, theirs and base is the same.

[2019-10-29 16:49] markus2330 opened #3130 "Improve Docu beyond API"
We should also define parts beyond the API:

- [ ] What are the library names and how to locate the libraries.
- [ ] Where are the header files.
- [ ] Which tools are available.
- [ ] Which plugins must work (or even test plugin compliance in both ways).
- [ ] The meaning of keys below `/elektra` (and maybe even other parts of the key database), i.e., have spec/elektra
- [ ] Which test cases test

[2019-10-29 16:51] markus2330 commented on #1590
@petermax2 is this finished? It seems like you worked on this but the boxes are not ticked yet.

[2019-10-29 16:52] #1572 closed

[2019-10-29 16:53] markus2330 commented on #1540
@Mistreated as discussed it would be good to have Windows builds.

[2019-10-29 17:06] sanssecours commented on #3045
Looks like [`test_rust_elektra` failed](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3126/2/pipeline) in PR #3126.

[code]

[2019-10-29 17:14] Chemin1 commented on #1306
I'll have to take a closer look at how that works, as I did not even know that mounting has strategies until now.

Looking at `our`, `their` and `base`: Is this related to the install-config-file script that we talked about? I mount a file and get the `base` and `our` version. I mount the same file again (this is now `their`) with strategy unchanged and the mount succeeds?

[2019-10-29 17:24] petermax2 commented on #1590
Not yet, because I wasn't aware of it (not assigned). But I can have a look!

[2019-10-29 19:46] PhilippGackstatter commented on #3045
Thanks for reporting.

This is again a different error than last time.
A lookup in the keyset retrieved via kdbGet failed. It's particularly strange since the same code (except `KDB_O_NONE` instead of `KDB_O_POP`) succeeded a few lines earlier.
`kdbGet` must've not modified the given KeySet such that the key was present afterwards. And again, the same code ran a couple of lines earlier and succeed

[2019-10-29 20:22] dominicjaeger opened #3131 "Integrate new 3-way merge into tools"
Tools should be patched to use the new merge

- [ ] qt-gui (together with @darddan)
- [ ] elektrad (together with @raphi011)
- [ ] gsettings elektra_settings_backend_sync method (together with @mpranj)
- [ ] kdb import
- [ ] kdb editor
- [ ] kdb shell
- [ ] kdb mount
- [ ] kconfig (https://github.com/ElektraInitiative/kconfig together with @FelixResch)
- [ ] replace "kdb merge", remove "kdb cmerge

[2019-10-29 20:28] Chemin1 opened #3132 "Semantics in merge"
Merging should take into account semantics like the following.

- [ ] floats  0.00 == 0.0000 == 0.0000000
- [x] booleans yes == true == 1

To do so the type plugin must be improved.

[2019-10-29 21:33] manuelm commented on #1924
So this would detect `/usr/local/..`. I'm not we actually want this.

I looked at a number of Lua packages. All require the user to provide the install path. Haven't found one with autodetection.

However autodetecting the version should be do-able.

[2019-10-29 22:59] manuelm commented on #2526
This will automatically resolve as soon as #3029 gets implemented and the cpp bindings adapted. Imho this can be closed.

[2019-10-29 23:40] manuelm commented on #1924
what about:

[code]

usage:
[code]

@markus2330 Can something like this script integrated into cmake/our build system? It should use the output unless the defines are already set. if autodetection does not work a fatal should be printed

[2019-10-30 01:49] manuelm commented on #2207
Fixed in SWIG 4: https://github.com/swig/swig/commit/687cf9c9c1b886ef4a828b2c29610183e9fef26d

No problemo.

So what? Why is it disallowed that the hash changes? I see no problems with the current behavior.

Is there a C++ oder C function which returns the same value (I don't see any)? If not: why is this suddenly useful in the python context?

[2019-10-30 07:24] Piankero commented on #3059
Since I added the documentation I can unassign myself

[2019-10-30 07:54] Piankero commented on #2333
I think we can close this ticket?

[2019-10-30 07:58] markus2330 commented on #1306
Basically every tool that writes more than a single key (in this case merging is trivial) different strategies are useful. So also `kdb shell` would profit from having 3-way merging integrated.

[2019-10-30 07:59] Piankero commented on #2989
The error metadata are already documented [here](https://github.com/ElektraInitiative/libelektra/blob/66f0d0388045ca16897ea95e03bc9f450b644c3f/doc/dev/error-handling.md#L135-L155).

[2019-10-30 08:01] Piankero commented on #3088
Please merge https://github.com/ElektraInitiative/libelektra/pull/2872 so I can start this issue

[2019-10-30 08:04] markus2330 commented on #1590
Yes, I assigned you just now because in some commits you already mentioned the issue.

Thank you so much!

[2019-10-30 08:47] markus2330 commented on #3132
Thank you for creating this issue!

Btw. it is good if we can get rid of the name "cmerge" as fast as possible (and use "merge" everywhere).

It should be enough if you fix the semantic equality once in the type plugin. Then it should not be needed to have several fixes in json/toml/ini.

[2019-10-30 08:50] markus2330 commented on #3131
Thank you for reporting this issue! I added a full list of all tools above.

[2019-10-30 08:55] markus2330 commented on #2855
Let us observe if the error occurs again.

[2019-10-30 08:56] markus2330 commented on #2526
Thank you! As it is very easy to reproduce I keep it open and will test it once #3029 is implemented.

[2019-10-30 09:19] markus2330 commented on #2207
:+1:

If python handles this correctly and still finds the key, it is okay. Then we simply can add a test case for that.

you can call std::distance on the NameIterator

[2019-10-30 09:21] markus2330 commented on #1924
We already run lua scripts within the build system, so there should be no problem in running one more.

@ingwinlu can you take a look if this will fix the problem?

[2019-10-30 09:25] markus2330 commented on #3088
Thank you, it is merged now.

[2019-10-30 09:27] markus2330 commented on #2989
Ok, I renamed the issue.

[2019-10-30 09:30] markus2330 commented on #2333
Not all the goals have been reached yet, especially docu is missing.

[2019-10-30 09:33] markus2330 commented on #3059
@PhilippGackstatter will you implement the proposed implementation or can we close this? I do no think it has high priority but as we already more or less know what can be done it might be not so much effort anymore?

[2019-10-30 09:41] markus2330 commented on #3045
Can you point me to the lines?

Conflicts might happen with `kdb set` on an NFS filesystem. On the build server only tests with very frequent conflicts failed (see the DISABLED_ tests in tests/kdb/testkdb_conflict.cpp or the racer tests #137).

No, only kdbSet might produce unwanted conflicts (when time jumps happen or similar).

That kdbGet failed did not happen as far as I know.

Maybe you have

[2019-10-30 10:26] manuelm commented on #2207
[code]

[code]

Am I missing something?

I'll add it. Although I don't like this kind of operator overloading.

[2019-10-30 11:14] raphi011 commented on #3131
Is there any example or documentation how to do this?

[2019-10-30 11:30] manuelm commented on #2584
There are some horrible ideas in here, but the `__setitem__` is by far the most shocking. You guys are ill-treating the keyset api. The correct usage to change a value of an item in keyset is `ks["some/key"].value = "foo`

e.g.
[code]

[code]

`__getitem__` returns the key, not it's value!

[2019-10-30 12:32] Chemin1 commented on #3131
`src/tools/kdb/cmerge.cpp` is the only thing close to an example for this

[2019-10-30 15:05] markus2330 commented on #2584
Could you please add this to the tutorial doc/tutorials/python-kdb.md?

[2019-10-30 15:11] markus2330 commented on #3131
I agree with @raphi011 there definitely should be a nice example how to use the API.

[2019-10-30 15:15] markus2330 commented on #3132
Yes, of course. I was referring to the title of the issue.

[2019-10-30 15:39] manuelm commented on #2207
mh yeah. You're right:
[code]
[code]

Don't think we can do anything about this. Thinking more about this: Adding `__hash__` to Key was wrong in the first place. It violates the constraints "never changes during lifetime": `An object is hashable if it has a hash value which never changes during its lifetime (it needs a __hash__() method), and can be compared to other objects (it needs an __eq__()

[2019-10-30 16:32] manuelm commented on #2584
So I've added support for `kdb.Key(name, value, meta_dict)`. It mainly works on python3. Python2 is string_values only. Personally I'd rather remove python2.

Then I extended `KeySet.append` to accept list of keys `ks.append(k1, k2, ...)` as well as passing non-key values to the ctor of `Key` (e.g. `ks.append("user/foo", "some_value", {"this":"works"})`). And finally I've added a `KeySet.extend` t

[2019-10-30 19:03] sanssecours commented on #2967
Thank you for the information. I deleted all log information for old pull requests and reenabled the node. Unfortunately the amount of free space on the Jenkins master is still very low (~ 3.9G).

[2019-10-30 20:00] petermax2 commented on #1590
Just to be clear, do you have something like this in mind?

        diff --git a/src/plugins/crypto/gpg.c b/src/plugins/crypto/gpg.c
        index cd98525a4..c8a1cf549 100644
        --- a/src/plugins/crypto/gpg.c
        +++ b/src/plugins/crypto/gpg.c
        @@ -702,6 +702,14 @@ int ELEKTRA_PLUGIN_FUNCTION (gpgCall) (KeySet * conf, Key * errorKey, Key * msgK
                        // finally ca

[2019-10-31 00:46] manuelm commented on #2583
I've modified the subject as this is no python nor swig issue. A possible fix, feel free to commit this:
[code]

[2019-10-31 01:36] manuelm commented on #3129
If python plugins should be able to throw errors the cpp bindings need exception classes. So someone (def. not me) needs to generate these C++ exception classes during build time. And we definitely need to intergrate the generated helpers which fills the exception payload (the error key) into the exception classes.

After this is done the python plugin can be extended to catch the exception and ex

[2019-10-31 07:43] markus2330 opened #3138 "Permission error on hetzner"
In https://build.libelektra.org/jenkins/blue/rest/organizations/jenkins/pipelines/libelektra/branches/PR-3125/runs/5/nodes/638/steps/1315/log/?start=0 I now got a full log of the errors on the hetzner node. The essential information is:

[code]

So somehow the ID used in Docker is not connected to the jenkins ID with the correct home directory. That is why user is written to /.config instead of /h

[2019-10-31 07:44] markus2330 commented on #2967
@Mistreated I moved the discussion about the hetzner node to #3138. This issue is about temporary failures in the build server, not about wrong setup of the build server.

[2019-10-31 07:48] markus2330 opened #3139 "Migration of build.libelektra.org"
This issue is about the migration of build.libelektra.org to the new server. #160 is only for the essential stuff (downtime), here we can discuss details.

From #2967:

I hope we can finally move to the new build server before we run into this problem again!

@Mistreated what is the status?

[2019-10-31 08:02] markus2330 commented on #160
v2 is down, I asked our admin to restart.

[2019-10-31 08:09] markus2330 commented on #2207
Exactly, if we provide __hash__, we need to freeze the key name (e.g. after __hash__ was called?), so that the hash cannot change anymore. This is exactly what was written in the top post. Alternatively, we could provide a FrozenKey, where it is impossible to change the name after construction (and only provide __hash__ there).

[2019-10-31 09:05] markus2330 commented on #2207
Maybe we should also put keyLock to the public API. For FrozenKey, however, it would be enough to call keyNew with KEY_FLAG_LOCK_NAME

[2019-10-31 09:09] raphi011 opened #3140 "out of memory with many KDB handles"
While running my benchmarks I somehow broke elektra.

When I run a kdb command like `kdb ls /`

I get the following message (also when calling the elektra library directly)

[code]

I've already run `kdb reset` and `kdb reset-elektra` and re-compiled and uninstalled + installed kdb.
 Any ideas how I could fix / debug this?

[2019-10-31 09:11] mpranj commented on #3140
Thank you for reporting. Can you attach a trace, maybe run `valgrind kdb ls /`? Some information on how to reproduce it would also be helpful.

[2019-10-31 09:12] raphi011 commented on #3140
[code]

[2019-10-31 09:14] markus2330 commented on #2584
Yes, the tutorial can be python3 only.

Python2 was already deprecated by you but we did not remove it up-to-now. But you are right, now might be a good time to completely remove it, as python2 is more or less dead. And if we release Elektra 1.0 with python2 support there might be some expectation to maintain python2 for the Elektra 1.0 lifetime. The main reason for python2 actually mostly was the

[2019-10-31 09:14] raphi011 commented on #3140
Seems to be an issue with `mmap`. After running `rm -rf ~/.cache/elektra` it works again

[2019-10-31 09:20] mpranj commented on #3140
Yes, the crash definitely happened because of `cache` / `mmap`. Can you explain what you did to trigger this?

[2019-10-31 09:22] raphi011 commented on #3140
I ran my elektrad benchmarks, after clearing the cache and re-running it didn't break again. If this occurs again I will mention it in this issue.

[2019-10-31 09:25] markus2330 commented on #1590
From the man page: "On success, execve() does not return, on error -1 is returned, and errno is set appropriately.".

So actually, whenever it returns, it was an error which should be reported.

In PRs it is much easier to discuss code. Can you please create a PR?

[2019-10-31 09:28] markus2330 commented on #2583
Thank you! Can you please add this commit to your PR?

[2019-10-31 09:38] markus2330 commented on #3140
@mpranj a big thanks that you take care of this issue.

Why are there casts to `char*` in the segfaulting code?

[2019-10-31 09:52] manuelm commented on #2207
I strictly advise against weird magic which "freezes" the key as soon as `__hash__` gets called.

`KEY_FLAG_LOCK_NAME` sounds fine. `__hash__` can check if the flag is set and return `None` otherwise. However checking the flag and throwing exceptions in all setters *must be* added in the cpp bindings.

However I do think this is beyond this issue.

[2019-10-31 10:24] markus2330 commented on #2207
Yes, the statement also was with a big question mark.

Sounds like a good idea.

The checking of the flag already happens in C. All setters fail after the name was locked.

It is good if Elektra plays with standard data structures nicely. They KeySet is not designed for any use case (e.g. it is not suitable if you want different orderings of keys).

[2019-10-31 10:26] markus2330 commented on #3140
Ok. Do you have an idea how this problem was caused?

[2019-10-31 10:34] mpranj commented on #3140
Sorry but currently no. This code is basically executed on each **kdbGet** now, so it's not like a seldom taken code path.

Corrupting the cache file in exactly the right spot might cause something like that (like a wrong ks->size or similar).

[2019-10-31 10:36] markus2330 commented on #3140
Are the operations on the cache files atomic? Did you test aborting the process while writing the cache?

[2019-10-31 10:38] mpranj commented on #3140
There are no testcases for such a scenario, but the cache file is written to a temp file and only `rename()`d on success.

[2019-10-31 12:14] markus2330 commented on #3140
So most probably it was something else.

The sync/msync would be the correct thing to do (also on the folder where you rename, see sync plugin).

As it only impacts writing, you do not need to worry.

[2019-10-31 12:16] markus2330 commented on #3037
Is the vanity import working now? Can we close this?

[2019-10-31 12:16] mpranj commented on #3140
Just to clarify: `msync` is done already. This would just mean another `msync` to enforce order of the writes. Let's do it and see what it does in the benchmarks.

Still: It's unclear that this is the reason for the segfault here.

[2019-10-31 12:19] markus2330 commented on #3140
@raphi011 you do not have the cache file anymore to reproduce this issue? Did you do some upgrade of Elektra or similar?

[2019-10-31 12:24] manuelm commented on #2207
hmpf doesn't work that way. Python checks if the `__hash__` of *the class* is set to None.

[2019-10-31 12:28] manuelm commented on #2583
@markus2330 As expected changing the ctor to throw on invalid names makes tests fail on other places. Can you or someone else please take over https://github.com/ElektraInitiative/libelektra/pull/3133/commits/ea8a01e4918544ccb860666478f2e87b27ae9f37. I've already invested enough time in this.

[2019-10-31 12:36] mpranj commented on #160
I enabled v2 again, since it seems to be up and our build backlog is adequately sized.

[2019-10-31 12:47] markus2330 commented on #2583
Actually this problem will solve itself once #3115 is merged. Because then keyNew will fail with malformed key names.

[2019-10-31 12:47] #2583 closed

[2019-10-31 13:23] Mistreated commented on #3139
Currently we have a Jenkins server online. Pipeline needs to be created, so does the nodes.
I want to avoid interference with the old server, so I am gonna try to construct a new pipeline tonight over night.

[2019-10-31 13:36] mpranj commented on #3139
I personally have Jenkins as a Docker image, with the home being a volume I don't delete (-v jenkins_home:/var/jenkins_home). I can then simply remove outdated Jenkins Docker images by fetching new ones, with the home always persisted, thus having quite simple upgrade paths. I used this for >2 years with regular updates to everything.

Maybe I have a too simplistic view but is it not possible to s

[2019-10-31 13:38] markus2330 commented on #3139
I would have also done it like @mpranj describes (I did step 1). But we can check if @Mistreated is able to recreate everything. The advantage of recreating would be that we get a more up-to-date docu and everything is clean afterwards (at the moment we have many outdated jobs).

[2019-10-31 13:49] markus2330 commented on #3111
Ok, seems like nobody is against it. But please handle it as low-priority issue as better docu should already fix the problem (for C99 users there will not be any difference anyway).

[2019-10-31 13:50] markus2330 commented on #3104
Ok, lets remove ckdb as low-priority task (if @Piankero can do it within reasonable time frame).

[2019-10-31 13:53] markus2330 commented on #3112
Btw. every binding writer is free to introduce something like this. For python we will get it now with #3133

[2019-10-31 14:01] raphi011 commented on #3037
yes

[2019-10-31 14:01] #3037 closed

[2019-10-31 16:04] Mistreated commented on #3138
The User ID should not be 47000, it should be 47110.

[2019-10-31 16:04] #3138 closed

[2019-11-01 07:07] stefanhusmann opened #3143 "Master: Makefile creation fails"
I try to build elektra from git master using this build function:
[code]

This should build elektra, but

[code]
Ronn is installed, but obviously not detected.

## System Information

- Elektra Version: master
- Operating System or Docker Container? Archlinux, no docker
- Versions of other relevant software? cmake 3.15, ruby-ronn 0.7.3, both from official Arch Linux packages.

Full build log attac

[2019-11-01 08:52] Piankero commented on #3104
I do not think that I am the appropriate person to do this task as I am not used to these namespace concepts along with their problems. I am already heavily struggling with https://github.com/ElektraInitiative/libelektra/pull/2976 and cannot get rid of the [namespace errors](https://cirrus-ci.com/task/6535235352657920) despite suggestion of @kodebach . The problem is that locally everything works

[2019-11-01 09:34] sanssecours commented on #3143
Thank you for the bug report. I tried to reproduce the issue using Docker. I used the following `Dockerfile` to build the container:

[code]

. In then executed the commands below inside the container:

[code]

. The CMake command above only includes the `cpp` binding, since `make` was unable to build `elektra-io-glib`:

[code]

. On my machine the last command finished successfully. Can you pleas

[2019-11-01 10:04] Piankero commented on #160
Is there a problem with the build again (`hetzner-jenkins1`)?
https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3144/1/pipeline/336

`

[2019-11-01 10:07] sanssecours commented on #2967
Looks like building Docker images [does not work on `hetzner-jenkins1`](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-3099/21/pipeline):

[code]

. I disabled the node.

[2019-11-01 10:10] sanssecours commented on #160
[Yes](https://github.com/ElektraInitiative/libelektra/issues/2967#issuecomment-548734831). I disabled the node.

[2019-11-01 10:18] stefanhusmann commented on #3143
I tried so, but nothing changed.

I have a working build of commit g061d02af1 from 30th october here. I also downgraded cmake to 3.15.4, without success.

[2019-11-01 10:21] Mistreated commented on #2967
It just `Disk quota exceeded` , I did not want to overkill it with memory. I cleaned it up now. Its up again.

[2019-11-01 10:22] Mistreated commented on #160
Node updated.

[2019-11-01 10:37] sanssecours commented on #3143
Does the following work:

[code]

on your machine?

[2019-11-01 10:48] stefanhusmann commented on #3143
No:
[code]
"Es wird auf noch nicht beendete Prozesse gewartet...." meens waiting for unfinished jobs.

But similar message occurs without -j9 (I do not have so many cores).
[buildlog.txt](https://github.com/ElektraInitiative/libelektra/files/3797563/buildlog.txt)

[buildlog1.txt](https://github.com/ElektraInitiative/libelektra/files/3797567/buildlog1.txt)

[2019-11-01 12:12] sanssecours commented on #3143
Thank you for the quick reply. Can you please execute the following commands and paste the output here:

[code]

?

[2019-11-01 12:32] stefanhusmann commented on #3143
[code]

[2019-11-01 12:40] sanssecours commented on #3143
Thank you. Can you please also add the output of the last commands of my [previous comment](https://github.com/ElektraInitiative/libelektra/issues/3143#issuecomment-548767087):

[code]

?

[2019-11-01 12:49] stefanhusmann commented on #3143
I did so, see above.
[code]

[2019-11-01 13:24] sanssecours commented on #3143
Thank you. I think I found the problem. The name of [`ElektraManPage.cmake`](https://github.com/ElektraInitiative/libelektra/blob/master/scripts/cmake/ElektraManPage.cmake) was spelled wrong:

https://github.com/ElektraInitiative/libelektra/blob/5d4c05096f7cf07b25cdf484ba3519483bc5477c/scripts/cmake/Modules/LibAddMacros.cmake#L571

. I hope commit 545ff5f5 fixes the problem. Sorry for introducing

[2019-11-01 13:58] stefanhusmann commented on #3143
No need to apologize, mistakes happen! Thanks for the work on this.

[2019-11-01 15:05] sanssecours commented on #3143
Thank you for your kind words. I am closing this for now, since I assume commit 545ff5f did fix the issue. If it did not, then please just comment below.

[2019-11-01 17:21] markus2330 commented on #3138
Good that you found out, please also fix the docu.

[2019-11-01 17:22] markus2330 commented on #3138
Ahh, you already did, great :+1:

[2019-11-01 17:23] markus2330 commented on #3104
By removing all these ckdb namespaces you obviously could not get these errors anymore. So it might even help you if you remove them.

[2019-11-01 17:33] markus2330 commented on #160
I increased hetzner-jenkins1 to 4 parallel builds. This is only a temporary measure as long as nothing else is running there.

[2019-11-02 09:26] mpranj commented on #160
I temporarily decreased the number of executors on hetzner-jenkins1 from 4 to 2, as the testsuite is timing out. I think this happens when too many jobs are compiling while tests are running. We might need to limit resources available to a single container s.t. it does not interfere too much with other jobs.

Feel free to correct it if you think this was the wrong approach.

[2019-11-02 15:26] mpranj opened #3146 "Jenkins: retry problematic stages"
According to the [pipeline documentation](https://jenkins.io/doc/book/pipeline/running-pipelines/#restarting-from-the-blue-ocean-ui), we should be able to restart individual jobs from stages by clicking a button.

The feature should have been introduced by Pipeline: Declarative version 1.3. We are running 1.3.1 but the feature seems to be missing. Some other plugins are also slightly outdated. Are

[2019-11-02 15:45] markus2330 commented on #160
@mpranj Thank you for fixing it!

@mistreated did you maybe only assign a single CPU or similar? Can you assign more and turn the number of executors higher? The hardware should be stronger as v2.

[2019-11-02 15:45] markus2330 commented on #3146
@mpranj thank you for making us aware of this.

@ingwinlu @Mistreated do you know something about this?

[2019-11-02 16:51] mpranj opened #3147 "mmapstorage: filter empty meta keysets"
Filter out empty meta keysets in `mmapstorage` to minimize disk and memory space used. ([See discussion](https://github.com/ElektraInitiative/libelektra/pull/3142#discussion_r341816840).)

[2019-11-02 16:52] sanssecours commented on #3146
As far as I know we do not use the “declarative pipeline syntax”, but the older [“scripted pipeline syntax”](https://jenkins.io/doc/book/pipeline/syntax/#scripted-pipeline). This means we most probably will never be able to restart stages, unless we switch to the more modern (but also more limited) declarative pipeline style.

See also: https://github.com/ElektraInitiative/libelektra/pull/2927#iss

[2019-11-02 16:56] mpranj opened #3148 "testmod_gopts: sporadic timeouts"
Seems like `testmod_gopts` sometimes has timeouts. I thought this is was introduced by my PR but we have seen different PRs now with this issue.

## Steps to Reproduce the Problem

Open a PR and let the builds and tests run.

## Expected Result

Test suite runs fine.

## Actual Result

Sometimes the tests time out:

[code]

## System Information

- Elektra Version: master
- Operating System or Doc

[2019-11-02 17:37] markus2330 commented on #3147
Thank you for creating this issue! If you have more spaces to fill: it would be interesting which parts use how much of the disk space.

[2019-11-02 17:39] markus2330 commented on #3148
Thank you for creating this issue!

@kodebach do you have ideas why this occurs?

[2019-11-02 18:09] markus2330 commented on #3146
Yes, https://issues.jenkins-ci.org/browse/JENKINS-45455 says it is only declarative pipeline.

According to https://stackoverflow.com/questions/38129745/jenkins-build-pipeline-restart-at-stage the "retry" might be better suited than https://wiki.jenkins.io/display/JENKINS/Naginator+Plugin (which restarts the whole job, not only parts).

@Mistreated Can you please add some retry at the hot-spots? I

[2019-11-02 18:26] kodebach commented on #3148
I assume this only happens for the `MemCheck` tests? If so, `testmod_gopts` uses `fork`/`exec` which is quite slow with valgrind. We could either increase the timeout or exclude the test.

[2019-11-02 18:37] markus2330 commented on #3148
Lets try to increase the timeout.

[2019-11-02 22:46] mpranj commented on #3147
I added it to my notes. I have written quite a bit this week, but it might fit in somewhere, so thanks for the hint!

[2019-11-03 00:36] manuelm commented on #3107
[code]

[2019-11-03 03:34] markus2330 commented on #3107
Thank you, this test could be added as shell recorder test, see tests/shell/shell_recorder/tutorial_wrapper/

[2019-11-03 03:41] #3083 closed

[2019-11-03 03:45] markus2330 opened #3151 "locking key name in keyNew does not work"
as @manuelm reported in #3133:

[2019-11-03 04:35] markus2330 commented on #3151
Why do you think it is a problem? Can you give a case where it doesn't work. Shouldn't the actions be executed as passed via va_args?

[2019-11-03 04:37] markus2330 opened #3152 "cleanup keyNew"
remove deprecated meta flags from keyNew (303-334), the documentation of it, and all tests that test them

https://github.com/ElektraInitiative/libelektra/blob/7fb0deefbf2c373533eda4c8a47f1018c17c5846/src/libs/elektra/keyhelpers.c#L308-L339

[2019-11-03 04:38] markus2330 commented on #3151
Here the link to the lines: https://github.com/ElektraInitiative/libelektra/blob/7fb0deefbf2c373533eda4c8a47f1018c17c5846/src/libs/elektra/keyhelpers.c#L291-L306

[2019-11-03 12:00] PhilippGackstatter commented on #3045
https://github.com/ElektraInitiative/libelektra/blob/d8978c39f5ab82c69db34b07f576d6006fc21831/src/bindings/rust/elektra/src/kdb.rs#L374-L378

That succeeded, but then in `remove_test_keys` it failed. (`Default::default()` is `KDB_O_NONE`)

I've run it occasionally during development and just tried it again, with interesting results. Valgrind showed memory leaks, but even for a simple Rust program

[2019-11-03 13:19] mpranj commented on #3045
If you are talking about the `still reachable` portion, it's not a big issue. It means that a pointer to the memory still exists and it could be cleaned up ([see docs](http://valgrind.org/docs/manual/mc-manual.html)).

The severity in the output is basically sorted from most severe to not so relevant: definitely lost > indirectly lost > possibly lost > still reachable > suppressed. If there are no

[2019-11-03 13:24] PhilippGackstatter commented on #3045
I see, thank you for the explanation!

[2019-11-03 13:31] mpranj commented on #160
I disabled `i7-debian-buster` because there is no disk space left which leads to all builds failing. If someone has access please clean something up and re-enable it.

[2019-11-03 16:26] markus2330 commented on #160
Sorry, where I am currently are ssh is blocked (some application firewall, also ssh on other ports does not work). So I cannot give access or do any cleanup now.

[2019-11-03 16:49] Mistreated commented on #160
I have no idea how strong is v2.
Currently `jenkins1` uses 4 CPU with 8 memory and 16 swap. I can increase it easily, I just dont know to which point you want me to increase it.

[2019-11-03 18:07] mpranj commented on #160
A note for the future hardware decisions: phoronix seems to do compilation tests in their CPU articles (e.g. [Ryzen 7 3700X, Ryzen 9 3900X test, towards bottom end of article](https://www.phoronix.com/scan.php?page=article&item=ryzen-3700x-3900x-linux&num=7)).

Seems like hetzner recently added AMD Ryzen 7 3700X to their AMD based servers.

[2019-11-03 19:11] raphi011 commented on #3140
Unfortunately not ..

[2019-11-03 19:35] mpranj commented on #3140
The commits referencing this issue are a shot in the dark. The assumption was that the OS reordered some writes from mmap and `mmapstorage` did not correctly detect incompletely written data, which was possible before those commits.

Even having the cache files would probably not help as there is no way to know whether some data was not completely written.

[2019-11-03 19:42] raphi011 commented on #3140
What is the actual lifetime of the keys in mmap storage? While benchmarking the memory of my server is growing and growing even though I'm `ksClear`ing all keysets after it's usage - until it get's killed by the OS because it uses too much memory.

When is memory that is allocated with mmap freed?

[2019-11-03 19:58] mpranj commented on #3140
The answer is never. This was a design decision discussed with @markus2330. The memory pages are shared and the OS implements COW via mmap. This means depending on the usage it is possible to have a KeySet open which is larger than the available main memory.

The alternative back then was to implement reference counting to unmap the mmaped files which needed some tricky implementation in the core.

[2019-11-03 20:14] raphi011 commented on #3140
@markus2330 this is probably not the right place to discuss this .. but how is this supposed to work with elektrad that has long lived handles? After a session a new handle + keyset is created and the old one is closed - but the memory is not freed which results in the OS killing the process after a while (which happens pretty fast in the benchmarks).

This probably means I have to disable mmap so

[2019-11-03 20:21] mpranj commented on #3140
The OS can free up memory from mmap that has not been changed, so we "only" leak the pages that are changed COW. But you're right, we might need to re-evaluate this decision.

Easy: `kdb cache disable`. The cache is stored on a per-system-user basis, so this needs to be also done on a per-user basis.
If you need to completely disable it then compile without the `cache` plugin
(e.g. `-DPLUGINS="ALL

[2019-11-03 20:40] mpranj commented on #3140
@markus2330 One problem was/is that unmapping would have to be implemented in the core, and `mmap()` is not part of the C standards, but let's assume this is no problem. Then unmapping can be done _somewhat_ easily in the core if `ksAppend()` really copies the keys and does not simply reference them. Referencing mmaped Keys was afair the biggest problem with this unmapping approach. I'm not sure i

[2019-11-03 22:33] raphi011 commented on #3140
I have disabled the cache plugin completely - as described above via `-DPLUGINS="ALL;-cache" and somehow memory is STILL not freed after calling `ksDel`

[2019-11-03 22:52] mpranj commented on #3140
If you compiled Elektra cleanly with the cmake option `-DPLUGINS="ALL;-cache"` (verify by cmake output "Exclude Plugin cache because explicitly excluded"), then I see no way how mmap could affect your results, except if you explicitly enabled mmapstorage as default storage (again, can be excluded by `-DPLUGINS="ALL;-cache;-mmapstorage"` ).

If you're sure we're leaking somewhere, then you can alwa

[2019-11-04 03:56] markus2330 commented on #160
@ingwinlu wrote about this in his thesis (to be found in abgaben repo lukas_winkler)

As long as we do not have anything else running on the server you can allocate all resources. Later we still can go down (when we move Jenkins).

[2019-11-04 04:09] markus2330 opened #3155 "disable mmap cache via kdbEnsure"
@kodebach did you look into this? Is there additional work needed for that?

[2019-11-04 04:18] markus2330 opened #3156 "document all ways how to disable mmap"
- [ ] for whole Elektra (with disabling PLUGINS)
- [ ] for whole Elektra at run-time by unmounting the global plugin (does this work? Maybe we create a new issue for this.)
- [ ] per plugin (for plugins incompatible to the cache)
- [ ] per user basis
- [ ] per application/handle, see #3155

Are there other ways?

[2019-11-04 04:21] markus2330 commented on #3156
The docu should also teach general understanding of the cache: about when it needs to be deactivated or will deactivate "by itself".

[2019-11-04 04:31] markus2330 commented on #3140
@mpranj wrote:

I fully agree. For now we only find ways of how to disable the cache when it does not work. I created #3155 and #3156

@raphi011 wrote:

The issue tracker is the right place. But please always make sure to either rename the title (if the previous discussion is finished) or open new issues.

Can you tell us about how many KDB handles (sessions) we are speaking here? Maybe this is on

[2019-11-04 11:11] manuelm commented on #3151
There are two issues here. The first one is a simple flow error in `keyVInit`: the name lock flag is set (line 303) before the actual key name is being set (line 349).

And the current test in `tests/ctest/test_key.c` is insufficient as it doesn't test check the initial name value. Otherwise someone else would have noticed that.

The second issue is a issue with the lock flags in general. `va_args

[2019-11-04 14:13] Mistreated commented on #160
I updated the hetzner-jenkins1.
The error with the frontend where it runs out of memory is corrected.
Now it runs 2 parallel builds.

[2019-11-04 14:18] mpranj opened #3157 "Jenkins: build timeouts"
The following build message occurred in multiple PRs I have seen (e.g. #3150):
[code]

It seems that we are increasingly hitting the 10 minute Jenkins limit (when a build has no log output for 10 minutes). https://github.com/ElektraInitiative/libelektra/blob/6aea503521a35cbeef3a719f8c73c2fe40830c1d/scripts/jenkins/Jenkinsfile#L1271

I'm not sure it will help to increase the limit, as some of the k

[2019-11-04 17:11] markus2330 commented on #3157
Thank you for creating this issue!

@Mistreated can you try to change the timeout?

[2019-11-04 17:14] markus2330 commented on #3151
The idea is to make KEY_LOCK_xxx flags public. They can be used either in keyNew or keyLock.

[2019-11-04 17:20] manuelm commented on #3151
As explain I recommend to *remove* support for these flags in `keyNew`. Or be ok with the fact that using them in the constructor will throw/fail in the bindings.

[2019-11-04 18:58] raphi011 opened #3158 "KeySet close memory leak"
While benchmarking the new elektrad I experienced memory leak symptoms.
The memory usage would go up after creating new handles and calling `kdbGet()` but never down after `ksClose()` and `kdbClose()`.

My first suspicion was the mmap caching - which probably also causes memory leaks because the mmaped memory is never freed - but disabling caching by building with ` -DPLUGINS="ALL;-cache"` did not

[2019-11-04 19:06] #3109 closed

[2019-11-04 19:09] raphi011 commented on #3158
Relates to https://github.com/ElektraInitiative/libelektra/issues/3140

[2019-11-04 20:10] mpranj commented on #3158
It seems unlikely to me that something like that would slip by our valgrind and ASAN tests. I have been running similar benchmarks in C and I could not observe the same. Even with mmap I can't observe anything similar. I'm not ruling it out though.

Are you sure that the bindings aren't leaking somewhere?

[2019-11-04 20:35] raphi011 commented on #3158
Yes, I'm sure - it is possible to inspect the memory usage of a go application during runtime, these stats do NOT contain allocations by C code and they are nowhere near the total memory usage of the application / test which means that the bulk of the memory is allocated in C.

[2019-11-04 22:02] mpranj commented on #3158
That means that the bindings call the C API in a way that triggers this memleak. Unfortunately I do not know go, so I don’t know why this happens.

Can you maybe extract a small C example which triggers the leak? I do something very similar in `benchmarks/kdb.c` and there is no leak there, so it needs to do exactly what your benchmark does to trigger the leak.

[2019-11-05 03:49] markus2330 opened #3159 "PKG_CONFIG_PATH in go bindings"
[code]

[2019-11-05 03:49] markus2330 commented on #3158
Thank you for reporting the issue!

I fully agree with @mpranj here, we need to reduce the problem to a minimal one, with multiple languages involved it is hard to find anything.

Can you maybe write a C program that reproduces the call sequence as issued from the go bindings? Once we have that, we can minimize the C program for a test case.

Btw. trying to run the command above I failed quite ear

[2019-11-05 03:50] markus2330 commented on #3159
Why do I need this PKG_CONFIG_PATH at all? IIRC I did not provide it the last time.

[2019-11-05 04:12] markus2330 commented on #3151
This order is because of the other name options (KEY_CASCADING_NAME | KEY_META_NAME | KEY_EMPTY_NAME). But as we want to get rid of these options (by @kodebach in #3115) we could also fix this problem that actions are being done before setting the name.

If you translate  `Key("user/foo", KEY_VALUE, "bar", KEY_END)` to: `k = KeyNew("user/foo", KEY_END); keySetName(k, "bar"); keyLock(LOCK_FLAGS)` i

[2019-11-05 04:12] #3148 closed

[2019-11-05 04:18] #1912 closed

[2019-11-05 04:29] markus2330 commented on #2925
@Chemin1: any progress here?

Such merge conflicts happen quite often (e.g. right before in #3002) and take a lot of time to fix for beginners.

[2019-11-05 04:31] markus2330 opened #3160 "libelektra-daily build job fails"
https://build.libelektra.org/jenkins/job/libelektra-daily/639/console

[2019-11-05 04:33] markus2330 opened #3161 "build jobs for master unstable"
See https://github.com/ElektraInitiative/libelektra/commits/master# Jenkins stopped building for master.

[2019-11-05 04:36] markus2330 commented on #3161
Seems like it only took quite a time as several commits happened during a short time.

Still the master Jobs are quite unstable (now Travis seems to have failed).

[2019-11-05 06:14] raphi011 commented on #3159
You may not need this env var if the package config path is already set.

Seems like you have to enable go mod with `GO111MODULE=on`

[2019-11-05 06:15] raphi011 commented on #3158
I will try to reproduce this in C until tomorrow

[2019-11-05 06:34] Chemin1 commented on #2925
If we take for example the one from #3002:
[code]

Does anyone have a better idea than "Take everything from both versions"?

[2019-11-05 07:12] #3088 closed

[2019-11-05 07:12] #2989 closed

[2019-11-05 07:17] Piankero commented on #2490
Could we possibly close this issue? The root problem for the validation plugin was fixed.

[2019-11-05 07:19] Piankero commented on #1789
What exactly should I do here? You referenced this issue in #2333 but with a checkmark on the task

[2019-11-05 07:25] petermax2 commented on #1590
I fixed `gpg.c` in #3137 and remove my assignment from the issue.

[2019-11-05 07:29] Piankero commented on #2384
Since the type plugin is overworked and the `type` metadata is removed from the hex plugin we could possibly close this issue?

improve the type plugin to have the better score
remove the "type" specifier in hexnumber
improve the spec-mount tools to understand the meta-value of type.
finish the type dispatcher #1373 (which would be the only plugin to take care of type and dispatches the informatio

[2019-11-05 08:15] Piankero commented on #1273
I started a tutorial in https://github.com/ElektraInitiative/libelektra/tree/specification-language-tutorial and will make a PR in the next days

[2019-11-05 09:23] sanssecours commented on #3161
The Travis builds for the master build were just auto-canceled: If there are new commits on a branch and none of the build jobs for an “old” commit on the same branch started, the whole build for the “old” commit will be canceled. Canceled builds will shows up as “failed” (`❌`) on the GitHub page for a certain branch. I now turned off that option.

<img width="952" alt="Auto Cancel" src="https://u

[2019-11-05 09:33] manuelm commented on #3151
Yes. But this means that every time a new flag gets introduced this needs to be filtered and translated for *every single binding*. I'm already doing this for `KEY_VALUE`+`KEY_BINARY` and `KEY_META`. I'm assuming the other bindings authors are doing the same.
But I do think it's unnecessary for `KEY_LOCK_xyz`. Doing `Key *k = KeyNew(...); keyLock(k, KEY_LOCK_NAME);` is just as fine in C.

I'm not

[2019-11-05 10:09] sanssecours commented on #160
Looks like there is [no space left on `v2-debian-buster`](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/155/pipeline/336/):

[code]

.

[2019-11-05 10:11] mpranj commented on #160
Thank you, I marked it offline as well, until somebody has access.

[2019-11-05 10:22] kodebach commented on #2925
That's the only solution I could think of that circumvents merge conflicts. It would make development easier for beginners, but complicates the release process (merging the various files could be difficult). It also causes problems, if multiple PRs implement one feature in several parts. Ideally such PRs would share one release notes file.

[2019-11-05 10:25] kodebach commented on #2384
I think this issue can just be closed. The original issue was fixed, by removing the `type` specifier from `hexnumber`. Any other problem, suggestions, etc. should be discussed in new issues.

[2019-11-05 11:28] kodebach commented on #3151
I think this is a good idea. If we remove the deprecated and the `KEY_LOCK_*` flags from `keyNew`, we are left with `KEY_META`, `KEY_SIZE`, `KEY_BINARY`, `KEY_VALUE` and `KEY_FUNC`. `KEY_FUNC` can be replaced with `KEY_BINARY` + `KEY_SIZE`.

If we now ignore binary keys for a moment, we only have `KEY_META` and basically that is what I proposed in #3112.

For the binary keys we could introduce a s

[2019-11-05 15:06] Chemin1 commented on #2925
You mean it circumvents conflicts when creating the release note file for a PR, not generally, right?

=> We essentially moved the conflicts to a later moment?

Update:  I do not know how to integrate Elektra into GitHub to automatically to resolve conflicts in exactly this file. But with @kodebach's approach someone could call `cmerge-config-files` multiple times with a strategy that uses [LibGit

[2019-11-05 15:26] Chemin1 commented on #160
`hetzner-jenkins1` just failed my 3 PRs because disk quota is exceeded. Here is on output:
[code]

[2019-11-05 15:26] PhilippGackstatter commented on #3151
As Rust does not allow defining variadic functions, I am not touching the `va_args` parts, and instead require the user to call separate functions to set name, value, ...

I was thinking about providing a macro that would mirror `keyNew` but I found the builder pattern to be a good replacement for the variadic functions: `let key = KeyBuilder::new("user/test/key").unwrap().meta("metakey", "metaval

[2019-11-05 15:53] mpranj commented on #160
Marked `hetzner-jenkins1` as offline because disk quota was exceeded.

[2019-11-05 16:02] markus2330 commented on #160
I cleaned up i7 and v2 (by removing /home/jenkins/workspace/* and by running `docker system prune`). Now we have:

- i7: /dev/mapper/i7--vg-home  199G  152G   37G  81% /home
- v2: /dev/sda3         417G  255G  147G  64% /

Then I restarted the agents.

@Mistreated can you please fix #3160 so that this does not reoccur so fast. Please also fix hetzner-jenkins1. There are lots of resources on this m

[2019-11-05 16:03] markus2330 commented on #3160
It seems like the disc space goes full very fast if this is not fixed, I tag it as urgent.

[2019-11-05 16:09] markus2330 commented on #3159
No, I was not in the kdb subdirectory. Then I get:

[code]

Can you add in README.md about how to execute TestKeySetMemory? Is it disabled by default?

[2019-11-05 16:11] markus2330 commented on #2490
Yes, we can close it.

[2019-11-05 16:11] #2490 closed

[2019-11-05 16:14] markus2330 commented on #1789
This is actually already implemented with the `-d` and `-v` options.

@kodebach once said that it would be much better if we only have `-v`. For me open is a tutorial/docu/guide about how tools should provide `-d` and `-v`. (When to output which parts of warnings/errors).

[2019-11-05 16:16] markus2330 commented on #1590
Thank you!

[2019-11-05 16:17] markus2330 commented on #1273
Thank you, but please prefer to use branches in your own repo.

[2019-11-05 16:18] markus2330 commented on #3161
Thank you for the explanation!

[2019-11-05 16:18] #3161 closed

[2019-11-05 16:31] markus2330 commented on #2925
We already agreed that we can simply keep everything in this file.

Before release someone needs to polish the whole text anyway.

I think you can simply use the union merge which already exists in git. Using merge-config-files would be a nice test how well it works, though.

[2019-11-05 18:17] mpranj commented on #3157
I took the liberty to test/increase the timeout in my PR, as it keeps hitting this limit. Seems like it is usually a build on a7 (which is slower) and I have not yet seen it on v2 (which is presumably faster).

[2019-11-05 18:24] markus2330 opened #3162 "get rid of kdbprivate.h in bindings/tools"
- [ ] src/tools/kdb/get.cpp:#include <kdbprivate.h>
- [ ] src/tools/kdb/mount.cpp:#include <kdbprivate.h>
- [x] src/bindings/glib/gelektra-keyset.c:#include <kdbprivate.h>
- [x] src/bindings/glib/gelektra-key.c:#include <kdbprivate.h>
- [ ] src/bindings/intercept/fs/intercept.c:#include <kdbprivate.h>

@manuelm can fix the glib bindings and @PhilippGackstatter the others?

[2019-11-05 20:59] raphi011 commented on #3159
You need go v1.13

[2019-11-05 21:04] Mistreated commented on #160
I dont know if there is a nice way to resize the disk down. Thats why Im not giving the node everything at once.. hetzner is up again.

[2019-11-05 23:08] manuelm commented on #3162
The glib object model is splitting object creation and initialization. That's why glib is calling the private `keyVInit`. I can remove the call, but every call to `gelektra_key_new` will in fact create two keys. One empty keyNew that gets immediately freed again. And the second keyNew-call with the actual arguments. It's not possible to work around this.

Doable. But one `gelektra_keyset_new` call

[2019-11-06 03:16] markus2330 commented on #3159
In Debian stable (buster) is only golang 1.11~1. Which features require a newer go?

[2019-11-06 04:31] markus2330 commented on #3162
Isn't there some rule that init needs to be called after new? So why not simply doing nothing in new and create the key in init?

If something like this is not possible, it is mostly about documentation, it should be easy to understand which parts of Elektra needs which internals and why.

There are several ways to fix this:

1. we write a design decision about keyVInit (why it is needed for GLib)

[2019-11-06 06:08] raphi011 commented on #3159
The `errors` package

[2019-11-06 06:47] markus2330 commented on #3159
What exactly does the errors package provide that it is worth this limitation? In general it is good if the bindings have as little deps as possible.

[2019-11-06 07:11] raphi011 commented on #3159
That's why I upgraded to go 1.13 - because I wanted no external dependencies and the new version added a useful errors package.

[2019-11-06 07:24] Piankero commented on #1273
That was accidental, I moved it to my repo

[2019-11-06 08:58] mpranj opened #3167 "mmapstorage: improve docu"
Self note to update documentation according to review in #3136.