[2016-04-21 19:59] markus2330 commented on #603
Yes, duplicating sets the sync flag and appending would replace the key with the new one. Then the keyset would be considered as changed.

But in this bug we do not only have a unnecessary change but it rather seems like a complete key is missing.

[2016-04-22 06:01] markus2330 commented on #603
Appending exactly the same key (with same address), however, would be a NOP.

[2016-04-22 09:49] markus2330 commented on #373
Added possibility to add macros using the error specification.

There is no need to fix all code, but new code should use it to not have problems in the PRs.

[2016-04-23 06:29] markus2330 commented on #607
Any progress here? Most build server agents fail to do their jobs because of this issue. Thank you.

[2016-04-23 10:24] sanssecours opened #610 "Conditional Plugin: Tests Fail on OS X"
Running `bin/testmod_conditionals` on my machine fails with the output below. If I need to specify other details, please let me know.

[code]

[2016-04-23 11:00] sanssecours opened #611 "MergingKDB: Tests Produce Segmentation Fault on OS X"
Below is the current output of `testtool_mergingkdb`. If you need any additional details, please just comment below.
[code]

[2016-04-23 11:08] sanssecours opened #612 "Backend Builder: Tests Throw Exception on OS X"
Below is the current output of `testkdb_allplugins` on my machine. If you need any additional details, please just ask in the comments.

[code]

[2016-04-23 11:15] sanssecours opened #613 "KDB Conflict Tests Fail"
Below is the current output of `testkdb_conflict` on my machine. If you need additional details, please just comment below.

[code]

[2016-04-23 11:19] markus2330 commented on #610
Thank you for reporting!

@tom-wa which further information do you need?

[2016-04-23 11:24] markus2330 commented on #613
Thank you for reporting!

Do the tests always fail exactly in the same way or is there a non-deterministic behaviour? Can you run "strace" and gtest_filter on a broken test case? (ideally in comparision with an succeeding test case if something is non-deterministic)

[2016-04-23 11:25] markus2330 commented on #611
Thank you for reporting!

Can you give us a backtrace (full) of the segfault?

@fberlakovich do you need additional data?

[2016-04-23 11:26] markus2330 commented on #612
Thank you for reporting!

Seems like timeofday is broken? Can you give us the backtrace (full)?

[2016-04-23 11:28] #554 closed

[2016-04-23 11:41] fberlakovich commented on #571
Can we close the ticket? #611 is an independent ticket anyway.

[2016-04-23 11:48] #571 closed

[2016-04-23 11:51] fberlakovich commented on #611
I don't think so. Maybe I can even test the issue on a Macbook.

[2016-04-23 14:12] sanssecours commented on #613
If ignore the minimal differences in the reported run-times, then the output in my 4 test runs is always the same.

The tool `strace` is not available for OS X. It looks like [`dtruss`](https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/dtruss.1m.html) provides similar functionality on OS X. The output of the command `sudo dtruss bin/testkdb_conflict --gtest_filte

[2016-04-23 15:17] sanssecours commented on #612
Looks like it is. The command

    testkdb_allplugins --gtest_filter=AllPlugins/AllPlugins.backend/52

prints the following output:

[code]

I loaded the progamm into `lldb` via `lldb "bin/testkdb_allplugins"`, ran the program via `run`, and executed `thread backtrace` after the execution stopped. Here is the output:

[code]

[2016-04-23 15:21] sanssecours commented on #611
Here it is:

[code]

[2016-04-23 16:14] tom-wa commented on #610
thats all i need, i just read the os x libc regex man page, the 2 biggest parts of it are the "bugs" and "implementation choices" sections.... i'm not really sure what to do here since i have no way of testing different regexes on osx to see if they work.
they don't support `.*?` e.g.

[2016-04-23 16:20] KurtMi commented on #607
I will fix it tomorrow, for now you can comment out in the `testmod_semlock.c` the test functions calls.

[2016-04-23 18:11] markus2330 commented on #611
Thank you for the backtrace. The resultKeys seem to be not present. I fixed the test case -- it should not segfault anymore.

[2016-04-23 18:23] markus2330 commented on #613
Thank you! Seems like there is another corner case of POSIX interpretations missing. `0x7FFF55B3EB90` should be a unique timestamp in nanoseconds, but it is present in multiple stat and futimes calls.

[2016-04-23 18:41] markus2330 opened #614 "spec: Warnings"
[code]

[2016-04-23 18:44] #612 closed

[2016-04-23 18:45] markus2330 commented on #612
Thank you. Seems like there was an off-by-one (writing to member 24 in [24] array). If the problem is not fixed, please reopen.

[2016-04-23 18:54] markus2330 commented on #610
@sanssecours Can you maybe take a look at the regex and try if the test cases work with some slight changes? Or do you have some computer that can be reached remotely?

[2016-04-23 18:55] markus2330 commented on #607
No problem to wait till tomorrow, thank you!

[2016-04-24 06:23] tom-wa commented on #575
this should be fixed with #555
forgot to reference it.

[2016-04-24 06:44] sanssecours commented on #610
Thanks for the information. It really helped in tracking down the solution for the issue.

Yes, I already did that. Pull request #617 should fix the issue.

Sorry, I only own one (personal) computer.

[2016-04-24 07:07] tom-wa commented on #610
@sanssecours thanks for fixing it !

[2016-04-24 08:49] #610 closed

[2016-04-24 09:38] markus2330 commented on #575
[code]

[2016-04-24 09:47] tom-wa commented on #575
caused that on in the last PR, i'm still trying to figure out the actual problem.

[2016-04-24 10:00] markus2330 commented on #575
Thank you, then lets keep the issue open for this new problem.

[2016-04-24 10:03] #602 closed

[2016-04-24 10:04] #614 closed

[2016-04-24 10:06] markus2330 opened #618 "meta: discard const qualifier"
Have you deactivated warnings on your setup?

[code]

[2016-04-24 13:48] markus2330 commented on #51
@sanssecours do you have something ready for this PR? E.g. the fix for cascading export/import?

[2016-04-24 14:01] markus2330 opened #621 "spec: copies meta data to wrong places"
Not having spec mounted, everything works nice, e.g. `kdb ls /`. After it is mounted I suddenly get the error:
[code]

Highlevel, however, does not even contain such a condition. Instead it seems like metadata from a different mountpoint is wrongly copied there.

[2016-04-24 14:03] sanssecours commented on #51
No. Otherwise I would have opened a pull request.

[2016-04-24 14:03] markus2330 commented on #550
I fixed the issue by excluding the plugin for icc. Improving the testcases would be useful nevertheless.

[2016-04-24 14:03] #550 closed

[2016-04-24 14:14] markus2330 commented on #51
Ok, I actually meant "which could be ready for this release" (which is unlikely to happen today or tomorrow, too many issues are still open). Maybe we should at least output a warning that cascading import/export currently is broken for non-relative plugins? Or even tag plugins if they are relative or absolute and have different import/export code. (I would prefer to avoid it, but it seems unlikel

[2016-04-24 15:11] sanssecours commented on #51
Sorry, I do not think so. Unless the release is in a few weeks/months.

I think tagging the sounds like a good idea. Although, ultimately I think we should just fix this issue. You are right though: I assume it will take quite some time until I am done with this.

[2016-04-24 15:21] tom-wa commented on #621
i can't reproduce the problem, do you have any additional informations ?

[2016-04-24 15:24] markus2330 commented on #613
Can you rerun the testcase and tell me which warnings it prints now?

[2016-04-24 15:25] markus2330 commented on #51
Ok, thanks for the update. You might over-estimate it: Once you have done one of the plugins, the others are really similar.

[2016-04-24 15:30] markus2330 commented on #621
I'll send you `kdb export system` by e-mail. I have quite many mountpoints and data between them seems to get messed up with the spec plugin between them now.

[2016-04-24 15:49] sanssecours commented on #613
Here you go:
[code]

[2016-04-24 16:57] tom-wa commented on #621
seems like i've screwed up elektraGetDoUpdateWithGlobalHooks. i'm honestly out of ideas on how to do the globalplugins as hooks. Any suggestions ?

[2016-04-24 17:01] markus2330 commented on #613
Did you get the warning "futimens/futimes not defined" on compilation?
Otherwise, it seems like it only has time stamp granularity of seconds, e1ac8be3ddf8fb8846921c563eba51ef26694a1d should now jump for a second to provoke a conflict.

Can you try it out please?

[2016-04-24 17:22] markus2330 commented on #621
@mpranj can you take a look at the global plugins? You would need them for the mmap storage.

The currently best way is to have a global plugin per position that is only executed once with the full keyset (all namespaces) as argument.

The only exception is one additional hook after storage plugin which is needed to inject meta-data for validation plugins in postget.

Later we will add AOP-like di

[2016-04-24 17:29] sanssecours commented on #613
A full build currently produces [83 warning messages](https://gist.github.com/sanssecours/39da970e5c1c054613f275ea763fdfbf) on my machine (Search term: `warning:`). It looks like none of them is related to `futimens` or `futimes`.

I just did. Looks like there is only one error left \o/:

[code]

[2016-04-24 17:38] markus2330 commented on #613
I can reproduce this issue on a virtual machine, but its highly non-deterministic even though its not concurrent. Can you check with dtruss? Ideally you would both have a successful with a non-successful run.

[2016-04-24 17:43] sanssecours commented on #611
Looks like the latest commits fix this issue:

[code]

 Thank you!

[2016-04-24 17:43] #611 closed

[2016-04-24 18:08] sanssecours commented on #613
Hope this is what you wanted:

[testkdb_conflict_dtruss_output_failed.txt](https://github.com/ElektraInitiative/libelektra/files/233576/testkdb_conflict_dtruss_output_failed.txt)
[testkdb_conflict_dtruss_output_ok.txt](https://github.com/ElektraInitiative/libelektra/files/233577/testkdb_conflict_dtruss_output_ok.txt)

[2016-04-24 18:16] markus2330 commented on #613
Is it possible that the files are identical? Does the testcase always fail?

I think the issue is that the time modification is unchanged twice in a row. Thus the algorithm always does the same (increment the time), a conflict goes unnoticed in this very specific situation (it requires two instances that both do kdbSet() twice within the time resolution.).

The lower the resolution of the timestam

[2016-04-24 18:40] sanssecours commented on #613
Do you mean, the files I included in the comment before? If so, then no. I just downloaded them again to check.

Looks like it. At least the command:

[code]

always produces a failure in my test runs.

[2016-04-24 18:44] sanssecours commented on #613
Since the latest commit all tests pass on my machine:

[code]

Thank you!

[2016-04-24 18:48] sanssecours commented on #613
I think I spoke to soon :(

[code]

Strange, that it worked before…

[2016-04-24 19:30] markus2330 commented on #613
Ok, seems like it is even non-deterministic with 1sec timestamps.

[2016-04-24 20:56] KurtMi commented on #607
I have an issue, I even made a virtualmachine with debian 7.10 and configured cmake the same way jenkins had done, but I is impossible to reproduce the segfault.

[2016-04-24 21:35] markus2330 commented on #607
Thanks for your effort. I have sent you login-data for the build server.

[2016-04-24 21:38] markus2330 commented on #607
[code]

[2016-04-25 05:54] markus2330 opened #624 "Locally installed testtool_mergingkdb"
http://community.markus-raab.org:8080/job/elektra-local-installation/lastFailedBuild/console

[code]

[2016-04-25 05:56] markus2330 commented on #624
(you can inspect files here http://community.markus-raab.org:8080/job/elektra-local-installation/ws/)

[2016-04-25 08:10] markus2330 commented on #613
@sanssecours I am afraid its a non-fix for Mac OS X then. Without subseconds granularity there are not enough bits to encode multiple successful runs within a second.

Maybe you can find something out about Mac OS X futimes how it can be convinced to also store subseconds?

For platforms supporting subseconds I will encode some unique information within the subseconds which should fix the problem.

[2016-04-25 09:31] KurtMi commented on #607
Tank you for the server access. I found out that `/dev/shm` needs to be mounted as tempfs (http://stackoverflow.com/questions/270113/how-do-i-stop-sem-open-failing-with-enosys)

Besides, it is really weird that the `PLUGIN_OPEN` macro does not fail, when the `elektraSemlockOpen` call returns `-1` and sets an error key.

[2016-04-25 09:39] KurtMi commented on #607
Works now, thank you!

[2016-04-25 09:42] markus2330 commented on #607
Thanks, mounting /dev/shm fixed the problem.

Nevertheless, it certainly should not crash if /dev/shm is not mounted. You also should give a good hint in the error message (that /dev/shm needs to be present for this plugin to work).

Yes, can you also fix  `PLUGIN_OPEN` to exit if it was not able to open the plugin? (exit_if_fail)

[2016-04-25 09:45] KurtMi commented on #607
I have an exam tomorrow :(

[2016-04-25 09:47] markus2330 commented on #607
Ok. Should be 1 or 2 lines, but if it proves to be more difficult, simply open an issue please.

[2016-04-25 09:51] KurtMi commented on #607
Ok, this special case is described is the new PR.

[2016-04-25 10:06] KurtMi commented on #607
On my local machine this behaviour is not reproducible. I will look more into it in the evening.

[2016-04-25 12:19] KurtMi commented on #607
PR #625 should contain all changes to close this issue.

[2016-04-25 12:27] markus2330 commented on #607
Thank you, I wish you success for your exam!

[2016-04-25 12:31] KurtMi commented on #607
Thank you.
Btw: I checked:

It was my fault. The `PLUGIN_OPEN` works fine.
On error the plugin close function will be called and also produced a segfault.
Also this segfault is fixed in the PR.

[2016-04-25 15:26] #607 closed

[2016-04-25 15:28] #618 closed

[2016-04-25 16:12] markus2330 opened #626 "ini: moving section fails"
Given the ini file:
[code]
when we move the `current` section:
[code]

we do not get:
[code]
but we get:

[code]

[2016-04-25 17:00] tom-wa commented on #626
this issue is fixed in the revised version in #599 . i've forgot about kdb mv though, will add a few testcases.

[2016-04-25 17:54] markus2330 opened #627 "list: segfault if plugin is not present"
It seems like we have a regression (we would really need shell recorder testcases for global plugins). The list plugin again crashes when a plugin is unable to load:

[code]

[2016-04-25 18:14] markus2330 commented on #627
And there is also a memory leak with the list/spec plugin present:
[code]

[2016-04-25 18:28] mpranj commented on #621
@markus2330: I can take a look at it, but can you specify what you mean. Just this meta-data issue or global plugins in general?

[2016-04-25 19:06] 0003088 commented on #603
So we want to detect if two keys are the same by their name and values but not identical, since key != key.dup(). Is there an efficient way to do this or should it be done by comparing names and values separately?

[2016-04-25 20:42] sanssecours commented on #613
I did some research. According to my findings, not the operating system, but rather the filesystem [[1]] is the problem here. It looks like `HFS+` – the standard filesystem on Macs – is only able to store timestamps with a granularity of one second [[2], [3]]. Looks like other file systems have this problem too [[2]]:

[1]: http://unix.stackexchange.com/questions/102691/get-age-of-given-file
[2]:

[2016-04-25 20:57] markus2330 commented on #621
@mpranj Yes, doing a code review of the hooks. Ideally you find issue(s).

[2016-04-25 21:01] markus2330 commented on #603
Ideally you should not duplicate keys, except when they are actually changed. And operator== actually compares by content, not by address.

[2016-04-25 21:12] markus2330 commented on #613
Thank you, that is very helpful. Unfortunately fpathconf does not give you this information. So we have following options:

1. We could add an extra file that contains a last-modified time, but I am afraid that would not be very popular to have an extra file next to every configuration file.
2. We could append meta-data to the file, which again does not work on every filesystem.
3. We try to encod

[2016-04-26 06:29] markus2330 opened #628 "rename: testcase fails at wheezy"
http://community.markus-raab.org:8080/job/elektra-gcc-configure-debian-wheezy/lastFailedBuild/console
[code]

[2016-04-26 07:19] sanssecours commented on #613
I think both option 3. and 4. sound fine. If the only problem with option 3. is that the modified date is off by (at most) one second, then I think we should choose it. I do not think that people care that much about the sub second modification date.

[2016-04-26 07:38] markus2330 commented on #613
In option 3 it could be off by any number (at least how often your processor is able to do kdbSet() per second). Having subseconds being off by some thousands nanoseconds would be irrelevant for humans, but using the same method for seconds we are speaking about really wrong mtime.

So Option 5.) We could also try to go to both directions (toggle between add a second and remove a second) and use t

[2016-04-26 07:46] sanssecours commented on #613
Option 5 sounds great! I am happy as long as the test does not fail :).

[2016-04-26 10:01] sanssecours opened #631 "Some Tests Fail on OS X"
Looks like `test_kdb.lua` fails on OS X:

[code]

If I run `lua ../src/bindings/swig/lua/tests/test_kdb.lua`, then the script just exits with return value `0`. If you need any additional information, then please just comment below.

[2016-04-26 10:02] manuelm commented on #631
I'm sorry but I don't have OS X. However ctest -V is your friend.

[2016-04-26 10:22] manuelm commented on #631
btw calling `lua $file` isn't the same as running the tests. You're using the system installed kdb library while the tests are obviously using the library located in the build directory. You should at least set `LUA_CPATH`. see https://github.com/ElektraInitiative/libelektra/blob/master/src/bindings/swig/lua/tests/CMakeLists.txt#L12

90% of swig related crashes were related to build environment fa

[2016-04-26 11:29] markus2330 commented on #631
This issue might be related to ad537b3 (at least on Linux kdb*lua|python were crashing, but fix for Linux is part of ad537b3). Without output of the test one cannot really tell.

You can use `make run_all` which suppresses the output of successful test cases but shows the output for the failed ones.

[2016-04-26 13:02] markus2330 opened #633 "linendings: ignored return value"
community.markus-raab.org:8080/job/elektra-git-buildpackage-jessie
[code]

[2016-04-26 14:06] markus2330 commented on #378
@strahlex Such behaviour with default/fallback values can now easily be obtained with the [profile plugin](https://github.com/ElektraInitiative/libelektra/tree/master/src/plugins/profile). You mount the configuration file with local preferences, e.g. `/etc/preferences.ini` to `/sw/machinekit/cnc/#0/current` (preferences there will always win). Then you can have multiple profiles that can be switch

[2016-04-26 14:07] #378 closed

[2016-04-26 15:16] markus2330 commented on #485
Works now flowless as expected:
[code]

[2016-04-26 15:16] #485 closed

[2016-04-26 15:17] #375 closed

[2016-04-26 15:17] markus2330 commented on #606
I think we can close this, please reopen if you find further NFS issues.

[2016-04-26 15:17] #606 closed

[2016-04-26 15:26] markus2330 commented on #621
@mpranj and it would also be interesting why the performance degraded so strongly after #622, that should be fixed, too.

[2016-04-26 16:15] sanssecours commented on #613
Looks like 9fdee49 does not solve the problem. The command `bin/testkdb_conflict` now produces the following output on my machine:

[code]

[2016-04-26 16:18] markus2330 commented on #613
Thanks for testing, seems like toggling a second is not enough, can you check if you find a toggling method that works? Also, the release notes are currently being written, maybe you take a look at them? (doc/NEWS.md)

[2016-04-26 18:08] markus2330 opened #634 "testmod_mathcheck: fails when build with debug"
(debian unstable gcc5 with build_type Debug)
http://community.markus-raab.org:8080/job/elektra-multiconfig-gcc-unstable/build_type=Debug,gcc_version=5,plugins=ALL/66/console

Is it possible that this is related to ICC bug?

[code]

[2016-04-26 19:12] 0003088 commented on #603
But if == compares by content, would't that mean key == key.dup()?

[2016-04-26 19:34] 0003088 commented on #603
This was an incredible stupid bug on my part... Needs some further testing I suppose

[2016-04-26 19:40] markus2330 opened #636 "docu: é not set up for use in latex"
The character `é` not set up for use in latex:
[code]

[2016-04-26 19:43] markus2330 commented on #603
Ok, thank you! Would be great to see the PR soon!

[2016-04-26 19:43] markus2330 commented on #603
Btw. also describe what the wrong behaviour is (any why these lines were added)

[2016-04-26 20:43] #624 closed

[2016-04-27 04:28] tom-wa commented on #634
that's really confusing
again no idea whats wrong here, but i guess it's really related to that bug. i'm running an unstable/experimental mix with gcc5 but i'm not getting that error.

[code]
[code]

[2016-04-27 06:10] #636 closed

[2016-04-27 06:10] #628 closed

[2016-04-27 06:11] #627 closed

[2016-04-27 06:24] #633 closed

[2016-04-27 06:27] tom-wa commented on #575
should both be fixed by now.

[2016-04-27 06:28] tom-wa commented on #575
btw, `RTLD_NODELETE` helps resolving the `???` parts.

[2016-04-27 06:29] tom-wa commented on #626
fixed in the last PR. can be closed now

[2016-04-27 07:05] markus2330 commented on #626
Thank you, but there is a problem with debian packaging, and I would like to test it with an installed version.

[2016-04-27 07:30] sanssecours commented on #613
I can try. I never looked at `testkdb_conflict.cpp` though. So its quite possible that this will take a little longer.

Just looked at them. I corrected a few minor mistakes in 817ce30.

[2016-04-27 07:48] markus2330 commented on #613
A quick hack that I tried, it might be helpful:

[code]

It does not always work on a VM, though:
[code]

[2016-04-27 08:56] markus2330 opened #644 "test case test_mountsplit.c:503 fails"
[code]

[2016-04-27 08:57] markus2330 commented on #644
still worked with e80cfee96333cffafac684992c2b88c6fbdf92b4
[code]

[2016-04-27 09:00] markus2330 commented on #644
Problem is that by loading by "resolver" and "storage" the modules behind it are not registered anymore.

[2016-04-27 09:14] markus2330 commented on #613
sorry, closed wrong issue

[2016-04-27 09:14] markus2330 commented on #644
c6854fc7a7575e063d07b12f6b78126496d0bb18 should have closed this issue.

[2016-04-27 09:14] #644 closed

[2016-04-27 12:33] markus2330 commented on #626
Works now perfectly, thank you!

[2016-04-27 12:33] #626 closed

[2016-04-27 12:34] markus2330 commented on #574
@tom-wa any progress here?

[2016-04-27 13:26] mpranj commented on #621
Quick update: it might take a while because I have to read up on the implementation details. The `elektraGetDoUpdateWithGlobalHooks` isn't straightforward to me and the approach isn't really documented, so I'm not sure how it _should_ work.

@markus2330 on a side note, I also can't reproduce the initial problem, which makes it a bit harder to try any fixes.

[2016-04-27 13:34] markus2330 commented on #621
Thanks for the update. Did you find out why it slowed down by a factor of 3?

[2016-04-27 13:36] markus2330 commented on #302
I think also the documentation should be updated now.

[2016-04-27 13:36] #302 closed

[2016-04-27 13:38] markus2330 commented on #356
Error message is now much better! Thank you!

[code]

[2016-04-27 13:38] #356 closed

[2016-04-27 13:43] sanssecours opened #645 "INI Plugin: Tests Fail on OS X"
Since pull request #599 was merged `testscr_check_get_set` and `testmod_ini` fail on my machine. Here is the output of `testmod_ini`:

[code]

The command `ctest -V -R testscr_check_get_set` prints the following output:

[code]

If you need any additional information, then please just comment below.

[2016-04-27 13:46] markus2330 opened #646 "ini: no = in value"
[code]

expected: leave `CONFIG` unchanged (and `PRU=0 NUM_STEPGENS=5 NUM_PWMGENS=0` should be its value)

(Please only fix for 0.8.16 if you are sure it won't break something else)

[2016-04-27 13:50] markus2330 commented on #645
Thank you, does it work again when reverting #645?

@tom-wa Do you have any idea?

[2016-04-27 13:56] markus2330 commented on #388
Seems like 3 issues are still open and we closed 2 issues (new profile plugin and improved rename plugin)

[2016-04-27 14:01] mpranj commented on #621
Didn't look into that yet, but I can look into that this evening. Maybe it helps me understand the global hooks as it's the same code anyway.

[2016-04-27 14:06] markus2330 commented on #404
Still open, INI seems to change every key:
[code]

I think the most robust way is to make the change detection as early as possible so that it is not dependent on every plugin not making changing to keys.

[2016-04-27 14:25] #415 closed

[2016-04-27 14:32] markus2330 commented on #416
I think the positive approach fits better: If users are not sure they can simply specify a provider (e.g. resolver or storage) and let `kdb` select the correct plugin for them. So no warning when mounting experimental plugins. (which are disabled to be build by default anyway)

[2016-04-27 14:32] #416 closed

[2016-04-27 14:34] sanssecours commented on #645
Yes, after reverting pull request **#599** via `git revert -m 1 1bd58fdb` both tests complete successfully again.

[2016-04-27 14:35] markus2330 commented on #423
sync is already recommended, so we should this bug in a more general: warn if recommended plugins are missing. Lets rethink this for the next milestone.

[2016-04-27 14:36] markus2330 commented on #428
@0003088 any news? It would be great to get a PR today. Something minimal which only fixes these grave bugs would be enough!

[2016-04-27 14:38] markus2330 commented on #645
Thanks, that is the backup plan then. Could you reproduce one of the bugs with a simple `kdb set`? Can you share them with us? Then we could be sure that the tests are not flawed on Linux.

[2016-04-27 14:39] #447 closed

[2016-04-27 14:40] markus2330 commented on #447
So the solution now is that neither doc nor template will be built by default (they were tagged as experimental, which will be excluded by default).

[2016-04-27 14:47] markus2330 commented on #575
There are still memleaks:
[code]
or:

[code]

[2016-04-27 14:58] markus2330 commented on #600
@edy What specifically do you dislike?

[2016-04-27 15:05] markus2330 commented on #559
unfortunately not this release, @petermax2 do you have resources to do it? Let us talk about it tomorrow.

[2016-04-27 15:14] markus2330 commented on #457
Works nice now, thank you!

[2016-04-27 15:14] #457 closed

[2016-04-27 15:17] #431 closed

[2016-04-27 15:20] markus2330 commented on #528
See #428

[2016-04-27 15:20] #528 closed

[2016-04-27 15:21] markus2330 commented on #465
removing milestone for adding buttons, better to focus on #528 #603 (which seems like they are duplicates)

[2016-04-27 15:38] #545 closed

[2016-04-27 15:47] markus2330 commented on #634
I have to admit it is weird, could not reproduce it manually, build server runs test cases now without errors. We have only this one build run where it failed, and icc where it consistently fails.

[2016-04-27 15:59] markus2330 opened #647 "[[: not found"
Hi, seems like the
[code]

is not portable. dash says:

[code]

Its not really important, because with the error we get expected behaviour. I do not understand why we want to set TMPPATH="/tmp" on linux, I think the `else` should be removed.

[2016-04-27 16:06] manuelm commented on #600
I'm definitely against this version specific macro. It will lead to code cluttering and a lot of unnecessary ifdefs. Just think of an additional setmeta type, an enum or whatever which gets introduced in a new version.

And there's simple no need for this. If an application developers want to use an older version he has to link against and ship this specific version. Simple as that.

Don't introdu

[2016-04-27 16:17] manuelm commented on #600
I'm really looking forward to things like this:
[code]

[2016-04-27 16:18] markus2330 commented on #600
I also do not find it appealing from implementation side of view. It might, however, solve an important binary-portability problem:

Think of (non-statically) programs linking against glibc. They only run on systems where the same or a newer glibc version is running. When you want a portable binary, you need to compile against a really old glibc.

With the approach described above, I could set a m

[2016-04-27 16:23] manuelm commented on #600
If you want a portable binary you either link statically or ship the library. End of story.

[2016-04-27 16:31] markus2330 commented on #600
Yeah, thats is the solution because every other way currently is not supported. But you are right, there is a good reason why nobody (incl. glibc) supports it: It is really a huge effort. Its much simpler to be compatible in one direction only.

If you want we can discuss it tomorrow.

[2016-04-27 16:40] markus2330 commented on #523
Seems to be completely broken now.

[code]

expected: `empty`.

@tom-wa Seems like spec does not work at all anymore? Do you have some test cases where it works properly?

[2016-04-27 16:41] markus2330 commented on #613
@sanssecours Any progress?

[2016-04-27 16:42] markus2330 commented on #479
Issue seems also to be relevant for non-installed Elektra (in CMake).

[2016-04-27 17:45] 0003088 commented on #603
I did not remove these lines, I just added a necessary check that I missed. I did some quick tests and it works as far as I can see (including syncing keys that a kdb user would create/alter)

[2016-04-27 17:52] markus2330 commented on #603
Sounds great, can you create a PR?

[2016-04-27 17:58] 0003088 commented on #603
Just trying to. Unfortunately I pushed the changes I made regarding the new buttons too and the gui wont compile atm. Should I just create the request regardless and you cherry-pick the fix or should I resolve it locally and push the fix only?

[2016-04-27 18:06] markus2330 commented on #603
You still have some time (there are still other bugs open), so if you want you can finish the buttons. Otherwise it would be good if you can resolve it locally. Otherwise I might do mistakes when cherry picking.

[2016-04-27 18:08] 0003088 commented on #603
I do not have the time to finish the buttons tonight. I will revert the commits regarding the buttons and push only the fix.

[2016-04-27 18:14] markus2330 commented on #603
The release won't happen today, so you would have time tomorrow, too. If its a good idea is of course dependent on the implementation state of the buttons, its certainly better to have the fix today than nothing tomorrow ;)

[2016-04-27 18:14] mpranj opened #648 "tcl plugin: Boost headers not included"
I get
[code]
on OS X 10.11.4 as well as FreeBSD 10.3-RELEASE.

[2016-04-27 18:18] markus2330 commented on #648
You need to download the files from http://www.boost.org/

Strange that cmake could find the cmake package? (It does not specifically check for `boost/spirit/include/qi_expect.hpp`, but usually the header files are all in one package and libraries are not needed for the `tcl` plugin).

[2016-04-27 18:20] #648 closed

[2016-04-27 19:01] nd2s opened #650 "Build fails on OpenBSD"
Using the `cmake ..; make` method:

[code]

[2016-04-27 19:05] markus2330 commented on #650
Thanks for reporting!

Elektra was already reported to work for OpenBSD. #452 tells you have to use egcc/eg++ and libestdc++

Would be great to hear if it works for you!

[2016-04-27 19:07] markus2330 commented on #650
@tom-wa @petermax2 was there anything that did not work on OpenBSD, how far did you test it?

[2016-04-27 19:23] petermax2 commented on #650
c282676f99775735b3e09f90c7bd3e754026f877 compiles in OpenBSD 5.9 with egcc 4.9.3. Not all the unit tests pass tough.

[2016-04-27 19:24] markus2330 commented on #650
Can you create issues for the non-passing unit tests?

[2016-04-27 19:29] petermax2 opened #651 "OpenBSD: testmod_conditionals fails"
2/104 Test   #2: testmod_conditionals ...............***Failed    0.02 sec
	CONDITIONALS     TESTS
	==================

	/root/Projekte/libelektra/src/plugins/conditionals/testmod_conditionals.c:28: error in test_ifthenelseint: error
	/root/Projekte/libelektra/src/plugins/conditionals/testmod_conditionals.c:76: error in test_ifthengtint: error
	/root/Projekte/libelektra/src/plugins/conditionals/te

[2016-04-27 19:30] petermax2 opened #652 "OpenBSD: testmod_ini fails"
13/104 Test  #13: testmod_ini ........................***Failed    0.02 sec
	INI	   TESTS
	==================

	Compare <[section1]

	in file /root/Projekte/libelektra/src/plugins/ini/ini/plainini, line 2.
	/root/Projekte/libelektra/tests/cframework/tests.c:174: error in compare_line_files: comparing lines failed
	/root/Projekte/libelektra/src/plugins/ini/testmod_ini.c:78: error in test_plainIniWr

[2016-04-27 19:30] petermax2 opened #653 "OpenBSD: testmod_mathcheck fails"
19/104 Test  #19: testmod_mathcheck ..................***Failed    0.01 sec
	elektraFtoA: val: 1.5, ret: 1.5
	elektraEFtoF: string: 1.5, ret: 1.5
	MATHCHECK	   TESTS
	==================

	/root/Projekte/libelektra/src/plugins/mathcheck/testmod_mathcheck.c:73: error in main: error
	/root/Projekte/libelektra/src/plugins/mathcheck/testmod_mathcheck.c:77: error in main: error
	/root/Projekte/libelektr

[2016-04-27 19:31] petermax2 opened #654 "OpenBSD + alpine3.7: testmod_network fails"
[code]

[2016-04-27 19:32] petermax2 opened #655 "OpenBSD: testmod_check_external fails"
[code]

[2016-04-27 19:33] petermax2 opened #656 "OpenBSD: testscr_check_get_set fails"
64/104 Test  #64: testscr_check_get_set ..............***Failed    5.50 sec

	ELEKTRA BASIC COMMAND SCRIPTS TESTS

	Check if script tests the correct version
	ccode not a read-write storage
	conditionals not a read-write storage
	constants not a read-write storage
	counter not a read-write storage
	csvstorage not a read-write storage
	curlget not a read-write storage
	dpkg not a read-write storage

[2016-04-27 19:34] petermax2 opened #657 "OpenBSD: testscr_check_import fails"
66/104 Test  #66: testscr_check_import ...............***Failed    5.80 sec

	ELEKTRA IMPORT SCRIPTS TESTS

	Check if script tests the correct version
	-- ccode not a read-write storage
	-- conditionals not a read-write storage
	-- constants not a read-write storage
	-- counter not a read-write storage
	-- csvstorage not a read-write storage
	-- curlget not a read-write storage
	-- dpkg not a read

[2016-04-27 19:35] petermax2 opened #658 "OpenBSD: testscr_check_real_world fails"
71/104 Test  #71: testscr_check_real_world ...........***Failed    2.37 sec

	ELEKTRA CHECK REAL WORLD SUITE

	Check if script tests the correct version
	find: -quit: unknown option
	find: -quit: unknown option
	system/test/script/sys/uname/machine
	system/test/script/sys/uname/nodename
	system/test/script/sys/uname/release
	system/test/script/sys/uname/sysname
	system/test/script/sys/uname/versio

[2016-04-27 19:36] petermax2 opened #659 "OpenBSD: testscr_check_kdb_internal_suite fails"
69/104 Test  #69: testscr_check_kdb_internal_suite ...***Failed    7.14 sec

	ELEKTRA KDB INTERNAL TEST SUITE

	Check if script tests the correct version
	ccode not a read-write storage
	conditionals not a read-write storage
	constants not a read-write storage
	counter not a read-write storage
	csvstorage not a read-write storage
	curlget not a read-write storage
	dpkg not a read-write storage
	fi

[2016-04-27 19:37] petermax2 commented on #650
See
- #651
- #652
- #653
- #654
- #655
- #656
- #657
- #658
- #659

[2016-04-27 19:43] markus2330 commented on #657
Strange that simpleini fails, isn't it also a glibc system?

[2016-04-27 19:44] markus2330 commented on #656
There is no `seq` on OpenBSD? Isn't it possible to install it?

[2016-04-27 19:45] markus2330 commented on #653
@tom-wa Nr. 3, so its definitely not an `icc` bug.

[2016-04-27 19:47] markus2330 commented on #652
Seems to be the same as on Mac OS X #645

[2016-04-27 19:49] markus2330 commented on #650
Thank you, most are related to simpleini, so better to not include this plugin for now.

[2016-04-27 19:53] nd2s commented on #650
Stupid question: where do I get `eg++` and `libestdc++`? `egcc` is in the `gcc` package, the other ones are non-existent (did a `pkg_info -E eg++` without any results).

[2016-04-27 20:00] petermax2 commented on #650
Not every mirror provides (e)gcc-4.9.3. try something like http://ftp.hostserver.de/pub/OpenBSD/5.9/packages/amd64/gcc-4.9.3p3.tgz

[2016-04-27 20:03] nd2s commented on #650
@petermax2 I meant I have the `gcc` package, but there is no `eg++` in there, only `egcc`.

[2016-04-27 20:20] petermax2 commented on #650
It may be contained in http://ftp.hostserver.de/pub/OpenBSD/5.9/packages/amd64/g%2b%2b-4.9.3p3.tgz

I can not remember where I downloaded the pkg from. But I do remeber that many mirrors did not provide eg++.

[2016-04-27 20:35] tom-wa commented on #646
Oh, yeah, if there are multiple "=" in a line, the ini plugin tries to search for " = " in order to find the right delimiter because the "=" could belong both to the name, or the value otherwise. if you add a space in front an after the "=" it would work, or if you do `CONFIG="PRU=0 NUM_STEPGENS=5 NUM_PWMGENS=0"`

[2016-04-27 20:37] tom-wa commented on #646
changing it wouldn't break anything, but thats actually a scenario where you should switch the delimiter to something else like `:`. there's no good approach to find out which "=" is actually the delimiter

[2016-04-27 20:53] markus2330 commented on #646
Thanks for the explanation, can you please add it to README.md?

(This would also close the issue unless @strahlex has objections)

[2016-04-27 20:56] markus2330 commented on #650
@nd2s can you drop us which lines worked?

@petermax2 can you add it to doc/COMPILE.md then?

[2016-04-27 21:12] tom-wa commented on #523
fixed in #661, mixed some lines up when i've added the missing initialization of the globalplugins array

[2016-04-27 21:15] tom-wa commented on #645
i suspect that strcmp with NULL values is handled differently on BSD systems ?

[2016-04-27 21:22] tom-wa commented on #646
i don't really want to implement a workaround for that case because, even though there isn't a real ini standard, this definitely isn't. if that's ok with everyone.

[2016-04-28 05:48] petermax2 commented on #650
@markus2330 mirrors change from time to time. I think the user should be capable of installing the correct compiler for his/her system. Other than egcc/eg++ there is no difference in compiling Elektra in OpenBSD.

[2016-04-28 06:08] sanssecours commented on #613
I applied your patch. The test `ConflictWithFileLoop/0` still fails every time:

[code]

[2016-04-28 06:32] petermax2 commented on #656
It is possible. One has to install `coreutils` and the symlink `gseq` to `seq`

    pkg_add coreutils
    ln -s /usr/local/bin/gseq /usr/local/bin/seq

But the test still fails:

	 64/104 Test  #64: testscr_check_get_set ..............***Failed    0.27 sec

	ELEKTRA BASIC COMMAND SCRIPTS TESTS

	Check if script tests the correct version
	ccode not a read-write storage
	conditionals not a read-writ

[2016-04-28 06:45] markus2330 commented on #613
The patch was only a quick idea and did not work (as noted above), otherwise I would have pushed it. Let us discuss this today.

[2016-04-28 06:49] markus2330 commented on #656
Thats an influence of the previous test run, you need to umount the left-overs manually. The cleanup procedure was not called in this unexpected event. `-quit` of find seems to be a problem, too. Let us discuss this today, the shellrecorder seems to be a much more robust solution.

[2016-04-28 06:52] markus2330 commented on #646
Yes, I already said from my point no workaround is needed. The problem was only the missing documentation. It must only be clear to the user which = will be part of the key and which will be part of the value.

[2016-04-28 06:55] #647 closed

[2016-04-28 06:57] markus2330 commented on #645
strcmp with NULL is definitly not a good idea, it could even crash.
Can you put an `if` before?

[2016-04-28 09:53] nd2s commented on #650
@petermax2 So far I've never had a package missing. I think you selected crappy mirrors to begin with. :)

So, I can confirm compilation works. With tons of ugly compiler warnings, and linker security warnings about use of `sprintf`, `vsprintf`, `strcat`, `strcpy` and such (should be fixed).

What's important to document is that one has to install packages `gcc` and `g++` - that was the hard thing

[2016-04-28 11:16] markus2330 opened #664 "runtime debug features"
- [X] assert KEY_END at runtime
- [X] dlopen RTLD_NODELETE
- [ ] assert library?
- [ ] other asserts?

[2016-04-28 13:31] petermax2 opened #665 "Replace error numbers with macros in crypto-plugin"
Use macros instead of error numbers in crypto-plugin.

[2016-04-28 13:35] markus2330 opened #666 "finalize infos/status"
## add in CONTRACT.ini

- [ ] finish #4758
- [ ] example .. plugin is only an example how plugins should be (doc+template), see  #1012
- [ ] remove nodep and use dependencies/ instead

## also add automatic check

- [ ] documentation
- [ ] environment

## check features of plugins manually

- [ ] read
- [ ] write
- [ ] spec/*/*
- [ ] preserves/order
- [ ] preserves/comment
- [ ] preserves/comment/

[2016-04-28 13:56] KurtMi opened #667 "Merchandising (T-Shirts, Flyers, Stickers)"
tell phlop to make a nice new flyer

- [x] new logo
- [x] t-shirts
- [X] sticker
- [X] new website
- [X] cups
- [X] new sticker
- [ ] poster
- [ ] new flyer

[2016-04-28 14:10] #603 closed

[2016-04-28 15:37] #650 closed

[2016-04-28 15:37] markus2330 opened #668 "Fix build warnings"
- [ ] unused variable f (gcc)
- [ ] hash non-template (gcc)

[2016-04-28 15:38] markus2330 commented on #650
Thank you, I added the information. Please reopen if you find further bugs. I created the new issue #668 for fixing the security build warnings.

[2016-04-28 15:42] markus2330 commented on #428
Thanks, works perfectly, even in the case of conflicts! Great work! I hope to see some improvments in the next release, too.

[2016-04-28 15:42] #428 closed

[2016-04-28 15:47] markus2330 opened #670 "spec: metadata is not cleaned up"
The spec is positioned at `postgetstorage presetstorage`. Are you sure we should change that positioning for this release?

What is not working because of the missing positioning?

[2016-04-28 15:51] tom-wa commented on #670
it should work without those placements, it just wont clean up.

[2016-04-28 15:51] markus2330 commented on #670
With cleanup you mean removal of meta data?

[2016-04-28 16:02] nd2s commented on #657
glibc = GNU; OpenBSD has nothing to do with GNU and uses the BSD libc.

[2016-04-28 16:06] markus2330 opened #671 "vfat support"
Currently the temporary files created by the resolver are too long for vfat.

We could check the _PC_NAME_MAX/_PC_PATH_MAX dynamically using fpathconf, pathcon in the filename resolution of the resolver

[2016-04-28 16:12] markus2330 commented on #657
Yes, I know now. I thought initially that it was even required to have glibc so that Elektra works on OpenBSD, but now its clear: you only need to install gcc, not glibc.

@nd2s 03fb2c770eb2c4eda4d380b76b2f54bd3febefe8 should disable the simpleini plugin and fix the test (and maybe even others), can you verify that?

[2016-04-28 16:19] markus2330 commented on #671
Btw. as not-so-bad workaround you can use wresolver which works nicely. Only the known limitations apply (does not create a directory and does not remove config file on empty config).

[2016-04-28 16:19] tom-wa commented on #670
yes.

[2016-04-28 16:22] markus2330 commented on #670
Ok, thank you. Lets better keep it the way as is for the current release and in next release @KurtMi  and you rethink the global plugin positioning.

[2016-04-28 16:23] markus2330 commented on #613
@tom-wa Could you reproduce the problem already? On the community server the testkdb_conflict fails quite often, you can test it there.

[2016-04-28 16:25] #621 closed

[2016-04-28 16:26] markus2330 commented on #575
@tom-wa I think some of these memleaks are still open.

Can you reproduce them with a shellrecorder script?

[2016-04-28 16:33] nd2s commented on #657
@markus2330 If you tell me how...

[2016-04-28 16:37] markus2330 commented on #657
git pull && make && make run_all

[2016-04-28 16:47] nd2s commented on #657
I copied the whole output because there is a lot going on (22 tests failing!). This one seems to be ok, though:

https://gist.github.com/nd2s/49e281d3b9e3fc24557e06a3ef733a8a

[2016-04-28 17:16] markus2330 commented on #657
@nd2s In your case most tests fail because Elektra tries to write to /etc/kdb. Either give access to it for your development user or run as root.

[2016-04-28 17:23] nd2s commented on #657
Certainly not giving it root access. ;) Shouldn't it write to a tmp dir?

Anyway, down to 12 failed: https://gist.github.com/nd2s/b4a6b0899914230040a501bb8a24258b

[2016-04-28 17:28] markus2330 commented on #657
No, the tests are realistic. To have good default security, all `system` keys go to `/etc` which cannot be manipulated via environment. Thus `kdb mount` writes to `system`, the tests write to `/etc`. You can configure Elektra to be more insecure at compiletime if you want (XDG resolver allow to manipulate `system` configuration per environment variable) or simply set default pathes to what suits y

[2016-04-28 17:49] markus2330 commented on #653
@tom-wa should we exclude it for 0.8.16? (tag as experimental?)

[2016-04-28 18:23] markus2330 commented on #671
Implementation Hint: you have to make sure that correct bits are removed when file name is make shorter.

[2016-04-28 18:38] markus2330 commented on #523
It seems to be again broken?
[code]
Can you record this with shellrecorder to avoid such regressions?

[2016-04-28 18:49] #574 closed

[2016-04-28 21:07] markus2330 commented on #648
The PR #649 looked so innocent but broke the mingw build. The problem is that the include_directories is in global scale (for all plugins). On Linux /usr/include was added in the search path, which is not a good idea for a mingw build.

[2016-04-29 01:58] tom-wa commented on #523
works fine for me, what exaclty is the issue ?
https://github.com/ElektraInitiative/libelektra/blob/master/examples/spec/locationtracker.ini has an issue with the linebreak at line 37, but it you remove the newline it works fine too

[2016-04-29 06:03] markus2330 commented on #523
The issue (executing code above) now is an invalid syntax error:

[code]

Seems like only values and not variables are allowed in the then?

[2016-04-29 06:04] markus2330 commented on #523
If I change it:
[code]

it works (without prior set of /example/highlevel/powersaving/gps), thus the original issue is solved.

[2016-04-29 06:08] markus2330 commented on #653
Also happened again on debian: http://community.markus-raab.org:8080/job/elektra-multiconfig-gcc-unstable/build_type=Debug,gcc_version=5,plugins=ALL/68/console

There are also
[code]
which is a clear indiciation of the underlying issues. Did you try to run valgrind on gcc5 debug?

[2016-04-29 08:37] markus2330 opened #673 "topology sort in mounting"
[code]

Workaround:

[code]

[2016-04-29 11:06] tom-wa commented on #523
sorry, the error message is wrong. it works for me after setting the key /examples/highlevel/battery/level.
i've already revised spec and conditionals to use the new syntax for absolute and relative keys and wanted to make the PR after the 0.8.16 release.

[2016-04-29 11:11] tom-wa commented on #653
yeah, please tag it as experimental, the plugin will get some rework anyway together with spec and conditionals for the next release (new syntax for relative and absolute keys + some cleanup and refactoring because it became quite messy after adding some of the newer features)

[2016-04-29 11:13] tom-wa commented on #653
just ran it with valgrind gcc5 and debug build, no isses or memleaks. can you try to reproduce some of the issues locally on your boxes ?

[2016-04-29 11:27] tom-wa commented on #673
i don't quite get it,
[code]
thats the array returned by the topological sort. where exactly is the issue ?

[2016-04-29 11:32] markus2330 commented on #653
I think openbsd is the easiest way to reproduce it. On debian unstable it is non-deterministic.

[2016-04-29 11:35] markus2330 commented on #673
glob must be before validation+network, otherwise the globbed metakeys won't reach their destination. (ordering is against check, both validation and network are check)

[2016-04-29 11:36] markus2330 commented on #523
Ok thank you, then the error message should be updated.

[2016-04-29 11:37] tom-wa commented on #673
glob doesn't have any dependencies added in the keyset

[2016-04-29 11:45] markus2330 commented on #673
ahh, there is a TODO that this is not yet implemented. That clears that up.

[2016-04-29 11:52] sanssecours opened #674 "Ninja: Warning About Multiple Rules Generating `kdberrors.h`"
## Steps To Reproduce

1. Change directory to the root directory of the cloned repository
2. Execute the following commands:

[code]

## Result

Ninja prints the following warning multiple times:

[code]

---

This might be related to the CMake macro `add_headers`, since adding plugins also increases the number of warnings `ninja` prints. ~~If I comment the lines~~
[code]
~~in the macro, then `nin

[2016-04-29 12:12] markus2330 commented on #674
Thank you for reporting. The issue is well-known, see very long discussion in #258.

[2016-04-29 15:14] sirblackheart opened #675 "qt-gui segfaults when elektra is build with crypto plugins"
Building elektra with
[code]

leads to a segfault when starting the qt-gui.
Building with `-DPLUGINS="ALL;-crypto_gcrypt;-crypto_openssl"` solves this for now.

lldb gives me the following backtrace:
[code]

[2016-04-29 15:32] markus2330 commented on #675
Then better not build with crypto plugins. They are currently experimental and do not have functionality.

[2016-04-29 15:35] markus2330 commented on #675
To be more specific: ALL;-EXPERIMENTAL is default, and adding any other plugin is "at your own risk".

Nevertheless thanks for reporting and @petermax2 it would be good if you can investigate.

[2016-04-29 15:44] markus2330 opened #676 "Announce Release Social Media"
@omnidan @ElektraInitiative/elektradevelopers if possible, please copy and paste the text of the 0.8.16 release where suitable (e.g. reddit)

Thanks!

[2016-04-29 18:00] markus2330 opened #677 "consistent hook names"
- [ ] think about hook placement
- [ ] consistently use them
- [ ] fix cleanup of spec plugin
- [ ] fix semlock plugin

[2016-04-29 18:01] markus2330 opened #678 "create full-automatic shell recorder test cases"
- [x] update docu for shell recorder
- [x] create more testcases
- [x] should be executed (add_test)
- [x] tag shell test cases different
- [x] complete `sh` compatibility

@KurtMi you you please write down what you learned during the review. I think the docu is still not like it should be.

[2016-04-29 18:02] markus2330 opened #679 "shell recorder: make format suitable to be embedded in README.md"
The format could look like markdown code snippets but with an additional marker that its a shell recorder test case.

The shell recorder should also have explicit support to check for elektra's errors. (Only convience so that the regex does not have to be written)

[2016-04-29 18:10] tom-wa commented on #677
spec does a cleanup then placed with the postget or preset cleanup placement though

[2016-04-29 19:12] petermax2 commented on #675
@sirblackheart I can reproduce the dump.

According to the backtrace, the call of `ERR_peek_error ()` caused the problem. It is part of the OpenSSL library and tells whether or not OpenSSL holds an error in its internal queue.

		 thread #1: tid = 25250, 0x00007fffc6aa9610, name = 'qt-gui', stop reason = signal SIGSEGV: address access protected (fault address: 0x7fffc6aa9610)
		  * frame #0: 0x000

[2016-04-29 19:20] petermax2 commented on #675
@markus2330 BTW I have a bad feeling that this might be a concurrency/bad library setup issue... You know like when we talked about to not have the Elektra user setting up his/her application to do the OpenSSL/gcrypt initialization but put the initialization into the plugin open functions.

[2016-04-29 19:25] markus2330 commented on #677
@tom-wa yes, but its not yet done by the mount tool. We should first get consistent names, and then do the integration.

[2016-04-29 19:26] #665 closed

[2016-04-29 19:48] markus2330 commented on #675
Yes, seems like that you are not supposed to call `ERR_peek_error` in this state? Did you already test with libcrypto.so.1.0.0?

[2016-04-29 19:49] markus2330 commented on #605
Can we close this ticket? I think we should focus on semlock.

[2016-04-29 19:54] markus2330 opened #681 "Fix OpenBSD warnings"
As @nd2s  reported we should fix all OpenBSD warnings.

Afterwards, as discussed we should create an OpenBSD build agent to avoid regressions. If there is someone who can donate an OpenBSD build agent: this would be highly appreciated.

If possible we should also do the same for one of the solaris distributions.

@petermax2 @nd2s You are of course welcome to also contribute fixes for this issue.

[2016-04-29 23:32] mpranj commented on #648
Sorry for the breakage and thanks for fixing it!

[2016-04-29 23:39] mpranj commented on #668
seems like an empty duplicate of #681, close?

[2016-04-30 06:42] markus2330 commented on #668
Thanks for alerting me, I changed it to another issue in this context.

[2016-04-30 10:32] markus2330 opened #682 "Translation of qt-gui"
Currently we only have a german translation:
`src/tools/qt-gui/qml/i18n/lang_de_DE.ts`
It would be great to have other languages, too.

[2016-04-30 10:45] markus2330 commented on #667
t-shirts or polos would be great, too (choosing colors and placing Elektra Initiative with nice font)

[2016-04-30 10:50] markus2330 commented on #287
shell recorder should do cleanup, too

[2016-04-30 14:12] sl1pkn07 opened #683 "missing pthread linking"
[code]

19b3225

[2016-04-30 14:55] KurtMi commented on #667
No problemo

[2016-04-30 19:44] markus2330 opened #684 "list: addPlugin and shell recorder tests"
Extensions for list plugin:
- [ ] export a function that allows to add a further plugin in the list at runtime
- [ ] add shell recorder tests, in specific one that shows how to do a lazy mountpoint

[2016-04-30 19:54] markus2330 commented on #683
Thanks for reporting. The thread linkage for type was removed for #432 in f0e71ed36654032811496172a93b14655fdc45a5, but it is now added globally: every add_gtest now links against CMAKE_THREAD_LIBS_INIT.

Did you get some cmake warning that the Threads library was not found?

At which version of Arch Linux do you get this error? @KurtMi  or @sirblackheart can you reproduce it?

[2016-04-30 20:09] sl1pkn07 commented on #683
[code]

[2016-04-30 21:14] sirblackheart commented on #683
Yes, i could reproduce this with @sl1pkn07 s [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=elektra-git). Removing `-DBUILD_FULL=OFF` seems to fix this.

[2016-05-01 06:47] markus2330 commented on #683
Yes, thats a good tipp. Currently running tests is only fully supported with `-DBUILD_FULL=OFF ` otherwise many testmod* unit tests do not build at all.

The question is why the thread library is not linked correctly, even though `cmake/Modules/LibAddTest.cmake` has `target_link_libraries(${source} ${CMAKE_THREAD_LIBS_INIT})`. `make VERBOSE=1` tells you what the linker does. Maybe the -pthread nee

[2016-05-01 09:36] sanssecours opened #686 "Parallel Build: Markdown Link Converter Reports fread Errors"
## Steps To Reproduce

1. Go to the root directory of the cloned repository
2. Execute the following commands:

[code]

## Result

Ninja prints error messages that look something like this:

[code]

---

I discovered this, when I tried to come up with a solution for issue #470 that also works with `ninja`. The Ninja build failed even, when I introduced CMake code to make sure that Doxygen finished

[2016-05-01 09:46] KurtMi commented on #605
Alright

[2016-05-01 09:46] #605 closed

[2016-05-01 09:55] KurtMi commented on #667
Since my friend the graphical designer had never done a job for a open source software project, some examples or inspiration would be nice. @sirblackheart can I ask you to post some links here from other open source software? Configuration frameworks preferred. Other people are also welcome.

[2016-05-01 11:08] sirblackheart commented on #667
A nice start point could be the [gnome marketing](https://github.com/gnome-design-team/gnome-marketing). For example i like this nice minimalistic [flyer]( https://github.com/gnome-design-team/gnome-marketing/blob/master/flyers/gnome-love-flyer-usletter.pdf). For a nice logo font for Elektra it should probably be based on a font with an open licence so we could build a CI on it and reuse it on any

[2016-05-01 16:03] markus2330 commented on #667
Thank you, that is really great input!

Btw. I am afraid hp.jpg is too low res to be useful. Maybe someone can recognice the font?

[2016-05-01 16:06] markus2330 commented on #686
I think here is basically the same problem as in #674. One must be really careful when using add_custom_command when other commands depend on the output.

[2016-05-01 16:07] markus2330 commented on #686
Thanks for the report and the in-depth investigation!

[2016-05-01 20:13] #686 closed

[2016-05-02 08:42] markus2330 commented on #664
Implementation hints: ELEKTRA_DEBUG should be used (*not* CMAKE_BUILD_TYPE). It should be useful to be as default for development, that means that all printfs should be moved to ELEKTRA_VERBOSE.

[2016-05-02 08:48] markus2330 commented on #684
Implementation hints: the exporting of the `addPlugin` should already be a prototype of how the new way of exporting should work.

It should be easy to call an exported function and it should be possible to dynamically detect which functions are exported and which signatures they have.

For the simplification part: I think about something like `elektraModulesGetFunction (elektraPluginFactory, func

[2016-05-02 08:52] markus2330 opened #688 "error2warnings"
Currently the last error (ELEKTRA_SET_ERROR) wins and all other errors are removed.

Expected is following behavior: The first error should win (no other error can be set afterwards). All other subsequent errors should be turned into a warning that states that they actually were errors, e.g.

[code]

From the API users perspective, however, the old behaviour should remain. Similar to errno, the er

[2016-05-02 09:09] markus2330 opened #689 "global caching plugin"
As discussed in last meeting with @Namoshek it is surprising that `kdbGet` returns more than requested and it does not return anything when called again with an empty keyset.

An internal cache in a global plugin could fix this unexpected behaviour. It should cache the whole received configuration and do the proper `ksCut` so that the user exactly receives what was requested.

[2016-05-02 09:13] markus2330 opened #690 "Improve Elektra's default behaviour"
Following plugins should be in every mountpoint:

- [ ] sync for file-based backends, see #423
- [ ] type, see #4493
- [x] resolver for file-based backends
- [x] storage for file-based backends
- [ ] all plugins as specified by `spec/<mountpoint>`
- [ ] all plugins as specified by `kdb` tools' options.

[2016-05-02 12:52] KurtMi commented on #667
Indeed, very helpful input. I will forward the information to the designer.

[2016-05-02 13:40] markus2330 opened #691 "KDB_DB_SPEC and KDB_DB_SYSTEM with ~ does not work"
SPEC Expected behaviour: Should resolve to `~/.config/kdb/spec/default.ini`
SPEC Actual behaviour: Resolves to `/usr/local/~/.config/kdb/spec/default.ini`

SYSTEM Expected behaviour: Should resolve to `/home/me/...`
SYSTEM actual behaviour: resolves to `~/...`

KDB_DB_SYSTEM also needs to be STRING, otherwise it is impossible to start string with `~`.

[2016-05-02 16:38] martinschleiss opened #692 "kdb-gen missing in build - PYTHON2INTERP_FOUND not set"
Hi,

I just tried compiling the framework with `make kdb-full` but could not find the command `kdb gen` in the generated binary. Looking at the sources of kdb-gen I see that it has a dependency on Python (which is not documented in its README.md). CMAKE expects a variable PYTHON2INTERP_FOUND to be set but doing a quick search using Githubs search reveals that this flag is never set. Could it be th

[2016-05-02 19:41] markus2330 commented on #692
Thanks for the report. `kdb` works similar to git: for unknown commands it uses external tools that can be listed with `kdb list-tools`. `kdb gen` is such an external tool, thus you actually do not need `kdb` to invoke gen, you can also directly invoke the python script [src/tools/gen/gen](https://github.com/ElektraInitiative/libelektra/blob/master/src/tools/gen/gen), even without installation `kd

[2016-05-03 09:09] martinschleiss commented on #692
Thanks for the hints. Now `kdb-gen` works for me.

I have another question, it's not that important but in the current implementation it seems like that default values in the `.ini` files have to be defined. Looking at the tests folder, I can see that every `.ini` file has default values defined as well. Maybe this should be noted in the examples of the README.md.

[2016-05-03 09:23] #692 closed

[2016-05-03 09:23] markus2330 commented on #692
Thank you for the hint, it should be fixed now.

[2016-05-04 22:53] mpranj commented on #645
I was looking a bit into this and it appears that the ordering is messed up on BSD. Don't know why though.

Original ini:
[code]
vs what the test case writes to disk:
[code]

On the NULL value discussion: The FreeBSD  `strcmp.c` (which is also in OS X) segfaults. This can be easily circumvented but doesn't fix the problem above.

[2016-05-04 23:03] tom-wa commented on #645
can you add `outputDebug(returned);` above `1523         ret = iniWriteKeySet (fh, parentKey, returned, pluginConfig);`, build it with `DEBUG` and `VERBOSE` and run it again ?
i currently have no working BSD VM.

[2016-05-05 06:44] markus2330 commented on #645
Would be interesting if you can reproduce this in BSD at all. @petermax2 has a working BSD VM, we should somehow share it with a README how to use it to compile Elektra.

[2016-05-05 10:23] mpranj commented on #645
With `cmake -DELEKTRA_DEBUG_BUILD=ON -DELEKTRA_VERBOSE_BUILD=ON ..` and `outputDebug `  more tests fail (but I guess its just due to the output).
The `ini` tests succeed, but it does only 165 instead of 191 tests as before. Output is attached.
[out_testmod_ini.txt](https://github.com/ElektraInitiative/libelektra/files/250254/out_testmod_ini.txt)

[2016-05-05 11:27] tom-wa commented on #645
ok, the order metadata seems to be fine, so the culprint has to be somewhere withing iniCmpOrder.
but what confuses: is that the most recent version of the ini plugin?

[2016-05-05 12:59] mpranj commented on #645
haha, sorry, you're right, accidentally checked with `1bd58fdb` where the plugin worked, let me re-check

[2016-05-05 13:06] mpranj commented on #645
sorry again, now it makes more sense
[out_testmod_ini.txt](https://github.com/ElektraInitiative/libelektra/files/250423/out_testmod_ini.txt)

[2016-05-05 13:08] tom-wa commented on #645
ok, thanks, now i'm sure it's strcmp because the ordering metadata is correct

[2016-05-05 14:08] mpranj commented on #645
I somehow doubt it. I have even tried replacing strcmp with the glibc implementation. Didn't help.

[2016-05-05 14:13] tom-wa commented on #645
that's strange, because iniCmpOrder basically just uses strcmp and the ordering data is correct. so the problem has to be somewhere within iniCmpOrder.

[2016-05-05 14:21] tom-wa commented on #645
can you replace iniCmpOrder with
[code]

[2016-05-05 14:21] mpranj commented on #645
segfault

[2016-05-05 14:27] tom-wa commented on #645
i don't get it. I'll set up a new freebsd 10 vm

[2016-05-05 14:35] mpranj commented on #645
with the code above it segfaults, but the invalit access is in the test case apparently:
[code]

[2016-05-05 14:37] tom-wa commented on #645
wait, do the other testcases work ?

[2016-05-05 14:37] mpranj commented on #645
yep apparently it does fix a few cases :D

[2016-05-05 14:40] tom-wa commented on #645
ok, thanks, the segfault was kinda expected here. so it really was strcmp.

[2016-05-05 15:24] markus2330 commented on #645
Nice remote debugging session :+1:

[2016-05-05 15:25] markus2330 commented on #645
@tom-wa Can you also make a backup of your VM after it is completely installed? (with all Elektra's deps)

[2016-05-05 21:08] #530 closed

[2016-05-06 21:18] haraldg opened #698 "openwrt build of 0.8.16"
Hi,

I'm configuring elektra with -DPLUGINS="ALL;-crypto_gcrypt" like I did with 0.8.15,
but this time I get an errror. (See below.)

I tried to look at src/plugins/crypto/CMakeLists.txt but the comments confused me. Maybe somebody can make sense of this:

(cd /home/lambda/olinuxino/openwrt/build_dir/target-arm_arm926ej-s_musl-1.1.11_e
abi/elektra-0.8.16; CFLAGS="-Os -pipe -march=armv5te -mtune=ar

[2016-05-07 08:09] markus2330 commented on #698
Thank you, there is a bug in plugin inclusion logic for variants.

I would recommend to fully disable the crypto plugin for 0.8.16, using `-DPLUGINS="ALL;-crypto_gcrypt;-crypto_openssl"` (it also causes problems at runtime #675), or even all experimental plugins using `-DPLUGINS=ALL;-EXPERIMENTAL` which is the default now (if no PLUGINS given -- it would additionally exclude doc, jni, semlock, tem

[2016-05-07 08:48] #698 closed

[2016-05-07 08:55] markus2330 commented on #698
Your initial PLUGINS commandline should now work again (in master, for 0.8.16 it is unfortunately too late). I also updated the documentation. Thanks for reporting, do not hesitate to reopen if there are any further issues or questions.

[2016-05-07 18:42] tom-wa commented on #681
anyone managed to get elektra working on openbsd 5.9 ? egcc and eg++ (+ libs) aren't available on 5.9, and -std=c++ failes

[2016-05-07 18:44] nd2s commented on #681
They are, read doc/COMPILE.md.

[2016-05-07 19:22] markus2330 commented on #559
`checkconf` would also make `checkfile` of the resolvers unnecessary (its only a special case of `checkconf`.

[2016-05-07 19:28] markus2330 opened #701 "Property Plugin"
Hello newcomer,

Thus simpleini uses glibc specific features a replacement should be written.

As initial version it is enough if it writes out/parses every configuration option in the format `path/to/key = value`. Later you can add support for comments, ordering and configurable separators (instead of `/` and `=`).

To achieve this, you have to create a new plugin (see https://github.com/ElektraI

[2016-05-07 19:31] markus2330 opened #702 "C-KeySet persistency"
Write a plugin that persists the KeySet using the `ksNew` and `keyNew` syntax. It should be possible to include such a configuration file as header file.

For the beginning it is enough if only the writing-direction is supported.

@tom-wa: can you write this plugin?

[2016-05-07 19:35] markus2330 opened #703 "Metadata for kdb tools"
Can you write a specification for meta data of the kdb tools as discussed? For the beginning it is enough if 2 or 3 tools have actual meta data, we can add meta data for others later. More people can participate once the specification is clear.

[2016-05-07 19:38] tom-wa commented on #681
thanks, but i still get `Your compiler does no know the flag: -std=c++11` using eg++ on 5.9
[code]
worked fine for me on 5.8

[2016-05-07 19:42] nd2s commented on #681
And you ran that with both the CC/CXX vars as described? `cmake` as well?

[2016-05-07 19:45] tom-wa commented on #702
sounds fun, i'll do it.

[2016-05-07 19:51] tom-wa opened #704 "specifiy with metadata/plugins might depend on other keys in METADATA.ini"
since there's currently no way of knowing if a plugin might depend on other keys (like conditionals/mathchckeck) i think we should add an entry to METADATA.ini

[2016-05-07 19:51] markus2330 commented on #681
Btw. I would recommend `-DCMAKE_C_COMPILER=egcc -DCMAKE_CXX_COMPILER=eg++`. Can you post `CMakeFiles/CMakeError.log` and similar files which show the exact output of the flag detection (check_cxx_compiler_flag)?

Are you sure there is a spelling error in `does no know`? The text in cmake/ElektraCompiling.cmake is different.

Also make sure that you really build from a completely empty build direct

[2016-05-07 19:58] tom-wa commented on #681
thats a typo i made, nexted tmux sessions + clipboards are annoying so i just typed the message instead of copying it.

works now with -DCMAKE_CXX_COMPILER, thanks

[2016-05-07 20:01] markus2330 commented on #704
Currently, you can only open every plugin and query for `infos/metadata` (`kdb mount` is doing so). We would need consistency checks if we add this data to METADATA.ini, too.

Alternatively we could generate a METADATA.ini enriched with more information from the plugins.

Which information exactly do you need to know? Only which metadata is provided by which plugin?

[2016-05-07 20:03] markus2330 commented on #681
Ok, can you create a PR for `doc/COMPILE.md` with the minimal working cmake commandline?

@nd2s thanks for helping out!

[2016-05-07 20:07] tom-wa commented on #704
i need to know which plugin/metadata might depend on other keys for dependency resolving (validation tool)

[2016-05-07 20:13] markus2330 commented on #704
Dependency can be an ambigious term, can you give an example?

I am not aware that we have meta data that needs more than one plugin to work.

[2016-05-07 20:16] tom-wa commented on #704
i meant dependencies like in
[code]
here gps/status' assign/condition depends on powersaving/gps

[2016-05-07 20:25] markus2330 commented on #704
Ok, so you only want to mark that such dependencies might exist in METADATA.ini.

For example:
[code]

But I think such a depencency should be resolved internally in the plugin (using topological sorting), and no external tool using the plugin should be bothered with it.

[2016-05-07 20:30] tom-wa commented on #704
ok, then i'll write a function for it since i'm sure it'll be usefull for other plugins too.
but i'm not sure which library it would add it to because i want to use posix regex as dependency

[2016-05-07 20:37] markus2330 commented on #704
I think its not ideal to make assumptions on the syntax and how a key name is encoded across different plugins. The topological sorting is already quite highlevel. At the moment it only affects `mathcheck` and `conditionals`, doesn't it?

[2016-05-07 20:49] markus2330 commented on #704
Btw. there is not one order of processing. It is possible that the required ordered for different plugins contradict each other. Thus its not useful to have one plugin that does the ordering for all other plugins.

[2016-05-07 20:54] tom-wa commented on #704
hmm, i guess you are right, i thought having each plugin implement it on its own would lead to a ton of redundant code.

[2016-05-08 07:58] markus2330 opened #705 "[FLOSS] Update Sources where Elektra is mentioned"
There are some editable sources like wikipedia which have outdated information about Elektra:
- [ ] https://en.wikipedia.org/wiki/Freedesktop.org
- [ ] https://de.wikipedia.org/wiki/Elektra_%28Software%29
- [ ] https://nl.wikipedia.org/wiki/Configuratiebestand
- [ ] https://fr.wikipedia.org/wiki/Elektra_%28registre_linux%29
- [x] https://gitlab.com/elektra-initiative/libelektra
- [x] https://gitor

[2016-05-08 11:27] mpranj commented on #705
This repositories should be updated, removed, or link to the correct repository:
- [ ] https://gitlab.com/elektra-initiative/libelektra
- [ ] https://gitorious.org/elektra-initiative/libelektra

Editable media:
- [ ] https://www.freedesktop.org/wiki/Software/Elektra/

[2016-05-09 09:21] markus2330 opened #707 "Plugin tests depending on bindings"
Currently, plugin tests look into `BINDINGS`. Bindings, however, might removed from there later (when build dependencies are missing).

So we would need to split the two phases of plugins even further apart using `src/CMakeLists.txt`.

[2016-05-09 09:53] manuelm commented on #631
@sanssecours Any update on this?

[2016-05-09 13:07] sanssecours commented on #631
Sorry for the late response. I thought I already wrote a comment containing extended information about this issue. Let me start by saying that `testpy2_kdb.py` also fails on my machine. So it might be a problem with my specific setup. I installed [SWIG](http://braumeister.org/formula/swig) via Homebrew and currently use the following `cmake` command to generate the build files for Elektra:

[code]

[2016-05-09 13:13] manuelm commented on #631
The bindings don't load any elektra library on runtime. They are just bindings. You can see this by looking at the exact error location, which is `../src/libs/loader/dl.c:82`.

So this is either a issue with your environment, a general elektra issue on OSX or a build system issue on OSX. I suspect the former. ping @markus2330

[2016-05-09 14:34] markus2330 commented on #631
`dlopen(libelektra-resolver.so, 2): image not found` actually looks like that it has nothing to do with lua.

`libelektra-resolver.so` should be a symlink to the resolver you selected with `KDB_DEFAULT_RESOLVER`, maybe your setup/installation is broken? Can you check if the symlinks are correct?

Strange is: `libelektra-resolver.so` is used in every kdb-related test case, why is it only *not* work

[2016-05-09 15:49] markus2330 opened #708 "Review Decision Global Plugins"
Decision how to realize unlock semantics (hooks that are executed even on unsuccessful kdbGet/kdbSet calls)

1. init/fini
1. Introduce new dimension
  -   always (for locking semantics)
  -  success (usual way)
1. init/deinit
1. lock/unlock (too specific?)
1. constr/deconstr (not better?)
1. constructor/deconstructor (too long?)
1. open/close (confusing with other use)
1. pre/post (too generic, un

[2016-05-09 16:49] sanssecours commented on #631
Is there an easy way to check if the local Elektra installation is broken? The command `kdb` seems to work.

Both of the `libelektra-resolver.so` aliases link to a file `libelektra-resolver_fm_hpu_b.so` located in the same directory as the aliases. So it looks like they are correct.

I tried `sudo dtruss ctest -V -R test_kdb.lua`. Here is the output:
[test_kdb.lua - dtruss Output.txt](https://gith

[2016-05-09 18:45] markus2330 commented on #631
Do you use OSX El Capitan? It might be a weird [System Integrity Protection problem ](https://stackoverflow.com/questions/32905322/oserror-dlopenlibsystem-dylib-6-image-not-found).

[2016-05-09 18:55] manuelm commented on #631
It's kind of strange that `kdb` works though.

[2016-05-09 19:35] markus2330 commented on #631
If it has to do with a System Integrity Protection because of the python/lua installation it might make sense.

[2016-05-10 08:18] markus2330 opened #709 "globbing flag"
The name of globbing flags `flags` is too generic (it should be `glob/flags`), is not documented in `doc/METADATA.ini` and should take arguments by name (otherwise every plugin setting flags needs to include fnmatch.h and convert the number to a string).

As a test if it works, please extend the host validation so that it should fail if noninvolved keys are being changed.

E.g. if you set invalid

[2016-05-10 11:19] sanssecours commented on #631
Yes, I use OS X 10.11.4. I disabled SIP temporarily and ran the test again. Still the same problem. Although, after I disabled SIP, I encountered a new test that fails: `testscr_check_kdb_internal_suite`. And now `testscr_check_merge` also does not work anymore 😢.

I went back to 0.8.16, cleaned my build directory and ran `ninja test` again. Both `testscr_check_kdb_internal_suite` and `testscr_che

[2016-05-10 11:27] manuelm commented on #631
I've changed the title and removed myself. I don't have direct access to an OSX machine and lacking in-depth knowledge. Without a machine to poke around I can't tell a thing from the text output.

[2016-05-10 13:06] KurtMi commented on #708
/before/init
    /after/deinit

seem to me a no so intuitive, since all other "hooks" are {before,after}/{once,forall}.
But right now I do not have a appropriate name for those hooks in mind.

[2016-05-10 13:50] markus2330 commented on #708
@KurtMi yes, I am also not very happy with the names, alternatives are:

- init/fini
- lock/unlock (too specific?)
- constr/deconstr (not better?)
- constructor/deconstructor (too long?)
- open/close (confusing with other use)
- pre/post (too generic, unclear how it differs with before/after)
- attach/detach (confusing?)

[2016-05-10 13:52] markus2330 commented on #708
Alternatively we could add a third dimension which describes when a hook should be executed:

- always (for locking semantics)
- success (usual way)

Then we would have, e.g.

`/before/once/always`

[2016-05-10 14:44] markus2330 commented on #631
Did you also look at the other hints of the links? E.g. reinstalling python/lua?

@petermax2 @mpranj Can you reproduce these issues?

[2016-05-10 15:01] Namoshek commented on #708
I don't really think that
    /before/init
    /after/deinit
is confusing. Using `init` and `fini` is even worse, because the information, when exactly the execution takes place, is missing.

Maybe it would be less confusing to use `init/deinit` if we rename `once` to `first/last`. From the current explanation, I cannot really differentiate `init/deinit` from `once`. Is there even a point to diffe

[2016-05-10 15:15] tom-wa commented on #708
using the current placements, would deinit or after be the cleanup placement ? cleanup is a mandatory placement for spec e.g., but deinit sounds kinda odd for the placement
the placements are fine to me. but i'd rather have some more placement-_names_ with strict rules (like init must have the same plugin mounted as deinit, plugins that need cleanup must be mounted after whatever too, etc)

[2016-05-10 15:20] tom-wa commented on #708
the rest also seems fine to me, i think we should split kdbGet into 2 different funktions (on with and one without global plugins) ? the way i'm currently doing it is ugly anyway.

[2016-05-10 15:20] markus2330 commented on #708
Isn't the cleanup position postgetstorage/after/once?

init/fini would be before/after once.

[2016-05-10 15:21] tom-wa commented on #708
i'd say cleanup is mandatory and should have a placement name that clearly states that too ?

[2016-05-10 15:21] markus2330 commented on #708
@mpranj will do it. Duplicating the function should not be necessary, the overhead of these 6 ifs per function should be neglectable.

[2016-05-10 15:22] markus2330 commented on #708
Its kind of a different approach: name the hooks after what they are used for and not where they are. The current schema only encodes where they are (and the semantics in before/after/once/foreach/always/success)

[2016-05-10 15:23] tom-wa commented on #708
i meant, cleanup could be postget/deinit too which makes more sense since it's mandatory

[2016-05-10 15:25] tom-wa commented on #708
i'm fine with both as long as the placements exist, i just thought that it might be easier to use/understand from an endusers point of view

[2016-05-10 16:19] sanssecours commented on #631
Sorry, not really. The Python 2 installation is the one that came with the system. To reinstall it, I would have to reinstall the whole operating system.

I only installed Lua just to test the Lua Elektra plugin. So I do not think that reinstalling makes much sense. However, since it only takes seconds, I executed `brew reinstall lua`. After that I started with a clean build directory, ran the bui

[2016-05-10 16:23] markus2330 commented on #708
Yes, it is easier from endusers point of view *as long as* they use it in exactly the way as we think about it now. But in other cases it would be even more confusing. But if you want you can formulate an alternative proposal. (But it should include all hooks)

Also for all others: Which of the above ways do you like best?

[2016-05-10 16:27] markus2330 commented on #631
I currently do not have another idea. (except time-consuming isolation of the problem: to reduce the dlopen call to a minimal example where it won't work) So it might be best to wait if someone can reproduce the issue, maybe it shines new light on the problem.

[2016-05-10 16:36] tom-wa commented on #708
i haven't really thought that through yet, but internally we could use just before/after and externaly have different names with strict rules tied to it.
a init/deinit would also be translated to a before and a check for a deinit would be force and an error thrown if no deinit is given, a foreach/before translated to multiple befores, etc

[2016-05-10 19:05] mpranj commented on #631
I can confirm the same behaviour on my machine.

Solution: set the library path correctly: e.g.
`LD_LIBRARY_PATH="/Users/mpranj/workspace/libelektra/build/lib" ctest -V -R test_kdb.lua` works fine for me.

`dlopen` on OS X searches `$LD_LIBRARY_PATH, $DYLD_LIBRARY_PATH, current working directory, $DYLD_FALLBACK_LIBRARY_PATH`, I think in that order.

The PR #710 fixes it, however I'm unsure if the

[2016-05-10 19:19] manuelm commented on #631
No, the fix definitely is not clean.

As far as I remember our tests rely on `DT_RPATH` set in `libelektra-kdb.so`. If this isn't available on OSX we should define this in some global build environment place.

[2016-05-10 20:43] markus2330 commented on #631
`RPATH` is set for all core libraries, but maybe `libelektra-core` should suffice: at this place the `dlopen` happens.

Does `image not found` simply mean library not found? If so, any idea why the `RPATH` works for all but the lua and python tests?

[2016-05-10 20:44] mpranj opened #711 "mod yajl: compile issues on FreeBSD"
On FreeBSD 10.3 module yajl does not compile.
I think `testmod_yajl` is missing the `${YAJL_INCLUDE_DIR}` while the plugin itself is compiled with the proper `INCLUDE_DIRECTORIES`.

[code]

[2016-05-10 20:48] markus2330 commented on #631
Just for your information: Elektra also supports systems without `RPATH` (e.g. openwrt with musl as libc) by simply setting `TARGET_PLUGIN_FOLDER` to an empty string.

[2016-05-10 20:53] mpranj commented on #631
It appears that similar things happen on FreeBSD btw.

[code]

Haven't been able to check lua on FreeBSD yet.

[2016-05-10 21:04] markus2330 commented on #631
@mpranj good to know, so FreeBSD seems to be a good hint if it works with MacOSX, too (next to OpenBSD). Do the other `kdb` testcases and the `kdb` command-line tool work?

Can you open issues or append to OpenBSD issues about the test cases that do not work on FreeBSD?

[2016-05-10 21:05] #711 closed

[2016-05-10 21:14] mpranj commented on #631
If you mean these:
[code]
... then yes. The `kdb` tool appears to work (just a quick check with ls).

Otherwise lots of things are failing but I won't be able to check/report all today. But sure I'll report everything when I get to test it properly.

[2016-05-11 20:25] mpranj commented on #651
Fails the same way on FreeBSD 10.3, clang versions:
- (**default**) FreeBSD clang version 3.4.1 (tags/RELEASE_34/dot1-final 208032) 20140512
- clang version 3.7.1 (tags/RELEASE_371/final)

[2016-05-11 20:26] mpranj commented on #654
Yep. FreeBSD 10.3 too.

[2016-05-11 20:34] mpranj opened #714 "FreeBSD: testpy2_kdb.py fails"
Seems very related to #631. `testpy2_kdb.py` is failing because `dlopen` failed.

[code]

[testpy2_kdb.py.txt](https://github.com/ElektraInitiative/libelektra/files/260196/testpy2_kdb.py.txt)

[2016-05-11 20:45] mpranj opened #715 "FreeBSD: lua tests not run"
The lua tests (`test_kdb.lua`, `test_key.lua`, `test_keyset.lua`) are not run on FreeBSD.
The ports ship the lua binaries not as `lua` but as `lua51`, `lua52` ...
We should probably auto-detect available versions and select one.

[code]

[2016-05-12 08:09] markus2330 opened #717 "keyVInit issues"
@mpranj will do an optimization that a `keyNew` does not have multiple allocations, but only one which creates one block that includes struct+name+string.

With the current keyVInit API (which already takes an allocated Key) we would need to process the vaargs twice, which is troublesome for some architectures.

Another solution would be that keyVInit also returns a key and does the allocation its

[2016-05-12 08:40] markus2330 commented on #160
Two important things about the build server:

1. Do not create new empty jobs, but rather duplicate, they have correct  settings (except whats mentioned in number 2.).
2. We should use reference clones (in /home/jenkins/libelektra) or prefer shallow clones for every build-job (currently done only for some, e.g. elektra-clang). Currently the traffic is >300MB on commits because of the many unnecess

[2016-05-12 09:48] mpranj commented on #160
@markus2330 just to make sure: I should just apply the same clone behaviour to all build jobs like it is in `elektra-clang`?

[2016-05-12 10:01] manuelm commented on #717
Implement it and see if it breaks. If it breaks, fix it. There's nothing to ask me for.

[2016-05-12 10:18] mpranj commented on #160
2. shallow clones applied to all build-jobs **except**:
- [ ] elektra-git-buildpackage-jessie
- [ ] elektra-git-buildpackage-wheezy
- [ ] elektra-multiconfig-gcc-stable
- [ ] elektra-multiconfig-gcc-unstable
- [ ] elektra-source-package-test

These jobs check out to some sub-directory. Wasn't sure what you want there so I'll leave them as they are for now.

[2016-05-12 11:00] markus2330 commented on #160
Thank you! Yes they need complete history and branches, shallow clones make no sense but the reference clone repository would be useful.

[2016-05-12 11:07] mpranj opened #718 "glib bindings: linking fails on OS X, FreeBSD"
On both systems gobject-introspection is successfully found
[code]

Fails on both systems very similarly.
[code]

[2016-05-12 11:35] markus2330 commented on #718
Thanks for reporting!

Is gobject-2.0 named differently on FreeBSD?

[2016-05-12 11:43] manuelm commented on #718
This is a glib bindings bug. GI doesn't do any linking. So please change the title. Thanks

[2016-05-12 11:45] manuelm commented on #718
Bug is about *BSD installs every user/ports compiled application to `/usr/local` and CMakefile doesn't add the following macros after the `pkg_check_modules` call:
[code]

[2016-05-12 13:14] manuelm commented on #718
@mpranj Can you please try https://github.com/manuelm/libelektra/commit/e64740c6278c8724e9cf363532c30ae9ac991818 ? thanks

@markus2330 this change will require cmake 2.8.12 or above. But with those visibility flags a dependency will automatically inherit the assigned flags, which is quite neat.

[2016-05-12 13:33] markus2330 commented on #718
If it needs cmake 2.8.12, please add a check similar to src/bindings/jna/CMakeLists.txt (remove_binding if cmake version not fulfilled)

[2016-05-12 13:36] manuelm commented on #718
Sure, but let's test this first. No idea if it works at all. Might as well break the spooky magic behind  the full/static builds.

[2016-05-12 13:46] mpranj commented on #718
@manuelm unfortunately https://github.com/manuelm/libelektra/commit/e64740c6278c8724e9cf363532c30ae9ac991818 doesn't change a thing.

[2016-05-12 13:51] mpranj commented on #718
BUILD_FULL=OFF && BUILD_STATIC=OFF also changes nothing.

[2016-05-12 13:52] manuelm commented on #718
Yeah, I missed adding `GOBJECT_LIBRARY_DIRS`. Too much variables with redundant data.
e.g.
[code]

[2016-05-12 14:01] manuelm commented on #718
Once again with https://github.com/manuelm/libelektra/commit/cb6e0a3fa8e7f4d28a32d560355b11b8eb66bdf9 please

I switched to `_LDFLAGS` only, which includes all linker commands (`-l`, `-L` and others). Not sure if I should do the same with `_CFLAGS` as well.

[2016-05-12 14:08] mpranj commented on #718
@manuelm perfect! compiles now.

[2016-05-12 14:09] manuelm commented on #718
@mpranj thanks. let's see what jenkins says

[2016-05-12 14:52] #718 closed

[2016-05-12 15:10] manuelm commented on #631
My guess is the kdb tests work because they're linked statically, right?
If I disable `BUILD_STATIC` the tests don't work either.

@markus2330 I don't think we can avoid setting LD_LIBRARY_PATH on some platforms. How is TARGET_PLUGIN_FOLDER working? Or more specific how does this solve dynamic library searching?

[2016-05-13 07:49] markus2330 commented on #160
Jenkins was updated to 1.651.2. Also all plugins were updated.

I will keep the issue open for the reference clone repos. We should also have "cron jobs" which update the repos from time to time, ideally using jenkins itself.

[2016-05-13 21:10] mpranj commented on #160
Jenkins stopped building some jobs (since the update apparently). It fails with
`ERROR: Couldn't find any revision to build. Verify the repository and branch configuration for this job.`

[2016-05-14 08:43] markus2330 commented on #160
Thanks for the info. I try to downgrade github request builder from 1.31 to 1.14.

[2016-05-14 11:21] mpranj commented on #160
Now it seems stuck when setting the build status for the Github commit. It does warn that this is deprecated in the config.

[2016-05-15 12:15] markus2330 commented on #160
I also tried to downgrade everything with `*git*`, then there were still errors (strange error related to Mailer Plugin, downgrade of Mailer Plugin did not help). So I updated  everything to recent versions again. The problem seems to be a known issue upstream:

https://github.com/janinko/ghprb/issues/347

I hope they will fix it soon.

Another question: Does someone know how to run multiple jobs

[2016-05-15 12:29] #645 closed

[2016-05-15 12:39] markus2330 commented on #651
Thanks for reporting. The error messages could be better, too.

[2016-05-15 12:47] mpranj commented on #160
The `elektra-test-bindings` job is working fine with parameterized builds (as also described in the upstream ticket). Couldn't we just switch it to parameterized builds? The bug has been reported upstream for a while, I don't see it fixed soon.

[2016-05-15 12:53] markus2330 commented on #654
I removed the check to a specific errno and also add ipv4/ipv6 tests in de91ab37427e17e2597e8d120296dae2fab2555a
Can you rerun it?

[2016-05-15 12:59] mpranj commented on #654
[code]

[2016-05-15 13:13] markus2330 commented on #707
It also does not work if bindings set some variables to be needed for plugins.

[2016-05-15 14:01] sirblackheart opened #720 "Support for xdg icon themes in qt-gui"
So i looked into getting xdg icon theme support into the qt-gui and would like to hear the opinion of the rest of the team in regard of mapping icons that are not straight mappable to the [KDE](https://techbase.kde.org/Projects/Oxygen/namingSpec)/[GNOME](https://developer.gnome.org/icon-naming-spec/)/[XDG](https://specifications.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html) icon t

[2016-05-15 14:22] markus2330 commented on #720
Nicely done comparision! We should discuss it in the next meeting.

Some initial ideas from my side:
Is oxygen a relevant set anymore? I thought kde migrates to breeze.
edit-delete looks more like "aborting an action", especially in Oxygen (maybe use trash can or list-remove?)
Isn't there an import/export icon? Open/Close is something quite different? (Wouldn't open/close rather be "mounting a fil

[2016-05-15 14:27] markus2330 commented on #720
@0003088 @beku @Namoshek @omnidan can you take a look, too?

[2016-05-15 15:26] markus2330 commented on #631
Thanks that is a good idea: @sanssecours can you disable BUILD_STATIC and BUILD_FULL and rerun all (`testkdb`) tests?

If TARGET_PLUGIN_FOLDER is empty the plugins are installed where the libraries are and no `RPATH` or `LD_LIBRARY_PATH` is needed. But it would only helps when the installed Elektra is used (which might be the case for the `python`/`lua` tests).

https://cmake.org/Wiki/CMake_RPATH_

[2016-05-15 15:28] markus2330 commented on #714
Thanks, isn't it a complete duplicate?

Is it also broken when the installed Elektra was built with `TARGET_PLUGIN_FOLDER` as an empty string? And can you check the RPATH `readelf -a lib/libelektra-core.so.0.8.16 | grep RPATH` (see also #631)

[2016-05-15 15:32] markus2330 commented on #654
Thank you. Seems like the getaddrinfo behaves differently in any case (ipv4, ipv6 and unspecified). So it might be a problem of the not set service or because of the inconsistency in ai_socktype and ai_protocol (at least https://en.wikipedia.org/wiki/Getaddrinfo warns about different behaviour there).

[2016-05-15 15:46] manuelm commented on #631
The issue is not about RPATH itself, but about `dlopen` on linux reading DT_RPATH vs. other platforms.

`man dlopen` from glibc:

- The directories /lib and /usr/lib are searched (in that order).

`man dlopen` on OSX:

[2016-05-15 15:47] markus2330 commented on #160
Good idea, we could change all PR jobs to parameterized builds, it actually has only advantages. It allows us to run the jobs manually by specifing a branch, too. And it also can be used for regular build jobs.

Ideally, every job could be executed by github PRs, too.

A disadvantage of elektra-test-bindings' config is that it only does polling and takes quite long until it starts building (up to

[2016-05-15 15:49] mpranj commented on #631
dlopen should work with absolute paths here, or it needs to be in one of the paths mentioned above

[2016-05-15 15:51] manuelm commented on #631
But we don't do absolute paths. So no idea how this information helps

[2016-05-15 15:52] markus2330 commented on #160
Btw. somehow the communication of finished build jobs and github is severely impaired (even for elektra-test-bindings). It now says on nearly every build "Some checks haven’t completed yet".

[2016-05-15 16:01] mpranj commented on #714
on FreeBSD I get:
` 0x000000000000000f (RPATH)              Library rpath: [::::::::::::::::::::::]`

[2016-05-15 16:05] markus2330 commented on #631
Absolute RPATH or absolute pathes to plugins? CMake claims it has support for build-tree RPATH, so it should use an absolute RPATH if required.

Absolute pathes to plugins is what many do and it would be an easy change, but I do not see how it would not help for the in-build test cases.

First it would be interesting what the actual problem is here. Does the installed version really fully work? E.

[2016-05-15 16:06] markus2330 commented on #714
Maybe it is easier to investigate the issue on FreeBSD than on Mac OS X?

[2016-05-15 16:10] manuelm commented on #631
My paste from dlopen manpages clearly states what the problem is about.
The search path of dlopen(libelektra-resolver.so) is different on different platforms. Linux works because dlopen honors DT_RPATH of the libelektra-kdb.so

[2016-05-15 16:17] manuelm commented on #160
And this is a problem because? Testing takes more than 5 minutes anyway.

Why should it? `elektra-test-bindings` gets triggered by the "Trigger phrase" only. No idea what `elektra-ini-mergerequests` is.

The -stable/-unstable are new? I'm not sure triggering multiple jobs per new PR is possible. I would do subjobs.

Btw I've said this a few times already but I think the amount of jobs is getting r

[2016-05-15 16:24] mpranj commented on #631
It seems that setting `LD_LIBRARY_PATH` is what valve is also doing.
https://github.com/ValveSoftware/steam-runtime/blob/master/runtime/run.sh

[2016-05-15 16:27] markus2330 commented on #631
You mean the problem is that they do not write documentation? `@rpath` is not even mentioned there.

I think until we do not know what actually works when installed we should not further speculate.

[2016-05-15 16:29] mpranj commented on #631
@markus2330 disabling BUILD_STATIC and BUILD_FULL doesn't help. lots of testkdb* tests failing.

[2016-05-15 16:45] markus2330 commented on #160
The 5 min is a problem when you want to debug the build server. And I still hope that we get a quick first test sometime, taking about 5 min.

Ahh, ok, I missed the option "Only use trigger phrase for build triggering". The config for the github request builder is really a mess.

Someone talked about github projects where they have multiple jobs running for every PR. (Displayed individually)

What

[2016-05-15 16:48] mpranj commented on #631
About documentation, the mentioned `@rpath` [here](https://developer.apple.com/library/mac/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/RunpathDependentLibraries.html#//apple_ref/doc/uid/TP40008306-SW1).

[2016-05-15 16:55] manuelm commented on #160
You'll have to add two services on github.

Yeah multijob.

[2016-05-15 17:02] manuelm commented on #160
btw, what about https://docs.travis-ci.com/ ? Travis has support for OSX.

I know it won't replace jenkins but might replace the PR/on every commit builds. Jenkins can still do the multiple compiler/etc.. testing.

[2016-05-15 17:12] mpranj commented on #160
Agreed, it would be interesting to use their CPU power/electricity for free as elektra is open source.

[2016-05-15 17:16] sirblackheart commented on #720
@markus2330

That is just me not being up to date on the kde side of things, i updated the table with the corresponding breeze icons.

true, i added user-trash and edit clear as alternatives

Sadly no, but we could stay with document-import document-export icon name. Both breeze and oxygen have those.

I just added it as alternative icon-name choice for document exporting, as it probably is more s

[2016-05-15 17:34] manuelm commented on #631
Just verified my statement by a short example:
- `runtimelib`   ...a library providing some random functions. (like elektra-resolver)
- `lib`   ...a library which loads `runtimelib` at runtime using `dlopen`. It has DT_RPATH set to the directory of `runtimelib`. (like kdb.so of the bindings)
- `runner` ...an executable which loads `lib` at runtime using `dlopen`

See https://gist.github.com/manuel

[2016-05-15 17:41] markus2330 commented on #160
It is likely that the connection between github and jenkins actually is 1:1. In the github service I entered http://build.libelektra.org:8080/github-webhook/ and I did not find a way to create another URL in jenkins. (I only found a way how to specify a override, but this did not create a new URL).

In https://github.com/janinko/ghprb/issues/142 they discuss that it should "just work"? (Without ad

[2016-05-15 17:51] markus2330 commented on #631
I know that RPATH set in a library is not portable (it also did not work for musl). But it seemed to work for Mac OS X (@mpranj also reported that testkdb* tests work fine and @omnidan reported `kdb` works with Mac OS X). Thus I asked to investigate why only the python/lua tests fail.

The portable way to install Elektra is not setting `TARGET_PLUGIN_FOLDER` and for tests we could use (as suggeste

[2016-05-15 18:04] manuelm commented on #631
`testkdb*` and `kdb` have DT_RPATH set them self. Python/lua interpreter has not. That's fundamentally different.

Then please add it. Thanks

[2016-05-15 18:13] markus2330 commented on #720
Wow, qt-gui is hardly recogniceable with the new icons!

[2016-05-15 18:24] markus2330 commented on #631
Yes, you are right for the build system: CMake seems to set RPATH on every executable, but obviously not for python/lua.

When installed, however, it would not be set. So please someone confirm if `kdb` works (with `TARGET_PLUGIN_FOLDER` set).

[2016-05-15 18:32] petermax2 commented on #559
I understand the concept of `checkfile` but I am not sure where to put `checkconf`.

Is this a good location for calling `checkconf`?

    // src/libs/tools/src/backendbuilder.cpp:391
    void BackendBuilder::addPlugin (PluginSpec const & plugin)

While adding each plugin to the backend, every plugin exporting the `exports/checkconf` symbol could verify its own configuration or call the gpg-binary

[2016-05-15 19:10] markus2330 commented on #559
Yeah, I know its a bit tricky because the BackendBuilders are quite nested and helpful documentation is missing. Actually, both of your suggestions are sound and useful. From usability point of view `addPlugin` might be even the better place:

1. ABI stays the same
2. API usage is nearly the same, with possibly one minor exception: If we want to consider backendConfig, then it would be preferable

[2016-05-16 07:22] sanssecours commented on #631
Looks like this does not change that much, except that `ninja test` runs less tests (54 instead of 114). The tests `test_kdb.lua` and `testpy2_kdb.py` still fail. All other tests (seem) to work.

I used the command `otool -l lib/libelektra-resolver.so` — `libelektra-core.so.0.8.16` does not exist on my machine. According to the output:

[code]

`RPATH` is set.

On my machine 5 out of 655 test fail

[2016-05-16 07:29] mpranj commented on #631
On OS X dylibs are created, not .so. Thereis definitely a libelektra-core.0.8.16.dylib or similar.

[2016-05-16 07:46] sanssecours commented on #631
You are right. Looks like `RPATH` is not set for `libelektra-core.0.8.16.dylib`, since `otool -l lib/libelektra-core.0.8.16.dylib | grep RPATH` displays no output.

[2016-05-16 07:56] mpranj commented on #631
Don't grep output is short, or grep lowercase rpath

[2016-05-16 09:50] sanssecours commented on #631
Do you mean “Don't grep output, **that** is short, or grep lowercase rpath”? If so, why not? I also searched for `RPATH` in the output of `otool -l lib/libelektra-core.0.8.16.dylib` via the built-in search of my Terminal application. This also shows no occurrence of `LC_RPATH`.

If I search for `rpath`, then I see one occurrence of `@rpath`:
[code]
As far as I know `@rpath` is only a placeholder f

[2016-05-16 10:30] manuelm commented on #631
Guys, why are you checking this at all?

[2016-05-16 11:09] mpranj commented on #631
@sanssecours sorry, I sent the message quickly from my phone, so I didn't see that it made no sense.

I was referring to `otool -L` which shows the dependencies and only displays `@rpath`. But yes you're right `otool -l` is the right command.

Btw I haven't found a single library in my system which is using RPATH, except elektra.

[code]

As @manuelm states though, these checks might be rather poi

[2016-05-16 11:27] KurtMi opened #721 "mathcheck: variable operations"
There is a bug in the mathcheck plugin, with:
`kdb mount matcheck.dump /test dump mathcheck`

and

[code]

It seems that the mathcheck plugin looks in `user/test/test0/points` and `user/test/test1/points` and not in `user/test/asd/test1/points`. The error is in line 303, but I do not understand your logic completely and you are surely fast in fixing it.

[2016-05-16 12:29] markus2330 commented on #631
I do not think we fully understand all issues above, but I agree that the kind of remote debugging we are doing is not efficient. Somebody should investigate and document what is the best way to support non-glibc systems. Let us discuss in the meeting how to proceed.

[2016-05-16 12:30] markus2330 commented on #721
Thank you for reporting! The title is amusing.

Please create a reproduceable test case (e.g. with shell recorder).

[2016-05-16 12:32] manuelm commented on #631
@markus2330 I fully understand the issue. Set LD_LIBRARY_PATH before tests start and I promise the issue is gone.

All other mentioned issues are red herrings or just wrong.

[2016-05-16 12:43] markus2330 commented on #631
@manuelm I wanted to be nice and said "we". Obviously the LD_LIBRARY_PATH would fix the issues of not finding libraries in the build directory (unless it is reset somewhere, which seems to be the case at least for python/lua GI tests). But if your theory is correct that RPATH must be set in the binary, also the installed version would be broken, which is currently not really confirmed. This should

[2016-05-16 12:48] manuelm commented on #631
My theory isn't just a theory anymore, because I've done the proof.

Once again: On linux the bindings  work because the library implementing the bindings (`kdb.so` for lua/python and `libgelektra-4.0.so` for glib) have `DT_RPATH` set *AND* `dlopen` honors this.

Of course elektra will work after installed into the global system libraries. I absolutely see no reason why this should suddenly stop w

[2016-05-16 12:51] manuelm commented on #631
PS: I know the GI bindings tests require LD_LIBRARY_PATH. That's why I wanted you to add some sort of build system macro which integrates/appends the GI case.

[2016-05-16 13:11] markus2330 commented on #160
First travis build: https://travis-ci.org/ElektraInitiative/libelektra/builds/130425147
I think we need some yaml file so that travis knows what to do.

And I figured out how to do multiple jenkins jobs per PR, a different context for every build-job was needed. In the next meeting we discuss what the "fast" and other build jobs should do.

[2016-05-16 13:12] manuelm commented on #160
I'm working on travis (or checking some things out)

[2016-05-16 13:39] markus2330 commented on #160
Have fun. Travis also added a github service, so I guess that a PR will be built with travis, too.

[2016-05-16 13:40] manuelm commented on #160
I'm already swearing loudly

[2016-05-16 15:02] petermax2 commented on #559
Is there a way to retrieve the exported symbols (provided by the plugin) from `kdb::tools::PluginSpec`?

At the place where `checkfile` is called we are dealing with `kdb::tools::PluginPtr`. In the backend builder (specifically within the method `addPlugins`) we have `PluginSpec`s.

[2016-05-16 15:14] markus2330 commented on #559
No, you have to create a plugin. Please abstract the getSymbol in the pluginDatabase. Both status and lookupInfo already create plugins, it is a one-liner. The pluginDatabase abstraction is useful for both unit tests and to make it easier in future to avoid the many plugin creations. (If you feel like it, you can make that optimization, too.)

[2016-05-16 15:15] petermax2 commented on #559
Alright, I'll try. Thank you for the quick response!

[2016-05-16 15:54] manuelm commented on #160
I'm unable to get the java plugin configure correct. However Java bindings works. On debian unstable. Any ideas? Looking at the cmake module doesn't help much.

[2016-05-16 16:16] markus2330 commented on #720
@Namoshek please open an issue about build-issues with qt-gui.
Export: it is about generating configuration files that are completely independent of the key database. Importing modifies the key database.

[2016-05-16 16:35] sirblackheart commented on #720
Think of other visual impairments like impairment on the clarity of vision. The high contrast icons for this come with strong white outlines so they always are recognizable independent of the background they are drawn on. High contrast is one of the accessibility features most desktops have.

For the rest I think we best show the qt-gui at the meeting so people see in which context the icons appea

[2016-05-16 17:13] Namoshek commented on #720
I don't think it's an issue with Elektra, but more with me not configuring the build correctly... :sweat_smile:

That's what I thought. So the open/save icon doesn't really fit, because in my opinion it suggests that you can (only) load and store the state of the tool.

[2016-05-16 18:56] markus2330 commented on #720
The issue tracker is not only for issues, simply use the tags "questions" and "help wanted". Better to have some issues about  trivialities than time-consuming searches by different people over and over again.

[2016-05-16 19:52] manuelm commented on #160
https://travis-ci.org/manuelm/libelektra/builds/130638376

Debian unstable built within a docker container. But building takes ages.
Any good ideas?

[2016-05-16 20:00] sirblackheart commented on #160
clang is often faster regarding built time, but i think the installation of the dependencies is what takes a large amount of time

[2016-05-16 20:07] sirblackheart commented on #160
Isn't there a more minimal debian docker image then the one used? It seems a lot of packages get installed that should not be needed.

[2016-05-16 20:21] manuelm commented on #160
@sirblackheart What makes you think that? https://github.com/manuelm/libelektra/blob/master/scripts/docker/Dockerfile.debian_unstable#L6

[2016-05-16 20:35] sirblackheart commented on #160
@manuelm probably the dist-upgrade. a lot of packages get updated that are desktop specific like wayland

[2016-05-16 20:39] manuelm commented on #160
No. dist upgrade is short. maybe a minute. about 50% of the time is taken by installing the build deps.

[2016-05-16 20:51] manuelm commented on #160
I'm pushing the build image to hub.docker.com right now. Hope that will speed things up. But the image has 1.9gb

[2016-05-17 08:20] manuelm commented on #160
Not sure if we can do much better

[2016-05-17 08:38] sirblackheart commented on #160
like i said, clang maybe gets us 2-3 mins. at least it does for the aseprite project
https://travis-ci.org/aseprite/aseprite

[2016-05-17 09:08] Namoshek opened #724 "Ubuntu: testscr_check_external fails"
When running all tests, testscr_check_external fails on my Ubuntu VM (v15.04). It gives the error "not defined reference to ..." for the pkgconfig project. I tried to build the failing external/pkgconfig project alone, it failed also, but I'm not sure why. Somewhere in an old issue I read that -DBUILD_FULL can prevent some test cases from compiling, but changing this setting did not change anythin

[2016-05-17 10:47] markus2330 commented on #724
Does it correctly link against libelektra-core of your installed Elektra? If so, maybe the order of `-l` flags need to be changed.

[2016-05-17 10:47] markus2330 commented on #724
Thanks for reporting!

[2016-05-17 10:48] markus2330 commented on #160
It would be useful to have both compilers anyway.

[2016-05-17 11:21] Namoshek commented on #724
For some reason it does also not link against the installed library. I tried libelektra-core, libelektra-full and core + kdb together like given in the pkgconfig.

[2016-05-17 11:23] markus2330 commented on #724
Please elaborate: What does it link against? What were the results of your trials?

[2016-05-17 11:58] Namoshek commented on #724
I think I got your first question wrong. So here is some more info:

[code]

When compiling and linking by hand in two steps, the same error arises. All paths seem to be totally fine.

[2016-05-17 12:02] markus2330 commented on #724
Can you give the output when compiling them by hand (with linker flags)? Did you try to swap -lelektra-kdb and -lelektra-core?

[2016-05-17 12:07] petermax2 commented on #559
I added an example `checkconf` to the "template" plugin (see 9542f02adf1db5d86be4a08b76c095a4c2ac9449). Which parts of the documentation should mention `checkconf`? I will update them in the evening.

[2016-05-17 12:23] markus2330 commented on #559
Thank you!

Can you write "this function is optional" to other optional functions, too? (open, close, error, set) I think "if the export symbol "exports/checkconf" is provided" is not needed there, because the symbol is already provided in the template. Its easer to give feedback on a PR, though.

Following parts should mention it:

- doc/tutorials/plugins.md
- plugin doc (I think kdbOpen should a

[2016-05-17 15:20] manuelm commented on #160
Just had an idea while preparing work stuff: What if we extract the paths of the commit and build bindings/plugins only if they are affected? e.g.
- change in cmake/* triggers everything (plugins + bindings)
- change in src/bindings/foo triggers binding foo
- change in src/plugins/foo triggers plugin foo
- change in everything doesn't compile any plugins + bindings

We still have the daily/twice a

[2016-05-17 16:25] markus2330 opened #726 "zsh auto completion"
- [ ] slash at end also for leaves
- [ ] needs a tab for every level, even if there is only one possibility for the whole path
- [ ] not every character properly escaped or escaped slashes do not work
- [ ] where to install?
- [ ] no support for cascading keys (starting with `/`)
- [ ] if pressed with empty string: `_values:compvalues:10: not enough arguments`

[2016-05-17 16:33] markus2330 commented on #634
Try with openbsd/freebsd

[2016-05-17 16:48] markus2330 opened #727 "small storage plugins"
different storage plugins

[code]

lesskey(1)

[2016-05-17 16:56] markus2330 opened #728 "multi-file resolver"
- [x] multi-file resolver (every tree direct below the mountpoint gets its own file)
- [x] curl resolver
- [x] block resolver (begin+end marker)
- [x] git resolver
- multi-file resolver (with redundant config files as "backup")

[2016-05-17 17:06] markus2330 opened #729 "keyRel"
- isbelow with ns, w/o ns
- isdirect -||-
- is_level_X_below (per return value?)
- sibling

[code]

[2016-05-17 17:12] markus2330 commented on #160
@manuelm good idea, @tom-wa would write such a script, can you create a new issue for this?

[2016-05-17 17:21] manuelm opened #730 "Speed up PR builds by only building/testing changed module"
As explained here https://github.com/ElektraInitiative/libelektra/issues/160#issuecomment-219752143 we need a script which inspects the changed paths and dynamically builds the BINDINGS + PLUGINS variable.

To better integrate the script into the different build environments the script shouldn't start the configuration phase itself. Instead it should just output the configuration defines.

e.g. `s

[2016-05-17 17:49] manuelm commented on #730
Scratch the independent script. Please make it a bash function. We can just source the file and call the function.

[2016-05-17 19:51] 0003088 commented on #720
Looks good, it sure will integrate nicely into the breeze theme. If there's no stock icon that fits the purpose 100%, it's still possible to create a custom one  (like the current new array, mount/unmount backend icons)

[2016-05-17 19:52] markus2330 commented on #720
@0003088 Are you interested in creating icons?

[2016-05-17 20:00] 0003088 commented on #720
Maybe, if there is an agreement on the style and place of the new icons and a definite answer to the question which icons need to be created.

[2016-05-18 08:23] 0003088 commented on #465
Maybe I overlooked it but is there a way to get the already included plugins as a list?

[2016-05-18 09:13] markus2330 commented on #465
The `begin()`/`end()` interface allows you to iterate over the already added plugins. So you simply can use a `for (auto const & elem : backendbuilder) {}`

[2016-05-18 10:30] markus2330 opened #731 "crypto memleak"
In 8df617494ed5cde4fc2a2c5f4492ad2f1fd33f73 I marked the crypto test as MEMLEAK because of:
[code]

Please remove the tag (revert the commit) and fix the memleak with the next PR.

[2016-05-18 10:31] markus2330 commented on #731
(You do not (should not) look at it now, it is only a reminder for the next PR)

[2016-05-18 10:34] sanssecours opened #732 "cache variable different in ADDTESTING_PHASE"
# Problem Description

Since commit c85fbc88 generating the build files on OS X does not work anymore. Looks like CMake wants to add the `dbus` plugin, although I did not install `dbus` on my machine.

## Setup

- OS X 10.11.5
- CMake 3.5.2

## Steps To Reproduce

1. Change directory to the root directory of the cloned repository
2. Execute the following commands:

[code]

## Result

CMake fails p

[2016-05-18 12:16] markus2330 commented on #732
Thanks for reporting! I could reproduce it, its a problem of later cmake versions (e.g. 3.5.2). I broke it, so I will fix it.

[2016-05-18 12:47] markus2330 commented on #732
seems like ADDED_DIRECTORIES "suddenly" contains dbus in the 3rd phase again

[2016-05-18 14:43] markus2330 commented on #731
A *very* minor issue:

[code]

Searching for gcrypt is not really needed, if not requested to add this plugin.

[2016-05-18 14:52] #732 closed

[2016-05-18 17:23] Namoshek commented on #724
Ok, I just got it working when compiling by hand with the most basic commands possible. I also removed a link to `kdb.h` in `/usr/include` which I might have created weeks ago for some reason I do not remember.

[code]

I also found out that pkg-config is not printing the configuration as expected:

[code]

It should also add `-I/usr/local/include/elektra` to the output I guess, because the CFlags

[2016-05-18 18:30] Namoshek commented on #724
Fixed by changing

[code]

in `examples/external/pkgconfig/Makefile` to

[code]

[2016-05-18 18:36] markus2330 opened #734 "XDG variables"
Currently, XDG basically only has support for what is the `user` namespace in Elektra. (The specification works on files, the current implementation with per-key override of `system` already took quite some interpretation of [the standard](https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html), e.g. because it does not specify what "importance" means.)

For the other namespaces

[2016-05-18 18:45] markus2330 commented on #691
Please update docu in `doc/TESTING.md` see 007169b6a6bf1f16e2c470446bc9946444dc28d6

[2016-05-18 18:48] markus2330 commented on #724
You are right, it should add `-I`. On my system, however, this happens already:
[code]
I changed nevertheless as you said in 00f182e20fed4c5781ee183cbb5d1c7b8341f0da

In `doc/TESTING.md` is some help how to avoid sudo: 007169b6a6bf1f16e2c470446bc9946444dc28d6

[2016-05-18 18:56] #724 closed

[2016-05-18 22:07] raetiacorvus opened #735 "qt-gui reset to default colors is not saved"
If previously custom colors in the gui have been set, clicking on reset to default only resets them temporarily. Synchronizing or restarting the app sets them back to the previously saved colors.

[2016-05-19 06:06] petermax2 commented on #731
I had a quick look at the memleak. It is most probably caused by libgcrypt itself.

I agree with the CMake check. I will adapt the `CMakeList.txt`.

[2016-05-19 06:47] markus2330 commented on #731
It does not need to be fixed for the next milestone. Yes, likely its only about valgrind suppressions.

[2016-05-19 07:58] petermax2 commented on #731
Note (for myself): the memory of the configuration KeySets is lost at

    static void test_config_errors ()

by calling `newWorkingConfiguration()` without saving the pointer.

FIX by calling `ksDel()`...

[2016-05-19 08:46] markus2330 commented on #664
remove all output when build with `ELEKTRA_DEBUG`

[2016-05-19 11:23] markus2330 commented on #160
@mpranj: Reminder: add Mac OS X builds to travis and add mingw builds to PR. (*BSD seems to be more effort)

[2016-05-19 11:27] sirblackheart commented on #160
@markus2330 now i understand @manuelm  docker approach, travis will not support ubuntu 16.04 till next year so docker is needed to get all dependencies that ubuntu 14.04 does not have = swig3.0 libsystemd-devel.

[2016-05-19 12:04] manuelm commented on #160
I'm sorry I couldn't attend the meeting today. At work we're still preparing a big software rollout today, so I can't leave the office. But within a short delay I can answer e-mails.

I've started to add OS X builds for travis 2 days ago: https://github.com/manuelm/libelektra/blob/e41ac43a18e5e9f9640a4042a313cc43f2704f65/.travis.yml
Build is here: https://travis-ci.org/manuelm/libelektra/builds/13

[2016-05-19 12:17] markus2330 commented on #160
@manuelm Great, you got further then we thought. Mac OS X for PRs and per commit would be really great. A lot of people are using Mac OS X now and I do not want to break the build for them again and again. In the meeting today @mpranj said he would pick up your work. Do you want to create a PR with the travis file?

[2016-05-19 12:22] manuelm commented on #160
No, as the travis file still has to be modified afterwards. Otherwise it will build OS X only. I would rather prefer if @mpranj takes up my travis file and fix the remaining OSX related issues. I'll then take his travis file, convert it into a matrix build and integrate the linux/docker builds + #730 (if available by then)

[2016-05-19 14:12] markus2330 opened #736 "linenumbers for validation"
Currently, when validation fails you know which key is the problematic one. This is enough for most use-cases (e.g. when working with tools such as kdb), but not ideal when directly working with configuration files.

In a7544a5fe6601302d9c304e6e31be8d38915b490 I propose that storage plugins can add the line numbers where they found each key. This meta data should be added to validation errors (if

[2016-05-19 14:47] markus2330 commented on #634
Happened again on debian unstable http://community.markus-raab.org:8080/job/elektra-multiconfig-gcc-unstable/lastFailedBuild/build_type=Debug,gcc_version=5,plugins=ALL/console

But should be irrelevant when you rewrite it with topological sort anyway.

[2016-05-19 15:33] markus2330 commented on #631
It seems like the binding tests are the only place where the LD_LIBRARY_PATH is needed, so I added it just there.

@mpranj Hopefully we soon get a travis that can confirm if it works?

[2016-05-19 19:25] tom-wa commented on #736
i like that idea.
but we could also add a function to storage plugins providing/returning additional informations for a key and export it. let's assume i'd have no way of passing a line number from the parser to the storage plugin, the storage plugin would still have other relevant informations. bad example: the ini plugin could still tell which section a key would belong to, what position within

[2016-05-19 20:26] Namoshek opened #737 "'undefined reference to pthread' when compiling"
For some reason I get the error that there is an undefined reference to the pthread library, but it appeared in an area (type plugin) that I did not touch, nor did I change anything concerning my build configuration since yesterday. My local repository is up to date with the origin. Any ideas?

[code]

[2016-05-19 23:18] sirblackheart commented on #737
I had the same error while setting up elektra in a fresh arch systemd-nspawn (something similar to docker). strange enough i could not reproduce it outside of it so i thought the virtual environment was at fault.

[2016-05-20 05:49] markus2330 commented on #737
Thanks for reporting! Please post the full cmake commandline. Does CMakeFiles/CMakeOutput.log contain `Thread model: posix`?

Actually, add_gtest in cmake/Modules/LibAddTest.cmake should make sure that ${CMAKE_THREAD_LIBS_INIT} is linked against this unit tests.

Please also use `make VERBOSE=1` so that we can see the full linker invocation.

[2016-05-20 06:05] markus2330 commented on #736
I also thought about having a search for the line after-the-fact. But I think this would lead to poor results. When the parser does not support it, I am afraid you simply cannot get the feature in a way so that is reliable and useful. (You easily could get confused e.g. by multi-line comments)

For quite some plugins, however, the line numbers could be added easily.

Another question is if we use

[2016-05-20 06:42] markus2330 commented on #736
Btw. as global validation plugin you even lose the information in which file an option was (and obviously also won't know which storage plugin was involved). A similar issue would also happen with a multi-file plugin resolver.

So we should even add the file names during parsing (next to line information). The file name only takes a pointer for every key, so it should not matter much. The line-num

[2016-05-20 07:20] markus2330 opened #738 "mingw64 build"
@waht @sirblackheart the http://community.markus-raab.org:8080/job/elektra-gcc-configure-mingw-w64/ build job now contains an archive that contains an installed Elektra. Such zips are kept for the latest 3 builds. The last one always is: http://community.markus-raab.org:8080/job/elektra-gcc-configure-mingw-w64/lastSuccessfulBuild/artifact/build/elektra.zip

Please check if the content of the zip w

[2016-05-20 07:57] Namoshek commented on #737
Sorry, github doesn't allow more than 65k signs per comment and the full log with `VERBOSE=1` would be about 500k. So I'll give you the full log without VERBOSE and only the important part with VERBOSE. I'll also ommit the documentation log.

The CMakeFiles/CMakeOutput.log does contain `Thread model: posix`, but according to ubuntu, the file has not been changed since May 9th.

Log with VERBOSE:

[2016-05-20 08:05] 0003088 commented on #735
the guisettings.cpp looks a little different from I remember it. Could you elaborate on fallback and legacy profiles in getKDB()?

[2016-05-20 08:55] markus2330 commented on #737
Ohh, I was not clear then: the failing linker invocation would have been enough, no need for full logs here.

So
[code]

seems to be the relevant part. Can you try to execute it with `-pthread` intead of `-lpthread` (which seems like the most probable cause) and, if it does not help, shuffle the order of the libraries a bit around. Linking to libgtest twice is also a bit weird. (try to remove/shuf

[2016-05-20 08:58] markus2330 commented on #735
Seems like I implemented reset() wrongly, but that seems to be unrelated to profiles. The needed change is trivial.

Please reopen if it is not fixed properly.

[2016-05-20 09:16] markus2330 commented on #735
The fix in 8a5eb45 is not ideal: It writes the conf to the user-namespace even if the user never changed anything (only pressed "reset") and it does not honor system settings (but only the build-in settings we provide).

So an alterative solution would be to remove the user-keys. Obviously this might remove some legacy conf, that the user actually did not want to remove. What do you think?

[2016-05-20 10:03] Namoshek commented on #737
Executing the command with `-pthread` instead of `-lpthread` works like a charm, the linked application is created in the /bin directory and there is no output at all.

Shifting the `-lpthread` behind the gtest libs [and removing the lib that is in the list twice, although it also works with it being there twice], does also work:

[code]

[2016-05-20 10:37] petermax2 commented on #653
It also happens on Fedora.

	MATHCHECK	   TESTS
	==================

	src/plugins/mathcheck/testmod_mathcheck.c:73: error in main: error
	src/plugins/mathcheck/testmod_mathcheck.c:77: error in main: error
	src/plugins/mathcheck/testmod_mathcheck.c:81: error in main: error
	src/plugins/mathcheck/testmod_mathcheck.c:84: error in main: error
	src/plugins/mathcheck/testmod_mathcheck.c:87: error in mai

[2016-05-20 10:43] markus2330 commented on #737
About the -pthread: your /usr/share/cmake-*/Modules/FindThreads.cmake seems to not correctly detect threads on your system, it might be a distribution bug.

But thus you already provided alternative solutions, I moved the thread library after gtest. It sitll works on my system, so I hope it also does not break somewhere else.

I also fixed the duplicated gtest linkage.

Thanks for reporting! Pleas

[2016-05-20 10:44] markus2330 commented on #653
Thanks for reporting!

[2016-05-20 10:45] sirblackheart commented on #738
@markus2330 i gave it a try. As prelude my setup is [msys2](https://sourceforge.net/projects/msys2/) with mingw64 and mintty. In addition I also tested in the windows command line.

I was not able to use kdb shared. First i was missing libdl.dll. I gave both the binary [package ](https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-dlfcn)from msys2 mingw64 package as well as a self comp

[2016-05-20 11:01] markus2330 commented on #738
Thank you for testing!

libdl.dll is part of the build directory (./build/src/libs/loader/dlfcn-win32/bin/libdl.dll) I can copy it into the zip if you want.  Or should we disable the shared build and lets call it unsupported for now on mingw?

Yes, the symlink does not easily work on w32, we will have to copy it.
Did you set `PATH` to where the libraries are? Which dependencies were missing?

Yes,

[2016-05-20 11:06] Namoshek commented on #737
Did not change the issue for me, maybe because the ordering of the includes is still not correct:

[code]

[2016-05-20 11:16] markus2330 commented on #737
Ok, I see. The linking of gtest against gtest_main causes it to be last. I changed that. lpthread should now be last (except of dl):
[code]

Please reopen if it still does not work for you.

[2016-05-20 11:16] #737 closed

[2016-05-20 12:41] 0003088 commented on #735
My original solution, afair, was that the class would return the standard colours (they do honour system settings since they are derived from the current system colours?) and only save some config if the user made any changes. What's wrong with that approach?

[2016-05-20 13:11] markus2330 commented on #735
What you also should consider is if an admin sets:
[code]

and someone presses reset, the qui should still not set the color, even though its not equal to the built-in color.

Another issue is that setKDB might remove unrelated keys (dummySet might contain keys outside of m_base), we should cut them at m_base and append them.

[2016-05-20 16:17] sirblackheart commented on #738
I did copy everything into the same folder. As far as i can remember `libstdc++-6.dll` and `libgcc_s_sjlj-1.dll` where the ones missing.

[CON ](http://superuser.com/questions/241272/windows-how-to-redirect-file-parameter-to-stdout-windows-equivalent-of-dev-s)looks promising.

kdb-full mount segfault regardless of file and  plugin string.
kdb-static behaves the same but prints the following:

[cod

[2016-05-20 17:30] markus2330 commented on #738
Ok, I'll try to rebuild with sync plugin enabled. (I am not sure if it will work)

As workaround you can set `/sw/elektra/kdb/#0/current/plugins` to empty string.

[2016-05-20 17:34] markus2330 commented on #738
Ok, I tried to use CON in 5e868657359185a23aa40067c20f6cba8fd1800d (export might work now), but there seems to be no equivalent for /dev/stdin (so import won't work).

[2016-05-20 17:39] markus2330 commented on #738
Ok, so no sync plugin for mingw. Simply use workaround as suggested.

[2016-05-20 18:53] sirblackheart commented on #738
Ok after

and creating `C:/ProgramData/home/jenkins/workspace/workspace/elektra-gcc-configure-mingw-w64/system/elektra.ecf` mounting works. Sys mounts are stored in `C:/ProgramData/home/jenkins/workspace/workspace/elektra-gcc-configure-mingw-w64/system/` but user mount are stored correctly in the user folder `C:/User/Username/storagefile`

CON works for output windows command line but does not all

[2016-05-20 22:06] markus2330 commented on #738
What should the default place for the system configuration be? (User conf is done by environment variable).

Ok, so providing some option to write to a file is then an leftover (not related to mingw). Additionally, we also could write to a temporary file and output it afterwards. It might also be useful for Linux, /dev is not always mounted.

Thank you for all the investigations, I think its now q

[2016-05-21 05:39] 0003088 commented on #465
For testing purposes: can you name a plugin that pulls in recommended plugins if added to a backend?

[2016-05-21 06:15] markus2330 commented on #465
augeas, hosts, fstab (see infos/recommends). Note that recommendations are not automatically resolved when plugins are added, you need to call resolveNeeds(true).

Btw. at the command-line it is now also possible to enter provider names and a providing plugin is automatically searched for: e.g. you enter json, but you get yajl (a plugin that provides json). Is it possible to provide text input tha

[2016-05-21 10:38] sirblackheart commented on #682
Probably we should use [zanata](https://translate.zanata.org/) once it [supports](https://zanata.atlassian.net/browse/ZNTA-689) ts files.

[2016-05-21 10:45] mpranj commented on #160
mingw64 builds on PR added, should work. Sorry for the delay. I'll look into travis today!

[2016-05-21 11:12] markus2330 commented on #682
Do you think it could attract currently uninvolved people? Then lets go for it ;)

Otherwise, there are many offline tools for translation tasks.

[2016-05-21 11:34] sirblackheart commented on #682
I do not think that it will get more developers directly involved with elektra, but i do think that the barrier of offline translation tools will keep possible translators away. Here comes the question if we assume that a possible translator of the project would do more then translate and get involved in other ways with the project and if we want to keep the offline tool barrier for that reason. O

[2016-05-21 15:27] sirblackheart commented on #738
I think we should user `%ALLUSERSPROFILE%/kdb/` for system configuration and  for user mounts and configuration we should probably use `%LOCALAPPDATA%/kdb/` and use `%USERPROFILE%` only as fallback.

I will give it a try.

[2016-05-21 16:30] sirblackheart commented on #738
As far as i can tell it is not possible to link against mingw64 compiled libraries from a visual studio project.

[2016-05-21 19:53] markus2330 commented on #682
I mean involvement in any way, such as translating it or also using it. If it lowers the barrier, it would be good to have it!

[2016-05-21 20:05] markus2330 commented on #738
ALLUSERSPROFILE is already honored, but it seems to be not set on your system?

USERPROFILE seems to be consistent with ALLUSERSPROFILE, is there something like ALLLOCALAPPDATA?

[2016-05-21 21:02] mpranj commented on #631
@markus2330 no it does not work. (neither on travis nor on my machine)

[2016-05-21 21:10] markus2330 commented on #631
@mpranj thanks for testing. Do you have the travis file ready to test it again without bothering someone? Both test cases still failing? Did I forget LD_LIBRARY_PATH somewhere or is the approach simply not working?

[2016-05-21 21:33] mpranj commented on #631
@markus2330 yes I am currently testing on travis, but it has mostly the same behaviour as on my machine. It seems like da243f9e25d8fa14f8286c48b4338a73c1e7242d made no difference.

[2016-05-21 21:38] #715 closed

[2016-05-21 21:38] mpranj commented on #631
You can see it here: https://travis-ci.org/mpranj/libelektra
And btw it seems like @manuelm was pretty much done with travis+OS X. The tests are failing but travis is actually almost set up completely I guess.

[2016-05-21 21:50] markus2330 commented on #631
Yes, he said that. Mainly the matrix setup to build Mac OS X and others with one travis file was missing.

[2016-05-21 21:53] markus2330 opened #741 "gtest invalid vaargs"
## Current behavior

As suggested I implemented a run-time check if wrong arguments are passed to keyNew.
One place that passes invalid arguments is src/bindings/glib/tests/testglib_key.c:

[code]

## Expected behavior

Get a nice exception/error when passing invalid flags (if possible).

[2016-05-21 21:58] markus2330 commented on #664
@tom-wa @manuelm
Can someone recommend a good C assert/logging library? It should be really lightweight and have BSD/public domain licence.

[2016-05-22 11:58] raetiacorvus opened #743 "Proposal: Enable merge squashing for pull requests"
As trough the workflow of the pull requests we often add small commits with only marginal changes. It would be nice if such pull requests would be [squash merged ](https://help.github.com/articles/about-pull-request-merge-squashing/#) to keep the upstream repo commit history cleaner.

[2016-05-22 13:50] markus2330 commented on #743
I agree that we should care about rebasing, but I am sceptical to make such a reduction of information as default, especially not when a PR adds a new non-trivial feature.

Here are some more thoughts about that: https://mjg59.dreamwidth.org/42759.html

But I can enable the feature if we use it carefully: there are also obvious reasons when to use it (e.g. squash code change and reformatting).

[2016-05-22 16:37] sirblackheart commented on #738
No it is correctly set:
[code]
 i wonder why kdb-full is using this long path:
[code]

[2016-05-22 17:00] markus2330 commented on #738
I see, because it is an relative path the KDB_DB_SYSTEM gets appended after ALLUSERSPROFILE.

That KDB_DB_SYSTEM is such a long path comes from the jenkins build, I changed it now (see e5561871b191dad4692993bac000388caa5520ec), jenkins build is starting soon.With the change we would have:

C:\ProgramData\spec\configfile   for relative "configfile" in spec
C:\ProgramData\kdb\configfile   for relati

[2016-05-22 17:04] markus2330 opened #745 "Fix error on empty LUABIN_VERSION_STRING"
As @sirblackheart reported in #744 cmake fails when lua is not installed with:

[code]

Affected are http://community.markus-raab.org:8080/job/elektra-gcc-configure-debian-wheezy/lastFailedBuild/console http://community.markus-raab.org:8080/job/elektra-gcc47-all/lastFailedBuild/console http://community.markus-raab.org:8080/job/elektra-git-buildpackage-wheezy/lastFailedBuild/console http://communit

[2016-05-22 18:09] sirblackheart commented on #738
Ok i am now also able to build on my system but i had to change
`-DKDB_DB_SYSTEM=kdb` to `-DKDB_DB_SYSTEM=/kdb`.
Spec seems still to have a path problem and so does dir:
[code]

[2016-05-22 18:42] markus2330 commented on #738
Good that you can build it now!

Can you reproduce the problem also outside of msys64? dir should be current working directory + configfile. (KDB_DB_DIR is not implemented)

for spec: is not using ALLUSERSPROFILE (would be C:/Program Files (x86)/Elektra/spec/default.ecf then) also an option?

Maybe its the easiest if you create a PR for wresolver with the behaviour you expect?
src/plugins/resolver

[2016-05-24 09:44] markus2330 opened #747 "Intercept open"
Using `/preload/open/<filename> = <other filename>` one should be able to specifiy which configuration files are used instead of other files in the intercepted |open| call.

For example:
[code]

would intercept open syscalls to `~/.vimrc` and return a file descriptor to ~/.vimrc-other instead.

Together with contextual-lookups this is very useful, e.g.:

[code]

Another useful feature shown above

[2016-05-24 12:19] mpranj commented on #160
Is there a downside of enabling build jobs to be triggered with a phrase in a PR (with the Github PR builder)?

I'd like to configure the jobs from #745 so I can test whether I fixed it, but I can apply it to most/(all) build jobs.

[2016-05-24 17:16] markus2330 commented on #160
I think its a good idea if we can configure every job to be triggered with a phrase. I think there is a small downside (at least for elektra-test-bindings): you have to enter for which branch you want to build and cannot simply press "build job now". Would be great if you find a solution for that.

And you are right about that we should rather reduce the automatic jobs.

[2016-05-25 10:21] mpranj commented on #160
There's actually a very simple solution. We're using the (env)variable `sha1` to build PRs. Parameterized builds prompt you for the value, whether a default value is set or not.

Solution: set the env-variable `sha1` to `master` (in the jenkins config itself) and disable parameterized builds. If there's no objection to setting the variable, this would solve exactly what you mentioned above @markus

[2016-05-25 11:46] markus2330 commented on #160
Yes, this is a very good solution, I like it. It would also allow us to build a release branch with a single switch (if we need one in the future). Until then "master" is always the correct choice if not executed from within a PR.

I think it would also solve the problem of the filtered environment variable, we had earlier.

Then we can also think about reducing the build-jobs (no duplication for

[2016-05-25 11:49] mpranj commented on #160
I'm almost done applying this to all jobs (but the server *just* got really slow).
Didn't apply to jobs which build wildcards ** (doc and some others, but very few)

[2016-05-25 11:58] markus2330 commented on #160
You can always stop build jobs when you want to work on it if you restart them later (except in release time). Usually, jenkins itself is the reason for slowdown of the machine. At the moment a rsync from a backup might be the problem, but it is urgent.

[2016-05-25 12:08] mpranj commented on #160
Yeah no problem at all, it should be done but I'll make some last checks.

The news @ElektraInitiative/elektradevelopers:
- as mentioned almost _everything_ can be build now from PRs and/or hitting only the build button
- the trigger phrases are always the job name without the `elektra-` prefix. (e.g. elektra-clang: jenkins build clang please) I did **not** change `jenkins build please` and other

[2016-05-25 14:21] #745 closed

[2016-05-25 14:22] markus2330 commented on #160
Thank you, well done! Please update doc/GIT.md so that everyone knows which phrases are working now.

[2016-05-25 14:31] mpranj opened #749 "Jenkins tasks"
note to myself
- [ ] we need documentation of all available (and working) phrases in doc/GIT.md
- [ ] change the (package)build-scripts to use sha1 instead of hard-coded master.

[2016-05-27 19:29] petermax2 commented on #475
requires #559 (coming with PR #733 ) but not in release 0.8.17 as discussed with @markus2330

[2016-05-28 12:36] markus2330 opened #752 "github backup"
Did someone already try https://github.com/joeyh/github-backup?

[2016-05-28 14:45] mpranj opened #754 "make install fails with CMAKE_INSTALL_PREFIX"
Using `-DCMAKE_INSTALL_PREFIX` make install fails because it wants to write to system directories.

[code]

Is this intended? I'd like to use it without root permissions.

[2016-05-28 15:56] mpranj commented on #652
I think this should be already fixed as of d18fe57bb55aa26ca2e1451610b9b39da86017de

[2016-05-28 16:10] sirblackheart commented on #754
@mpranj can you give this fix a try?

[2016-05-28 16:17] mpranj commented on #754
@sirblackheart yes that fixes it (and the path seems to be correct)

[2016-05-28 16:22] sirblackheart commented on #754
the question is if we should expose this somehow, as someone might want to install them into `~/.config/`

[2016-05-28 17:02] mpranj commented on #754
Wait a sec I might have replied too quickly. With this solution, if you do not set CMAKE_INSTALL_PREFIX it gets installed to /usr/local (default path).

[code]

This is the way that the prefix behaves. https://cmake.org/cmake/help/v3.0/variable/CMAKE_INSTALL_PREFIX.html

I'm not sure the config has any effect there.

[2016-05-28 17:07] sirblackheart commented on #754
ups you are right. i fixed it again. but with this branch you should now get an option to install the scripts to your home folder. Also the paths are now exposed so you can overwrite them.

[2016-05-28 18:57] markus2330 commented on #754
Whats wrong with simply disabling INSTALL_SYSTEM_FILES? Its purpose is to allow Elektra installation into home-directories.

Do you really think someone wants to install system files using cmake into the home directory? We could rather add a "kdb install-bash-completion" script that installs completion for the current user.

[2016-05-28 19:05] markus2330 commented on #652
Can someone recheck on OpenBSD? A build job would be great ;)

[2016-05-28 19:18] markus2330 commented on #717
I hoped we could avoid a break+fix cycle. You investigated some time in keyVInit and I hoped you have some solution which will work for your bindings but allow to pass externally allocated memory.

[2016-05-28 19:19] markus2330 commented on #741
Do you need more info here?

[2016-05-28 19:19] petermax2 commented on #652
Confirmed! 7cad757d7c63419128135c6a85c92377a1331360 passes!

	# bin/testmod_ini
	INI         TESTS
	==================

	test_ini RESULTS: 185 test(s) done. 0 error(s).

[2016-05-28 19:21] #652 closed

[2016-05-28 19:27] markus2330 commented on #287
A trap for cleanup after signals would be great, too.

[2016-05-28 19:27] #523 closed

[2016-05-28 19:28] #575 closed

[2016-05-28 19:29] #646 closed

[2016-05-28 19:29] markus2330 commented on #651
Will be solved together with other improvements in conditionals.

[2016-05-28 19:30] markus2330 commented on #653
Will be solved later with other improvements in mathcheck.

[2016-05-28 19:31] markus2330 commented on #688
PR already partly fixes it (internal conversion of errors to warnings)

[2016-05-28 19:35] markus2330 commented on #702
change priority of issue

[2016-05-28 19:36] markus2330 commented on #721
@KurtMi Please add shell recorder test.

I unassigned tom-wa because he had too many issues.

[2016-05-28 19:38] markus2330 commented on #730
Sorry, the issue has to wait, others are more important.

[2016-05-28 20:29] markus2330 commented on #691
I think we need to debug the resolver why the default-resolver works differently than mounted resolvers.

[2016-05-29 16:15] sirblackheart opened #758 "Elektra Qt Editor: color chooser dialog sets wrong color"
This bug is maybe platform dependent (GNOME vs KDE).
When using the color chooser to select a color and press ok to apply the color to a specific option (e.g. highlight), this option does not get the color i choose but the color i choose before that. And if i have not chosen a color before, black gets applied.

Example:
I have set everything to system color defaults. I want to choose the highlight

[2016-05-29 17:12] petermax2 commented on #675
The guys at `libcurl` had or have the same problem, see [https://curl.haxx.se/mail/lib-2012-03/0008.html](https://curl.haxx.se/mail/lib-2012-03/0008.html).

[2016-05-29 17:27] markus2330 commented on #758
The gif is done really nicely, can you create something like this to show how a bit qt-gui works?

With KDE you have a complete different color chooser. It also has some unexpected behaviour: the color chosen last is presented, and not the one you try to change currently.

Can you create a PR for your fix, we can test if it still works with KDE.

@0003088 Do you have some ideas here?

[2016-05-29 17:29] markus2330 commented on #675
Good to know, thank you!

[2016-05-29 17:59] 0003088 commented on #758
I can remember that I ran into this bug but I'm not sure what I did to get around it (is it [this](https://bugreports.qt.io/browse/QTBUG-35792) one?) What Qt version are you using anyway?

[2016-05-29 18:14] sirblackheart commented on #758
@0003088 yes this seems to be the bug, i wonder why they closed it... running Qt5.6
switching to `currentColor` seems to work fine so far. I tested it on OS X, GNOME and KDE.

[2016-05-29 18:36] sirblackheart commented on #758
Well they even [rewrite their own examples](https://bugreports.qt.io/browse/QTBUG-36593?jql=text%20~%20%22ColorDialog.color%22) to work around it, so that is probably the best path to take for now.

[2016-05-30 09:44] #720 closed

[2016-05-30 09:44] #758 closed

[2016-05-30 20:17] raetiacorvus opened #760 "Question: kdbGets update behavior."
The [docu](http://doc.libelektra.org/api/0.8.16/html/group__kdb.html#ga28e385fd9cb7ccfe0b2f1ed2f62453a1) states:

This made me assume that multiple calls would no overwrite changes to key values in the ks, that have not changed in the kdb. But calling kdbGet before kdbSet will reset any changes i made to the keyset. Is this specific behavior to the glib bindings?

But the docu also states:

and th

[2016-05-30 21:23] markus2330 commented on #760
#706 improves the behaviour to something you would expect (@Namoshek and @KurtMi  for details there)

Without the globalcache, kdbGet() will not manipulate the keys *at all* if no update is needed. So if you pass modified values, the values will stay modified, if you pass an empty keyset, the keyset will stay empty.

After you changed KDB using kdbSet(), it is similar to the situation where an upd

[2016-05-31 11:33] raetiacorvus opened #761 "Undelete external deleted keys on synch"
I am using `gelektra_keyset_lookup(…, KDB_O_POP)` to delete a key and `gelektra_kdb_set(…)` to save the change. Opening Elektra Qt Editor after the calls shows the changes correctly. If execute the delete commands  while Elektra Qt Editor is running, using the `synchronize` action will undelete the key i deleted outside of Elektra Qt Editor.

It does not behave that way if i only change the value.

[2016-05-31 12:42] raetiacorvus opened #762 "GNOME Integration: ElektraSettings (GSettingsBackend)"
# ElektraSettings (GSettingsBackend)

I will use this ticket to track the state of the GSettingsBackend implementation:
## Interface Implemenation
- [x] read () method to read a key's value
- [x]  read_user_value () virtual method to read user's key value
- [x]  get_writable () method to get if a key is writable
- [x]  write () method to change key's value
- [x]  write_tree ()  method to change a

[2016-05-31 12:49] markus2330 commented on #761
Thank you for reporting, I can reproduce the behaviour using `kdb`:
[code]

The last removal is also successful, but should not be.

I do not think its related with  #760, e.g. see with `kdb shell`:
[code]

Btw. its always good if you try to reproduce it in a standalone unit test, the qt-gui does too many things to easily tell where the problem is (thanks to @fberlakovich the synchronization  is n

[2016-05-31 12:52] markus2330 commented on #762
Nice overview, well done!

Did you already try to run the gsettings unit tests?

[2016-05-31 13:49] #210 closed

[2016-05-31 14:56] sirblackheart commented on #762
Just did and it looks rather good for the current state of the code.
The first two errors turn up in tests where ElektraSettings is still missing the implementation (`writeTree`). The others seem to come from calling the single test directly. But that is the only way to run all tests currently, as the glib tests segfaults on any error.

[code]

[2016-05-31 15:11] markus2330 commented on #631
Thanks for all your help, issue should be fixed now.

[2016-05-31 15:11] #631 closed

[2016-05-31 15:15] markus2330 commented on #671
Closed as irrelevant (use wresolver if you want vfat)

[2016-05-31 15:15] #671 closed

[2016-05-31 15:17] markus2330 commented on #707
Is solved with new 3-phase build system

[2016-05-31 15:17] #707 closed

[2016-05-31 18:00] petermax2 commented on #731
Interesting fact: if you compile `dl.c` with the following change, no memleaks occur at all:

	diff --git a/src/libs/loader/dl.c b/src/libs/loader/dl.c
	index 2e3018a..03c7e33 100644
	--- a/src/libs/loader/dl.c
	+++ b/src/libs/loader/dl.c
	@@ -76,9 +76,7 @@ elektraPluginFactory elektraModulesLoad (KeySet * modules, const char * name, Ke

			Module module;
			module.handle = dlopen (moduleName,
	-#

[2016-05-31 18:05] petermax2 commented on #731
If unloading the library with `dlopen` is stopped, the segfault described in #675 also does not occur. I think OpenSSL does not like getting un/reloaded a lot.

[2016-05-31 19:06] mpranj opened #763 "FreeBSD: JNA bindings - CMake can not find jar"
The Java Native Access jar installed from the ports (`devel/jna`) is not found.

It should be just a matter of directories. FreeBSD installs it to `/usr/local/share/java/classes`, but we don't want to add platform specific paths.

On OS X there is also no clean way to do this. Homebrew doesn't have JNA, macports does but outdated/unmaintained. Just dropping jars to a directory/(the classpath) may

[2016-06-01 08:34] markus2330 commented on #731
There are similar issues with python. Would it work if you do not cleanup at the end? (but do the dlclose)

[2016-06-01 08:36] markus2330 commented on #763
Of course you can add platform specific paths, but they should be part of the CMake Find modules.

I am afraid we have to fork the FindJava.cmake anyway, it seems like we need to patch it so that jars get included.

[2016-06-01 12:40] markus2330 opened #765 "fix usage of ksCut in kdb*"
update ksCut usage with cascading keys?

[2016-06-01 19:55] petermax2 commented on #731
`openssl_gcrypt` does not clean up at the end and still produces memory leaks.

[2016-06-01 19:56] petermax2 commented on #731
Not cleaning up `crypto_openssl` causes even more valgrind errors.

[2016-06-01 19:58] markus2330 commented on #731
Of course, but does it solve the crash?

[2016-06-01 20:00] petermax2 commented on #731
Not cleaning up `crypto_openssl` does indeed solve the crashing qt-gui ( #675 ).

[2016-06-01 20:08] markus2330 commented on #731
Ok, then we should not cleanup by default. (Use a plugin config as done in python plugin). In the unit tests you should use cleanup to make valgrind happy.

[2016-06-02 08:41] raetiacorvus opened #766 "Devhelp(doc) generation for (g)elektra"
This would be a nice to have for developing on Elektra in GNOME.
As far as i can tell this could be possible possible for the whole elektra api trough doxygen xml generation and XSLT transformation. Here is an example [xsl](https://cgit.freedesktop.org/dbus/dbus/tree/doc/doxygen_to_devhelp.xsl).
- [Devhelp](https://wiki.gnome.org/Apps/Devhelp)

TODO:
- [ ] doxygen xslt to devhelp for `libelektra`

[2016-06-02 08:52] markus2330 commented on #766
This is a good idea! Is devhelp integrated in your IDE? Aren't there standard tools to convert doxygen to devhelp?

[2016-06-02 09:44] sirblackheart commented on #766
Yes devhelp is integrated in [gnome-builder](https://wiki.gnome.org/Apps/Builder)

As far as i can tell the described way seems the default for doxygen projects. Doxygen already brings an xml generator we only need to provide the xsl and the [right commands.](https://www.slac.stanford.edu/grp/eg/minos/dist/dist_aux4/sigc++/libsigc++-2.2.4.2/build/doc-reference.am)

[2016-06-02 10:28] sirblackheart commented on #762
All tests are running fine now.
Also using Elektra as GSettings backend on both my computers right now and neither did blow up yet.
As a side note i did notice a slightly elevated cpu usage on my notebook where i use an ini mount for GSettings, but i am not sure if that is related or not.

[code]

[2016-06-02 12:24] markus2330 commented on #762
Great! This was really fast!

Yes, ini tends to be slow (and dump too). ni is quite fast, but it discards comments.

[2016-06-02 12:28] markus2330 commented on #766
Seems like a piece of cake, maybe you even find the commands implemented in CMake.

[2016-06-02 13:56] sirblackheart commented on #766
Yes i just have to figure out how to get the xsl right, then we can use the existing doxygen html output. We also need to output xml but that is just a simple switch.

[2016-06-03 05:42] sanssecours commented on #762
Yes.

[2016-06-03 08:52] markus2330 commented on #762
Ok, then we can expect to learn much more about performance characteristics with @sanssecours work. Maybe the gsettings are even a way to get realistic data.

[2016-06-04 09:03] sirblackheart opened #771 "Building Elektra Qt Editor broken with: -DENABLE_DEBUG=ON"
[code]

[2016-06-04 10:40] sirblackheart commented on #771
the debug functions here seem to be a leftover before "Update the qt-gui to use the merging kdb wrapper" bc38023e583636b39c0ec852d8ad1c181833f6d8

@markus2330 do you can think they can be dropped? Does the merging kdb wrapper handle them?  or should they be rewritten?

[2016-06-04 22:16] markus2330 commented on #771
Seems to be a leftover of #604. It should have been moved to kdbmerge.

Is it the only place where compiling with ENABLE_DEBUG fails? If yes please remove it. Otherwise we should fix ENABLE_DEBUG properly with a new logging system and leave ENABLE_DEBUG as unsupported for now.

[2016-06-05 12:52] #771 closed

[2016-06-06 06:55] tom-wa commented on #691
for SPEC there is still an issue with cmake setting CMAKE_INSTALL_PREFIX in src/include/CMakeLists.txt
is there a reason for setting it just for KDB_DB_SPEC ?

[2016-06-06 09:07] tom-wa commented on #747
any suggestions on how to handle relative paths ?
e.g. if the cwd would be `/home/user` , the file `/home/user/test` could be either `./test`, `test`, `/home/user/test` or `~/test` or if you are in `/home/user/dir` `../test` could also refer to the same file, so there would be tons of possible keynames for the same file.

one way would be trying to get the absolute pathname, and then try to remove

[2016-06-06 11:59] markus2330 commented on #747
Absolute pathes (starting with /) and home-directory-pathes (starting with ~) should be clear: the cwd is irrelevant in these cases.

A relativ path can be resolved from the cwd, but this feature is not as important.

[2016-06-06 12:02] markus2330 commented on #691
Yes, only spec is usually installed on the system (in CMAKE_INSTALL_PREFIX).
I think we need a special cases for `~` pathes to not prefix it with CMAKE_INSTALL_PREFIX.

Did you also found out why it does not work for system-pathes?

[2016-06-06 15:21] tom-wa commented on #747
i don't think the feature would be very useable without resolving relative paths.
calling `cat .vimrc` inside your home directory would result in open(".vimrc",...) (and `cat ./.vimrc` in open("./.vimrc",..)
to only way to get the `/preload/open/~\/.vimrc`-key would be using getcwd to get the full path, and then replacing the path of your home directory with `~`

[2016-06-06 15:37] markus2330 commented on #747
We talked past each other, I was thinking about how the user will configure the open-interception, not about the implementation.

In the implementation you need to concatinate cwd+parameter of open.
realpath (3) or canonicalize_file_name (3) would not really help, the symlink handling would be weird. E.g. when `.vimrc` is a symlink to `.vimrc-symlink` the user would need to configure `.vimrc-symli

[2016-06-06 16:16] tom-wa commented on #747
realpath would also fail for non-existing files, so it wouldn't be very useful anyway

i think there would still be some issues though.
let's say i call `cat ~/.vimrc`, it would result in `open("/home/user/.vimrc",..)` and the keyname could be either `/preload/open/~\/.vimrc` or `/preload/open/\/home\/user\/.vimrc`.
assuming we allow something like `/preload/open/.\/filename` too, when calling `ca

[2016-06-06 16:34] markus2330 commented on #747
I would not allow `/preload/open/.\/filename`. Next to the problem you mentioned, it will force you to recreate all pathes of the configuration all the time (because cwd might change).

Do you have a valid use-case to use relative pathes in the configuration?

An order need to be specified anyway (you could specify to intercept both `~/.vimrc` and `/home/markus/.vimrc`), so I do not think it will

[2016-06-06 17:08] tom-wa commented on #747
i was thinking of local / per directory vim configs or .gitignore files. that way e.g. setting an alias could quickly provide such a config overriding the default one just once.

[2016-06-06 18:47] markus2330 commented on #747
Features like this can be better implemented by generating the config-files on the fly. With cascading, `dir/` keys (and thus files from `pwd`) would be preferred. The lookup "if a file is a config file" should be minimal, because it has to be paid for every `open`.

[2016-06-07 16:16] reox commented on #726
note for later: the folder for those files in debian is /usr/share/zsh/vendor-completions

[2016-06-09 11:49] sirblackheart commented on #308
My question regarding this handling of boolean is the following:
There are many variations of booleans in configuration. If we convert them all to `0` or `1` we are not able to reproduce the correct string form from it. For example for importing and exporting configuration files from Elektra.
Or am i misunderstanding the proposed behavior of the convenience plugin?
From my point of view on a call

[2016-06-09 12:30] raetiacorvus opened #775 "Gnome Integration: GSettings keyname lack #version and profile"
We should probably discuss possible solution for the lack of version and profile parts in GSettings keys.
Two possible solutions could be:
 * Assume that the first three subelements of a `GSettings` (e.g. `/org/gnome/gedit`) key will always name the application, where as keys bellow will be options. Then just add the /#0/current/ between both.
  * We would get keys conform to the `Elektra` convent

[2016-06-09 12:30] sirblackheart commented on #302
As already mentioned at the Meeting 09.06.2016, we have a clash here with `GSettings` key names.
`GSettings` Key names are `toplevel.domain.appname` e.g. `/org/gnome/gedit` `/org/libelektra/elektra-qt-editor`
Hereby i suggest to accept those also as valid keyname.
The reason for this is that this structure is already widely used in free-desktop standards. e.g. dbus, desktop files, appdata etc.

Ac

[2016-06-09 14:56] markus2330 commented on #302
We should the hierarchy into some subdirectory, otherwise it might clash with apps directly using Elektra.

Is `/sw/gnome/gsettings/#0/current` as root viable? Does your binding already has a name, maybe we can use it?

Note that users can set bookmarks to not be concerned about such a long name, e.g. `+gs/org/gnome/editor`.

If you dislike this long name, please propose a shorter name as root for

[2016-06-09 14:58] markus2330 commented on #775
profiles can be added by the profile plugin, i.e. as long as you honor the naming conventions, you automatically have profiles.

I think the version information would also be interesting for upgrading gsettings-binding itself.

[2016-06-09 15:03] markus2330 commented on #308
The bool-plugin would hide the actual value in the configuration file for you and will canonicalize it to 0 and 1.

E.g. if you have an INI file:
a = true
b = TRUE
c = on

you would receive the keyset:

a = 1
b = 1
c = 1

when writing back, the old names would be preserved.

I do not think everything else should be false, e.g. if you have

d = is true
e = wahr
f = onn

you want an error when writi

[2016-06-09 16:12] sirblackheart commented on #308
I was saying true, but your point is valid for both and makes sense.

So does this mean we would need metadata for the convenience plugin?
How we decide when we check for boolean? For every key write? Only for spec values? Only for APIs that support it?

[2016-06-09 16:40] markus2330 commented on #308
Like other recoding plugins (e.g. null, ccode, ..) it would be in every set/get. And yes, it would need some type annotation (e.g. in the specification).

[2016-06-11 12:15] markus2330 commented on #675
@sirblackheart When you test #759, can you also check if this issue is fixed? (hopefully fixed by #767)

[2016-06-11 12:30] sirblackheart commented on #675
Looks good! No crash on starting or closing the gui.
![screenshot from 2016-06-11 14-28-30](https://cloud.githubusercontent.com/assets/1131371/15985039/dfdce61e-2fe0-11e6-8758-943c393f0906.png)

@petermax2 thanks for fixing it!

[2016-06-11 12:37] #675 closed

[2016-06-11 13:31] #465 closed

[2016-06-11 13:34] sirblackheart opened #777 "Elektra Qt Editor: error on using menu `E_dit -> Edit ...` twice on same element"
`qrc:/qml/EditKeyWindow.qml:11: TypeError: Cannot read property 'metaValue' of null`

![peek 2016-06-11 15-31](https://cloud.githubusercontent.com/assets/1131371/15985329/9ea0f77c-2fe9-11e6-9363-96d0e36a5bb8.gif)

[2016-06-11 18:04] sirblackheart commented on #762
Ok a short update regarding the application startup elektra vs dconf.
The difference of almost 3 seconds i was talking about at the meeting 09.06.16 was due to a bug on my side.
In general the difference after fixing it is now down to about ~0.1 s when starting gnome-tweak-tool.
Used plugins: `ni` `dbus` `journald`

[2016-06-11 18:14] markus2330 commented on #762
Great to hear, will be exciting if it gets even faster with @mpranj and @KurtMi work.

Do you want to mention your current work in the upcoming release? Or do you even want to merge it as experimental?

[2016-06-11 18:28] sirblackheart commented on #762
I honestly do not feel comfortable to merge the code in the current state. I will try to polish it, but not sure if i get it into an `experimental` state before 0.8.17 release.

[2016-06-11 18:32] markus2330 commented on #762
If we put a proper disclaimer people will know what they get.

And do you want your repo to be mentioned? Or that you are working on it and that a benchmark looks promising?

[2016-06-11 18:54] sirblackheart commented on #762
Ok, i will prepare a pr.
But first the question where should it reside in the current Elektra source?
Should it go into libs or rather into bindings?

[2016-06-11 19:00] markus2330 commented on #762
Bindings, should be fairly easy to add. You only have to make sure glib is selected when your binding gets added. (See how gi does it.) Per default it should be disabled.

Please try to keep the version history.

[2016-06-11 20:29] petermax2 commented on #731
So there are some possible problem sources I could discover in **crypto_openssl**:

- `ERR_peek_error()` seems to cause internal state problems in OpenSSL
- `lockCs` in `openssl_operations.c` seems to get lost (according to valgrind) although I don't know why that is (it should bee freed actually)
- chaining the OpenSSL BIOS together like `BIO_new ( BIO_s_mem () )` also seems to cause problems

In

[2016-06-12 09:37] 0003088 commented on #777
When cancelling the window the selected node was set to 'null'. I changed that in fe18fbf22be675b1f3abb47c72c1f3e62b816b21. I cannot remember the exact reason for unselecting the node, so maybe this causes issues (I cannot think of one atm, but it's not out of the question)

[2016-06-12 09:41] markus2330 commented on #731
Did you try to run it with ENABLE_DEBUG? (To get rid of `???`)

For openssl specifica it would be best to ask in their issue tracker? (I assume you read the whole API description of ERR_peek_error already)

[2016-06-12 10:22] markus2330 commented on #777
@sirblackheart can you confirm that fe18fbf fixes the problem? Sounds like an easy fix.

[2016-06-12 12:38] sirblackheart commented on #777
Yes this fixes this specific issue. Thanks @0003088

[2016-06-12 12:55] markus2330 commented on #777
@sirblackheart What do you mean with "specific issue". Are there related issues?

@0003088 do you want to create a PR or should I simply comment out the line?

[2016-06-12 13:01] sirblackheart commented on #777
There are some error messages i noticed while testing the fix but they are not related. I will open a issue after i had time to investigated it further. It seems to be related to metadata in the gsettings import.

`qrc:/qml/NewMetaKey.qml:58: ReferenceError: user is not defined`

[2016-06-13 05:38] #691 closed

[2016-06-13 08:32] #689 closed

[2016-06-13 08:49] petermax2 commented on #731
I did, but still valgrind could not resolve all the symbols.

	==8455== 176 bytes in 1 blocks are still reachable in loss record 12 of 20
	==8455==    at 0x4C28BF6: malloc (vg_replace_malloc.c:299)
	==8455==    by 0xCDC9097: CRYPTO_malloc (in /usr/lib64/libcrypto.so.1.0.2h)
	==8455==    by 0xCE7ECDF: lh_new (in /usr/lib64/libcrypto.so.1.0.2h)
	==8455==    by 0xCDCA494: ??? (in /usr/lib64/libcrypto

[2016-06-13 09:02] sirblackheart commented on #726
looking forward to this one. would be nice to get it into oh my zsh.

[2016-06-13 09:04] markus2330 opened #782 "find-tools:21: 'glob' imported but unused"
Thanks to @reox for reporting.

[2016-06-13 09:08] markus2330 commented on #731
Sorry, it seems to be a libcrypto specific problem (or even a distribution problem with partly stripped debug symbols). I cannot help here. For valgrind suppressions you do not need the full stack trace anyway.

[2016-06-13 09:09] markus2330 commented on #703
Thank you!

[2016-06-13 09:09] #703 closed

[2016-06-13 09:45] markus2330 opened #783 "gsettings: compiler warnings"
some unused parameter warnings, please use ELEKTRA_UNUSED.

[code]

[2016-06-13 09:45] markus2330 commented on #783
(not urgent)

[2016-06-13 09:50] sirblackheart commented on #783
yes i fixed unused and uninitialized but did not fix this. I did some research and the only way to fix this is either use a macro or append the unused attribute.

[2016-06-13 10:10] sirblackheart commented on #783
Is it ok to use G_GNUC_UNUSED instead so i do not pull in any new headers?

[2016-06-13 10:18] markus2330 commented on #783
Is this something from gnome? It is certainly ok for now, I am only wondering how portable it is for non-gnuc systems.

[2016-06-13 10:24] sirblackheart commented on #783
It is part of glib.

[2016-06-13 10:30] sirblackheart commented on #783
it is defined as `_attribute__((__unused__))`  with `GNUC`  and empty otherwise

[2016-06-13 10:55] markus2330 commented on #783
It does the same thing then. You can use either, but please be consistent.

[2016-06-13 12:33] #783 closed

[2016-06-13 13:50] 0003088 commented on #777
@markus2330 I'll create a pull request for the sake of traceability

[2016-06-13 16:14] #749 closed

[2016-06-13 16:59] markus2330 commented on #721
[undefinied behavior sanitizer](http://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html) reports:
[code]

[2016-06-13 17:28] markus2330 opened #786 "gir does not build with clang sanitizer"
With 702cd0cfd025c313e5e165af5394a83fcf01959a one can easily enable [undefinied behavior sanitizer](http://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html).

gi/gsettings does not build then.
gir:

[code]

gsettings:

[code]

seems like g-ir-scanner does not pass CMAKE_SHARED_LINKER_FLAGS`

Workaround is to not use `ALL`, `GI` or `gsettings` bindings, e.g.:

[code]

[2016-06-13 18:15] #777 closed

[2016-06-13 18:24] sirblackheart commented on #786
This is kind of strange, `elektrasettings` target and `gelektra-4.0` target build fine. The error only occurs on the `gir` target. This seems to be a problem related with the g-ir-scanner. We should probably look into an option to build glib and gsettings bindings without enabling `gir`.

[2016-06-13 18:24] markus2330 opened #788 "Fix sanitizer issues"
Hello newcomer

Since 702cd0cfd025c313e5e165af5394a83fcf01959a one can easily enable [undefinied behavior sanitizer](http://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html).

Simply use clang as toolchain and use debug/asan (e.g. by adding `-DENABLE_DEBUG=ON -DENABLE_ASAN=ON -DCMAKE_C_COMPILER=clang-3.8 -DCMAKE_CXX_COMPILER=clang++-3.8` to your cmake invocation). It might work for gcc, too.

T

[2016-06-13 18:25] markus2330 commented on #786
Its better if we not make the build system more complicated, maybe we can simply pass the required options to gir.

[2016-06-13 19:05] markus2330 opened #789 "qt-gui: mount config"
The configuration of mountpoints does not seem to be added?
(Neither system nor user)

[2016-06-13 19:08] markus2330 opened #790 "document how git commit messages should be done"
In the meeting we agreed that:

- `fix #777` should not be in the title
- the title contains the syntax: `component: short change description`
- most commits should also have longer descriptions

Please document the outcome of the meeting and describe how git commit messages should be written for Elektra.

[2016-06-13 22:01] #790 closed

[2016-06-14 05:44] markus2330 opened #792 "Create meta data for every script"
With 0.8.17 we have a way to create meta data for scripts in order to find scripts more easily. https://github.com/elektrainitiative/libelektra/tree/scripts/README.md

Not every script currently has meta data though, please add it. As an example you can see scripts/configure-debian

[2016-06-14 08:46] markus2330 opened #796 "svg module not added to COMPONENTS"
Did you try to compile Elektra if the svg component is not installed?
(I did not find a way to install it on Debian, but it might be possible at other systems and is certainly is possible if you compile Qt yourself because it is an add-on).

I think it might need to be listed in QCOMPONENTS, what do you think?

[2016-06-14 08:49] sirblackheart commented on #796
We probably should make it optional, so if the module is not available you just can not use svg icon themes.

[2016-06-14 09:40] #796 closed

[2016-06-14 11:05] sirblackheart commented on #796
and i think this is the svg module on debian: https://packages.debian.org/search?keywords=libqt5svg5

[2016-06-14 11:07] sirblackheart commented on #796
and also dev: https://packages.debian.org/jessie/libqt5svg5-dev

[2016-06-14 18:03] markus2330 opened #798 "Warning with -Wunused-result"
[code]

[2016-06-14 18:05] markus2330 opened #799 "find-tools: search for program name"
searching for a name actually would be useful too

[2016-06-14 18:57] markus2330 opened #800 "Survey Links"
- [x] /r/linux: https://www.reddit.com/r/linux/comments/4o327y/survey_relevance_of_configuration_systems_in_free/
   - [x] /r/archlinux: https://www.reddit.com/r/archlinux/comments/4o34vn/survey_relevance_of_configuration_systems_in_free/
   - [x] /r/programming: https://www.reddit.com/r/programming/comments/4o373g/survey_relevance_of_configuration_systems_in_free/
   - [x] /r/opensource: https://

[2016-06-14 21:01] raetiacorvus opened #801 "Provide cmake option to compile with address sanitizer"
- http://clang.llvm.org/docs/AddressSanitizer.html
  #788

[2016-06-15 10:11] sirblackheart commented on #788
Should we open separate bugs per found undefined behavior or just add them here?

[2016-06-15 10:16] KurtMi commented on #678
@markus2330 I peeked in the shell and shell recorder test suite and I can not find any check if `bash` or `sh` is present. How is the behaviour on systems that do not have a `sh` or `bash`?

[2016-06-15 12:56] markus2330 commented on #678
For now: simply assume a shell is present. Other unit tests are written in shell too.

The shell recorder itself is written in shell, so a check would not be useful?

The shell recorder should avoid bash dependencies, it should be plain POSIX.

[2016-06-15 12:59] KurtMi commented on #678
I thought a cmake check or so.

Well, the shell recorder works with `bash`, I can try to change it to `sh`

[2016-06-15 13:08] sirblackheart commented on #788
This one in `keyset.c`
`/src/libs/elektra/keyset.c:922:11: runtime error: unsigned integer overflow: 42 + 18446744073709551592 cannot be represented in type 'unsigned long'`

the used nickel library seems to have quite some in `hash.c` that should probably just suppressed as it is not really part of elektra
`/elektra/src/plugins/ni/nickel-1.1.0/src/hash.c:`

and one in the `resolver.c`
`/src/elekt

[2016-06-15 13:12] markus2330 commented on #678
Do you have any system to test it?
It would only be useful if you also disable the other shell tests.
But I think its not worth the effort.

A better solution might be to tag every shell test and shell recorder test, then everyone can easily select the tests he/she wants to run.
(Currently the shell tests are tagged with kdbtests, but later also kdbtests were added that are not implemented in shel

[2016-06-15 13:16] KurtMi commented on #678
No, I thought it would be nice, I can have a look.
If I do not find a proper solution I rearrange the tags.

[2016-06-15 13:32] #559 closed

[2016-06-15 13:33] KurtMi commented on #678
@tom-wa can you pls have a short look at the `shell_recorder.sh` if there is a different behaviour with `sh`? I am not so the shell guru :)

[2016-06-15 16:57] sirblackheart commented on #678
@KurtMi you can use [checkbashims](https://aur.archlinux.org/packages/checkbashisms/) to check if any bash specific code was used.

[2016-06-19 18:06] iandonnelly commented on #792
Few questions:

1. The brief should be short enough to fit in the normal terminal width on one line, correct?
2. For scripts with descriptions in the comments (like convert-fstab) should we leave these comments after the metadata?
3. What is the correct date format (DD.MM.YYYY or MM.DD.YYYY)?
4. What should I do when missing information?
5. For some I see the date is just Month and Year, how shoul

[2016-06-19 19:03] markus2330 commented on #792
Thank you for working on it!

1. Yes: brief should be a short sentence only, it should be printable within a line.
2. I think most comments can be some part of the metadata (as last resort some detail description), @KurtMi can help you with the decision where it should be, simply write here for questions.
3. in the example it looks like DD.MM.YYY (because the script was created in June), should be

[2016-06-20 12:35] KurtMi opened #807 "Shell recorder: shellcheck & checkbashisms"
I let shellcheck and checkbashisms check the `shell_recorder.sh`. I fixed the most, but the following are to hardcore for me.

[code]

and

[code]

[2016-06-20 12:37] KurtMi commented on #678
@sirblackheart thx for the hint.

#806 should do `should be executed (add_test)`

For the transformation from `bash` to `sh` I did my best but some points are open,
I also `shellcheck`ed the shell recorder, #807 contains both.

[2016-06-20 17:18] markus2330 commented on #160
Mac OS X for xcode 6.1 build seem to be broken:
https://travis-ci.org/ElektraInitiative/libelektra/jobs/138919488

[2016-06-20 17:46] mpranj commented on #160
I triggered a re-build for that one but it seems to me like a temporary travis failure.

[2016-06-20 18:28] markus2330 commented on #160
Can you document how to retrigger a build for a PR? I did not know it is possible.

[2016-06-20 20:00] mpranj commented on #160
Directly on travis-ci.org, using your link above:
![scr](https://cloud.githubusercontent.com/assets/1877999/16208363/06e877fc-3732-11e6-96b9-c9cc8746d438.png)

I doubt this is document-worthy but I can to it nevertheless.
The build is still not working solely because of the git checkout. I don't think this is our fault.

[2016-06-20 20:08] mpranj commented on #160
Ah. I think you merged it before the build was triggered/started in the first place.
When I rebuild other previously successful PRs, it's broken also.

This is more of a travis problem than anything else.

[2016-06-20 23:51] #782 closed

[2016-06-20 23:52] #799 closed

[2016-06-21 06:03] markus2330 commented on #160
Ok, thank you for investigating.

[2016-06-22 15:40] thedrow opened #810 "Provide an OSX build?"
Does libelektra compile under OSX?
If it does, it'd be nice to be able to install it from Homebrew.

[2016-06-22 21:16] markus2330 commented on #810
Hi!

Thanks for asking. Elektra fully compiles and works under Mac OS X. Several developers are using Mac OS X themselves. Build Server see: https://travis-ci.org/ElektraInitiative/libelektra/branches

For Homebrew only a very basic formula is available here: https://github.com/fish2000/homebrew-praxa/blob/master/elektra.rb Unfortunately no further work was done, help would be very welcome, see #5

[2016-06-23 11:24] thedrow commented on #810
Thanks. I think this is a duplicate so I'll close this one.

[2016-06-23 11:24] #810 closed

[2016-06-23 19:04] mpranj commented on #677
I have some questions regarding the hook names/semantics (from `decisions/`).
Firstly, I have this table of placements. Some were not self-explanatory for me, marked with a `?`.

| hook name      | placement/semantics |
| -------------- | --------------------|
| prerollback    | before rollback |
| rollback       | ? |
| postrollback   | after rollback |
| getresolver    | ? |
| pregetstorage  | s

[2016-06-24 06:51] raetiacorvus opened #811 "Elektra Qt Editor: privileged actions"
I propose we either offer a way to elevate rights for certain actions (e.g. mounting) or hide them when the application is run without proper rights.

@0003088 what do you think? Should we take a look at polkit support?

[2016-06-24 15:20] mpranj opened #812 "augeas: update 1.4.0 to 1.5.0 breaks syntax"
On OS X (homebrew) the augeas package was updated recently. Apparently there were some syntax changes.
Take this also as a hint that travis builds will fail form now on.

[code]

@fberlakovich can you take a look if there is an easy fix?

[2016-06-26 13:51] fberlakovich commented on #812
I am busy until Tuesday, but I hope to find some time to look at it next week.

[2016-06-26 19:04] 0003088 commented on #811
Well, I'm not sure if I'm the right person to address here. Shouldn't you discuss this topic with @markus2330?

[2016-06-26 19:05] 0003088 commented on #789
I will take a look.

[2016-06-26 19:32] sirblackheart commented on #811
@0003088, sorry I thought I'd ask you first as main developer of the `qt-gui`.

[2016-06-26 20:01] 0003088 commented on #811
No worries! Sure, I developed the gui but since I completed my bachelor's thesis I'm just fixing bugs or implementing minor features. I'm certainly not involved deeply enough in the project to decide if polkit should be supported or not (btw. I do not have any experience with polkit).

[2016-06-27 02:41] markus2330 commented on #811
Hi! There was even a discussion with @0003088 about such a feature and of course it would be nice and improve usability. We dropped the idea, however, because of the relatively high effort.

Maybe we can gray out parts if not writable as first step (a feature also proposed by @0003088, which now would also be useful for the isWritable in gsettings). One implementation that comes to mind is to do a

[2016-06-27 02:49] markus2330 commented on #812
What puzzles me is that we only use lenses (in the testcase Hosts.lns) that are distributed with augeas. Can you check if the error also happens if augeas is used directly? Maybe providing augeas version + the lens would help, too.

[2016-06-27 03:23] markus2330 commented on #677
No, if something is missing, please add it to the proposal. Also if there are too many (which might be the case for the ones marked with ?), you can propose to remove them.

Rollback is for the case when one of the set-plugins failed. Docu is in elektra-algorithm.md and elektra-plugins-ordering.md (in doc/help).

About the exact placement: it is difficult to discuss it without code, maybe you can

[2016-06-27 03:33] markus2330 commented on #677
E.g. the `commit`-phase is a done by plugin, the idea is to have a global hook before and after it. But I did not look into the details. Note that if a global hook is pre/post to some place is decided by `/before` and `/after`, not directly by its name -- as described in the decision.

[2016-06-27 09:21] sirblackheart commented on #754
I came again across this issue while working on #531
My proposal would be to switch to `CMakes` [`GNUInstallDirs`](https://cmake.org/cmake/help/v3.0/module/GNUInstallDirs.html) `module`, as it really would be desirable to change the system file installation path for some files.
The current `brew` formula does so by manipulating the CMake files, which seems less then desirable to do so.
[code]
It w

[2016-06-27 09:26] sirblackheart commented on #531
@tryge if you are ok with it I would take this over

[2016-06-27 09:28] tryge commented on #531
Please, go ahead!

[2016-06-27 11:52] markus2330 commented on #754
Do the bash completion and profile.d work  when installed to /usr/etc/..?

If not, it would be a waste of time, simply go for `INSTALL_SYSTEM_FILES=OFF`.

Btw. usually it is possible to change the location where a file should be installed to. Isn't this the simpler option?

[2016-06-27 12:40] sirblackheart commented on #754
why do i write it gets installed to /etc if "/usr" is passed?

 well copy paste...

I think you completely misjudge the situation. No it does not get sourced if it is installed under /usr/local/profile.d etc... But that is the point. If you install stuff under /usr/local it is up to you to do the sourcing.

Homebrew installs its stuff per default under `/usr/local` and installing profile.d and bas

[2016-06-28 12:56] markus2330 commented on #754
It is not so easy to say what the right way is. There are many people (even maintainers) that would argue that packages should rename files if some system needs non-standard locations. The  GNUInstallDirs seems to be non-standard for CMake, I never heard of it before. It sounds like a lot of work to introduce it, its hardly impossible to test all combinations that GNUInstallDirs would provide, and

[2016-06-28 14:21] sirblackheart commented on #754
That is why we have an issue for it to discuss it objectively.

You consider `/usr/local` a non-standard location for `etc` files? `/usr/local` is default for non package manged installation. Considering bash-completion a system file is wrong in my opinion and it should also be installed in `/usr/local` for the user to manage e.g. sourcing it.

Strange it is part of the default cmake package in ar

[2016-06-28 22:28] markus2330 commented on #754
Yes, it is completely non-standard, see http://www.pathname.com/fhs/
Even programs installed to /opt should use /etc/opt and *not* /opt/etc.

About the other discussion points: I think to partly introduce something would
be a strong mistake, so either we fully support something or leave it
completely. But we need a new issue for discussions, this issue is about a
`make install` that fails, not a p

[2016-06-29 08:11] sirblackheart commented on #754
According to its documentation `GNUInstallDirs` does honor this.

I copy pasted the relevant part of the source code in case you overlooked it.
In addition `/opt` (Add-on application software packages) is something completely different from `/usr/local` (Local hierarchy) in this regard.  `/usr/local` has its own `/usr/local/etc` folder while `opt` should use `/opt/etc`

be a strong mistake, so eit

[2016-06-29 10:27] markus2330 commented on #754
http://www.pathname.com/fhs/

/opt/etc.

It does not make it more standard and as you already noted the files
would not be used anyway, so the out-of-the-box behavior is
identical to not installing the files at all.

Something that would improve usability is a script that installs and
setups the bash completion for the specific user.

overlooked

something

regard.

should use

I dont know where y

[2016-06-29 10:44] sirblackheart commented on #754
Your post is currently completely unreadable on github…

[2016-06-29 11:19] sirblackheart commented on #754
I honor your request to move this discussion to a PR but please reformat you last post so it is clearly understandable on github. There seems to be a problem with githubs way of showing the mails citations.

[2016-06-29 11:35] markus2330 commented on #754
The second quote level seemed to have caused problems with too long lines.

I hope you reconsider and focus on non-build tasks. There is a lot of work there and not much to be gained.

[2016-06-30 21:14] markus2330 opened #817 "include <elektra/kdb.h>"
We could install all header files also to `/usr/include/elektra`, which allows us to `include <elektra/kdb.h>` without any include path.

[2016-06-30 21:15] markus2330 opened #818 "proposal: update AUTHORS"
Please bring AUTHORS to a better state:
- [ ] add yourself there
- [ ] add github user names there
- [ ] devel/test on (which systems you have)
- [ ] mark inactive people as such (1 year without any activity?)

[2016-06-30 21:19] markus2330 opened #819 "proposal: voting process"
We should write a (hopefully short) constitution that introduces an inclusion and voting process for AUTHORS (also see #818). In principle I would see voting should be done in two steps:
1. discussion phase: find more options, clarify content
2. if different opinions prevail, we vote (details to be discussed here)

[2016-07-04 17:17] sirblackheart opened #824 "API doc: keyIsUser & keyIsSystem are private"
The [current api](http://doc.libelektra.org/api/current/html/group__keytest.html) lists both `keyIsUser` and `keyIsSystem` as part of the functions that should be available as key test functions.

Using them in code results in a:
[code]

A short look at elektras header files shows that both are located in `kdbprivate.h` and therefore not included trough `kdb.h` as stated by libelektras [doc](http:

[2016-07-09 09:00] #824 closed

[2016-07-09 09:00] markus2330 commented on #824
Thank you, good catch!

[2016-07-09 17:22] waht opened #825 "plugin: internalnotification"
@markus2330 asked me to create an [internalnotification plugin](https://github.com/waht/libelektra/tree/internalnotification/src/plugins/internalnotification) which updates variables automatically when registered keys are changed on kdbGet/kdbSet.

For now the plugin allows to register integer variables. It is assumed that the key value is a string containing a number.

The plugin is located in th

[2016-07-09 21:43] markus2330 commented on #825
Do not worry about any issues, you can still create a PR, only mark it accordingly (WIP in title or "in progress" tag). Within an PR its easier to discuss the code and we can trigger the build server.

About kdbGet/kdbSet not happening: In the API usage of kdbGet()/kdbSet() you need to consider the state diagram doc/images/state.png. kdbSet() always needs a prior kdbGet(). kdbGet() might be a NOP

[2016-07-10 12:27] waht commented on #825
Allright, I created a PR :)
I did not include the testbed for now, since it is interactive and only useful for manual testing. Should I move it to the repository?

Regarding the state diagram, the testbed seems fine. There is an initial kdbGet() in main and the returned KeySet is passed to subsequent kdbSet/Get calls. I constructed a case where kdbSet() succeeds (the file is changed, plugin not tr

[2016-07-11 13:58] markus2330 commented on #800
@ElektraInitiative/elektradevelopers Please upvote: https://news.ycombinator.com/item?id=12070987 and above reddits. Please post reminder of surveys into social media and similar. Also remind friends to finish the survey completely. Thank you!

[2016-07-11 16:56] markus2330 commented on #825
Yes, please move testbed also to main repo. You could run some tests automated and alternatively provide an interactive mode selected command-line parameters.

Can you create a simplified test case and an extra issue for the problem with kdbGet() not doing anything. (maybe add it to testkdb_*) If your plugin does not trigger, also the others should not. You can add a tracer plugin for tests. Maybe

[2016-07-11 16:59] markus2330 commented on #812
It would be great if you can look into it: it fails every build which makes it cumbersome to check what the status of a PR is.

[2016-07-11 17:24] fberlakovich commented on #812
The last time I tried I couldn't reproduce it, but I will have another look

________________________________
Von: markus2330 <notifications@github.com>
Gesendet: 11.07.2016 18:59
An: ElektraInitiative/libelektra
Cc: Felix Berlakovich; Mention
Betreff: Re: [ElektraInitiative/libelektra] augeas: update 1.4.0 to 1.5.0 breaks syntax (#812)

It would be great if you can look into it: it fails every bu

[2016-07-11 17:31] markus2330 commented on #812
Thank you! Maybe you can improve the test cases so that the error message is more useful?

[2016-07-11 17:51] markus2330 opened #832 "make zsh and bash completion installation more consistent"
Is it possible that pkg-config respects `CMAKE_INSTALL_PREFIX`? Then we could avoid `BASH_COMPLETION_COMPLETIONSDIR` hack.

[2016-07-11 17:57] markus2330 opened #833 "remove elektraenv.sh"
While setting environment based on Elektra configuration sound like a good idea some time ago, I think it has become useless.

I think one can argue it got obsolete by `src/libs/getenv/`. Furthermore I have the impression it was never used by anyone.

Any opinions?

[2016-07-11 23:41] fberlakovich commented on #812
@mpranj Could you provide the library version that is installed with Augeas 1.5.0 in homebrew? I manually compiled Augeas 1.5.0 on Debian Jessie 8.5 and cannot reproduce the issue. Could it be that your lens file got corrupted?

[2016-07-11 23:45] fberlakovich commented on #812
Or could you even provide the hosts lens that is used on OS X?

[2016-07-12 09:46] markus2330 commented on #754
To also state it here: The easiest solution for those two files is to not install them to `/etc` anymore:

- elektraenv.sh can be removed see #833
- fora bash_completion a different place is better anyway: #832 (thanks to @sirblackheart for finding out)

I will close this issue for now, further discussions in the respective tickets please.

[2016-07-12 09:46] #754 closed

[2016-07-12 10:31] sirblackheart commented on #832
The current hack is using the `bash-completion-config.cmake` for systems  with bash-completion `>= 2.2`. For bash-completion `< 2.2` (debian still ships `2.1`) it falls back to the pkg-config file as the cmake file is not available.

It could be possible to honor `CMAKE_INSTALL_PREFIX` with some work but then we do not honer the install paths provided by cmake or pkg-config.  Those paths are gener

[2016-07-12 11:22] markus2330 commented on #832
With hack I mainly mean setting `BASH_COMPLETION_COMPLETIONSDIR` from outside, we already have similar occurrences such as `GOOGLETEST_ROOT` and of course `OPENSSL_MANUAL_OSX_HACK`. It would be better if we can avoid such a variable which can be influenced from outside.

Yes, and there is no guarantee that a modified path from pkg-config will work. So you are right, its better to take it as is. Ma

[2016-07-12 11:24] #798 closed

[2016-07-12 11:28] markus2330 commented on #812
Looks like the problem is the current homebrew package. (Based on that Augeas 1.5.0 worked on Jessie without problems.) Is it possible that we continue to use the old homebrew augeas package and report the issue in the homebrew issue tracker?

[2016-07-12 12:24] markus2330 commented on #160
@manuelm  debian-stable-mm seems to be unreachable (for both jenkins and for me from TU network). Could you please investigate?

[2016-07-12 12:39] manuelm commented on #160
[code]
Looks like someone stopped the container. I've started it again.

btw, starting tomorrow morning I'll be away from home until 1. August. I'm still reachable by e-mail but expect a short delay.

[2016-07-12 13:13] sirblackheart commented on #812
I can confirm that
`kdb mount /etc/hosts system/hosts augeas lens=Hosts.lns`
works on Arch Linux with current `augeas 1.5.0` package
while it fails with the same error as in the testcase on OS X with homebrew
[code]

[2016-07-12 16:03] markus2330 opened #834 "mix meta and normal keys"
One way to easily distinguish between meta and normal keys would be to use different assignments.

For example:

[code]

Where key is a subkey of `path` but `metakey` is a metakey of `path`.

@tom-wa What do you think?

[2016-07-12 16:04] markus2330 commented on #834
@sanssecours Would also be interesting to hear your opinion. Do you already have an idea which plugins with which implementation strategies you want to do?

[2016-07-12 16:20] markus2330 commented on #834
alternatives for meta assignment would be `<-`.

But maybe its better to use one of the characters which are reserved in the key names (and do not require further escaping), e.g.
- `#=`
- `.=`
- `@=`

[2016-07-12 16:40] markus2330 commented on #160
Thank you for the quick fix! So I suppose you also won't be here for the next meetings.

[2016-07-12 18:01] manuelm commented on #160
Yep

[2016-07-12 19:30] petermax2 commented on #731
Should be fixed with #804 .Please re-open the issue if any further leaks occur.

[2016-07-12 19:30] #731 closed

[2016-07-13 07:42] sirblackheart commented on #812
I did some further testing. Switching HEAD manually to 1.5.0 taged version of augeas in brews [formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/augeas.rb) also results in working testcases.
So I tried to build and install augeas 1.5.0 from source package which resulted in the known test failure / lens not found.
So it seems 1.5.0 from git which uses `autogen.sh` works, but 1.

[2016-07-13 11:56] markus2330 opened #836 "testmod_crypto_gcrypt build error"
[code]

I think the whole line 192 is useless, why setting the property twice?

[2016-07-13 11:58] markus2330 commented on #812
Yes, its one more hint that it is a packaging problem.

We could report it at homebrew. And the easiest workaround would be to use the old augeas package in homebrew.

[2016-07-13 12:08] sirblackheart commented on #812
Not sure if it is a homebrew packaging problem or a problem in the source package tough.

easy? that would mean we would have to use a custom formula anyhow. homebrew only has versions for some specific packages. so no it is not an easy solution in this case.

[2016-07-13 12:18] markus2330 commented on #812
I saw your fix after writing the message. If you fix works its perfect. It should be still reported to upstream (homebrew) though.

[2016-07-13 12:20] markus2330 commented on #726
@reox could you create the PR as discussed (even if not everything works smoothly at the moment)

[2016-07-13 12:28] sirblackheart commented on #812
done: https://github.com/Homebrew/homebrew-core/issues/2961

[2016-07-13 14:01] sirblackheart commented on #833
Do i understand it correctly that it should be possible to achieve similar results with `src/libs/getenv/`. If so would it make sense to distribute a service file that can be enabled to use `elektrify-getenv` at boot or login as replacement for `elektraenv.sh`?

[2016-07-13 18:03] #836 closed

[2016-07-13 18:12] markus2330 commented on #833
Yes, you understand it correctly. At the moment `elektrify-getenv` only works for programs that use `getenv` and do not directly access into `environment`. But this can be changed (by also manipulating `environment`), together with @petermax2 work we would finally have secure ways to globally set the environment.

There are many ways to activate elektrify-getenv (elektrify-getenv wrapper, setting

[2016-07-13 18:13] markus2330 commented on #812
Thank you for reporting! I think we can close the issue for now.

[2016-07-13 18:13] #812 closed

[2016-07-13 19:19] markus2330 commented on #684
Here it would be important to have a shell recorder test for lazy mountpoints. It would be great help for a kdb implementation to have such a template.

[2016-07-14 20:58] markus2330 opened #840 "Memleak in crypto_openssl"
From http://community.markus-raab.org:8080/job/elektra-clang/
[code]

[2016-07-14 21:22] markus2330 commented on #840
Do you need an extra issue for
[code]
?

[2016-07-15 08:49] #833 closed

[2016-07-15 08:53] markus2330 commented on #832
In wheezy the pkg-config variable bash-completion completionsdir could not be found. Because we use the same debian installation rules, the different fallback caused wheezy packaging to fail: http://community.markus-raab.org:8080/job/elektra-git-buildpackage-wheezy/lastFailedBuild/consoleFull

I now changed the fallback to `/usr/share/bash-completion/completions`, which is also more consistent to

[2016-07-15 09:01] markus2330 commented on #726
Thank you for creating the PR. The debian packages now contain /usr/share/zsh/vendor-completions/_kdb

For me the completion does not work ;( Is there anything needed for the tab completion other than having this file installed?

I started a new zsh, `which kdb` says `/usr/bin/kdb`. (I also tried with `nocorrect noglob kdb`) but `kdb get <tab>` only completes to the files in the current folder.

M

[2016-07-15 10:00] sirblackheart commented on #832
Do you have the `bash-completion` package installed? As far as i can tell from the package it should have the pkg-config file with the relevant variable.
https://packages.debian.org/wheezy/bash-completion

As far as i can tell there is no pkgconfig file installed with zsh. We will have to suffice with a hardcoded path or find out if the path is exposed elsewhere somehow.

I will look into refactor