[2018-10-20 07:30] markus2330 commented on #2273
Thank you for reporting this problem!

Seems like we do build this situation on the buildserver. This should be done to fully resolve the bug.

@kodebach Do you think #2266 might be related to this problem?

[2018-10-20 11:34] kodebach commented on #2273
Yes it seems that is the problem. I will try to fix it.

[2018-10-23 09:33] markus2330 opened #2277 "multiresolver: unwanted error if glob fails"
## Steps to Reproduce the Problem

[code]

## Expected Result

Successful return without any keys.

## Actual Result

[code]

The main problem of this behavior is that you need to touch at least one file to be able to set any keys, so Elektra cannot bootstrap from an empty folder (which is possible for regularly mounted config files: empty keysets are represented with removed files there).

To ful

[2018-10-27 08:21] markus2330 opened #2281 "isArrayParent inefficient"
When parsing large json files (>2MB, I used machinetalk-protobuf.min.map.json for the benchmark, see https://github.com/machinekit/machinetalk-protobuf/tree/master/dist) more than 70% of the CPU time is spent in isArrayParent. (I could not check for files > 20MB because then it does not terminate in reasonable time anymore.) Unfortunately I did not have debug symbols of the directoryvalue plugin,

[2018-10-27 17:43] sanssecours commented on #1862
Nope. I think this problem should be fixed inside YAJL and not in the Directory Value plugin.

[2018-10-28 15:09] #2281 closed

[2018-10-31 07:56] markus2330 opened #2289 "coveralls: make jobs not fail on master"
## Steps to Reproduce the Problem

Push commits to master.

## Expected Result

That it is successful if the PR was successful.

## Actual Result

The build job might fail if the coverage decreased, e.g.:

https://coveralls.io/builds/19804348

I am not even sure if the result is correct, it does not seem that this PR changed so much that this could reduce 8.2% of coverage.

[2018-10-31 08:49] sanssecours commented on #2289
I changed

- the “Coverage Threshold for Failure” to 60 %, and
- the “Coverage Decrease Threshold for Failure“ to 10%

at https://coveralls.io/github/ElektraInitiative/libelektra/settings. If you want you can increase/decrease these values even further.

[2018-10-31 08:49] #2289 closed

[2018-11-06 06:17] ingwinlu commented on #160
i restarted the docker registry and run a cleanup manually. hopefully that resolved any build issues with the website image.

[2018-11-09 15:09] markus2330 opened #2296 "hide preloaded keys in ksLookup (optimization)"
Idea: allow skipping keys in ksLookup using metadata `skip`.

this way we could avoid returning unwanted keys to the user (preloaded keys to allow mmap/opmphm optimizations)

[2018-11-17 16:35] kodebach opened #2297 "libglobbing does not support escaped slashes"
# Problem
Currently the new libglobbing does not support escaped slashes. This is because the library relies on, `fnmatch(3)` with the flags `FNM_NOESCAPE` and `FNM_PATHNAME` enabled.

# Possible Solution
Instead of `fnmatch` we could use `regex.h`. This would require translating the globbing expressions into regular expressions. Additionally we would need to escape any of the regex special charac

[2018-11-17 18:48] markus2330 commented on #2252
Error log is:

[code]

[2018-11-18 09:29] markus2330 commented on #2297
Thank you! Yes, I like the regex idea. It also has advantages for other tools (like a "mmv"-like functionality). And it is in general very useful for external tools if we can specify a regex.

The regex does not seem to be complete, though. Single backslashes are generally allowed (to be used literally) but in some situations they are used for escaping (., %), see also src/libs/elektra/keyname.c

[2018-11-18 11:00] markus2330 commented on #160
@ingwinlu thank you for the maintenance work!

Unfortunately the WebUI stage fails quite reliably, e.g. [321](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/321/pipeline) or [320](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/320/pipeline/) (failed even earlier but also when pulling WebUI?).

I am more and more co

[2018-11-18 17:21] markus2330 opened #2299 "public docker registry"
The public docker registry does not seem to be available or the release notes contain a typo?

[code]

[2018-11-18 17:38] #1377 closed

[2018-11-18 18:29] ingwinlu commented on #2299
[code]

[2018-11-18 18:42] #2299 closed

[2018-11-18 18:42] markus2330 commented on #2299
Thank you for the quick reply! I fixed the release notes!

[2018-11-18 20:36] markus2330 commented on #676
Elektra 0.8.25 was released!

https://www.libelektra.org/news/0.8.25-release

@ElektraInitiative/elektradevelopers please share on social media

[2018-11-19 14:49] kodebach commented on #2297
Yes the regex would be compiled for every call of `elektraKeyGlob`. But if you want to match against many keys you should really call `elektraKsGlob`, which could internally be optimised to only compile the regex pattern once.

According to [this](https://www.boost.org/doc/libs/1_54_0/libs/regex/doc/vc71-performance.html) its more that POSIX `regex.h` is badly optimized.

Which is why I now think,

[2018-12-10 15:23] markus2330 opened #2302 "ruby plugin: compilation fails for OpenWRT"
See https://github.com/openwrt/packages/pull/7610 the compilation of the static variant of the ruby plugin fails for OpenWRT.

A possible solution is to use ONLY_SHARED which would disable the static (and full) build altogether.

@BernhardDenner What do you think?

[2018-12-13 10:35] markus2330 commented on #2222
Were you able to reproduce the issue?

[2018-12-13 10:37] markus2330 commented on #2213
@waht This even happens more often than "sporadically". Also on travis https://travis-ci.org/ElektraInitiative/libelektra/jobs/466603159 Can you please make the tolerances larger so that the test case stops failing sometimes?

[2018-12-13 10:41] markus2330 commented on #2163
@ingwinlu Thank you for the improvements! Seems like we are happy now.

[2018-12-13 10:41] #2163 closed

[2018-12-13 10:42] markus2330 commented on #2168
I am afraid the reason for this is that my local KDB is now too big. Hopefully the mmap storage will improve this.

[2018-12-13 10:42] #2168 closed

[2018-12-13 10:47] markus2330 commented on #2092
@sanssecours Is this already fixed?

[2018-12-13 10:53] markus2330 commented on #1880
The highlevel API is now progressing again. #2293

[2018-12-13 10:53] #1880 closed

[2018-12-13 12:07] sanssecours commented on #2092
Not as far as I can know. I do not think we have a build job that uses `-std=c99` yet.

[2018-12-13 13:14] markus2330 commented on #2092
And the -Werror?

[2018-12-13 19:58] sanssecours commented on #2092
The only build job that does **not** use `-Werror` is `debian-oldstable-full`.

[2018-12-14 17:07] kodebach opened #2303 "Compiling with clang on Windows"
As discussed, I tried to compile Elektra on Windows using clang.

I started with the current MinGW config:

[code]

I then made the following adjustments:
- I set `-DBINDINGS=-ALL` and `-DTOOLS=""` (getopt is needed for the kdb tool but doesn't exist on windows)
- I also set `-DENABLE_OPTIMIZATIONS=OFF` (not sure why but with optimizations enabled there were linker errors for some of the opmphm fu

[2018-12-14 17:49] markus2330 commented on #2303
Thank you so much for trying this out!

Maybe you can create a PR with these changes in case someone else wants to pick this up. (the MSC specific lines should be in kdbos.h instead of kdb.h)

The linker error: is this maybe a problem of `-fleading-underscore`?

Command-line args: Of course we will switch to your implementation of command-line arguments once   #1252 is ready :+1: But it would be b

[2018-12-17 12:43] markus2330 opened #2304 "kdb export csvstorage no output if parentKeys are missing"
## Steps to Reproduce the Problem

[code]

## Expected Result

[code]

## Actual Result

No output

## Workaround

Create parentKeys:
[code]

## Implementation Hint

Create a plugin that automatically adds all parentKeys for convenience. This then can be added for kdb export and to make it easier for applications to iterate over keys.

## System Information

- Elektra Version: master

[2018-12-21 19:57] #2213 closed

[2019-01-08 13:27] mpranj opened #2309 "MemCheck: target not detecting memory problems"
The MemCheck target stopped detecting memory problems, as has been verified in #2308.

Similar problem was already mentioned in #1876.

The description will be very brief, I am working on a fix already.

## Steps to Reproduce the Problem

Build libelektra.

[code]

## Expected Result

Return value should be non-zero on memory problems. That way the build systems detect memory problems.

## Actual

[2019-01-08 16:12] markus2330 commented on #2309
Thank you so much for finding this problem and working on it!

[2019-01-08 19:37] mpranj commented on #2309
Two things regarding #2308:

1. Is it ok if we let valgind track child processes too? I think this could make sense.
2. I would like to add parallel jobs to `run_memcheck` as it is already the case for `run_all`. Hope this is fine.

[2019-01-09 08:08] markus2330 commented on #2309
1. yes, it makes sense!
2. yes, thank you!

I think both cases were oversights.

[2019-01-09 15:14] mpranj opened #2310 "testmod_dbusrecv: sporadic fails"
Confirmed sporadic failure on [travis builds](https://travis-ci.org/ElektraInitiative/libelektra/jobs/477332555).

## Log 1

Full log: [log.txt](https://github.com/ElektraInitiative/libelektra/files/2741411/log.txt)

[code]

## Log 2

[code]

## Log 3

**No error.**

## System Information

- Elektra Version: master
- travis macOS: Compiler: gcc Xcode: xcode9.2 C++

[2019-01-09 15:50] mpranj commented on #2309
It seems that quite some valgrind errors appear in the build system. All of them seem to be tied to the builds having `ENABLE_DEBUG=OFF`. When set to ON, the memcheck runs fine on the build servers.

It would make sense if ENABLE_DEBUG would enable debug symbols or so, but according to docu it does not. Can anyone make sense of that?

A lot of errors occur when it is off. It seems that they might

[2019-01-09 15:54] mpranj commented on #2310
Second run of the same job has less errors.

[code]

[2019-01-10 20:40] mpranj commented on #2310
Two more instances of this:

## [macOS: Compiler: clang Xcode: xcode10.1 C++](https://travis-ci.org/ElektraInitiative/libelektra/jobs/477956623)

Full log: [log.txt](https://github.com/ElektraInitiative/libelektra/files/2746992/log.txt)

[code]

## [Linux gcc8](https://travis-ci.org/ElektraInitiative/libelektra/jobs/477956627)

Full log: [log.txt](https://github.com/ElektraInitiative/libelektra/fi

[2019-01-16 10:36] markus2330 opened #2313 "[CM T0] remove VERBOSE"
The macro VERBOSE and defined(HAVE_STDIO_H) does not make sense with the new logger anymore. These parts should be removed. (If there are printf inside, they should be ported to the new logger.)

[2019-01-16 10:46] markus2330 commented on #2309
Thank you for digging deeper here!

ENABLE_DEBUG adds RTLD_NODELETE to dlopen and this might cause the problems: with NODELETE the libraries are not unloaded anymore. I documented this in eaadbb9d4c56ca36c2cc3168d75e6ec48fd238ac

So in as ENABLE_DEBUG is now, it seems to break the memcheck tests. So for now we could simply not run the memcheck tests for ENABLE_DEBUG (but let it run for ENABLE_LOGG

[2019-01-16 11:34] mpranj commented on #2309
Thank you for adding the docs.

This last part is confusing me. Just to reiterate:

- `ENABLE_DEBUG=ON`: memcheck runs **OK**
- `ENABLE_DEBUG=OFF`: memcheck **fails**

So we would have to run memcheck with ENABLE_DEBUG to succeed, which contradicts with what you said above?!

[2019-01-17 17:03] kodebach opened #2316 "Possible bug in elektraMetaArrayToKS"
The documentation for `elektraMetaArrayToKS` gives the following example:

[code]

But the actual implementation also includes the key `"dep"` in the result:
[code]

Is this a bug in the implementation or a mistake in the documentation?

[2019-01-18 09:17] sanssecours opened #2318 "Test Elektra on BSD Based OS"
# Issue Description

It would make sense to compile and test Elektra on one or more [BSD based operating system](https://en.wikipedia.org/wiki/Comparison_of_BSD_operating_systems).

# Possible Options

The following CI services provide at least support for FreeBSD:

- [Cirrus CI](https://cirrus-ci.org)
- [builds.sr.ht](https://builds.sr.ht)

. Both of these CI services are free (for open source pr

[2019-01-18 12:16] kodebach commented on #1252
### Regarding type checking

It absolutely would make sense to check, whether a command-line argument (or environment variable) matches the specified type. But I think we should actually check the whole specification, i.e. also verify `check/path` constraints for example.

The problem is that all these checks are done by plugins in the `kdbSet` stage. Because running `kdbSet` is not feasible for v

[2019-01-18 16:18] kodebach commented on #2318
Cirrus CI also allows Windows builds, which would be useful once #2303 is completed.
It also uses the new [Github Checks API](https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/) which can produce much more detailed results. Though I am not sure how much of that is already supported.

[2019-01-18 17:12] sanssecours commented on #2318
Yep, I also think that Cirrus CI seems to be an interesting option for an additional CI system. I already created a basic [configuration file for Cirrus CI](https://github.com/sanssecours/elektra/blob/🌤/.cirrus.yml) in my fork of Elektra. The first builds of the configuration already show [promising results](https://cirrus-ci.com/github/sanssecours/elektra).

[2019-01-19 17:06] mpranj opened #2320 "MemCheck: fix valgrind tests for ENABLE_DEBUG=OFF"
As mentioned in #2309, we are currently running memory checks with valgrind only for targets with the CMake option `ENABLE_DEBUG=ON`.

It might be desirable to make it work with `ENABLE_DEBUG=OFF`. It _might_ be enough to just fix the valgrind suppressions.

[2019-01-20 07:51] #2318 closed

[2019-01-20 08:00] markus2330 commented on #2318
Thank you both for investigating new CI options!

Windows builds can already successfully be done with mingw, so #2303 is not a blocker for this.

[2019-01-20 08:01] markus2330 commented on #2318
Trying out https://builds.sr.ht/ would also be interesting.

[2019-01-20 09:11] markus2330 commented on #2309
Thank you for reiterating, I actually misunderstood because the behavior is quite unexpected. (I expected the libs to not cleanup because of RTLD_NODELETE but this does not seem to be the problem then.)

Locally, I get also memleaks with ENABLE_DEBUG=ON (when adding --trace-children=yes --leak-check=full):
[code]
which seem to be actual mem-leaks. I wonder why the build server does not find them?

[2019-01-20 09:14] markus2330 commented on #2320
Thank you for reporting!

[2019-01-20 10:48] markus2330 commented on #1252
I think I now understood what you said. Basically, Elektra has the same problem if someone modifies values directly in configuration files, without using Elektra for doing that.

Some of the validation plugins currently do not check during kdbGet, but only during kdbSet, effectively passing wrong configuration to the applications.

I currently (#1291 #868 are older thoughts) think our best way for

[2019-01-20 10:55] sanssecours opened #2321 "KDB: Installed Version of KDB Tool Fails to Load Resolver on FreeBSD"
# Steps to Reproduce the Problem

1. Install Elektra on FreeBSD:

[code]

2. Run the KDB tool:

[code]

# Expected Result

The tool prints a short usage message and a list of available commands.

# Actual Result

The command prints the following output:

[code]

.

# System Information

- Elektra Version: `master`
- FreeBSD 11.2

# Further Log Files and Output

- [Cirrus CI Build](https://cirrus-c

[2019-01-20 12:37] markus2330 commented on #2321
Thank you for reporting the problem!

Most likely it is a RPATH problem (see doc/COMPILE.md). Passing `-DTARGET_PLUGIN_FOLDER="" -DCMAKE_SKIP_INSTALL_RPATH=ON` to cmake should be enough. Then `kdb run_all` should hopefully work.

[2019-01-20 14:04] kodebach commented on #2316
My expectations was just that the documentation agrees with the implementation. I think it is fine either way, as long as it is documented.

I will fix the documentation.

[2019-01-20 14:36] kodebach commented on #1252
We could introduce a new type of plugin that is called after getstorage plugins but before postgetstorage plugins. That way `getopts` would receive the whole configuration and all the check and filter plugins would always receive the results from `getopts`.

We should definitely do those things. I would also suggest a version of `kdb set` that accepts multiple key value pairs, so that a configurat

[2019-01-20 17:22] sanssecours opened #2322 "Network Plugin: Unit Test Fails on FreeBSD"
# Steps to Reproduce the Problem

1. Build Elektra
2. Run `testmod_network`

# Expected Result

The test `testmod_network` runs without any problems.

# Actual Result

The test prints the following error message:

[code]

# System Information

- Elektra Version: `master`
- FreeBSD 11.2

# Further Log Files and Output

- [Cirrus Ci build](https://cirrus-ci.com/task/5666837867003904)

[2019-01-20 17:36] sanssecours commented on #2321
Thank you for the quick response. The additional CMake options did indeed solve the problem.

[2019-01-20 17:36] #2321 closed

[2019-01-20 19:33] sanssecours opened #2323 "Plugin Process: Test for Library and Plugin Stall on FreeBSD"
# Steps to Reproduce the Problem

1. Build Elektra
2. Run `testlib_pluginproces`, `testmod_process` or `testshell_markdown_process`

# Expected Result

After some time the above tests should terminate.

# Actual Result

Neither one of these tests terminates in a reasonable amount time (after 5 minutes or less).

# System Information

- Elektra Version: `master`
- FreeBSD 11.2

# Further Log Files

[2019-01-21 08:08] #2309 closed

[2019-01-21 17:16] markus2330 commented on #1252
Why not directly at getstorage? (So simply as storage plugin)

Yes, that would be very useful. `kdb import` and `kdb fstab` do already such things, see #1188 for discussion about `kdb fstab`.

[2019-01-21 17:22] #1773 closed

[2019-01-21 17:24] markus2330 commented on #2322
Thank you for reporting this problem!

Is "localhost" in /etc/hosts? Maybe we should remove this test?

[2019-01-21 18:30] sanssecours commented on #2322
According to [this Cirrus build](https://cirrus-ci.com/task/5722080373899264): Nope.

That sounds reasonable. Maybe we could include a Markdown Shell Recorder test that checks `/etc/hosts` before it tries to resolve `localhost` instead.

[2019-01-21 18:58] sanssecours commented on #2323
I think [`truss`](https://www.freebsd.org/cgi/man.cgi?query=truss&sektion=&manpath=freebsd-release-ports) should be the right tool to debug this kind of scenarios on FreeBSD. The command `truss bin/testmod_process` produces the [following output on Cirrus CI](https://cirrus-ci.com/task/5162310709542912):

[code]

.

[2019-01-22 13:48] markus2330 commented on #2322
Thank you, I like your suggestion.

[2019-01-23 08:05] sanssecours opened #2328 "IO GLIB: Binding Fails to Compile on macOS"
# Steps to Reproduce the Problem

1. Install GLIB:

[code]

2. Generate the build system:

[code]

3. Build Elektra:

[code]

# Expected Result

The last command should build Elektra without any problems.

# Actual Result

The linking step of `libelektra-io-glib` fails:

[code]

.

# System Information

- Elektra Version: `master`
- macOS `10.14.2`

# Further Log Files and Output

- [Travis build

[2019-01-23 12:38] markus2330 commented on #2328
Thank you for reporting this problem!

Does maybe "brew install gettext" fix the problem?

https://stackoverflow.com/questions/21370363/link-error-installing-rcpp-library-not-found-for-lintl

[2019-01-23 12:49] sanssecours commented on #2328
Not as far as I can tell. I already installed `gettext` (via Homebrew) before I opened this issue:

[code]

.

[2019-01-23 12:59] markus2330 opened #2330 "Use TOML as default storage"
The current default format "dump" is not suitable to be edited by hand (e.g. by using `kdb editor`), which is a usability problem. To improve the situation, YAML can be used. The new storage plugin should fulfill following properties (ordered by priority):

1. it should round-trip (if a KeySet is serialized and then parsed again, we end up with an identical internal representation)
2. drop-in repl

[2019-01-23 15:38] sanssecours commented on #2328
Nope. To me it looks like the base macOS images just contain more packages out of the box. For example, until very recently [Xerces and GLIB were not part of the base systems](https://travis-ci.org/ElektraInitiative/libelektra/jobs/482933196).

[2019-01-23 15:50] #2316 closed

[2019-01-23 16:24] markus2330 commented on #2328
So the problem is only caused because now glib adds a binding which before was not built and tested?

@waht Do you have an idea?

Otherwise we maybe simply disable the binding for Mac OS X?

[2019-01-23 16:25] #253 closed

[2019-01-23 16:26] #388 closed

[2019-01-23 16:27] #825 closed

[2019-01-23 16:49] markus2330 opened #2332 "Create Tutorial for End Users"
The tutorial should explain, based on the example of LCDproc, how an application (LCDproc) can be configured with Elektra. Following ways should be part of the tutorial:

- [ ] "kdb editor"
- [ ] "kdb set"
- [ ] "kdb qt-gui" (as embedded video?)
- [ ] "kdb run-web" (as embedded video?)

What the tutorial describes should be useful (LCDproc users might actually want to reconfigure as described). Id

[2019-01-23 16:49] sanssecours commented on #2328
As far as I can tell, yes.

[2019-01-23 16:52] markus2330 opened #2333 "Improve Error Messages"
Currently, error messages are not always consistent and not always user friendly. The error framework and messages should be reworked to reach better usability.

Goals:

- [ ] Tutorial of how to use Elektra's error messages.
- [X] Error message guidelines
- [X] API users should get clear information what to do with an error (try kdbSet() again, conflict: do kdbGet() again, try kdbSet() after fixin

[2019-01-23 16:58] markus2330 commented on #1266
I made following two points from above obsolete:

- [X] tool to transform Config::Model to Elektra's validation + enrich it with more validation
- [X] allow to directly display values from KDB on a LCD

rationale: 1. @Piankero already wrote the specification, 2. is out of scope

[2019-01-23 17:00] #2231 closed

[2019-01-23 17:00] markus2330 commented on #2322
@sanssecours thank you for fixing! Is anything else left over here?

[2019-01-23 18:01] sanssecours commented on #2322
I do not think so.

[2019-01-24 07:08] #2322 closed

[2019-01-24 07:08] #2323 closed

[2019-01-25 11:44] markus2330 opened #2336 "Make reformating easier"
The jenkins buildserver runs tests/shell/check_formatting.sh at an early stage but:

- [ ] it might not run all of the formatting checks (cmake-format or shfmt might not be installed)
- [ ] it does not give help how to apply this patch locally
- [ ] it does not give help how to run the checks locally

[2019-01-26 10:15] markus2330 opened #2339 "Integrate Badges in Webpage"
Below "What's new?" there is some space where we could put the badges (already included in main README.md).

See src/tools/rest-frontend/public/pages/main/website/home.html line 137

[2019-01-26 13:43] markus2330 commented on #47
The discussion went off-topic. Please reopen new issues if you are interested in a xfconf plugin or open a PR when GI-bindings of Vala are finished (simply copy CMake of other GI-bindings should suffice, adding tests would of course be better).

[2019-01-26 13:43] #47 closed

[2019-01-26 13:45] markus2330 commented on #51
I close this issue as dump and xmltool are soon only relevant as legacy formats. (See #2330 #1327)

[2019-01-26 13:45] #51 closed

[2019-01-26 13:46] markus2330 commented on #106
Seems like we are not able to properly maintain the ini plugin. I close this issue.

[2019-01-26 13:46] #106 closed

[2019-01-26 14:00] markus2330 commented on #185
@sanssecours Maybe you can also try out AFL for the new storage plugin #2330?

[2019-01-26 14:01] markus2330 commented on #203
@sanssecours be aware of these problems when playing around with augeas.

[2019-01-26 14:05] markus2330 commented on #107
See TODO in src/merging/metamergestrategy.cpp line 83

[2019-01-26 14:06] markus2330 commented on #215
I close the issue as it is not very clear what needs to be done here.

[2019-01-26 14:06] #215 closed

[2019-01-26 14:11] sanssecours commented on #185
I already wrote that I will check the YAML storage plugins with AFL in the current version of my thesis. That said, it really depends on the other parts of the comparison, if I will have time to test the plugins with AFL.

[2019-01-26 14:19] markus2330 commented on #185
Maybe checking the final YAML storage is enough. Doing these checks for all the plugins is low priority.

We should add the info if we used a fuzzer in the contract, see #666

[2019-01-26 14:40] markus2330 commented on #667
I think we now have done enough merchandising for now.

[2019-01-26 14:40] #667 closed

[2019-01-26 14:42] markus2330 commented on #678
Thanks to @sanssecours we fixed the problems with the shell recorder.

[2019-01-26 14:42] #678 closed

[2019-01-26 14:44] markus2330 commented on #682
We now have some translations. It is low priority to add more translations.

[2019-01-26 14:44] #682 closed

[2019-01-26 14:48] markus2330 commented on #684
We will implement a new approach as suggested by Vid.

[2019-01-26 14:48] #684 closed

[2019-01-26 14:53] markus2330 commented on #741
Closed because of low priorty.

[2019-01-26 14:53] #741 closed

[2019-01-26 14:53] markus2330 commented on #792
Closed because of low priority.

[2019-01-26 14:53] #792 closed

[2019-01-26 14:56] markus2330 commented on #1249
Thank you for the discussion.  #734 is the issue for the implementation.

[2019-01-26 14:56] #1249 closed

[2019-01-26 14:59] markus2330 commented on #868
@kodebach Is this maybe a byproduct of the checks done within the high-level API?

[2019-01-26 15:01] markus2330 commented on #898
@petermax2 Any progress here? Would be great to see better usability for the crypto plugin!

[2019-01-26 15:33] markus2330 opened #2341 "fcrypt / gpgme / crypto: test case fails"
Fcrypt test cases failed on master:

[code]

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/361/pipeline

@petermax2 any idea?

[2019-01-26 15:51] markus2330 commented on #2341
Seems like gpgme is also affected:

[code]

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-1950/34/pipeline

[2019-01-26 16:20] sanssecours opened #2342 "Augeas: Plugin Database Test Fails on macOS (Cirrus CI)"
# Steps to Reproduce the Problem

1. Replace the line

[code]

   with

[code]

   in [`.cirrus.yml`](https://master.libelektra.org/.cirrus.yml).

# Expected Result

The test suite executes without any problems.

# Actual Result

The test `testtool_plugindatabase` reports the following error:

[code]

.

# Additional Information

I can not reproduce this problem on my system.

# System Information

[2019-01-26 17:12] markus2330 commented on #2342
Maybe LIBAUGEAS_PREFIX is wrongly set?

The check basically only says that `LIBAUGEAS_PREFIX "/share/augeas/lenses/dist/*.aug"` matches no files.

[2019-01-26 19:32] petermax2 commented on #2341
to be honest, no. The return codes are not documentes, but they could mean:

    ./src/gpg-error.h.in:968:#define GPGRT_LOG_RUN_DETACHED 256
    ./src/gpg-error.h.in:1175:#define ARGPARSE_FLAG_STOP_SEEN 256  /* Set to true if a "--" has been seen. */

I could not find the meaning of `256` by skimming through the code.

Also I can not reproduce the problem locally, as usual. :disappointed:

[2019-01-26 19:41] markus2330 commented on #2341
Thank you for taking a look!

Reproducing will be rather difficult, it seems to only occur sporadically and only on the master branch (@sanssecours or did you see it also within a PR?).

Who prints
[code]

and

[code]
?

[2019-01-26 19:44] markus2330 commented on #960
I do not see these warnings anymore.

[2019-01-26 19:44] #960 closed

[2019-01-26 19:46] petermax2 commented on #2341
Maybe! Depending on the implementation of libassuan.

[2019-01-26 19:58] markus2330 commented on #1039
Done, all bindings are listed in the README.

[2019-01-26 19:58] #1039 closed

[2019-01-26 20:00] markus2330 commented on #1040
I close the issue as it does not seem like the issue can be fixed within our source.

[2019-01-26 20:00] #1040 closed

[2019-01-26 20:01] markus2330 commented on #1042
@petermax2 Do you maybe want to implement this?

[2019-01-26 20:08] markus2330 commented on #1074
See also #1080 about expections for dir/ mountpoints.

Maybe user/ mountpoints should be in user/elektra and dir/ mountpoints in dir/elektra?

[2019-01-26 20:10] markus2330 commented on #1083
@Piankero if something of this text is not yet documented within the repo, can you please do that?

[2019-01-26 20:11] markus2330 commented on #1086
We migrated to maven.

[2019-01-26 20:11] #1086 closed

[2019-01-26 20:13] markus2330 commented on #1108
I will close the issue: We are happy with the current look of the webpage.

[2019-01-26 20:13] #1108 closed

[2019-01-26 20:15] markus2330 commented on #1110
These problems seem to be resolved now. #666 is about adding new infos/status.

[2019-01-26 20:15] #1110 closed

[2019-01-26 20:16] markus2330 commented on #1115
Maybe we should migrate them to YAML, see #2330

[2019-01-26 20:19] markus2330 commented on #1129
This should be irrelevant for YAML.

[2019-01-26 20:19] #1129 closed

[2019-01-26 20:20] markus2330 commented on #1136
Maybe duplicate of #404

[2019-01-26 20:43] markus2330 commented on #1210
Seems to work now.

[2019-01-26 20:43] #1210 closed

[2019-01-26 20:45] #1225 closed

[2019-01-26 20:47] petermax2 commented on #1042
Yes, you can assign me if the implementation is not time critical. At the moment I have not so much spare time.

[2019-01-26 20:56] markus2330 commented on #1255
Workarounds are documented in doc/COMPILE.md

[2019-01-26 20:56] #1255 closed

[2019-01-26 20:58] #1269 closed

[2019-01-26 21:00] markus2330 commented on #1276
This was most likely an installation problem. Please reopen if it appears again.

[2019-01-26 21:00] #1276 closed

[2019-01-26 21:06] markus2330 commented on #1306
With `--strategy preserve` this works now for normal mounts.

[2019-01-26 21:09] markus2330 commented on #1331
Changing these fundamental terms is too much work. It also does not provide a benefit to `#define` in cases of clashes.

[2019-01-26 21:09] #1331 closed

[2019-01-26 21:33] #1176 closed

[2019-01-26 21:33] #1212 closed

[2019-01-26 21:36] markus2330 opened #2344 "highlevel: header file names"
Currently, we install the following files:
[code]

Thus we usually recommend to put usr/include/elektra into the include path, errors.h might clash with other header files.

We should either:

- implement #817, or
- move them to usr/include/elektra/elektra/errors.h

[2019-01-26 23:00] kodebach commented on #2344
That was the intended path. I will fix the CMake configuration.

[2019-01-27 06:11] markus2330 commented on #2344
Thank you!

Please

- also move the header files in the source repo in a subdir, like done with kdbio.
- also fix the installation of the files in the debian branch (otherwise master will fail to build).
- build and run examples/highlevel on the buildserver, so that we can be sure it actually works*.

*I currently get
[code]

[2019-01-27 16:54] BernhardDenner opened #2347 "doc.libelektra.org/api/latest/html/ not latest"
https://doc.libelektra.org/api/latest/html/ shows version 0.8.23 whereas https://doc.libelektra.org/api/current/html/ shows 0.8.25.

According to the docu latest point to the current master build.

[2019-01-28 14:22] kodebach opened #2348 "Maximum array size"
Currently there is a lot of conflicting information in Elektra regarding the maximum size of an array.

- `ELEKTRA_MAX_ARRAY_SIZE` states "a 32bit number has a maximum of 10 digits" therefore it is implied the largest allowed index is `UINT32_MAX` = 4294967295.
- `elektraWriteArrayNumber` requires the used buffer to be at least `ELEKTRA_MAX_ARRAY_SIZE` in size, but accepts a `kdb_long_long_t` for

[2019-01-28 16:02] #2328 closed

[2019-01-28 16:18] markus2330 commented on #2348
Thank you for your pedantic work and finding all these inconsistencies.

I think we should consistently use our own types. Furthermore, 64 bit arrays might be useful. So we should go with kdb_long_long_t (so largest index would be INT64_MAX).

Btw. as @manuelm found out, _t is reserved for POSIX types. So we might want to drop the _t at the end? It is, however, [done nevertheless](https://github.c

[2019-01-28 16:25] markus2330 commented on #2347
Thank you for reporting this problem!

I wonder where this "latest" comes from. In https://github.com/ElektraInitiative/doc/tree/master/api it did not exist a few minutes ago. I added the link now and it seems to have fixed the problem.

[2019-01-28 16:51] markus2330 commented on #1042
Thank you for working on this!

The actual reason to do this, is that every plugin has something like CRYPTO_PLUGIN_FUNCTION available and that CRYPTO_PLUGIN_FUNCTION is not needed anymore.

Btw. ARG_COMPILE_DEFINITIONS cannot be modified (due to restore_variable), so simply add further definitions in cmake/Modules/LibAddPlugin.cmake line 155 (where COMPILE_DEFINITIONS are defined).

[2019-01-28 17:03] markus2330 commented on #1497
This question is answered in detail in the bachelor thesis of @waht!

@waht thank you for your excellent work!

[2019-01-28 17:03] #1497 closed

[2019-01-28 18:08] kodebach commented on #2348
As long as we also keep the `kdb_` prefix it should be fine for now.

[2019-01-29 16:35] #2342 closed

[2019-01-29 16:39] markus2330 commented on #2344
Any progress here? I would need the fix in able to test the high-level API.

[2019-01-29 18:49] markus2330 commented on #2124
@tom-wa any progress here?

[2019-01-29 22:21] kodebach commented on #2344
I just created the PR.

[2019-01-30 06:39] sanssecours opened #2351 "Jenkins: Build Job for `master` Branch Fails"
# Problem Description

I am not exactly sure why, but since one of the latest updates the [build job for the `master` branch is “unstable”](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/367/pipeline). As far as I can tell building the Debian package fails, although all subtasks of the stage “Build artifacts” seem to be successful.

[2019-01-30 06:41] markus2330 commented on #2351
Thank you for reporting this problem! @kodebach is working on this, see #2350

[2019-01-30 14:40] kodebach opened #2352 "KDB_DB_SPEC vs KDB_DB_SPEC_REAL"
I know `KDB_DB_SPEC_REAL` is the value of the `-DKDB_DB_SPEC` option from CMake and `KDB_DB_SPEC` is `${CMAKE_INSTALL_PREFIX}/${KDB_DB_SPEC_REAL}`.
So it seems `KDB_DB_SPEC` should only be used if `KDB_DB_SPEC_REAL` is a relative path.

The problem is the `resolver` plugin (the only usage of `KDB_DB_SPEC_REAL`) always uses it like this:
[code]
This code breaks if CMake is called with an absolute p

[2019-01-30 16:20] markus2330 commented on #2352
Yes: we should either fix this or reject path names starting with /. In your concrete case you could also use `~.config/kdb/spec` but maybe sometimes an absolute path is useful.

Please feel free to create a PR for the CMake fix so that KDB_DB_SPEC does not get CMAKE_INSTALL_PREFIX prefixed if it is already absolute. But this most likely will also require some improvements in the test cases. See a

[2019-01-30 20:42] markus2330 commented on #1042
Great that you have progress!

[2019-01-31 08:51] markus2330 commented on #2351
@BernhardDenner @ingwinlu Do you have an idea why this job is unstable?

I thought that unstable refers to failing test cases but this does not seem to be the case?

[2019-01-31 10:11] markus2330 opened #2353 "bring the debian folder into master"
As discussed in #2350:

The setup was as recommended by `gbp buildpackage` (at the time when I did it). But I fully agree it causes many problems (also the debian/copyright).

Following issues need to be resolved:

- [ ] We need to find a way how we can bring the debian folder into the master branch, and still keep the build system happy (so that it still creates Debian packages),
- [x] The files

[2019-01-31 10:57] kodebach opened #2354 "Shell completions don't respect CMAKE_INSTALL_PREFIX"
## Steps to Reproduce the Problem

Set `CMAKE_INSTALL_PREFIX` to anything but, `/usr`.

## Expected Result

`make install` should not add or modify any files outside of of the `CMAKE_INSTALL_PREFIX` directory.

## Actual Result

`/usr/share/bash-completion/completions/kdb` is added/modified (if permissions allow it, an error occurs otherwise).

## More Info

The offending CMake file seems to be `s

[2019-01-31 12:49] markus2330 commented on #2354
Thank you for reporting this problem!

Did you see the option INSTALL_SYSTEM_FILES? I think it does what you want need.

[2019-01-31 13:34] kodebach commented on #2354
`INSTALL_SYSTEM_FILES` simply doesn't install the files at all. What if a user wants to set `CMAKE_INSTALL_PREFIX` to `~/.local` to get a user-local installation? Bash-completion [supports this](https://github.com/scop/bash-completion/blob/master/README.md#faq) (3rd question), so we should leave the possibility open.

[2019-01-31 14:05] markus2330 commented on #2354
For user-local installation we provide a script scripts/install-sh-completion.in

CMake is not designed to support full installations into home directories, I do not think we should try to support that (hence INSTALL_SYSTEM_FILES).

[2019-01-31 22:43] #2222 closed

[2019-02-01 07:44] sanssecours commented on #2351
Just a minor update: Currently the build for new pull requests is not unstable any more, but [fails printing the following error message](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2356/2/pipeline):

[code]

.

[2019-02-01 09:48] kodebach commented on #2351
The error message is the expected behaviour until #2350 is merged, because some file where moved and the debian branched needed updates.

[2019-02-01 11:07] #2344 closed

[2019-02-01 11:07] #2348 closed

[2019-02-01 11:15] markus2330 opened #2358 "Build Server: CMAKE_INSTALL_PREFIX=/usr"
As found during #2350, it seems like we use non-standard installation paths.

Is there no way to use a standard `CMAKE_INSTALL_PREFIX` and avoid the `-Wl,-rpath` in the examples? If we cannot use `CMAKE_INSTALL_PREFIX=/usr`, an entry in `/etc/ld.so.conf.d/` should fix the problem?

[2019-02-01 11:15] markus2330 commented on #2351
I merged #2350. Hopefully, master now gets stable again.

[2019-02-01 12:36] markus2330 commented on #2351
Seems like we have a different problem now:

https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/373/pipeline

Seems like AddressSanitizer/LeakSanitizer now find problems.

@sanssecours It seems to occur since  #2346?

@kodebach Why didn't it show up in your PR?

I triggered a rebuild. Maybe it is related to an upgrade in Debian unstable?

[2019-02-01 12:39] kodebach commented on #2358
## Current configuration

- Cirrus CI jobs use the default `CMAKE_INSTALL_PREFIX=/use/local`
- Travis CI Linux jobs use a local folder inside the build directory
- Travis CI macOS jobs use the default
- Jenkins builds use a local folder inside the Workspace
- I don't think every build/job does install Elektra

(@sanssecours, @ingwinlu please correct me, if am wrong)

## Things to consider

- Norma

[2019-02-01 12:43] sanssecours commented on #2351
That would be my guess too.

[2019-02-01 13:11] kodebach commented on #2336
We could set up a [Probot instance](https://probot.github.io/) on our own server. Probot could react to pull requests similarly to our CI systems. However, Probot would just run our formatting check and in case something is wrong report that using the Checks API. It should also be possible to create a button for automatically reformatting the code in the details tab of the check run.

Alternativel

[2019-02-01 15:13] kodebach commented on #2351
In case #2359 isn't the solution to this problem: I built Elektra using `scan-build` and found [quite a lot of problems](https://imminent-veil.glitch.me/), some of which are related to memleaks.

[2019-02-01 15:25] markus2330 commented on #2336
Thank you for looking into it!

[2019-02-01 15:31] markus2330 commented on #2358
Yes, Elektra should be a fully relocatable package.

Currently, this can be easily done by setting TARGET_PLUGIN_FOLDER to an empty string or by adding the plugin folder to /etc/ld.so.conf

The rpath solution could be fixed (to be relocatable) by using `$ORIGIN` (something similar is also available for Mac OS X). rpath has the advantage that Elektra's plugins do not pollute the standard library pa

[2019-02-01 18:18] sanssecours commented on #2351
I think I found the problem. The build job `doc` (part of “Full build”) fails in the step “Send build artifacts over SSH”:

[code]

.

[2019-02-01 18:38] petermax2 commented on #1042
@markus2330  the build server reported

    Caught the following exception: null

Is this a know bug?

[2019-02-02 07:21] markus2330 commented on #2351
@BernhardDenner Do you have an idea how this could have been happened and how to fix it?

Maybe fixing of the link (#2347) caused that? Or the changes because of the certificates?

[2019-02-02 08:54] petermax2 commented on #1042
### Progress so far

#2360 : The CMake module `add_plugin` provides the following compiler definitions for every plugin:

- **ELEKTRA_PLUGIN_NAME**: the plugin name (including the variant if any) as string
- **ELEKTRA_PLUGIN_NAME_C**: the plugin name without quotes, so it can be used to construct function names, that depend on the plugin name/variant.

The removal of unnecessary parameters of `ELE

[2019-02-02 09:43] BernhardDenner commented on #2347
By pointing `latest` to the `current` docu, the build job for master will overwrite the current stable release docu, since we still use the same version number on master. I've removed the symlink again and created a separate `latest` directory.

Hope that fixes also #2351

[2019-02-02 09:45] BernhardDenner commented on #2351
I've created a separate directory for `latest` (docu from master build) (see #2347). This should fix the "Permission denied" problem.

[2019-02-03 00:38] kodebach opened #2361 "Small change to elektraGetOpts"
Currently the primary function of libopts has this signature:
[code]
Also currently `errorKey` can be any Key whatsoever, because it is only used for error reporting (and the `posixly` metadata). If we instead also used it as a parent key, i.e. we ignore any key in `ks` which is not below `errorKey`, we could get rid of the requirement to pass only the specification for the currently running appli

[2019-02-03 08:43] markus2330 commented on #2361
Thank you, I like the proposal very much! As it is only an extension, and not an incompatible API change, it is not absolutely necessary to have it before the release.

The important thing is that we can optimize it internally, without bothering users of Elektra. To see if "ksAppend" or "ksCut" is an actual bottleneck, we would need a benchmark, though. But it is good if we do the "ksCut" within t

[2019-02-04 19:38] markus2330 opened #2363 "Linker flags for highlevel API"
pkg-config and also `examples/highlevel/README.md` recommend to link against `elektra` but this library is deprecated. (It contains core+kdb for legacy applications that existed before our library split.)

Furthermore, the order of the linker flags seem to be incorrect, they currently are `-lelektra-kdb -lelektra-ease -lelektra-highlevel` but highlevel should be first, and then the libs to provide

[2019-02-05 12:23] markus2330 opened #2367 "provide package config files for full/static?"
Currently package config (.pc) files are only provided for "full"/"static" if "shared" respective "full" are *not* selected in the build configuration.

It might be useful to provide three separate package config files for the three build variants. Possible tasks:

- [ ] generate 3 pc files in cmake/CMakeLists.txt
- [ ] generate 3 pc files in src/libs/highlevel/CMakeLists.txt
- [ ] -lm -pthread in

[2019-02-05 16:03] markus2330 commented on #1689
problem does not occur anymore

[2019-02-05 16:03] #1689 closed

[2019-02-05 17:22] markus2330 commented on #2310
As written in #2364:

[2019-02-05 21:10] #2361 closed

[2019-02-05 21:12] #2363 closed

[2019-02-06 09:57] markus2330 opened #2370 "network test fails"
## Steps to Reproduce the Problem

Install Elektra and run:

[code]

## Expected Result

Success

## Actual Result

[code]

## System Information

- Elektra Version: master
- Debian Stretch

## Further Log Files and Output

[2019-02-06 09:59] markus2330 opened #2371 "yaypeg test fails"
## Steps to Reproduce the Problem

Install Elektra and run:

[code]

## Expected Result

Success

## Actual Result

[code]

## System Information

- Elektra Version: master
- Debian Stretch

## Further Log Files and Output

[2019-02-06 10:09] markus2330 opened #2372 "kdb run_all does not execute external tests"
## Steps to Reproduce the Problem

Install Elektra and run:

[code]

## Expected Result

It runs all test cases.

## Actual Result

[code]

## System Information

- Elektra Version: master
- Debian Stretch

## Further Log Files and Output

`kdb list-tools | grep external`

has no output, so it seems like the external_check is not installed (is not part of the Debian package).

So there are actuall

[2019-02-06 10:15] markus2330 commented on #2332
Any progress here?

[2019-02-06 10:18] markus2330 commented on #1674
Seems like the workaround closes this issue.

[2019-02-06 10:18] #1674 closed

[2019-02-06 10:21] Piankero commented on #2332
Will be done from Sunday to Tuesday :)

[2019-02-06 10:24] markus2330 commented on #2191
Closed as won't fix

[2019-02-06 10:24] #2191 closed

[2019-02-06 10:24] #2075 closed

[2019-02-06 10:25] markus2330 commented on #911
We now have regressions test with musl (Alpine Linux).

[2019-02-06 10:25] #911 closed

[2019-02-06 10:39] kodebach commented on #2372
Is there any reason we aren't using CPack for building the debian package? That way `make install` would always use the same files as the debian package.

[2019-02-06 10:46] markus2330 opened #2373 "Add file + line numbers on failures"
## Steps to Reproduce the Problem

Run an application that uses the high-level API but there is some specification mismatch.

## Expected Result

Output of where the error occurred.

## Actual Result

[code]

## System Information

- Elektra Version: master

## Implementation details

As most of the API (in particular elektraGet*) are macros, it should be easy to get file + line number information

[2019-02-06 10:56] markus2330 commented on #2372
We used CPack a long time ago. It might still work, the code is still there: cmake/ElektraPackaging.cmake

Afaik CPack cannot produce modular packages (everything is put into one package) and this package would be huge with a ridiculous amount of dependencies. E.g. elektra-dbg alone is > 70 MB, which is enormous compared to the ~100k base libraries.

I already have many installations where only pa

[2019-02-06 11:12] kodebach commented on #2372
It should be possible to use [CPack components](https://cmake.org/cmake/help/latest/module/CPackComponent.html) to produce multiple packages. Might be worth investigating for #2353.

[2019-02-06 11:13] markus2330 opened #2374 "examples/highlevel/README.md not working"
## Steps to Reproduce the Problem

Run commands as described in examples/highlevel/README.md

[code]

## Expected Result

Successful execution of application.

## Actual Result

[code]

## System Information

- Elektra Version: master

## Further Log Files and Output

[code]

[code]

[code]

[2019-02-06 11:45] markus2330 commented on #2353
@kodebach wrote in #2372:

Yes, if @pinotree does not react and we need to reimplement the packages, this sounds like a viable option. This feature did not exist several years ago but seems to be now fully supported also with Debian packages (see https://cmake.org/cmake/help/v3.6/module/CPackDeb.html). The advantage would be, that we also get packages for Windows and Mac OS X. (See also #435, @bek

[2019-02-06 11:49] markus2330 commented on #2353
And one more thing: If we build the packages from within CMake, we can also use the dependencies as documented within plugins, see #1016 for the proposal.

[2019-02-06 11:53] kodebach commented on #2373
Actually only `elektraGet` and `elektraSet` which are used together with the code generated tags are exposed to the user as macros. The typed versions (`elektraGetLong` etc.) are normal functions.

Personally I think file+line number is debug information that shouldn't concern the user. The current error message tells the user everything they need to know to fix the error. Developers can simply de

[2019-02-06 11:59] markus2330 commented on #2373
Thank you for the quick response. If they are not macros, it is not feasible anyway.

This approach usually brings a lot of inconsistencies between applications. Something like "etrace", a tool that logs all elektraGet/elektraSet invocations would be handy for end-users to find out about which configuration settings are accessed by an application.

[2019-02-06 11:59] #2373 closed

[2019-02-06 12:24] sanssecours commented on #2371
I can not reproduce this bug on [macOS](https://travis-ci.org/ElektraInitiative/libelektra/jobs/489420151#L2851). On [Ubuntu](https://travis-ci.org/sanssecours/elektra/jobs/488906348#L2124) everything seems to be fine too. I tried the following, using the [Docker image for Debian Stretch](https://github.com/ElektraInitiative/libelektra/blob/master/scripts/docker/debian/stretch/Dockerfile), which a

[2019-02-06 12:30] sanssecours commented on #2353
Sounds like using CPack would improve the current situation, so I am definitely a proponent of switching the packaging build system.

[2019-02-06 12:41] markus2330 commented on #2371
Is it possible that the plugin simply is not installed? (#2353)

[2019-02-06 12:59] sanssecours commented on #2371
That might be possible. At least a [message in a recent build of PR #2369](https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/PR-2369/5/pipeline/#step-1508-log-808) indicates that there might be problems in the package build step concerning the YAy PEG plugin:

[code]

. Jenkins also reports the [same message for the `master` branch](https://build.libelektra.org/jenk

[2019-02-06 13:05] kodebach commented on #2374
I can't reproduce this, the only thing I noticed is that `kdb stash` might be broken.
After executing `kdb stash`, `kdb file` still reported the same file as before and `kdb get` produced the same value as before, so the kdb is clearly not in a clean state. Also it removes things like `system/info/elektra/constants` that should clearly always be present.

The only reason for this bug I can think i

[2019-02-06 19:22] markus2330 commented on #2374
You are right, can you please report the bug? (If it is different to  #1601)

Your comment lead me to the right track. The problems seems to be that system/elektra/globalplugins is not purged by `kdb stash`.

Try importing:
[code]

This seems to cause the problem. At least for me the problem vanished after I did `kdb rm -r system/elektra/globalplugins`.

@mpranj Do you have an idea why the global

[2019-02-06 20:21] kodebach commented on #2374
Yes, that results in the error.

Turns out I just didn't delete the mounted file properly.

Regarding `kdb stash`: see #1601

That aside, as far as I am concerned this is not a bug in the highlevel example, so we can close this issue.

[2019-02-06 20:21] kodebach commented on #1601
You might need to execute it as root, because it's just an alias for other kdb calls that may need root permissions (e.g. `kdb rm -r system`). For some reason stderr is redirected to /dev/null (git say you wrote `kdb stash` even though the author is marked as "Thomas Waser").

Additionally (at least on my system) removing `2> /dev/null` revealed the following error message:
[code]

[2019-02-06 21:39] markus2330 commented on #1601
Thank you, obviously this cannot work. I do not know why this redirection was done, it does not seem to be useful?

Supporting --without-elektra for `kdb rm -r system` and then using umount/global-umount to unmount everything should be the most reliable way.

[2019-02-06 21:41] markus2330 commented on #2374
No, it is not a bug in the example but nevertheless it is a bug in Elektra.

And maybe the highlevel API should check for the presence of necessary (global) plugins?

[2019-02-06 22:38] #2372 closed

[2019-02-06 22:40] BernhardDenner commented on #2302
I'm not really sure why the static libs are built anyway, since they use `BUILD_STATIC=OFF` as far as I see. I never could reproduce the problem.

Anyway, it seems, these problems are coming from `libruby` itself and not from our plugin.

From my point of view, it should make sense to disable the static build for the ruby plugin, since I someone really cares about the footprint of the used libs a

[2019-02-06 23:05] markus2330 commented on #2302
Thank you for the analysis! Can you add ONLY_SHARED in your PR?

[2019-02-06 23:39] kodebach commented on #2374
Which plugins did you have in mind? Technically none are required. Defaults can be passed to `elektraOpen`, if one doesn't want to use the `spec` plugin.

Also the `type` plugin is currently written in C++ so that might be a problem for some users (LCDproc?). But it shouldn't be too hard to rewrite the plugin to check using the `elektraKeyTo*` functions from the highlevel API.
Although that would

[2019-02-07 07:28] #2371 closed

[2019-02-07 08:32] markus2330 commented on #2374
Done properly we should check if the keys present in spec/ is a superset of the defaults keyset passed in `elektraOpen`. And based on this information, we would know which plugins should be present. Unfortunately, the spec-mount logic is in C++ and we should not pull this dependency in (or only optional). We also have the same problem (deps to C++) with 3-way merge.

Yes, there should be no check

[2019-02-07 09:10] markus2330 commented on #2371
Thank you, the test case passes now!

[2019-02-07 14:05] kodebach commented on #2374
We should either leave it as is or remove the defaults parameter from `elektraOpen` entirely. The parameter is intended as an alternative to a specification. If the specification is necessary anyway it is useless.

Yes, that is a problem, especially for LCDproc. I think the best solution is to leave the highlevel API as is. The (optional) automatic mounting of plugins, checking for global plugins

[2019-02-07 14:10] markus2330 opened #2378 "kdb: lsmeta and getmeta do not use spec by default?"
## Steps to Reproduce the Problem

[code]

## Expected Result

That type and long is printed.

## Actual Result

No meta-keys found.
Workaround:

[code]

## System Information

- Elektra Version: master

## Further Log Files and Output

See also #401

[2019-02-07 14:15] sanssecours opened #2379 "KBD Import: Command Prints Error Message Twice"
# Steps to Reproduce the Problem

Enter the following command:

[code]

.

# Expected Result

The command prints the following error message **once**:

[code]

.

# Actual Result

The command prints the error message **twice**:

[code]

.

# System Information

- Elektra Version: `master`
- macOS `10.14.3`

[2019-02-07 14:18] markus2330 commented on #2374
Yes, it is an alternative. But the user should be safe against wrong changes in the specification, in particular incompatible changes in types.

You are right: with a single key the 3-way merge is trivial.

The problem is not the redundant conversion but that the user might have messed up the specification. If we check the specification (the types) at startup, this problem could not happen.

So to

[2019-02-07 14:25] sanssecours opened #2380 "KBD Mount: Command Prints Mountpoints Twice"
# Steps to Reproduce the Problem

Enter the following commands:

[code]

.

# Expected Result

The last command prints the following output:

[code]

.

# Actual Result

The command `kdb mount -1` prints the following:

[code]

.

# System Information

- Elektra Version: master
- macOS `10.14.3`

[2019-02-07 14:31] #1000 closed

[2019-02-07 14:31] #1001 closed

[2019-02-07 14:31] #2352 closed

[2019-02-07 14:36] markus2330 opened #2381 "fix TODOs in src/libs/highlevel/README.md"
I added TODOs in the PR #2377 please fix them.

[2019-02-07 14:39] markus2330 commented on #2379
Thank you for reporting this problem!

Please keep in mind that the 1.0.0 milestone is only for high-level goals, not for concrete issues.

[2019-02-07 14:41] markus2330 opened #2382 "highlevel: type safety in specification"
From  #2374:

Yes, it is an alternative. But the user should be safe against wrong changes in the specification, in particular incompatible changes in types.

You are right: with a single key the 3-way merge is trivial.

The problem is not the redundant conversion but that the user might have messed up the specification. If we check the specification (the types) at startup, this problem could not

[2019-02-07 14:44] markus2330 commented on #2374
I copied the post above to #2382 as it is unrelated to this issue.

To close this issue: I think we should have at least some safety check, so that users do not run into this bug without getting a proper error.

The most simple check would be to make sure that globalplugins contains spec?

[2019-02-07 15:11] kodebach commented on #2374
We could do that yes. But that would solve much would it? The specification could still be changed, types aren't validated for `kdb set`, etc. The only thing that would solve is the use of `#`, `_` etc. in the specification. If the specification doesn't use these, the `spec` plugin is just a redundant iteration over the KDB.

We should either provide a way for the application to tell us exactly wh

[2019-02-07 15:12] kodebach commented on #2382
Ideally the `kdb setmeta` call would fail. A user of an application shouldn't be allowed to change the specification of that application at all after it has been installed. How we could implement that, I am not sure. With code generation we could mount the specification as readonly before calling `elektraOpen` and unmount it after `elektraClose`.

[2019-02-07 15:48] kodebach opened #2383 "Integration of Highlevel API and libopts"
The highlevel API doesn't expose its internal `KeySet`, so using it together with `elektraGetOpts` is impossible. Even if we were to expose the `KeySet`, that wouldn't help. Because of the way we handle conflicts an application would need to call `elektraGetOpts` after each `elektraSet*` call.

That means we either need to integrate `elektraGetOpts` directly into the highlevel API or implement the

[2019-02-07 15:58] mpranj commented on #2374
Are you sure that it's not purged? When there is no global config at system/elektra/globalplugins then the default config (spec) is applied. (see mount.c `elektraDefaultGlobalConfig()`) After `kdb stash` you should therefore see this default global config.

If this was not what you meant, please clarify.

[2019-02-07 17:35] markus2330 commented on #2382
Yes, of course it would fail without sudo. I changed it accordingly.

[2019-02-07 18:22] kodebach commented on #2382
That's not what I meant. In an ideal world `kdb setmeta` would fail because `spec/sw/org/myapp/#0/current/myint` is marked as part of the specification for "myapp". Therefore it cannot be changed by the user. But the only way to implement that enforceably is, if the application it self comes with its own readonly plugin that provides the specification. Which would be a possibility for code generat

[2019-02-08 09:09] markus2330 opened #2384 "type plugin not mounted"
## Steps to Reproduce the Problem

Do as instructed in examples/highlevel:

[code]

and then try to set an invalid value:

[code]

## Expected Result

That it fails with an type error.

## Actual Result

It succeeds.

## System Information

- Elektra Version: master

## Further Log Files and Output

It seems like the type plugin is not mounted and #2377 did not improve the situation:

[code]

[2019-02-08 10:22] markus2330 commented on #2383
Yes, I agree that the global plugin is the most beautiful solution. We should implement that but not for the next release.

This is not the first implementation which has `#ifdef` for different OS, e.g. the resolver or `getenv`-interception already has. Testing should not be complicated as the same test cases, should nearly identically work on all OS (unlike resolver, which produces vastly differe

[2019-02-08 10:29] markus2330 commented on #2374
I tried now the high-level tests several times and I most often got no output and only some undocumented exit code. Thus I think it is quite relevant for end users that we check for known problems and inform the users what to do.

Better would be, of course that we either

1.  make sure that needed global plugins are always present (even with broken system/elektra/globalplugins configurations) or

[2019-02-08 11:18] kodebach commented on #2383
The test cases are quite easy to write, yes. But because we rely on getting argv from the OS, we need to run the test in a separate process. Additionally local testing is hard, because you can only test the version used for your OS.

I didn't mean to suggest the plugin is impossible, just that we shouldn't expect to be easy to implement.

No kdb was just an example for an application that would li

[2019-02-08 11:30] kodebach commented on #2374
Do you mean the test cases or the example? What exit codes, and what did you try that didn't work?

The test cases should print all the error information available.

[2019-02-08 12:09] sanssecours opened #2386 "kdb stash: does not remove errornous config files"
# Issue Description

Currently we offer the tool [`kdb stash`](https://www.libelektra.org/manpages/kdb-stash) that, at least  in theory, should backup the current configuration and after that remove all custom configuration values. However, the tool does not remove “broken” configuration data:

[code]

. A command `kdb reset` could get rid of this problem, for example, by removing all mounted conf

[2019-02-08 12:39] markus2330 commented on #2382
This is clever, I like the idea.

Yes, code generation is useful, otherwise the spec in the application might not describe the configuration actually accessed by the application. But you *could* write the built-in KeySet passed to `elektraOpen` by hand (we obviously do not recommend to do this).

To get the behavior you described, we could mount a to-be-implemented `speccheck` plugin into `spec/`

[2019-02-08 12:41] markus2330 commented on #2386
Thank you for the suggestion!

Why not extend `kdb stash` with this behavior?

[2019-02-08 12:48] markus2330 commented on #2374
I tried the examples, and also copied code from the README into the examples.

The exit code of the executable. (EXIT_FAILURE because onFatalError is invoked)

As described in the top-post of this issue. I was able to reproduce it by simply following the instructions of the README (and the wrong globalplugins config).

[2019-02-08 13:02] markus2330 commented on #2383
Yes, but high-level integration tests are very useful in any case. We do not have enough of those.

Within the `#ifdef` should be only a very few lines of codes. So once argc, argv, environ works for every OS, there should be little need for local testing. But of course, initially it is an effort. The effort, however, will only be on our side. All devs using Elektra will then appreciate that they

[2019-02-08 13:05] sanssecours commented on #2386
That is of course another valid option. The advantage of a new command would be that `kdb reset` does not have to care about a backup at all. We could also just call `kdb reset` in `kdb stash`, just like we do now with `kdb backup`. Anyway, I just want a tool that reverts to the default configuration. If it is called `kdb stash`, `kdb reset` (in my opinion, a better name for the task described abo

[2019-02-08 13:30] kodebach commented on #2383
I thought of a solution:

[code]

The function `elektraSetApplication(KDB * kdb, const char * application)` would set a key (e.g. `proc/elektra/application`) in the global KeySet introduced in #2307. The value of this key would then be used by the global plugin its call to `elektraGetOpts`. The highlevel API could call `elektraSetApplication` internally.

In this solution an application is identif

[2019-02-08 13:31] kodebach commented on #2382
Again, why allow anything to be changed, without recompiling the application? Allowing some changes but not others just complicates the implementation. We also need to document what can and what can't be changed. I don't see a situation where a user would ever need to change the specification of an application once it is compiled. Isn't the point of having a specification that everything is exactl

[2019-02-08 13:38] kodebach commented on #2386
This would be very useful for testing.

Yes, `reset` immediately tells me that all my data is gone afterwards.

[2019-02-08 15:21] kodebach commented on #2374
Then you should also see an error message that tells you what is wrong.

Wrong in what way? The example is designed to work with the default Elektra config, anything else might not work. The `spec` plugin is needed for the example, but that should be mounted by default.

I was able to produce a few errors, but none of them are problems with the highlevel API or the example:

- `spec-mount` seems t

[2019-02-08 17:21] markus2330 commented on #2374
Is it also shown if logging is turned off?

This is not very satisfactory. It should always work or print an error which leads you to how to fix the problem (e.g. typing `kdb global-mount` or to mount the specification). It should also always print which key is affected (e.g. in "ERROR: The value 'abc' could not be converted to type 'long'." it is not known which key is the problem).

Please impro

[2019-02-08 19:54] kodebach commented on #2374
The example uses a custom fatal error handler and prints the error description to stderr:
[code]

That's true we should fix that...

[2019-02-09 09:30] markus2330 commented on #2374
Do you need an issue for the left-overs?

[2019-02-09 09:50] markus2330 commented on #2386
This is exactly what `kdb stash` should do.

Yes, this was the idea of `kdb stash`.

Which is not a very nice behavior if you are actually also using Elektra on that system. And of course it is the goal that Elektra devs also use Elektra. Thus we should fix `kdb stash`. If there are any other problems in kdb stash, please report them.

To fix the bug described here, I think it would be enough if `

[2019-02-09 10:04] markus2330 commented on #2382
Of course most parts of the specification is best written by the developer. She best knows how the configuration is structured, which values are allowed and what good defaults are.

But many parts in the specification can be improved by administrators, who usually do not want to recompile applications. For example, they:

1. can make the validation even stricter because they know they follow polic

[2019-02-09 10:32] sanssecours commented on #2386
That might be the case. However, I still think the name “stash” does not make that very clear:

(Source: New Oxford American Dictionary).

I do not think that providing a way to get rid of all custom configuration is bad behavior. A lot of tools even show such options quite prominently. For example, the preferences window of Docker Desktop contains a tab “Reset”:

<img width="612" alt="docker" src

[2019-02-09 10:39] kodebach commented on #2386
Like  @sanssecours suggested, I think we should implement `kdb reset` and then change `kdb stash` to basically be `kdb backup && kdb reset`. That fixes `kdb stash` and provides the `kdb reset` option for anyone who doesn't care about a backup.

[2019-02-09 10:47] kodebach opened #2388 "kdb delmeta command"
Currently `kdb setmeta` with no argument for the value (e.g. `kdb setmeta /tests/example somemeta`) will remove the given metakey. This is especially problematic because Elektra uses `#` for the array metakey, which the shell may interpret as a comment. `kdb setmeta /tests/example array #5` will remove the `array` metadata instead of setting it to `#5`.

To combat this problem, I propose we implem

[2019-02-09 10:53] kodebach opened #2389 "Problems with the `spec` plugin"
## Steps to Reproduce the Problem

Mount a specification, in which `spec/tests/example/somearray/#` has the `default` metakey set to some value.

## Expected Result

Calling `kdb get /tests/example/somearray/#0` should return the default value (unless we already set a different value.

## Actual Result

Depending on the rest of the configuration either the Key itself or the metakey aren't found.

[2019-02-09 10:54] kodebach commented on #2384
I observed the same behaviour. Weirdly the `hexnumber` plugin is mounted instead although none of its metadata is used.

[2019-02-09 10:55] kodebach commented on #2374
I created some issues... I will fix the ERROR messages together with #2381

[2019-02-09 10:59] markus2330 commented on #2383
Your solution works and is architectural sound. Some additional thoughts:

- instead of providing the wrong parentKey, with your solution someone might provide a wrong elektraSetApplicationName.
- In the profile plugin, we currently hard-code that the application configuration is within `/sw/*/*/#*/current`. For the options we could also assume that we only have an application, if we are below thi

[2019-02-09 11:08] markus2330 commented on #2386
This describes it quite well, doesn't it? The only problem is that it is not "something" but "everything". And that "store" only implies "move" on real objects. The name is taken from git terminology.

Better suggestions are always welcomed.

It is not "bad", it is only very against usability. Everything that you remove, format, clear, reset, ... without any way of undo requires a good backup and

[2019-02-09 11:11] markus2330 commented on #2388
Thank you for reporting the problem. We should also consider to improve the array syntax (see #182) and consistency of `kdb` subcommands in general (see #265).

[2019-02-09 11:12] markus2330 commented on #2389
Thank you for reporting the problem! Can you give a complete example in shell recorder syntax which demonstrates the problem?

[2019-02-09 11:17] markus2330 commented on #2384
Yes, it is weird but understandable: the hexnumber plugin also provides "type" as meta data. It is preferred because it has a better score in `info/status`.

So we:

- either improve the type plugin to have the better score
- remove the "type" specifier in hexnumber
- improve the `spec-mount` tools to understand the meta-value of `type`.
- finish the type dispatcher #1373 (which would be the only

[2019-02-09 11:17] markus2330 commented on #2374
Thank you!

[2019-02-09 11:36] kodebach commented on #2384
Shouldn't we just mount all plugins that use a certain metadata? If certain plugins would conflict with each other, we should have a way to state that in the `infos` of those plugins. Only in conflicting cases the plugin with the better `score` should be chosen.

One of these would be the quick solution. Type dispatcher seems like a good idea, but would probably take some time. If we want to elekt

[2019-02-09 11:55] kodebach commented on #2388
Internally escaping `#10` to `#_10` would be nice, but it would technically be a breaking change wouldn't it?

Regarding improving `kdb` for array manipulation and in general: Once `kdb` has better support for sub-commands (using `elektraGetOpts`?) I think we should move to a hierarchical system would be a good idea. So `kdb` would for example have the subcommands `array` and `meta`, while each of

[2019-02-09 14:18] kodebach commented on #2383
We could still implement the plugin, so that it uses the value from `elektraSetApplicationName` and if that is not available falls back to the parent key.

Currently the only way environment variables can be configured is via the key name. If it ends with `/#` the environment variable is split into an array. Technically one could therefore reuse the same environment variable for multiple keys, but

[2019-02-09 15:42] markus2330 commented on #2384
No, a plugin providing metadata means that the plugin fulfills this property. Otherwise non-idempotent actions like renaming would not work.

This is quite problematic because then you need an NP-complete solver to find the correct plugins. It is also quite error-prone to specify all conflicts correctly. (and assumes a closed world)

Yes, a type plugin written in C that checks for the basic types

[2019-02-09 15:46] markus2330 commented on #182
As discussed in #2388 it would be even better if we escape `10` -> `#_10` (or maybe even completely without `#`) so that arrays cannot be interpreted as comment by the shell. Then we would have a variant of natural sorting, but efficient because internally we would only work with memcmp.

[2019-02-09 15:50] markus2330 commented on #265
See #2388, @kodebach suggested:

Yes, that would be very nice.

We already have something like this with the external executor, for example `kdb elektrify-getenv getenv`.

Ideally, we would also unify how the external commands work. So `kdb umount all` instead of `kdb umount-all`.

Let us see if @ulschaef wants to work on this.

[2019-02-09 15:53] markus2330 commented on #2388
I was even thinking about escaping `10` -> `#_10`. Then we would get rid of the comment problem.

Yes, even `setmeta` not removing meta data is a breaking change. Ideally we would make all these changes together in `version 0.9` but this seems to be unlikely that we can fix everything correctly with one attempt. Maybe we make `0.9` an unstable branch.

I moved the discussion to #265

[2019-02-09 16:14] kodebach commented on #2384
Well in that case `hexnumber` doesn't provide `type`... We should also make the documentation of CONTRACT.ini more specific, so that developers know this is what happens when you add metadata to your `infos/metadata`.

[2019-02-09 16:23] kodebach commented on #2388
For that we could just get rid of the ' #' and keep the underscores for now, i.e. the user has to create keys named e.g. `/tests/example/array/_10`. But both versions are a huge change, because lots of plugins and libraries need to updated, so I would avoid that for now.

To just get rid of the comment problem, we could just add a mechanism inside of `kdb setmeta` that prefixes the value of the `a

[2019-02-09 16:29] markus2330 commented on #2388
I do not think we should provide workarounds for usability problems of the shell. If users are aware of the problem, they can easily add a `\` or `''`. If people are not aware, only a failure of `kdb setmeta` helps.

[2019-02-09 17:08] kodebach commented on #2388
That is the problem, it just silently does something different than expected. A quick fix without changing behaviour would be, if `kdb setmeta` prints "Removing metadata xyz from key /some/key" when called with two arguments only. Alternatively it could always report which metakey was set to which value.

[2019-02-10 09:16] markus2330 commented on #2388
You already get feedback what happened by adding `-v`. You can generally turn all tools to be verbose by `kdb set /sw/elektra/kdb/#0/current/verbose 1` (as written in kdb(1)). UNIX tools generally do not report what they did.

But in this case, and also in situations like using another key because of cascading, it is useful to give feedback even without `-v`. (there is a `-q` to be always quiet).

[2019-02-10 09:19] markus2330 commented on #2384
A wrote a bit about spec-mount and specifications in 7d6b72473aa7a0afc9a8426c2678814b165930cf

I fixed it in df3409c75e3d12d0356c642536b3e160a1071dd1

[2019-02-10 09:47] markus2330 opened #2394 "command-line-options tutorial"
- [ ] Link in "You can find a full working example here" broken (very end)
- [ ] No examples of env

In  #2383 @kodebach wrote:

I think using a different env-name for a key-name could be useful:

[code]

But if it can be added later without compatibility issues, it is low-priority.

[2019-02-10 10:06] markus2330 commented on #2383
Then the plugin would still not know if it should use cmd-line parsing?

Yes, I am afraid there is no good (*) way around #868. Sometimes applications need to tell what they expect from KDB. And this is the case for cmd-line options. But for cmd-line options we should consider a different default, if said nothing, the cmd-line options should be available.

(*) a workaround would be that applicatio

[2019-02-10 10:07] markus2330 commented on #868
In #2383 we found that sometimes the absence of plugins might be required (e.g. for cmd-line options).

So for now, we either want to say that a global plugin needs to be present (internalnotification or also cmd-line options) or should be absent (cmd-line options for maintenance tasks).

[2019-02-10 18:10] Piankero commented on #2382
Hey, sorry for the late response.

After reading through your conversation, let me see if I got this correctly:
The problem basically boils down to permit users to change a specification without recompiling the whole application which was elektrified. @markus2330  suggests a `speccheck` plugin which tracks and prohibits/permits such changes which get triggered by `kdb setmeta`.

I see that there a

[2019-02-11 08:07] markus2330 commented on #1244
Thank you, is fixed now.

[2019-02-11 08:07] #1244 closed

[2019-02-11 10:33] sanssecours opened #2397 "Documentation: asciinema Recording in ReadMe Unavailable"
# Issue Description

It seems the asciinema recording in the [main ReadMe file](https://github.com/ElektraInitiative/libelektra#usage) was “archived” (aka. removed). It would make sense to either remove the broken recording:

[![asciicast](https://asciinema.org/a/cantr04assr4jkv8v34uz9b8r.png)](https://asciinema.org/a/cantr04assr4jkv8v34uz9b8r)

or even better, add a new video.

[2019-02-11 11:01] markus2330 commented on #2397
Thank you, I removed it for now. (ca82f499ff99dbdaa536c95770e1f3c9ccc688c7)

It would be great to have a new asciinema recording for the upcoming release.

[2019-02-11 11:11] markus2330 commented on #2382
The question is which user-interface should we provide to people who want to improve the spec.

Yes, they can communicate it. But isn't it better if they also can help themselves immediately?

As said, the `speccheck` could guide you to only make validation stricter. If you directly patch the specification, you do not get any help.

No, we need to do that. doc/METADATA.ini must clearly describe wh

[2019-02-11 14:21] kodebach commented on #2382
I think we can compromise here...

Developers of components of Elektra, will have to specify in doc/METADATA.ini, how the value of a metakey can safely be made more strict (for that we need a new kind of specification). If no information is provided there, `speccheck` will prohibit all changes to a metakey.

I will develop the `speccheck` plugin that for now just requests the original specificatio

[2019-02-11 15:29] Piankero opened #2400 "QT-GUI requires additional packages on linux mint (ubuntu xenial)"
After installing all required modules for the qt-gui and compiling the project, I got the following error message:
[code]
I expected that after compiling and installing all required dependencies, I could immediately start the gui.
To solve the problem I had to execute the following commands:
[code]
Maybe there could be further checks done in the cmakelists to prevent such additional effort and con

[2019-02-11 16:38] kodebach commented on #2383
We could be to add `elektraDisableOpts` and as soon as we have implemented `kdbEnsure` we change `elektraDisableOpts` so that it just calls `kdbEnsure` and also mark it as deprecated. That way we wouldn't break existing applications, but could essentially get rid of the `elektraDisableOpts` workaround.

Also: Should the plugin actually be global plugin? Couldn't it just be mounted via spec-mount?

[2019-02-11 21:05] ghost opened #2405 "QT-GUI does not support multiline metadata correctly"
Metadata with much text simply gets printed over multiple lines, which results in overlapping text if additional metadata is present below.

![qt-gui-multiline-description](https://user-images.githubusercontent.com/12346621/52593277-d3f3bd00-2e48-11e9-9204-852057c4e022.jpg)

System:

[code]

#2332

[2019-02-11 21:10] Piankero opened #2406 "QT-GUI gives bad error messages if spec plugins reports an error"
When trying to set a key to an invalid value (eg. wrong enum) and pressing the synchronize button in the gui, the error message is not helpful.

Here how it looks in the commandline
[code]

Here is the error message I receive in the GUI:
![qt-gui-spec-error-message](https://user-images.githubusercontent.com/12346621/52593655-c854c600-2e49-11e9-90a4-3cb60d0c2cb7.png)

#2332

[2019-02-11 21:21] Piankero opened #2407 "QT-GUI does not correctly update from empty namespaces"
When my spec namespace is empty in the QT-gui and I mount something into the spec namespace, nothing is updated in the gui (even after pressing the refresh button)

**Steps to reproduce:**
Have an empty spec namepsace:
![spec-first](https://user-images.githubusercontent.com/12346621/52594088-e7078c80-2e4a-11e9-988a-7a226efe0995.png)

Mount some specification:
[code]

Press the refresh button.
Ther

[2019-02-11 21:29] ghost opened #2408 "Web UI throws unexplainable error"
I have mounted a specification as follows:
[code]
I receive the following error message multiple times:
![error 1](https://user-images.githubusercontent.com/12346621/52594607-3ac6a580-2e4c-11e9-85fe-259a71693a2a.png)
Furthermore I have an empty space on the gui:
![what](https://user-images.githubusercontent.com/12346621/52594632-44e8a400-2e4c-11e9-9a46-f7b4a536cf27.jpg)
The namespace is actually a

[2019-02-11 21:43] Piankero opened #2409 "WEB-GUI: Usability issues concerning metadata"
I am trying to write a tutorial for users of lcdproc which might want to use electra. I want to inspect possible metadata which are associated with a key but are not able to:

![webgui](https://user-images.githubusercontent.com/12346621/52594968-128b7680-2e4d-11e9-88c2-fe039e8342da.png)

The key given in the screenshot has actually much more information such as
[code]

When reading through the doc

[2019-02-11 21:49] Piankero opened #2410 "Web UI completely ignores the specification of configuration settings"
I have mounted a specification as follows:
[code]
One setting has the following metadata:
[code]
When I type in the following command in the commandline I correctly receive an error message:
[code]
But when I type in the same wrong value in the WEB-GUI the key gets accepted without any error message and is even retrievable via `kdb get` then in the command line.

#2332

[2019-02-11 21:59] Piankero commented on #2332
As of now I can only write a useful tutorial for `kdb set` and `kdb editor` as both available guis do not integrate with specifications very well and would just confuse users when they use it in my opinion.
I linked all issues above.
I will write the first version tomorrow for you to have a review on.

[2019-02-12 21:47] kodebach opened #2412 "kdb showmeta"
Currently it is quite difficult to list all meta data values of a given key using the `kdb` tool. The best way currently is:

[code]

I propose we either add a new command `kdb showmeta` or add an option to `kdb lsmeta`, that not only lists the names of the meta keys but also their values.

A good example where this is very useful is the `check/enum` metadata. The comma-separated list version is m

[2019-02-13 17:45] kodebach opened #2413 "Highlevel API and enums"
Currently the highlevel API has the function `elektraGetEnumInt` and `elektraSetEnumInt`. These functions are essentially equivalent to `elektraGetLong` and `elektraSetLong`, but use `int` instead of `kdb_long_t`.

This means that we either need a plugin that converts the values of keys marked with `type=enum` into integers using the values from `check/enum/#`, or we remove the enum functions from

[2019-02-13 21:32] Piankero commented on #2412
This is an awesome idea. Usability is not the best with the array notation.

I would suggest that `kdb lsmeta` prints out all values whereas `kdb showmeta` is the current `lsmeta`.
Alternatively maybe something like `kdb lsmeta --values` would also be a possibility

[2019-02-13 22:00] Piankero opened #2415 "kdb editor cannot deal with commas when using ni"
## Steps to Reproduce the Problem

Checkout https://github.com/ElektraInitiative/lcdproc/tree/elektra_tutorial
Mount the specification:
[code]

Call the editor with the `ni` plugin
[code]
Change any value (eg. background = green)

Save the configuration
## Expected Result

The configuration merges correctly.

## Actual Result

[code]

#2332

[2019-02-13 22:09] Piankero opened #2416 "kdb editor: cannot use dump storage plugin"
## Steps to Reproduce the Problem

Checkout https://github.com/ElektraInitiative/lcdproc/tree/elektra_tutorial
Mount the specification:
[code]

Set a value and call the editor with the `dump` plugin
[code]
Change any value (eg. user/sw/lcdproc/lcdd/#0/current/curses/background^@red^@)

Save the configuration
## Expected Result

The configuration merges correctly.

## Actual Result

[code]

#2332

[2019-02-13 22:16] Piankero commented on #2332
The first version is available in the PR: https://github.com/ElektraInitiative/lcdproc/pull/5

Unfortunately the `kdb editor` is also not useable because it cannot update any configuration setting without failing or even breaking the configuration

[2019-02-14 00:02] kodebach commented on #2413
I think the plugin solution wouldn't work, since there is a weird edge case that would make the reverse conversion in `kdbSet` impossible:

[code]

When first setting `some/key` there is no problem. The key wasn't there in the `kdbGet` call, so we won't to any conversion in `kdbSet`.

But as soon as the key has a value (e.g. `some/key = 1`)  the plugin will convert the string to the integer versio

[2019-02-14 12:06] #2394 closed

[2019-02-14 12:18] markus2330 commented on #2400
Thank you for reporting!

The discount should actually be checked by CMake?

The modules are only run-time deps and are not required to be present during compilation. But you are right, it would be nice to also have this information is available via #1016.

I partially fixed the docu in 92768924178120cd61f0a97b6eced29ca103325d but please also make a PR describing  which OS you used (and similar).

[2019-02-14 12:19] markus2330 commented on #2405
Thank you for reporting!

@0003088 Do you maybe have time to fix this?

[2019-02-14 12:21] markus2330 commented on #2407
Thank you for reporting this problem!

A notification on /elektra is needed. In this case `KDB` needs to be reopened.

@waht already did this for another application. Maybe you want to help out here?

[2019-02-14 12:27] markus2330 opened #2417 "Improve 3-way merge"
- [ ] semantic merging
   - [ ] types: if type=float then 0.0 == 0.00
   - [ ] comments
   - [ ] other metadata
- [ ] support for proper merging of arrays and meta-arrays (with line-based merging algorithms)
- [ ] #107
- [ ] #2406

[2019-02-14 12:28] markus2330 commented on #2406
Thank you for finding this tricky problem! I did not know about it.

In which order do you do the `kdb set` and pressing of the synchronization button?

We will improve (rewrite) the 3-way merging soon (), the problem will hopefully fixed with this.

[2019-02-14 12:33] markus2330 commented on #2408
Thank you for reporting!

I am afraid cascading keys are not yet supported in the Web-UI. #2409 and #2410 are because of the same reason.

@omnidan Do you maybe want to add some support? Do you have time? Can you point us to which parts would need changes?

[2019-02-14 12:35] markus2330 commented on #2412
Yes, I agree that a `showmeta` would improve usability.

Although it is actually only an alias for `kdb export <something> ni` (or the command given above)?

[2019-02-14 13:04] kodebach commented on #2412
Not quite `kdb export` will also output all keys below `<something>` and their metadata, so there could be quite a lot of unwanted information.

Of course we could just add the one-liner as an external script, like we do for `kdb stash` and `kdb umount-all`. Although it woudn't be a lot of C++ code either, so it doesn't really matter.

[2019-02-14 13:23] 0003088 commented on #2405
This issue looks vaguely familiar, I think I tried to fix this already back in the day (to no avail obviously). I can make a few tests but as far as I see there have been no additions to the QT TableViewColumn type since 2015 https://doc.qt.io/qt-5/qml-qtquick-controls-tableviewcolumn.html

To me it looks like an rendering error in the qt engine itself.

[2019-02-14 18:41] markus2330 commented on #2415
Is this a duplicate of #1288?

We really should disable the cascading keys for `kdb editor` for now.

As workaround:
[code]
should work.

[2019-02-15 15:27] markus2330 commented on #2405
Thank you for looking into it! Is this problem reported in the QT issue tracker?

[2019-02-15 15:31] markus2330 commented on #2413
Yes, I also think we can remove these functions from the high-level API.

[2019-02-15 15:33] markus2330 commented on #2416
The dump plugin is not suitable for being edited by hand. You need to update the sizes correctly if you change any length.

[2019-02-15 15:37] markus2330 commented on #2383
Of course, it would be very nice if the plugin also works non-globally.

kdbEnsure() is needed nevertheless, as the application wants guarantees if it is mounted or not.

[2019-02-15 15:38] markus2330 commented on #2383
Actually, it might be enough if the application check if spec-mount was called. (If everything is part of the specification).

[2019-02-15 15:48] kodebach commented on #2383
Yes, of course, but there is no need to call the libopts plugin for every interaction with KDB. Most kdbGet calls won't even access any command line specifications.

Is there already a way to do that or would that just be a different kind of use of kdbEnsure?

[2019-02-15 15:50] markus2330 commented on #2382
I am happy with a simple hard-coded whitelist for now. So changing "description", "default", "fallback", "override", "namespace" is allowed to be changed in any way, "type", "crypto/encrypt", "env" and "opt" is only allowed to be added but not to be changed.

[2019-02-15 17:45] kodebach opened #2419 "mmapstorage doesn't work with kdb export"
## Steps to Reproduce the Problem

[code]

## Expected Result

A file called `test.mmap` is created, which can be re-imported with `kdb import`.

## Actual Result

An empty file called `test.mmap` is created and the following message is printed (includes logs from `ENABLE_LOGGER`):

[code]

## System Information

- Elektra Version: master

## Further Information

~Works when `kdb export` is called

[2019-02-15 17:48] markus2330 commented on #2383
No, unfortunately there is currently no startup check at all. But it is a must-have as we do not know how reliable the mounting (at installation time) will work. I updated the goal in #690

[2019-02-15 18:33] markus2330 commented on #2419
Thank you for trying this and for this detailed report!

Yes, I fully agree.

Maybe we even should have a `serializable` in infos/status #666 and fail explicitly if the file is /dev/stdout? (@mpranj Or is there a way to detect if a file is not mmapable? Is it really identically to a permission denied?)

[2019-02-15 18:44] markus2330 commented on #2410
Actually it would be quite trivial to support meta-data. Instead of `kdb get/set <namespace>/<key>`, `kdb get/set -N <namespace> <key>` should do the trick.

@omnidan Do you maybe have time for some improvements in the web-ui?

[2019-02-15 18:50] Piankero commented on #2415
But then you cannot edit values other than those of the spec namespace, right?

[2019-02-15 18:51] Piankero commented on #2400
Thats right, I just posted my install process for reproduceablility.

[2019-02-15 19:03] markus2330 commented on #2415
You, can edit any namespace but you need to edit them separately.

[2019-02-15 19:05] markus2330 commented on #2400
But for reproducibility also OS/versions/... are required.

[2019-02-15 19:16] Piankero commented on #2400
I updated the description

[2019-02-15 22:39] kodebach commented on #2419
Looking at the code (and the error message) I think the current problem is that we cannot call `unlink` on `stdout` without root access. Also `open` will probably fail aswell, because `stdout` is already opened. And whether or not `stdout` is mmapable depends on what `stdout` is connected to I think.
Using `fstat(fileno(stdout), &stat)` to check whether it is a regular file might work. Maybe `isat

[2019-02-16 02:02] kodebach commented on #2419
I take that back... DON'T TRY THAT! Calling `kdb export <something> mmapstorage` as root user (even if stdout is redirected) destroys `/dev/stdout`. Using `/dev/stdout` (e.g. via `fopen`) won't work on your system until you recreate the default symlink with `sudo rm /dev/stdout && sudo ln -s /dev/stdout /proc/self/fd/1`.

[2019-02-16 07:38] markus2330 commented on #666
@kodebach wrote:

Yes, I like that idea that we somehow better tag the usability of plugins. Further ideas are welcomed.

[2019-02-16 07:39] markus2330 commented on #2419
I think the best solution is that `kdb export` and `kdb import` always works on temporary files. Then `kdb export` will be more similar to what KDB does. This would solve the unlinking problem (which is necessary for mmaped files.) The downside is only loss of performance (copy of the whole content needed) but then import/export will work with all storage plugins, which is imho much more important

[2019-02-16 07:50] 0003088 commented on #2405
Doesn't look like it, guess I could file one during the next days. Has this happened with the latest version of QT? Should be 5.12.1.

[2019-02-16 12:55] markus2330 commented on #2405
@Piankero Please tell us the OS and version of QT.

[2019-02-16 13:58] kodebach commented on #2419
I think plugins should create the temporary file themselves, if needed. That way we avoid the performance penalties for plugins that can directly output to TTYs. AFAIK `mmapstorage` is currently the only plugin which doesn't work with TTYs. We could also add a simple shell test that ensures all storage plugins can be called via `kdb export /some/key plugin > export.file`. The logic is also more se

[2019-02-16 16:02] markus2330 commented on #2419
Then the plugins (or more specifically mmap) would need to know if it is used within KDB or `kdb export`.

@mpranj What is your opinion? Can this be fixed within the mmap plugin?

In which cases is this performance penalty a problem? Maybe in the backup/restore for every test case?

For export yes. But for import we had several plugins that do not work. If a plugin uses fseek or similar it obvious

[2019-02-16 17:00] kodebach commented on #2419
Actually, probably never. As long as you use the 3 argument versions of export/import instead of piping. See proposal below.

Yes, but that is broken, because `is_not_rw_storage` doesn't work. Not even `dump` is recognized as a storage plugin.

---

I think to solve this quickly and easily we should do the following:
1. Fix `is_not_rw_storage` in `include_common.sh.in` `tests/shell/check_export.sh

[2019-02-16 19:25] markus2330 commented on #2412
Yes, I am fine with the script or also a new C++ command. Let @Piankero decide what he wants to do.

[2019-02-16 19:28] markus2330 opened #2423 "is_not_rw_storage broken"
As @kodebach reported in #2419:

- [ ] fix is_not_rw_storage
- [ ] fix testscr_check_import

[2019-02-16 19:29] markus2330 commented on #2419
Thank you for reporting that is_not_rw_storage is broken, I opened #2423

[2019-02-16 19:30] markus2330 commented on #2423
@kodebach Can you elaborate what exactly is broken in is_not_rw_storage?

[2019-02-16 20:27] kodebach commented on #2423
I just looked at the output of `testscr_check_export` (called with `ctest -R testscr_check_export --verbose` inside the build directory):

[code]
The test prints one line for each plugin that was compiled and then exits.

Which has to correspond to these lines from `tests/shell/check_export.sh`:
[code]

So `is_not_rw_storage` always returns `true`.

[2019-02-16 23:36] kodebach commented on #2382
A simple whitelist won't isn't good enough for `opt` . Adding `opt`, `opt/long`, `opt/help` (could even be changed) and `opt/hidden` (could also be changed) is no problem, but adding `opt/arg` or `opt/flagvalue` is not always safe. The application could depend on the default values of `none` and `1` respectively.

If we prohibit adding `opt/arg` and `opt/flagvalue`, adding an option doesn't make m

[2019-02-17 09:19] markus2330 commented on #2423
Thank you for reporting!

I agree it should fail if no plugins can be found.

[2019-02-17 09:20] markus2330 commented on #2382
Ok, then we do not allow to add any "opt*" for now.

[2019-02-17 12:46] omnidan commented on #2410
@markus2330 unfortunately I do not have time for any of my open source projects at the moment, I have already found someone else to maintain my other projects such as [node-emoji](https://github.com/omnidan/node-emoji).

I think this could/should be implemented in the kdb nodejs "library" of the web gui: https://github.com/ElektraInitiative/libelektra/blob/master/src/tools/web/kdb.js

[2019-02-17 13:57] markus2330 commented on #1042
So ELEKTRA_PLUGIN_EXPORT and ELEKTRA_README are the last left-overs?

[2019-02-17 13:58] markus2330 commented on #2410
Thank you for the tip!

[2019-02-17 15:19] Piankero commented on #2405
Updated the description

[2019-02-17 15:36] petermax2 commented on #1042
Yes, should be very easy and straight-forward now that `ELEKTRA_PLUGIN_FUNCTION` works.

[2019-02-17 16:02] markus2330 commented on #1053
@sanssecours Does #2422 fix this issue?

[2019-02-17 16:02] markus2330 commented on #1356
@sanssecours Is this resolved by #2422?

[2019-02-17 16:27] Piankero opened #2425 "type plugin causes failure for specifications"
## Steps to Reproduce the Problem

The following code should work but does not
[code]

## Expected Result

kdb set commands work

## Actual Result

[code]

## System Information

KDB_VERSION: 0.8.25
SO_VERSION: 4

NAME="Linux Mint"
VERSION="18.2 (Sonya)"
ID=linuxmint
ID_LIKE=ubuntu
PRETTY_NAME="Linux Mint 18.2"
VERSION_ID="18.2"
HOME_URL="http://www.linuxmint.com/"
SUPPORT_URL="http://forums.linux

[2019-02-17 16:41] 0003088 commented on #2405
I looked into this again and it's in fact not a problem with the TableViewColumn, but with the Text delegate. The problem are obviously the newlines, by default Qt just renders them as they are

![qt_gui_overlapping](https://user-images.githubusercontent.com/2543279/52915871-6842a180-32d9-11e9-893a-653709b764f8.png)

There is the possibility to 'elide' them, so only the first line is shown and dot

[2019-02-17 16:44] markus2330 commented on #1092
@kodebach I assigned you as you were already working on it in #2399,

[2019-02-17 16:47] markus2330 commented on #2425
You are mounting enum type to the spec namespace (where they are not needed) but not to the other namespaces (where they would be needed).

So try to use:
[code]

Or try spec-mount.

[2019-02-17 16:52] Piankero commented on #2425
Thank you for the clarification, nontheless the type plugin causes a failure. I updated the example

[2019-02-17 16:55] markus2330 commented on #2405
@0003088 thank you for looking into it!

Sounds like a good plan! Maybe the text can be done a bit longer before being elided? Or do already two lines create an overlap?

[2019-02-17 17:00] sanssecours commented on #1356
Most of the points above should be resolved. The only thing left is probably:

- [ ] Is there some way to specify where it should not reformat?

. Ignoring certain parts of a Markdown file [should be possible](https://prettier.io/docs/en/ignore.html) using

[code]

.

[2019-02-17 17:02] markus2330 commented on #2425
Ahh, I see what you mean.

Yes, there is no type "enum" known to the "typecheck" plugin.

The typecheck plugin needs to be fixed: It would be enough if it checks for the presence of "enum" meta-data when "type" is "enum".

[2019-02-17 17:03] Piankero commented on #2425
It was working a few days ago though, was there any code change until then?

[2019-02-17 17:05] markus2330 commented on #1115
As discussed, we want to use YAML.

[2019-02-17 17:05] #1115 closed

[2019-02-17 17:07] sanssecours commented on #1053
I do not think so. I added a checkmark in the issue description for the only ToDo that pull request #2422 fixes.

[2019-02-17 17:08] markus2330 commented on #1252
@kodebach can we close this issue?

[2019-02-17 17:10] markus2330 commented on #1053
The "close headline tags" is basically also fixed as we decided not to do that?

[2019-02-17 17:11] markus2330 commented on #1356
Thank you! Could you please update the docu in doc/CODING.md (Markdown Section) to reflect that?

[2019-02-17 17:11] #1356 closed

[2019-02-17 17:16] markus2330 commented on #2425
What do you mean? git shows you all the code changes.

[2019-02-17 17:25] Piankero commented on #2425
The same code above worked 2 weeks ago I think, suddenly it does not. Maybe you knew the reason why because I remember that you have worked on something concerning the type plugin. It doesn't matter though for now.

Thanks for the help

[2019-02-17 18:03] markus2330 commented on #2425
As far as I know this never worked.

[2019-02-17 18:09] markus2330 commented on #1333
This feature was implemented in the high-level API.

[2019-02-17 18:09] #1333 closed

[2019-02-17 18:14] markus2330 commented on #1344
I like this proposal but I am afraid there is nobody to work on it. I'll close it for now.

[2019-02-17 18:14] #1344 closed

[2019-02-17 18:17] #1365 closed

[2019-02-17 18:19] #1369 closed

[2019-02-17 18:20] #1370 closed

[2019-02-17 18:22] #1387 closed

[2019-02-17 18:30] #1409 closed

[2019-02-17 18:30] #1410 closed

[2019-02-17 18:32] #1425 closed

[2019-02-17 18:33] #1451 closed

[2019-02-17 18:35] #1458 closed

[2019-02-17 18:39] markus2330 commented on #1473
@Piankero here are some discussions about the error concept.

[2019-02-17 18:40] markus2330 commented on #1474
Seems to be fixed.

[2019-02-17 18:40] #1474 closed

[2019-02-17 18:58] #1484 closed

[2019-02-17 19:05] markus2330 commented on #1521
@dorvan Is there any update?

[2019-02-17 19:06] #1523 closed

[2019-02-17 19:07] markus2330 commented on #1525
Service seems to work.

[2019-02-17 19:07] #1525 closed

[2019-02-17 19:08] #1526 closed

[2019-02-17 19:11] markus2330 commented on #1560
This is a duplicate from #1075

[2019-02-17 19:11] #1560 closed

[2019-02-17 19:15] markus2330 commented on #1562
@kodebach Can you describe which technology you will use here?

[2019-02-17 19:17] markus2330 commented on #1599
This might be fixed by migrating to libelektra-opts.

[2019-02-17 19:19] markus2330 commented on #1607
Thank you again for reporting! The inconsistency should be fixed now.

[2019-02-17 19:19] #1607 closed

[2019-02-17 19:20] markus2330 commented on #1636
@BernhardDenner Is this now fixed due to #1637?

[2019-02-17 19:21] #1652 closed

[2019-02-17 19:22] #1685 closed

[2019-02-17 19:26] markus2330 commented on #1707
@0003088 Is it maybe possible to not write this file?

[2019-02-17 19:29] #1986 closed

[2019-02-17 19:29] markus2330 commented on #1714
see also #2353

[2019-02-17 19:29] #1714 closed

[2019-02-17 19:32] markus2330 commented on #1760
Thank you for reporting. Please open a new issue if new warnings are found in the next release.

[2019-02-17 19:32] #1760 closed

[2019-02-17 19:32] #1786 closed

[2019-02-17 19:34] #1800 closed

[2019-02-17 19:37] markus2330 commented on #1811
@jirutka Is there any progress with the Alpine packages? Our build server now also tests on Alpine, so we hopefully will not have any regressions on your distro.

I'll close this issue as the initial problem is now fixed.

[2019-02-17 19:37] #1811 closed

[2019-02-17 19:41] #1844 closed

[2019-02-17 19:41] markus2330 commented on #2380
As written in #1844, we also need regression tests for the `-0` (and `-1`) feature. Or we remove the feature.

[2019-02-17 19:45] markus2330 commented on #1879
We now have such an error API.

[2019-02-17 19:45] #1879 closed

[2019-02-17 19:47] #1873 closed

[2019-02-17 19:48] #1858 closed

[2019-02-17 19:49] #1852 closed

[2019-02-17 20:03] #1883 closed

[2019-02-17 20:05] markus2330 commented on #1954
I am closing the issue: GI are deprecated.

[2019-02-17 20:05] #1954 closed

[2019-02-17 20:06] markus2330 commented on #1938
The shellrecorder now is fixed.

[2019-02-17 20:06] #1938 closed

[2019-02-17 20:07] #1935 closed

[2019-02-17 20:08] markus2330 commented on #1934
Please reopen if any further occurrences are found.

[2019-02-17 20:08] #1934 closed

[2019-02-17 20:08] #1930 closed

[2019-02-17 20:09] #1921 closed

[2019-02-17 20:11] markus2330 commented on #1904
The link with the updated list does not work anymore.

[2019-02-17 20:11] #1904 closed

[2019-02-17 20:12] markus2330 commented on #1887
The next step would be to let the shell recorder fail if data outside of /tests is accessed.

[2019-02-17 20:13] #1886 closed

[2019-02-17 20:17] markus2330 commented on #1042
We finally did it!

[2019-02-17 20:17] #1042 closed

[2019-02-17 20:17] #1976 closed

[2019-02-17 20:19] markus2330 commented on #1981
Any progress here?

[2019-02-17 20:21] #1992 closed

[2019-02-17 20:23] #2007 closed

[2019-02-17 20:23] #2014 closed

[2019-02-17 20:23] #2024 closed

[2019-02-17 20:25] markus2330 commented on #2030
@0003088 Maybe we can here also have some improvements (next to #2405)

[2019-02-17 20:27] #2061 closed

[2019-02-17 20:28] #2087 closed

[2019-02-17 20:30] markus2330 commented on #2088
We need to have CMake detection code.

[2019-02-17 20:30] #2088 closed

[2019-02-17 20:30] #2089 closed

[2019-02-17 21:06] petermax2 commented on #1981
Not yet, I was just trying out

    gpg2 --batch --passphrase '' --quick-generate-key elektra rsa512

to have some key for testing. MSR still fails but the key generation seems to work.

I can't promise to have progress during the week.

[2019-02-17 21:19] #2093 closed

[2019-02-17 21:21] markus2330 commented on #1743
duplicate of #2151

[2019-02-17 21:21] #1743 closed

[2019-02-17 21:23] markus2330 commented on #2136
This is a duplicate of #2388

[2019-02-17 21:23] #2136 closed

[2019-02-17 21:24] #2112 closed

[2019-02-17 21:25] #2105 closed

[2019-02-17 21:31] #2209 closed

[2019-02-17 21:33] #2243 closed

[2019-02-17 21:40] #2397 closed

[2019-02-17 21:40] #2415 closed

[2019-02-17 21:40] kodebach commented on #1562
- I am using [mustache](https://mustache.github.io/) templates that will be compiled into the `kdb` tool.
- The templates are rendered through [this library](https://github.com/kainjow/Mustache).
- The template files are turned into static strings in a header file during `cmake`s configure phase. Firstly this ensures users can't modify the templates (which might break them). Secondly the library I

[2019-02-17 21:41] #2425 closed

[2019-02-17 22:43] kodebach commented on #1252
The global plugin still has to be implemented. Other than that everything described in the original issue is implemented.

[2019-02-18 08:36] markus2330 opened #2427 "opts plugin"
Implement a (global) plugin that takes care of opt parsing.

Follow up of #1252

[2019-02-18 08:36] #1252 closed

[2019-02-18 08:38] mpranj commented on #2419
**Sorry**, I was away for a week so I could not look into it.

The mmap error messages might be misleading. `mmap()` fails with `EACCES` when trying to map non-regular files. To my knowledge it will not work on stdout. It also does not work with pipes, as discussed in #2209.

From POSIX:

As for solutions within mmapstorage, we can check if it is a regular file with `stat` and then:
* write to a t

[2019-02-18 08:52] markus2330 commented on #2419
Thank you for your reply!

Please improve the error messages.

Please add that info to the error messages.

As your plugin is currently the only affected one, it makes sense that you do the stat and copy everything if needed. Then we could close this issue without larger changes in the framework.

[2019-02-18 08:58] kodebach commented on #2419
We should also update the man pages for `kdb import` and `kdb export`. Currently they do not mention the 3 argument versions that do not rely on stdin/stdout.

[2019-02-18 08:59] mpranj commented on #2419
Thank you both for reporting the issue and for the input!

Unfortunately, `strerror` prints these misleading error messages. I can add a hint in that case.

I will make the requested changes in a PR this week.

[2019-02-18 10:12] markus2330 commented on #2419
Maybe we do not need the argument to specify the file? The argument would conflict once `kdb import/export` supports multiple plugins.

Thank you!

[2019-02-18 11:52] markus2330 commented on #1912
The configure script will be removed, see #2428

[2019-02-18 13:09] kodebach commented on #2419
Then we have to support `stdin` and `stdout` (redirected to a regular file) in all plugins. Otherwise they could never be used with `kdb import/export`. That makes sens for `mmapstorage` because it isn't portable, but other plugins which are portable (maybe even human-readable) might need a regular file too (e.g. if they use `fseek`).

We could easily move to using the options `-i FILE, --input=FI

[2019-02-18 15:35] markus2330 commented on #2419
Yes, we can add -i, -o options. But fixing the plugins (or the import/export framework) so that also stdin/stdout works would be nice in any case.

[2019-02-19 11:53] KurtMi commented on #137
@markus2330 I went from testing the semlock, to the race tool/test and now have some questions.

Why is there a consistency check with the timestamp in the resolver?
At an kdb get the time is stored and at kdb set compared. If they do not match kdb set fails.
I ask because I tried the semlock with the race tool/test and now get this:
[code]
What is your plan about the kdb serialization #2024?

[2019-02-19 13:43] 0003088 commented on #1707
I don't know? I never intentionally created this file. It looks to me like the file the OS creates to remember the window settings?

[2019-02-19 13:52] 0003088 commented on #2030
The interval is set for 1 second atm, so set it to 0.5s? Or maybe even  add an option for the user to select the time for herself?

Maybe add a checkbox in the settings as well? Called "always show key name/key value" or something like that?

[2019-02-19 14:14] markus2330 commented on #137
Which consistency check do you mean?

The conflict is necessary because otherwise data of other KDBs is lost.

If semlock works reliable and the speedup is considerable, we can run the tests in parallel.

By default I would not make the semlock plugin having long-term locks, though. The current implementation of the race tests are maybe too strict, they might find problems even if there are none.

[2019-02-19 14:20] markus2330 commented on #2030
Yes, sounds good.

I think we should choose it, as we have the responsibility to provide usable programs.

If there is no strong reason against it, I would also simply always show (without any setting).

[2019-02-19 14:21] markus2330 commented on #1707
Yes, seems like qt has some build-in feature doing this. Maybe it is possible to turn the feature off.

[2019-02-19 14:31] #2381 closed

[2019-02-19 14:53] KurtMi commented on #137
I mean this check:
[code]
in the `elektraCheckConflict (...)` function. This function is invoked in `elektraSetPrepare (...)` and this one in the resolver set of the `/src/plugins/resolver/resolver.c`.

But is there not a merge? and does the resolver not read the file just before the set and also at the kdbGet?

[2019-02-19 15:30] kodebach opened #2430 "Highlevel API tests"
The highlevel API currently only does some basic tests for each of the supported types.

It would be nice, if we added more tests to `testkdb_highlevel.cpp` (especially for border cases).
For example adding a test that checks that we accept `0` and `65535`, but not `-1` and `65536` for the type `unsigned_short`.

[2019-02-19 18:10] markus2330 commented on #2430
Thank you for creating the issue! It would be great to have the tests for the upcoming release.

[2019-02-19 18:19] kodebach commented on #2423
This issue also applies to `testscr_check_import`.

[2019-02-19 18:33] markus2330 commented on #137
Yes, exactly this check is to verify that nobody else changed the data. It is needed to not overwrite data of others.

It is the application's responsibility to merge properly. E.g. the high-level API automatically merges.

No, Elektra only reads the file if `kdbGet` is invoked. So in between `kdbGet` and `kdbSet` someone else could use `kdbSet`.

[2019-02-19 19:22] kodebach commented on #2413
The functions have been removed in #2399.

[2019-02-19 19:22] #2413 closed

[2019-02-19 19:28] Chemin1 commented on #2109
I don't really know where to look for a solution to the following problems for my first commit

1. At the moment I constantly compile and install elektra on my system to see the changes. This is quite tedious. Which is the common way to do this? Virtual machine? Execute the files in `build/bin` and perform `npm install` for `elektrad` and `client`? Something different?

2. I want to find out why I

[2019-02-19 19:49] markus2330 commented on #2109
Hello! Thank you for writing here.

You can use "kdb" from the build directory. scripts/run_dev_env should setup all paths properly.

@omnidan How did you develop the WebUI?

`system/elektra/version` is generated by  src/libs/elektra/plugin.c line 411 and read-only (see line 419, there is no persistent storage behind this data).

So to fix this bug you basically only need to modify src/include/kdb

[2019-02-20 07:49] omnidan commented on #2109
@markus2330 I compiled and installed elektra and kdb and then used `npm run start:dev` to start elektrad/webd in development mode (which automatically recompiles the app when you make changes).

[2019-02-20 08:40] markus2330 commented on #2109
Thanks for the response! Sounds good.

So if you change Elektra itself, you only need to take care that the correct kdb binary is executed (the one from the build directory).

[2019-02-20 16:44] Chemin1 commented on #2109
Thank you both! Especially the part with `scripts/run_dev_env` was really helpful.

I did not change that, but it seemed to be working nonetheless.

[2019-02-22 18:31] kodebach commented on #868
Instead of creating `kdbEnsure`, we could also pass the information to `kdbOpen` or `kdbGet` directly.

The advantage of passing the information to `kdbOpen` directly is that we might be able to avoid doing unnecessary work, which would only be undone by `kdbEnsure`. However, the only way of passing information to `kdbOpen` would be using the metadata of the `errorKey` parameter. This seems kind o

[2019-02-22 21:57] markus2330 commented on #868
Yes, modifying kdbOpen is the long-term solution.

Maybe we can even break the ABI soon and release 0.9.

[2019-02-23 00:25] kodebach commented on #868
We could do something similar to `keySetName` and `elektraKeySetName`.

[2019-02-23 10:26] markus2330 commented on #868
Yes, we could add elektraKdbOpen in libproposal.

But it is slowly getting messy.

[2019-02-23 18:41] kodebach opened #2437 "Flexible size types in va_list"
`keyVInit` and therefore `keyVNew` and `keyNew` (and maybe others) currently use `size_t` for the value size of a key. The C standard doesn't define a fixed size for `size_t`, only that it should be at least 16 bits. This can lead to problems, if a bigger type (e.g. `kdb_unsigned_long_long_t`) is passed without casting, because of the way that some compilers implement `va_list`.

We should change

[2019-02-23 21:16] markus2330 commented on #2437
Thank you for creating the issue!

Yes, other methods are affected, too: e.g. ksNew

[2019-02-23 21:29] kodebach commented on #2437
`ksNew` is not as big a problem. We do use `size_t`, so the maximum size of a KeySet is implementation/architecture dependent, but it cannot lead to the same kind of bug, because die parameter is declared as `size_t` and not part of a `va_list`.

[2019-02-24 17:51] #2336 closed

[2019-02-25 07:48] sanssecours opened #2439 "Build Jobs: Parts of Test Suite Fail Regularly"
# Description

I opened this as an issue to keep track all of the **temporary** test failures in one of the build jobs. The main reasons for the build failures are

- the [tests for the notification bindings/plugins](https://github.com/ElektraInitiative/libelektra/issues/2310), and
- the [tests for the crypto plugin](https://github.com/ElektraInitiative/libelektra/issues/2341) (this only applies t

[2019-02-25 17:46] markus2330 commented on #2439
Thank you for your summary of these problems!

Is it maybe possible to disable the jobs only at the places where they are failing?

[2019-02-25 17:54] #2430 closed

[2019-02-25 18:58] markus2330 commented on #2358
@kodebach So there is no way to avoid the -Wl,-rpath?

[2019-02-25 19:17] #2224 closed

[2019-02-25 20:08] markus2330 commented on #2190
I had again this problem (~/.config/tutorial.dump) was present. It would be great if shell recorder could have better support to deal with this problem.

[2019-02-25 20:14] markus2330 commented on #2370
Does not occur anymore.

[2019-02-25 20:14] #2370 closed

[2019-02-25 20:15] kodebach commented on #2358
I am pretty sure there is a way. I just didn't look into it further yet, because it takes quite some time to test the changes on all supported systems. I also didn't think this was a priority since the configuration works for now.

[2019-02-26 09:30] #2178 closed

[2019-02-26 13:33] markus2330 opened #2440 "testshell_markdown_kdb_ls fails on additional keys"
## Steps to Reproduce the Problem

Have some keys in /tests/examples/kdb-ls (but not in user/tests/examples/kdb-ls)
Run testshell_markdown_kdb_ls

## Expected Result

Either successful testcase or some error that test environment is dirty.

## Actual Result

[code]

## System Information

- Elektra Version: master
- Operating System or Docker Container?
- Versions of other relevant software?

## F

[2019-02-26 14:02] markus2330 opened #2441 "web-ui: support new namespaces"
## Steps to Reproduce the Problem

Have some default keys and start up Web-UI:

[code]

## Expected Result

That Web-UI starts up without issues.

## Actual Result

An error is displayed:

[code]

## System Information

- Elektra Version: master

## Further Log Files and Output

[2019-02-26 18:50] petermax2 commented on #2439
For the `crypto` and `fcrypt` plugin @mpranj pointed out that `gpg-agent` may fail in case of high server load. Maybe we could create a separate build job for the `crypto` and `fcrypt` plugin tests? So that other developments are not being blocked.

[2019-02-26 19:06] markus2330 commented on #676
Elektra 0.8.26 was released!

https://www.libelektra.org/news/0.8.26-release

@ElektraInitiative/elektradevelopers please share on social media

[2019-02-26 19:12] markus2330 commented on #2439
Thank you for your input!

Separating the problematic jobs might make the rebuild cycles shorter. But I think it is clear that we do not want any manual rebuilds at all. So we have the options:

- making it more reliable
- some automatic loops which retry on such errors
- disabling the tests (when someone works on these parts, she needs to activate them again)

What do you think?

[2019-02-27 07:10] petermax2 commented on #2439
hardly possible as long as we utilize `gpg-agent` (which is a pain in batch jobs)

This feels dirty to me.

Seems to be the option that causes the least discomfort, although having manual regression tests is not nice either.

[2019-02-27 16:03] markus2330 commented on #2439
As discussed in the meeting: we should disable the tests.

[2019-02-27 20:22] kodebach commented on #2439
Alternative also discussed in the meeting: Using `ctest --rerun-failed`

Running `ctest` creates the file `<cmake_build_dir>/Testing/Temporary/LastTestsFailed[_timestamp].log` (the timestamp is only used in Dashboard mode). This file is also used by `ctest --rerun-failed` (see Kitware/CMake@eb2decc02d28f41a3e189d5387be24552c42060f). It simply contains the numbers and names of the tests that last f

[2019-02-27 22:23] kodebach opened #2444 "CMake Sanitizers"
On my wild google adventure to find the cause of the current bug in #2344, I stumbled upon https://github.com/arsenm/sanitizers-cmake. This might be a better solution than what we currently use for ASAN.

[2019-02-28 10:03] markus2330 commented on #2444
Thank you for bringing this up!

Does it also solve the LD_LIBRARY_PATH problem you have in #2433?

[2019-02-28 10:18] markus2330 commented on #2439
Thank you for looking into it!

@ingwinlu did a lot of work in this direction. Our servers have the highest throughput with high load. I.e. we would slow down our tests with such options.

Modular test cases is very difficult to achive and maintain. @ingwinlu put a lot of work into it. I think we cannot put this effort again only for a few unreliable tests.

That would be great. But I do not see t

[2019-02-28 13:29] kodebach commented on #2444
I doubt it. The problem was that `LD_LIBRARY_PATH` was required because the tests are executed before installing, but it simply wasn't set. That wasn't immediately obvious, however, because it worked in some cases. No idea why...

[2019-03-01 09:59] Piankero opened #2448 "Globbing in Metadata does not show all relevant metadata of subsetting until a value is set"
## Steps to Reproduce the Problem

Globbed Metadata are not visible until a value is set
Mount the specification with the following content:

[code]

[code]
## Expected Result

The description metadata is available before setting a concrete value

## Actual Result

It is not

## System Information

- Elektra Version: master (0.8.26)
[code]

[2019-03-01 13:17] markus2330 commented on #2448
Thank you for reporting this issue!

[2019-03-01 14:09] dorvan commented on #1521
@markus2330 yes, we are working to a totally new version, and today I see your comments anche can be really interesting for us especially for @BernhardDenner work.

We are working on a lot of project in data management/correlation and IoT using RAIC ("Redundant Array of Inexpensive Computer" or Destructure Cluster Array (both on System or Applicative side.)

[2019-03-01 15:26] sanssecours opened #2450 "Homepage: Markdown Links to Anchors Do Not Work"
# Steps to Reproduce the Problem

1. Search for the text “see also Data Types” in [this webpage](https://www.libelektra.org/tutorials/high-level-api).
2. Click on the link “Data Types”.

# Expected Result

The browser scrolls to the header “Data Types”

# Actual Result

The browser tries to open

, which does not exist.

# Additional Information

The problem does not occur on GitHub. If you retry

[2019-03-01 19:03] Piankero opened #2451 "How to activate the boolean plugin in a specification file"
## Steps to Reproduce the Problem

The boolean plugin does not correctly convert to a canonicalizes value
Mount the specification with the following content:

[code]

[code]
## Expected Result

true gets accepted for the type plugin

## Actual Result

true gets rejected

## System Information

- Elektra Version: master (0.8.26)
[code]

Notes:
How exactly can I see what plugins are currently active

[2019-03-02 09:00] markus2330 commented on #2450
Thank you for this beautiful description of the problem! Seems like the markdown parser for our webpage behaves differently than the one from GitHub.

@Namoshek Do you know if this problem might be caused by parts written by you (iirc you implemented some logic to handle external links vs. links to GitHub?) or by the markdown parser we use?

A solution to this problem would also be to find some ot

[2019-03-02 09:09] markus2330 commented on #2451
Thank you for reporting this problem!

Please ask questions in separate issues, then they are easier to find in future. `kdb mountpoint-info` tells you which plugins exist for a mountpoint. With `kdb find-tools -t mount` you would have been able to find this tool.

Please also always add the issues you create to LCDproc and assign yourself if you will work on it.

Now to the issue itself:

I think

[2019-03-02 09:20] markus2330 opened #2452 "dump: do not output null terminiation for strings"
Idea from @kodebach: when avoiding output of null termination for strings, we would have only a binary format if there is actually binary data involved, which would be a huge improvement in usability (`git diff` and similar tools do not show the content by default).

The parser needs to be able to also parse old dump files, otherwise the disadvantages outweigh the benefits.

[2019-03-02 09:27] markus2330 opened #2453 "pluginprocess: use quickdump as default"
@kodebach's new plugin "quickdump" might be very interested for pluginprocess, as it would speed up python plugins a lot (see #2209).

I suggest that pluginprocess should use quickdump, if available, and fall back to dump if it is not available.

[2019-03-02 09:35] Namoshek commented on #2450
~The problem is most likely cause by this code:~

https://github.com/ElektraInitiative/libelektra/blob/55cfab8693aa654b8bf84a0882f3990b29f5fe18/src/tools/rest-frontend/resources/grunt-tasks/grunt-copy-website-content.js#L155-L167

~The snippet is invoked when the website content is built (pre-processed), i.e. links are rewritten to match our needs. I'm not sure, why it doesn't work though. Might b

[2019-03-02 09:49] markus2330 commented on #2450
Thank you so much for pointing out so fast where the problem is and how to solve it!

[2019-03-02 11:56] mpranj opened #2454 "cache: problems with non-file-based storage plugins"
@markus2330 as discussed in the last meeting, caching works with cascading keys too. Because of your comment about "/", I tested it and found it to be an exception.

The problem is that non-storage based backends like `system/elektra/version` or `system/elektra/modules/list` break the concept by always returning 1 (update needed), thus producing a cache miss.

I see two approaches to solve this:

[2019-03-02 12:16] mpranj opened #2455 "optimize ksAppend()"
## Motivation
When `kdbGet()` has a cache hit but the supplied keyset was not empty, we need to append the cached keyset to the non-empty keyset. In cases where the appended keyset is much larger than the destination it could be beneficial to append the smaller keyset to the larger one. (less ksAppendKey operations).

## Proposal
Add a `ksMerge()` function, which returns only one resulting keyset

[2019-03-02 13:29] markus2330 commented on #2455
Thank you for writing the proposal!

The same situation occurs when the command-line arguments are appended to proc/ in the global plugin done by @kodebach, see #2317

For this specific situation, I think an `if` that swaps the arguments of `ksAppend` in the user code is acceptable.

I would like to avoid to have many API calls that appear to be highly optimized but actually only contain trivial (

[2019-03-02 13:37] markus2330 commented on #2454
Thank you for reporting this problem!

Isn't this problem unrelated to cascading keys and simply a problem of that we need some way to properly implement and use "noresolver" (for the mentioned mountpoints but also for `kdb mount-info` and similar plugins?)?

The noresolver could work like: It gets all keys, and compares with the current keys. If the keys are the same, it returns 0 (cache hit). Ot

[2019-03-02 14:03] mpranj commented on #2455
I agree that improving ksAppend is more important than adding another API function.

The problem is that the semantics of ksAppend do not allow for this optimization. ksAppend has to append source to destination. Swapping the arguments would not result in an equivalent output, because we must not append destination to source.

Therefore the idea only works for a new API function, that only promise

[2019-03-02 14:07] kodebach commented on #2455
Two things that I think are quite simple to implement, but might make a huge difference:

1. `ksAppendKey` calls `ksSearchInternal`, which does a complete binary search. This can be optimized by first comparing against the last Key and immediately returning, if the new Key has to be inserted at the end. This would make `ksAppendKey` calls much faster, when Keys are inserted in the correct order. (

[2019-03-02 14:22] mpranj commented on #2454
You're right. In case of the cache, cascading keys just trigger the problem, but are not the cause.

Well, the optimal case for the mmap cache is of course not appending anything. In that case we only update pointers, which was very fast as shown with mmapstorage.
Since we have to fetch the new keys for both approaches, the penalty boils down to ksAppend/ksAppendKey.

Comparing the keysets sounds

[2019-03-02 15:07] mpranj commented on #2455
@kodebach thank you for weighing in! I think your approach sounds quite nice.

I would have to add one small improvement: when merging two sorted lists it should suffice to simply always append the smaller one. In that case we need no `ksSearchInternal`. It will **always** be inserted at the last position.

[2019-03-02 15:27] kodebach commented on #2455
My approach would still be calling `ksAppendKey` so `ksSearchInternal` is basically unavoidable, but of course you could do the appending directly in `ksAppend`. However, then you have to make that any other stuff (Opmphm, keyRef, etc) that gets updated in `ksAppendKey` is still updated correctly.

[2019-03-02 21:41] petermax2 commented on #1981
Is the shell recorder able to handle shell variables?

If I run the snippet

[code]

I get the result:

	194: export KEY_ID=`gpg2 --batch --with-colons --fixed-list-mode --list-secret-keys | grep sec | awk '{split($0,a,":"); print a[5]}'`
	194: echo "$KEY_ID"
	194: kdb set /sw/elektra/kdb/#0/current/plugins ""
	194: kdb mount test.ini user/test fcrypt "encrypt/key=$KEY_ID" ini
	194:
	194: ERROR -

[2019-03-03 08:12] markus2330 commented on #2454
When noresolver decides that there is no change, no ksAppend would be needed. The disadvantage is that you need to detect if there is no change. It is not clear for me if the detection or the appending is more expensive. For example, in a naive implementation of the ulimit plugin you would need to execute `ulimit` twice (first for the detection, then for appending; avoiding this would need changes

[2019-03-03 08:17] markus2330 commented on #2455
I like both approaches. I think we should first try @kodebach's optimization (O(1) appending). If we see that this is not enough, we can also follow @mpranj approach to swap the KeySets (so that always the smaller keyset gets appended to the larger one). I am not sure if this actually needs an API change. Maybe we can simply first duplicate the KeySet, and then append the small one to the large on

[2019-03-03 08:26] markus2330 commented on #1981
This is a good question! Afaik it does not but you can simply use KDB to store anything. So you would write something like (untested):

[code]

We should definitely add this information to tests/shell/shell_recorder/tutorial_wrapper/README.md

Btw. the `kdb set /sw/elektra` is quite dangerous, it might lead to data loss of the person executing the test. Tests should only write to /tests or, if abs

[2019-03-03 14:19] petermax2 commented on #1981
This work-around is documented in the `README.md` of `fcrypt`. `fcrypt` usually conflicts with `sync`.

[2019-03-03 14:23] markus2330 commented on #1981
Yes, I know that sometimes writing outside of /tests is needed. (also for mounting)

But we should make sure in tests to not change the config of the user running the test.

Maybe the backup-restore feature would fix the problem?

[2019-03-03 14:45] petermax2 commented on #1981
Before we fix that I have another problem: PGP keys that are created via

    gpg2 --batch --passphrase '' --quick-generate-key elektra rsa512

are not usable by GPG. What the hug?

	root@5fd7ea8f213b:/libelektra/build# gpg2 --batch --passphrase '' --quick-generate-key elektra rsa512
	gpg: directory '/root/.gnupg' created
	gpg: keybox '/root/.gnupg/pubring.kbx' created
	gpg: /root/.gnupg/trustdb.g

[2019-03-03 19:26] kodebach opened #2456 "kdb ls produces additional keys"
## Steps to Reproduce the Problem

Have the spec plugin (global-)mounted and run:

[code]

## Expected Result

Only keys below `spec/tests/example` should be listed.

## Actual Result

Cascading keys below `/tests/example` are also listed.

## Further Comments

IMO `kdb ls` should never produce cascading keys, even if it is called with a cascading parent key. If I call `kdb ls`, I want to know abo

[2019-03-04 11:41] markus2330 commented on #2456
Thank you for reporting this problem. I fully agree!

Only with `-v` these keys should be part of the output.

[2019-03-04 12:12] markus2330 commented on #1981
You are our gpg expert, I am afraid nobody can help you here! Maybe you ask on a gpg mailing list?

[2019-03-06 12:17] kodebach opened #2460 "kdb import broken in spec namespace"
## Steps to Reproduce the Problem

[code]

## Expected Result

The second line doesn't change anything about the KDB (except file timestamp, etc.)

## Actual Result

Something inside of `kdb import` (most likely the `spec` plugin, as this only occurs with the spec namespace) butchers the key name and the following error is shown:

[code]

Note: `spec/tests/import/test` somehow became `spec/tests/i

[2019-03-06 19:17] mpranj commented on #160
Should `a7-debian-stretch` still be offline for the benchmarks? (taken offline since Feb 21, 2019 10:47:56 AM)

[2019-03-06 20:21] Chemin1 commented on #2417
I do not have the rights to do so, but I think opening a project for this issue might be a good idea. This way, discussions about various topics like arrays, whitespace and tutorials could be separated and keeping track of the different subtasks were possible in form of different issues.

We have talked about that the merge tool would not profit much from existing diffutils. However, it seems to m

[2019-03-06 21:56] markus2330 commented on #2417
You should have the rights now.

Yes, this is a good idea.

Of course you can use the diff algorithm for arrays. But to always work on line-based structures (what you automatically would achieve using the line plugin) would be very weak as simple reordering or changes of spaces would already create conflicts.

[2019-03-07 09:17] markus2330 commented on #2460
Thank you for reporting this problem!

[2019-03-07 09:44] markus2330 commented on #160
Thank you for reporting! Seems like Anton forgot to reactivate. I activated the node again and I also removed  the old nodes (except of mm as they are still running).

[2019-03-07 17:11] Chemin1 opened #2464 "Ours value does not exist when merging Key Sets"
When trying to figure out how the existing merge tool works, I stumbled upon behaviour that looks strange to me.

## Steps to Reproduce the Problem

[code]

Switching `ours` and `theirs` still has the problem that `ours` does not seem to have a key value. This then results in a instant conflict.

## Expected Result
I expected the merge to recognize, that one version has `b` instead of `a`.

[code]

[2019-03-08 07:40] Piankero commented on #2451
I added `- infos/ordering = type` in the README.md from the boolean plugin but it does not make a difference. Also the plugin does not get loaded at all.
[code]

[2019-03-08 07:55] Piankero opened #2466 "boolean: accepted true/false values cannot be configured"
## Steps to Reproduce the Problem

The boolean plugin does not accept correct configurations.

[code]

Update:
Interestingly the error switched after setting a correct value:

[code]

## Expected Result

The boolean plugin accepts "on"

## Actual Result

It does not accept on

## System Information

- Elektra Version: master (0.8.26)
[code]

[2019-03-08 12:22] Piankero opened #2467 "ini plugin has problems with multiline metadata"
## Steps to Reproduce the Problem

The ini plugin does not save multiline data properly unfortunately.

Create a file with the following content
[code]
Then mount it and set a valid path:
[code]
Despite a correct path, the file which contains the data has multiple lines and the ini plugins seems to also take these into account.

When I look into the file where it is saved I see the following conte

[2019-03-08 13:39] Chemin1 commented on #2417
In my head everything was about merging files so far. The existing merge tool, however, operates on KeySets (and on their representation in a file only as a consequence) and avoids struggles with different file formats in doing so.
@markus2330 Were you thinking about files aswell or did we have a misunderstanding here?

[2019-03-08 14:06] markus2330 commented on #2417
No, it should always operate on KeySets as this already solves many problems. E.g.:

[code]

[code]

has identical KeySets.

[2019-03-08 14:06] markus2330 commented on #2417
(Except of meta-data but this would need clever handling by your semantic merge)

[2019-03-08 14:23] Piankero opened #2468 "How to set a negative value with kdb set"
How can I set a negative number in kdb?
[code]

`"` does not help either

[2019-03-08 14:36] sanssecours commented on #2468
I think you should take a closer look at the error message 😊:

, which tells you that

[code]

should work.

[2019-03-08 15:16] Piankero commented on #2468
Thank you, under this extremely verbose output I did not read that sentence.

[2019-03-08 15:50] Piankero opened #2469 "kdb run-elektrad fails"
## Steps to Reproduce the Problem

I installed everything according to https://www.libelektra.org/tools/web but are not able to run the elektra deamon.

[code]

In the debug.log:
[code]

Maybe the compiled elektra version I use is a problem?
I use the following settings for example:
[code]

## System Information

- Elektra Version: master
- node version: v8.12.0
- npm version: 6.4.1

[2019-03-09 09:17] markus2330 commented on #2468
The text could be improved:

"see errors above" is misleading, "see lines above" might be better?

"If no value is given, it will be set to a null-value" and the following sentence does not have a dot at the end.

[2019-03-09 09:18] markus2330 commented on #2468
@Piankero what output do you suggest so that you would find the info about `--`?

[2019-03-09 10:45] Piankero commented on #2468
I am not quite sure if this is possible but if the input was a number, then the text which tells you how to set negative numbers should be arranged at the top. The verbose output of a failed set could only be printed out for every other reason. As I can see there is no number option for kdb set so a solution like this should be fine.

Negative number:
[code]

Anything else:
[code]

The reason for

[2019-03-09 19:05] markus2330 commented on #2467
Thank you for reporting this bug!

The bug can also be reproduced if the default plugin is not ini.

I see here two problems:

1. the metadata from spec should not be copied into the config file (spec plugin seems to not remove the metadata, I think this is caused by wrong/missing positioning and will hopefully be fixed by @mpranj)
2. ini plugin does not support multi-line metadata. This should be

[2019-03-09 20:14] Piankero commented on #2467
Using the `dump` plugin though mitigates this problem

[2019-03-09 21:10] markus2330 commented on #2468
Thank you for the proposal!

This would mean that we would need to check for this situation and yield a different error then.

@kodebach is this also easily possible with your command-line parser? I would like to avoid specific code that needs to be thrown after the switch.

[2019-03-09 21:33] markus2330 commented on #2464
Thank you for reporting this problem!

Maybe only the root key is not handled correctly? Or do you get the same conflict also with subkeys?

[2019-03-09 21:35] markus2330 commented on #2451
Please create PRs if you change something. Otherwise it is unclear where exactly you added what.

"ordering" only defines the order, it does not automatically load the plugin.

[2019-03-09 21:38] markus2330 commented on #2466
Thank you for reporting!

For me the behavior is not surprising. You configure the boolean plugin not to use "on" (but only "1;yes") so why should it accept "on"?

[2019-03-09 21:40] markus2330 commented on #2469
Thank you for reporting the problem!

It seems to miss
'/usr/local/share/elektra/tool_data/web/elektrad/build'
are you sure it is installed?

Please also post the full log (or at least the relevant parts of it).

[2019-03-09 21:52] markus2330 commented on #2467
The dump plugin in infos/plugins of course does. But the dump plugin as default plugin?

Btw. 0.6.28 would be a very old Elektra version but it did not exist.

[2019-03-09 21:54] Piankero commented on #2467
What exactly is the question here? If the dump plugin is a senseful default plugin?

That was actually  my mistake, it is 0.8.26 of course.

[2019-03-09 22:15] markus2330 commented on #2467
The question is if your statement "Default plugin is ini" in the bug report is relevant to this bug.

[2019-03-10 07:42] Piankero commented on #2466
My fault, I copied the wrong example from my shell history. Please take another look at the example

[2019-03-10 07:48] Piankero commented on #2469
[code]
The folder `/usr/local/share/elektra/tool_data/web/elektrad` exists but in beneath no `build` folder

[code]

[2019-03-10 07:50] Piankero commented on #2467
I thought it would because the file is saved in the `ini` format. But this actually comes from this line: `infos/plugins = ini validation`. I removed that sentence stating me default plugin

[2019-03-10 08:00] Piankero commented on #2451
See my changes here: #2473

Why does the boolean plugin not get loaded? It is in `infos/plugin`. Also how to configure it once it is loaded? `infos/plugin = ini boolean true=1 false=0 validation ....`?

[2019-03-10 09:42] Piankero opened #2474 "kdb get -v should also display default values."
It is beneficial for users to see where a value from `kdb get` actually comes from. This is especially useful when `default` values are taken.

Unforuntately `kdb get -v` does not indicate anything like that:
[code]

Proposal:
[code]

[2019-03-10 09:52] markus2330 commented on #2474
Thank you for reporting this problem and for propose a solution.

A make a minor adaption in the output (swap sentence).

This should be a quite easy fix, a check if the resulting key starts with / is enough to know if a default is used.

[2019-03-10 10:01] markus2330 commented on #2451
No configuration should be necessary, the boolean plugin already accepts everything what we need.

[2019-03-10 10:05] markus2330 commented on #2469
@omnidan do you have an idea what the problem is here?

[2019-03-10 10:15] markus2330 commented on #2466
Thank you! I was able to reproduce it! Seems like this config option does not work. There is also no shell recorder test for it.

[2019-03-10 10:46] omnidan commented on #2469
@Piankero @markus2330 it seems like elektrad did not get built, you can try manually running `npm install` from the `elektrad` directory or running `make` which should also run `npm install` (if `-DTOOLS="kdb;web"` was specified).

[2019-03-10 10:52] markus2330 commented on #2469
@omnidan Thank you for looking into it!

@Piankero Can you check the output while building and installing Elektra? Maybe the error already happend there.

[2019-03-10 11:11] Chemin1 commented on #2464
I think this is true.

After setting up
[code]

`user/result` is not created by the merge but the subkeys `user/result/l` and `user/result/r` are
[code]
And after `kdb rm -r user/result` and now merging interactively the problem with the missing `ours` can be observed

[code]

[2019-03-10 11:20] markus2330 commented on #2464
Good catch!

Please also add these shell recorder tests, I think they are a good demonstration how the merging works.

[2019-03-10 11:27] Piankero commented on #2451
For LCDproc it is necessary because they have "yes/no" and "on/off" which I need to configure. It is not available per default.

Unfortunately this is blocked by #2466 anyway now.

[2019-03-10 11:57] Piankero commented on #2469
After some further investigation I fixed it. The reason was that I call `make install` with `sudo` and `sudo` has not `npm`. Interestingly after switchting to root (`sudo su`) I have npm again. So I simply called `sudo su` and `make install` which then correctly installed elektrad.

I did not see any problem in the logs with the `sudo make install` run.
[code]

The `sudo su` run on the other hand

[2019-03-10 12:50] markus2330 commented on #2469
For me it looks like a bug if the output says

`-- Installing: elektra-web > elektrad`

and actually nothing was done.

We should check RESULT_VARIABLE in src/tools/web/CMakeLists.txt.

See also https://cmake.org/cmake/help/v3.9/command/execute_process.html

[2019-03-10 12:53] markus2330 commented on #2451
By default `TRUE; 1; ON; ENABLE; ENABLED; YES` are available (see docu). This exactly matches our requirement.

[2019-03-10 13:11] Piankero commented on #2451
So the question remains why the plugin is not being loaded by the specification file. Do you have a clue or how can I help you on doing this

[2019-03-10 14:40] markus2330 opened #2476 "csvstorage: columns are ordered by name when using columns/index=name"
## Steps to Reproduce the Problem

[code]

## Expected Result

That I get the file:

[code]

## Actual Result

[code]

## System Information

- Elektra Version: master

## Implementation hint

csvstorage needs to remember where the columns were via metadata "order".

[2019-03-10 14:51] markus2330 opened #2477 "yajl: __dirdata gets added too often"
## Steps to Reproduce the Problem

[code]

## Expected Result

Following JSON file:

[code]

## Actual Result

Following JSON file:

[code]

## System Information

- Elektra Version: master

[2019-03-10 15:05] markus2330 commented on #2030
@0003088  Thank you for working on this!

[2019-03-10 15:12] markus2330 commented on #2451
Is this still the case even after you added infos/ordering?

[2019-03-10 16:17] sanssecours commented on #2477
I do not think that is a problem of the Directory Value plugin, but rather of YAJL. For example, YAML CPP handles this situation correctly:

[code]

. The problem is that the YJAIL adds additional keys to the key set. For example, if I remove `directoryvalue` from `infos/needs` in the YAJL plugin, then the commands

[code]

produce a key set with 6 keys:

[code]

. The proper number would be eithe

[2019-03-10 18:07] 0003088 commented on #2030
@markus2330 You are welcome, but I cannot promise any timeframe when this will be done. Sorry for the unintended closing of this issue. I should avoid the term 'fix' I suppose ^^

[2019-03-10 18:52] markus2330 commented on #2030
No, it is only that you directly pushed into master and because of that the "fixes ..." in comments immediately triggers to close the issues. If you create a PR, this will not happen (only after the PR was merged).

Please do not forget to write release notes. (doc/news/_preparation_next_release.md)

[2019-03-10 18:55] markus2330 commented on #2477
Thank you, I changed the title.

I was thinking that simply not writing empty __dirdata would solve the issue (also for yanlr). Would this approach have side effects?

[2019-03-10 19:38] sanssecours commented on #2477
If the Directory Value plugin does not create the entries for empty directory keys, then we are not able to distinguish between a key set that contains certain keys without a value and one that does not.

I really think the creation of additional keys is a bug in the YAJL plugin. For example, `dump` also does not create any additional keys:

[code]

.

The minor problem of the Yan LR plugin should

[2019-03-10 20:57] markus2330 commented on #2477
Yes, I fully agree, storage plugins should not produce any additional keys which were not set.

Can you document these guidelines for storage plugins? Then we could have a infos/status #666 for storage plugins that confirm to that semantics.

[2019-03-10 20:58] markus2330 commented on #2477
(I think at the moment INI in its default configuration also violates against this principle)

[2019-03-10 21:30] kodebach commented on #2468
Currently we treat everything starting with `-` as an option. It wouldn't be a huge problem to change this, but AFAIK this is standard POSIX operating procedure. If an option expects an argument and it is given as a separate element of argv (e.g. `-o file` or `--output file`) we don't treat leading dashes (`-`) as options. Also POSIX behaviour AFAIK.

While I don't mind changing behaviour to make

[2019-03-11 06:48] 0003088 commented on #2030
Ugh, you're right, I didn't work out of my fork! Do you want to reverse the commits?

[2019-03-11 07:36] markus2330 commented on #2468
Sorry, in my question it was not clear what "this" is. The proposal is to change the error message in the case somebody uses a `-<number>`, not to allow this.

[2019-03-11 07:38] markus2330 commented on #2030
If they are okay, you can leave them. Please only add a note about them in the release notes.

[2019-03-11 07:52] 0003088 commented on #2030
It seems to be fine on my machine. I'm not worried about the timer, but I fixed some layout errors and I do not know how older versions of Qt will react to these changes, since I've never seen the errors before (there's no issue for this I just fixed them)

[2019-03-11 08:50] sanssecours commented on #2477
I added a text about the proper behavior in pull request #2479.

[2019-03-11 09:21] Piankero commented on #2451
Yes, I added a shell recorder test in the PR which fails on the build system.

[2019-03-11 09:38] kodebach commented on #2468
Changing the error message should be possible as well. It would require modifications, but we could just set some metadata on the parent key, whenever an error is caused by an element of argv.

[2019-03-11 09:56] markus2330 commented on #2468
Then let us improve the error message for this case!

[2019-03-13 05:51] markus2330 opened #2489 "conditional: check if key is empty"
I need to express that "if isempty(a) then istrue(b)".

Is this possible with conditionals?

How to say "isempty"? ("isempty" refers to if it contains a string with length 0)

Does "istrue" also work if the keys are yes/no? (Together with the boolean plugin. Maybe we need another ordering here?)

[2019-03-13 06:11] markus2330 opened #2490 "allow customization of error messages"
The error messages of the some plugins are often hard to read (the syntax is not very intuitive).

A custom error message text similar to validation would be very helpful.

[2019-03-13 10:28] markus2330 opened #2492 "CLI binding for option parsing"
A CLI tool similar to getopt(1) with our option parsing API would be nice.

@kodebach: what do you think?

[2019-03-13 11:44] kodebach commented on #2492
How would that work?

The best solution I can think of is something like this:

[code]

It would read `specfile.ini` with the `ni` plugin and use it together with the options after `--` in a call to `elektraGetOpts`. The output would be:

[code]
(only variables for existing keys are printed)
This would be read by `source` and made available to your script.

However I don't see how this is any bett

[2019-03-13 12:25] markus2330 commented on #2492
Yes, I think the interface of getopt(1) from util-linux is okay (very similar like you suggested, your suggestion is even better actually). I only would use specification as mounted to spec, so something like:

[code]

[2019-03-13 12:49] kodebach commented on #2489
If you mean that if a is empty b must be true, I guess (haven't tried it) setting this on key a should work
`( ./ == '' ) ? ( ./relative/path/to/b == '1' )`, as long as `boolean` is mounted first.

But I think the whole `conditionals` plugin is quite broken, and if nothing else, we should at least remove the `maintained` status.

---

Also `infos/ordering` is not really a good solution. You need t

[2019-03-13 12:55] kodebach commented on #2492
Okay, that make sense... I will think about doing this after to options plugin is done

[2019-03-13 13:34] markus2330 commented on #2489
Yes, it may work but I never tried it, thus I ask.

Yes, I agree.

It is only for one situation: If two plugins of the same type (like it is the case here: boolean and conditionals are both validation plugins) have requirements that one must be before the other. Otherwise a different placement should be chosen.

[2019-03-14 12:41] kodebach opened #2497 "Possible bug in kdbGet"
@markus2330 I think there might be a bug in `kdbGet` related to global plugins:

https://github.com/ElektraInitiative/libelektra/blob/9010360ba57231dfd05a378fd2b67c324671dde1/src/libs/elektra/kdb.c#L874-L905

https://github.com/ElektraInitiative/libelektra/blob/9010360ba57231dfd05a378fd2b67c324671dde1/src/libs/elektra/kdb.c#L510-L542

As you can see, `elektraGetDoUpdate` is called with `parentKey`

[2019-03-14 13:45] markus2330 commented on #2497
Thank you for reporting this problem!

@mpranj Is this something you will change within your PR?

[2019-03-14 15:32] mpranj commented on #2497
This has not changed within my current cache PR.

The global plugins are not fully implemented, so there are definitely even more bugs. To my knowledge the `parentKey` should not even be `initialParent`, but actually the name should contain the global position. That way, the global plugins would know where they are currently called from.

[2019-03-14 15:38] markus2330 commented on #2497
@mpranj Thank you for looking into it. We are already waiting for your implementation of the global plugins :+1:

@kodebach do you have a concrete situation where this creates a problem? Is a fix urgent?

[2019-03-14 16:49] kodebach commented on #2497
I was looking into it because of the options plugin. As discussed, ideally we would add a placement `procgetstorage` between `getstorage` and `postgetstorage` which would be used for plugins that write to the `proc` namespace.

This is also relevant for caching, because those plugin would always have to be executed (if `kdbGet` is called twice in the same process, we could skip some plugins, e.g.

[2019-03-14 16:58] 0003088 commented on #2405
I just realized that I cannot save changes in the metakeys? Is this a known issue? It works if I create a new key, assign it a metakey and synchronize. But if I want to change an existing metakey, the changes are gone after sync/restart.

[2019-03-14 17:04] mpranj commented on #2497
Considering the current state of the implementation I am absolutely open to suggestions.

I think it might even make sense to put more information in the parentKey for global plugins. We can keep the initialParent as parentKey and add the position and other information as meta-keys.

Another option is to exchange additional information via the global keyset.

[2019-03-14 17:13] markus2330 commented on #2405
Thank you for spotting and reporting this problem! No, it is not a known issue, setting meta-data on the commandline works without problems:

[code]

Maybe the problem is in the 3-way merge, which is currently being reimplemented because of many known problems.

[2019-03-15 10:14] e01306821 commented on #2474
I'd take this issue to get a bit familiar with the codebase (CM)

[2019-03-15 10:26] markus2330 commented on #2474
Thank you for taking this issue!

The relevant source is in src/tools/kdb/get.cpp method printTrace

[2019-03-15 22:38] mpranj opened #2502 "testshell_markdown_*: multiple tests working with the same file lead to errors"
## Steps to Reproduce the Problem

[code]

Running the test multiple times is not key, but it increases the chances.

It seems that the parallelism of our tests introduces some problems. Multiple tests work on the same exact file and in this case `testshell_markdown_tutorial_storage_plugins` has not yet cleaned up `config.yaml` while `testshell_markdown_camel` is already working on it.

In some te

[2019-03-17 14:14] markus2330 commented on #2502
Thank you for reporting this problem!

@sanssecours Do you think we can solve this problem in general within the shellrecorder? (E.g. by putting all relative files into some temporary folder?)

[2019-03-17 21:36] sanssecours commented on #2502
That might be possible. However, if we do that correctly, we have to parse the `kdb` commands we use in Markdown Shell Recorder tests.

[2019-03-18 00:01] markus2330 opened #2507 "resolver: support symlinks"
## Steps to Reproduce the Problem

Mount a file, which is a symlink. Change the configuration.

## Expected Result

The content of the file where the symlink points to is modified.

## Actual Result

The symlink is replaced by a config file with the new content.

## System Information

- Elektra Version: master

[2019-03-18 00:15] markus2330 opened #2508 "csvstorage: support dos newlines"
## Steps to Reproduce the Problem

Mount a CSV file which has dos newlines:

[code]

## Expected Result

That the last column works.

## Actual Result

In the last column the keys have a `^M` appended.

## System Information

- Elektra Version: master

[2019-03-19 08:11] markus2330 opened #2509 "tag issues by languages"
I propose to tag issues by languages.

I would add the following tags:

- Java
- C++
- JavaScript
- Python
- (Ruby) (not sure if there is a bug in the moment)
- Groovy
- CMake

The Groovy and CMake are actually specializations of what we currently tag as "build".

What do you think about this proposal?

Any ideas or improvements?

[2019-03-19 08:15] markus2330 opened #2510 "jni: support attaching to existing JVMs"
See src/plugins/jni/jni.c line 201 we currently do not check if a JVM has already been started. If it was already started, the already running JVM should be used.

[2019-03-19 16:21] mpranj commented on #2502
The original reported problem is not solved by 9764b1aaf3dc1bd470b93293b3cd13967503b610 imo. We can still keep it closed if everyone is satisfied with the current state.

[2019-03-19 16:55] llukask commented on #2423
The problem with `is_not_rw_storage` is that it checks if the output of `kdb info $PLUGIN provides` is equal to `storage`, but for a plugin to be a storage plugin the output only has to contain the word `storage`.

When I fixed this in my fork all of the tests that use `is_not_rw_storage` (that is `check_export`, `check_import`, `check_get_set` and `check_kdb_internal_suite`) started to fail.

Mos

[2019-03-19 17:14] markus2330 opened #2511 "jni: testing if jni can be called from Java application"
Write a testcase in which a Java application uses Elektra and within Elektra some plugin uses the JNI plugin.

[2019-03-19 17:19] markus2330 commented on #2408
@omnidan Can you point us to which parts would need changes?

[2019-03-19 17:28] markus2330 commented on #2502
Thank you for reporting this!

[2019-03-19 17:56] kodebach commented on #2423
If you uncomment this line:
https://github.com/ElektraInitiative/libelektra/blob/4fff878600ac494a8a0412a8547525a8630b854c/tests/shell/generate_data.sh#L4
you can run the testcase `testscr_generate_data` to generate the files in `tests/shell/shell`. Some plugins however shouldn't be tested because they are not normal read-write-storage plugins (e.g. `c`, `cpptemplate`, `specload`), so you should fi

[2019-03-19 18:09] omnidan commented on #2408
@markus2330 I think this could be added in kdb.js which is used by the web ui to interface with the kdb.

[2019-03-19 18:34] markus2330 commented on #2408
Thank you for the quick reply!

Yes, it should be enough to change `kdb <ns>/key` to `kdb -N <ns> /key`. And then of course the ui needs to be fixed so that the cascading keys are not shown (see screenshot above). (Actually this would be automatically fixed once we fix  #2456.)

[2019-03-20 09:06] vbalan92 commented on #2508
I would like to take over this task. Can you please assign it to me? Tanks in advance!

[2019-03-20 10:50] markus2330 commented on #2508
@vbalan92 Thank you for taking this issue! It is quite important as https://tools.ietf.org/html/rfc4180 actually defines CSV to have CRLF as record delimiter.

You will find the source code in src/plugins/csvstorage.

I quickly tried if the following patch fixes the problem: d2803229154a35e4e4ddd3e94da531f314393878 but it does not, see https://build.libelektra.org/jenkins/blue/organizations/jenkin

[2019-03-20 10:57] markus2330 opened #2515 "JNI: Write Tutorial for Java Plugin Development"
There are already some examples of Java Plugins (src/bindings/jna/libelektra4j/src/main/java/org/libelektra/plugin/) but there is no tutorial of how to do it.

Please write a tutorial of how to get started with plugin development in Java.

[2019-03-20 11:22] PhilippGackstatter commented on #2129
I think I can look into this as my first issue. Can you give me a few pointers where I should start to look @markus2330? Thanks.

[2019-03-20 12:00] markus2330 commented on #2129
The source is in src/plugins/yajl/yajl_gen.c

The problem might be that elektraNextNotBelow check fails for the parentKey itself (just a wild guess, I did not debug this problem.)

Luckily @sanssecours wrote an excellent tutorial describing how the storage plugins should behave (see doc/tutorials/storage-plugins.md). So you could take as next issue #2132 (#2477  is maybe a result of this) and othe

[2019-03-20 12:03] markus2330 commented on #1862
I think several plugins have the problem that they do not support mixed arrays/objects. So a separate implementation (in a new plugin) would make sense.

How do you currently handle this problem in your YAML plugins?

[2019-03-20 15:50] sanssecours commented on #1862
None of the YAML plugins handle this situation (in the `set` direction) properly. In my opinion the best solution to solve this problem is to just use a map containing the keys `#1` and `one`.

[code]

. In the `get` direction this already works in YAML CPP, Yan LR, YAMBi, YAwn and YAy PEG:

[code]

. The same strategy should also work for YAJL. The JSON version of the YAML file above looks like t

[2019-03-20 16:05] markus2330 commented on #1862
Thank you for the detailed answer! Why do you add "key"? Isn't this enough:

[code]

[2019-03-20 17:02] goJoWe16 commented on #2476
I would like to solve this bug as homework in the course CM, can you please assign me to this issue?

[2019-03-20 17:14] markus2330 commented on #2476
Are you in contact with @vbalan92, who already chose an issue regarding the csvstorage (#2508)?

[2019-03-20 17:16] sanssecours commented on #1862
I added `key`, because it was part of the [initial issue description](
https://github.com/ElektraInitiative/libelektra/issues/1862#issue-308510239).

Yep, that simpler JSON object also shows how to handle the issue.

[2019-03-20 17:17] goJoWe16 commented on #2476
No, not until now. Is this a problem? I can also do another issue if that is preferred.

[2019-03-20 17:28] markus2330 commented on #2476
It might be a problem as refactoring in the plugin makes sense and this would not work without any coordination.

Let us see what @vbalan92 says but you can also search for other issues in the meantime.

[2019-03-20 17:39] goJoWe16 commented on #2441
@markus2330 Could you please assign me to this issue for the course CM and unassign me from the issue #2476 as discussed in this the thread of issue #2476?

[2019-03-20 17:44] markus2330 commented on #2441
Done!

[2019-03-20 18:09] DaHopeman commented on #2456
I would like to do this as my first issue @markus2330

[2019-03-20 18:13] markus2330 commented on #2456
Good choice, this should be very easy. I assigned you.

[2019-03-20 18:21] markus2330 opened #2516 "improve plugin config specification"
The plugin config specification lacks some features:

- [ ] it does not support "empty keys" (`export,export/id` are discarded because = is missing)
- [ ] it does not support arrays (`export=,export/id=,export/name=` is quite long, something like `export=[name,id]` would be better. This should produce `export/#0/name` and `export/#1/id`)

Maybe we can even plugins for the plugin specifications and

[2019-03-20 18:29] kerschy commented on #2313
I would like to do this as my first issue.

[2019-03-20 18:33] markus2330 opened #2517 "csvstorage: export columns order"
Export should be an array, so that one can specify in which order columns are printed:

[code]

## Expected Result

First the column "xid", then the column "name" should be printed.

[2019-03-20 18:38] vbalan92 commented on #2476
Hi guys. As I am responsible for (#2508), I think I can also fix this issue.

[2019-03-20 18:41] markus2330 commented on #2476
Ok, thank you! It makes a lot of sense that you fix all csvstorage related issues. Then you could make the whole homework around csvstorage.

[2019-03-20 18:51] markus2330 opened #2518 "csvstorage: export with colname does not work if columns/index= omitted"
## Steps to Reproduce the Problem

[code]

## Expected Result

(see above)

## Actual Result

`IMDB;Title` is not printed.

## System Information

- Elektra Version: master

[2019-03-20 18:52] markus2330 commented on #2313
Thank you for working on this!

[2019-03-20 19:14] vbalan92 commented on #2508
Can you please point me to the documentation that reveals how to compile and test the compiled plugin? Thanks in advance

[2019-03-20 19:29] markus2330 commented on #2508
All plugins are automatically compiled together with Elektra, you simply have to follow doc/COMPILE.md

To run only the specific tests, you can do something like:

[code]

To directly run executables from the build directory, use (assuming "build" is the build dir within the elektra folder):

[code]

See also doc/TESTING.md

[2019-03-20 19:46] alexsaber commented on #2467
Hi! Can you please assign me to this issue? I have picked 3 more ini related problems.

[2019-03-20 19:46] alexsaber commented on #2065
Hi! Can you please assign me to this issue? I have picked 3 more ini related problems.

[2019-03-20 19:46] alexsaber commented on #1942
Hi! Can you please assign me to this issue? I have picked 3 more ini related problems.

[2019-03-20 19:46] alexsaber commented on #1696
Hi! Can you please assign me to this issue? I have picked 3 more ini related problems.

[2019-03-20 19:57] markus2330 commented on #2065
Thank you, I assigned you these issues.

I think this issue is a good starting point to get to know the parser.

[2019-03-20 20:09] markus2330 commented on #1942
Actually this is a generic problem where maybe several parsers will choke. E.g. I quickly tried yajl, which has a similar problem:

[code]

To solve this generically, we could implement a `remove/bom` in the plugin filecheck (simply stripping the BOM from the file) or simply reject files which have BOM (use the already existing `reject/bom` feature).

@sanssecours What do you think? Do your storag

[2019-03-20 20:21] hesirui commented on #2339
Sounds good, I will add the badges

[2019-03-20 20:23] markus2330 commented on #2339
Thank you!

[2019-03-20 21:03] mirunix commented on #2515
Thank you for the assignment. Sorry for asking, but I suppose this is one of the minor bug/tasks and not the homework, right?

[2019-03-20 21:03] mirunix commented on #2515
Thank you for the assignment, will do.

[2019-03-21 09:01] sanssecours commented on #1942
Rejecting a file with a BOM sounds like a good idea. Stripping the BOM (and maybe re-adding it later) sounds good in theory, but would potentially require communication between the BOM and storage plugin in the `set` direction.

I think the best solution would be to add the `iconv` plugin to the backend and convert the data in the `get` direction into UTF-8 (without BOM) and then back to whatever

[2019-03-21 14:24] usamamorad commented on #2509
Good Idea

[2019-03-21 15:44] markus2330 commented on #2509
As discussed we will use `lang/<lang>`, e.g., `lang/cpp` for C++.

We will only create the labels we will actually need.

For the build issues we will keep build, so lang/groovy is not needed. The only exception is lang/cmake (for CMake related tasks).

[2019-03-21 16:08] markus2330 opened #2519 "add spec file"
Our Administrator Heinz Deinhard contributed following RPM spec file [0]. Tasks to do:

- [ ] add it to the repo
- [ ] write release notes which mention Heinz Deinhard
- [ ] do some cleanup of the spec
- [ ] create build job on Jenkins which creates the RPM (at least Cent OS 7)

[0]
[code]

[2019-03-21 17:19] markus2330 commented on #1942
Yes, I fully agree! To fix this issue here, it is enough if all storage plugins require "filecheck" and we reject all these different malformed files.

Later (if someone really needs config files with BOM or UTF-16) we can introduce a new fileiconv plugin.

@sanssecours Should we only reject BOM or also files with inconsistent line endings or any other setting filecheck has?

@alexsaber To solve t

[2019-03-21 19:20] markus2330 commented on #2080
Under CentOS 7 the same problem occurs:

[code]

[2019-03-21 20:49] alexsaber commented on #1942
Thank you for the hints and comments!

Am Do., 21. März 2019 um 18:19 Uhr schrieb markus2330 <
notifications@github.com>:

[2019-03-22 06:36] markus2330 opened #2520 "gsettings: get picked as default"
The docu says that the (experimental) plugin gsettings will not get picked by default. But this does not always seem to be true:

[code]

https://developer.gnome.org/gio/stable/gio-Extension-Points.html and https://developer.gnome.org/gio/stable/extending-gio.html are not very clear about it but it might be that the highest and not lowest priority wins (this is the case for other selection of defa

[2019-03-22 07:15] markus2330 opened #2522 "installing docu without building does not work"
## Steps to Reproduce the Problem

[code]

## Expected Result

That docu does not get build but the pre-built docu should get installed.

## Actual Result

The docu (in particular the man pages) do not get installed. But the man pages are available now without building so it would make sense to support this.

## System Information

- Elektra Version: master

## Workaround

If you do not have doxyg

[2019-03-22 07:25] markus2330 opened #2523 "external tests should not fail if source is not available."
check_external_example and check_external_example_highlevel may fail when you run the tests without the source code, e.g.:

[code]

[2019-03-22 07:35] sanssecours commented on #1942
Most storage plugins assume Unix line endings (`\n`). I think it would be great, if we reject all files that use Windows (`\n\r`) or Classic Mac OS (`\r`) line endings for those plugins. Rejecting files which contain `null` bytes or unprintable characters does also make sense for a lot of storage plugins.

[2019-03-22 08:56] #2520 closed

[2019-03-22 10:28] #2474 closed

[2019-03-22 10:32] markus2330 commented on #1942
Yes, most likely most of them will not support anything else other than `\n`. For csvstorage, however, we now add support for DOS line endings, see #2508. For the others I am fine with rejecting BOM and non-UNIX line endings.

[2019-03-22 10:43] markus2330 opened #2524 "improve plugin tutorial"
Some parts, sometimes needed for implementing plugins, are not yet described in the plugin tutorial (doc/tutorials/plugins.md)

- [x] elektraPluginGetGlobalKeySet
- [ ] relevance of /modules in elektraPluginOpen()
- [ ] exports/genconf (see augeas)
- [x] /exports/checkconf (see crypto)

@petermax2 Can you take over the description of checkconf?

[2019-03-22 10:46] markus2330 commented on #2524
Btw. maybe we separate the tutorial into the basic parts and advanced parts (like checkconf).

[2019-03-22 15:15] Chemin1 opened #2525 "Proposal: More verbose help message for configure-home script"
The documentation (https://www.libelektra.org/devgettingstarted/testing) recommends the script configure-home to avoid issues when running all tests.

The error message says that I must create a new directory. However, I do not know why or where. My attempts were followed by "does not appear to contain CMakeLists.txt".

Help would be greatly appreciated. I'd additionally suggest to make the hints

[2019-03-22 15:24] markus2330 commented on #2525
Thank you for creating the issue!

Yes, it is one of four possibilities.

You do not need to run the script, it is enough to call "ccmake" and reconfigure these paths.

Which error message?

Did you follow https://www.libelektra.org/docgettingstarted/compiling?

[2019-03-22 16:03] kodebach commented on #2525
Looking at `configure-home`, I would highly recommend against using it, because it also sets the default storage plugin to `ini`. This could cause its own problems and means you are no longer executing the same code the build server would execute.

Instead I would just recommend adding `-DKDB_DB_SYSTEM="~/.config/kdb/[name]/system" -DKDB_DB_SPEC="~/.config/kdb/[name]/spec" -DKDB_DB_USER=".config/k

[2019-03-22 16:16] markus2330 opened #2526 "python+cpp: delBaseName misleading exception"
## Steps to Reproduce the Problem

[code]

## Expected Result

Get an exception that clearly says that "k" is read-only because it is in ks (and not also many other reasons).

## Actual Result

[code]

## System Information

- Elektra Version: master

## Further Log Files and Output

[2019-03-22 16:19] kodebach commented on #2523
Yes, my last change to these tests didn't take packaged versions of Elektra into account...

The tests rely on Elektra being installed and the source directory still being available, because they read the example sources from there. Instead we should just install the example sources to `$prefix/share/elektra/examples` (`$prefix` being the CMake install prefix), so they get shipped with Elektra. Th

[2019-03-22 16:24] markus2330 commented on #2525
Thank you for pointing this out!  I changed it. 1c7be76080fbf943725c480b8bd51711ff2c48c9

This is also how the sentence was meant to be interpreted. I improved the sentence  913821563090d8046da48087a6df490c6e0b9277

I agree it works well for developres. The problem is, that is only useful for single-user systems, because "system" and "spec" namespaces are then actually not system-wide.

[2019-03-22 16:28] markus2330 commented on #2525
Btw. this config also works well in practice, it is used on the lab computers at the TU Wien. It is useful if a user is not admin of a system but wants to use Elektra as-if.

If you are admin of your system, you can simply give your write-permissions of the system and spec paths.

[2019-03-22 16:32] markus2330 commented on #2523
Btw. the tests also rely on having build tools available (cmake,...)

We definitely should turn these tests off if the source dir cannot be found.

[2019-03-22 16:53] markus2330 opened #2527 "multiresolver: crash on failed commits"
## Steps to Reproduce the Problem

Mount a multi-file resolver, e.g.

[code]

then do a kdbGet(), externally modify a file, then do kdbSet()

In my case a python program did the kdbGet() and later kdbSet(), and a `git checkout -f` did the modification of the files, but this should not matter.

## Expected Result

That a conflict occurs.

## Actual Result

A crash occurs:

[code]

## System Informa

[2019-03-22 19:21] petermax2 commented on #2524
Yes, can do.

What else (besides checkconf) would be considered "advanced"?

[2019-03-22 19:34] petermax2 commented on #2524
I was just looking at 'plugins.md` and found a description of `checkconf` (see line 379 ff.). What exactly is missing?

[2019-03-22 20:15] markus2330 commented on #2524
From the current tutorial, I would consider following points advanced:

- writing C++-based plugins
- using elektraPluginError (is currently not really described anyway; btw.: not to be confused with ELEKTRA_SET_ERROR)
- elektraPluginCheckConf

Ohh, I did not see it because I used a case-sensitive search.

- How elektraLineCheckConfig can be exported (here it needs to be written "checkconf", thus

[2019-03-22 20:29] markus2330 commented on #868
The contract can be very generic but mounting/unmounting of plugins can still be the only feature for now. I am not sure if only global plugins suffice, as some application developers might also consider non-global plugins essential for their application (e.g. profile)? And didn't we even say that the gopts plugin will be non-global? If we do not need non-global plugins for now, only mounting/unmo

[2019-03-22 20:29] kodebach commented on #2353
I may have solved the problem of the `debian/copyright` file possibly being under GPL

I ran [scancode](https://github.com/nexB/scancode-toolkit) against the Elektra repository, I then filtered out anything that was BSD-3 licensed (called `bsd-new` by scancode). I checked the remaining ~30 files and came up with the following summary:

[code]

Compared to the `debian/copyright` file, this found so

[2019-03-22 20:34] markus2330 commented on #2353
Thank you very much! So we are one step closer to CPack. It would also be great if we can build RPMs (#2519).

Maybe someone new will join us to do automatic releases. I already talked with him and he liked the idea of working on this but there is no fixed date when he will start working.

Maybe we let even scancode run on the build-server so that the license file is checked to be up-to-date?

[2019-03-22 20:42] kodebach commented on #2524
That would require somehow inserting the metadata needed by the type checker... It is possible, the `type` plugin exports a function to check a single key, but most plugins won't need configuration complex enough to warrant that IMHO.

AFAIK warnings added to the errorKey are printed during mounting.

I think requiring that plugins provide a specification for their configuration would be a better

[2019-03-22 21:02] kodebach commented on #868
It turns out a global plugin makes the interaction easier, even if the plugin doesn't need to know about the whole KDB. Global plugins always receive the parent key given to `kdbGet`, which is exactly what we want for `gopts`.

Because of the `kdb` tool, there has to be at least the possibility to disable `gopts`.

My idea was either to fail, if the given mounted requirements are not fulfilled, or

[2019-03-22 21:06] markus2330 commented on #2524
Yes, definitely. This would be quite a big feature, though.

[2019-03-22 21:12] kodebach commented on #2353
That is a big "maybe"... It takes quite some time to run and the output is a huge JSON (other formats are available) file that needs some post-processing. If it works at all we definitely need to add some exceptions rules, because e.g. for `cmake/Modules/FindLua.cmake` it detects `lgpl-2.0-plus` and `wxwindows-exception-3.1`, but actually it is BSD licensed.

Should be possible with CPack

I have

[2019-03-22 21:15] kodebach commented on #2466
Boolean is obsolete and was integrated into the new type plugin, so I will close this

[2019-03-22 21:15] #2466 closed

[2019-03-22 21:15] markus2330 commented on #868
And also to enable for applications that rely on cmd-line options.

Yes, sounds very good.

Yes, the you are right. With KEY_FUNC passing the pointer to the main-loop might be not so bad after all. I hope this change will not be a Pandora's box.

Really? In a file included by users? That really should not happen :cry:

[2019-03-22 21:16] kodebach commented on #2451
Boolean and type are obsolete and have been merged into the new type plugin -> closing

[2019-03-22 21:16] #2451 closed

[2019-03-22 21:19] markus2330 commented on #2353
It seems like we did not do what we should have done ("To distribute this file outside of CMake, substitute the full License text for the above reference.") Maybe this already would fix the problem.

:+1:

I think the easiest way is that you create a PR.

[2019-03-22 21:28] kodebach commented on #868
There is definitely a trade-off between having strongly typed functions and function pointer and using a generic KeySet. We might want to leave the library for notifications (they are quite a special case) and just invoke `kdbEnsure` in there to mount the plugin. This should get rid of the dependency on `kdbprivate` as well. But it would avoid `KEY_FUNC`.

Maybe this could even be the solution in

[2019-03-22 21:30] kodebach commented on #2353
Yes, it probably would

I'll do that but I will have to do some cleanup first... I added a lot of debug `message`s to understand our CMake setup

[2019-03-22 21:35] markus2330 opened #2528 "license issues"
update doc/THIRD-PARTY-LICENSES

- [x]  `src/tools/rest-frontend` should be renamed to `src/tools/website`.
- [x] `Files: src/tools/kdb/gen/mustache.hpp:` remove `: ` at end
- [x] cmake was renamed to `scripts/cmake`
- [x] cmake/Modules/FindLua.cmake: "To distribute this file outside of CMake, substitute the full License text for the above reference."

(Extracted from #2353)

[2019-03-22 21:36] markus2330 commented on #2353
I extracted the license issues from here and added them to #2528.

If you can summarize what you found out in our docu, it may help newcomers :+1:

Can we add your summary above in our LICENSE.md?

[2019-03-22 21:42] kodebach commented on #2353
Sure :thumbsup:

[2019-03-23 05:25] markus2330 opened #2529 "formatting job fails if no tools installed?"
https://build.libelektra.org/jenkins/blue/organizations/jenkins/libelektra/detail/master/515/pipeline

[2019-03-23 08:30] Chemin1 commented on #2525
I wanted to try it with the script because thats what we talked about in the meeting.

When I'm in `scripts` I get into the following situation
[code]
Now I do not know where to create a new directory. Is it `mkdir here` or `mkdir ../here` or `mkdir ~/here`? Making that more clear writing "create a new folder _in directory xyz_ and run".

[2019-03-23 08:33] markus2330 opened #2530 "Continuous Releases"
Currently the release process is done in many error-prone manual steps. The goal is, that only a button needs to be pushed for a release, doing everything as described in doc/todo/RELEASE

Furthermore, the releases should offer more to users:

- [x] having DEB packages (at least for Debian and Ubuntu) see #1802
- [ ] having RPM packages (at least for CentOS) see #2519
- [ ] having a repo for stati

[2019-03-23 08:49] markus2330 commented on #2525
It is similar to the problem "press any button to continue", which one is "any"? But you are right, a concrete command what should be done helps, I added it.

[2019-03-24 08:08] markus2330 opened #2531 "wresolver: remove files on empty config"
## Steps to Reproduce the Problem

[code]

## Expected Result

That cat cannot find a file.

## Actual Result

cat outputs:

[code]

## System Information

- Elektra Version: master

## Implementation Hints

wresolver should remove the configuration files if there are no keys.

[2019-03-24 08:09] markus2330 commented on #671
moved forgotten issue to #2531

[2019-03-24 08:18] markus2330 opened #2533 "handling of filesystems without sub-second timestamps"
## Steps to Reproduce the Problem

Run KDB conflict test cases #613.

## Expected Result

That conflicts occur.

## Actual Result

Conflicts are not found as they happen within a second.

## System Information

- Elektra Version: master

## Further Infos

Affected file systems seem to be:

- [ ] HFS+
- [ ] VFAT
- [ ] any file system if the system clock jumps backwards

A possible implementation te

[2019-03-24 08:24] markus2330 opened #2534 "mounting: test and improve behavior on error/warnings"
In tests/shell/check_error.sh

- [ ] re-include test case (line 85-112)
- [ ] add a new test case where checkconf fails
- [ ] add a new test case where checkconf emits warnings (if they are actually shown)

[2019-03-24 11:44] Chemin1 commented on #2525
This became clear to me after I got the same result with the newly provided example as with any of the ones I thought about before:

[code]

In the meanwhile I got it running using the cmake options only.

[2019-03-24 13:16] Chemin1 opened #2535 "Old build types in documentation"
The documentation for compiling (https://www.libelektra.org/docgettingstarted/compiling) mentions

for. However, from what I've seen this is outdatet since 0.8.17 (https://www.libelektra.org/news/0.8.17-release) and should therefore not be in the official guide anymore?

[2019-03-24 14:31] kodebach opened #2536 "list plugin confusion"
While working on #868 I stumbled across a lot of weirdness inside the `list` plugin and the config for global plugins...

The one thing that is kind of problematic for `kdbEnsure`:

The `list` plugin, provides the functions `elektraListAddPlugin` and `elektraListEditPlugin`. The names make it seem like the are useful functions, with which one can add a plugin or edit its config.

However, the code

[2019-03-24 15:46] PhilippGackstatter commented on #2129
If I mount an empty json document (meaning it contains just `{}`), then the following happens when I call `kdb set system/lvas/cm/yajl "test"`.
`elektraYajlSet` is called with a KeySet that has jus `(system/lvas/cm/yajl,test)` as values.

In the call to `elektraGenEmpty` the second clause is executed, since they KeySets size is 1.
The strcmp also succeeds because the parentKey has the same value a

[2019-03-25 08:37] markus2330 commented on #2439
It seems like we still have failures (dbus see #2532)

[2019-03-25 08:42] markus2330 commented on #2536
Yes.

But please make it in a way so that we can reuse this API also with the new plugin system developed by Vid. The list plugin will hopefully get retired soon.

[2019-03-25 08:50] markus2330 commented on #2535
Thank you, you are completely right! I'll fix the problem.

[2019-03-25 08:50] #2535 closed

[2019-03-25 09:09] markus2330 commented on #2525
This is now a different problem: the `configure-*` scripts need the source directory as parameter. I will add a message to indicate the problem.

Please reopen if there are further problems.

[2019-03-25 09:09] #2525 closed

[2019-03-25 09:51] markus2330 commented on #2129
Yes, the directoryvalue modifies the KeySet elektraYajlSet receives. This does not happen, however, if only the parentKey is present (as it is not considered to be a "directory" then.) So if you only set the parent key, as you already found out, elektraGenEmpty will be executed and the strcmp succeeds.

But elektraGenEmpty has some assumptions which are now not true anymore (it was written before

[2019-03-25 11:04] sanssecours commented on #2129
I think the [plugin tutorial](https://github.com/ElektraInitiative/libelektra/blob/master/doc/tutorials/plugins.md) already describes

- the value of parent keys (filepath), and
- that parent keys are used to emit error and warning information

. I do not know anything else that is special about parent keys.

Since this is the first time I heard about empty keys, I do not think I am the right pers

[2019-03-25 11:19] markus2330 commented on #2129
There is also nothing else special about it except that some configuration file formats do not have a way to simply describe a value without a key.

Empty keys allow you to map documents like `{"root": {"": "something"}}`. How do you map this currently to a KeySet?

This seems to have changed: https://stackoverflow.com/questions/13318420/is-a-single-string-value-considered-valid-json

In https://w

[2019-03-25 11:57] sanssecours commented on #2129
Seems like YAML CPP handles this data properly:

[code]

. I **did not** adapt the plugin for empty keys though. Just calling `setBaseName` in a storage plugin, using the correct string value (`""`), should be enough to support this feature.

[2019-03-25 12:32] markus2330 commented on #2129
Nice to see that this works out-of-the-box without special handling :+1:

@sanssecours Do we now want to support RFC 7159? What do your plugins do if only the parentKey is set?

[2019-03-25 13:11] sanssecours commented on #2129
In my opinion supporting every data type at the top-level makes sense.

They just store the text (without the key):

[code]

.

[2019-03-25 21:00] PhilippGackstatter commented on #2129
I added special handling for the top-level in [this commit](https://github.com/PhilippGackstatter/libelektra/commit/91a9612e8023b24faee0e35cb54bc16cf0edda24).
That breaks a test in the yajl module, but before I go and spend time fixing that I wanted to check in first, if that would be an acceptable solution @markus2330?

Just to elaborate a little bit: If the size of the KeySet is 1, then I can be

[2019-03-26 01:45] dmoisej opened #2537 "bindings java: HelloElektra.java errors"
The problem is related to the guide: https://www.libelektra.org/bindings/jna

Firstly, I cloned the Elektra source code from git and has compiled it, so I've got my build folder. Secondly, I followed a guide under https://www.libelektra.org/bindings/jna just to test the binding.

As a result, IntellijIDEA has thrown me a few errors.  The error appears on the lines 8, 12 and 38.

`final Key key = K

[2019-03-26 09:45] markus2330 commented on #2537
You should not assume that you did something wrong. Maybe the guide simply does not cover your installation/Java setup/... Or maybe there is even something wrong in the guide or the code (In this case it seems like the problem is in the code, see below).

Yes. The create method was improved in 9643232a64a9bbca782587840385fbb40c7e5346 (to make them more safe). But it seems like the "HelloElektra.ja

[2019-03-26 10:02] markus2330 commented on #2129
Which test? (see also below)

It is easier to see if something is an acceptable solution if:

- you created an PR (which will then run all test cases)
- describe in a test and with examples which behavior you now want to implement

No, this example only demonstrates that `{"", "some value"}` is not an ideal way to represent the parentKey value.

[2019-03-26 11:15] markus2330 commented on #160
There was a downtime of our server in the morning. Everything runs again but we got an offer that they will exchange the hardware. So most likely we will have another downtime of about an hour today.

[2019-03-26 11:54] sanssecours opened #2540 "KDB Set Meta: Command Stores Empty String Instead of Nothing in New Keys"
# Steps to Reproduce the Problem

[code]

# Expected Result

The command above should create an empty key:

[code]

.

# Actual Result

The command creates a key that stores an empty string:

[code]

# Additional Information

I think that the commands

[code]

, and

[code]

should produce the same key database. This is currently not the case.

If I remove the comment from

https://github.com/Elek

[2019-03-26 14:38] markus2330 commented on #2540
Thank you for reporting this usability problem!

As the code-comment already says, I wanted to avoid following problem:

[code]

What about improving the output of `kdb setmeta user/tests/empty array ''`? E.g. it could say "Created new key user/tests/empty with empty value and meta-data array"?

[2019-03-26 14:52] sanssecours commented on #2540
If you replace “value” with “string” in the message above, then I think it would improve the situation slightly. However, I still prefer that `kdb setmeta` just creates an empty key, if the key does not exist yet.

[2019-03-26 15:27] markus2330 commented on #2540
Ok, then let us do this for now.

Yes, it makes sense if you already know Elektra's basics. But if someone does not know about that keys can be empty, it will be confusing for the person why "binary" is set.

What about completely rejecting `kdb setmeta` if the key does not exist?

[2019-03-26 15:40] sanssecours commented on #2540
I agree that we should make it more obvious in the documentation that empty keys exist, and that they store the meta key `binary`.

That sound inconvenient. I would even prefer the current current behavior over that.

[2019-03-26 16:05] markus2330 commented on #2540
I think the docu already overcharges users with special nuances of problems normal users never thought of. Most users should be able to use Elektra without knowing what an "null value" or an "empty base name" is. Of course you need to know it if you want to write a parser. But for normal usage it should be irrelevant.

We should put the attention on things they really should care about: E.g. that

[2019-03-26 16:09] markus2330 commented on #2129
I fully  agree.

So let us implement the same with yajl.

[2019-03-26 16:48] markus2330 commented on #160
The server is up again. Unfortunately we got the same hardware. If somebody has time for the installation/setup, we can upgrade the hardware.

[2019-03-26 17:19] e01306821 commented on #2460
I'd like to take this issue

[2019-03-27 04:32] dmoisej commented on #2537
The Pull Request is created:
https://github.com/ElektraInitiative/libelektra/pull/2542

[2019-03-27 13:05] goJoWe16 commented on #2441
@markus2330

I am not able to reproduce this issue with the current version of elektra. The web-ui starts up without any issues on my system (using one instance):

![Bildschirmfoto von 2019-03-27 14-03-48](https://user-images.githubusercontent.com/17863315/55077992-5f43ad80-5099-11e9-8299-79064deedee5.png)

[2019-03-27 15:48] markus2330 opened #2543 "profile: warning 82 and crashes"
## Steps to Reproduce the Problem

Unfortunately, I could not reproduce the problem. It might be related to wildcard specifier or defaults/fallbacks for the profile itself. Here is what I tried while reproducing:

[code]

## Expected Result

- That wildcard specifier for profiles work.
- That warning 82 does not occur

## Actual Result

[code]

and also a crash:

[code]

## System Information

- E

[2019-03-27 16:07] markus2330 commented on #666
I added (no) open bugs over a release (maybe this is already said by "maintained"?)

[2019-03-27 16:22] markus2330 commented on #2490
Some specifier to refer to other parts of the specification would be very helpful.

E.g. the "example" or the "description":

[code]

[2019-03-27 17:01] markus2330 commented on #2441
I just see that this issue has overlap with #2408, which already assigned to someone else. I clarified which part should be fixed in which issue.

With #2456 this issue most likely fixes itself. So here actually only a verification step is needed after #2456 was fixed (which hopefully will happen today).

But #2410 will not fix itself, as it needs changes in how `kdb` is executed and is also very

[2019-03-27 17:02] hesirui commented on #1815
Thanks for assigning, I will work on that.

[2019-03-27 17:07] markus2330 commented on #1815
Thank you for working on this issue!

[2019-03-27 17:11] goJoWe16 commented on #2441
Yes I can take over issue #2410 and will also verify if the fix of issue #2408 fixes this issue.

Unfortunately, I will only be able to fix issue #2410 until the next deadline in the CM course next week.

[2019-03-27 17:46] markus2330 commented on #2441
Thank you!

It would be better if you can fix two issues till then. Until now no PR was accepted.

[2019-03-27 18:17] goJoWe16 commented on #2441
Is okay by me, I will try my best!

[2019-03-27 18:30] DaHopeman commented on #2456
@markus2330
I just want to make sure I understood the problem correctly:
using `kdb ls` should just list those keys that are directly in the given path and not "deeper down", right?
like this:
![Screenshot from 2019-03-27 19-28-34](https://user-images.githubusercontent.com/11979093/55102418-a2684580-50c6-11e9-9e6a-f056d1b78730.png)

[2019-03-27 19:02] petermax2 commented on #1981
**UPDATE:** I found a way to generate a "scripted" key that is usable, however a passphrase has to be set, otherwise the `pinentry` will come up asking for a passphrase.

[code]

GnuPG is not meant to "test-automated". :laughing:

[2019-03-27 19:38] markus2330 commented on #2460
Thank you for taking this issue!

[2019-03-27 20:00] markus2330 commented on #2456
No, "deeper down" is a separate feature using -m and -M switches (man kdb ls). You should only filter out the keys which start with / and not filter the correct keys.

You get such keys by setting defaults:
[code]

Wanted output:
[code]

Current output:
[code]

Or also (maybe a different bug?):
[code]

Please also add test cases (the code above is already a shell recorder test, see tests/shell/she

[2019-03-27 20:08] markus2330 opened #2550 "kdb-rm /: does not remove everything"
Cascading removal of keys with globbing (_) seems to fail.

## Steps to Reproduce the Problem

[code]

## Expected Result

That afterwards all keys are removed.

## Actual Result

The key is still there. Due to  #2456 the output is:

[code]

But the actual key is of course `spec/tests/_/hello`

## System Information

- Elektra Version: master
## Further Log Files and Output

[2019-03-27 20:09] markus2330 commented on #2441
Thank you!

[2019-03-27 20:17] markus2330 commented on #1981
Thank you for digging deeper here! You mean that no passphrase should be set? I think we can live with that :+1:

[2019-03-27 20:47] mirunix opened #2551 "JNA-bindings: test_keySetCut_shouldPass failes"
## Steps to Reproduce the Problem

Run the java unit tests in the KeySetTest.java

## Expected Result

The test test_keySetCut_shouldPass is expected to pass.

## Actual Result

The test failes with an assertation error.

[2019-03-27 20:47] mirunix commented on #2551
@markus2330 Please assign the issue to me so I can take a closer look at the test. Thank you!

[2019-03-27 20:49] markus2330 commented on #2551
Thank you for creating the issue! I assigned you.

[2019-03-27 21:48] mirunix commented on #2551
I found the problem with this one, but I have a question regarding the expected functionality:

The method public KeySet cut(final Key cutpoint) in KeySet.java calls the constructor new KeySet with the result of the cutted KeySet. But according to the contructor protected KeySet(final Pointer p), the result will still be the actual, initial KeySet, which is now shortened through the cut method.

S

[2019-03-27 22:13] kodebach commented on #2550
This may be a problem in `ksCut`, because `kdb rm -r /tests` should still include everything below `spec/tests` (and therefore `spec/tests/_/hello`), no matter if globbing is used or not.

It may also be the problem that I encountered once (and never again), where somehow a cascading key ended up in the stored `dump` file and I had to manually remove it.

[2019-03-28 00:12] DaHopeman commented on #2456
I have modified the `printResults` method in my fork to filter out the keys which start with /.
I did not create a pull request however, because I am not sure if this is really the problem for this bug.

Using the input you mentioned above:
[code]

I get the following output:
[code]

I get both versions every time. Is this intentional or could there be a problem in the `cut` function, which is use